admimdelivery-Obk9cZ88JFEOeDRP.json
{"createdAt":"2025-09-07T01:17:25.328Z","updatedAt":"2025-09-07T22:21:36.916Z","id":"Obk9cZ88JFEOeDRP","name":"AdmimDelivery","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[0,0],"id":"e1be6343-fbf2-430f-a855-10b24ff2b10d","name":"When chat message received","webhookId":"c4567342-fb0e-4d55-8bbc-7ef93a8bcdee","disabled":true},{"parameters":{"url":"=https://singlecolorimage.com/get/ffffff/450x300.png","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2416,368],"id":"d149687e-c0fa-4229-86b1-d1300479106b","name":"HTTP Request"},{"parameters":{"operation":"multiStep","operations":{"operations":[{"operation":"text","text":"= {{ $('Resumo').item.json.resumo.replace(/[\\p{Extended_Pictographic}\\p{Emoji_Presentation}]/gu, '-') }}\\n{{ $('enderecopagto').item.json.mensagem.replace(/[\\p{Extended_Pictographic}\\p{Emoji_Presentation}]/gu, '-') }}","fontSize":12,"positionX":20,"positionY":60,"lineLength":200,"font":"/usr/share/fonts/truetype/msttcorefonts/Arial_Bold.ttf"}]},"options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[2640,368],"id":"c35d01ca-898e-4966-b00a-2685eab44d1e","name":"Edit Image"},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-Mp5VTYM2qds/mediaBase64","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer Mp5VTYM2qds"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n\t\"messageData\": {\n\t\t\"to\": \"{{ $('Parametros Fluxo').item.json.telefonesend }}\",\n\t\t\"base64\": \"data:image/jpeg;base64,{{ $json.base64 }}\",\n\t\t\"fileName\": \"{{ $json.fileName }}\",\n\t\t\"type\": \"document\",\n\t\t\"caption\": \"Segue  {{ $('Resumo').item.json.resumo.split(/\\r?\\n/)[0].replace(/^[^\\wÀ-ÿ]+/, '').trim() }}  \",\n\t\t\"mimeType\": \"image/jpeg\"\n\t}\n}","options":{}},"id":"032bed07-2b9c-4b0f-bfbe-d024e74b195a","name":"MegaApi14","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3296,368]},{"parameters":{},"type":"n8n-nodes-pdfkit.pdfKit","typeVersion":1,"position":[2864,368],"id":"a6053fd8-9428-439f-a8bf-faa3183af0f5","name":"gerapdf"},{"parameters":{"jsCode":"// Pega o primeiro item do fluxo\nconst it = items[0];\n\n// Garante que veio binário\nif (!it.binary || Object.keys(it.binary).length === 0) {\n  throw new Error('Sem binary no item. Conecte este Function logo após o nó que gera o PDF.');\n}\n\n// Descobre o nome da propriedade binária (pode ser \"data\", \"pdf\", etc.)\nconst binKey = Object.keys(it.binary)[0];\nconst bin = it.binary[binKey];\n\n// O n8n já guarda em base64 em bin.data. Limpamos quebras de linha/espaços só por garantia.\nconst base64 = (bin.data || '').replace(/\\s+/g, '');\n\n// Retorna em JSON para o próximo nó\nreturn [{\n  json: {\n    base64,\n    fileName: bin.fileName || 'tesxte.pdf',\n    mimeType: bin.mimeType || 'application/pdf',\n    binKeyUsado: binKey\n  }\n}];\n "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3072,368],"id":"4c3dbb7c-9341-459e-9d21-412c86b416ef","name":"Code1"},{"parameters":{"operation":"executeQuery","query":"update  \n  pedidos\n  set status ='producao'\nWHERE status = 'recebido'\nand pedido_id = {{ $('Resumo').item.json.pedido_id }}  and user_id = {{ $('Resumo').item.json.user_id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3488,368],"id":"670a8dea-fce0-46d7-b9ca-24162632ec5e","name":"Execute a SQL query1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3680,368],"id":"1661c3be-bddc-4398-8116-d8db5f648ed4","name":"No Operation, do nothing16","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":" SELECT pedido_id, user_id, resumo\nFROM pedidos\nWHERE status = 'recebido'\nORDER BY pedido_id ASC, pedido_id ASC\nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[192,176],"id":"19fe7349-05dc-4842-86b0-36c8500d73cb","name":"Resumo","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  '- Endereço:  ' || COALESCE(u.\"endereço\", '—')\n  || E'\\n - Bairro:  ' || COALESCE(u.bairro, '—')\n  || E'\\n - Pagamento:  ' || COALESCE(pt.tipo_cobranca, '—')\n  AS mensagem\nFROM pedidos pt\nJOIN usuario_lacantina u\n  ON u.user_id = pt.user_id\nLEFT JOIN comentario_pedido  ct\n  ON ct.user_id = pt.user_id\n AND ct.pedido_id = pt.pedido_id\nWHERE  pt.pedido_id =  173 \nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[384,176],"id":"9eda9529-d78e-41a5-81aa-9704682d3aeb","name":"enderecopagto","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"httpMethod":"POST","path":"admin","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-992,336],"id":"5c31385e-fd78-458c-9103-6372b4b8059d","name":"Webhook","webhookId":"e1bcd88a-5d5d-4f23-8e0c-e6b1655f6eab"},{"parameters":{"assignments":{"assignments":[{"id":"d40cfc22-d0e3-4b41-81d5-b9eec06f2dab","name":"mensagem","value":"={{  $json.saida.replace(/[\\s\\u00A0\\u2000-\\u200B\\u202F\\u205F\\u3000]+/g, '') }}","type":"string"},{"id":"b81fa178-1d74-47ba-bc36-b7a29e1c64bc","name":"telefonereciver","value":"={{   $('Webhook').item.json.body.jid.replace(\"@s.whatsapp.net\",\"\") }}","type":"string"},{"id":"3a70c352-4788-4c66-bea9-6a6b4b47cd2e","name":"telefonesend","value":"= {{ $('Webhook').item.json.body.jid.replace(\"@s.whatsapp.net\",\"\") }} ","type":"string"},{"id":"5efc25c7-e60a-415d-a313-ae92c1f454c8","name":"pedido","value":"= {{ $json.pedido }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,336],"id":"a79177bd-245f-4d9e-8247-0bed3a1c4a28","name":"Parametros Fluxo","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"204f54b0-e3ed-4ff4-8302-8c20d3b8aa78","leftValue":"={{ $('Webhook').item.json.body.isGroup }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"c51986d9-f347-4198-89bb-9e4cd0f021c9","leftValue":"={{ $('Webhook').item.json.body.broadcast }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"05ee6414-0164-473b-8f82-225cfba55ad2","leftValue":"={{ $('Webhook').item.json.body.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"cd835fa7-a00f-47c5-a160-ce38205cd101","name":"Filtro Inicial1","type":"n8n-nodes-base.filter","typeVersion":2.1,"position":[-272,336],"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Parametros Fluxo').item.json.mensagem.replace(/\\s+/g, '') }}","rightValue":"first","operator":{"type":"string","operation":"equals"},"id":"ebf4aaf4-df56-403a-a60c-42012aa83604"}],"combinator":"and"},"renameOutput":true,"outputKey":"first"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c5accebb-12b5-4552-a7ac-2b6bf21d9282","leftValue":"={{ $('Parametros Fluxo').item.json.mensagem }}","rightValue":"aberto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"aberto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bffbce01-80c1-4652-8bff-32602950b4fa","leftValue":"={{ $('Parametros Fluxo').item.json.mensagem }}","rightValue":"consultar","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"consultar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5115db10-3466-4647-8c94-4d157c8ab436","leftValue":"={{ $('Parametros Fluxo').item.json.mensagem }}","rightValue":" avancar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"avancar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-64,304],"id":"517d58ee-8e61-4a53-b2b9-91af7a643b94","name":"Switch"},{"parameters":{"url":"=https://singlecolorimage.com/get/ffffff/350x900.png","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2560,656],"id":"af97c44b-7a66-4a91-8c86-91146900b2e4","name":"HTTP Request1"},{"parameters":{"operation":"multiStep","operations":{"operations":[{"operation":"text","text":"= \n\n ","fontSize":12,"positionX":20,"positionY":60,"lineLength":200,"font":"/usr/share/fonts/truetype/msttcorefonts/Arial_Bold.ttf"}]},"options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[2800,656],"id":"50b01df3-61f1-4201-bb14-767bf3a49160","name":"Edit Image1"},{"parameters":{"method":"POST","url":"=https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-Mp5VTYM2qds/mediaBase64","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer Mp5VTYM2qds"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Parametros Fluxo').item.json.telefonesend }}\",\n    \"type\": \"document\",\n    \"caption\": \"Segue  Lista de pedidos em aberto\",\n    \"fileName\": \"{{ $json.fileName }}\",\n    \"mimeType\": \"application/pdf\",\n    \"base64\": \"data:application/pdf;base64,{{ $json.base64 }}\"\n  }\n}\n","options":{}},"id":"2613733e-5fed-4ff3-9a2a-e8d11739b861","name":"MegaApi","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3440,656]},{"parameters":{},"type":"n8n-nodes-pdfkit.pdfKit","typeVersion":1,"position":[3024,656],"id":"4e1e0b67-72a6-4b73-8347-983cf81f281f","name":"gerapdf1"},{"parameters":{"jsCode":"// Pega o primeiro item do fluxo\nconst it = items[0];\n\n// Garante que veio binário\nif (!it.binary || Object.keys(it.binary).length === 0) {\n  throw new Error('Sem binary no item. Conecte este Function logo após o nó que gera o PDF.');\n}\n\n// Descobre o nome da propriedade binária (pode ser \"data\", \"pdf\", etc.)\nconst binKey = Object.keys(it.binary)[0];\nconst bin = it.binary[binKey];\n\n// O n8n já guarda em base64 em bin.data. Limpamos quebras de linha/espaços só por garantia.\nconst base64 = (bin.data || '').replace(/\\s+/g, '');\n\n// Retorna em JSON para o próximo nó\nreturn [{\n  json: {\n    base64,\n    fileName: bin.fileName || 'tesxte.pdf',\n    mimeType: bin.mimeType || 'application/pdf',\n    binKeyUsado: binKey\n  }\n}];\n "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3248,656],"id":"268595a8-5704-4397-ba2b-d21edb517016","name":"Code"},{"parameters":{"operation":"executeQuery","query":"update  \n  pedidos\n  set status ='producao'\nWHERE status = 'recebido'\nand pedido_id = {{ $('Resumo').item.json.pedido_id }}  and user_id = {{ $('Resumo').item.json.user_id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2080,160],"id":"701f4a31-730f-441f-a191-09c1206054ed","name":"Execute a SQL query2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3696,640],"id":"6ccbf3cb-5caf-405d-9463-843c85143411","name":"No Operation, do nothing","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":" SELECT\n  COALESCE(\n    STRING_AGG(\n      'Pedido nº ' || pedido_id::text || ' - ' || TO_CHAR(create_at, 'DD/MM/YYYY HH24:MI'),\n      E'\\n' ORDER BY create_at ASC, pedido_id ASC\n    ),\n    ''\n  ) || E'\\n' AS pedidos_lista\nFROM pedidos\nWHERE status = 'recebido';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[320,368],"id":"05af74d9-1ddd-4261-9950-faea97fb610c","name":"PedidosAberto","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" SELECT pedido_id, user_id, resumo, status\nFROM pedidos\nWHERE  pedido_id = {{ $json.pedido }}  ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[288,576],"id":"603d6df8-7bc1-4b7d-b25c-0457807040f9","name":"Resumo1"},{"parameters":{"url":"=https://singlecolorimage.com/get/ffffff/450x300.png","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[736,576],"id":"49d9b0e9-d884-4673-8ee8-274959aad3a5","name":"HTTP Request2"},{"parameters":{"operation":"multiStep","operations":{"operations":[{"operation":"text","text":"= {{ $('Resumo1').item.json.resumo.replace(/[\\p{Extended_Pictographic}\\p{Emoji_Presentation}]/gu, '-') }}\\n- {{ String($('Resumo1').item.json.status ?? '').trimStart().replace(/^./, c => c.toUpperCase()) }}\\n - Endereço e forma de pagamento:\\n{{ $('enderecopagto1').item.json.mensagem.replace(/[\\p{Extended_Pictographic}\\p{Emoji_Presentation}]/gu, '-') }}","fontSize":12,"positionX":20,"positionY":60,"lineLength":200,"font":"/usr/share/fonts/truetype/msttcorefonts/Arial_Bold.ttf"}]},"options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[960,576],"id":"21f45896-77bf-467a-a2b6-b2d6e496e14e","name":"Edit Image2"},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-Mp5VTYM2qds/mediaBase64","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer Mp5VTYM2qds"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n\t\"messageData\": {\n\t\t\"to\": \"{{$('Parametros Fluxo').item.json.telefonesend.trim() }}\",\n\t\t\"base64\": \"data:image/jpeg;base64,{{ $json.base64 }}\",\n\t\t\"fileName\": \"{{ $json.fileName }}\",\n\t\t\"type\": \"document\",\n\t\t\"caption\": \"Segue  {{ $('Resumo1').item.json.resumo .split(/\\r?\\n/)[0].replace(/^[^\\wÀ-ÿ]+/, '').trim() }}  \",\n\t\t\"mimeType\": \"image/jpeg\"\n\t}\n}","options":{}},"id":"32f9cd13-b876-42da-bf0f-4053f3c9d303","name":"MegaApi15","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1616,576]},{"parameters":{},"type":"n8n-nodes-pdfkit.pdfKit","typeVersion":1,"position":[1184,576],"id":"6a4a337b-8ce2-4fab-9912-0e805f9d7ad1","name":"gerapdf2"},{"parameters":{"jsCode":"// Pega o primeiro item do fluxo\nconst it = items[0];\n\n// Garante que veio binário\nif (!it.binary || Object.keys(it.binary).length === 0) {\n  throw new Error('Sem binary no item. Conecte este Function logo após o nó que gera o PDF.');\n}\n\n// Descobre o nome da propriedade binária (pode ser \"data\", \"pdf\", etc.)\nconst binKey = Object.keys(it.binary)[0];\nconst bin = it.binary[binKey];\n\n// O n8n já guarda em base64 em bin.data. Limpamos quebras de linha/espaços só por garantia.\nconst base64 = (bin.data || '').replace(/\\s+/g, '');\n\n// Retorna em JSON para o próximo nó\nreturn [{\n  json: {\n    base64,\n    fileName: bin.fileName || 'tesxte.pdf',\n    mimeType: bin.mimeType || 'application/pdf',\n    binKeyUsado: binKey\n  }\n}];\n "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,576],"id":"77e17e37-861f-4bf4-95b9-e1b08e399ec9","name":"Code2"},{"parameters":{"operation":"executeQuery","query":"update  \n  pedidos\n  set status = '{{ $json.status }}'\nWHERE   pedido_id ={{ $('Parametros Fluxo').item.json.pedido }} ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1424,960],"id":"91b958f7-6323-4e65-b6cc-efe221692425","name":"Execute a SQL query","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1856,576],"id":"bdd91784-4121-4028-815c-612a45c514bc","name":"No Operation, do nothing17","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  '- Endereço:  ' || COALESCE(u.\"endereço\", '—')\n  || E'\\n - Bairro:  ' || COALESCE(u.bairro, '—')\n  || E'\\n - Pagamento:  ' || COALESCE(pt.tipo_cobranca, '—')\n  AS mensagem\nFROM pedidos pt\nJOIN usuario_lacantina u\n  ON u.user_id = pt.user_id\nLEFT JOIN comentario_pedido  ct\n  ON ct.user_id = pt.user_id\n AND ct.pedido_id = pt.pedido_id\nWHERE\n  pt.user_id   = {{ $json.user_id }}\n  AND pt.pedido_id =  {{ $json.pedido_id }} \nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[496,576],"id":"dcf02970-3f6e-4cd1-8846-a5cf02dcf2c5","name":"enderecopagto1"},{"parameters":{"jsCode":" // Lê só a mensagem do 1º item\nconst raw = String($input.first().json?.body?.message?.conversation ?? '');\n\n// Normaliza: NBSP/zero-width → espaço, colapsa espaços, trim\nconst msg = raw\n  .normalize('NFKC')\n  .replace(/[\\u00A0\\u2007\\u202F]/g, ' ')   // NBSPs comuns\n  .replace(/\\uFEFF/g, '')                  // BOM\n  .replace(/[\\u200B-\\u200D\\u2060]/g, '')   // zero-widths\n  .replace(/\\s+/g, ' ')\n  .trim();\n\n// Base sem acento e minúscula para as regras\nconst base = msg\n  .toLowerCase()\n  .normalize('NFD').replace(/[\\u0300-\\u036f]/g, ''); // remove acentos\n\n// ordem importa: deixe 'first' por último (catch-all)\nconst regras = [\n  ['consultar', /\\bconsultar\\b/],\n  ['aberto', /\\aberto\\b/],\n  ['avancar',   /\\b(?:avancar|continuar|proximo)\\b/],\n  ['voltar',    /\\bvoltar\\b/],\n  ['cancelar',  /\\bcancelar\\b/],\n  ['first',     /.+/], // default\n];\n\nconst achou = regras.find(([, re]) => re.test(base));\nconst saida = achou[0]; // sempre existe por causa do 'first' no fim\n\n// Extrai número do pedido para consultar e avançar\nlet pedido = null;\nif (saida === 'consultar') {\n  pedido = base.match(/\\bconsultar\\b\\D*(\\d+)/)?.[1] ?? null;\n} else if (saida === 'avancar') {\n  pedido = base.match(/\\b(?:avancar|continuar|proximo)\\b\\D*(\\d+)/)?.[1] ?? null;\n}\n\nreturn [{ json: { saida, pedido } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-752,336],"id":"630a20af-7a57-4552-aad0-16f32f341fb6","name":"Code3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"producao","operator":{"type":"string","operation":"equals"},"id":"590570b6-6ad3-4a8a-85aa-73a7103414b3"}],"combinator":"and"},"renameOutput":true,"outputKey":"producao"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f7507cac-1ca9-4cdb-a214-6ec63aac31a0","leftValue":"={{ $json.status }}","rightValue":"entrega","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"entrega"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc846c07-c37d-4e5b-9631-c28bd8982938","leftValue":"={{ $json.status }}","rightValue":"recebido","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[496,944],"id":"0075030b-77e1-4b72-bf67-d2b8c02f6bfc","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"f1e0b7ac-d8c4-4845-a161-71db934c6ff9","name":"status","value":"=entrega","type":"string"},{"id":"79fcdf15-1b17-487f-bf64-6c557812da36","name":"acao","value":"entrega","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,800],"id":"a32a50d8-d12d-466e-aa6a-470b9341d872","name":"Edit Fields"},{"parameters":{"operation":"executeQuery","query":" SELECT pedido_id, user_id,   status\nFROM pedidos\nWHERE   pedido_id =  {{ $('Parametros Fluxo').item.json.pedido }} \nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[272,960],"id":"baf46db8-eb2f-45b0-9bc9-116ae5940561","name":"PendidoAvancar","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"f1e0b7ac-d8c4-4845-a161-71db934c6ff9","name":"status","value":"=concluido","type":"string"},{"id":"c1877cbe-998c-4bdc-a539-5699a76293db","name":"acao","value":"concluido","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,976],"id":"4f45ab44-65ca-4461-8144-e004f79e2fed","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"f1e0b7ac-d8c4-4845-a161-71db934c6ff9","name":"status","value":"=producao","type":"string"},{"id":"5f919bd7-55dd-4cb7-a1ee-24a7887c6e45","name":"acao","value":"produção","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,1168],"id":"f5c93c38-b497-4ffa-a2c8-b9e7e68c94de","name":"Edit Fields2"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1200,944],"id":"d0e9af7e-81e6-4502-a8c2-c5927d5c9cd7","name":"Merge","alwaysOutputData":false},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1888,960],"id":"ae5d7dbd-57f6-4627-863d-4180b5e74b32","name":"No Operation, do nothing18","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=   {\n  \"messageData\": {\n    \"to\": \"{{ $('Parametros Fluxo').item.json.telefonesend }}\",\n    \"text\": \"So seu pedido foi atualizado com sucesso.\\n De  {{ $('PendidoAvancar').item.json.status }} para {{ $('Merge').item.json.acao }} \"\n  }\n}\n","options":{}},"id":"46c148ae-d1a4-4485-bddf-a031631cf6e2","name":"RequestMenu7","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1664,960]},{"parameters":{"jsCode":" // === ENTRADA ===\n// Ex.: $('PedidosAberto').first().json.pedidos_lista  (string com linhas)\n// ==================\nlet texto = $('PedidosAberto').first().json.pedidos_lista ?? '';\nif (typeof texto !== 'string') texto = String(texto);\n\n// Converte \"\\n\" literal em quebras reais e separa linhas válidas\ntexto = texto.replace(/\\\\n/g, '\\n');\nconst linhas = texto.split(/\\r?\\n/).map(s => s.trim()).filter(Boolean);\n\n// Regex: \"Pedido nº 168 - 18/08/2025 13:53\"\nconst re = /pedido\\s*(?:n[ºo°.]|nº|n°|no|n)\\s*\\.?\\s*(\\d+)\\s*[-–—]\\s*(.+)$/i;\n\nconst dados = [];\nfor (const linha of linhas) {\n  let num=null, data=null;\n  const m = linha.match(re);\n  if (m) {\n    num = m[1]; data = m[2];\n  } else {\n    const parts = linha.split(/\\s*-\\s*/);\n    if (parts.length>=2){\n      const m2 = parts[0].match(/(\\d+)/);\n      if (m2) num = m2[1];\n      data = parts.slice(1).join(' - ');\n    }\n  }\n  if (num && data) {\n    // ✅ ALTERAÇÃO: usa entidade HTML para o “º”\n    dados.push({ pedido: `n&ordm; ${num}`, data });\n  }\n}\n\n// Título fixo para não dar undefined\n \nconst titulo = \"Relat&oacute;rio de Pedidos em Aberto\"; // evita mojibake\n\n// Monta HTML\nconst linhasHtml = dados.map(row => `\n  <tr>\n    <td style=\"padding:10px;border-bottom:1px solid #e5e7eb;text-align:center;\">${row.pedido}</td>\n    <td style=\"padding:10px;border-bottom:1px solid #e5e7eb;text-align:center;\">${row.data}</td>\n  </tr>\n`).join('');\n\nconst html = `\n<!doctype html><html lang=\"pt-br\"><head>\n<meta charset=\"utf-8\"/>\n<title>${titulo}</title>\n<style>\n body{font-family:Arial, Helvetica, \"Noto Sans\", \"Liberation Sans\", sans-serif;background:#f7f7f8;color:#111827;margin:0;padding:24px;}\n .container{max-width:900px;margin:0 auto;background:#fff;border-radius:16px;box-shadow:0 10px 25px rgba(0,0,0,.07);overflow:hidden;}\n .header{padding:24px 28px;background:#0ea5e9;color:white;display:flex;justify-content:space-between;}\n .title{font-size:20px;font-weight:700}\n table{width:100%;border-collapse:collapse;border:1px solid #e5e7eb}\n thead th{background:#f1f5f9;font-size:12px;text-transform:uppercase;letter-spacing:.6px;color:#334155;padding:12px 10px;text-align:center;border-bottom:1px solid #e5e7eb}\n tfoot td{padding:12px 10px;font-size:12px;color:#475569}\n</style></head><body>\n<div class=\"container\">\n  <div class=\"header\">\n    <div class=\"title\">${titulo}</div>\n    <div>Gerado em: ${new Date().toLocaleString('pt-BR')}</div>\n  </div>\n  <div style=\"padding:24px 28px;\">\n    <table>\n      <thead><tr><th>Pedido</th><th>Data e Hora</th></tr></thead>\n      <tbody>${linhasHtml || `<tr><td colspan=\"2\" style=\"padding:14px;text-align:center;color:#64748b;\">Sem registros</td></tr>`}</tbody>\n      <tfoot><tr><td colspan=\"2\">Total de registros: ${dados.length}</td></tr></tfoot>\n    </table>\n  </div>\n</div>\n</body></html>`;\n\n// Nome do PDF\nconst fileName = `relatorio-pedidos-${new Date().toISOString().slice(0,10)}.pdf`;\n\nreturn [{ json: { html, fileName } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,368],"id":"a7630c76-2b48-4914-83a4-b4660a4d99dc","name":"Code6"},{"parameters":{"operation":"toText","sourceProperty":"html","binaryPropertyName":"=file","options":{"encoding":"binary","fileName":"index.html"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[768,368],"id":"8598b087-aaf4-44ee-9c15-79db3413a5aa","name":"Convert to File"},{"parameters":{"method":"POST","url":"https://gotenberggotenberg8-production-8d7d.up.railway.app/forms/chromium/convert/url","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"url","value":"https://www.n8n.io"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"relatorio.pdf"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,976],"id":"1cc48158-6645-4cad-b0c1-433c2272e7fa","name":"HTTP Request3"},{"parameters":{"method":"POST","url":"https://gotenberggotenberg8-production-8d7d.up.railway.app/forms/chromium/convert/html","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"files","inputDataFieldName":"file"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"relatorio.pdf"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[976,368],"id":"08189a8e-1362-4f33-9cb1-9129696df1c1","name":"HTTP Request4"},{"parameters":{"method":"POST","url":"=https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-Mp5VTYM2qds/mediaBase64","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer Mp5VTYM2qds"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Parametros Fluxo').item.json.telefonesend }}\",\n    \"type\": \"document\",\n    \"caption\": \"Segue  Lista de pedidos em aberto\",\n    \"fileName\": \"{{ $node['Code6'].json.fileName || 'relatorio.pdf' }}\",\n    \"mimeType\": \"application/pdf\",\n    \"base64\": \"data:application/pdf;base64, {{ $json.base64 }}\"\n  }\n}\n ","options":{}},"id":"18eecf0e-cc57-4552-9610-fc8662728da4","name":"MegaApi1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1456,368]},{"parameters":{"jsCode":" // garante que entrou um item com binário\nconst item = items[0];\nconst bins = item.binary || {};\nconst keys = Object.keys(bins);\nif (!keys.length) {\n  throw new Error('Nenhum binário no input. No HTTP Request (Gotenberg), ative Download=ON e Response=File.');\n}\n\n// escolhe o PDF: por mimeType, por extensão .pdf, ou o primeiro\nconst pdfKey =\n  keys.find(k => (bins[k].mimeType || '').includes('pdf')) ||\n  keys.find(k => k.toLowerCase().endsWith('.pdf')) ||\n  keys[0];\n\nconst pdf = bins[pdfKey];\nif (!pdf) {\n  throw new Error('PDF não encontrado. Binários disponíveis: ' + keys.join(', '));\n}\n\n// nome do arquivo\nconst fileName = item.json.fileName || pdf.fileName || 'relatorio.pdf';\n\n// sai com base64 + fileName para o próximo nó\nreturn [{\n  json: {\n    base64: pdf.data,                 // JÁ é base64\n    fileName: fileName                // ex.: relatorio-2025-08-20.pdf\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1184,368],"id":"9cbc89e3-f6ec-4d93-87af-ac0bb29c95be","name":"Code7"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1712,368],"id":"0b2ce24c-6c92-49d5-b40c-11792afbb65a","name":"No Operation, do nothing19","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"jsCode":" // === ENTRADA ===\n// Ex.: $('PedidosAberto').first().json.pedidos_lista  (string com linhas)\n// ==================\nlet texto = $('PedidosAberto').first().json.pedidos_lista ?? '';\nif (typeof texto !== 'string') texto = String(texto);\n\n// Converte \"\\n\" literal em quebras reais e separa linhas válidas\ntexto = texto.replace(/\\\\n/g, '\\n');\nconst linhas = texto.split(/\\r?\\n/).map(s => s.trim()).filter(Boolean);\n\n// Regex: \"Pedido nº 168 - 18/08/2025 13:53\"\nconst re = /pedido\\s*(?:n[ºo°.]|nº|n°|no|n)\\s*\\.?\\s*(\\d+)\\s*[-–—]\\s*(.+)$/i;\n\nconst dados = [];\nfor (const linha of linhas) {\n  let num=null, data=null;\n  const m = linha.match(re);\n  if (m) {\n    num = m[1]; data = m[2];\n  } else {\n    const parts = linha.split(/\\s*-\\s*/);\n    if (parts.length>=2){\n      const m2 = parts[0].match(/(\\d+)/);\n      if (m2) num = m2[1];\n      data = parts.slice(1).join(' - ');\n    }\n  }\n  if (num && data) {\n    // ✅ ALTERAÇÃO: usa entidade HTML para o “º”\n    dados.push({ pedido: `n&ordm; ${num}`, data });\n  }\n}\n\n// Título fixo para não dar undefined\n \nconst titulo = \"Relat&oacute;rio de Pedidos em Aberto\"; // evita mojibake\n\n// Monta HTML\nconst linhasHtml = dados.map(row => `\n  <tr>\n    <td style=\"padding:10px;border-bottom:1px solid #e5e7eb;text-align:center;\">${row.pedido}</td>\n    <td style=\"padding:10px;border-bottom:1px solid #e5e7eb;text-align:center;\">${row.data}</td>\n  </tr>\n`).join('');\n\nconst html = `\n<!doctype html><html lang=\"pt-br\"><head>\n<meta charset=\"utf-8\"/>\n<title>${titulo}</title>\n<style>\n body{font-family:Arial, Helvetica, \"Noto Sans\", \"Liberation Sans\", sans-serif;background:#f7f7f8;color:#111827;margin:0;padding:24px;}\n .container{max-width:900px;margin:0 auto;background:#fff;border-radius:16px;box-shadow:0 10px 25px rgba(0,0,0,.07);overflow:hidden;}\n .header{padding:24px 28px;background:#0ea5e9;color:white;display:flex;justify-content:space-between;}\n .title{font-size:20px;font-weight:700}\n table{width:100%;border-collapse:collapse;border:1px solid #e5e7eb}\n thead th{background:#f1f5f9;font-size:12px;text-transform:uppercase;letter-spacing:.6px;color:#334155;padding:12px 10px;text-align:center;border-bottom:1px solid #e5e7eb}\n tfoot td{padding:12px 10px;font-size:12px;color:#475569}\n</style></head><body>\n<div class=\"container\">\n  <div class=\"header\">\n    <div class=\"title\">${titulo}</div>\n    <div>Gerado em: ${new Date().toLocaleString('pt-BR')}</div>\n  </div>\n  <div style=\"padding:24px 28px;\">\n    <table>\n      <thead><tr><th>Pedido</th><th>Data e Hora</th></tr></thead>\n      <tbody>${linhasHtml || `<tr><td colspan=\"2\" style=\"padding:14px;text-align:center;color:#64748b;\">Sem registros</td></tr>`}</tbody>\n      <tfoot><tr><td colspan=\"2\">Total de registros: ${dados.length}</td></tr></tfoot>\n    </table>\n  </div>\n</div>\n</body></html>`;\n\n// Nome do PDF\nconst fileName = `relatorio-pedidos-${new Date().toISOString().slice(0,10)}.pdf`;\n\nreturn [{ json: { html, fileName } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,1472],"id":"a89e8a14-99ba-40d7-b8fb-5cc8e55f3b2b","name":"Code8"},{"parameters":{"operation":"toText","sourceProperty":"html","binaryPropertyName":"=file","options":{"encoding":"binary","fileName":"index.html"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[464,1472],"id":"fb5a2f40-2eba-4020-ac17-a4b7fe6edc19","name":"Convert to File1"},{"parameters":{"method":"POST","url":"https://gotenberggotenberg8-production-8d7d.up.railway.app/forms/chromium/convert/html","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"files","inputDataFieldName":"file"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"relatorio.pdf"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,1472],"id":"64a037be-91e7-482f-904e-a032f154ab5b","name":"HTTP Request5"},{"parameters":{"method":"POST","url":"=https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-Mp5VTYM2qds/mediaBase64","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer Mp5VTYM2qds"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Parametros Fluxo').item.json.telefonesend }}\",\n    \"type\": \"document\",\n    \"caption\": \"Segue  Lista de pedidos em aberto\",\n    \"fileName\": \"{{ $node['Code8'].json.fileName || 'relatorio.pdf' }}\",\n    \"mimeType\": \"application/pdf\",\n    \"base64\": \"data:application/pdf;base64, {{ $json.base64 }}\"\n  }\n}\n ","options":{}},"id":"997e5b94-ea30-44c0-9d1c-e57d2cc7f9ce","name":"MegaApi2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1152,1472]},{"parameters":{"jsCode":" // garante que entrou um item com binário\nconst item = items[0];\nconst bins = item.binary || {};\nconst keys = Object.keys(bins);\nif (!keys.length) {\n  throw new Error('Nenhum binário no input. No HTTP Request (Gotenberg), ative Download=ON e Response=File.');\n}\n\n// escolhe o PDF: por mimeType, por extensão .pdf, ou o primeiro\nconst pdfKey =\n  keys.find(k => (bins[k].mimeType || '').includes('pdf')) ||\n  keys.find(k => k.toLowerCase().endsWith('.pdf')) ||\n  keys[0];\n\nconst pdf = bins[pdfKey];\nif (!pdf) {\n  throw new Error('PDF não encontrado. Binários disponíveis: ' + keys.join(', '));\n}\n\n// nome do arquivo\nconst fileName = item.json.fileName || pdf.fileName || 'relatorio.pdf';\n\n// sai com base64 + fileName para o próximo nó\nreturn [{\n  json: {\n    base64: pdf.data,                 // JÁ é base64\n    fileName: fileName                // ex.: relatorio-2025-08-20.pdf\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,1472],"id":"f688d8ac-34a8-4eed-87e4-8dd69a5b7522","name":"Code9"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1408,1472],"id":"580beb9a-1398-4246-96a8-d88c6dd6630b","name":"No Operation, do nothing20","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"toText","sourceProperty":"html","binaryPropertyName":"=file","options":{"encoding":"binary","fileName":"index.html"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1184,160],"id":"6d2a01fa-4070-4e6b-b8c8-ab185640a423","name":"Convert to File2"},{"parameters":{"method":"POST","url":"https://gotenberggotenberg8-production-8d7d.up.railway.app/forms/chromium/convert/html","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"files","inputDataFieldName":"file"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"relatorio.pdf"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1392,160],"id":"136525a7-3125-4449-8994-0c1630227736","name":"HTTP Request6"},{"parameters":{"method":"POST","url":"=https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-Mp5VTYM2qds/mediaBase64","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer Mp5VTYM2qds"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Parametros Fluxo').item.json.telefonesend }}\",\n    \"type\": \"document\",\n    \"caption\": \"Segue  Lista de pedidos em aberto\",\n    \"fileName\": \"{{ $node['gerahtml'].json.fileName || 'relatorio.pdf' }}\",\n    \"mimeType\": \"application/pdf\",\n    \"base64\": \"data:application/pdf;base64, {{ $json.base64 }}\"\n  }\n}\n ","options":{}},"id":"88280eea-756e-4406-89c3-fbdd349e38be","name":"MegaApi3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1872,160]},{"parameters":{"jsCode":" // garante que entrou um item com binário\nconst item = items[0];\nconst bins = item.binary || {};\nconst keys = Object.keys(bins);\nif (!keys.length) {\n  throw new Error('Nenhum binário no input. No HTTP Request (Gotenberg), ative Download=ON e Response=File.');\n}\n\n// escolhe o PDF: por mimeType, por extensão .pdf, ou o primeiro\nconst pdfKey =\n  keys.find(k => (bins[k].mimeType || '').includes('pdf')) ||\n  keys.find(k => k.toLowerCase().endsWith('.pdf')) ||\n  keys[0];\n\nconst pdf = bins[pdfKey];\nif (!pdf) {\n  throw new Error('PDF não encontrado. Binários disponíveis: ' + keys.join(', '));\n}\n\n// nome do arquivo\nconst fileName = item.json.fileName || pdf.fileName || 'relatorio.pdf';\n\n// sai com base64 + fileName para o próximo nó\nreturn [{\n  json: {\n    base64: pdf.data,                 // JÁ é base64\n    fileName: fileName                // ex.: relatorio-2025-08-20.pdf\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,160],"id":"b21d0f2b-c34c-44ef-8860-3310e957c11a","name":"Code11"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2336,160],"id":"841823e9-a32a-45fc-9e41-72477e301187","name":"No Operation, do nothing21","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"jsCode":" // Lê suas duas entradas\nconst r = $('Resumo').first().json || {};\nconst e = $('enderecopagto').first().json || {};\n\n// 1) Regex de emojis (inclui bandeiras, pictogramas, var. selector e ZWJ)\nconst EMOJI_RE =\n  /(?:[\\u{1F1E6}-\\u{1F1FF}]{2}|[\\u{1F300}-\\u{1FAFF}]|[\\u{2600}-\\u{27BF}]|\\u{FE0F}|\\u{200D})/gu;\n\n// 2) Remove TODOS os emojis do texto\nfunction removeEmoji(s = '') {\n  return String(s).replace(EMOJI_RE, '');\n}\n\n// (opcional) remove só emoji no **início de cada linha**\nfunction removeEmojiNoInicioDasLinhas(s = '') {\n  return String(s)\n    .split(/\\r?\\n/)\n    .map(l => l.replace(new RegExp('^(?:' + EMOJI_RE.source + ')+\\\\s*', 'gu'), ''))\n    .join('\\n');\n}\n\n// Normaliza linhas \\n literais\nconst resumoBruto   = String(r.resumo ?? '').replace(/\\\\n/g, '\\n');\nconst enderecoBruto = String(e.mensagem ?? '').replace(/\\\\n/g, '\\n');\n\n// A) Remover emojis do texto inteiro\nconst resumoSemEmoji   = removeEmoji(resumoBruto);\nconst enderecoSemEmoji = removeEmoji(enderecoBruto);\n\n// B) (se preferir) Remover só no começo das linhas\nconst resumoSemEmojiInicio   = removeEmojiNoInicioDasLinhas(resumoBruto);\nconst enderecoSemEmojiInicio = removeEmojiNoInicioDasLinhas(enderecoBruto);\n\nreturn [{\n  json: {\n    // Use UM dos pares abaixo no seu próximo nó:\n\n    // 1) Limpo geral:\n    resumo_sem_emoji: resumoSemEmoji,\n    enderecopagto_sem_emoji: enderecoSemEmoji,\n\n    // 2) OU: limpo só no começo das linhas:\n    resumo_sem_emoji_inicio: resumoSemEmojiInicio,\n    enderecopagto_sem_emoji_inicio: enderecoSemEmojiInicio\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,176],"id":"83435fa6-8f5f-40cd-b75f-b12a292eb6df","name":"RemoveEmoji"},{"parameters":{"jsCode":" // ===== ENTRADA: nó RemoveEmoji =====\nconst R = $('RemoveEmoji').first().json || {};\nlet resumo   = String(R.resumo_sem_emoji ?? R.resumo_sem_emoji_inicio ?? R.resumo ?? '').replace(/\\\\n/g, '\\n');\nlet endbloc  = String(R.enderecopagto_sem_emoji ?? R.enderecopagto_sem_emoji_inicio ?? R.mensagem ?? '').replace(/\\\\n/g, '\\n');\n\n// remove \" - \" / bullets no INÍCIO das linhas do bloco de endereço\nendbloc = endbloc.replace(/^\\s*[-•–—]+\\s*/gm, '');\n\n// ===== HELPERS =====\nconst esc = s => String(s)\n  .replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;')\n  .replace(/\"/g,'&quot;').replace(/'/g,'&#39;');\n\nfunction moneyToNumber(s=''){\n  s = String(s).replace(/[^\\d,.-]/g,'').replace(/\\.(?=\\d{3}(?:\\D|$))/g,'');\n  s = s.replace(',', '.');\n  const n = parseFloat(s);\n  return isNaN(n) ? 0 : n;\n}\nconst fmtBR = n => n.toLocaleString('pt-BR',{minimumFractionDigits:2, maximumFractionDigits:2});\n\n// ===== PARSE DO RESUMO (ultra simples) =====\nconst linhas = resumo.split(/\\r?\\n/).map(t => t.trim()).filter(Boolean);\nlet numeroPedido=null, formaPg=null, entrega=null, total=null, comentario=null;\nconst itens = [];\n\nfor (const ln of linhas) {\n  let m;\n  if ((m = ln.match(/pedido\\s*n[ºo°.]?\\s*(\\d+)/i))) { numeroPedido = m[1]; continue; }\n  if ((m = ln.match(/forma de pagamento\\s*:\\s*(.+)/i))) { formaPg = m[1].trim(); continue; }\n  if ((m = ln.match(/^pagamento\\s*:\\s*(.+)/i))) { formaPg = m[1].trim(); continue; }\n  if ((m = ln.match(/entrega\\s*:\\s*R?\\$?\\s*([\\d.,]+)/i))) { entrega = moneyToNumber(m[1]); continue; }\n  if ((m = ln.match(/total\\s*:\\s*R\\$\\s*([\\d.,]+)/i))) { total = moneyToNumber(m[1]); continue; }\n  if ((m = ln.match(/coment[áa]rio\\s*:\\s*(.+)/i))) { comentario = m[1].trim(); continue; }\n  if (/^resumo\\s*:$/i.test(ln)) { continue; }\n\n  // ITEM: pega TUDO antes do ÚLTIMO \" - R$ valor\" como descrição (preserva (65), 1/2, etc)\n  m = ln.match(/^(.*)\\s-\\s*R\\$\\s*([\\d.,]+)\\s*$/);\n  if (m) { itens.push({ descricao: m[1].trim(), preco: moneyToNumber(m[2]) }); continue; }\n}\n\n// subtotal/total\nconst subtotal = itens.reduce((a,b)=>a+b.preco,0);\nif (total == null) total = subtotal + (entrega || 0);\n\n// ===== PARSE ENDEREÇO / PAGTO (bloco separado) =====\nlet endereco=null, bairro=null, pagamentoMsg=null;\nfor (const raw of endbloc.split(/\\r?\\n/)) {\n  const s = raw.trim();\n  let m;\n  if ((m = s.match(/^(?:end(?:ere[cç]o|ereco))\\s*:\\s*(.+)$/i))) { endereco = m[1].trim(); continue; }\n  if ((m = s.match(/^bairro\\s*:\\s*(.+)$/i)))                            { bairro = m[1].trim(); continue; }\n  if ((m = s.match(/^(?:pagamento|forma\\s*de\\s*pagamento)\\s*:\\s*(.+)$/i))) { pagamentoMsg = m[1].trim(); continue; }\n}\nconst formaFinal = formaPg || pagamentoMsg || 'não informado';\n\n// ===== HTML =====\nconst hoje   = new Date().toLocaleString('pt-BR');\nconst titulo = 'Detalhes do pedido';\n\nconst linhasHtml = itens.length\n  ? itens.map(it => `\n      <div class=\"row\">\n        <div class=\"desc\">${esc(it.descricao)}</div>\n        <div class=\"val\">R$ ${fmtBR(it.preco)}</div>\n      </div>`).join('')\n  : `<div class=\"row empty\">Sem itens</div>`;\n\nconst html = `<!doctype html>\n<html lang=\"pt-br\"><head>\n<meta charset=\"utf-8\"/>\n<title>${titulo}</title>\n<style>\n:root{--bg:#f7f7f8;--card:#fff;--ink:#0f172a;--muted:#475569;--line:#e5e7eb;--brand:#0ea5e9}\nbody{font-family:Arial,Helvetica,\"Noto Sans\",\"Liberation Sans\",sans-serif;background:var(--bg);color:var(--ink);margin:0;padding:24px}\n.wrap{max-width:900px;margin:0 auto;background:var(--card);border-radius:16px;box-shadow:0 10px 25px rgb(0 0 0/.07);overflow:hidden}\n.hdr{display:flex;justify-content:space-between;align-items:center;padding:20px 24px;background:var(--brand);color:#fff}\n.hdr .title{font-size:20px;font-weight:700}\n.meta{padding:16px 24px;display:grid;grid-template-columns:1fr 1fr;gap:16px;border-bottom:1px solid var(--line)}\n.card{background:#fafafa;border:1px solid var(--line);border-radius:12px;padding:12px}\n.card h4{margin:0 0 6px 0;font-size:13px;color:var(--muted);letter-spacing:.6px}\n.list{padding:20px 24px}\n.head{display:grid;grid-template-columns:1fr 140px;gap:16px;padding:10px 0;margin:0 0 8px;border-bottom:1px solid var(--line);color:#334155;font-size:12px}\n.row{display:grid;grid-template-columns:1fr 140px;gap:16px;padding:10px 0;border-bottom:1px solid var(--line)}\n.desc{word-break:break-word}\n.val{text-align:right;font-variant-numeric:tabular-nums;font-feature-settings:'tnum' 1,'lnum' 1}\n.tot{display:grid;grid-template-columns:1fr 140px;gap:16px;padding:8px 0;color:#475569}\n.tot.bold{color:#0f172a;font-weight:700}\n</style></head><body>\n  <div class=\"wrap\">\n    <div class=\"hdr\">\n      <div class=\"title\">${titulo}</div>\n      <div>Pedido n&ordm; ${esc(numeroPedido ?? '')}</div>\n    </div>\n\n    <div class=\"meta\">\n      <div class=\"card\">\n        <h4>Endere&ccedil;o</h4>\n        <div>${esc(endereco || 'não informado')}</div>\n        <div>${esc(bairro ? 'Bairro: '+bairro : '')}</div>\n      </div>\n      <div class=\"card\">\n        <h4>Pagamento &amp; Entrega</h4>\n        <div>Forma de pagamento: ${esc(formaFinal)}</div>\n        <div>Entrega: ${entrega!=null ? ('R$ '+fmtBR(entrega)) : '—'}</div>\n        <div>Gerado em: ${esc(hoje)}</div>\n      </div>\n    </div>\n\n    <div class=\"list\">\n      <div class=\"head\"><div>Descri&ccedil;&atilde;o</div><div style=\"text-align:right\">Valor</div></div>\n      ${linhasHtml}\n      <div class=\"tot\"><div>Subtotal</div><div class=\"val\">R$ ${fmtBR(subtotal)}</div></div>\n      <div class=\"tot\"><div>Entrega</div><div class=\"val\">${entrega!=null ? ('R$ '+fmtBR(entrega)) : '—'}</div></div>\n      <div class=\"tot bold\"><div>Total</div><div class=\"val\">R$ ${fmtBR(total)}</div></div>\n      ${comentario ? `<div style=\"margin-top:12px;color:#334155\"><b>Coment&aacute;rio:</b> ${esc(comentario)}</div>` : ''}\n    </div>\n  </div>\n</body></html>`;\n\n// ===== SAÍDA =====\nconst fileName = `pedido-${numeroPedido || 'sem-id'}-${new Date().toISOString().slice(0,10)}.pdf`;\nreturn [{ json: { html, fileName } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,176],"id":"5b8a33fc-3091-4b8b-b854-957c9baf5472","name":"gerahtml"}],"connections":{"HTTP Request":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"Code1":{"main":[[{"node":"MegaApi14","type":"main","index":0}]]},"MegaApi14":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"No Operation, do nothing16","type":"main","index":0}]]},"Resumo":{"main":[[{"node":"enderecopagto","type":"main","index":0}]]},"enderecopagto":{"main":[[{"node":"RemoveEmoji","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Parametros Fluxo":{"main":[[{"node":"Filtro Inicial1","type":"main","index":0}]]},"Filtro Inicial1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Resumo","type":"main","index":0}],[{"node":"PedidosAberto","type":"main","index":0}],[{"node":"Resumo1","type":"main","index":0}],[{"node":"PendidoAvancar","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Edit Image1","type":"main","index":0}]]},"MegaApi":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Code":{"main":[[{"node":"MegaApi","type":"main","index":0}]]},"Execute a SQL query2":{"main":[[{"node":"No Operation, do nothing21","type":"main","index":0}]]},"PedidosAberto":{"main":[[{"node":"Code6","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Edit Image2","type":"main","index":0}]]},"MegaApi15":{"main":[[{"node":"No Operation, do nothing17","type":"main","index":0}]]},"Code2":{"main":[[{"node":"MegaApi15","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"RequestMenu7","type":"main","index":0}]]},"enderecopagto1":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Resumo1":{"main":[[{"node":"enderecopagto1","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Parametros Fluxo","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"PendidoAvancar":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"RequestMenu7":{"main":[[{"node":"No Operation, do nothing18","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Code7","type":"main","index":0}]]},"Code7":{"main":[[{"node":"MegaApi1","type":"main","index":0}]]},"MegaApi1":{"main":[[{"node":"No Operation, do nothing19","type":"main","index":0}]]},"Code8":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Code9","type":"main","index":0}]]},"MegaApi2":{"main":[[{"node":"No Operation, do nothing20","type":"main","index":0}]]},"Code9":{"main":[[{"node":"MegaApi2","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"Code11","type":"main","index":0}]]},"MegaApi3":{"main":[[{"node":"Execute a SQL query2","type":"main","index":0}]]},"Code11":{"main":[[{"node":"MegaApi3","type":"main","index":0}]]},"gerahtml":{"main":[[]]},"RemoveEmoji":{"main":[[{"node":"gerahtml","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-production-d79b.up.railway.app","user-agent":"axios/1.7.7","content-length":"729","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"5.78.66.98","x-forwarded-host":"primary-production-d79b.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-west2","x-railway-request-id":"woliuvp5RWuFrYaXnpoFkQ","x-real-ip":"5.78.66.98","x-request-start":"1755705865079"},"params":{},"query":{},"body":{"instance_key":"megacode-Mp5VTYM2qds","jid":"5516994066336@s.whatsapp.net","messageType":"conversation","isBusiness":true,"key":{"remoteJid":"5516992975836@s.whatsapp.net","fromMe":false,"id":"3EB03A8BF406C73500716A"},"messageTimestamp":1755705864,"pushName":"Luis Gustavo Landucci","broadcast":false,"message":{"conversation":"first","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"WPqpxngRfZMFYQ==","senderTimestamp":"1755521044","senderAccountType":"E2EE","receiverAccountType":"E2EE","recipientKeyHash":"QSzVrqWSvvnr3w==","recipientTimestamp":"1755688392"},"deviceListMetadataVersion":2,"messageSecret":"rx3lmXoEepiJUQdpYHPEjJVDxKQlGYfUru++zEvjSCE="}},"verifiedBizName":"Luis Gustavo Landucci","isGroup":false},"webhookUrl":"https://primary-production-d79b.up.railway.app/webhook-test/admin","executionMode":"test"}}]},"versionId":"a0d155e3-c1b3-414b-aaae-27c519c35d18","triggerCount":0,"shared":[{"createdAt":"2025-09-07T01:17:25.328Z","updatedAt":"2025-09-07T01:17:25.328Z","role":"workflow:owner","workflowId":"Obk9cZ88JFEOeDRP","projectId":"wFRMrac2003Pl1x6"}],"tags":[]}