admin-jl0zDM82bQ90RUiA.json
{"createdAt":"2025-08-16T22:21:36.094Z","updatedAt":"2025-08-17T00:22:49.925Z","id":"jl0zDM82bQ90RUiA","name":"admin","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"admin","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-768,-48],"id":"e3df94ff-30c2-43b4-970e-2e6157d8880a","name":"Webhook","webhookId":"bf0ff01c-6b1c-46b2-aab6-f6141389191d"},{"parameters":{"operation":"executeQuery","query":" SELECT * FROM busca_cardapio(1);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1520,-16],"id":"a4d94e5d-428a-4a08-a3df-3b57cfd8cdd4","name":"Execute a SQL query","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[528,160],"id":"8ada4b70-980d-4cee-a20f-7e17bf28cacd","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"2hW4LOItQwhgTw0Q","name":"OpenAi account"}}},{"parameters":{"jsCode":" return [\n  {\n    json: JSON.parse( $input.first().json.text) // ou o campo correto de saída\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,-48],"id":"4685c1ba-ed32-41f4-bde8-57ed8a5b451d","name":"MsgUsuario"},{"parameters":{"promptType":"define","text":"=<mensagem_do_usuario>\n {{ $json.mensagem }}\n</mensagem_do_usuario>","hasOutputParser":true,"messages":{"messageValues":[{"message":"= Você é um classificador de intenção para um administrador de  pedido de pizzaria.\n\nDada a mensagem do administrador, responda APENAS com uma das seguintes ações:\n\n- pedido_aberto → o administrador digitou \"1\" para adicionar gostaria de consultar todos os pedidos em aberto\n- avancar_pedido → admin digitou \"2\" muda o status do pedido\n- cancelar_pedido→ se ele disser que desistiu, quer cancelar ou digitar \"3\" \n- desconhecida → se não entender a mensagem \n- detalhar_pedido → se o admin quer ver os detalhes dos itens do pedido ou digitar \"4\"\n- menu → se ele pedir o menu ou opções \"5\"\n- conferir_cardapio →  o admin diser \"conferir\", ou digitou \"6\" para conferir item no cardapio \n- bebida →  o Admini diser \"bebida\", ou digitou \"7\" para ver o cardapio \n- alterar_preco →  o Admini diser \"preco\", ou digitou \"8\" para ver o cardapio\n \n\nRetorne **somente** nesse formato:\n\n{\n  \"acao\": \"pedido_aberto\" | \"avancar_pedido\" | \"cancelar_pedido\" | \"desconhecida\" | \"detalhar_pedido\" | \"menu\" | \"conferir_cardapio\" | \"bebida\" | \"alterar_preco\" \n}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[528,-48],"id":"93fb18b8-d48c-44bb-833a-e878011d3dd2","name":"Menu","retryOnFail":true,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"204f54b0-e3ed-4ff4-8302-8c20d3b8aa78","leftValue":"={{ $('Webhook').item.json.body.isGroup }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"c51986d9-f347-4198-89bb-9e4cd0f021c9","leftValue":"={{ $('Webhook').item.json.body.broadcast }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"05ee6414-0164-473b-8f82-225cfba55ad2","leftValue":"={{ $('Webhook').item.json.body.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"aecbf657-eaea-437a-bdc6-a909a329cfa0","name":"Filtro Inicial","type":"n8n-nodes-base.filter","typeVersion":2.1,"position":[-304,-48],"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"b40ee603-4967-46a7-a72a-24f6dd3a72ef","name":"mensagem","value":"={{ $json.body.message.conversation }}","type":"string"},{"id":"2d89e2fe-d49d-42c0-b926-321f2524e0c4","name":"telefone_admin","value":"={{ $json.body.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,-48],"id":"7f69a136-3e6d-4e4e-81a0-46ce994a6844","name":"EditFields"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.acao }}","rightValue":"pedido_aberto","operator":{"type":"string","operation":"equals"},"id":"c957927a-1cf4-44bf-8f38-1496767b6a1b"}],"combinator":"and"},"renameOutput":"=pedido_aberto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"03a78ab2-9057-4ff5-baa5-8c37c432a94d","leftValue":"={{ $json.acao }}","rightValue":"avancar_pedido","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"avancar_pedido"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3fc41f2-ee99-4de2-8841-2ae1a7da37db","leftValue":"={{ $json.acao }}","rightValue":"cancelar_pedido","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cancelar_pedido"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"38045ee6-0b44-4b52-a79c-676c7ce5998a","leftValue":"={{ $json.acao }}","rightValue":"desconhecida","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"desconhecida"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4bbedcdd-6893-41a2-9e3d-bfc9b97ca10a","leftValue":"={{ $json.acao }}","rightValue":"menu","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"menu"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"42e2c65b-a99d-4991-ac87-a7ff8d84d4a5","leftValue":"={{ $json.acao }}","rightValue":"conferir_cardapio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"conferir_cardapio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"23e65839-03f6-4879-8998-48ad2909ef94","leftValue":"={{ $json.acao }}","rightValue":"bebida","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"bebida"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4f5a8ba2-c888-48cd-bbe2-ba09467e56a0","leftValue":"={{ $json.acao }}","rightValue":"alterar_preco","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"alterar_preco"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1168,-144],"id":"595ca4b7-ba06-4620-8210-9d9cd16aa5d5","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[464,-256],"id":"66cd7c37-05b9-4633-85c5-289589db54e4","name":"No Operation, do nothing1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('EditFields').item.json.telefone_admin }}\",\n    \"text\": \"🧾 *Escolha uma opção abaixo:*\\n\\n*1.* Adicionar itens ao pedido\\n*2.*  Ver instruções para pedir corretamente\\n*3.*  Ver cardápio completo\\n*4.*  Concluir pedido\\n*5.*  Consultar pedido atual\\n*6.*  Cancelar pedido\\n*7.*  Detalhar itens do pedido\\n\\n*Responda com 1, 2, 3, 4, 5, 6 ou 7 para continuar.*\"\n  }\n}\n","options":{}},"id":"7f5608ba-047d-4b2c-9425-4b10e68bd38d","name":"RequestMenu","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,-256]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"59aebb69-dff5-45f5-90af-37073a76cfe2","leftValue":"={{ $('EditFields').item.json.mensagem }}","rightValue":"menu","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"c9501565-929c-44be-9ba0-708347a3b42e","leftValue":"={{ $('EditFields').item.json.mensagem }}","rightValue":"5","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-96,-48],"id":"d936408b-03a7-4c2d-b4fc-78b32bf66dce","name":"If"},{"parameters":{"operation":"executeQuery","query":" SELECT * FROM pedidos where status <>'concluido';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1424,-240],"id":"2bbbeedb-e09e-4693-89c4-f1497e89f9a0","name":"PedidoAberto","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}}],"connections":{"Webhook":{"main":[[{"node":"EditFields","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Menu","type":"ai_languageModel","index":0}]]},"Menu":{"main":[[{"node":"MsgUsuario","type":"main","index":0}]]},"Filtro Inicial":{"main":[[{"node":"If","type":"main","index":0}]]},"EditFields":{"main":[[{"node":"Filtro Inicial","type":"main","index":0}]]},"MsgUsuario":{"main":[[{"node":"Switch","type":"main","index":0}]]},"RequestMenu":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"If":{"main":[[{"node":"RequestMenu","type":"main","index":0}],[{"node":"Menu","type":"main","index":0}]]},"Switch":{"main":[[{"node":"PedidoAberto","type":"main","index":0}],[],[],[],[],[{"node":"Execute a SQL query","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"09e1fa2f-084c-40af-a3e1-b1cf9b006745","triggerCount":0,"tags":[]}