backupfluxo-9PQYckgAthPcUlcO.json
{"createdAt":"2025-08-17T17:16:30.557Z","updatedAt":"2025-08-18T00:38:46.817Z","id":"9PQYckgAthPcUlcO","name":"BackupFluxo","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"2ffa3957-a649-4c57-a592-25b881b2e5c2","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3232,448]},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"20d0794a-6ad9-4f10-a6fa-2b452f94d66c","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-1792,448]},{"parameters":{"content":"## Acionar\nVocê pode alterá-lo para [gatilho \"Agendar\"](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/) para fazer backups regularmente.","height":380,"width":182},"id":"859a7672-cb96-411d-a149-47c948d21a8f","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3264,240]},{"parameters":{"content":"## Definir e formatar data/hora\nEsses nós são responsáveis ​​por definir a data e hora atuais no formato `dd-MM-yyyy/H:mm`. Data e hora são usadas para compor mensagens de commit no GitHub, por exemplo: `backup-12-07-2023/14:18`.","height":379,"width":585},"id":"ff479da1-d7e6-4ae8-83b1-ae790936af5b","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3072,240]},{"parameters":{"content":"## Faça uma lista de arquivos existentes\nRetorne uma lista de arquivos existentes (backups) no repositório GitHub. Os dados retornados por esses nós são usados ​​pelo nó \"IF\" (posteriormente no fluxo de trabalho) para verificar se os arquivos de backup devem ser criados ou atualizados.","height":379,"width":390},"id":"4bc4fd14-5201-435c-9daf-a8d73b3cfeda","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2464,240]},{"parameters":{"content":"## Recupere os workflows\nObtenha todos os fluxos de trabalho da sua instância n8n. Lembre-se de que **suas credenciais precisam apontar para a instância da qual você deseja fazer backup.**","height":379,"width":424},"id":"0974ad39-b38c-4c92-aa4d-6d0ef0ae7b50","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2048,240]},{"parameters":{"content":"## Carregar cópia de segurança\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no repositório antes. Se sim (true), carregue a nova versão do arquivo. Caso contrário (false) crie o arquivo no repositório.","height":731.633426614796,"width":703.8733020263451},"id":"0a27dba1-6d92-4bc2-af1a-f4b66a2bb4bb","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1600,16]},{"parameters":{"content":"## ⚠️ Aviso\n\n1. Automação inspirada do Canal do Oskar > [Canal dele no YouTube](https://www.youtube.com/watch?v=dNuVuoPD0Jo). \n","height":135,"width":509},"id":"ef9c967b-fdc7-4ea6-a12a-d1cad870ad44","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3264,80]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/lglducci/delivery","mode":"url"},"repository":{"__rl":true,"value":"delivery","mode":"list","cachedResultName":"delivery","cachedResultUrl":"https://github.com/lglducci/delivery"},"filePath":"="},"id":"177e418b-e2f4-4a31-8ca3-653d65e3e055","name":"Liste o Arquivos do Repositorio [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-2432,448],"alwaysOutputData":true,"webhookId":"c2f89c22-8c7c-4ba4-bf78-4d8ce405fe8b","credentials":{"githubOAuth2Api":{"id":"zLeqsm9VEU9ZNbJ9","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"ef62e2a0-56e4-47a5-a3e6-59d14b8fb817","name":"Combine os nomes do Arquivos [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-2224,448]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"3ed24a7e-5d07-42e6-a374-8ade27a084a0","name":"Setar a data do Commit","type":"n8n-nodes-base.set","typeVersion":2,"position":[-2624,448]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine os nomes do Arquivos [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"0694d44d-414f-4718-aeed-1fc6a809db6e","name":"Cheque se existem arquivos no Repositorio","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1312,400]},{"parameters":{"options":{}},"id":"bb0c2944-bb52-4e71-8052-28c959c46638","name":"Sete a data","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-3024,448]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"77ad917a-48f5-4a03-87c2-58550f6556bd","name":"Data formatada","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2832,448]},{"parameters":{"batchSize":1,"options":{}},"id":"50b402fd-0559-41f4-ba28-2d6410e68eea","name":"Dividindo em Arquivos Únicos","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-1552,448]},{"parameters":{"filters":{},"requestOptions":{}},"id":"5ec1ce38-b2ae-4f87-ab12-f0a4e9c196bf","name":"Recupere os workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1984,448],"credentials":{"n8nApi":{"id":"9Ty4W0tJQeauwcNU","name":"n8n account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/lglducci/delivery","mode":"url"},"repository":{"__rl":true,"value":"delivery","mode":"list","cachedResultName":"delivery","cachedResultUrl":"https://github.com/lglducci/delivery"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Setar a data do Commit'].json.commitDate }}"},"id":"b6a52c7a-7d36-4a7f-b01d-74756fcfc5e3","name":"Atualiza Arquivos [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1088,160],"webhookId":"c16b683e-afdd-4fd4-847c-2555eaafcace","credentials":{"githubOAuth2Api":{"id":"zLeqsm9VEU9ZNbJ9","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/lglducci/delivery","mode":"url"},"repository":{"__rl":true,"value":"delivery","mode":"list","cachedResultName":"delivery","cachedResultUrl":"https://github.com/lglducci/delivery"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Setar a data do Commit'].json.commitDate }}"},"id":"4d75bda0-1c75-4e5c-bf39-a7b1123cbb74","name":"Atualiza arquivos [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1088,560],"webhookId":"080651e1-b61e-468b-abbd-e579b52f8efa","credentials":{"githubOAuth2Api":{"id":"zLeqsm9VEU9ZNbJ9","name":"GitHub account"}}}],"connections":{"Execute workflow":{"main":[[{"node":"Sete a data","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Dividindo em Arquivos Únicos","type":"main","index":0}]]},"Liste o Arquivos do Repositorio [GITHUB]":{"main":[[{"node":"Combine os nomes do Arquivos [GITHUB]","type":"main","index":0}]]},"Combine os nomes do Arquivos [GITHUB]":{"main":[[{"node":"Recupere os workflows [N8N]","type":"main","index":0}]]},"Setar a data do Commit":{"main":[[{"node":"Liste o Arquivos do Repositorio [GITHUB]","type":"main","index":0}]]},"Cheque se existem arquivos no Repositorio":{"main":[[{"node":"Atualiza Arquivos [GITHUB]","type":"main","index":0}],[{"node":"Atualiza arquivos [GITHUB]","type":"main","index":0}]]},"Sete a data":{"main":[[{"node":"Data formatada","type":"main","index":0}]]},"Data formatada":{"main":[[{"node":"Setar a data do Commit","type":"main","index":0}]]},"Dividindo em Arquivos Únicos":{"main":[[{"node":"Cheque se existem arquivos no Repositorio","type":"main","index":0}]]},"Recupere os workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Atualiza Arquivos [GITHUB]":{"main":[[{"node":"Dividindo em Arquivos Únicos","type":"main","index":0}]]},"Atualiza arquivos [GITHUB]":{"main":[[{"node":"Dividindo em Arquivos Únicos","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"df5a83d5-55c0-4f31-977c-1bf12222bb8f","triggerCount":1,"tags":[{"createdAt":"2025-08-17T23:41:49.887Z","updatedAt":"2025-08-17T23:41:49.887Z","id":"kN19FrqYdhpbw40w","name":"github"}]}