consultaonline-gl0RYjlzfJknufRk.json
{"createdAt":"2025-10-07T21:18:53.778Z","updatedAt":"2025-11-12T21:01:00.958Z","id":"gl0RYjlzfJknufRk","name":"ConsultaOnline","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"a3c83333-8ce3-4995-8230-b361099aa1e4","name":"user_id","value":"={{ $('When Executed by Another Workflow').item.json.user_id }}","type":"number"},{"id":"d7c14753-505f-48ee-a344-fa565ace43df","name":"pedido_id","value":"={{ $('When Executed by Another Workflow').item.json.pedido_id }}","type":"number"},{"id":"fdf33d81-37b4-46c9-b56a-6787b3d92dac","name":"rotina","value":"={{ $('When Executed by Another Workflow').item.json.rotina }}","type":"number"},{"id":"510be5a0-328d-4968-be95-a06070b25835","name":"carrinho","value":"={{ $('MensagemTraduzida').item.json.message === 'pizza' ? 'pizza' : '' }}","type":"string"},{"id":"edaf3531-5f93-42b1-b4ec-1f2929a5cf07","name":"categoria","value":"={{ $('When Executed by Another Workflow').item.json.categoria.trim() }}","type":"string"},{"id":"f126e291-9db7-4280-9fd6-75713fe2a0ee","name":"numero","value":"={{ $('When Executed by Another Workflow').item.json.numero }}","type":"number"},{"id":"92c614e5-9dce-40a9-9c20-8eae5f5ea4f4","name":"quantidade","value":"={{ $('When Executed by Another Workflow').item.json.quantidade }}","type":"number"},{"id":"c93aefd8-455e-40a1-9a99-a80319d8b630","name":"tamanho","value":"={{ $('When Executed by Another Workflow').item.json.tamanho }}","type":"string"},{"id":"845ebf82-e5e3-4669-acac-1be628b8488e","name":"nome","value":"={{ $('When Executed by Another Workflow').item.json.mensagem }}","type":"string"},{"id":"ef0cd159-59ef-41c3-9290-b4122fa652ef","name":"id_empresa","value":"={{ $('When Executed by Another Workflow').item.json.id_empresa }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2368,-128],"id":"8dd99415-9654-4a17-825f-ce01334ef1de","name":"MontPedido"},{"parameters":{"assignments":{"assignments":[{"id":"9f488c5c-0b3b-48e9-87b1-5a22d513d1ec","name":"IdConversa","value":"={{ $('When Executed by Another Workflow').item.json.telefone }}","type":"string"},{"id":"388e17d9-4d3a-40a6-9a45-52b166aa17b5","name":"telefone","value":"={{ $('When Executed by Another Workflow').item.json.telefone }}","type":"number"},{"id":"8b88d192-9c8b-4b70-be50-09eb1e7a9228","name":"id_empresa","value":"={{ $('When Executed by Another Workflow').item.json.id_empresa }}","type":"number"}]},"options":{}},"id":"48aa434b-58c7-4d11-b466-b23490996327","name":"Dados Lead","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2576,-128],"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"66a91f66-e755-4120-b22f-44c814f56162","name":"message","value":"={{ $json.mensagem }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2768,-128],"id":"79d09f9f-e326-4003-98e5-798058bd40b2","name":"MensagemTraduzida","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"workflowInputs":{"values":[{"name":"mensagem"},{"name":"user_id","type":"number"},{"name":"pedido_id","type":"number"},{"name":"telefone"},{"name":"rotina","type":"number"},{"name":"id_empresa","type":"number"},{"name":"categoria"},{"name":"numero","type":"number"},{"name":"quantidade","type":"number"},{"name":"tamanho"},{"name":"volume"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-3008,-128],"id":"dff60220-c174-4f75-a5c7-0f4a13f16a19","name":"When Executed by Another Workflow"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1216,192],"id":"d17db0f0-7c56-4a92-a845-bd9cb26f3680","name":"No Operation, do nothing7","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"jsCode":" // Texto vindo do cliente\nconst textoOriginal = (\n  $('MensagemTraduzida').first().json.message ||\n  $json.texto ||\n  \"\"\n).toLowerCase();\n\nlet texto = textoOriginal\n  .normalize(\"NFD\")\n  .replace(/[\\u0300-\\u036f]/g, \"\") // remove acentos\n  .trim();\n\n// Lista de categorias aceitas\nconst categorias = [\"pizza\", \"pizzas\", \"esfirra\", \"borda\", \"item\", \"bebida\", \"refrigerante\"];\n\n// Detecta categoria no texto\nlet categoriaDetectada = categorias.find(c => texto.includes(c)) || \"pizza\";\n\n// Remove a categoria e plurais\nlet nome = texto\n  .replace(new RegExp(\"\\\\b\" + categoriaDetectada + \"\\\\b\", \"gi\"), \"\")\n  .replace(/\\b(pizzas?|esfirras?)\\b/gi, \"\")\n  .trim();\n\n// 🔹 Remove preposições e conectivos comuns\nnome = nome\n  .replace(/\\b(c\\/|com|e|de|da|do|das|dos|na|no|nas|nos|ao|a|o|as|os|à|às)\\b/gi, \" \")\n  .replace(/\\s{2,}/g, \" \")\n  .trim();\n\n// 🔸 Verifica se 'nome' é número inteiro\nlet numero = 0;\nif (/^\\d+$/.test(nome)) {\n  numero = parseInt(nome, 10);\n}\n\n// Retorna JSON limpo\nreturn [\n  {\n    json: {\n      categoria:$('MontPedido').first().json.categoria  ,\n      nome:  $('When Executed by Another Workflow').first().json.mensagem  || null,\n      numero: $('MontPedido').first().json.numero  ,\n      id_empresa: $('MontPedido').first().json.id_empresa  ,\n      quantidade: $('MontPedido').first().json.quantidade,\n      tamanho: $('MontPedido').first().json.tamanho\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1696,-112],"id":"a55e4ee5-fd43-490f-b2d4-4e4fd08cee93","name":"Code4"},{"parameters":{"operation":"executeQuery","query":"  SELECT * FROM BuscaPizzaSabor (  '{{ $('Code4').item.json.nome }}' , {{ $('Dados Lead').item.json.id_empresa }} );\n ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[96,80],"id":"523c0398-3408-41f4-ab5f-81bc6c02ee6a","name":"BuscaPizzaSabor1","executeOnce":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1cd4ef07-e301-4c2d-897f-072812ee98f5","leftValue":"={{ $json.qtd }}","rightValue":8,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-144,96],"id":"8d1492dc-fc9b-4286-88eb-e69dde068656","name":"If1"},{"parameters":{"jsCode":" // Pega a mensagem original do item anterior\nconst msg =  $('When Executed by Another Workflow').first().json.mensagem || \"\";\n\n return [\n  {\n    mensagem: \"Foram encontrados mais de \" + $input.first().json.qtd + \" itens com a pesquisa \" + msg\n  }\n];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,576],"id":"a73bdaf0-e312-4d2f-977a-8ac9a4111160","name":"Code1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[480,576],"id":"ea553813-2273-41b2-986a-6c0fb4894ea3","name":"No Operation, do nothing8","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM ContaPizzaSabor( '{{ $('Code4').item.json.nome }}',{{ $('Dados Lead').item.json.id_empresa }}  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-352,96],"id":"d03ac273-060c-4afd-bfe1-c0911672bbba","name":"QuantidadePizza","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"65760ebd-4e86-4503-a09b-789f7d80e348","leftValue":"={{ $('MontPedido').item.json.rotina }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1920,-128],"id":"c1bfaee3-b8da-48b0-8550-f186492d8bcc","name":"If3"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM get_carrinho_pizza( {{ $('MontPedido').item.json.user_id }}, {{ $('MontPedido').item.json.pedido_id }} , {{ $('Dados Lead').item.json.id_empresa }},'{{ $('MontPedido').item.json.categoria }}');","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1728,-1072],"id":"ac2e967e-17e5-4c8c-bf11-f55311aaa4a0","name":"GetCarrinho","alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1520,-1072],"id":"f7e4bd82-3ab2-4338-9539-90c7226b51a4","name":"No Operation, do nothing1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[496,-848],"id":"a72e3b2e-aedf-4207-8a4d-d2888174ee57","name":"No Operation, do nothing2","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e8400d14-4b85-4df5-a1a0-152fe767eaf9","leftValue":"={{ $json.total }}","rightValue":6,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,480],"id":"ffaf862e-9cb1-4c65-a29c-d53d5443ed1e","name":"If5"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[864,384],"id":"1ddeb4d7-96e1-4008-9331-cc86ed3edd8d","name":"No Operation, do nothing4","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('MontPedido').item.json.categoria }}","rightValue":"=bebida","operator":{"type":"string","operation":"equals"},"id":"5e3730f4-0727-4885-807b-08b979be01e1"}],"combinator":"and"},"renameOutput":true,"outputKey":"bebida"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"23616411-0157-46ec-a55e-4ea70a09a97d","leftValue":"={{$('MontPedido').item.json.categoria}}","rightValue":"borda","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"borda"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f36d4c36-dba5-4e06-a716-cb1ff03dc573","leftValue":"={{ $('MontPedido').item.json.categoria }}","rightValue":"item","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"item"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b33c97ac-a399-470c-9dd9-87f83e75041c","leftValue":"={{ $('MontPedido').item.json.categoria }}","rightValue":"esfirra","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"esfirra"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2f1036ae-fcc7-401a-bd14-76cc1821ab0f","leftValue":"={{ $('MontPedido').item.json.categoria }}","rightValue":"pizza","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pizza"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-704,-176],"id":"11a8aa5a-087c-423a-931c-d47587c53c78","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1136,-528],"id":"179c0702-f129-4e88-9ce2-4c849ea5d94f","name":"No Operation, do nothing5","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"jsCode":" // Entradas disponíveis no fluxo:\n// $input.first().json.categoria\n// $input.first().json.nome\n// $('MensagemTraduzida').first().json.message\n\nfunction extractVolume(s) {\n  if (!s) return { volume_str: null, volume_ml: null, cleaned: s };\n\n  let str = String(s);\n\n  // 1) Detectar volumes em L (2L, 1,5 L, 1 litro, 2 litros, lt/lts)\n  let m = str.match(/\\b(\\d+(?:[.,]\\d+)?)\\s*(l|lt|lts|litro?s?)\\b/i);\n  if (m) {\n    const rawNum = m[1].replace(\",\", \".\"); // 1,5 => 1.5\n    const liters = parseFloat(rawNum);\n    if (!isNaN(liters)) {\n      const ml = Math.round(liters * 1000);\n      // Remover o trecho de volume do nome\n      const cleaned = str\n        .replace(m[0], \"\")\n        .replace(/\\s{2,}/g, \" \")\n        .trim();\n      return { volume_str: `${liters % 1 === 0 ? liters.toFixed(0) : liters}L`, volume_ml: ml, cleaned };\n    }\n  }\n\n  // 2) Detectar volumes em ML (600ml, 350 ml)\n  m = str.match(/\\b(\\d+)\\s*ml\\b/i);\n  if (m) {\n    const ml = parseInt(m[1], 10);\n    if (!isNaN(ml)) {\n      const cleaned = str\n        .replace(m[0], \"\")\n        .replace(/\\s{2,}/g, \" \")\n        .trim();\n      return { volume_str: `${ml}ml`, volume_ml: ml, cleaned };\n    }\n  }\n\n  // Nada encontrado\n  return { volume_str: null, volume_ml: null, cleaned: str };\n}\n\nfunction limparNomeBebida(base) {\n  if (!base) return base;\n  let s = String(base);\n\n  // Remover volumes (vamos extrair com extractVolume; aqui só garantimos limpeza residual)\n  s = s\n    .replace(/\\b\\d+[.,]?\\d*\\s*(l|lt|lts|litro?s?)\\b/gi, \"\")\n    .replace(/\\b\\d+\\s*ml\\b/gi, \"\");\n\n  // Remover embalagens/complementos comuns\n  s = s.replace(/\\b(lata|latao|latão|garrafa|pet|retornavel|retornável|vidro|long\\s*neck|pack|fardo|caixa|cx)\\b/gi, \"\");\n\n  // Traços e espaços extras\n  s = s.replace(/[-–—•·]+/g, \" \").replace(/\\s{2,}/g, \" \").trim();\n\n  return s;\n}\n\nconst categoria = String($input.first().json.categoria || \"\").toLowerCase();\nconst nomeEntrada = ($input.first().json.nome ?? \"\").toString();\nconst mensagem = ($('MensagemTraduzida').first()?.json?.message ?? \"\").toString();\n\n// Nome base: prioriza o \"nome\" já extraído; se vazio, tenta a mensagem\nconst nomeBase = (nomeEntrada || mensagem).trim();\n\nlet nome_limpo = nomeBase;\nlet volume_str = null;\nlet volume_ml = null;\n\nif (categoria === \"bebida\" || categoria === \"refrigerante\") {\n  // 1) Extrair volume\n  const vol = extractVolume(nomeBase);\n  volume_str = $('When Executed by Another Workflow').first().json.volume;\n  volume_ml =  $('When Executed by Another Workflow').first().json.volume;\n\n  // 2) Limpar nome (sem volume/embalagem)\n  nome_limpo = limparNomeBebida(vol.cleaned);\n}\n\n// Saída\nreturn [\n  {\n    json: {\n      categoria,\n      nome_original: nomeBase || null,\n      nome_limpo: nome_limpo || null,\n      // Volume (se detectado)\n      volume: volume_str,     // ex.: \"2L\" ou \"600ml\" (string amigável)\n      volume_ml: volume_ml,   // ex.: 2000 ou 600 (numérico)\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-304,-848],"id":"c98bccfc-5f2c-48c2-b99d-79419850ba75","name":"Bebida"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e48e79ae-dec7-4b06-9078-6ae356325797","leftValue":"={{ $('Code4').item.json.numero }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1472,-112],"id":"3e8c9d24-23f0-4d12-997a-9c27f435507b","name":"If6"},{"parameters":{"operation":"executeQuery","query":"  SELECT \n    numero, \n    nome, \n    categoria, \n    tipo,\n    preco_grande, \n    preco_medio, \n    preco_pequena,\n    descricao \n  FROM cardapio\n  WHERE id_empresa = {{ $('Dados Lead').item.json.id_empresa }}\n    AND numero = {{ $json.numero }} and disponivel = true \n  ORDER BY numero\n ;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1472,400],"id":"5237faaa-e674-4c2e-a9fd-f7912f5f78e1","name":"Consulta5","executeOnce":false,"alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-848,400],"id":"ee30cb05-acf8-41a8-b8ce-cc0e019aef82","name":"No Operation, do nothing6","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"jsCode":" // 🔹 Entrada esperada do node anterior\nconst user_id = $('MontPedido').first().json.user_id || 0;\nconst pedido_id = $('MontPedido').first().json.pedido_id || 0;\nconst id_empresa = $('Dados Lead').first().json.id_empresa || 0;\nconst telefone = ($('Dados Lead').first().json.telefone || \"\").toString();\n\n// 🔸 1️⃣ Cria chave única estável (só concatenação pura)\nconst userkey = `${user_id}${id_empresa}${telefone}`;\n\n// ✅ 2️⃣ Retorno no formato correto pro n8n\nreturn [\n  {\n    json: {\n      user_id,\n      pedido_id,\n      id_empresa,\n      telefone,\n      userkey\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2144,-128],"id":"278ccf5c-54b9-4035-ad93-c985a7e77e71","name":"MemoryKey3"},{"parameters":{"operation":"executeQuery","query":" \nselect * from  busca_bebida_profundo({{ $('Dados Lead').item.json.id_empresa }},  '{{ $('Code4').item.json.categoria }}',   '{{ $('Bebida').item.json.nome_limpo }}',   '{{ $('Bebida').item.json.volume }}')\n ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-96,-848],"id":"a362b884-2915-4204-8722-cee59ddb55b7","name":"busca_bebida_profundo","alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" SELECT\n  COALESCE(json_agg(row_to_json(t)), '[]'::json) AS resultados\nFROM (\n  SELECT \n    c.numero,\n    c.nome,\n    c.categoria,\n    c.tipo,\n    c.preco_grande,\n    c.preco_medio,\n    c.preco_pequena,\n    c.descricao\n  FROM cardapio c\n  WHERE c.id_empresa =   {{ $('PropagaPedido').item.json.id_empresa }}\n    AND unaccent(lower(c.categoria)) = unaccent(lower('{{ $('PropagaPedido').item.json.categoria }}'))\n    AND unaccent(lower(c.nome)) ILIKE '%' || unaccent(lower(trim('{{ $('PropagaPedido').item.json.nome }}'))) || '%' and disponivel = true \n    AND NOT EXISTS (\n      SELECT 1\n      FROM item_pedido_temp i\n      WHERE i.id_pizza_pai = {{ $json.item_id }}\n        AND i.categoria IN ( '{{ $('PropagaPedido').item.json.categoria }}')     -- só impede repetição de itens, borda tratada em outro ponto\n        AND i.numero = c.numero \n    )\n  ORDER BY c.numero\n) AS t;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[64,-544],"id":"fa653ce1-2521-43d7-be47-6ce88ccb648d","name":"BordaOuItem","executeOnce":false,"alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"jsCode":" // 🔹 Coleta todos os itens vindos do node anterior\nconst itens = $input.all(); // <-- importante: pega todos, não só o primeiro\n\n// 🔹 Extrai apenas os dados (json) de cada item\nconst linhas = itens.map(item => item.json);\n\n// 🔹 Converte para string JSON (para gravar ou enviar)\nconst jsonString = JSON.stringify(linhas, null, 2);\n\n// 🔹 Retorna 1 item com todos os dados combinados\nreturn [\n  {\n    json: {\n      total: linhas.length,\n      resultados: linhas,\n      json_string: jsonString,\n      user_id: $('MontPedido').first().json.user_id,\n      pedido_id: $('MontPedido').first().json.pedido_id,\n      id_empresa: $('Dados Lead').first().json.id_empresa,\n      categoria: $('MontPedido').first().json.categoria,\n      tamanho:  $('Code4').first().json.tamanho,\n      quantidade: $('Code4').first().json.quantidade\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,192],"id":"59183c50-cd70-438c-91f7-fc23ef89db3f","name":"Code5"},{"parameters":{"jsCode":" // 🔹 Coleta todos os itens vindos do node anterior\nconst itens = $input.all(); // <-- importante: pega todos, não só o primeiro\n\n// 🔹 Extrai apenas os dados (json) de cada item\nconst linhas = itens.map(item => item.json);\n\n// 🔹 Converte para string JSON (para gravar ou enviar)\nconst jsonString = JSON.stringify(linhas, null, 2);\n\n// 🔹 Retorna 1 item com todos os dados combinados\nreturn [\n  {\n    json: {\n      total: linhas.length,\n      resultados: linhas,\n      json_string: jsonString,\n      user_id: $('MontPedido').first().json.user_id,\n      pedido_id: $('MontPedido').first().json.pedido_id,\n      id_empresa: $('Dados Lead').first().json.id_empresa,\n      categoria: $('MontPedido').first().json.categoria\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1248,400],"id":"0dc29de4-e87e-42bd-b37a-4437d0cc6f45","name":"Code6"},{"parameters":{"operation":"executeQuery","query":" SELECT *\nFROM salva_turno (\n   {{ $('MontPedido').item.json.user_id }}, \n   {{ $('Dados Lead').item.json.id_empresa }}  ,{{ $('Code4').item.json.quantidade }},  '{{ $('Code4').item.json.tamanho }}',  '{{ $('Code4').item.json.categoria }}',  \n   '{{ JSON.stringify($json.resultados) }}'::jsonb \n   \n)\n\n \n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1072,400],"id":"2fddd3f5-0e29-4720-bdad-f4a7b37a19db","name":"Salva_turno","executeOnce":false,"alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"  SELECT *\nFROM salva_turno (\n   {{ $('MontPedido').item.json.user_id }}, \n   {{ $('Dados Lead').item.json.id_empresa }}  ,{{ $('Code4').item.json.quantidade }},  '{{ $('Code4').item.json.tamanho }}', '{{ $('Code4').item.json.categoria }}',   \nnull   ,'{{ JSON.stringify($json.resultados) }}'::jsonb  \n   \n)\n\n ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[96,-848],"id":"dcc14c9a-d22d-473f-afa5-81de6ba34a12","name":"Salva_turno_bebida","executeOnce":false,"alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a52b7a0a-e58e-4c41-98f0-b890dcf4d011","name":"categoria","value":"={{ $json.categoria }}","type":"string"},{"id":"511c7319-7085-4ae0-bc2a-618090deb822","name":"nome","value":"={{ $json.nome }}","type":"string"},{"id":"bb5557dd-f519-4909-b601-b556fd6104cb","name":"id_empresa","value":"={{ $json.id_empresa }}","type":"number"},{"id":"25bc18a3-44d1-4a49-b6e7-2e8da8d61334","name":"tamanho","value":"={{ $json.tamanho }}","type":"string"},{"id":"76248ad4-8e54-4161-bd75-7f4760b5dc5e","name":"user_id","value":"={{ $('MontPedido').item.json.user_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,-544],"id":"d54c1e89-23ac-47cb-b083-2cd1d520bb64","name":"PropagaPedido"},{"parameters":{"operation":"executeQuery","query":" SELECT item_id  ,   nome\n  \n  FROM item_pedido_temp\n  WHERE user_id =  {{ $json.user_id }}\n    AND id_empresa =  {{ $json.id_empresa }}\n    AND categoria = 'pizza'\n  ORDER BY item_id DESC\n  LIMIT 1;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-112,-544],"id":"6527d291-bfb2-4c5e-832e-8d9598a56c27","name":"VerificaItemNaPizza","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a98d6dc4-4a38-4e96-8778-eb48d1b81735","leftValue":"={{ $json.acao }}","rightValue":"mensagem","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[464,-544],"id":"a2a86c97-5216-45d4-946c-578368fd135a","name":"If8"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[736,-800],"id":"5fd652e9-f2d3-43b8-b210-2654946f0a1e","name":"No Operation, do nothing9","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[304,-208],"id":"90455d97-315f-48c7-bd34-5469f460a8f0","name":"No Operation, do nothing10","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"## Fluxo Consulta Online\n** Aqui inicia o fluxo da pesquisa online","height":464,"width":1840},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3088,-256],"id":"a428783a-5785-4e09-87c2-50208b2b6de5","name":"Sticky Note6"},{"parameters":{"content":"##Pesquisa por codigo\n** A é a pesquisa por codigo do produto no cardápio","height":304,"width":1072,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1552,304],"id":"1e48c9d8-8492-4d63-a681-595f274f25c6","name":"Sticky Note"},{"parameters":{"content":"##Pesquisa Refinamento Pizza\n** A é a pesquisa de pizza no cardápio","height":336,"width":1920,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-448,-16],"id":"9e5c5b35-0fd4-4e1f-b22f-99333bc1630a","name":"Sticky Note2"},{"parameters":{"operation":"executeQuery","query":" SELECT COUNT(*)::int AS total\nFROM cardapio\nWHERE id_empresa = {{ $('Dados Lead').item.json.id_empresa }}\n  AND unaccent(lower(categoria)) = unaccent(lower('{{ $('Code4').item.json.categoria }}'))\n  AND unaccent(lower(nome)) ILIKE '%' || unaccent(lower(TRIM('{{ $('Code4').item.json.nome }}'))) || '%'\n   and disponivel = true ;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-224,480],"id":"7aa57450-eb31-43bf-a541-c6d4b2322f0d","name":"Pesquisa Maior oito itens","executeOnce":false,"alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"content":"##Pesquisa Refinamento Pizza\n** A Se for maior que oito tenta achar a pizza unica por nome","height":384,"width":1408,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,352],"id":"27ede574-3aa2-458b-9e33-b2f274d86a6a","name":"Sticky Note1"},{"parameters":{"content":"##Pesquisa Somente pra esfirras\n** A é a pesquisa de esfirra no cardápio","height":224,"width":960,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,-272],"id":"0e595ca4-fd56-44de-be2f-11f34a13df54","name":"Sticky Note3"},{"parameters":{"content":"##Pesquisa Somente de Bordas e itens  (mussarela, cheddar, ovo ervilha etc ( verifica se o item ou borda ja esta associado a pizza(ultima)\n** A é a pesquisa bordas e itens no cardápio","height":288,"width":1776,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-352,-608],"id":"093568e0-0275-44f7-a4c9-eab04935b664","name":"Sticky Note4"},{"parameters":{"jsCode":" // pega o resultado do node anterior\nconst resultados = $json.resultados || [];\n\n// obtém os valores vindos do node \"PropagaPedido\"\nconst categoria = $('PropagaPedido').first().json.categoria || 'item';\nconst nome = $('PropagaPedido').first().json.nome || 'desconhecido';\nconst nome_pizza = $('VerificaItemNaPizza').first().json.nome || 'desconhecido';\n\n// constrói a mensagem final\nlet mensagem = `O ${categoria} ${nome} já se encontra na pizza selecionada ,  ${nome_pizza}.`;\n\n////if  (categoria ==== 'borda')\n//{\n //  mensagem = `A  pizza selecionada ,  ${nome_pizza}. já possui borda.`\n//}\n\nif (categoria === 'borda') {\n  mensagem = `A pizza selecionada, ${nome_pizza}, já possui borda.`;\n}\n\n\n\n// se não tiver resultado, retorna JSON de aviso\nif (resultados.length === 0) {\n  return [{\n    json: {\n      acao: \"mensagem\",\n      tipo: \"aviso\",\n      mensagem: mensagem,\n      detalhe: {\n        item: $json.item_nome || \"desconhecido\",\n        numero_pizza: $json.numero_pizza || null\n      }\n    }\n  }];\n}\n\n// se tiver resultado, chama a próxima etapa (proc)\nreturn [{\n  json: {\n    acao: \"executar_proc\",\n    mensagem: \"Executando salva_turno...\",\n    resultados\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,-544],"id":"074a8a1c-63ca-4c99-a76d-ce6d5201fef4","name":"Verifica se não voltou nada (associado a pizza)"},{"parameters":{"operation":"executeQuery","query":"   SELECT *\nFROM salva_turno (\n   {{ $('MontPedido').item.json.user_id }}, \n   {{ $('Switch').item.json.id_empresa }} ,1,  '{{ $('PropagaPedido').item.json.tamanho }}' ,  '{{ $('Code4').item.json.categoria }}', {{ $('VerificaItemNaPizza').item.json.item_id }}  ,\n   '{{ JSON.stringify($json.resultados) }}'::jsonb \n   \n)\n\n ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[688,-528],"id":"0c62d7a4-cf06-4742-80ea-5754d1c1215a","name":"Salva ItemBorda","executeOnce":false,"alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"content":"##Pesquisa Somente pra bebidas (tratamento profundo)\n** A é a pesquisa de bobidas no cardápio","height":304,"width":880,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-352,-944],"id":"bf1823ad-c08b-45d6-b181-8837032cd15a","name":"Sticky Note5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fbca8bcd-38c4-482a-b9de-f8399e179950","leftValue":"={{ $json.nome }}","rightValue":"NAO_ENCONTRADO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[288,80],"id":"a9f46c88-a2e5-41d1-8b54-255de0c68b68","name":"If"},{"parameters":{"jsCode":" // 🔹 Coleta todos os itens vindos do node anterior\nconst itens = $input.all(); // <-- importante: pega todos, não só o primeiro\n\n// 🔹 Extrai apenas os dados (json) de cada item\nconst linhas = itens.map(item => item.json);\n\n// 🔹 Converte para string JSON (para gravar ou enviar)\nconst jsonString = JSON.stringify(linhas, null, 2);\n\n// 🔹 Retorna 1 item com todos os dados combinados\nreturn [\n  {\n    json: {\n      total: linhas.length,\n      resultados: linhas,\n      json_string: jsonString,\n      user_id: $('MontPedido').first().json.user_id,\n      pedido_id: $('MontPedido').first().json.pedido_id,\n      id_empresa: $('Dados Lead').first().json.id_empresa,\n      categoria: $('MontPedido').first().json.categoria,\n      tamanho:  $('Code4').first().json.tamanho,\n      quantidade: $('Code4').first().json.quantidade\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,16],"id":"e2f89748-35e5-4367-8df7-06f5583f07cb","name":"Code"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[768,16],"id":"3dac9334-fb3e-4e94-809c-44bd1f66cda3","name":"No Operation, do nothing","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":" SELECT\n  COALESCE(json_agg(row_to_json(t)), '[]'::json) AS resultados\nFROM (\n  SELECT numero, nome, categoria, tipo, preco_grande, preco_medio, preco_pequena, descricao\n  FROM cardapio\n  WHERE id_empresa = {{ $json.id_empresa }}\n    AND unaccent(lower(categoria)) = unaccent(lower('{{ $json.categoria }}'))\n    AND unaccent(lower(nome)) ILIKE '%' || unaccent(lower(TRIM('{{ $json.nome }}'))) || '%'\n  and  disponivel = true \n  ORDER BY numero\n) AS t;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-320,-208],"id":"758daad5-3764-49d4-9ec7-0150036ce71f","name":"Esfirra","executeOnce":false,"alwaysOutputData":false,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"   SELECT *\nFROM salva_turno (\n   {{ $('MontPedido').item.json.user_id }}, \n   {{ $('Switch').item.json.id_empresa }} , {{ $('Switch').item.json.quantidade }},  'unico',  '{{ $('Code4').item.json.categoria }}', null ,\n   '{{ JSON.stringify($json.resultados) }}'::jsonb \n   \n)\n\n ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-112,-208],"id":"26264325-e282-43fe-95b9-61356d84b929","name":"SalvaEsfirra","executeOnce":false,"alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"jsCode":"  // Node: MostrarOpcoesComMensagemFinal\n// Entrada: array de objetos com { \"salva_turno\": { ... } }\n\nconst itens = $input.all()\n  .map(i => i.json?.salva_turno)\n  .filter(Boolean);\n\nif (!itens.length) {\n  return [{ json: { message: \"⚠️ Nenhum item para exibir.\" } }];\n}\n\n// Mensagem do banco (mesma para todos)\nconst msgBanco = String(itens[0]?.mensagem || \"\").trim();\n\n// helpers\nconst fmt = n => Number(n || 0).toLocaleString(\"pt-BR\", { style: \"currency\", currency: \"BRL\" });\nconst emj = (cat) => {\n  const c = String(cat || \"\").toLowerCase();\n  if (c.includes(\"esfirra\")) return \"🥟\";\n  if (c.includes(\"bebida\"))  return \"🥤\";\n  if (c.includes(\"borda\"))   return \"🧀\";\n  return \"🍕\";\n};\n\n// 🔹 monta todas as linhas de exibição\nconst linhas = itens.map((t, idx) => {\n  const categoria = String(t.categoria || \"\").toLowerCase();\n  const nome = t.descricao || t.nome || \"\";\n  const qtd = t.quantidade ?? 1; // só exibição, não altera banco\n  const vol = (t.volume || \"\").toString().trim();\n  const tam = (t.tamanho || \"\").toString().trim();\n  const emoji = emj(categoria);\n\n  // preços\n  let precoTxt = \"\";\n  if (categoria === \"pizza\" && (!tam || tam === \"\")) {\n    // quando não há tamanho informado → lista todos os disponíveis\n    const partes = [];\n    if (Number(t.preco_pequena || 0) > 0) partes.push(`Peq ${fmt(t.preco_pequena)}`);\n    if (Number(t.preco_medio   || 0) > 0) partes.push(`Méd ${fmt(t.preco_medio)}`);\n    if (Number(t.preco_grande  || 0) > 0) partes.push(`Gra ${fmt(t.preco_grande)}`);\n    precoTxt = partes.length ? ` — ${partes.join(\" | \")}` : \"\";\n  } else {\n    // caso geral\n    const p = Number(t.preco_grande || t.preco_medio || t.preco_pequena || 0);\n    precoTxt = p > 0 ? ` — ${fmt(p)}` : \"\";\n  }\n\n  // detalhes auxiliares\n  const detalheVol = vol ? ` · ${vol}` : \"\";\n  const detalheTam = (categoria === \"pizza\" && tam) ? ` · ${tam}` : \"\";\n\n  // linha formatada final\n  return `${idx + 1}) ${emoji} ${qtd} ${categoria} ${t.nome ? t.nome + \" – \" : \"\"}${nome}${detalheVol}${detalheTam}${precoTxt}`;\n}).join(\"\\n\");\n\n// 🔹 mensagem final: lista + mensagem original do banco\nconst saida = `${linhas}\\n\\n${msgBanco || \"\"}`.trim();\n\n// 🔹 saída final para o AI Agent\nreturn [{\n  json: {\n    message: saida,\n    step: {\n      acao: String(itens[0]?.etapa || \"\").toLowerCase(),\n      categoria: itens[0]?.categoria || \"\"\n    },\n    debug: {\n      origem: \"salva_turno\",\n      etapa: itens[0]?.etapa,\n      total_itens: itens.length\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,-848],"id":"7d60137a-0d82-43d9-a29e-8ae94083113b","name":"RespostaBebida"},{"parameters":{"jsCode":"  // Node: MostrarOpcoesComMensagemFinal\n// Entrada: array de objetos com { \"salva_turno\": { ... } }\n\nconst itens = $input.all()\n  .map(i => i.json?.salva_turno)\n  .filter(Boolean);\n\nif (!itens.length) {\n  return [{ json: { message: \"⚠️ Nenhum item para exibir.\" } }];\n}\n\n// Mensagem do banco (mesma para todos)\nconst msgBanco = String(itens[0]?.mensagem || \"\").trim();\n\n// helpers\nconst fmt = n => Number(n || 0).toLocaleString(\"pt-BR\", { style: \"currency\", currency: \"BRL\" });\nconst emj = (cat) => {\n  const c = String(cat || \"\").toLowerCase();\n  if (c.includes(\"esfirra\")) return \"🥟\";\n  if (c.includes(\"bebida\"))  return \"🥤\";\n  if (c.includes(\"borda\"))   return \"🧀\";\n  return \"🍕\";\n};\n\n// 🔹 monta todas as linhas de exibição\nconst linhas = itens.map((t, idx) => {\n  const categoria = String(t.categoria || \"\").toLowerCase();\n  const nome = t.descricao || t.nome || \"\";\n  const qtd = t.quantidade ?? 1; // só exibição, não altera banco\n  const vol = (t.volume || \"\").toString().trim();\n  const tam = (t.tamanho || \"\").toString().trim();\n  const emoji = emj(categoria);\n\n  // preços\n  let precoTxt = \"\";\n  if (categoria === \"pizza\" && (!tam || tam === \"\")) {\n    // quando não há tamanho informado → lista todos os disponíveis\n    const partes = [];\n    if (Number(t.preco_pequena || 0) > 0) partes.push(`Peq ${fmt(t.preco_pequena)}`);\n    if (Number(t.preco_medio   || 0) > 0) partes.push(`Méd ${fmt(t.preco_medio)}`);\n    if (Number(t.preco_grande  || 0) > 0) partes.push(`Gra ${fmt(t.preco_grande)}`);\n    precoTxt = partes.length ? ` — ${partes.join(\" | \")}` : \"\";\n  } else {\n    // caso geral\n    const p = Number(t.preco_grande || t.preco_medio || t.preco_pequena || 0);\n    precoTxt = p > 0 ? ` — ${fmt(p)}` : \"\";\n  }\n\n  // detalhes auxiliares\n  const detalheVol = vol ? ` · ${vol}` : \"\";\n  const detalheTam = (categoria === \"pizza\" && tam) ? ` · ${tam}` : \"\";\n\n  // linha formatada final\n  return `${idx + 1}) ${emoji} ${qtd} ${categoria} ${t.nome ? t.nome + \" – \" : \"\"}${nome}${detalheVol}${detalheTam}${precoTxt}`;\n}).join(\"\\n\");\n\n// 🔹 mensagem final: lista + mensagem original do banco\nconst saida = `${linhas}\\n\\n${msgBanco || \"\"}`.trim();\n\n// 🔹 saída final para o AI Agent\nreturn [{\n  json: {\n    message: saida,\n    step: {\n      acao: String(itens[0]?.etapa || \"\").toLowerCase(),\n      categoria: itens[0]?.categoria || \"\"\n    },\n    debug: {\n      origem: \"salva_turno\",\n      etapa: itens[0]?.etapa,\n      total_itens: itens.length\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[96,-208],"id":"d27c77f0-b6dd-4a8f-a0eb-896c149530e7","name":"RespostaEsfirra"},{"parameters":{"operation":"executeQuery","query":"  SELECT *\nFROM salva_turno (\n   {{ $json.user_id }}, \n    {{ $json.id_empresa }} , {{ $json.quantidade }} ,  '{{ $json.tamanho }}',   '{{ $json.resultados[0].categoria }}',  null,\n   '{{ JSON.stringify($json.resultados) }}'::jsonb \n   \n)\n\n \n \n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[768,192],"id":"2c92062f-162c-41fb-a63d-cba5cb69914e","name":"SalvaPizza_Escolha","executeOnce":false,"alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"jsCode":" // Node: MostrarOpcoesComMensagemFinal\n// Entrada: array de objetos com { \"salva_turno\": { ... } }\n\nconst itens = $input.all()\n  .map(i => i.json?.salva_turno)\n  .filter(Boolean);\n\nif (!itens.length) {\n  return [{ json: { message: \"⚠️ Nenhum item para exibir.\" } }];\n}\n\n// Mensagem do banco (mesma para todos)\nconst msgBanco = String(itens[0]?.mensagem || \"\").trim();\n\n// helpers\nconst fmt = n => Number(n || 0).toLocaleString(\"pt-BR\", { style: \"currency\", currency: \"BRL\" });\nconst emj = (cat) => {\n  const c = String(cat || \"\").toLowerCase();\n  if (c.includes(\"esfirra\")) return \"🥟\";\n  if (c.includes(\"bebida\"))  return \"🥤\";\n  if (c.includes(\"borda\"))   return \"🧀\";\n  return \"🍕\";\n};\n\n// 🔹 monta todas as linhas de exibição\nconst linhas = itens.map((t, idx) => {\n  const categoria = String(t.categoria || \"\").toLowerCase();\n  const nome = t.descricao || t.nome || \"\";\n  const qtd = t.quantidade ?? 1; // só exibição, não altera banco\n  const vol = (t.volume || \"\").toString().trim();\n  const tam = (t.tamanho || \"\").toString().trim();\n  const emoji = emj(categoria);\n\n  // preços\n  let precoTxt = \"\";\n  if (categoria === \"pizza\" && (!tam || tam === \"\")) {\n    // quando não há tamanho informado → lista todos os disponíveis\n    const partes = [];\n    if (Number(t.preco_pequena || 0) > 0) partes.push(`Peq ${fmt(t.preco_pequena)}`);\n    if (Number(t.preco_medio   || 0) > 0) partes.push(`Méd ${fmt(t.preco_medio)}`);\n    if (Number(t.preco_grande  || 0) > 0) partes.push(`Gra ${fmt(t.preco_grande)}`);\n    precoTxt = partes.length ? ` — ${partes.join(\" | \")}` : \"\";\n  } else {\n    // caso geral\n    const p = Number(t.preco_grande || t.preco_medio || t.preco_pequena || 0);\n    precoTxt = p > 0 ? ` — ${fmt(p)}` : \"\";\n  }\n\n  // detalhes auxiliares\n  const detalheVol = vol ? ` · ${vol}` : \"\";\n  const detalheTam = (categoria === \"pizza\" && tam) ? ` · ${tam}` : \"\";\n\n  // linha formatada final\n  return `${idx + 1}) ${emoji} ${qtd} ${categoria} ${t.nome ? t.nome + \" – \" : \"\"}${nome}${detalheVol}${detalheTam}${precoTxt}`;\n}).join(\"\\n\");\n\n// 🔹 mensagem final: lista + mensagem original do banco\nconst saida = `${linhas}\\n\\n${msgBanco || \"\"}`.trim();\n\n// 🔹 saída final para o AI Agent\nreturn [{\n  json: {\n    message: saida,\n    step: {\n      acao: String(itens[0]?.etapa || \"\").toLowerCase(),\n      categoria: itens[0]?.categoria || \"\"\n    },\n    debug: {\n      origem: \"salva_turno\",\n      etapa: itens[0]?.etapa,\n      total_itens: itens.length\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[992,192],"id":"1491ee92-924b-4cf4-9f24-8e29123a87a3","name":"RespostaPizza"},{"parameters":{"operation":"executeQuery","query":" SELECT COALESCE(\n  json_agg(\n    json_build_object(\n      'numero', numero,\n      'nome', nome,\n      'categoria', categoria,\n      'tipo', tipo,\n      'preco_grande', preco_grande,\n      'preco_medio', preco_medio,\n      'preco_pequena', preco_pequena,\n      'descricao', descricao\n    )\n    ORDER BY numero  -- ✅ ordenar dentro do json_agg\n  ),\n  '[]'::json\n) AS resultados\nFROM cardapio\nWHERE id_empresa = {{ $('Dados Lead').item.json.id_empresa }}\n  AND unaccent(lower(categoria)) = unaccent(lower('{{ $('Code4').item.json.categoria }}'))\n  AND unaccent(lower(nome)) ILIKE '%' || unaccent(lower(TRIM('{{ $('Code4').item.json.nome }}'))) || '%' \n   and disponivel = true  ;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[256,384],"id":"cfebbf28-875e-4d43-8aea-a8866b4adf6c","name":"TentaAcharUmaPizza","executeOnce":false,"alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"  SELECT *\nFROM salva_turno (\n   {{ $('MontPedido').item.json.user_id }}, \n   {{ $('Dados Lead').item.json.id_empresa }}  ,{{ $('Code4').item.json.quantidade }},  '{{ $('Code4').item.json.tamanho }}',  '{{ $('Code4').item.json.categoria }}', null, \n   '{{ JSON.stringify($json.resultados) }}'::jsonb \n   \n)\n\n \n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[464,384],"id":"2875089a-3d60-4cd8-863c-dce3ad045259","name":"SalvaUmaPizza","executeOnce":false,"alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"jsCode":" // Node: MostrarOpcoesComMensagemFinal\n// Entrada: array de objetos com { \"salva_turno\": { ... } }\n\nconst itens = $input.all()\n  .map(i => i.json?.salva_turno)\n  .filter(Boolean);\n\nif (!itens.length) {\n  return [{ json: { message: \"⚠️ Nenhum item para exibir.\" } }];\n}\n\n// Mensagem do banco (mesma para todos)\nconst msgBanco = String(itens[0]?.mensagem || \"\").trim();\n\n// helpers\nconst fmt = n => Number(n || 0).toLocaleString(\"pt-BR\", { style: \"currency\", currency: \"BRL\" });\nconst emj = (cat) => {\n  const c = String(cat || \"\").toLowerCase();\n  if (c.includes(\"esfirra\")) return \"🥟\";\n  if (c.includes(\"bebida\"))  return \"🥤\";\n  if (c.includes(\"borda\"))   return \"🧀\";\n  return \"🍕\";\n};\n\n// 🔹 monta todas as linhas de exibição\nconst linhas = itens.map((t, idx) => {\n  const categoria = String(t.categoria || \"\").toLowerCase();\n  const nome = t.descricao || t.nome || \"\";\n  const qtd = t.quantidade ?? 1; // só exibição, não altera banco\n  const vol = (t.volume || \"\").toString().trim();\n  const tam = (t.tamanho || \"\").toString().trim();\n  const emoji = emj(categoria);\n\n  // preços\n  let precoTxt = \"\";\n  if (categoria === \"pizza\" && (!tam || tam === \"\")) {\n    // quando não há tamanho informado → lista todos os disponíveis\n    const partes = [];\n    if (Number(t.preco_pequena || 0) > 0) partes.push(`Peq ${fmt(t.preco_pequena)}`);\n    if (Number(t.preco_medio   || 0) > 0) partes.push(`Méd ${fmt(t.preco_medio)}`);\n    if (Number(t.preco_grande  || 0) > 0) partes.push(`Gra ${fmt(t.preco_grande)}`);\n    precoTxt = partes.length ? ` — ${partes.join(\" | \")}` : \"\";\n  } else {\n    // caso geral\n    const p = Number(t.preco_grande || t.preco_medio || t.preco_pequena || 0);\n    precoTxt = p > 0 ? ` — ${fmt(p)}` : \"\";\n  }\n\n  // detalhes auxiliares\n  const detalheVol = vol ? ` · ${vol}` : \"\";\n  const detalheTam = (categoria === \"pizza\" && tam) ? ` · ${tam}` : \"\";\n\n  // linha formatada final\n  return `${idx + 1}) ${emoji} ${qtd} ${categoria} ${t.nome ? t.nome + \" – \" : \"\"}${nome}${detalheVol}${detalheTam}${precoTxt}`;\n}).join(\"\\n\");\n\n// 🔹 mensagem final: lista + mensagem original do banco\nconst saida = `${linhas}\\n\\n${msgBanco || \"\"}`.trim();\n\n// 🔹 saída final para o AI Agent\nreturn [{\n  json: {\n    message: saida,\n    step: {\n      acao: String(itens[0]?.etapa || \"\").toLowerCase(),\n      categoria: itens[0]?.categoria || \"\"\n    },\n    debug: {\n      origem: \"salva_turno\",\n      etapa: itens[0]?.etapa,\n      total_itens: itens.length\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,384],"id":"8290cfdb-c046-4891-96c7-737382c70fe7","name":"RespostaPizza1"},{"parameters":{"jsCode":" // Node: MostrarResumoItem (Function)\n// Entrada esperada: saída de salva_turno (array de objetos)\n\nconst salvarArray = $('Salva_turno_bebida').all().map(x => x.json.salva_turno).filter(x => x);\nif (!salvarArray.length) {\n  return [{\n    json: {\n      message: \"Não encontrei dados do item para exibir o resumo. ⚠️\",\n      step: { acao: \"erro_sem_dados\" }\n    }\n  }];\n}\n\n// Pega o step atual (ex.: 'pedir_posicao' ou 'ready')\nconst stepAtual = String(salvarArray[0]?.etapa || \"\").trim().toLowerCase();\n\n// Se etapa for pedir_posicao → apenas listar opções (NÃO SOMAR)\nif (stepAtual === \"pedir_posicao\") {\n  const categoria = (salvarArray[0].categoria || \"\").toLowerCase();\n  const emoji = categoria.includes(\"esfirra\") ? \"🥟\" :\n                categoria.includes(\"bebida\") ? \"🥤\" :\n                categoria.includes(\"borda\")  ? \"🧀\" : \"🍕\";\n\n  const lista = salvarArray.map((t, i) => {\n    const nome = t.descricao || t.nome || \"\";\n    const preco = Number(t.preco_grande || t.preco_medio || t.preco_pequena || 0)\n      .toLocaleString(\"pt-BR\", { style: \"currency\", currency: \"BRL\" });\n    return `${i + 1}) ${emoji} ${t.quantidade || 1} ${categoria} ${nome} – ${preco}`;\n  }).join(\"\\n\");\n\n  const mensagem = `Aqui estão as ${categoria}s que temos:\\n${lista}\\n\\nQual opção da lista você escolhe? (1–${salvarArray.length})`;\n\n  return [{\n    json: {\n      message: mensagem,\n      step: { acao: \"pedir_posicao\", categoria },\n      debug: { etapa: stepAtual, total_opcoes: salvarArray.length }\n    }\n  }];\n}\n\n// Caso contrário → etapa 'ready' ou equivalente → calcular total\nconst turno = salvarArray[0];\nconst categoria = (turno.categoria || \"\").toLowerCase();\nconst nome = turno.descricao || turno.nome || \"\";\nconst qtd = Number(turno.quantidade || 1);\nconst tamanho = turno.tamanho || \"único\";\nconst precoUnit = Number(turno.preco_grande || turno.preco_medio || turno.preco_pequena || 0);\n\nlet emoji = \"🍕\";\nif (categoria.includes(\"esfirra\")) emoji = \"🥟\";\nelse if (categoria.includes(\"bebida\")) emoji = \"🥤\";\nelse if (categoria.includes(\"borda\")) emoji = \"🧀\";\n\nconst precoTotal = precoUnit * qtd;\nconst precoUnitFmt = precoUnit.toLocaleString(\"pt-BR\", { style: \"currency\", currency: \"BRL\" });\nconst precoTotalFmt = precoTotal.toLocaleString(\"pt-BR\", { style: \"currency\", currency: \"BRL\" });\n\nconst resumo = `${emoji} ${qtd} ${categoria} ${nome} (${tamanho})\\n💰 Valor unitário: ${precoUnitFmt}\\n💵 Total: ${precoTotalFmt}\\n\\nConfirma ${qtd > 1 ? \"os itens\" : \"este item\"}? (Sim/Não)`;\n\nreturn [{\n  json: {\n    message: resumo,\n    step: {\n      acao: \"confirmar_valor\",\n      categoria,\n      nome,\n      quantidade: qtd,\n      preco_unit: precoUnit,\n      preco_total: precoTotal,\n      tamanho\n    },\n    debug: {\n      origem: \"salva_turno\",\n      etapa: stepAtual,\n      id_empresa: turno.id_empresa,\n      user_id: turno.user_id,\n      numero: turno.numero\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[336,-1024],"id":"79730fd7-fe2c-4219-a7bb-e518c22d9f2d","name":"RespostaBebida1","disabled":true},{"parameters":{"jsCode":"  // Node: MostrarOpcoesComMensagemFinal\n// Entrada: array de objetos com { \"salva_turno\": { ... } }\n\nconst itens = $input.all()\n  .map(i => i.json?.salva_turno)\n  .filter(Boolean);\n\nif (!itens.length) {\n  return [{ json: { message: \"⚠️ Nenhum item para exibir.\" } }];\n}\n\n// Mensagem do banco (mesma para todos)\nconst msgBanco = String(itens[0]?.mensagem || \"\").trim();\n\n// helpers\nconst fmt = n => Number(n || 0).toLocaleString(\"pt-BR\", { style: \"currency\", currency: \"BRL\" });\nconst emj = (cat) => {\n  const c = String(cat || \"\").toLowerCase();\n  if (c.includes(\"esfirra\")) return \"🥟\";\n  if (c.includes(\"bebida\"))  return \"🥤\";\n  if (c.includes(\"borda\"))   return \"🧀\";\n  return \"🍕\";\n};\n\n// 🔹 monta todas as linhas de exibição\nconst linhas = itens.map((t, idx) => {\n  const categoria = String(t.categoria || \"\").toLowerCase();\n  const nome = t.descricao || t.nome || \"\";\n  const qtd = t.quantidade ?? 1; // só exibição, não altera banco\n  const vol = (t.volume || \"\").toString().trim();\n  const tam = (t.tamanho || \"\").toString().trim();\n  const emoji = emj(categoria);\n\n  // preços\n  let precoTxt = \"\";\n  if (categoria === \"pizza\" && (!tam || tam === \"\")) {\n    // quando não há tamanho informado → lista todos os disponíveis\n    const partes = [];\n    if (Number(t.preco_pequena || 0) > 0) partes.push(`Peq ${fmt(t.preco_pequena)}`);\n    if (Number(t.preco_medio   || 0) > 0) partes.push(`Méd ${fmt(t.preco_medio)}`);\n    if (Number(t.preco_grande  || 0) > 0) partes.push(`Gra ${fmt(t.preco_grande)}`);\n    precoTxt = partes.length ? ` — ${partes.join(\" | \")}` : \"\";\n  } else {\n    // caso geral\n    const p = Number(t.preco_grande || t.preco_medio || t.preco_pequena || 0);\n    precoTxt = p > 0 ? ` — ${fmt(p)}` : \"\";\n  }\n\n  // detalhes auxiliares\n  const detalheVol = vol ? ` · ${vol}` : \"\";\n  const detalheTam = (categoria === \"pizza\" && tam) ? ` · ${tam}` : \"\";\n\n  // linha formatada final\n  return `${idx + 1}) ${emoji} ${qtd} ${categoria} ${t.nome ? t.nome + \" – \" : \"\"}${nome}${detalheVol}${detalheTam}${precoTxt}`;\n}).join(\"\\n\");\n\n// 🔹 mensagem final: lista + mensagem original do banco\nconst saida = `${linhas}\\n\\n${msgBanco || \"\"}`.trim();\n\n// 🔹 saída final para o AI Agent\nreturn [{\n  json: {\n    message: saida,\n    step: {\n      acao: String(itens[0]?.etapa || \"\").toLowerCase(),\n      categoria: itens[0]?.categoria || \"\"\n    },\n    debug: {\n      origem: \"salva_turno\",\n      etapa: itens[0]?.etapa,\n      total_itens: itens.length\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,-528],"id":"77bcd5fb-f489-4953-a932-4d21c6f175bb","name":"RespostaItemBorda"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1184,-400],"id":"1dbfe0d0-5e85-4230-b591-92aebfac3043","name":"No Operation, do nothing12","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":" SELECT\n  COALESCE(json_agg(row_to_json(t)), '[]'::json) AS resultados\nFROM (\n  SELECT numero, nome, categoria, tipo, preco_grande, preco_medio, preco_pequena, descricao\n  FROM cardapio\n  WHERE id_empresa = {{ $json.id_empresa }}\n    AND unaccent(lower(categoria)) = unaccent(lower('{{ $('MensagemTraduzida').item.json.message }}')) \n  and  disponivel = true \n  ORDER BY numero\n) AS t;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1664,-400],"id":"e66b8611-7e74-408b-8b10-64cc9387122c","name":"Esfirra2","executeOnce":false,"alwaysOutputData":false,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"   SELECT *\nFROM salva_turno (\n   {{ $('MontPedido').item.json.user_id }}, \n   {{ $('If3').item.json.id_empresa }}  ,  1,  'unico',  '{{ $('MontPedido').item.json.categoria }}', null ,\n   '{{ JSON.stringify($json.resultados) }}'::jsonb \n   \n)\n\n ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1456,-464],"id":"f4c59401-7e49-4212-99b4-78a9be8aab09","name":"SalvaEsfirra2","executeOnce":false,"alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"jsCode":" // Node: MostrarOpcoesBordaItem (corrigido para seu input real)\nconst dados =  $input.first().json.resultados || [];\n\nif (!Array.isArray(dados) || !dados.length) {\n  return [{ json: { message: \"⚠️ Nenhum resultado recebido para exibição.\" } }];\n}\n\n// Função auxiliar: emoji por categoria/tipo\nconst emoji = (c, t) => {\n  const cat = String(c || \"\").toLowerCase();\n  const tipo = String(t || \"\").toLowerCase();\n  if (cat === \"borda\") return tipo === \"doce\" ? \"🍫\" : \"🧀\";\n  if (cat === \"item\") return \"🧩\";\n  if (cat === \"esfirra\") return \"🥟\";\n  if (cat === \"bebida\") return \"🥤\";\n  return \"🍕\";\n};\n\n// Monta as linhas\nconst linhas = dados.map((x, i) => {\n  const precos = [];\n  if (x.preco_pequena > 0) precos.push(`Peq R$ ${x.preco_pequena.toFixed(2)}`);\n  if (x.preco_medio > 0) precos.push(`Méd R$ ${x.preco_medio.toFixed(2)}`);\n  if (x.preco_grande > 0) precos.push(`Gra R$ ${x.preco_grande.toFixed(2)}`);\n\n  return `${i + 1}) ${emoji(x.categoria, x.tipo)} ${x.nome} — ${precos.join(\" | \")}\\n${x.descricao}`;\n}).join(\"\\n\\n\");\n\nconst categoria = dados[0].categoria;\nconst mensagem = `Aqui estão as ${categoria}s disponíveis:\\n\\n${linhas}\\n\\nQual delas você escolhe? (1–${dados.length})`;\n\nreturn [{\n  json: {\n    message: mensagem,\n    step: { acao: \"pedir_posicao\", categoria },\n    debug: { total: dados.length, categoria }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1376,-400],"id":"89377b72-6501-44ac-875f-1759f2173669","name":"RespostaEsfirra2"},{"parameters":{"jsCode":"  // Node: MostrarOpcoesComMensagemFinal\n// Entrada: array de objetos com { \"salva_turno\": { ... } }\n\nconst itens =  $input.first().json.resultados\n  .map(i => i.json?.salva_turno)\n  .filter(Boolean);\n\nif (!itens.length) {\n  return [{ json: { message: \"⚠️ Nenhum item para exibir.\" } }];\n}\n\n// Mensagem do banco (mesma para todos)\nconst msgBanco = String(itens[0]?.mensagem || \"\").trim();\n\n// helpers\nconst fmt = n => Number(n || 0).toLocaleString(\"pt-BR\", { style: \"currency\", currency: \"BRL\" });\nconst emj = (cat) => {\n  const c = String(cat || \"\").toLowerCase();\n  if (c.includes(\"esfirra\")) return \"🥟\";\n  if (c.includes(\"bebida\"))  return \"🥤\";\n  if (c.includes(\"borda\"))   return \"🧀\";\n  return \"🍕\";\n};\n\n// 🔹 monta todas as linhas de exibição\nconst linhas = itens.map((t, idx) => {\n  const categoria = String(t.categoria || \"\").toLowerCase();\n  const nome = t.descricao || t.nome || \"\";\n  const qtd = t.quantidade ?? 1; // só exibição, não altera banco\n  const vol = (t.volume || \"\").toString().trim();\n  const tam = (t.tamanho || \"\").toString().trim();\n  const emoji = emj(categoria);\n\n  // preços\n  let precoTxt = \"\";\n  if (categoria === \"pizza\" && (!tam || tam === \"\")) {\n    // quando não há tamanho informado → lista todos os disponíveis\n    const partes = [];\n    if (Number(t.preco_pequena || 0) > 0) partes.push(`Peq ${fmt(t.preco_pequena)}`);\n    if (Number(t.preco_medio   || 0) > 0) partes.push(`Méd ${fmt(t.preco_medio)}`);\n    if (Number(t.preco_grande  || 0) > 0) partes.push(`Gra ${fmt(t.preco_grande)}`);\n    precoTxt = partes.length ? ` — ${partes.join(\" | \")}` : \"\";\n  } else {\n    // caso geral\n    const p = Number(t.preco_grande || t.preco_medio || t.preco_pequena || 0);\n    precoTxt = p > 0 ? ` — ${fmt(p)}` : \"\";\n  }\n\n  // detalhes auxiliares\n  const detalheVol = vol ? ` · ${vol}` : \"\";\n  const detalheTam = (categoria === \"pizza\" && tam) ? ` · ${tam}` : \"\";\n\n  // linha formatada final\n  return `${idx + 1}) ${emoji} ${qtd} ${categoria} ${t.nome ? t.nome + \" – \" : \"\"}${nome}${detalheVol}${detalheTam}${precoTxt}`;\n}).join(\"\\n\");\n\n// 🔹 mensagem final: lista + mensagem original do banco\nconst saida = `${linhas}\\n\\n${msgBanco || \"\"}`.trim();\n\n// 🔹 saída final para o AI Agent\nreturn [{\n  json: {\n    message: saida,\n    step: {\n      acao: String(itens[0]?.etapa || \"\").toLowerCase(),\n      categoria: itens[0]?.categoria || \"\"\n    },\n    debug: {\n      origem: \"salva_turno\",\n      etapa: itens[0]?.etapa,\n      total_itens: itens.length\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,-864],"id":"44a5754e-1933-4828-84c6-d4b361b22b36","name":"RespostaEsfirra3"}],"connections":{"Dados Lead":{"main":[[{"node":"MontPedido","type":"main","index":0}]]},"MensagemTraduzida":{"main":[[{"node":"Dados Lead","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"MensagemTraduzida","type":"main","index":0}]]},"MontPedido":{"main":[[{"node":"MemoryKey3","type":"main","index":0}]]},"Code4":{"main":[[{"node":"If6","type":"main","index":0}]]},"BuscaPizzaSabor1":{"main":[[{"node":"If","type":"main","index":0}]]},"If1":{"main":[[{"node":"BuscaPizzaSabor1","type":"main","index":0}],[{"node":"Pesquisa Maior oito itens","type":"main","index":0}]]},"Code1":{"main":[[{"node":"No Operation, do nothing8","type":"main","index":0}]]},"QuantidadePizza":{"main":[[{"node":"If1","type":"main","index":0}]]},"If3":{"main":[[{"node":"Esfirra2","type":"main","index":0}],[{"node":"Code4","type":"main","index":0}]]},"GetCarrinho":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"If5":{"main":[[{"node":"TentaAcharUmaPizza","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Bebida","type":"main","index":0}],[{"node":"PropagaPedido","type":"main","index":0}],[{"node":"PropagaPedido","type":"main","index":0}],[{"node":"Esfirra","type":"main","index":0}],[{"node":"QuantidadePizza","type":"main","index":0}]]},"Bebida":{"main":[[{"node":"busca_bebida_profundo","type":"main","index":0}]]},"If6":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Consulta5","type":"main","index":0}]]},"Consulta5":{"main":[[{"node":"Code6","type":"main","index":0}]]},"MemoryKey3":{"main":[[{"node":"If3","type":"main","index":0}]]},"busca_bebida_profundo":{"main":[[{"node":"Salva_turno_bebida","type":"main","index":0}]]},"BordaOuItem":{"main":[[{"node":"Verifica se não voltou nada (associado a pizza)","type":"main","index":0}]]},"Code5":{"main":[[{"node":"SalvaPizza_Escolha","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Salva_turno","type":"main","index":0}]]},"Salva_turno":{"main":[[{"node":"No Operation, do nothing6","type":"main","index":0}]]},"Salva_turno_bebida":{"main":[[{"node":"RespostaBebida","type":"main","index":0}]]},"PropagaPedido":{"main":[[{"node":"VerificaItemNaPizza","type":"main","index":0}]]},"VerificaItemNaPizza":{"main":[[{"node":"BordaOuItem","type":"main","index":0}]]},"If8":{"main":[[{"node":"No Operation, do nothing9","type":"main","index":0}],[{"node":"Salva ItemBorda","type":"main","index":0}]]},"Pesquisa Maior oito itens":{"main":[[{"node":"If5","type":"main","index":0}]]},"Verifica se não voltou nada (associado a pizza)":{"main":[[{"node":"If8","type":"main","index":0}]]},"Salva ItemBorda":{"main":[[{"node":"RespostaItemBorda","type":"main","index":0}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Code5","type":"main","index":0}]]},"Code":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Esfirra":{"main":[[{"node":"SalvaEsfirra","type":"main","index":0}]]},"SalvaEsfirra":{"main":[[{"node":"RespostaEsfirra","type":"main","index":0}]]},"RespostaBebida":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"RespostaEsfirra":{"main":[[{"node":"No Operation, do nothing10","type":"main","index":0}]]},"SalvaPizza_Escolha":{"main":[[{"node":"RespostaPizza","type":"main","index":0}]]},"RespostaPizza":{"main":[[{"node":"No Operation, do nothing7","type":"main","index":0}]]},"TentaAcharUmaPizza":{"main":[[{"node":"SalvaUmaPizza","type":"main","index":0}]]},"SalvaUmaPizza":{"main":[[{"node":"RespostaPizza1","type":"main","index":0}]]},"RespostaPizza1":{"main":[[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"RespostaItemBorda":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}]]},"Esfirra2":{"main":[[{"node":"RespostaEsfirra2","type":"main","index":0}]]},"SalvaEsfirra2":{"main":[[]]},"RespostaEsfirra2":{"main":[[{"node":"No Operation, do nothing12","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"mensagem":"borda","user_id":1,"pedido_id":26,"telefone":"5516992975836","rotina":1,"id_empresa":1,"categoria":"esfirra","numero":0,"quantidade":7,"tamanho":"grande","volume":""}}]},"versionId":"2b4a2ffc-3aa2-4812-87b0-47a3aaf22b6b","triggerCount":0,"shared":[{"createdAt":"2025-10-07T21:18:53.778Z","updatedAt":"2025-10-07T21:18:53.778Z","role":"workflow:owner","workflowId":"gl0RYjlzfJknufRk","projectId":"wFRMrac2003Pl1x6"}],"tags":[]}