consulta-gl0RYjlzfJknufRk.json
{"createdAt":"2025-10-07T21:18:53.778Z","updatedAt":"2025-10-16T23:15:13.219Z","id":"gl0RYjlzfJknufRk","name":"consulta","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"a3c83333-8ce3-4995-8230-b361099aa1e4","name":"user_id","value":"={{ $('When Executed by Another Workflow').item.json.user_id }}","type":"number"},{"id":"d7c14753-505f-48ee-a344-fa565ace43df","name":"pedido_id","value":"={{ $('When Executed by Another Workflow').item.json.pedido_id }}","type":"number"},{"id":"fdf33d81-37b4-46c9-b56a-6787b3d92dac","name":"rotina","value":"={{ $('When Executed by Another Workflow').item.json.rotina }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1376,-144],"id":"8dd99415-9654-4a17-825f-ce01334ef1de","name":"MontPedido"},{"parameters":{"assignments":{"assignments":[{"id":"9f488c5c-0b3b-48e9-87b1-5a22d513d1ec","name":"IdConversa","value":"={{ $('When Executed by Another Workflow').item.json.telefone }}","type":"string"},{"id":"388e17d9-4d3a-40a6-9a45-52b166aa17b5","name":"telefone","value":"={{ $('When Executed by Another Workflow').item.json.telefone }}","type":"number"},{"id":"8b88d192-9c8b-4b70-be50-09eb1e7a9228","name":"id_empresa","value":"={{ $('When Executed by Another Workflow').item.json.id_empresa }}","type":"number"}]},"options":{}},"id":"48aa434b-58c7-4d11-b466-b23490996327","name":"Dados Lead","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1536,-144],"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"66a91f66-e755-4120-b22f-44c814f56162","name":"message","value":"={{ $json.mensagem }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1712,-144],"id":"79d09f9f-e326-4003-98e5-798058bd40b2","name":"MensagemTraduzida","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"workflowInputs":{"values":[{"name":"mensagem"},{"name":"user_id","type":"number"},{"name":"pedido_id","type":"number"},{"name":"telefone"},{"name":"rotina","type":"number"},{"name":"id_empresa","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1904,-144],"id":"dff60220-c174-4f75-a5c7-0f4a13f16a19","name":"When Executed by Another Workflow"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[400,0],"id":"d17db0f0-7c56-4a92-a845-bd9cb26f3680","name":"No Operation, do nothing7","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"jsCode":" // Texto vindo do cliente\nconst textoOriginal = ( $('MensagemTraduzida').first().json.message || $json.texto || \"\").toLowerCase();\nconst texto = textoOriginal\n  .normalize(\"NFD\")\n  .replace(/[\\u0300-\\u036f]/g, \"\") // remove acentos\n  .trim();\n\n// Lista de categorias aceitas\nconst categorias = [\"pizza\", \"pizzas\", \"esfirra\", \"borda\", \"item\", \"bebida\", \"refrigerante\"];\n\n// Detecta a categoria no texto\nlet categoriaDetectada = categorias.find(c => texto.includes(c)) || null;\n\n// Se não detectou, assume pizza como padrão\nif (!categoriaDetectada) {\n  categoriaDetectada = \"pizza\";\n}\n\n// Remove a categoria, plurais e espaços extras\nlet nome = texto;\nif (categoriaDetectada) {\n  nome = nome\n    .replace(new RegExp(\"\\\\b\" + categoriaDetectada + \"\\\\b\", \"gi\"), \"\")\n    .replace(/\\b(pizzas?|esfirras?)\\b/gi, \"\")\n    .replace(/\\s{2,}/g, \" \")\n    .trim();\n}\n\n// Retorna JSON estruturado\nreturn [\n  {\n    json: {\n      categoria: categoriaDetectada,\n      nome: nome || null\n    }\n  }\n];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,-64],"id":"a55e4ee5-fd43-490f-b2d4-4e4fd08cee93","name":"Code4"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-128,-192],"id":"a4c79c2c-c99a-4282-b096-0dfc7d734898","name":"No Operation, do nothing","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":"  SELECT * FROM BuscaPizzaSabor (  '{{ $('Code4').item.json.nome }}' , {{ $('Dados Lead').item.json.id_empresa }} );\n ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,0],"id":"523c0398-3408-41f4-ab5f-81bc6c02ee6a","name":"BuscaPizzaSabor1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" SELECT \n  numero, \n  nome, \n  categoria, \n  tipo,\n  preco_grande, \n  preco_medio, \n  preco_pequena,\n  descricao \nFROM cardapio\nWHERE id_empresa =  {{ $('Dados Lead').item.json.id_empresa }}\n  AND unaccent(lower(categoria)) = unaccent(lower('{{ $('Code4').item.json.categoria }}'))\n  AND unaccent(lower(nome)) ILIKE '%' || unaccent(lower(TRIM( '{{ $('Code4').item.json.nome }}'))) || '%'\nORDER BY numero;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-304,-192],"id":"fa653ce1-2521-43d7-be47-6ce88ccb648d","name":"Consulta1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" \n\n\nINSERT INTO log_debug (etapa, comando, retorno, user_id, pedido_id, id_empresa )\nVALUES ('Consulta Por nome', '{{ $('MensagemTraduzida').item.json.message }}', 'Consulta Online {{ $json.categoria }}', {{ $('MontPedido').item.json.user_id }} ,{{ $('MontPedido').item.json.pedido_id }}  ,  {{ $('Dados Lead').item.json.id_empresa }});","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-512,-192],"id":"e0bd8071-d099-46ca-9c35-24d512eb5a77","name":"LogFinal1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" \n\n\nINSERT INTO log_debug (etapa, comando, retorno, user_id, pedido_id, id_empresa )\nVALUES ('Busca Sabor', '{{ $('MensagemTraduzida').item.json.message }}', 'chamada recebida', {{ $('MontPedido').item.json.user_id }} ,{{ $('MontPedido').item.json.pedido_id }}  ,  {{ $('Dados Lead').item.json.id_empresa }});","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[16,0],"id":"d6aeafb3-bf78-4fb5-a111-58c8d636f831","name":"LogFinal","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1cd4ef07-e301-4c2d-897f-072812ee98f5","leftValue":"={{ $json.qtd }}","rightValue":7,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,64],"id":"8d1492dc-fc9b-4286-88eb-e69dde068656","name":"If1"},{"parameters":{"jsCode":" // Pega a mensagem original do item anterior\nconst msg =  $('When Executed by Another Workflow').first().json.mensagem || \"\";\n\n// Retorna a resposta formatada\nreturn [\n  {\n    mensagem: `Foram encontrados mais de 8 itens com a pesquisa ${msg}`\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,224],"id":"a73bdaf0-e312-4d2f-977a-8ac9a4111160","name":"Code1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[224,224],"id":"ea553813-2273-41b2-986a-6c0fb4894ea3","name":"No Operation, do nothing8","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b6ff324d-41bd-4b7b-aeb1-8c3bd298cf51","leftValue":"={{ $json.categoria }}","rightValue":"pizza","operator":{"type":"string","operation":"notEquals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-800,-64],"id":"f3eaa716-301d-4bad-a3af-de9d901c8c36","name":"If2"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM ContaPizzaSabor( '{{ $('Code4').item.json.nome }}',{{ $('Dados Lead').item.json.id_empresa }}  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-496,64],"id":"d03ac273-060c-4afd-bfe1-c0911672bbba","name":"QuantidadePizza","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"65760ebd-4e86-4503-a09b-789f7d80e348","leftValue":"={{ $json.rotina }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1168,-144],"id":"c1bfaee3-b8da-48b0-8550-f186492d8bcc","name":"If3"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM get_carrinho_pizza( {{ $('MontPedido').item.json.user_id }}, {{ $('MontPedido').item.json.pedido_id }} , {{ $('Dados Lead').item.json.id_empresa }});","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-960,-320],"id":"ac2e967e-17e5-4c8c-bf11-f55311aaa4a0","name":"GetCarrinho","alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-752,-320],"id":"f7e4bd82-3ab2-4338-9539-90c7226b51a4","name":"No Operation, do nothing1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"}],"connections":{"Dados Lead":{"main":[[{"node":"MontPedido","type":"main","index":0}]]},"MensagemTraduzida":{"main":[[{"node":"Dados Lead","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"MensagemTraduzida","type":"main","index":0}]]},"MontPedido":{"main":[[{"node":"If3","type":"main","index":0}]]},"Code4":{"main":[[{"node":"If2","type":"main","index":0}]]},"BuscaPizzaSabor1":{"main":[[{"node":"No Operation, do nothing7","type":"main","index":0}]]},"Consulta1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"LogFinal1":{"main":[[{"node":"Consulta1","type":"main","index":0}]]},"LogFinal":{"main":[[{"node":"BuscaPizzaSabor1","type":"main","index":0}]]},"If1":{"main":[[{"node":"LogFinal","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"No Operation, do nothing8","type":"main","index":0}]]},"If2":{"main":[[{"node":"LogFinal1","type":"main","index":0}],[{"node":"QuantidadePizza","type":"main","index":0}]]},"QuantidadePizza":{"main":[[{"node":"If1","type":"main","index":0}]]},"If3":{"main":[[{"node":"GetCarrinho","type":"main","index":0}],[{"node":"Code4","type":"main","index":0}]]},"GetCarrinho":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"mensagem":"Dom Edu","user_id":78,"pedido_id":59,"telefone":null,"rotina":1,"id_empresa":2}}]},"versionId":"a9a24626-1442-4182-b7cd-4ffddecc3ba0","triggerCount":0,"shared":[{"createdAt":"2025-10-07T21:18:53.778Z","updatedAt":"2025-10-07T21:18:53.778Z","role":"workflow:owner","workflowId":"gl0RYjlzfJknufRk","projectId":"wFRMrac2003Pl1x6"}],"tags":[]}