delivery-9WftJMMBMRPnj8NP.json
{"createdAt":"2025-09-07T00:48:12.031Z","updatedAt":"2025-09-25T00:00:34.323Z","id":"9WftJMMBMRPnj8NP","name":"Delivery","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Formatos Base64\nBase64 é uma forma de codificar dados binários como texto. Dependendo do tipo de arquivo, os prefixos variam para indicar o formato do dado. Aqui estão alguns dos formatos mais comuns com os respectivos prefixos base64:\n\n### 1. **Imagem**\n   - **PNG**: `data:image/png;base64,`\n   - **JPEG**: `data:image/jpeg;base64,`\n   - **GIF**: `data:image/gif;base64,`\n   - **SVG**: `data:image/svg+xml;base64,`\n   - **BMP**: `data:image/bmp;base64,`\n   \n### 2. **Áudio**\n   - **MP3**: `data:audio/mp3;base64,`\n   - **WAV**: `data:audio/wav;base64,`\n   - **OGG**: `data:audio/ogg;base64,`\n   - **MPEG**: `data:audio/mpeg;base64,`\n\n### 3. **Vídeo**\n   - **MP4**: `data:video/mp4;base64,`\n   - **OGG**: `data:video/ogg;base64,`\n   - **WebM**: `data:video/webm;base64,`\n\n### 4. **Texto**\n   - **Plain Text**: `data:text/plain;base64,`\n   - **HTML**: `data:text/html;base64,`\n   - **CSS**: `data:text/css;base64,`\n   - **JavaScript**: `data:text/javascript;base64,`\n   - **CSV**: `data:text/csv;base64,`\n\n### 5. **Documentos**\n   - **PDF**: `data:application/pdf;base64,`\n   - **JSON**: `data:application/json;base64,`\n   - **ZIP**: `data:application/zip;base64,`\n   - **XML**: `data:application/xml;base64,`\n\nEsses são exemplos de prefixos que podem ser usados ao incluir dados base64 em documentos ou aplicações.","height":1166,"width":593,"color":7},"id":"0d958084-a113-4052-aee2-de6c6fa7cec7","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-7840,-1600]},{"parameters":{"content":"## MimeTypes\nO Mime type é o mecanismo para especificar o tipo de documento.\nA estrutura de um MIME type é muito simples; Consiste de um tipo e um subtipo, separados por um '/', onde nenhum espaço é permitido. \nO tipo representa a categoria. \nO subtipo é específico para cada tipo.\n\n### 1. **image**\nRepresenta qualquer tipo de imagens\n- image/gif\n- image/png\n- image/jpeg\n- image/bmp\n- image/webp\n   \n\n### 2. **audio**\nRepresenta qualquer tipo de arquivo de audio\n- audio/midi\n- audio/mpeg\n- audio/webm\n- audio/ogg\n- audio/wav\n- audio/mp3\n- audio/mp4\n\n### 3. **video**\nRepresenta qualquer tipo de arquivo de video\n- video/webm\n- video/ogg\n- video/mp4\n\n### 4. **text**\nRepresenta qualquer documento que contenha texto\n- text/plain\n- text/csv\n- text/html\n- text/css\n- text/javascript\n\n### 5. **application**\nRepresenta qualquer tipo de dados binários.\n- application/octet-stream\n- application/pkcs12\n- application/vnd.mspowerpoint\n- application/xhtml+xml\n- application/xml\n- application/pdf3","height":1166,"width":593,"color":7},"id":"10ec2d92-d29f-4ccb-8b61-9fe2a4e94152","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-8528,-1568]},{"parameters":{"operation":"get","tableId":"usuario_lacantina","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Dados Lead').item.json.IdConversa.trim() }}"}]}},"id":"fd74557b-efb4-4866-b238-5a289fad9db1","name":"Encontrar Cliente1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-8912,-2864],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3419c30f-4400-401b-bf40-db1579507f96","leftValue":"={{ $json.user_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"fb3b0daa-e714-4e73-aebb-e85b69d69450","name":"Cliente Existe?1","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-8736,-2864],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"tableId":"usuario_lacantina","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $('Dados Lead').item.json.LeadNome }}"},{"fieldId":"telefone","fieldValue":"={{ $('Dados Lead').item.json.IdConversa.trim() }}"}]}},"id":"1b5e7d3e-9428-4d1b-8a4d-5dbb011857f9","name":"Criar Cliente1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-8368,-2624],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"id":"84187afa-bb28-469f-9c03-995d71927873","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-7952,-2880],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5024,-7792],"id":"0b602d57-0574-418b-b765-65615d72cfb3","name":"No Operation, do nothing5","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"## Gatilho\nChat Trigger, WhatsApp, Instagram, Telegram, Messenger, etc..","height":572,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-14272,-3072],"id":"eb429214-fc7b-4a4e-a2b1-c5b7c26c1192","name":"Sticky Note2"},{"parameters":{"content":"## Variáveis do Fluxo\nCentral de controle do workflow","height":540,"width":326,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-13840,-3056],"id":"b59d016e-fc5f-4ac9-9cc0-7e2ef7531382","name":"Sticky Note3"},{"parameters":{"content":"## Filtros Iniciais\nPara evitar que fluxo seja executado quando não queremos","height":540,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-13472,-3072],"id":"04a1a72f-535a-47bc-a657-addedd7b9dda","name":"Sticky Note4"},{"parameters":{"content":"## Dados do Lead\nInformações principais sobre o lead","height":540,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-13072,-3072],"id":"94809f73-f208-408a-8030-03ee63c3cac9","name":"Sticky Note5"},{"parameters":{"content":"## Registro do Lead no banco de dados (Supabase)\nFluxo para adição do lead no banco de dados postgrees supabase.","height":716,"width":2808,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-9472,-3088],"id":"890bd5a2-c1d4-4fa0-a4f2-a395a911981b","name":"Sticky Note7"},{"parameters":{"content":"## Mensagem para o Agente\nMensagem final do usuário para o agente","height":652,"width":276,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-9856,-3088],"id":"7a05b218-9871-4390-94a6-0498f5347e9f","name":"Sticky Note10"},{"parameters":{"content":"## Agente de IA\nAgente inteligente com memória e prompt pré formatado","height":1336,"width":2068,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6896,-7984],"id":"31b3edbe-ecc6-47a5-a052-2e53fc9fd665","name":"Sticky Note11"},{"parameters":{"assignments":{"assignments":[{"id":"9f488c5c-0b3b-48e9-87b1-5a22d513d1ec","name":"IdConversa","value":"=   {{ $('Webhook').item.json.body.data.key.remoteJid.replace(\"@s.whatsapp.net\",\"\") }}","type":"string"},{"id":"69f6217f-9063-423f-abf4-e94f6b70f94e","name":"LeadNome","value":"= {{ $('Webhook').item.json.body.data.pushName }}","type":"string"},{"id":"6ba1d721-f125-47fb-ad7b-194cc478a856","name":"input_usuario","value":"=                        {{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"},{"id":"ba4188f4-3672-477b-a776-7eadc863140c","name":"mensagem_usuario","value":"=  {{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"},{"id":"33d4eb69-2991-4188-8b18-2ac04b7b2f74","name":"usario","value":"0","type":"string"}]},"options":{}},"id":"53c8acbc-ba50-48b3-bf41-d38b775ec224","name":"Dados Lead","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-12960,-2832],"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"Ajustes os filtros necessários conforme seu gatilho de entrada","height":280,"width":190,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-13408,-2912],"id":"e843f8bf-2eec-48d5-9226-943feabbca98","name":"Sticky Note1"},{"parameters":{"content":"Ajuste tempos de buffer e inatividade do agente conforme necessidade.\n","height":280,"width":190,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-13760,-2960],"id":"ad6061d4-0095-45da-ab5c-c9f2e3fe112a","name":"Sticky Note18"},{"parameters":{"assignments":{"assignments":[{"id":"3bdce7b6-d0f1-442c-aafd-8cd123aa21b6","name":"EsperaBuffer","value":1,"type":"number"},{"id":"c38e8985-4494-40a4-878e-f25467849842","name":"TempoInatividadeAgente","value":150,"type":"number"},{"id":"ac619a5e-1438-4e19-aaf5-21dfcbc32312","name":"ModeloTemperatura","value":0.4,"type":"number"},{"id":"cd3b0a32-e454-406e-84ad-b5efedc9c545","name":"empresa","value":"1","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-13728,-2832],"id":"9697cba7-4df2-455a-aa8b-13767473f3ea","name":"Parametros Fluxo","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/?utm_source=template-n8n","height":126,"width":593,"color":7},"id":"081fe256-d0e1-4fa9-8dac-860bcc2dfa32","name":"Sticky Note23","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-7840,-416]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00d2650d-52f9-4bf5-9b50-ec548c105222","leftValue":"={{ $json.lead_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-8160,-2880],"id":"d5eb91a0-faf4-4aa2-affa-0f6e3ae14efe","name":"Concatena"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"204f54b0-e3ed-4ff4-8302-8c20d3b8aa78","leftValue":"={{ $('Webhook').item.json.body.isGroup }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"c51986d9-f347-4198-89bb-9e4cd0f021c9","leftValue":"={{ $('Webhook').item.json.body.broadcast }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"05ee6414-0164-473b-8f82-225cfba55ad2","leftValue":"={{ $('Webhook').item.json.body.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"59453ca8-8599-4909-9040-2779c09bb64d","name":"Filtro Inicial1","type":"n8n-nodes-base.filter","typeVersion":2.1,"position":[-13360,-2832],"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-6368,-2624],"id":"4c8de601-cf68-4f27-b200-f0a2db86d314","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"jsCode":"  return [\n  {\n    json: JSON.parse( $input.first().json.text) // ou o campo correto de saída\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5712,-2816],"id":"3db5c23c-e4c5-441e-8ba9-c02bb9df1a69","name":"MsgUsuario"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"03a78ab2-9057-4ff5-baa5-8c37c432a94d","leftValue":"={{ $json.acao }}","rightValue":"cancelar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cancelar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e1b9d060-7def-4f5f-b587-657ed9c9ce85","leftValue":"={{ $json.acao }}","rightValue":"finalizar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Finalizar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3fc41f2-ee99-4de2-8841-2ae1a7da37db","leftValue":"={{ $json.acao }}","rightValue":"adicionar_item","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Adicionar Item"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"38045ee6-0b44-4b52-a79c-676c7ce5998a","leftValue":"={{ $json.acao }}","rightValue":"consultar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Consutar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4bbedcdd-6893-41a2-9e3d-bfc9b97ca10a","leftValue":"={{ $json.acao }}","rightValue":"desconhecida","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"desconhecida"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"42e2c65b-a99d-4991-ac87-a7ff8d84d4a5","leftValue":"={{ $json.acao }}","rightValue":"instrucao","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Instruções"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"23e65839-03f6-4879-8998-48ad2909ef94","leftValue":"={{ $json.acao }}","rightValue":"cardapio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cardapio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4f5a8ba2-c888-48cd-bbe2-ba09467e56a0","leftValue":"={{ $json.acao }}","rightValue":"humanizado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"humanizado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"996ac831-1b2b-4f3b-8efa-a53642a5d337","leftValue":"={{ $json.acao }}","rightValue":"detalhar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Detalhar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b6759ac0-49ef-4335-bf0c-ee38935c61f9","leftValue":"={{ $json.acao }}","rightValue":"cardapio_online","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cardapio_online"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5ba958dd-b3b7-4cfd-a85c-1d0e58a103e2","leftValue":"={{ $json.acao }}","rightValue":"excluir_item","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"excluir_item"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7ff222af-656b-42d7-b077-1c24c4afd7ca","leftValue":"{{ $json.acao }}","rightValue":"adiciobnar_ingrediente","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"adiciobnar_ingrediente"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-4992,-3168],"id":"df5dff62-eb9b-4f07-a007-a70368a273c4","name":"Switch"},{"parameters":{"descriptionType":"manual","toolDescription":"Execute a SQL query in Postgres","operation":"executeQuery","query":" SELECT * FROM busca_cardapio(pega_numeros_concatenados(  {{ $('Merge1').item.json.user_id }}  , {{ $('MergePedido').item.json.pedido_id }}));","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-2000,-1152],"id":"77aac7a5-7b47-4c91-9a6e-0f68476a42f2","name":"BuscaCardapio","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2656,-3072],"id":"172ed5cb-8b9f-4d47-97a0-09c133d52f17","name":"No Operation, do nothing8","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"httpMethod":"POST","path":"agente","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-14112,-2832],"id":"52671cad-26cd-4495-940c-eff54c5e1b56","name":"Webhook","webhookId":"66949457-5339-4325-b499-9a15d57ff6a1"},{"parameters":{"promptType":"define","text":"=<mensagem_do_usuario>\n {{ $('MensagemTraduzida').item.json.message }}\n</mensagem_do_usuario>","hasOutputParser":true,"messages":{"messageValues":[{"message":"= Você é um classificador de intenção para um pedido de pizzaria.\n\nDada a mensagem do cliente, responda APENAS com uma das seguintes ações:\n\n- adicionar_item → o cliente está pedindo uma pizza, bebida, etc., ou digitou \"1\" para adicionar mais itens\n- finalizar → se ele disser \"pronto\", \"fim\", \"pode fechar\", ou digitar \"4\"\n- cancelar → se ele disser que desistiu, quer cancelar ou digitar \"6\"\n- comentar → se ele faz observações tipo \"sem cebola\", \"sem queijo\", etc.\n- desconhecida → se não entender a mensagem\n- consultar → se o cliente deseja ver o resumo do pedido ou digitar \"5\" ou \"consulta\"\n- detalhar → se o cliente quer ver os detalhes dos itens do pedido ou digitar \"7\"\n- menu → se ele pedir o menu ou opções\n- instrucao →  o cliente diseer \"Instruções\", ou digitou \"2\" para adicionar mais itens\n- cardapio →  o cliente diseer \"Cardapio\", ou digitou \"3\" para ver o cardapio\n- cardapio_online →  o cliente disser \"Consultar pizza calabreza\" ou  \"Consultar esfirra  carne\"\n ou  \"Consultar  coca cola\"  ou  \"Consultar cerveja\"  ou  \"Consultar agua\"\n- excluir_item 8→  o cliente disser \"excluir 1\" disser  ou  \"excluir item 9\" ou disser \"quero excluir item 2\"\n\n- adicionar_item →  o cliente disser \"adicionar ingrediente cheddar ao item 3 \"    ou  \"adicionar ingrediente ovo ao item 3 \" ou disser \"adicionar mussarela ao item 2\", \"adicionar catupiry ao item 4\"\n\n- humanizado →  o cliente diseer \"humanizado\", ou digitou \"11\"  envie o numero de telefone humanizado\n\nRetorne **somente** nesse formato:\n\n{\n  \"acao\": \"adicionar_item\" | \"finalizar\" | \"cancelar\" | \"comentar\" | \"desconhecida\" | \"consultar\" | \"detalhar\" | \"menu\" | \"instrucao\"| \"cardapio\"| \"humanizado\"| \"excluir_item\" | \"cardapio_online\" \n}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-6352,-2896],"id":"18666f34-3844-4b37-b140-4cab5cf339fd","name":"Menu","retryOnFail":true,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"item_pedido_temp","mode":"list","cachedResultName":"item_pedido_temp"},"deleteCommand":"delete","where":{"values":[{"column":"user_id","value":"= {{ $('Merge1').item.json.user_id }}"},{"column":"status","value":"rejeitado"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-4096,-3392],"id":"b72f80e2-7e63-409a-99b7-6bb0d3406b0f","name":"ExcluiRejeitados","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"content":"","height":3740,"width":12636,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-16784,-12192],"id":"ae30458e-4f49-47e8-af39-4ade1146f1f5","name":"Sticky Note14"},{"parameters":{"tableId":"pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('Merge1').item.json.user_id }}"},{"fieldId":"status","fieldValue":"aberto"},{"fieldId":"valor","fieldValue":"0"}]}},"id":"3c74e864-c948-4abb-bfd2-b178607d6201","name":"CriaPedido","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-7456,-2720],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3419c30f-4400-401b-bf40-db1579507f96","leftValue":"={{ $json.user_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c71bf718-5970-4cb3-b25d-fdad99a489ba","name":"Cliente Pedido","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-7600,-2880],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"get","tableId":"pedido_temp","filters":{"conditions":[{"keyName":"user_id","keyValue":"={{ $('Merge1').item.json.user_id }}"}]}},"id":"d4c7b023-e838-4573-8556-28f89f4bbcba","name":"EncontrarPedido","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-7776,-2880],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3712,-4496],"id":"80f88402-1d68-4100-80c3-9b3a519158fa","name":"No Operation, do nothing1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3200,-4352],"id":"db972b18-b2ef-45ac-9839-f04763f41a93","name":"No Operation, do nothing2","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00d2650d-52f9-4bf5-9b50-ec548c105222","leftValue":"={{ $json.pedido_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7344,-2896],"id":"b00b6139-0a1c-4695-b4a0-2c77a98a777d","name":"ConcatenaPedido"},{"parameters":{},"id":"bb02d4e0-d35f-4694-a604-2dd0b7162d9e","name":"MergePedido","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-6688,-2896],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3728,-2240],"id":"d31a9c8a-e4e3-479b-9ccf-f4bf6faaf22d","name":"No Operation, do nothing3","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5e64e4bd-33c7-44a0-9deb-9f3d31db5a48","leftValue":"={{ $('Dados Lead').item.json.mensagem_usuario.toString().trim() }}","rightValue":"1","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2192,-3472],"id":"438a6b71-8307-4ca1-8b49-a1d2f3ec6d92","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-944,-3472],"id":"e9d99b7f-2129-4429-868e-92f88725e9dc","name":"No Operation, do nothing4","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2256,-2592],"id":"bfcdd3e2-a80b-4f1a-8471-7e1e37a1386e","name":"No Operation, do nothing7","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2672,-2592],"id":"c3660687-8110-4346-9942-e0718fcd9dd5","name":"Wait2","webhookId":"e7496148-e2c5-4de6-a720-b218f64657df"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3728,-2048],"id":"6941bd6f-503a-4890-b396-bfab789ba416","name":"No Operation, do nothing9","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":"select * from  cancela_pre_pedido( {{ $('Concatena').item.json.user_id }}, {{ $('MergePedido').item.json.pedido_id }}  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-4000,-4224],"id":"4f5d0274-e1b7-47a8-90fc-5e37f85b5157","name":"CancelarPedido","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3568,-1872],"id":"e7e3f787-67f4-4299-b90a-9d22e5816cb3","name":"No Operation, do nothing10","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3040,-2784],"id":"a9ada74a-4db4-4f69-84a9-679cb782a971","name":"No Operation, do nothing11","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"041e18dc-788b-45e7-9348-cca03ac28eee","leftValue":"={{ $json.status }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-8544,-2912],"id":"81fc366a-8a3d-4d3e-8ce1-ef28917b750b","name":"If2"},{"parameters":{"operation":"update","tableId":"usuario_lacantina","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $json.user_id }}"},{"keyName":"status","condition":"is","keyValue":"null"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"iniciado"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-8368,-3008],"id":"3b808fe7-6ab9-442b-9998-0664165cb23d","name":"IniciaAtendimento","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"usuario_lacantina","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $json.user_id }}"},{"keyName":"status","condition":"eq","keyValue":"iniciado"},{"keyName":"status","condition":"eq","keyValue":"iniciado"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"enviado"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-8368,-2848],"id":"78a77b6f-a8c8-41cc-85d4-2ce5bcc99f34","name":"AtendimentoEnviado","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aac1bbdf-a888-48b3-9539-12df30d4be7a","leftValue":"={{ $('StatusPedido').item.json.status?.toString().trim().toLowerCase() }}","rightValue":"enviado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3568,-2736],"id":"b95e0158-31cd-4e7c-9f3d-ef6271111f6d","name":"primeiro atendimento"},{"parameters":{"operation":"executeQuery","query":"select * from  cancela_pre_pedido( {{ $('Concatena').item.json.user_id }}, {{ $('MergePedido').item.json.pedido_id }}  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3952,-1872],"id":"93bf07b6-b02b-4605-bc47-f3b7fae84480","name":"Cancelar","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"options":{"temperature":0.2}},"id":"55ff8977-b4e7-4698-866c-83c8aca87a3a","name":"OpenAI Chat Model9","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-2368,-1200],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"Faça os ajustes necessários no Prompt do seu agente","height":220,"width":330,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2288,-1568],"id":"5bcf046b-25f4-4fd3-a3e2-30e7809303f2","name":"Sticky Note32"},{"parameters":{"sessionIdType":"customKey","sessionKey":"= {{ $json.telefone }}","tableName":"=n8n_chat_histories","contextWindowLength":8},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-2240,-1200],"id":"6384ac5b-f38c-4233-998a-2fe2449c7c01","name":"Postgres Chat Memory5","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"sseEndpoint":"https://marinhoinacio.app.n8n.cloud/mcp/notion-crm/sse","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[-2128,-1152],"id":"244a3fdb-7027-4817-ba7c-4d7a7e6c4c1b","name":"MCP Client2","disabled":true},{"parameters":{"content":"## Agente de IA\nAgente inteligente com memória e prompt pré formatado","height":720,"width":1380,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2496,-1664],"id":"f8461642-f299-42c3-95ff-d40d088cac80","name":"Sticky Note34"},{"parameters":{"promptType":"define","text":"= {{ $('Webhook').item.json.body.message.conversation }}","options":{"systemMessage":"= ## 🧠 Objetivo\n\nExecutar a ferramenta `BuscaCardapio()` e exibir ao cliente todos os itens válidos retornados.\n\n---\n\n### ⚙️ Instruções obrigatórias para a IA:\n\n1. Execute a ferramenta:\nBuscaCardapio()\n\n\n2. Carregue a resposta da ferramenta como `resultado_da_BuscaCardapio`.\n\n3. Para cada item da lista **resultado_da_BuscaCardapio**, exiba exatamente as informações nos campos:\n   - `numero`\n   - `nome`\n   - `descricao`\n   - `preco_grande`\n   - `preco_medio`\n\n4. Todos os itens da lista devem ser exibidos, **sem exceção**, na ordem original.\n\n5. Não filtre, não interprete e não oculte nenhum item.  \n   **Mesmo que não seja pizza, exiba como está.**\n\n\n### 📋 Formato de exibição:\n\nUse o seguinte modelo fixo para **cada item**:\n\n🔹 (número) nome – (G) R$preco_grande / (M) R$preco_medio\n📝 Descrição: descricao\n\n "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-2240,-1488],"id":"f43ce93c-8125-4bee-87d3-18286ccbf4e6","name":"AgenteBuscaCardapio","retryOnFail":true,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1392,-1488],"id":"1d499638-d1f7-40d2-a072-e54662f767e9","name":"No Operation, do nothing13","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"47e0125e-bf62-4c8f-8335-0cc431a9855a","leftValue":"={{ Boolean(($json.status ?? '').toString().trim().toLowerCase() !== 'aberto') }}","rightValue":"aberto","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"c1c4dc73-6ee1-4e07-b916-20250b456d39","leftValue":"={{ Boolean(($json.status ?? '').toString().trim().toLowerCase() !== 'enviado') }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6912,-3232],"id":"c8277592-89e2-40f3-bc26-9ecca35071f0","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-480,-3840],"id":"23ec2814-49e3-4c5a-9183-966e1f9c8b90","name":"No Operation, do nothing14","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('EncontrarPedido').item.json.status }}","rightValue":"=concluido","operator":{"type":"string","operation":"equals"},"id":"cb2ab091-b3c5-4c40-a698-b2d3608bac53"}],"combinator":"and"},"renameOutput":true,"outputKey":"concluido"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"301b7994-477f-4113-9820-a9bbfa71b04e","leftValue":"={{ $('EncontrarPedido').item.json.status }}","rightValue":"endereco","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"endereco"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4f958d7a-210f-43cd-96b3-1c0b512db3fd","leftValue":"={{ $('EncontrarPedido').item.json.status }}","rightValue":"bairro","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"bairro"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aa5bb530-006a-433b-a323-40bd0903e646","leftValue":"={{ $('EncontrarPedido').item.json.status }}","rightValue":"pagamento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pagamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"15d3100a-1a3d-4b03-b63c-b34f2bfe973c","leftValue":"={{ $('EncontrarPedido').item.json.status }}","rightValue":"comentario","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"comentario"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-6864,-7216],"id":"f0cd6bc2-e55b-4761-bc70-83e832021a29","name":"Switch2"},{"parameters":{"operation":"executeQuery","query":" UPDATE usuario_lacantina\nSET endereço = '{{ $('MensagemTraduzida').item.json.message }}'\nWHERE user_id = {{ $('Merge1').item.json.user_id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-6416,-7296],"id":"beafc500-4f22-4958-a5f0-a987a180d882","name":"AtualizaEndereço","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='bairro'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5984,-7296],"id":"cf4ad24b-82b4-4e8a-b26f-d0489e5e7b8f","name":"Execute a SQL query","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='pagamento'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-6032,-7104],"id":"6013f7d3-d331-4f4c-b222-43e6d5ead90f","name":"Execute a SQL query1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" UPDATE usuario_lacantina\nSET bairro = '{{ $('MensagemTraduzida').item.json.message }}'\nWHERE user_id = {{ $('Merge1').item.json.user_id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-6432,-7088],"id":"b1cb91ac-0158-4312-9201-5c20da13d462","name":"AtualizaBairro","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" update pedido_temp set tipo_cobranca = '{{ $json.pagamento }}'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-6032,-6896],"id":"20d02534-66b5-4ea8-b90d-17f4c51782b7","name":"AtualizaFormaPagamento","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"jsCode":" // Lê a frase (usa o atual ou pega do nó \"MensagemTraduzida\")\nconst raw =\n  $json.message ??\n  ($items('MensagemTraduzida', 0, 0)[0]?.json?.message ?? '');\n\n// Normaliza texto (sem acento/ruído)\nconst clean = String(raw)\n  .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n  .toLowerCase();\n\n// Levenshtein simples para “acertar” erros de fala/ASR\nfunction lev(a, b) {\n  const m = [];\n  const al = a.length, bl = b.length;\n  for (let i = 0; i <= al; i++) { m[i] = [i]; }\n  for (let j = 1; j <= bl; j++) { m[0][j] = j; }\n  for (let i = 1; i <= al; i++) {\n    for (let j = 1; j <= bl; j++) {\n      m[i][j] = (a[i - 1] === b[j - 1])\n        ? m[i - 1][j - 1]\n        : 1 + Math.min(m[i - 1][j], m[i][j - 1], m[i - 1][j - 1]);\n    }\n  }\n  return m[al][bl];\n}\n\n// Tokens para checagens\nconst tokens = clean.replace(/[^a-z0-9 ]+/g, ' ').split(/\\s+/).filter(Boolean);\nconst has = (re) => re.test(' ' + clean + ' ');\n\n// --- Regras / sinônimos / erros comuns ---\n// PIX (inclui erros típicos de ASR: peace/peeks/pics/picks etc.)\nconst rePix = /\\b(pix|chave pix|qr|qrcode|transfer(?:encia)?|peace|peeks?|peaks?|pics?|picks?)\\b/;\n// Cartão\nconst reCard = /\\b(cartao|cartao de credito|credito|debito|card|visa|master|elo|maquininha|pos|no cartao)\\b/;\n// Dinheiro\nconst reCash = /\\b(dinheiro|cash|especie|troco|cedula|nota)\\b/;\n\n// Fuzzy para PIX (palavra curta => tolerar até distância 2)\nconst fuzzyPix = tokens.some(t => lev(t, 'pix') <= 2);\n\n// Sinais\nconst isPix = has(rePix) || fuzzyPix;\nconst isCard = has(reCard);\nconst isCash = has(reCash);\n\n// Decisão (ajuste a prioridade se quiser)\nlet pagamento = 'Cartão';\nif (isPix) pagamento = 'Pix';\nelse if (isCard) pagamento = 'Cartão';\nelse if (isCash) pagamento = 'Dinheiro';\n\nreturn {\n  ...$json,\n  pagamento,           // <- valor normalizado p/ sua constraint\n  message_raw: raw,    // (opcional) debug\n  message_clean: clean // (opcional) debug\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6304,-6896],"id":"4c6ce3e4-f72c-4b3e-af50-5b7f671023d5","name":"Code1"},{"parameters":{"assignments":{"assignments":[{"id":"89704beb-b90e-4a95-bafd-d7e410686c45","name":"tipo_cobranca","value":"={{ $('MensagemTraduzida').item.json.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6480,-6896],"id":"28d890e5-c5a6-44f6-a305-ab2d0295c90e","name":"Edit Fields"},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='comentario'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5824,-6896],"id":"10d8077c-e8a6-4b75-9831-69f2d1527386","name":"Execute a SQL query3","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * from finalizar_pedido(   {{ $('Merge1').item.json.user_id }}  , {{ $('ConcatenaPedido').item.json.pedido_id }} ) ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-6160,-7808],"id":"70bdc645-e3d4-46f7-9d61-f7d74ecec252","name":"ConcluiPedido","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='enviado'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3040,-2592],"id":"f78818bb-aa6c-487e-b87e-849724f341e9","name":"Execute a SQL query4","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"0b4e2890-ac39-45d8-adef-ec2cf81d9a18","name":"status","value":"={{ $json.status.trim()}}","type":"string"},{"id":"03a84e54-72d2-4753-8abf-73a366f1d250","name":"pedido_id","value":"={{ $json.pedido_id }}","type":"number"},{"id":"3a72fd54-e456-4958-b10a-35970b741451","name":"user_id","value":"={{ $json.user_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7152,-3232],"id":"69d9107c-bd20-461f-adf3-31b1f8b5639e","name":"StatusPedido"},{"parameters":{"jsCode":"  // n8n Code node (Run Once for All Items)\n\n// Normaliza volume (2L etc.)\nfunction normVol(v) {\n  if (!v) return '';\n  v = String(v).trim().toLowerCase();\n  if (['un','uni','unid','unidade'].includes(v)) return '';\n  v = v\n    .replace(' litros','l').replace(' litro','l')\n    .replace('litros','l').replace('litro','l')\n    .replace(' lt','l').replace(' l','l')\n    .trim();\n  return v ? ' ' + v.toUpperCase() : '';\n}\n\n// Pega a lista de rejeitados de onde estiver (itens_rejeitados, coalesce, etc.)\nfunction getSrc(items) {\n  const j = (items[0]?.json) ?? {};\n  if (Array.isArray(j.itens_rejeitados)) return j.itens_rejeitados;\n  if (Array.isArray(j.coalesce)) return j.coalesce;\n  if (Array.isArray(j.rejeitados)) return j.rejeitados;\n  // tenta achar qualquer propriedade que seja array\n  const arrKey = Object.keys(j).find(k => Array.isArray(j[k]));\n  if (arrKey) return j[arrKey];\n  // fallback: cada item de entrada é um rejeitado\n  return items.map(i => i.json);\n}\n\nconst raw = getSrc(items) || [];\n\n// **Fix principal**: não use truthiness; use checagem por \"definido\"\nconst src = raw\n  .filter(x => x != null)\n  .map(x => (typeof x === 'object' && x !== null ? x : { numero: x }))\n  // defaults seguros\n  .map(o => ({\n    numero: (o.numero === undefined || o.numero === null || o.numero === '')\n              ? 0\n              : Number.isFinite(Number(o.numero)) ? Number(o.numero) : 0,\n    nome: (typeof o.nome === 'string' && o.nome.trim() !== '')\n              ? o.nome\n              : 'não encontrado',\n    volume: (o.volume ?? '').toString().trim(),\n  }))\n  // mantém itens que tenham pelo menos um campo \"presente\" (mesmo que 0/'não encontrado')\n  .filter(i => i.nome != null || i.numero != null);\n\nconst tem_rejeitados = src.length > 0;\n\nlet linhas = '';\nlet mensagem = '';\n\nif (tem_rejeitados) {\n  linhas = src\n    .map(i => `- ${i.nome && i.nome.trim() !== '' ? i.nome : (i.numero != null ? `Pizza ${i.numero}` : 'não encontrado')}${normVol(i.volume)}`)\n    .join('\\n');\n\n  mensagem = `📟 Seu(s) item(s) foi(ram) processado(s).✅\n❌ O seguinte item não foi reconhecido e será(ão) excluído(s):\n${linhas}\n🚫 Esse item foi ignorado e excluído do pedido.\n🔁 Corrija e reenvie esse(s) iten(s) agora.`;\n} else {\n  mensagem = `🛒 Seu(s) item(ns) foi(ram) adicionado(s) ao carrinho com sucesso ✅.`;\n\n}\n\nreturn [{ json: { mensagem, linhas, qtd: src.length, tem_rejeitados } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2928,-2960],"id":"49d52bb2-dd25-448f-956f-210d2d5ea68d","name":"Code3"},{"parameters":{"operation":"executeQuery","query":"   SELECT COALESCE(json_agg(sub), '[]'::json) AS  itens_rejeitados\nFROM (\n  SELECT\n    numero ,\n    quantidade,\n    categoria,\n    COALESCE(NULLIF(BTRIM(nome), ''), 'não encontrado')     AS nome,\n    COALESCE(volume, '')                                    AS volume\n  FROM item_pedido_temp \n  WHERE user_id =   {{ $('MontPedido').item.json.user_id }}  and pedido_id =  {{ $('MontPedido').item.json.pedido_id }}  \n    AND  status = 'rejeitado' and categoria <>  'borda'\n  union all SELECT\n    numero ,\n    quantidade,\n    categoria,\n    COALESCE(NULLIF(BTRIM(nome), ''), 'Borda sem pizza relacionada')     AS nome,\n    'Borda sem pizza relacionada'  AS volume\n  FROM item_pedido_temp \n  WHERE user_id =   {{ $('MontPedido').item.json.user_id }}  and pedido_id =  {{ $('MontPedido').item.json.pedido_id }}  \n    AND  status = 'rejeitado' and categoria = 'borda'\n) AS sub;\n\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2704,-2960],"id":"d1c13edf-7615-49ae-a33f-00ecbc5ca7b4","name":"Rejeite","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" SELECT rejeita_item( {{ $('MontPedido').item.json.user_id }}, {{ $('MontPedido').item.json.pedido_id }}  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2016,-2960],"id":"682833dc-8b9c-4fcf-94e7-7c0aa078a7c1","name":"RejeitaItem","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5b1ca74-f671-482f-98cf-bdd9441587c7","leftValue":"={{ $json.max_pedido_id}}","rightValue":"0","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2240,-3888],"id":"b01188bf-d7c6-440f-832f-72d2942edaba","name":"If3"},{"parameters":{"operation":"executeQuery","query":" \n SELECT COALESCE(MAX(pedido_id), 0)::bigint AS max_pedido_id\nFROM item_pedido_temp  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('MergePedido').item.json.pedido_id }}\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2432,-3888],"id":"7b251f65-f1ae-4a9e-a84a-c0631558298e","name":"VerificaItens","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"tableId":"comentario_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"pedido_id","fieldValue":"={{ $('ConcatenaPedido').item.json.pedido_id }}"},{"fieldId":"user_id","fieldValue":"={{ $('Merge1').item.json.user_id }} "},{"fieldId":"comentario","fieldValue":"={{ $('MensagemTraduzida').item.json.message }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6512,-6688],"id":"cbfc3ceb-b16a-43a8-ba32-f98f608ce590","name":"CriaComentario","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='endereco'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('MergePedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1952,-3840],"id":"1eb6d107-a386-40f0-b77d-d02f6141dda5","name":"FinalizarPedido","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1408,-4000],"id":"81717e45-a766-4a78-95ec-093333c02ed4","name":"No Operation, do nothing15","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='enviado'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('MergePedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1856,-4000],"id":"be5c3f08-811b-44bf-8861-cae7b835b95d","name":"VoltarParaItens","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" SELECT\n  '📍 Endereço:' || COALESCE(u.\"endereço\", '—')\n  || E'\\n🏘️ Bairro:  ' || COALESCE(u.bairro, '—')\n  || E'\\n💳 Pagamento:' || COALESCE(pt.tipo_cobranca, '—')\n  || E'\\n💬 Comentário:' || COALESCE(ct.comentario, '—')\n  AS mensagem\nFROM pedido_temp pt\nJOIN usuario_lacantina u\n  ON u.user_id = pt.user_id\nLEFT JOIN comentario_pedido_temp ct\n  ON ct.user_id = pt.user_id\n AND ct.pedido_id = pt.pedido_id\nWHERE\n  pt.user_id   = {{ $('Merge1').item.json.user_id }}\n  AND pt.pedido_id =  {{ $('ConcatenaPedido').item.json.pedido_id }}\nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-6304,-6688],"id":"d07cda6f-9667-4fa1-bb5b-ab9369f8a87f","name":"Confirmadados","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='concluido'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5632,-6688],"id":"4f36948d-582b-46da-902e-e310c2704a79","name":"Execute a SQL query5","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"04679e73-f2e9-4aba-990d-99dcf2768443","leftValue":"={{ $('Dados Lead').item.json.mensagem_usuario.trim() }}","rightValue":"1","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6640,-7584],"id":"48b2a6c8-d4c5-4b3a-b276-0801642f00b6","name":"If4"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5728,-7568],"id":"66c29f67-8f01-4781-8359-f17ccddee3c9","name":"No Operation, do nothing16","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='endereco'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-6160,-7568],"id":"60c258c4-c84d-46f3-8feb-ed7f638903f5","name":"FinalizarPedido1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" select calcula_pre_pedido({{ $('Merge1').item.json.user_id }}, {{ $('MergePedido').item.json.pedido_id }}  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3664,-3072],"id":"d4003517-3d50-4057-91d6-6f13815980ae","name":"Execute a SQL query2","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"select calcula_pre_pedido({{ $('Merge1').item.json.user_id }}, {{ $('MergePedido').item.json.pedido_id }}  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1760,-3840],"id":"ed9a8e85-9515-4d26-910a-10c8580d248d","name":"Execute a SQL query7","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-896,-3824],"id":"be786560-e8f7-4b37-87a7-e465339e73a4","name":"Wait4","webhookId":"f2e2ba32-d628-4657-aa0a-3cedc05e3647"},{"parameters":{"assignments":{"assignments":[{"id":"a8106197-1d10-438c-a9e7-07c17a8adfd0","name":"acao","value":"={{ $json.acao }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5296,-2992],"id":"4d310e5e-23eb-469b-8397-bf98ca460fab","name":"Acao"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5696,-7296],"id":"871fe4a8-0347-42fa-ac29-898e771deef4","name":"No Operation, do nothing17","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5728,-7104],"id":"6c0addac-b192-4cbd-96ea-d1d26b8ed7b0","name":"No Operation, do nothing18","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5392,-6688],"id":"ddf87f70-0778-4600-a453-4113819ee58c","name":"No Operation, do nothing19","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5360,-6896],"id":"c1097a29-c625-4e72-acf8-e4fd3e03e35d","name":"No Operation, do nothing20","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-5440,-7792],"id":"cf44766c-f6d4-4717-8b9e-59615f9fffbf","name":"Wait","webhookId":"33c5308c-6ef7-4028-8fb7-f0f46b8d615d","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6df36e53-74bd-45c5-9d92-2bb167c8b837","leftValue":"={{ $json.cancela_pre_pedido.length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3744,-4224],"id":"8dca8180-da58-4896-8c15-0704a4703f39","name":"If5"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3184,-4160],"id":"7a825b19-ff9b-4111-aa5a-9e0568398a02","name":"No Operation, do nothing21","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.bebidas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-96,-3504],"id":"c43f2f74-5b27-4582-82db-374310921199","name":"Bebidas","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":" output.pizzas_fracionadas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-96,-3232],"id":"d0f6d3b9-de78-402b-8fb4-4dcb0678da1c","name":"Pizzas Fracionada","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.pizzas_inteiras","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-128,-2976],"id":"827a3ee7-2226-472f-933b-6707b7ec98a4","name":"Pizzas Inteira","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.esfirras","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-112,-2736],"id":"d33d03a6-4930-421b-bb02-44d47ec8ae3c","name":"Esfirra","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"tipo","fieldValue":"bebida"},{"fieldId":"categoria","fieldValue":"bebida"},{"fieldId":"nome","fieldValue":"={{ $json.nome }}"},{"fieldId":"volume","fieldValue":"= {{ (($json.volume ?? '').toString().replace(/[\\s\\u00A0\\u200B-\\u200D\\uFEFF]+/g, '') === '')\n    ? ' volume desconhecido'\n    : ($json.volume ?? '').toString().replace(/[\\s\\u00A0\\u200B-\\u200D\\uFEFF]+/g, '') }}"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"},{"fieldId":"numero","fieldValue":"={{ (String($json.numero ?? '').trim() === '' \n    || Number(String($json.numero).replace(',','.').trim()) === 0)\n  ? null \n  : $json.numero }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[144,-3504],"id":"8d608792-ef6b-4c44-8cb2-77838b25e323","name":"Itembebida","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"categoria","fieldValue":"pizza"},{"fieldId":"fracionada","fieldValue":"true"},{"fieldId":"numero","fieldValue":"= {{ $json.metade1 }}"},{"fieldId":"numero_fracao","fieldValue":"={{ $json.metade2 }}"},{"fieldId":"tamanho","fieldValue":"grande"},{"fieldId":"fracionada","fieldValue":"true"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"},{"fieldId":"nome","fieldValue":"={{ $json.nome }}"},{"fieldId":"nome_fracao","fieldValue":"={{ $json.nome_fracao }}"},{"fieldId":"pizza_referencia","fieldValue":"={{$json.pizza_referencia.trim()}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[144,-3232],"id":"0a299eeb-3be5-4ebf-9b66-241a16954032","name":"ItemFracionado","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"categoria","fieldValue":"pizza"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"numero","fieldValue":"={{ String($json.numero ?? '').trim() === '' ? null : $json.numero }}"},{"fieldId":"tamanho","fieldValue":"={{ $json.tamanho.toLowerCase() }}"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"},{"fieldId":"nome","fieldValue":"={{ $json.nome?.trim() === '' ? null : $json.nome }}"},{"fieldId":"pizza_referencia","fieldValue":"={{ $json.pizza_referencia }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[128,-2976],"id":"bb1ac7bd-eed8-49fd-8ed7-24f097ad6e0f","name":"ItemInteira","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"tipo","fieldValue":"bebida"},{"fieldId":"categoria","fieldValue":"esfirra"},{"fieldId":"nome","fieldValue":"={{ $json.nome?.trim() === '' ? null : $json.nome }}"},{"fieldId":"tipo","fieldValue":"={{ $json.tipo?.trim() === '' ? null : $json.tipo }}"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"},{"fieldId":"numero","fieldValue":"={{ (String($json.numero ?? '').trim() === '' \n    || Number(String($json.numero).replace(',','.').trim()) === 0)\n  ? null \n  : $json.numero }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[96,-2736],"id":"ea211468-1a30-4947-8f6f-51829a29b3b6","name":"ItemEsfirra","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[896,-3008],"id":"471f01d4-87ba-4d62-aa90-f688bbbe216f","name":"Merge","alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[-784,-2816],"id":"83438f2e-6781-4069-b11d-1fe832cc0ba5","name":"Auto-fixing Output Parser","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-880,-2640],"id":"66842c5c-2d6e-42cb-a134-2cf797d9e8f6","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":" {\n  \"type\": \"object\",\n  \"properties\": {\n    \"pizzas_inteiras\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"numero\": { \"type\": \"integer\" },\n          \"tamanho\": { \"type\": \"string\" },\n           \"nome\": { \"type\": \"string\" },\n           \"pizza_referencia\":  { \"type\": \"string\" }\n          \n        },\n        \"required\": [\"quantidade\", \"numero\", \"tamanho\", \"pedido_id\"]\n      }\n    },\n    \"pizzas_fracionadas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"metade1\": { \"type\": \"integer\" },\n          \"metade2\": { \"type\": \"integer\" },\n            \"nome\": { \"type\": \"string\" },\n            \"nome_fracao\": { \"type\": \"string\" },\n           \"pizza_referencia\":  { \"type\": \"string\" }\n         \n        },\n        \"required\": [\"quantidade\", \"metade1\", \"metade2\",\"pedido_id\"]\n      }\n    },\n    \"bebidas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"nome\": { \"type\": \"string\" },\n          \"volume\": { \"type\": \"string\" }\n         \n        },\n        \"required\": [\"quantidade\", \"nome\", \"volume\",\"pedido_id\"]\n      }\n    },\n    \"esfirras\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"numero\": { \"type\": \"integer\" },\n          \"nome\": { \"type\": \"string\" },\n          \"tipo\": { \"type\": \"string\" }\n        },\n        \"required\": [\"quantidade\", \"numero\", \"nome\", \"tipo\"]\n      }\n    },\n    \"bordas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"numero\": { \"type\": \"integer\" },\n          \"nome\": { \"type\": \"string\" } ,\n           \"pizza_referencia\":  { \"type\": \"string\" },\n          \"tamanho\": { \"type\": \"string\" },\n           \"pizza_pai\":  { \"type\": \"integer\" } ,\n          \"categoria\": { \"type\": \"string\" }\n         \n    },\n        \"required\": [\"numero\", \"pizza_referencia\"]\n      }\n    },\n    \"item\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": { \n          \"nome\": { \"type\": \"string\" } ,\n           \"pizza_pai\":  { \"type\": \"integer\" } \n         \n    },\n        \"required\": [\"nome\", \"pizza_pai\"]\n      }\n    }\n\n    \n  },\n  \"required\": [\n    \"pizzas_inteiras\",\n    \"pizzas_fracionadas\",\n    \"bebidas\",\n    \"esfirras\",\n    \"bordas\" \n  ]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-736,-2656],"id":"f365f9de-cd87-4450-b588-9241ef28c601","name":"Structured Output Parser [Schema]1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"promptType":"define","text":"=<mensagem_do_usuario>\n{{ $json.texto_original }}\n</mensagem_do_usuario>","hasOutputParser":true,"messages":{"messageValues":[{"message":"=  {\n  \"pizzas_inteiras\": [\n    { \"quantidade\": int, \"numero\": int, \"tamanho\": str , \"nome\": str, \"pizza_referencia\": str  }   \n  ],\n  \"pizzas_fracionadas\": [\n    { \"quantidade\": int, \"metade1\": int, \"metade2\": int , \"nome\": str, \n\"nome_fracao\": str , \"pizza_referencia\": str }\n  ],\n  \"bebidas\": [\n    { \"quantidade\": int, \"nome\": str, \"volume\": str  }\n  ],\n \"esfirras\": [\n  { \"quantidade\": int, \"numero\": int, \"nome\": str, \"tipo\": str } // tipo: \"salgada\" ou \"doce\"\n  ],\n  \"bordas\": [\n    { \"numero\": int, \"nome\": str, \"pizza_referencia\": str , \"tamanho\": str, \"categoria\": str, \"pizza_pai\": int} \n\n\n\n// \"pizza_referencia\" = string que identifica a pizza onde será aplicada\n  ]\n \"item\": [\n    { \"nome\": str , \"pizza_pai\": int } //  \n  ]\n\n\n}\n\n⚠️ Regras obrigatórias:\n- Sempre retorne exatamente essas 5 listas, mesmo que estejam vazias.\n- Use apenas os nomes de campos e estrutura mostrados acima.\n- Retorne **apenas o JSON válido**, sem explicações, comentários ou texto adicional.\n\nSe o usuário informar apenas ‘pizza N’, não descarte. Gere {quantidade:1, numero:N, tamanho:'media'} em pizzas_inteiras.”\n\n“Nunca omita itens ambíguos; use defaults: quantidade=1, tamanho='media'.”\n\n“Não valide com o cardápio. A validação será feita depois; sempre retorne o item.”\n\n\"A palavra uma , duas  refere-se sempre  quantidade  exemplo uma  pizza mussarela ou uma pizza presunto e queijo é quantidade..\"\n\n\n\nPrioridade de interpretação\n\nSe houver padrões de pizza fracionada no formato {Q? 1/2 A (e|,|+|/) 1/2 B}, crie um item em pizzas_fracionadas com {quantidade: Q || 1, metade1: A, metade2: B}.\n\nNunca crie pizzas_inteiras para números A ou B quando eles estiverem dentro de um padrão fracionado.\n\nSó trate “pizza N” (inteira) quando não fizer parte de um padrão 1/2 N.  \n\nSo trate   \"pizza\" se tiver explicito que se trata de \"pizza\"\n\nSo trate   \"esfirra \" se tiver explicito que se trata de \"esfirra\"\n\n\nRegras específicas para BORDAS (muito importante):\n- Se a mensagem contiver “borda”, o texto imediatamente após a palavra “borda”\n  até antes de “ao item”, “no item”, “item”, “pizza” ou o fim da frase, é o campo \"nome\".\n- Normalize espaços e minúsculas (ex.: \"Borda   Cheddar\" → nome: \"cheddar\").\n- Sempre preencha \"categoria\":\"borda\" e \"pizza_pai\" com o número do item/pizza alvo quando presente (ex.: \"item 1\" → pizza_pai: 1).\n- Não use o campo \"item[]\"; bordas devem ir apenas em \"bordas[]\".\n- Defaults para borda quando ausentes: numero=0, tamanho=\"\", pizza_referencia=\"\".\n\n\n\nExemplos:\n\n“1 pizza 1/2 14  e 1/2 21” → pizzas_fracionadas: [{quantidade:1, metade1:14, metade2:21, nome:'', nome_fracao: '' } ]\n\n“2 1/2 10, 1/2 15” → pizzas_fracionadas: [{quantidade:2, metade1:10, metade2:15 , nome:'', nome_fracao: '' }]\n\n“14 e 21” (sem 1/2) → pizzas_inteiras: [{q:1,n:14,media},{q:1,n:21,media }]\n\n\n\n“1 pizza 1/2 mussarela  e 1/2 presunto e queijo ” → pizzas_fracionadas: [{quantidade:1, metade1:0, metade2:0, nome:mussarela, nome_fracao: presunto e queijo } ]\n\n“1 pizza meia  mussarela  e meia  presunto e queijo ” → pizzas_fracionadas: [{quantidade:1, metade1:0, metade2:0, nome:mussarela, nome_fracao: presunto e queijo } ]\n\nSe o cliente disser meia  interprete como 1/2\n\n\n \nBebidas — defaults e sinônimos (obrigatório)\n\nSe o cliente disser “lata” e não informar volume, use 350ml.\n\nSe o cliente disser “long neck” e não informar volume, use 330ml.\n\nSe o cliente pedir coca/coca-cola sem volume, use 2l.\n\nNunca rejeite bebidas por falta de volume quando se aplicar uma regra acima.\n\nNormalize o campo volume sempre em minúsculas e sem espaços (ex.: 350ml, 330ml, 2l).\n\nExemplos\n\n“3 long neck heineken” → bebidas: [{ \"quantidade\": 3, \"nome\": \"heineken\", \"volume\": \"330ml\" }]\n\n“lata bud” → bebidas: [{ \"quantidade\": 1, \"nome\": \"budweiser\", \"volume\": \"350ml\" }]\n\n“2 coca” → bebidas: [{ \"quantidade\": 2, \"nome\": \"coca cola\", \"volume\": \"2l\" }]\nPedido:\n{pedido}\n\nquando numa string de comando tiver 1 pizza musssarela  1 borda chedaar na qual o codigo da pizza não for identifica,  crie no campo   \"pizza_referencia\" uma amarração entre 1 pizza mussarela e borda   \"pizza_referencia\" pode ser um codigo unico. Isso vale tambpem para pizza fracionada \n\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-1008,-3088],"id":"cec1713b-71ea-4820-8a11-2259295bcea8","name":"Basic LLM Chain1","retryOnFail":true,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"3f5c86ea-fcc2-4783-8210-a28ce186597d","name":"chatInput","value":"=  {{ $('MensagemTraduzida').item.json.message }}","type":"string"},{"id":"57ddce63-da48-426f-85ae-c63b16da57fa","name":"user_id","value":"={{ $('Merge1').item.json.user_id }}","type":"number"},{"id":"01f0d23c-4a6a-4f2f-b986-7acfe7c4b65b","name":"pedido_id","value":"={{ $('MergePedido').item.json.pedido_id }}","type":"number"},{"id":"0718edfa-d295-496a-bfa1-f8e591daf83b","name":"telefone","value":"={{ $('Dados Lead').item.json.IdConversa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3648,-3392],"id":"178b7d11-672f-4189-8666-9be32b1dfd39","name":"MontPedido"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"item_pedido_temp","mode":"list","cachedResultName":"item_pedido_temp"},"deleteCommand":"delete","where":{"values":[{"column":"user_id","value":"= {{ $('Merge1').item.json.user_id }}"},{"column":"status","value":"rejeitado"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3904,-3072],"id":"c48e2408-1860-4b9a-8641-942eaf994434","name":"ExcluiRejeitados1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"delete from  comentario_pedido_temp  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-6368,-7568],"id":"a4cdcc2f-1864-4a52-a2a2-48cd3bb10d57","name":"ExcluiComentario_temp","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1584,-3472],"id":"d39f2871-3afa-418e-ba03-d9b57018ac28","name":"Wait5","webhookId":"f2e2ba32-d628-4657-aa0a-3cedc05e3647"},{"parameters":{"jsCode":" // Code node (JavaScript) — Run Once for All Items\n// Captura fracionadas e remove do texto para a LLM\n\nconst inputItems = $input.all();   // <- aqui está a correção\nconst out = [];\n\nfor (const { json } of inputItems) {\n  const raw = String(json.chatInput ?? '');\n\n  // normalização leve\n  let norm = raw\n    .toLowerCase()\n    .replace(/[–—−]/g, '-')               // hífens\n    .replace(/\\b(meia|metade)\\b/g, '1/2') // \"meia/metade\" -> 1/2\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  const fracionadas = [];\n\n  // [qtd?][x?] 1/2 A (e|,|+|/) 1/2 B  (evita confundir 2L, etc.)\n  const re = /\\b(?:(\\d+)\\s*x?\\s*)?1\\/2\\s*(\\d{1,3})(?!\\s*[a-z])\\s*(?:e|,|\\+|\\/)\\s*1\\/2\\s*(\\d{1,3})(?!\\s*[a-z])\\b/gi;\n\n  // uma passada: coleta e remove\n  let rest = norm.replace(re, (_full, q, a, b) => {\n    fracionadas.push({\n      quantidade: q ? parseInt(q, 10) : 1,\n      metade1: parseInt(a, 10),\n      metade2: parseInt(b, 10),\n    });\n    return ' ';\n  });\n\n  rest = rest.replace(/\\s+/g, ' ').trim();\n\n  out.push({\n    json: {\n      ...json,                 // preserva campos existentes (user_id, pedido_id, etc.)\n      texto_original: raw,\n      texto_limpo: rest,       // passe ESTE texto para a LLM\n      fracionadas, \n    telefone:  $input.first().json.telefone\n      //depois some com pizzastelefone_fracionadas da LLM\n    },\n  });\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3376,-3392],"id":"e28406bd-a2e9-41e8-a211-2cbe7ef938d3","name":"Code2"},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"={{ $json.original }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-9424,-2864],"id":"89e881ea-e88d-43ac-86c9-7a588726b822","name":"Enviar texto","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"content":"## Humanizar Resposta\nQuebra de mensagens em mensagens menores e com contexto.","height":616,"width":580,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2864,-5280],"id":"addbb638-b3fd-4929-bf26-ea6b7371fba4","name":"Sticky Note12"},{"parameters":{"content":"Ajuste sua instância e autenficiação da Z-API","height":300,"width":230,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4080,-5072],"id":"ab7bb127-90f0-4608-8976-c9dd13fa15c0","name":"Sticky Note22"},{"parameters":{"content":"## Envio das Respostas ao Usuário\nEnvio das mensagens quebradas para o usuário","height":760,"width":900,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4272,-5360],"id":"071b4c58-e2b5-4458-8bca-3ffc79e578ca","name":"Sticky Note13"},{"parameters":{"content":"Ajuste o Node Set com os campos relevantes fornecidos.\n","height":296,"width":306,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-13056,-2912],"id":"9ab79777-a465-45db-9c48-5e480b1acdf2","name":"Sticky Note"},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= 🍕 *Bem-vindo(a) à Pizzaria La Cantina!*\nConfira nossos cardápios:\n📄  *Pizzas*:\n https://xqweduudelsukanrzekj.supabase.co/storage/v1/object/public/imagens_pizza/pixa%20(1).jfif\n\n📄 *Esfirras*:  \n https://xqweduudelsukanrzekj.supabase.co/storage/v1/object/public/imagens_pizza/cardapio%20esfirra%20(3)%20(2).jfif\n\n\nVamos começar seu pedido!\n\n","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3952,-2048],"id":"cc30450b-1111-401b-99da-fb2e1ba664b6","name":"MenuCardapio","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=``` 🍕 Vamos começar o seu pedido?\nVeja como você pode digitar corretamente os itens que deseja:\n✅ Exemplos válidos:\n- Pizza 17 grande com borda de catupiry\n- Pizza 12 média  e uma 14 grande e uma Coca-Cola 2L\n- Pizza 14 grande 1/2 18 e 1/2 22\n\n Assista \n Video 1 youtube:\n https://www.youtube.com/watch?v=3qEcTRINRRI\n Video 2 youtube\nhttps://www.youtube.com/watch?v=MKVI2r1B9fI\n\n📝 Dica: Você pode digitar tudo em uma única frase, como:\n- \"Quero uma pizza 17 grande com borda cheddar e uma Coca 2L e  Pizza 14 grande 1/2 18 e 1/2 22\"\n Quando quiser, é só me enviar seu pedido!```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3936,-2240],"id":"536cef90-e516-4889-b609-79694bb4f3a9","name":"MenuCardapio2","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= 🗑️ {{ $('Dados Lead').item.json.LeadNome }}, o seu pedido foi *cancelado* com sucesso.\nSe quiser começar um *novo pedido*, estou por aqui!\n📞 O telefone para atendimento humanizado é *(16) 99406-6336*","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3744,-1856],"id":"271caac4-303a-494a-905a-df73c0c71a4b","name":"MenuCardapio3","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= {{ $json.output.replace(/\\n/g, '\\n') }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1888,-1488],"id":"72bf6db7-ba9c-4265-be76-fad1b597339c","name":"MenuCardapio4","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=```4-Concluir\n5-Consultar\n6-Cancelar \n7-Detalhar\nExcluir Item\nIncluir Itens```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1648,-1488],"id":"2cf659ce-d637-42ff-8fe9-5e29c728ec0a","name":"MenuCardapio5","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=O seu *pedido ou comando* não foi identificado.\nVocê quiz dizer ? {{ $('MensagemTraduzida').item.json.message }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3248,-2784],"id":"b718c52f-64c5-4d6b-9f3e-686aaf8d1f9e","name":"MenuCardapio6","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=😀 Olá, seja bem-vindo(a) ao atendimento digital da *La Cantina*.\n🕗 Nosso horário de atendimento é de *TERÇA a DOMINGO* das *18:00h às 23:00h*.\n⚠️ Caso queira atendimento *Humanizado* digite *8*. Caso contrário, continue neste atendimento.\n👉 Digite o número das opções abaixo para o que deseja solicitar.\n🍕 É rapidinho 🚀 já estou enviando o *Cardápio*, aguarde... 📤","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3232,-2592],"id":"d0f87df1-d30a-462d-b009-fe5b71618eb3","name":"MenuCardapio7","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=🍕 *Bem-vindo(a) à Pizzaria La Cantina!*\nConfira nossos cardápios:\n📄 *Pizzas*: http://bit.ly/46zTglu\n📄 *Esfirras*: https://bit.ly/4fcO5Km\nVamos começar seu pedido!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2864,-2592],"id":"b1fa0ca2-58c6-45f6-8ddd-0e12d811d9bb","name":"MenuCardapio8","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=🧾 *Escolha uma opção abaixo:*\n1️⃣ *Adicionar itens ao pedido*\n2️⃣  *Ver instruções para pedir corretamente*\n*Responda com 1 ou  2  para continuar.*","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2480,-2592],"id":"21cd9fce-a2cc-45b2-945e-78f9de0455bc","name":"MenuCardapio9","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"={{ $json.texto_alinhado }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3264,-3072],"id":"ea06b09e-a388-4272-af30-66056decf24d","name":"MenuCardapio10","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"={{ $json.original }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2848,-3072],"id":"f2c4c8c6-76d5-477e-a79e-9e1457a3e9e1","name":"MenuCardapio11","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"= {{$('Dados Lead').first().json.IdConversa}}\n","messageText":"=``` {{ JSON.stringify($('Code3').first().json.mensagem).replace(/\\\\n/g, '\\n')  }}```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3136,-2960],"id":"ddb2d312-fc4f-43cc-803d-4e3b8fbdc6fc","name":"MenuCardapio12","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=```👌 Execelente vamos adicionar novos itens? \n      Quer um exemplo? \n      1 pizza 19 grande, uma 1/2 14 e 1/2  21 e uma guarana antartica 2l e 3 esfirras carne.```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1808,-3472],"id":"fa135d4f-211a-426c-be5b-8ade814d6fbf","name":"MenuCardapio14","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=``` ⏳ Processando...  ```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3872,-3392],"id":"ea83b2b5-79e2-4f51-9770-2d4b2cc935c9","name":"MenuCardapio15","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"={{ $json.calcula_pre_pedido.replace(/\\n/g, '\\n') }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2960,-4288],"id":"42d339a6-38ca-4561-9737-e2ee335b8322","name":"MenuCardapio18","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=\"📍 Informe o endereço e número para a entrega:\" ","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-704,-3840],"id":"879dfcd7-be88-4874-8362-bf521273b799","name":"MenuCardapio19","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= \n✨ Estamos *Finalizando* ✨\n\n⏭️ Próximo passo: informar\n📍 *Endereço*\n🏘️ *Bairro da entrega*\n💳 *Forma de Pagamento*\n✍️ *Comentários* ou 🙅‍♀️ *Restrições*","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1184,-3840],"id":"549fd48d-60f6-4b1c-b61e-9776270a2180","name":"MenuCardapio20","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=Não encontramos nenhum item no seu pedido. \nDigite *5* para *consultar*.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1648,-4000],"id":"998b32ae-19f3-47f9-aa26-834a270f50e8","name":"MenuCardapio21","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= 🧾 *Escolha uma opção abaixo:*\n       *1.* Adicionar itens ao pedido.\n       *2.* Ver instruções para pedir corretamente.\n       *3.* Ver cardápio completo\n       *4.* Concluir pedido.\n       *5.* Consultar pedido atual.\n       *6.* Cancelar pedido.\n       *7.* Detalhar itens do pedido.\n       * Escolha* uma opção para continuar.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3984,-4496],"id":"c8ac857d-3641-4635-8342-470238162921","name":"MenuCardapio22","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= 🗑️ {{ $('Dados Lead').item.json.LeadNome }}, o seu pedido foi cancelado com sucesso. Vamos começar um novo pedido!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3472,-4352],"id":"d6d7b503-0e9c-4f9d-9c55-71e541a2f134","name":"MenuCardapio23","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= 🗑️ {{ $('Dados Lead').item.json.LeadNome }}, não encontratmos dados a ser excluido. Vamos começar um novo pedido!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3456,-4160],"id":"df4e7ad3-94ef-4bc4-86e7-73271ad59466","name":"MenuCardapio24","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=Confirme os  dados de *endereço* e *forma de pagamento*.\n*1* ✅ Confirmar  \n*2* ↩️ Voltar aendereço.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-5856,-6688],"id":"f8a8373d-1a14-4406-815a-cce826250f0f","name":"MenuCardapio25","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"={{ $json.mensagem }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-6080,-6688],"id":"e9553747-b6f9-4399-9498-03e20a4ce142","name":"MenuCardapio26","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= Algum comentário ou restrição ao seu pedido? ","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-5568,-6896],"id":"8d330619-fc88-4846-8568-9accdd264cbe","name":"MenuCardapio27","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= 💳 Como será o pagamento? Pode ser Pix, Cartão ou Dinheiro?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-6240,-7104],"id":"3d85113f-d69a-42ee-897d-a484df95720d","name":"MenuCardapio28","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= Qual é o bairro da entrega?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-6208,-7296],"id":"26c55bfc-d2f3-49fa-a863-25ea5ff8ebce","name":"MenuCardapio29","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= 🏍️Por favor, informe o endereço e número para a entrega:","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-5936,-7568],"id":"2fff5e3b-214b-499a-8950-a7dfe031b4e0","name":"MenuCardapio30","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= {{ $json.finalizar_pedido.replace(/\\n/g, '\\n') }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-5632,-7936],"id":"db13e302-76d3-4783-8751-23fe08098402","name":"MenuCardapio31","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= Estamos encerrando seu chamado.\nMuito Obrigado!!\n© 2025 Luis Gustavo Landucci — Right by LG","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-5232,-7792],"id":"3d78e50d-26ac-4e0f-9397-c49fd7a5ab53","name":"MenuCardapio32","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"operation":"executeQuery","query":" UPDATE public.pedido_temp p\nSET \n  valor  = COALESCE((\n    SELECT SUM(i.valor)\n    FROM public.item_pedido_temp i\n    WHERE i.user_id = p.user_id\n      AND i.pedido_id = p.pedido_id\n  ), 0) + 3\nWHERE p.user_id  = {{ $('Merge1').item.json.user_id }}\n  AND p.pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }};\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-6368,-7808],"id":"50e39c89-e868-40bd-b829-ac885e88cdc7","name":"AtualizaSumPedidoTemp","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"bc64f125-d93c-4d1d-97ae-65c0adb08b79","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f7053057-3e82-49ad-a2bf-07bafc958f06","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"137aec3f-e95e-4d59-b9ba-1140f9fc4fb4","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals"},"id":"40b284c8-fdf7-49e5-9ac3-8c5051f51521"}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7babc8fd-200c-4cb8-bc63-f999f57d5217","leftValue":"={{ $('Webhook').item.json.body.data.message.documentWithCaptionMessage.message.documentMessage.mimetype }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Outro"}},"id":"0ca16946-edee-44b3-8fc8-456764c34cff","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3.1,"position":[-12256,-2848],"notesInFlow":true,"notes":"Ajustar condições para cada tipo de mensagem a depender da sua entrada de dados\n\nTEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data","options":{"language":"pt"}},"id":"71091022-6080-456b-b2c0-401f94abbfc6","name":"Transcrever Áudio1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[-11552,-2864],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"=#Instruções\nO usuário te enviou uma imagem a qual você deve descrever.\n\nA imagem pode vir acompanhada de uma mensagem de texto (<MensagemUsuario>)\n\nCaso venha, utilize a mensagem anexa como contexto extra, tente capturar o sentimento da mensagem e objetivo pelo qual o usuário esteja enviando esta imagem na conversa.\n\nCrie uma resposta descrevendo as informações enviadas para que estas sejam utilizadas por um agente no futuro.\n\nLembre-se:\nEste agente apenas terá as informações que você fornecer, portanto repasse toda informação que julgar importante.\n\n#Dados\n<MensagemUsuario>\n{{ $json.MensagemImagem }}\n</MensagemUsuario>\n","inputType":"base64","options":{}},"id":"b3845131-8527-4bcb-b6f1-5aad006b085e","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[-11552,-2704],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"amount":"={{ $('Parametros Fluxo').item.json.EsperaBuffer }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-10816,-2784],"id":"65441867-d7aa-4aee-b6b7-f8feefb3ff80","name":"Wait1","webhookId":"169ea291-c3dc-4bca-854f-05520c979d7d","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bd6c365-d077-4284-9dfe-94db1cbe39bd","leftValue":"={{ $('Buffer 3').item.json.messages.last() }}","rightValue":"={{ $('Buffer ').item.json.messages.last() }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-10496,-2784],"id":"4ffac93b-8dd4-4edf-97a0-55e82adc4661","name":"ComparandoMensagens1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"get","propertyName":"messages","key":"={{ $('Dados Lead').item.json.IdConversa }}_buffer","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-10976,-2784],"id":"467ae411-f1a1-4b6c-a081-da9a48cc8d4f","name":"Buffer ","credentials":{"redis":{"id":"AvuP6JWzf8sxsD3n","name":"Redis account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"get","propertyName":"messages","key":"={{ $('Dados Lead').item.json.IdConversa }}_buffer","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-10656,-2784],"id":"694d79db-6198-4108-8532-dac657d0df75","name":"Buffer 3","credentials":{"redis":{"id":"AvuP6JWzf8sxsD3n","name":"Redis account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"push","list":"={{ $('Dados Lead').item.json.IdConversa }}_buffer","messageData":"={{ $json.Texto }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-11248,-3184],"id":"ba05176c-afcd-4315-b0ea-1a93d79f5877","name":"Add Texto Buffer1","credentials":{"redis":{"id":"AvuP6JWzf8sxsD3n","name":"Redis account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"delete","key":"={{ $('Dados Lead').item.json.IdConversa }}_buffer"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-10352,-2896],"id":"7d3a21bf-8899-44bc-beab-8fd91212840e","name":"Apagar Buffer1","credentials":{"redis":{"id":"AvuP6JWzf8sxsD3n","name":"Redis account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"c1ce011b-bd95-468e-863e-f2076f644cf9","name":"Texto","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-12032,-3184],"id":"fdc64d42-c8b0-443e-89e6-5f3302af3ad0","name":"Mensagem Texto1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"5efc6961-1ff7-4ef2-a772-7e9761592a3e","name":"Audio","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-12032,-2864],"id":"adb45536-8466-4e90-ab9b-62d3a182cbdb","name":"Mensagem Audio1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"5efc6961-1ff7-4ef2-a772-7e9761592a3e","name":"Imagem","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"},{"id":"f5c70ab5-7671-4bc8-9d23-65b8954ddb08","name":"MensagemImagem","value":"={{ $('Webhook').item.json.body.data.message.imageMessage.caption }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-12032,-2704],"id":"8ed5d075-7555-4d7a-b0ac-0c2dfede763f","name":"Mensagem Imagem1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"push","list":"={{ $('Dados Lead').item.json.IdConversa }}_buffer","messageData":"={{ $json.text }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-11248,-2864],"id":"fc455233-39ab-4955-a251-c8c0a56b6824","name":"Add Audio Buffer1","credentials":{"redis":{"id":"AvuP6JWzf8sxsD3n","name":"Redis account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"push","list":"={{ $('Dados Lead').item.json.IdConversa }}_buffer","messageData":"={{ $json.Erro }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-11248,-2368],"id":"6ce2a774-2168-4fbd-8f3c-8d90dcb0c661","name":"Add Error Buffer1","credentials":{"redis":{"id":"AvuP6JWzf8sxsD3n","name":"Redis account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-11552,-2544],"id":"99221708-45d9-4842-87a6-a140d8007217","name":"Extract from File","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"11dc126a-e72e-431b-8db5-c78168c69439","name":"Erro","value":"<ErroFormatoMensagem>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-12032,-2368],"id":"bb8496ed-96ad-4791-8352-d1ddc8814b9a","name":"Mensagem Erro1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"push","list":"={{ $('Dados Lead').item.json.IdConversa }}_buffer","messageData":"=<ContextoPDF>\n  <TranscricaoPDF>\n{{ $json.text }}\n  </TranscricaoPDF>\nContexto Extra: O usuário encaminhou a mensagem a seguir junto ao PDF.\n  <MensagemUsuario>\n{{ $('Mensagem Documento PDF').item.json.MensagemDocumento }}\n  </MensagemUsuario>\n</ContextoPDF>","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-11248,-2544],"id":"54d607bf-91c1-4f34-91ea-6068ebe37bd3","name":"Add PDF Buffer1","credentials":{"redis":{"id":"AvuP6JWzf8sxsD3n","name":"Redis account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"push","list":"={{ $('Dados Lead').item.json.IdConversa }}_buffer","messageData":"=<ContextoImagem>\n\n  <DetalheImagem>\n{{ $json.content }}\n  </DetalheImagem>\n\nContexto Extra: O usuário encaminhou a mensagem a seguir junto á imagem.\n  <MensagemUsuario>\n{{ $('Mensagem Imagem1').item.json.MensagemImagem }}\n  </MensagemUsuario>\n\n</ContextoImagem>","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-11248,-2704],"id":"0db30c4d-f1ab-401a-9d8c-81566344387a","name":"Add Imagem Buffer1","credentials":{"redis":{"id":"AvuP6JWzf8sxsD3n","name":"Redis account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"get","propertyName":"AgenteStatus","key":"={{ $('Parametros Fluxo').item.json.IdAgente }}_status_{{ $('Dados Lead').item.json.IdConversa }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-12704,-2832],"id":"1d9d6e11-6441-4cf9-9672-aa94927d0178","name":"Redis","credentials":{"redis":{"id":"AvuP6JWzf8sxsD3n","name":"Redis account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-10096,-2688],"id":"391e9bdc-76c5-470d-9574-d4df11c5f4d2","name":"No Operation, do nothing6","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"756ab323-31a2-4a59-92e8-c2c695027962","leftValue":"={{ $json.AgenteStatus }}","rightValue":"Desativado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-12544,-2832],"id":"e68977f3-c385-4190-a7a1-a085dc2e4555","name":"Bot Desativado?1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-12368,-2960],"id":"3c02e2fb-7b3e-49b3-a305-fa07e1831c96","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"5efc6961-1ff7-4ef2-a772-7e9761592a3e","name":"Documento","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"},{"id":"003323ec-ffbe-4c91-b8b5-623466b5014d","name":"MensagemDocumento","value":"={{ $('Webhook').item.json.body.data.message.documentWithCaptionMessage.message.documentMessage.caption }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-12032,-2544],"id":"eaa320f1-f7a5-4674-831e-9ac37a4cae6b","name":"Mensagem Documento PDF","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"toBinary","sourceProperty":"Imagem","options":{"mimeType":"image/png"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-11776,-2704],"id":"02722221-c001-4e08-b361-3f4444f0ed9e","name":"Convert to File"},{"parameters":{"operation":"toBinary","sourceProperty":"Audio","options":{"mimeType":"audio/mp4"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-11776,-2864],"id":"13a57dbe-f63f-4c55-be71-76ce402ff747","name":"Convert to File1"},{"parameters":{"operation":"toBinary","sourceProperty":"Documento","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-11776,-2544],"id":"9ca7f566-f29f-4928-bec0-f98c10b20c69","name":"Convert to File2"},{"parameters":{"assignments":{"assignments":[{"id":"c1ce011b-bd95-468e-863e-f2076f644cf9","name":"Texto","value":"={{ $('Webhook').item.json.body.data.message.extendedTextMessage.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-12032,-3024],"id":"c4ea2375-b696-4bc7-9efa-ca60db3fa570","name":"Mensagem Texto2","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"66a91f66-e755-4120-b22f-44c814f56162","name":"message","value":"={{ $json.comando }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-9792,-2864],"id":"3c9e8fbe-c213-4d8a-ad57-c5c165b4682a","name":"MensagemTraduzida","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"={{ $json.original }}  ","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-9088,-2864],"id":"a1825cfa-a7cf-480c-b3d9-4843ab28bbd8","name":"MenuCardapio33","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"Não encontramos nenhum item no seu pedido. Digite *5* para *consultar*.\" \n  }\n}","options":{}},"id":"f90bf92a-6937-41f7-859e-c8e5f1e520e4","name":"MsgRejeitaFinalizar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2720,-4272]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"01c2c18a-5148-4c7d-b5cd-72c66d6595a5","leftValue":"={{ $('ConcatenaPedido').item.json.status }}","rightValue":"aberto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5968,-2896],"id":"e26e9f1b-5974-40ff-b1d1-a6dae18d904d","name":"If7"},{"parameters":{"jsCode":"  return [\n  {\n   \"acao\" : \"desconhecida\"// ou o campo correto de saída\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5728,-2992],"id":"c72dcca2-5b3d-4f55-bc83-e4bfda5e4bcc","name":"MsgUsuario1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-5488,-2976],"id":"f1cc3901-1383-49f0-b817-db3067c74e21","name":"Merge2"},{"parameters":{"jsCode":" const raw = ($json.calcula_pre_pedido || \"\").replace(/\\r\\n/g, \"\\n\");\nconst txt = raw.trim();\n\nif (!txt) {\n  return { texto_alinhado: \"não existe registro\" };\n}\n\nconst lines = txt.split(\"\\n\").map(l => l.trimEnd());\n\n// Se não tiver \"Resumo:\", devolve o corpo original\nconst start = lines.findIndex(l => /resumo:/i.test(l));\nif (start === -1) {\n  return { texto_alinhado: txt };\n}\n\nlet end = lines.findIndex((l, i) => i > start && (\n  /forma de pagamento/i.test(l) || /entrega:/i.test(l) || /total:/i.test(l) || /total de itens/i.test(l)\n));\nif (end === -1) end = lines.length;\n\nconst header = lines.slice(0, start + 1);\nconst itemLines = lines.slice(start + 1, end).filter(l => l.trim());\nconst footer = lines.slice(end);\n\n// ---- parsing ajustado ----\nconst parsed = itemLines.map(line => {\n  const match = line.match(/(R\\$\\s*[\\d\\.,]+)$/);\n  if (!match) return { num: \"\", desc: line.trim(), valor: \"\" };\n\n  const valor = match[1].replace(\"R$\", \"\").trim();\n  const left = line.slice(0, match.index).trim();\n\n  // captura do número inicial (ex: (1) Nome ...)\n  const numMatch = left.match(/^\\((\\d+)\\)\\s*(.*)$/);\n  let num = \"\", desc = left;\n  if (numMatch) {\n    num = numMatch[1];\n    desc = numMatch[2].trim();\n  }\n\n  return { num, desc, valor };\n});\n\nconst maxNum = parsed.reduce((m, o) => Math.max(m, o.num.length), 0);\nconst maxDesc = parsed.reduce((m, o) => Math.max(m, o.desc.length), 0);\n\n// monta itens alinhados com cabeçalho\nconst itensAlinhados = [\n  \"Item \".padEnd(maxNum + 2, \" \") +\n  \"Descrição\".padEnd(maxDesc + 4, \" \") +\n  \"Valor\"\n];\n\nparsed.forEach(o => {\n  itensAlinhados.push(\n    o.num.padEnd(maxNum + 2, \" \") +\n    o.desc.padEnd(maxDesc + 4, \" \") +\n    \"R$ \" + o.valor\n  );\n});\n\n// ---- corpo final ----\nconst corpo = [\n  ...header,\n  ...itensAlinhados,\n  ...footer\n].join(\"\\n\");\n\nreturn { texto_alinhado: \"```\\n\" + corpo + \"\\n```\" };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3472,-3072],"id":"d4f0af5a-8169-4725-ac3a-10e0b5eacf0b","name":"Code5"},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"={{ $json.texto_alinhado }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1376,-3840],"id":"ec3057ff-9311-41f9-9a92-52d7c2a4b29c","name":"MenuCardapio37","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"jsCode":" const raw = $json.calcula_pre_pedido || \"\";\nconst txt = raw.replace(/\\r\\n/g, \"\\n\");\nconst lines = txt.split(\"\\n\").map(l => l.trimEnd());\n\n// Identifica onde começa e termina a lista de itens\nconst start = lines.findIndex(l => /resumo:/i.test(l));\nlet end = lines.findIndex((l, i) => i > start && (\n  /forma de pagamento/i.test(l) || /entrega:/i.test(l) || /total:/i.test(l) || /total de itens/i.test(l)\n));\nif (end === -1) end = lines.length;\n\n// Cabeçalho = tudo até \"Resumo:\"\nconst header = start >= 0 ? lines.slice(0, start + 1) : [];\n// Itens = linhas entre \"Resumo:\" e \"Forma de pagamento\"\nconst itemLines = (start >= 0 ? lines.slice(start + 1, end) : []).filter(l => l.trim());\n// Rodapé = o resto\nconst footer = lines.slice(end);\n\n// --- Alinhamento dos itens ---\nconst parsed = itemLines.map(line => {\n  const match = line.match(/(R\\$\\s*[\\d\\.,]+)$/); // pega último R$ e valor\n  if (!match) return { desc: line, valor: \"\" };\n\n  const valor = match[1].replace(\"R$\", \"\").trim();\n  const desc = line.slice(0, match.index).trim();\n\n  return { desc, valor };\n});\n\nconst maxDesc = parsed.reduce((m, o) => Math.max(m, o.desc.length), 0);\n\nconst itensAlinhados = parsed.map(o =>\n  o.desc.padEnd(maxDesc + 2, \" \") + \"R$ \" + o.valor\n);\n\n// --- Monta saída final ---\nconst corpo = [\n  ...header,\n  ...itensAlinhados,\n  ...footer\n].join(\"\\n\");\n\nreturn {\n  texto_alinhado: \"```\\n\" + corpo + \"\\n```\"\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1552,-3840],"id":"5976c32a-18ba-4dc5-98b9-8cdf836d8e9d","name":"Code6"},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"={{ $json.texto_alinhado }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-5760,-7792],"id":"08e5998a-f139-475c-9735-0138cd7b2fd8","name":"MenuCardapio38","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"jsCode":" const raw = $json.finalizar_pedido || \"\";\nconst txt = raw.replace(/\\r\\n/g, \"\\n\");\nconst lines = txt.split(\"\\n\").map(l => l.trimEnd());\n\n// Identifica onde começa e termina a lista de itens\nconst start = lines.findIndex(l => /resumo:/i.test(l));\nlet end = lines.findIndex((l, i) => i > start && (\n  /forma de pagamento/i.test(l) || /entrega:/i.test(l) || /total:/i.test(l) || /total de itens/i.test(l)\n));\nif (end === -1) end = lines.length;\n\n// Cabeçalho = tudo até \"Resumo:\"\nconst header = start >= 0 ? lines.slice(0, start + 1) : [];\n// Itens = linhas entre \"Resumo:\" e \"Forma de pagamento\"\nconst itemLines = (start >= 0 ? lines.slice(start + 1, end) : []).filter(l => l.trim());\n// Rodapé = o resto\nconst footer = lines.slice(end);\n\n// --- Alinhamento dos itens ---\nconst parsed = itemLines.map(line => {\n  const match = line.match(/(R\\$\\s*[\\d\\.,]+)$/); // pega último R$ e valor\n  if (!match) return { desc: line, valor: \"\" };\n\n  const valor = match[1].replace(\"R$\", \"\").trim();\n  const desc = line.slice(0, match.index).trim();\n\n  return { desc, valor };\n});\n\nconst maxDesc = parsed.reduce((m, o) => Math.max(m, o.desc.length), 0);\n\nconst itensAlinhados = parsed.map(o =>\n  o.desc.padEnd(maxDesc + 2, \" \") + \"R$ \" + o.valor\n);\n\n// --- Monta saída final ---\nconst corpo = [\n  ...header,\n  ...itensAlinhados,\n  ...footer\n].join(\"\\n\");\n\nreturn {\n  texto_alinhado: \"```\\n\" + corpo + \"\\n```\"\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5936,-7792],"id":"9bf59595-b20c-4cc3-9a8e-11eb00767af9","name":"Code7"},{"parameters":{"jsCode":" // Entrada\nconst texto =  \"4-Concluir\\n5-Consultar\\n6-Cancelar \\n7-Detalhar\\nExcluir Item\\nIncluir Itens\";\n// Mapas\nconst normal = \"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789\";\n\n// 1) Fullwidth\nconst full = \"ＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ\" +\n             \"ａｂｃｄｅｆｇｈｉｊｋｌｍｎｏｐｑｒｓｔｕｖｗｘｙｚ\" +\n             \"０１２３４５６７８９\";\n\n// 2) Small caps (maiúsculas pequenas)\nconst smallcaps = \"ＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ\" +\n                  \"ᴀʙᴄᴅᴇꜰɢʜɪᴊᴋʟᴍɴᴏᴘǫʀsᴛᴜᴠᴡxʏᴢ\" +\n                  \"0123456789\";\n\n// 3) Circulado\nconst circ = \"ⒶⒷⒸⒹⒺⒻⒼⒽⒾⒿⓀⓁⓂⓃⓄⓅⓆⓇⓈⓉⓊⓋⓌⓍⓎⓏ\" +\n             \"ⓐⓑⓒⓓⓔⓕⓖⓗⓘⓙⓚⓛⓜⓝⓞⓟⓠⓡⓢⓣⓤⓥⓦⓧⓨⓩ\" +\n             \"⓪①②③④⑤⑥⑦⑧⑨\";\n\n// 4) Quadrado (emoji-like)\nconst square = \"🄰🄱🄲🄳🄴🄵🄶🄷🄸🄹🄺🄻🄼🄽🄾🄿🅀🅁🅂🅃🅄🅅🅆🅇🅈🅉\" +\n               \"🄰🄱🄲🄳🄴🄵🄶🄷🄸🄹🄺🄻🄼🄽🄾🄿🅀🅁🅂🅃🅄🅅🅆🅇🅈🅉\" +\n               \"0123456789\";\n\nfunction converter(texto, mapa) {\n  const map = {};\n  for (let i = 0; i < normal.length; i++) {\n    map[normal[i]] = mapa[i];\n  }\n  return texto.split(\"\").map(ch => map[ch] || ch).join(\"\");\n}\n\nreturn {\n  original: \"```\\n\" + texto + \"\\n```\",\n  fullwidth: converter(texto, full),\n  smallcaps: converter(\"```\\n\" + texto + \"\\n```\", smallcaps),\n  circulado: converter(texto, circ),\n  quadrado: converter(texto, square)\n};\n "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3040,-3072],"id":"27192a2a-b412-407b-bbcc-c9e08d3dbd2b","name":"FormaText"},{"parameters":{"jsCode":"  // Entrada\nconst texto =  \"⏳ Aguarde..\";\n// Mapas\nconst normal = \"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789\";\n\n// 1) Fullwidth\nconst full = \"ＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ\" +\n             \"ａｂｃｄｅｆｇｈｉｊｋｌｍｎｏｐｑｒｓｔｕｖｗｘｙｚ\" +\n             \"０１２３４５６７８９\";\n\n// 2) Small caps (maiúsculas pequenas)\nconst smallcaps = \"ＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ\" +\n                  \"ᴀʙᴄᴅᴇꜰɢʜɪᴊᴋʟᴍɴᴏᴘǫʀsᴛᴜᴠᴡxʏᴢ\" +\n                  \"0123456789\";\n\n// 3) Circulado\nconst circ = \"ⒶⒷⒸⒹⒺⒻⒼⒽⒾⒿⓀⓁⓂⓃⓄⓅⓆⓇⓈⓉⓊⓋⓌⓍⓎⓏ\" +\n             \"ⓐⓑⓒⓓⓔⓕⓖⓗⓘⓙⓚⓛⓜⓝⓞⓟⓠⓡⓢⓣⓤⓥⓦⓧⓨⓩ\" +\n             \"⓪①②③④⑤⑥⑦⑧⑨\";\n\n// 4) Quadrado (emoji-like)\nconst square = \"🄰🄱🄲🄳🄴🄵🄶🄷🄸🄹🄺🄻🄼🄽🄾🄿🅀🅁🅂🅃🅄🅅🅆🅇🅈🅉\" +\n               \"🄰🄱🄲🄳🄴🄵🄶🄷🄸🄹🄺🄻🄼🄽🄾🄿🅀🅁🅂🅃🅄🅅🅆🅇🅈🅉\" +\n               \"0123456789\";\n\nfunction converter(texto, mapa) {\n  const map = {};\n  for (let i = 0; i < normal.length; i++) {\n    map[normal[i]] = mapa[i];\n  }\n  return texto.split(\"\").map(ch => map[ch] || ch).join(\"\");\n}\n\nreturn {\n  original: \"```\\n\" + texto + \"\\n```\",\n  fullwidth: converter(texto, full),\n  smallcaps: converter(\"```\\n\" + texto + \"\\n```\", smallcaps),\n  circulado: converter(texto, circ),\n  quadrado: converter(texto, square)\n};\n "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-9616,-2864],"id":"dc5c1ade-18ef-4b93-9901-0f168710d1f2","name":"Code4"},{"parameters":{"jsCode":"  // Entrada\n // Pega direto do node MensagemTraduzida\nconst texto = \"Seu comando : \" + \n$('MensagemTraduzida').first().json.message;\n \n\n// Mapas\nconst normal = \"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789\";\n\n// 1) Fullwidth\nconst full = \"ＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ\" +\n             \"ａｂｃｄｅｆｇｈｉｊｋｌｍｎｏｐｑｒｓｔｕｖｗｘｙｚ\" +\n             \"０１２３４５６７８９\";\n\n// 2) Small caps (maiúsculas pequenas)\nconst smallcaps = \"ＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ\" +\n                  \"ᴀʙᴄᴅᴇꜰɢʜɪᴊᴋʟᴍɴᴏᴘǫʀsᴛᴜᴠᴡxʏᴢ\" +\n                  \"0123456789\";\n\n// 3) Circulado\nconst circ = \"ⒶⒷⒸⒹⒺⒻⒼⒽⒾⒿⓀⓁⓂⓃⓄⓅⓆⓇⓈⓉⓊⓋⓌⓍⓎⓏ\" +\n             \"ⓐⓑⓒⓓⓔⓕⓖⓗⓘⓙⓚⓛⓜⓝⓞⓟⓠⓡⓢⓣⓤⓥⓦⓧⓨⓩ\" +\n             \"⓪①②③④⑤⑥⑦⑧⑨\";\n\n// 4) Quadrado (emoji-like)\nconst square = \"🄰🄱🄲🄳🄴🄵🄶🄷🄸🄹🄺🄻🄼🄽🄾🄿🅀🅁🅂🅃🅄🅅🅆🅇🅈🅉\" +\n               \"🄰🄱🄲🄳🄴🄵🄶🄷🄸🄹🄺🄻🄼🄽🄾🄿🅀🅁🅂🅃🅄🅅🅆🅇🅈🅉\" +\n               \"0123456789\";\n\nfunction converter(texto, mapa) {\n  const map = {};\n  for (let i = 0; i < normal.length; i++) {\n    map[normal[i]] = mapa[i];\n  }\n  return texto.split(\"\").map(ch => map[ch] || ch).join(\"\");\n}\n\nreturn {\n  original: \"```\\n\" + texto + \"\\n```\",\n  fullwidth: converter(texto, full),\n  smallcaps: converter(\"```\\n\" + texto + \"\\n```\", smallcaps),\n  circulado: converter(texto, circ),\n  quadrado: converter(texto, square)\n};\n "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-9248,-2864],"id":"a7d979a6-dd42-44d3-a606-5775cb3d0391","name":"Code10"},{"parameters":{"operation":"executeQuery","query":"WITH ordenado AS (\n  SELECT \n    item_id,\n    user_id,\n    pedido_id,\n    ROW_NUMBER() OVER (PARTITION BY user_id, pedido_id ORDER BY item_id) AS nova_ordem\n  FROM item_pedido_temp\n)\nUPDATE item_pedido_temp i\nSET ordem_item = o.nova_ordem\nFROM ordenado o\nWHERE i.item_id = o.item_id\n  AND i.user_id = o.user_id\n  AND i.pedido_id = o.pedido_id \n   and i.user_id =  {{$('MontPedido').item.json.user_id }} \n  and i.pedido_id = {{ $('MontPedido').item.json.pedido_id }}  and  status = 'concluido'  ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2464,-2960],"id":"b3b8dd82-01a3-44a1-961b-139abbe32784","name":"OrdenaPedido","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=```O item  {{ $('Numero').item.json.numero }} º foi excluido do seu pedido com sucesso. \nNão se preocupe ele ja foi reorganizado.\nSe deseja concluir digite 4 ou fale concluir. ```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3616,-1072],"id":"1d4a1409-6078-42a5-8220-21190f843ead","name":"MenuCardapio36","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"={{ $json.texto_alinhado }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2736,-1072],"id":"9830a6a5-3ee3-4537-b8a5-e1abfe6ae8be","name":"MenuCardapio39","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"jsCode":" const raw = ($json.calcula_pre_pedido || \"\").replace(/\\r\\n/g, \"\\n\");\nconst txt = raw.trim();\n\nif (!txt) {\n  return { texto_alinhado: \"não existe registro\" };\n}\n\nconst lines = txt.split(\"\\n\").map(l => l.trimEnd());\n\n// Se não tiver \"Resumo:\", devolve o corpo original\nconst start = lines.findIndex(l => /resumo:/i.test(l));\nif (start === -1) {\n  return { texto_alinhado: txt };\n}\n\nlet end = lines.findIndex((l, i) => i > start && (\n  /forma de pagamento/i.test(l) || /entrega:/i.test(l) || /total:/i.test(l) || /total de itens/i.test(l)\n));\nif (end === -1) end = lines.length;\n\nconst header = lines.slice(0, start + 1);\nconst itemLines = lines.slice(start + 1, end).filter(l => l.trim());\nconst footer = lines.slice(end);\n\n// ---- parsing ajustado ----\nconst parsed = itemLines.map(line => {\n  const match = line.match(/(R\\$\\s*[\\d\\.,]+)$/);\n  if (!match) return { num: \"\", desc: line.trim(), valor: \"\" };\n\n  const valor = match[1].replace(\"R$\", \"\").trim();\n  const left = line.slice(0, match.index).trim();\n\n  // captura do número inicial (ex: (1) Nome ...)\n  const numMatch = left.match(/^\\((\\d+)\\)\\s*(.*)$/);\n  let num = \"\", desc = left;\n  if (numMatch) {\n    num = numMatch[1];\n    desc = numMatch[2].trim();\n  }\n\n  return { num, desc, valor };\n});\n\nconst maxNum = parsed.reduce((m, o) => Math.max(m, o.num.length), 0);\nconst maxDesc = parsed.reduce((m, o) => Math.max(m, o.desc.length), 0);\n\n// monta itens alinhados com cabeçalho\nconst itensAlinhados = [\n  \"Item \".padEnd(maxNum + 2, \" \") +\n  \"Descrição\".padEnd(maxDesc + 4, \" \") +\n  \"Valor\"\n];\n\nparsed.forEach(o => {\n  itensAlinhados.push(\n    o.num.padEnd(maxNum + 2, \" \") +\n    o.desc.padEnd(maxDesc + 4, \" \") +\n    \"R$ \" + o.valor\n  );\n});\n\n// ---- corpo final ----\nconst corpo = [\n  ...header,\n  ...itensAlinhados,\n  ...footer\n].join(\"\\n\");\n\nreturn { texto_alinhado: \"```\\n\" + corpo + \"\\n```\" };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2944,-1072],"id":"9a2a3003-f9a7-43c1-be9e-c9def83b83a2","name":"Code12"},{"parameters":{"operation":"executeQuery","query":"WITH ordenado AS (\n  SELECT \n    item_id,\n    user_id,\n    pedido_id,\n    ROW_NUMBER() OVER (PARTITION BY user_id, pedido_id ORDER BY item_id) AS nova_ordem\n  FROM item_pedido_temp\n)\nUPDATE item_pedido_temp i\nSET ordem_item = o.nova_ordem\nFROM ordenado o\nWHERE i.item_id = o.item_id\n  AND i.user_id = o.user_id\n  AND i.pedido_id = o.pedido_id \n   and i.user_id =  {{$('Merge1').item.json.user_id }} \n  and i.pedido_id =  {{ $('MergePedido').item.json.pedido_id }}  ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3392,-1072],"id":"6e460694-3302-426c-a7f0-2ae9def2fff9","name":"OrdenaPedido1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2560,-1072],"id":"75d14fe6-fa1b-48ce-a771-d56e00cec291","name":"No Operation, do nothing24","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"=  {{$('Dados Lead').first().json.IdConversa}}","messageText":"={{$json.mensagem}}\n","options_message":{"delay":4}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3312,-1424],"id":"750df955-30c9-4697-a0f4-74d05e55e7ef","name":"MenuCardapio40","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2656,-1424],"id":"1cfb6c81-fbc9-4ce3-b647-63f30c095a05","name":"No Operation, do nothing26","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"= {{$('Dados Lead').first().json.IdConversa}}\n","messageText":"=\n```Segue acima ⬆ nossas opções.\n\nEscolha uma e reenvie seu pedido.```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3008,-1424],"id":"abd7eb15-e689-401d-9baa-7d2e3738257f","name":"MenuCardapio43","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"jsCode":" // ===== Emojis =====\nconst HDR_EMOJI  = '🔹';\nconst DESC_EMOJI = '📝';\n\n// -------- Helpers --------\nfunction toNum(x) {\n  if (typeof x === 'number' && isFinite(x)) return x;\n  if (x == null) return 0;\n  const s = String(x).replace(/[^\\d,.-]/g, '').replace(/\\.(?=\\d{3}(?:\\D|$))/g, '').replace(',', '.');\n  const n = Number(s);\n  return isFinite(n) ? n : 0;\n}\nfunction moneyTrim(n) {\n  const s = toNum(n).toFixed(2).replace(/(\\.\\d*?)0+$/, '$1').replace(/\\.$/, '');\n  return s;\n}\nfunction clean(txt) {\n  return String(txt || '')\n    .replace(/\\uFFFD/g, '')\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g,'')\n    .replace(/\\s*-\\s*/g, ' - ')\n    .replace(/[ \\t]+/g, ' ')\n    .trim();\n}\nconst bold = s => `*${s}*`;\n\n// -------- Inferência de Categoria & Tipo --------\nconst BEBIDAS_RX = /\\b(coca(?:\\s*cola)?|guaran[aá]|heineken|bud(?:weiser)?|cerveja|água|agua|fanta|sprite|pepsi|refrigerante|long\\s*neck|lata)\\b/i;\nconst BORDA_RX   = /\\bborda\\b/i;\nconst ESFIRRA_RX = /\\besfirra\\b/i;\n\nconst DOCES_RX = /\\b(chocolate|nutella|goiabada|doce\\s+de\\s+leite|brigadeiro|beijinho|romeu\\s*e\\s*julieta|banana|morango|paçoca|pacoca|prestígio|prestigio)\\b/i;\n\nfunction guessCategoria(nome, desc, cat) {\n  if (cat && String(cat).trim()) return String(cat).toLowerCase(); // já veio do backend\n  const hay = `${nome} ${desc}`;\n  if (BEBIDAS_RX.test(hay)) return 'bebida';\n  if (BORDA_RX.test(hay))   return 'borda';\n  if (ESFIRRA_RX.test(hay)) return 'esfirra';\n  return 'pizza'; // default\n}\n\nfunction guessTipo(nome, desc, tipo) {\n  if (tipo && String(tipo).trim()) return String(tipo).toLowerCase();\n  const hay = `${nome} ${desc}`;\n  return DOCES_RX.test(hay) ? 'doce' : 'salgada';\n}\n\n// -------- Entrada --------\nconst items = $input.all();\nlet rows = [];\nif (items.length > 1) rows = items.map(i => i.json);\nelse {\n  let p = items?.[0]?.json ?? {};\n  if (p && typeof p === 'object' && 'result' in p) p = p.result;\n  rows = Array.isArray(p) ? p : (p && typeof p === 'object' ? [p] : []);\n}\n\n// -------- Saída formatada --------\nconst lines = rows.map(r => {\n  const numero = r.numero ?? r.id ?? r.code ?? '';\n  const nome   = clean(r.nome ?? r.name ?? 'Item');\n  const desc   = clean(r.descricao ?? r.description ?? '');\n\n  const g = r.preco_grande ?? r.precoG ?? r.preco_g;\n  const m = r.preco_media  ?? r.precoM ?? r.preco_m;\n\n  const categoria = guessCategoria(nome, desc, r.categoria);\n  const tipo      = guessTipo(nome, desc, r.tipo);\n\n  const parts = [];\n  if (g != null && g !== '') parts.push(`(G) R$${moneyTrim(g)}`);\n  if (m != null && m !== '') parts.push(`(M) R$${moneyTrim(m)}`);\n  const precoStr = parts.join(' / ') || 'R$0';\n\n  const header = `${HDR_EMOJI} ${ bold(`(${numero})`) } ${nome} – ${bold(precoStr)} ${bold(` [${categoria}] [${tipo}]`)}`;\n  const body   = `${DESC_EMOJI} Descrição: ${desc || '-'}`\n  return `${header}\\n${body}`;\n});\n\nreturn [{\n  json: {\n    descricao: lines.join('\\n\\n'),\n    user_id: $json.user_id ?? null,\n    pedido_id: $json.pedido_id ?? null\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3744,-1424],"id":"add46f3d-773c-4d4c-9ca1-0cc414431b52","name":"VariasPizzas1"},{"parameters":{"jsCode":" const descricao = $json.descricao || \"\";\nreturn {\n  mensagem: \"```\\n\" + descricao + \"\\n```\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3552,-1424],"id":"a7de5ca7-aed2-4278-a3f9-4e4061ae9c8b","name":"Code13"},{"parameters":{"jsCode":" const frase = $('MensagemTraduzida').first().json.message || \"\";\n\n// categorias aceitas\nconst categorias = [\"pizza\", \"esfirra\", \"refrigerante\", \"cerveja\"];\n\n// Regex: \"consultar ...\" seguido de tudo\nconst match = frase.match(/^consultar\\s+(.+)$/i);\n\nlet categoria = null;\nlet nome = null;\n\nif (match) {\n  const partes = match[1].trim().toLowerCase().split(/\\s+/);\n  const primeira = partes[0];\n\n  if (categorias.includes(primeira)) {\n    categoria = primeira;\n    nome = partes.slice(1).join(\" \") || null;\n  } else {\n    // se a primeira palavra não é categoria conhecida, trata tudo como nome\n    categoria = null;\n    nome = match[1].trim().toLowerCase();\n  }\n}\n\nreturn { categoria, nome };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4288,-1424],"id":"6a69579b-bf9a-4542-8d1d-0929bf630727","name":"ConsultarCardapio"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3744,-2960],"id":"e76e25c6-723a-4ee5-ab96-95d050e916a6","name":"No Operation, do nothing27","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"={{ $json.original }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3552,-2960],"id":"e20cc0d1-0bc0-495d-91df-608c839d864b","name":"MenuCardapio44","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"jsCode":" // Entrada\nconst texto =  \"4-Concluir\\n5-Consultar\\n6-Cancelar \\n7-Detalhar\\nExcluir Item\\nIncluir Itens\";\n// Mapas\nconst normal = \"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789\";\n\n// 1) Fullwidth\nconst full = \"ＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ\" +\n             \"ａｂｃｄｅｆｇｈｉｊｋｌｍｎｏｐｑｒｓｔｕｖｗｘｙｚ\" +\n             \"０１２３４５６７８９\";\n\n// 2) Small caps (maiúsculas pequenas)\nconst smallcaps = \"ＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ\" +\n                  \"ᴀʙᴄᴅᴇꜰɢʜɪᴊᴋʟᴍɴᴏᴘǫʀsᴛᴜᴠᴡxʏᴢ\" +\n                  \"0123456789\";\n\n// 3) Circulado\nconst circ = \"ⒶⒷⒸⒹⒺⒻⒼⒽⒾⒿⓀⓁⓂⓃⓄⓅⓆⓇⓈⓉⓊⓋⓌⓍⓎⓏ\" +\n             \"ⓐⓑⓒⓓⓔⓕⓖⓗⓘⓙⓚⓛⓜⓝⓞⓟⓠⓡⓢⓣⓤⓥⓦⓧⓨⓩ\" +\n             \"⓪①②③④⑤⑥⑦⑧⑨\";\n\n// 4) Quadrado (emoji-like)\nconst square = \"🄰🄱🄲🄳🄴🄵🄶🄷🄸🄹🄺🄻🄼🄽🄾🄿🅀🅁🅂🅃🅄🅅🅆🅇🅈🅉\" +\n               \"🄰🄱🄲🄳🄴🄵🄶🄷🄸🄹🄺🄻🄼🄽🄾🄿🅀🅁🅂🅃🅄🅅🅆🅇🅈🅉\" +\n               \"0123456789\";\n\nfunction converter(texto, mapa) {\n  const map = {};\n  for (let i = 0; i < normal.length; i++) {\n    map[normal[i]] = mapa[i];\n  }\n  return texto.split(\"\").map(ch => map[ch] || ch).join(\"\");\n}\n\nreturn {\n  original: \"```\\n\" + texto + \"\\n```\",\n  fullwidth: converter(texto, full),\n  smallcaps: converter(\"```\\n\" + texto + \"\\n```\", smallcaps),\n  circulado: converter(texto, circ),\n  quadrado: converter(texto, square)\n};\n "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3360,-2960],"id":"d6ec71b5-668d-4ec1-b1ed-caa0fee5ce53","name":"FormaText1"},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"={{ $json.original }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1168,-3472],"id":"7b6bb231-7622-44cf-ae16-dbd2181735be","name":"MenuCardapio45","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"jsCode":" // Entrada\nconst texto =  \"4-Concluir\\n5-Consultar\\n6-Cancelar \\n7-Detalhar\\nExcluir Item\\nIncluir Itens\";\n// Mapas\nconst normal = \"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789\";\n\n// 1) Fullwidth\nconst full = \"ＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ\" +\n             \"ａｂｃｄｅｆｇｈｉｊｋｌｍｎｏｐｑｒｓｔｕｖｗｘｙｚ\" +\n             \"０１２３４５６７８９\";\n\n// 2) Small caps (maiúsculas pequenas)\nconst smallcaps = \"ＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ\" +\n                  \"ᴀʙᴄᴅᴇꜰɢʜɪᴊᴋʟᴍɴᴏᴘǫʀsᴛᴜᴠᴡxʏᴢ\" +\n                  \"0123456789\";\n\n// 3) Circulado\nconst circ = \"ⒶⒷⒸⒹⒺⒻⒼⒽⒾⒿⓀⓁⓂⓃⓄⓅⓆⓇⓈⓉⓊⓋⓌⓍⓎⓏ\" +\n             \"ⓐⓑⓒⓓⓔⓕⓖⓗⓘⓙⓚⓛⓜⓝⓞⓟⓠⓡⓢⓣⓤⓥⓦⓧⓨⓩ\" +\n             \"⓪①②③④⑤⑥⑦⑧⑨\";\n\n// 4) Quadrado (emoji-like)\nconst square = \"🄰🄱🄲🄳🄴🄵🄶🄷🄸🄹🄺🄻🄼🄽🄾🄿🅀🅁🅂🅃🅄🅅🅆🅇🅈🅉\" +\n               \"🄰🄱🄲🄳🄴🄵🄶🄷🄸🄹🄺🄻🄼🄽🄾🄿🅀🅁🅂🅃🅄🅅🅆🅇🅈🅉\" +\n               \"0123456789\";\n\nfunction converter(texto, mapa) {\n  const map = {};\n  for (let i = 0; i < normal.length; i++) {\n    map[normal[i]] = mapa[i];\n  }\n  return texto.split(\"\").map(ch => map[ch] || ch).join(\"\");\n}\n\nreturn {\n  original: \"```\\n\" + texto + \"\\n```\",\n  fullwidth: converter(texto, full),\n  smallcaps: converter(\"```\\n\" + texto + \"\\n```\", smallcaps),\n  circulado: converter(texto, circ),\n  quadrado: converter(texto, square)\n};\n "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1360,-3472],"id":"31bc9d51-280e-49c9-ab40-731a151706ac","name":"FormaText2"},{"parameters":{"jsCode":" const frase = $('MensagemTraduzida').first().json.message || \"\";\n\nconst match = frase.match(/(?:item\\s*)?(\\d+)/i);\n\nreturn {\n  numero: match ? parseInt(match[1]) : null\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4288,-1072],"id":"d973d690-e779-46b4-acc6-37f0255d2439","name":"Numero"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"item_pedido_temp","mode":"list","cachedResultName":"item_pedido_temp"},"deleteCommand":"delete","where":{"values":[{"column":"user_id","value":"= {{ $('Merge1').item.json.user_id }}"},{"column":"ordem_item","value":"={{ $('Numero').item.json.numero }}"},{"column":"pedido_id","value":"={{ $('MergePedido').item.json.pedido_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3856,-1072],"id":"39d401de-9b68-4eba-9f7b-bfa8777ec579","name":"Excluir Item","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"\n delete from item_pedido_temp as i using item_pedido_temp as  it\n where i.categoria = 'borda'           and\n       i.user_id= it.user_id           and\n       i.pedido_id= it.pedido_id       and\n       i.tamanho = it.tamanho          and\n       i.numero_fracao =it.numero      and \n       it.ordem_item =  {{ $json.numero }} and\n       i.user_id=  {{ $('Merge1').item.json.user_id }}  and\n       i.pedido_id= {{ $('MergePedido').item.json.pedido_id }}   \n\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-4096,-1072],"id":"ca45c967-6667-4424-84fd-2512d63c9c49","name":"ExcluiBorda","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('Merge1').item.json.user_id }}  "},{"fieldId":"quantidade","fieldValue":"=1"},{"fieldId":"categoria","fieldValue":"item"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"numero","fieldValue":"=0"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"pedido_id","fieldValue":"={{ $('MergePedido').item.json.pedido_id }}"},{"fieldId":"nome","fieldValue":"={{ $json.ingrediente }}"},{"fieldId":"pizza_ingrediente","fieldValue":"={{ $json.item }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3872,96],"id":"0bd09712-be65-4a73-b29c-b9791e8aa640","name":"ItemInteira1","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT atualizar_valores_itens_temp('item', {{ $('Merge1').item.json.user_id }} ,{{ $('MergePedido').item.json.pedido_id }} );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3008,208],"id":"f87d919b-e090-44df-9a9a-9a2f2da39aaa","name":"AtualizaValorPizza1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"   SELECT\n  count(*) \nFROM item_pedido_temp AS i\nJOIN cardapio AS c\n  ON c.categoria = 'pizza'\n-- nome do cardápio contém o nome do item (case-insensitive)\n AND c.nome ILIKE '%' || i.nome || '%'\nWHERE i.status = 'inicio'\n   and i.user_id =  {{$('Merge1').item.json.user_id }} \n  and i.pedido_id =  {{ $('MergePedido').item.json.pedido_id }}  ;\n  AND i.numero = 0;\n     \n ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3648,96],"id":"476be7c0-52a8-428b-a68f-c6fcde018819","name":"Execute a SQL query10","executeOnce":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ae4be07a-6ffe-4e1f-ba64-89d835e7a71d","leftValue":"={{ parseInt($json.count, 10) }}","rightValue":1,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3456,96],"id":"ff069204-c08b-4456-aaa5-c4d1d33bba6d","name":"If8"},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"=  {{$('Dados Lead').first().json.IdConversa}}","messageText":"={{$json.mensagem}}\n","options_message":{"delay":4}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2464,0],"id":"159294e5-1eea-485c-9998-c715dda4caf0","name":"MenuCardapio46","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"operation":"executeQuery","query":"   SELECT {{ $json.user_id }} user_id, {{ $json.pedido_id }} pedido_id ,* FROM busca_cardapio( ( SELECT string_agg(num, ', ')\n \n  FROM ( select  distinct c.numero::text AS num\nFROM item_pedido_temp AS i\nJOIN cardapio AS c\n  ON c.categoria = 'pizza'\n-- nome do cardápio contém o nome do item (case-insensitive)\n AND c.nome ILIKE '%' || i.nome || '%'\nWHERE i.status = 'inicio'\n  AND i.user_id   =  {{ $json.user_id }}\n  AND i.pedido_id =  {{ $json.pedido_id }}\n  AND i.numero = 0  )) )  order by nome \n\n ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3008,0],"id":"051f9a04-95db-45f9-b3eb-e180f0d4fc11","name":"VariasPizza3","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"= {{$('Dados Lead').first().json.IdConversa}}\n","messageText":"=\n```Segue acima ⬆ nossas opções.\n\nEscolha uma e reenvie seu pedido.```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2112,0],"id":"9f287924-2e85-4e20-b3e2-b48626bff87b","name":"MenuCardapio48","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"operation":"executeQuery","query":" UPDATE Item_pedido_temp AS i\nSET numero = c.numero\nFROM cardapio AS c\nWHERE  i.status = 'inicio'\n  AND c.categoria  = 'pizza' \n and  LOWER(  c.nome)   iLIKE '%' || LOWER(  i.nome) || '%'  and i.user_id =  {{$('Merge1').item.json.user_id }} \n  and i.pedido_id =  {{ $('MergePedido').item.json.pedido_id }}  ; i.numero = 0 ;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3216,208],"id":"3b320382-2677-4760-ab95-0493c40d1637","name":"PizzaPorNome3","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"jsCode":" // ===== Emojis =====\nconst HDR_EMOJI  = '🔹';\nconst DESC_EMOJI = '📝';\n\n// -------- Helpers --------\nfunction toNum(x) {\n  if (typeof x === 'number' && isFinite(x)) return x;\n  if (x == null) return 0;\n  const s = String(x).replace(/[^\\d,.-]/g, '').replace(/\\.(?=\\d{3}(?:\\D|$))/g, '').replace(',', '.');\n  const n = Number(s);\n  return isFinite(n) ? n : 0;\n}\nfunction moneyTrim(n) {\n  const s = toNum(n).toFixed(2).replace(/(\\.\\d*?)0+$/, '$1').replace(/\\.$/, '');\n  return s;\n}\nfunction clean(txt) {\n  return String(txt || '')\n    .replace(/\\uFFFD/g, '')\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g,'')\n    .replace(/\\s*-\\s*/g, ' - ')\n    .replace(/[ \\t]+/g, ' ')\n    .trim();\n}\nconst bold = s => `*${s}*`;\n\n// -------- Entrada --------\nconst items = $input.all();\nlet rows = [];\nif (items.length > 1) rows = items.map(i => i.json);\nelse {\n  let p = items?.[0]?.json ?? {};\n  if (p && typeof p === 'object' && 'result' in p) p = p.result;\n  rows = Array.isArray(p) ? p : (p && typeof p === 'object' ? [p] : []);\n}\n\n// -------- Saída formatada --------\nconst lines = rows.map(r => {\n  const numero = r.numero ?? r.id ?? r.code ?? '';\n  const nome   = clean(r.nome ?? r.name ?? 'Item');\n  const desc   = clean(r.descricao ?? r.description ?? '');\n\n  const g = r.preco_grande ?? r.precoG ?? r.preco_g;\n  const m = r.preco_media  ?? r.precoM ?? r.preco_m;\n\n  const parts = [];\n  if (g != null && g !== '') parts.push(`(G) R$${moneyTrim(g)}`);\n  if (m != null && m !== '') parts.push(`(M) R$${moneyTrim(m)}`);\n  const precoStr = parts.join(' / ') || 'R$0';\n\n  const header = `${HDR_EMOJI} ${ bold(`(${numero})` )} ${nome} – ${bold(precoStr)}`;\n  const body   = `${DESC_EMOJI} Descrição: ${desc || '-'}`;\n\n  return `${header}\\n${body}`;\n});\n\n return [{\n  json: {\n    descricao: lines.join('\\n\\n'),\n    user_id: $json.user_id ?? null,\n    pedido_id: $json.pedido_id ?? null\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2832,0],"id":"026bcfc5-6870-411b-95b1-4396a897b1af","name":"VariasPizzas3"},{"parameters":{"operation":"executeQuery","query":" delete from item_pedido_temp\nWHERE status = 'inicio'\n  AND user_id =  {{ $('VariasPizzas').item.json.user_id }}\n  AND pedido_id =  {{ $('VariasPizzas').item.json.pedido_id }}\n  AND numero = 0","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2272,0],"id":"7a0d3365-a9aa-4197-947b-3e2e6a9113bd","name":"Execute a SQL query13","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2ccd2edc-b6f1-47e7-8f29-1ac7959cb984","name":"user_id","value":"={{ $('MontPedido').item.json.user_id }}","type":"number"},{"id":"ec41ebcb-bf51-49dc-812f-15711f037dfb","name":"pedido_id","value":"={{ $('MontPedido').item.json.pedido_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3216,0],"id":"fe7809c1-cd31-4965-b250-a31d2749362c","name":"MontaPedido"},{"parameters":{"jsCode":" const descricao = $json.descricao || \"\";\nreturn {\n  mensagem: \"```\\n\" + descricao + \"\\n```\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2656,0],"id":"8f5990e9-db26-4fc4-bd6e-985d81d23306","name":"Code11"},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"= {{$('Dados Lead').first().json.IdConversa}}\n","messageText":"=  \n```Dica💡\n    Para ser mais preciso envie um comando da seguinte forma:\n   1 pizza  (numero tal)  grande ou  media. .```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1728,0],"id":"efde19d6-dc18-4f73-955e-0cb3697047ac","name":"MenuCardapio49","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1920,0],"id":"5d180bf8-2f00-426d-8ad7-14cdde765561","name":"Wait6","webhookId":"580901b2-63f3-4d59-a119-31349aaee9fa"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1472,0],"id":"2d215cc9-d540-4804-8f6f-784285e2922f","name":"No Operation, do nothing28","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"jsCode":" // Entrada esperada: msg em $json.message\nconst frase = $('MensagemTraduzida').first().json.message || \"\";\n\n// Regex: captura \"ingrediente <nome>\" ou só \"<nome>\" após \"adicionar\"\nconst regex = /adicionar(?: ingrediente)?\\s+([\\p{L}\\s]+?)\\s+ao item\\s+(\\d+)/iu;\nconst match = frase.match(regex);\n\nlet resultado;\nif (match) {\n  resultado = {\n    ingrediente: match[1].trim(),\n    item: parseInt(match[2], 10),\n  };\n} else {\n  resultado = { erro: \"Formato não reconhecido\", frase };\n}\n\n// No n8n sempre retorna array de objetos {json: {...}}\nreturn [{ json: resultado }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4096,96],"id":"dfa15604-81c4-4d45-af4a-bd4aa4948a56","name":"Code8"},{"parameters":{"fieldToSplitOut":"output.item","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-112,-2496],"id":"a39c6a80-e175-4027-9e98-9ad89c090773","name":"item","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"=1"},{"fieldId":"tipo","fieldValue":"item"},{"fieldId":"categoria","fieldValue":"item"},{"fieldId":"nome","fieldValue":"={{ $json.nome?.trim() === '' ? null : $json.nome }}"},{"fieldId":"numero","fieldValue":"=0"},{"fieldId":"fracionada","fieldValue":"=false"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"},{"fieldId":"tamanho","fieldValue":"=0"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[144,-2480],"id":"320ae822-bdd5-4f71-8f6e-f3b87813df49","name":"Item","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"operation":"executeQuery","query":" UPDATE Item_pedido_temp AS i\nSET  status = 'concluido'\n \nWHERE  status = 'inicio' and\n    user_id =  {{ $('MontPedido').item.json.user_id }} and i.pedido_id = {{ $('MontPedido').item.json.pedido_id }} and i.numero <> 0 ;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2256,-2960],"id":"d7c58195-12e1-4521-b393-bdd19722e7e8","name":"ConcluiTudo","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" \n   SELECT  * FROM busca_cardapio( ( SELECT string_agg(num, ', ')\n \n  FROM ( select  distinct c.numero::text AS num\nFROM  cardapio AS c\n \n WHERE \n   lower(c.categoria) in (  'pizza', 'esfirra', 'borda','item')\n      AND c.nome ILIKE '%' || '{{ $json.nome }}' || '%'\n  \n  )) )    \n  \nunion all  \n\n  \n  SELECT  * FROM busca_cardapio( ( SELECT string_agg(num, ', ')\n \n  FROM ( select  distinct c.numero::text AS num\nFROM  cardapio AS c\n \n WHERE \n   lower(c.tipo) =  'bebida'\n      AND c.palavras_chave  ILIKE '%' || '{{ $json.nome }}' || '%'   )) )    \n  \n  ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3952,-1424],"id":"782d49a3-f69d-45b1-a0b5-55440d183179","name":"ConsultaOnline","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" select calcula_pre_pedido({{ $('Merge1').item.json.user_id }}, {{ $('MergePedido').item.json.pedido_id }}  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3136,-1072],"id":"920c49de-30b6-4f33-8a9b-1b8a5d31cd52","name":"PedidoPosExclusao","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"jsCode":" const input =  $input.first().json.messages[0]   || \"\";\n\n// 1) minúsculas\nlet clean = input.toLowerCase();\n\n// 2) remove moeda: \"r$\", \"r $\", \"$\"\nclean = clean.replace(/r\\s*\\$/gi, \"\").replace(/\\$/g, \"\");\n\n// 3) remove o \"r\" (ou qualquer letra) deixado ANTES de número/1/2: \"r 6\", \"r 1/2\"\nclean = clean.replace(/\\b[a-zà-ÿ]\\s+(?=(\\d|1\\/2)\\b)/gi, \"\");\n\n// 4) mantém só letras/números/espaço e \"/\" (tira resto de símbolos)\nclean = clean.replace(/[^0-9a-zà-ÿ\\s/,.]/g, \" \");\n\n// 5) normaliza plurais comuns\nclean = clean.replace(/\\bpizzas\\b/g, \"pizza\")\n             .replace(/\\besfirras\\b/g, \"esfirra\");\n\n// 6) palavras de quantidade -> número (antes de \"pizza\")\nclean = clean.replace(/\\b(uma|um)\\b(?=\\s+pizza\\b)/g, \"1\")\n             .replace(/\\b(duas|dois)\\b(?=\\s+pizza\\b)/g, \"2\")\n             .replace(/\\b(três|tres)\\b(?=\\s+pizza\\b)/g, \"3\");\n\n// 7) \"meia\" -> \"1/2\"\nclean = clean.replace(/\\bmeia\\b/g, \"1/2\");\n\n// 8) corrige \"6,19\" ou \"6.19\" -> \"1/2 19\"\nclean = clean.replace(/6[,.](\\d{1,2})\\b/g, \"1/2 $1\");\n\n// 9) padrão da transcrição \"6 14 e 6 19\" -> \"1 pizza 1/2 14 e 1/2 19\"\nclean = clean.replace(/\\b6\\s+(\\d{1,2})(?:\\s*[,;]?\\s*e\\s*)6\\s+(\\d{1,2})\\b/g, \"1 pizza 1/2 $1 e 1/2 $2\");\n\n// 10) remove vírgulas/pontos remanescentes que grudem nos números (ex.: \"17,\" -> \"17\")\nclean = clean.replace(/[,.]/g, \" \");\n\n// 11) remove letras isoladas (exceto \"e\")\nclean = clean.replace(/\\b(?!e\\b)[a-zà-ÿ]\\b/g, \"\");\n\n// 12) compacta espaços\nclean = clean.replace(/\\s+/g, \" \").trim();\n\nreturn { original: input, comando_normalizado: clean };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-10144,-2864],"id":"4ce2f977-52ac-4d94-8def-766acc0b9a8f","name":"Normalizador"},{"parameters":{"jsCode":" const input = $input.first().json.comando_normalizado || $input.first().json.message || \"\";\nlet clean = input.toLowerCase().trim();\nlet tokens = clean.split(/\\s+/);\n\n// Mapa de palavras para números (quando a 1ª palavra é quantidade)\nconst mapaQtd = { \"uma\":\"1\", \"um\":\"1\", \"duas\":\"2\", \"dois\":\"2\", \"três\":\"3\", \"tres\":\"3\", \"quatro\":\"4\", \"cinco\":\"5\" };\nif (mapaQtd[tokens[0]]) {\n  tokens[0] = mapaQtd[tokens[0]];\n  clean = tokens.join(\" \");\n}\n\n// Normaliza plural básico (caso o pré-LLM não tenha feito)\nif (tokens[1] === \"pizzas\") {\n  tokens[1] = \"pizza\";\n  clean = tokens.join(\" \");\n}\n\n// Resposta padrão (com sugestão educada)\nlet resultado = {\n  original: input,\n  comando: clean,\n  valido: false,\n  tipo: null,\n  erro: \"não entendi seu comando\",\n  sugestao: `O seu pedido ou comando não foi identificado. Você quis dizer: ${clean} ?`\n};\n\n// --- Caso 1: Pizza inteira ---\n// \"1 pizza 14\", \"1 pizza mussarela grande\"\nif (\n  tokens.length >= 3 &&\n  /^\\d+$/.test(tokens[0]) &&\n  tokens[1] === \"pizza\" &&\n  !tokens.includes(\"1/2\")\n) {\n  resultado = {\n    original: input,\n    comando: clean,\n    valido: true,\n    tipo: \"pizza_inteira\",\n    acao: \"adicionar_item\"\n  };\n}\n\n// --- Caso 2: Pizza fracionada ---\n// \"1 pizza 1/2 14 e 1/2 19\"  (aceita nomes no lugar de números)\nelse if (\n  /^\\d+$/.test(tokens[0]) &&\n  tokens[1] === \"pizza\" &&\n  tokens.filter(t => t === \"1/2\").length === 2\n) {\n  resultado = {\n    original: input,\n    comando: clean,\n    valido: true,\n    tipo: \"pizza_fracionada\",\n    acao: \"adicionar_item\"\n  };\n}\n\n// --- Caso 3: Esfirra ---\n// \"1 esfirra carne\"\nelse if (\n  tokens.length >= 3 &&\n  /^\\d+$/.test(tokens[0]) &&\n  tokens[1] === \"esfirra\"\n) {\n  resultado = {\n    original: input,\n    comando: clean,\n    valido: true,\n    tipo: \"esfirra\",\n    acao: \"adicionar_item\"\n  };\n}\n\n// --- Caso 4: Bebida ---\n// \"1 coca cola 2l\", \"2 guarana 350ml\", \"1 água 500ml\", \"1 heineken long neck\"\nelse if (\n  /^\\d+$/.test(tokens[0]) &&\n  /\\b(coca(?:\\s+cola)?|cola|guaran[áa]|heineken|bud(?:weiser)?|cerveja|agua|água|fanta|sprite)\\b/.test(clean)\n) {\n  resultado = {\n    original: input,\n    comando: clean,\n    valido: true,\n    tipo: \"bebida\",\n    acao: \"adicionar_item\"\n  };\n}\n\n// --- Caso 5: Adicionar ingrediente ---\n// \"adicionar mussarela item 1\", \"adicionar ingrediente cheddar ao item 3\"\nelse if (\n  tokens[0] === \"adicionar\" &&\n  tokens.includes(\"item\")\n) {\n  resultado = {\n    original: input,\n    comando: clean,\n    valido: true,\n    tipo: \"adicionar_item\",\n    acao: \"adicionar_item\"\n  };\n}\n\n// --- Caso 6: Excluir item ---\n// \"excluir item 1\", \"excluir 2\"\nelse if (\n  tokens[0] === \"excluir\" &&\n  (\n    (tokens[1] === \"item\" && /^\\d+$/.test(tokens[2])) ||\n    (/^\\d+$/.test(tokens[1]))\n  )\n) {\n  resultado = {\n    original: input,\n    comando: clean,\n    valido: true,\n    tipo: \"excluir_item\",\n    acao: \"excluir_item\"\n  };\n}\n\nreturn resultado;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-9968,-2864],"id":"632e31a0-3d32-4cfe-85e4-1c8d888df371","name":"Validador"},{"parameters":{"fieldToSplitOut":"output.bordas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-128,-2240],"id":"f7f337c6-508d-4755-a3dc-c1eeaf192e47","name":"Bordas","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":"SELECT AtualizaValorFracionado(     {{ $('Edit Fields2').item.json.user_id }} , {{ $('Edit Fields2').item.json.pedido_id }});","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1792,-2960],"id":"dd438f41-44eb-4270-b8a1-fbd727816b94","name":"AtualizaValorPizzaFracionada1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT   atualizar_valores_itens_temp(     {{ $('Edit Fields2').item.json.user_id }} , {{ $('Edit Fields2').item.json.pedido_id }});","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1568,-2960],"id":"f3d827f1-43d1-4b60-be8f-7161df2e03e6","name":"AtualizaValorItem1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"call valida_nome_item_pedido( {{ $json.user_id }} , {{ $json.pedido_id }});","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1328,-2960],"id":"7fb7107a-8db8-4cd5-a239-f8ccdc22a053","name":"Execute a SQL query6","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8033b503-a34e-4682-a40a-b60b315714e6","name":"user_id","value":"={{ $json.user_id }}","type":"number"},{"id":"bd4fde4d-0d15-4271-945c-571b24973379","name":"pedido_id","value":"={{ $json.pedido_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1136,-2960],"id":"5fea0581-6831-43b6-9767-324f99e81cb8","name":"Edit Fields2","executeOnce":true},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('SetDados').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"=1"},{"fieldId":"tipo","fieldValue":"borda"},{"fieldId":"categoria","fieldValue":"borda"},{"fieldId":"nome","fieldValue":"={{ $('Bordas').item.json.nome }}"},{"fieldId":"numero","fieldValue":"=0"},{"fieldId":"fracionada","fieldValue":"=false"},{"fieldId":"pedido_id","fieldValue":"={{ $('SetDados').item.json.pedido_id }}"},{"fieldId":"tamanho","fieldValue":"=G"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[176,-2240],"id":"845f5053-f7e7-4761-9658-6f3ad8ccca6a","name":"Item1","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=O seu objetivo é chamar o fluxo gerador de itens do carrinho. \n\nUse no telefone   {{ $json.telefone }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3088,-3392],"id":"74202dcd-9d93-4b77-adc1-999eef2b7879","name":"Message a model","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"gL1FbKkYm9zGfCAA","mode":"list","cachedResultName":"teste final fluxo reduzido pizzaria"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensagem":"={{ $('MontPedido').item.json.chatInput }}","user_id":"={{ $('MontPedido').item.json.user_id }}","pedido_id":"={{ $('MontPedido').item.json.pedido_id }}","rotina":1,"telefone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone', `telefone`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"pedido_id","displayName":"pedido_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"rotina","displayName":"rotina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-2976,-3248],"id":"e551d0cf-42ec-40ad-b56e-a325608a83f9","name":"Call n8n Workflow Tool"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2672,-3392],"id":"ecc73e8a-67fa-44e6-a12f-38b93f782237","name":"No Operation, do nothing22","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=O seu objetivo é chamar o fluxo gerador de itens do carrinho. \n\nUse no telefone  {{ $('Dados Lead').item.json.IdConversa }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-4016,-3904],"id":"c398f198-d02d-4d71-a334-3f96f5d3b6e0","name":"Message a model2","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"gL1FbKkYm9zGfCAA","mode":"list","cachedResultName":"teste final fluxo reduzido pizzaria"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensagem":"={{ $('MensagemTraduzida').item.json.message }}","user_id":"={{ $('Concatena').item.json.user_id }}","pedido_id":"={{ $('Concatena').item.json.pedido_id }}","rotina":2,"telefone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone', `telefone`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"pedido_id","displayName":"pedido_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"rotina","displayName":"rotina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-3888,-3696],"id":"947732ed-0e9b-40a9-86a7-0b9504b1667e","name":"Call n8n Workflow Tool2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3600,-3904],"id":"6d22bbcd-92ff-4c34-95b9-453cceec19bd","name":"No Operation, do nothing25","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"}],"connections":{"Encontrar Cliente1":{"main":[[{"node":"Cliente Existe?1","type":"main","index":0}]]},"Cliente Existe?1":{"main":[[{"node":"If2","type":"main","index":0}],[{"node":"Criar Cliente1","type":"main","index":0}]]},"Criar Cliente1":{"main":[[{"node":"Concatena","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"EncontrarPedido","type":"main","index":0}]]},"Dados Lead":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Parametros Fluxo":{"main":[[{"node":"Filtro Inicial1","type":"main","index":0}]]},"Concatena":{"main":[[{"node":"Merge1","type":"main","index":0}],[{"node":"Merge1","type":"main","index":1}]]},"Filtro Inicial1":{"main":[[{"node":"Dados Lead","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Menu","type":"ai_languageModel","index":0}]]},"MsgUsuario":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Switch":{"main":[[{"node":"CancelarPedido","type":"main","index":0}],[{"node":"Message a model2","type":"main","index":0}],[{"node":"ExcluiRejeitados","type":"main","index":0}],[{"node":"ExcluiRejeitados1","type":"main","index":0}],[{"node":"primeiro atendimento","type":"main","index":0}],[],[{"node":"MenuCardapio","type":"main","index":0}],[],[{"node":"AgenteBuscaCardapio","type":"main","index":0}],[{"node":"ConsultarCardapio","type":"main","index":0}],[{"node":"Numero","type":"main","index":0}],[]]},"BuscaCardapio":{"ai_tool":[[{"node":"AgenteBuscaCardapio","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"Parametros Fluxo","type":"main","index":0}]]},"Menu":{"main":[[{"node":"If7","type":"main","index":0}]]},"ExcluiRejeitados":{"main":[[{"node":"MenuCardapio15","type":"main","index":0}]]},"Cliente Pedido":{"main":[[{"node":"ConcatenaPedido","type":"main","index":0}],[{"node":"CriaPedido","type":"main","index":0}]]},"EncontrarPedido":{"main":[[{"node":"Cliente Pedido","type":"main","index":0}]]},"CriaPedido":{"main":[[{"node":"ConcatenaPedido","type":"main","index":0}]]},"ConcatenaPedido":{"main":[[{"node":"StatusPedido","type":"main","index":0}],[{"node":"MergePedido","type":"main","index":1}]]},"MergePedido":{"main":[[{"node":"Menu","type":"main","index":0}]]},"If":{"main":[[{"node":"MenuCardapio14","type":"main","index":0}],[]]},"Wait2":{"main":[[{"node":"MenuCardapio9","type":"main","index":0}]]},"CancelarPedido":{"main":[[{"node":"If5","type":"main","index":0}]]},"If2":{"main":[[{"node":"IniciaAtendimento","type":"main","index":0}],[{"node":"AtendimentoEnviado","type":"main","index":0}]]},"IniciaAtendimento":{"main":[[{"node":"Concatena","type":"main","index":0}]]},"AtendimentoEnviado":{"main":[[{"node":"Concatena","type":"main","index":0}]]},"primeiro atendimento":{"main":[[{"node":"MenuCardapio6","type":"main","index":0}],[{"node":"MenuCardapio7","type":"main","index":0}]]},"Cancelar":{"main":[[{"node":"MenuCardapio3","type":"main","index":0}]]},"OpenAI Chat Model9":{"ai_languageModel":[[{"node":"AgenteBuscaCardapio","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory5":{"ai_memory":[[{"node":"AgenteBuscaCardapio","type":"ai_memory","index":0}]]},"MCP Client2":{"ai_tool":[[{"node":"AgenteBuscaCardapio","type":"ai_tool","index":0}]]},"AgenteBuscaCardapio":{"main":[[{"node":"MenuCardapio4","type":"main","index":0}]]},"If1":{"main":[[],[{"node":"MergePedido","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"If4","type":"main","index":0}],[{"node":"AtualizaEndereço","type":"main","index":0}],[{"node":"AtualizaBairro","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"CriaComentario","type":"main","index":0}]]},"AtualizaEndereço":{"main":[[{"node":"MenuCardapio29","type":"main","index":0}]]},"AtualizaBairro":{"main":[[{"node":"MenuCardapio28","type":"main","index":0}]]},"AtualizaFormaPagamento":{"main":[[{"node":"Execute a SQL query3","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"AtualizaFormaPagamento","type":"main","index":0}]]},"Execute a SQL query3":{"main":[[{"node":"MenuCardapio27","type":"main","index":0}]]},"ConcluiPedido":{"main":[[{"node":"Code7","type":"main","index":0}]]},"Execute a SQL query4":{"main":[[{"node":"MenuCardapio8","type":"main","index":0}]]},"StatusPedido":{"main":[[{"node":"If1","type":"main","index":0}]]},"Code3":{"main":[[{"node":"MenuCardapio12","type":"main","index":0}]]},"Rejeite":{"main":[[{"node":"Code3","type":"main","index":0}]]},"RejeitaItem":{"main":[[{"node":"ConcluiTudo","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"No Operation, do nothing17","type":"main","index":0}]]},"VerificaItens":{"main":[[{"node":"If3","type":"main","index":0}]]},"CriaComentario":{"main":[[{"node":"Confirmadados","type":"main","index":0}]]},"FinalizarPedido":{"main":[[{"node":"Execute a SQL query7","type":"main","index":0}]]},"If3":{"main":[[{"node":"VoltarParaItens","type":"main","index":0}],[{"node":"FinalizarPedido","type":"main","index":0}]]},"VoltarParaItens":{"main":[[{"node":"MenuCardapio21","type":"main","index":0}]]},"Confirmadados":{"main":[[{"node":"MenuCardapio26","type":"main","index":0}]]},"If4":{"main":[[{"node":"AtualizaSumPedidoTemp","type":"main","index":0}],[{"node":"ExcluiComentario_temp","type":"main","index":0}]]},"FinalizarPedido1":{"main":[[{"node":"MenuCardapio30","type":"main","index":0}]]},"Execute a SQL query2":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Execute a SQL query7":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"MenuCardapio19","type":"main","index":0}]]},"Acao":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Execute a SQL query5":{"main":[[{"node":"No Operation, do nothing19","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"No Operation, do nothing18","type":"main","index":0}]]},"Wait":{"main":[[{"node":"MenuCardapio32","type":"main","index":0}]]},"If5":{"main":[[{"node":"MenuCardapio23","type":"main","index":0}],[{"node":"MenuCardapio24","type":"main","index":0}]]},"Bebidas":{"main":[[{"node":"Itembebida","type":"main","index":0}]]},"Pizzas Fracionada":{"main":[[{"node":"ItemFracionado","type":"main","index":0}]]},"Pizzas Inteira":{"main":[[{"node":"ItemInteira","type":"main","index":0}]]},"Esfirra":{"main":[[{"node":"ItemEsfirra","type":"main","index":0}]]},"Itembebida":{"main":[[{"node":"Merge","type":"main","index":0}]]},"ItemFracionado":{"main":[[{"node":"Merge","type":"main","index":1}]]},"ItemInteira":{"main":[[{"node":"Merge","type":"main","index":2}]]},"ItemEsfirra":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Merge":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain1","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Structured Output Parser [Schema]1":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Bebidas","type":"main","index":0},{"node":"Pizzas Fracionada","type":"main","index":0},{"node":"Pizzas Inteira","type":"main","index":0},{"node":"Esfirra","type":"main","index":0},{"node":"item","type":"main","index":0},{"node":"Bordas","type":"main","index":0}]]},"MontPedido":{"main":[[{"node":"Code2","type":"main","index":0}]]},"ExcluiRejeitados1":{"main":[[{"node":"Execute a SQL query2","type":"main","index":0}]]},"ExcluiComentario_temp":{"main":[[{"node":"FinalizarPedido1","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"FormaText2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Code10","type":"main","index":0}]]},"MenuCardapio":{"main":[[{"node":"No Operation, do nothing9","type":"main","index":0}]]},"MenuCardapio2":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"MenuCardapio3":{"main":[[{"node":"No Operation, do nothing10","type":"main","index":0}]]},"MenuCardapio4":{"main":[[{"node":"MenuCardapio5","type":"main","index":0}]]},"MenuCardapio5":{"main":[[{"node":"No Operation, do nothing13","type":"main","index":0}]]},"MenuCardapio6":{"main":[[{"node":"No Operation, do nothing11","type":"main","index":0}]]},"MenuCardapio7":{"main":[[{"node":"Execute a SQL query4","type":"main","index":0}]]},"MenuCardapio8":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"MenuCardapio9":{"main":[[{"node":"No Operation, do nothing7","type":"main","index":0}]]},"MenuCardapio10":{"main":[[{"node":"FormaText","type":"main","index":0}]]},"MenuCardapio11":{"main":[[{"node":"No Operation, do nothing8","type":"main","index":0}]]},"MenuCardapio12":{"main":[[{"node":"FormaText1","type":"main","index":0}]]},"MenuCardapio14":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"MenuCardapio15":{"main":[[{"node":"MontPedido","type":"main","index":0}]]},"MenuCardapio19":{"main":[[{"node":"No Operation, do nothing14","type":"main","index":0}]]},"MenuCardapio18":{"main":[[]]},"MenuCardapio20":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"MenuCardapio21":{"main":[[{"node":"No Operation, do nothing15","type":"main","index":0}]]},"MenuCardapio22":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"MenuCardapio23":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"MenuCardapio24":{"main":[[{"node":"No Operation, do nothing21","type":"main","index":0}]]},"MenuCardapio25":{"main":[[{"node":"Execute a SQL query5","type":"main","index":0}]]},"MenuCardapio26":{"main":[[{"node":"MenuCardapio25","type":"main","index":0}]]},"MenuCardapio27":{"main":[[{"node":"No Operation, do nothing20","type":"main","index":0}]]},"MenuCardapio28":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]},"MenuCardapio29":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"MenuCardapio30":{"main":[[{"node":"No Operation, do nothing16","type":"main","index":0}]]},"MenuCardapio31":{"main":[[]]},"MenuCardapio32":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}]]},"AtualizaSumPedidoTemp":{"main":[[{"node":"ConcluiPedido","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Mensagem Texto1","type":"main","index":0}],[{"node":"Mensagem Texto2","type":"main","index":0}],[{"node":"Mensagem Audio1","type":"main","index":0}],[{"node":"Mensagem Imagem1","type":"main","index":0}],[{"node":"Mensagem Documento PDF","type":"main","index":0}],[{"node":"Mensagem Erro1","type":"main","index":0}]]},"Transcrever Áudio1":{"main":[[{"node":"Add Audio Buffer1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Add Imagem Buffer1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Buffer 3","type":"main","index":0}]]},"ComparandoMensagens1":{"main":[[{"node":"Apagar Buffer1","type":"main","index":0}],[{"node":"No Operation, do nothing6","type":"main","index":0}]]},"Buffer ":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Buffer 3":{"main":[[{"node":"ComparandoMensagens1","type":"main","index":0}]]},"Add Texto Buffer1":{"main":[[{"node":"Buffer ","type":"main","index":0}]]},"Apagar Buffer1":{"main":[[{"node":"Normalizador","type":"main","index":0}]]},"Mensagem Texto1":{"main":[[{"node":"Add Texto Buffer1","type":"main","index":0}]]},"Mensagem Audio1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Mensagem Imagem1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Add Audio Buffer1":{"main":[[{"node":"Buffer ","type":"main","index":0}]]},"Add Error Buffer1":{"main":[[{"node":"Buffer ","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Add PDF Buffer1","type":"main","index":0}]]},"Mensagem Erro1":{"main":[[{"node":"Add Error Buffer1","type":"main","index":0}]]},"Add PDF Buffer1":{"main":[[{"node":"Buffer ","type":"main","index":0}]]},"Add Imagem Buffer1":{"main":[[{"node":"Buffer ","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Bot Desativado?1","type":"main","index":0}]]},"Bot Desativado?1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Switch1","type":"main","index":0}]]},"Mensagem Documento PDF":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Transcrever Áudio1","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Mensagem Texto2":{"main":[[{"node":"Add Texto Buffer1","type":"main","index":0}]]},"MensagemTraduzida":{"main":[[{"node":"Code4","type":"main","index":0}]]},"No Operation, do nothing6":{"main":[[]]},"MenuCardapio33":{"main":[[{"node":"Encontrar Cliente1","type":"main","index":0}]]},"If7":{"main":[[{"node":"MsgUsuario1","type":"main","index":0}],[{"node":"MsgUsuario","type":"main","index":0}]]},"MsgUsuario1":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Acao","type":"main","index":0}]]},"Code5":{"main":[[{"node":"MenuCardapio10","type":"main","index":0}]]},"Code6":{"main":[[{"node":"MenuCardapio37","type":"main","index":0}]]},"MenuCardapio37":{"main":[[{"node":"MenuCardapio20","type":"main","index":0}]]},"Code7":{"main":[[{"node":"MenuCardapio38","type":"main","index":0}]]},"MenuCardapio38":{"main":[[{"node":"Wait","type":"main","index":0}]]},"FormaText":{"main":[[{"node":"MenuCardapio11","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Code10":{"main":[[{"node":"MenuCardapio33","type":"main","index":0}]]},"OrdenaPedido":{"main":[[{"node":"Rejeite","type":"main","index":0}]]},"Code12":{"main":[[{"node":"MenuCardapio39","type":"main","index":0}]]},"MenuCardapio36":{"main":[[{"node":"OrdenaPedido1","type":"main","index":0}]]},"OrdenaPedido1":{"main":[[{"node":"PedidoPosExclusao","type":"main","index":0}]]},"MenuCardapio39":{"main":[[{"node":"No Operation, do nothing24","type":"main","index":0}]]},"MenuCardapio40":{"main":[[{"node":"MenuCardapio43","type":"main","index":0}]]},"MenuCardapio43":{"main":[[{"node":"No Operation, do nothing26","type":"main","index":0}]]},"VariasPizzas1":{"main":[[{"node":"Code13","type":"main","index":0}]]},"Code13":{"main":[[{"node":"MenuCardapio40","type":"main","index":0}]]},"ConsultarCardapio":{"main":[[{"node":"ConsultaOnline","type":"main","index":0}]]},"MenuCardapio44":{"main":[[{"node":"No Operation, do nothing27","type":"main","index":0}]]},"FormaText1":{"main":[[{"node":"MenuCardapio44","type":"main","index":0}]]},"FormaText2":{"main":[[{"node":"MenuCardapio45","type":"main","index":0}]]},"MenuCardapio45":{"main":[[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"Numero":{"main":[[{"node":"ExcluiBorda","type":"main","index":0}]]},"Excluir Item":{"main":[[{"node":"MenuCardapio36","type":"main","index":0}]]},"ExcluiBorda":{"main":[[{"node":"Excluir Item","type":"main","index":0}]]},"ItemInteira1":{"main":[[{"node":"Execute a SQL query10","type":"main","index":0}]]},"Execute a SQL query10":{"main":[[{"node":"If8","type":"main","index":0}]]},"If8":{"main":[[{"node":"MontaPedido","type":"main","index":0}],[{"node":"PizzaPorNome3","type":"main","index":0}]]},"MenuCardapio46":{"main":[[{"node":"Execute a SQL query13","type":"main","index":0}]]},"VariasPizza3":{"main":[[{"node":"VariasPizzas3","type":"main","index":0}]]},"MenuCardapio48":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"PizzaPorNome3":{"main":[[{"node":"AtualizaValorPizza1","type":"main","index":0}]]},"VariasPizzas3":{"main":[[{"node":"Code11","type":"main","index":0}]]},"Execute a SQL query13":{"main":[[{"node":"MenuCardapio48","type":"main","index":0}]]},"MontaPedido":{"main":[[{"node":"VariasPizza3","type":"main","index":0}]]},"Code11":{"main":[[{"node":"MenuCardapio46","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"MenuCardapio49","type":"main","index":0}]]},"MenuCardapio49":{"main":[[{"node":"No Operation, do nothing28","type":"main","index":0}]]},"Code8":{"main":[[{"node":"ItemInteira1","type":"main","index":0}]]},"AtualizaValorPizza1":{"main":[[]]},"item":{"main":[[{"node":"Item","type":"main","index":0}]]},"Item":{"main":[[{"node":"Merge","type":"main","index":4}]]},"ConcluiTudo":{"main":[[{"node":"OrdenaPedido","type":"main","index":0}]]},"ConsultaOnline":{"main":[[{"node":"VariasPizzas1","type":"main","index":0}]]},"PedidoPosExclusao":{"main":[[{"node":"Code12","type":"main","index":0}]]},"Normalizador":{"main":[[{"node":"Validador","type":"main","index":0}]]},"Validador":{"main":[[{"node":"MensagemTraduzida","type":"main","index":0}]]},"Bordas":{"main":[[{"node":"Item1","type":"main","index":0}]]},"AtualizaValorItem1":{"main":[[{"node":"AtualizaValorPizzaFracionada1","type":"main","index":0}]]},"Execute a SQL query6":{"main":[[{"node":"AtualizaValorItem1","type":"main","index":0}]]},"No Operation, do nothing8":{"main":[[]]},"Edit Fields2":{"main":[[{"node":"Execute a SQL query6","type":"main","index":0}]]},"Item1":{"main":[[{"node":"Merge","type":"main","index":5}]]},"AtualizaValorPizzaFracionada1":{"main":[[{"node":"RejeitaItem","type":"main","index":0}]]},"Call n8n Workflow Tool":{"ai_tool":[[{"node":"Message a model","type":"ai_tool","index":0}]]},"Message a model":{"main":[[{"node":"No Operation, do nothing22","type":"main","index":0}]]},"Message a model2":{"main":[[{"node":"No Operation, do nothing25","type":"main","index":0}]]},"Call n8n Workflow Tool2":{"ai_tool":[[{"node":"Message a model2","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.lglducci.com.br","user-agent":"axios/1.7.7","content-length":"1035","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"159.69.117.195","cf-ipcountry":"DE","cf-ray":"9822ec862e76d262-FRA","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/json","x-forwarded-for":"172.71.164.229","x-forwarded-host":"n8n.lglducci.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik_traefik.1","x-real-ip":"172.71.164.229"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"delivery","data":{"key":{"remoteJid":"5516992975836@s.whatsapp.net","fromMe":false,"id":"3EB05A18532EDAB0F17091"},"pushName":"Luis Gustavo Landucci","message":{"conversation":"1 pizza 3 grande","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"qsa2uhWhGgSvcA==","senderTimestamp":"1757369973","senderAccountType":"E2EE","receiverAccountType":"E2EE","recipientKeyHash":"tPXKkPhX8YIDCg==","recipientTimestamp":"1757207594"},"deviceListMetadataVersion":2,"messageSecret":"lLhnXYoxZ/6fSntpNe1zpgiuSCDimCm9+MvueDRCM2s="}},"messageType":"conversation","messageTimestamp":1758388096,"instanceId":"4dd4c0e0-99c0-4837-ad50-a467024f723a","source":"web"},"destination":"https://n8n.lglducci.com.br/webhook-test/agente","date_time":"2025-09-20T14:08:16.934Z","sender":"5516991216319@s.whatsapp.net","server_url":"https://evolution.lglducci.com.br","apikey":"61E902EA720B-492E-9768-BE78CE95B224"},"webhookUrl":"https://webhook.lglducci.com.br/webhook-test/agente","executionMode":"test"}}],"Edit Fields2":[{"json":{"user_id":72,"pedido_id":16}}]},"versionId":"02029f79-a649-493f-90a3-0f6358812dbe","triggerCount":1,"shared":[{"createdAt":"2025-09-07T00:48:12.031Z","updatedAt":"2025-09-07T00:48:12.031Z","role":"workflow:owner","workflowId":"9WftJMMBMRPnj8NP","projectId":"wFRMrac2003Pl1x6"}],"tags":[{"createdAt":"2025-09-07T00:48:06.709Z","updatedAt":"2025-09-07T00:48:06.709Z","id":"oyXqUAJNw26h8Z5c","name":"github"}]}