delivery-9WftJMMBMRPnj8NP.json
{"createdAt":"2025-09-07T00:48:12.031Z","updatedAt":"2025-09-07T01:07:02.081Z","id":"9WftJMMBMRPnj8NP","name":"Delivery","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Formatos Base64\nBase64 é uma forma de codificar dados binários como texto. Dependendo do tipo de arquivo, os prefixos variam para indicar o formato do dado. Aqui estão alguns dos formatos mais comuns com os respectivos prefixos base64:\n\n### 1. **Imagem**\n   - **PNG**: `data:image/png;base64,`\n   - **JPEG**: `data:image/jpeg;base64,`\n   - **GIF**: `data:image/gif;base64,`\n   - **SVG**: `data:image/svg+xml;base64,`\n   - **BMP**: `data:image/bmp;base64,`\n   \n### 2. **Áudio**\n   - **MP3**: `data:audio/mp3;base64,`\n   - **WAV**: `data:audio/wav;base64,`\n   - **OGG**: `data:audio/ogg;base64,`\n   - **MPEG**: `data:audio/mpeg;base64,`\n\n### 3. **Vídeo**\n   - **MP4**: `data:video/mp4;base64,`\n   - **OGG**: `data:video/ogg;base64,`\n   - **WebM**: `data:video/webm;base64,`\n\n### 4. **Texto**\n   - **Plain Text**: `data:text/plain;base64,`\n   - **HTML**: `data:text/html;base64,`\n   - **CSS**: `data:text/css;base64,`\n   - **JavaScript**: `data:text/javascript;base64,`\n   - **CSV**: `data:text/csv;base64,`\n\n### 5. **Documentos**\n   - **PDF**: `data:application/pdf;base64,`\n   - **JSON**: `data:application/json;base64,`\n   - **ZIP**: `data:application/zip;base64,`\n   - **XML**: `data:application/xml;base64,`\n\nEsses são exemplos de prefixos que podem ser usados ao incluir dados base64 em documentos ou aplicações.","height":1166,"width":593,"color":7},"id":"0d958084-a113-4052-aee2-de6c6fa7cec7","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-8704,-880]},{"parameters":{"content":"## MimeTypes\nO Mime type é o mecanismo para especificar o tipo de documento.\nA estrutura de um MIME type é muito simples; Consiste de um tipo e um subtipo, separados por um '/', onde nenhum espaço é permitido. \nO tipo representa a categoria. \nO subtipo é específico para cada tipo.\n\n### 1. **image**\nRepresenta qualquer tipo de imagens\n- image/gif\n- image/png\n- image/jpeg\n- image/bmp\n- image/webp\n   \n\n### 2. **audio**\nRepresenta qualquer tipo de arquivo de audio\n- audio/midi\n- audio/mpeg\n- audio/webm\n- audio/ogg\n- audio/wav\n- audio/mp3\n- audio/mp4\n\n### 3. **video**\nRepresenta qualquer tipo de arquivo de video\n- video/webm\n- video/ogg\n- video/mp4\n\n### 4. **text**\nRepresenta qualquer documento que contenha texto\n- text/plain\n- text/csv\n- text/html\n- text/css\n- text/javascript\n\n### 5. **application**\nRepresenta qualquer tipo de dados binários.\n- application/octet-stream\n- application/pkcs12\n- application/vnd.mspowerpoint\n- application/xhtml+xml\n- application/xml\n- application/pdf3","height":1166,"width":593,"color":7},"id":"10ec2d92-d29f-4ccb-8b61-9fe2a4e94152","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-9600,-576]},{"parameters":{"operation":"get","tableId":"usuario_lacantina","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Dados Lead').item.json.IdConversa }}"}]}},"id":"fd74557b-efb4-4866-b238-5a289fad9db1","name":"Encontrar Cliente1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-8944,-2880],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3419c30f-4400-401b-bf40-db1579507f96","leftValue":"={{ $json.user_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"fb3b0daa-e714-4e73-aebb-e85b69d69450","name":"Cliente Existe?1","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-8736,-2880],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"tableId":"usuario_lacantina","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $('Dados Lead').item.json.LeadNome }}"},{"fieldId":"telefone","fieldValue":"={{ $('Dados Lead').item.json.IdConversa }}"}]}},"id":"1b5e7d3e-9428-4d1b-8a4d-5dbb011857f9","name":"Criar Cliente1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-8304,-2608],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"id":"84187afa-bb28-469f-9c03-995d71927873","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-7952,-2880],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5520,-4784],"id":"0b602d57-0574-418b-b765-65615d72cfb3","name":"No Operation, do nothing5","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"## Gatilho\nChat Trigger, WhatsApp, Instagram, Telegram, Messenger, etc..","height":572,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-11232,-3136],"id":"eb429214-fc7b-4a4e-a2b1-c5b7c26c1192","name":"Sticky Note2"},{"parameters":{"content":"## Variáveis do Fluxo\nCentral de controle do workflow","height":540,"width":326,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-10816,-3104],"id":"b59d016e-fc5f-4ac9-9cc0-7e2ef7531382","name":"Sticky Note3"},{"parameters":{"content":"## Filtros Iniciais\nPara evitar que fluxo seja executado quando não queremos","height":540,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-10448,-3120],"id":"04a1a72f-535a-47bc-a657-addedd7b9dda","name":"Sticky Note4"},{"parameters":{"content":"## Dados do Lead\nInformações principais sobre o lead","height":540,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-10048,-3120],"id":"94809f73-f208-408a-8030-03ee63c3cac9","name":"Sticky Note5"},{"parameters":{"content":"## Registro do Lead no banco de dados (Supabase)\nFluxo para adição do lead no banco de dados postgrees supabase.","height":716,"width":2808,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-9008,-3056],"id":"890bd5a2-c1d4-4fa0-a4f2-a395a911981b","name":"Sticky Note7"},{"parameters":{"content":"## Mensagem para o Agente\nMensagem final do usuário para o agente","height":652,"width":276,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-9504,-3088],"id":"7a05b218-9871-4390-94a6-0498f5347e9f","name":"Sticky Note10"},{"parameters":{"content":"## Agente de IA\nAgente inteligente com memória e prompt pré formatado","height":1336,"width":2068,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6848,-4848],"id":"31b3edbe-ecc6-47a5-a052-2e53fc9fd665","name":"Sticky Note11"},{"parameters":{"assignments":{"assignments":[{"id":"9f488c5c-0b3b-48e9-87b1-5a22d513d1ec","name":"IdConversa","value":"=   {{ $('Webhook').item.json.body.data.key.remoteJid.replace(\"@s.whatsapp.net\",\"\") }}","type":"string"},{"id":"69f6217f-9063-423f-abf4-e94f6b70f94e","name":"LeadNome","value":"= {{ $('Webhook').item.json.body.data.pushName }}","type":"string"},{"id":"6ba1d721-f125-47fb-ad7b-194cc478a856","name":"input_usuario","value":"=                        {{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"},{"id":"ba4188f4-3672-477b-a776-7eadc863140c","name":"mensagem_usuario","value":"=  {{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"},{"id":"33d4eb69-2991-4188-8b18-2ac04b7b2f74","name":"usario","value":"0","type":"string"}]},"options":{}},"id":"53c8acbc-ba50-48b3-bf41-d38b775ec224","name":"Dados Lead","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-9920,-2880],"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"Ajustes os filtros necessários conforme seu gatilho de entrada","height":280,"width":190,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-10384,-3008],"id":"e843f8bf-2eec-48d5-9226-943feabbca98","name":"Sticky Note1"},{"parameters":{"content":"Ajuste tempos de buffer e inatividade do agente conforme necessidade.\n","height":280,"width":190,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-10736,-3008],"id":"ad6061d4-0095-45da-ab5c-c9f2e3fe112a","name":"Sticky Note18"},{"parameters":{"assignments":{"assignments":[{"id":"3bdce7b6-d0f1-442c-aafd-8cd123aa21b6","name":"EsperaBuffer","value":1,"type":"number"},{"id":"c38e8985-4494-40a4-878e-f25467849842","name":"TempoInatividadeAgente","value":150,"type":"number"},{"id":"ac619a5e-1438-4e19-aaf5-21dfcbc32312","name":"ModeloTemperatura","value":0.4,"type":"number"},{"id":"cd3b0a32-e454-406e-84ad-b5efedc9c545","name":"empresa","value":"1","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-10704,-2880],"id":"9697cba7-4df2-455a-aa8b-13767473f3ea","name":"Parametros Fluxo","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/?utm_source=template-n8n","height":126,"width":593,"color":7},"id":"081fe256-d0e1-4fa9-8dac-860bcc2dfa32","name":"Sticky Note23","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4608,256]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00d2650d-52f9-4bf5-9b50-ec548c105222","leftValue":"={{ $json.lead_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-8160,-2880],"id":"d5eb91a0-faf4-4aa2-affa-0f6e3ae14efe","name":"Concatena"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"204f54b0-e3ed-4ff4-8302-8c20d3b8aa78","leftValue":"={{ $('Webhook').item.json.body.isGroup }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"c51986d9-f347-4198-89bb-9e4cd0f021c9","leftValue":"={{ $('Webhook').item.json.body.broadcast }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"05ee6414-0164-473b-8f82-225cfba55ad2","leftValue":"={{ $('Webhook').item.json.body.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"59453ca8-8599-4909-9040-2779c09bb64d","name":"Filtro Inicial1","type":"n8n-nodes-base.filter","typeVersion":2.1,"position":[-10336,-2880],"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-6384,-2592],"id":"4c8de601-cf68-4f27-b200-f0a2db86d314","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"jsCode":" return [\n  {\n    json: JSON.parse( $input.first().json.text) // ou o campo correto de saída\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5760,-2912],"id":"3db5c23c-e4c5-441e-8ba9-c02bb9df1a69","name":"MsgUsuario"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.acao }}","rightValue":"menu","operator":{"type":"string","operation":"equals"},"id":"c957927a-1cf4-44bf-8f38-1496767b6a1b"}],"combinator":"and"},"renameOutput":"=menu"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"03a78ab2-9057-4ff5-baa5-8c37c432a94d","leftValue":"={{ $json.acao }}","rightValue":"cancelar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cancelar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e1b9d060-7def-4f5f-b587-657ed9c9ce85","leftValue":"={{ $json.acao }}","rightValue":"finalizar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Finalizar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3fc41f2-ee99-4de2-8841-2ae1a7da37db","leftValue":"={{ $json.acao }}","rightValue":"adicionar_item","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Adicionar Item"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"38045ee6-0b44-4b52-a79c-676c7ce5998a","leftValue":"={{ $json.acao }}","rightValue":"consultar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Consutar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4bbedcdd-6893-41a2-9e3d-bfc9b97ca10a","leftValue":"={{ $json.acao }}","rightValue":"desconhecida","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"desconhecida"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"42e2c65b-a99d-4991-ac87-a7ff8d84d4a5","leftValue":"={{ $json.acao }}","rightValue":"instrucao","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Instruções"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"23e65839-03f6-4879-8998-48ad2909ef94","leftValue":"={{ $json.acao }}","rightValue":"cardapio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cardapio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4f5a8ba2-c888-48cd-bbe2-ba09467e56a0","leftValue":"={{ $json.acao }}","rightValue":"humanizado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"humanizado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"996ac831-1b2b-4f3b-8efa-a53642a5d337","leftValue":"={{ $json.acao }}","rightValue":"detalhar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Detalhar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-5040,-3168],"id":"df5dff62-eb9b-4f07-a007-a70368a273c4","name":"Switch"},{"parameters":{"descriptionType":"manual","toolDescription":"Execute a SQL query in Postgres","operation":"executeQuery","query":" SELECT * FROM busca_cardapio(pega_numeros_concatenados(  {{ $('Merge1').item.json.user_id }}  , {{ $('MergePedido').item.json.pedido_id }}));","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-3744,-1344],"id":"77aac7a5-7b47-4c91-9a6e-0f68476a42f2","name":"BuscaCardapio","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2768,-3072],"id":"172ed5cb-8b9f-4d47-97a0-09c133d52f17","name":"No Operation, do nothing8","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"httpMethod":"POST","path":"agente","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-11072,-2880],"id":"52671cad-26cd-4495-940c-eff54c5e1b56","name":"Webhook","webhookId":"66949457-5339-4325-b499-9a15d57ff6a1"},{"parameters":{"promptType":"define","text":"=<mensagem_do_usuario>\n {{ $('Dados Lead').item.json.mensagem_usuario }}\n</mensagem_do_usuario>","hasOutputParser":true,"messages":{"messageValues":[{"message":"= Você é um classificador de intenção para um pedido de pizzaria.\n\nDada a mensagem do cliente, responda APENAS com uma das seguintes ações:\n\n- adicionar_item → o cliente está pedindo uma pizza, bebida, etc., ou digitou \"1\" para adicionar mais itens\n- finalizar → se ele disser \"pronto\", \"fim\", \"pode fechar\", ou digitar \"4\"\n- cancelar → se ele disser que desistiu, quer cancelar ou digitar \"6\"\n- comentar → se ele faz observações tipo \"sem cebola\", \"sem queijo\", etc.\n- desconhecida → se não entender a mensagem\n- consultar → se o cliente deseja ver o resumo do pedido ou digitar \"5\" ou \"consulta\"\n- detalhar → se o cliente quer ver os detalhes dos itens do pedido ou digitar \"7\"\n- menu → se ele pedir o menu ou opções\n- instrucao →  o cliente diseer \"Instruções\", ou digitou \"2\" para adicionar mais itens\n- cardapio →  o cliente diseer \"Cardapio\", ou digitou \"3\" para ver o cardapio\n\n- humanizado →  o cliente diseer \"humanizado\", ou digitou \"8\"  envie o numero de telefone humanizado\n\nRetorne **somente** nesse formato:\n\n{\n  \"acao\": \"adicionar_item\" | \"finalizar\" | \"cancelar\" | \"comentar\" | \"desconhecida\" | \"consultar\" | \"detalhar\" | \"menu\" | \"instrucao\"| \"cardapio\"| \"humanizado\"\n}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-6352,-2896],"id":"18666f34-3844-4b37-b140-4cab5cf339fd","name":"Menu","retryOnFail":true,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"item_pedido_temp","mode":"list","cachedResultName":"item_pedido_temp"},"deleteCommand":"delete","where":{"values":[{"column":"user_id","value":"= {{ $('Merge1').item.json.user_id }}"},{"column":"status","value":"rejeitado"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3424,-3376],"id":"b72f80e2-7e63-409a-99b7-6bb0d3406b0f","name":"ExcluiRejeitados","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"content":"","height":3740,"width":12636,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-16784,-12192],"id":"ae30458e-4f49-47e8-af39-4ade1146f1f5","name":"Sticky Note14"},{"parameters":{"tableId":"pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('Merge1').item.json.user_id }}"},{"fieldId":"status","fieldValue":"aberto"},{"fieldId":"valor","fieldValue":"0"}]}},"id":"3c74e864-c948-4abb-bfd2-b178607d6201","name":"CriaPedido","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-7456,-2720],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3419c30f-4400-401b-bf40-db1579507f96","leftValue":"={{ $json.user_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c71bf718-5970-4cb3-b25d-fdad99a489ba","name":"Cliente Pedido","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-7600,-2880],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"get","tableId":"pedido_temp","filters":{"conditions":[{"keyName":"user_id","keyValue":"={{ $('Merge1').item.json.user_id }}"}]}},"id":"d4c7b023-e838-4573-8556-28f89f4bbcba","name":"EncontrarPedido","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-7776,-2880],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3408,-4464],"id":"80f88402-1d68-4100-80c3-9b3a519158fa","name":"No Operation, do nothing1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2896,-4320],"id":"db972b18-b2ef-45ac-9839-f04763f41a93","name":"No Operation, do nothing2","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00d2650d-52f9-4bf5-9b50-ec548c105222","leftValue":"={{ $json.pedido_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7344,-2896],"id":"b00b6139-0a1c-4695-b4a0-2c77a98a777d","name":"ConcatenaPedido"},{"parameters":{},"id":"bb02d4e0-d35f-4694-a604-2dd0b7162d9e","name":"MergePedido","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-6688,-2896],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3184,-2400],"id":"d31a9c8a-e4e3-479b-9ccf-f4bf6faaf22d","name":"No Operation, do nothing3","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5e64e4bd-33c7-44a0-9deb-9f3d31db5a48","leftValue":"={{ $('Dados Lead').item.json.mensagem_usuario.toString().trim() }}","rightValue":"1","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3696,-3504],"id":"438a6b71-8307-4ca1-8b49-a1d2f3ec6d92","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2400,-3584],"id":"e9d99b7f-2129-4429-868e-92f88725e9dc","name":"No Operation, do nothing4","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2256,-2592],"id":"bfcdd3e2-a80b-4f1a-8471-7e1e37a1386e","name":"No Operation, do nothing7","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2672,-2592],"id":"c3660687-8110-4346-9942-e0718fcd9dd5","name":"Wait2","webhookId":"e7496148-e2c5-4de6-a720-b218f64657df"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3168,-2208],"id":"6941bd6f-503a-4890-b396-bfab789ba416","name":"No Operation, do nothing9","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":"select * from  cancela_pre_pedido( {{ $('Concatena').item.json.user_id }}, {{ $('MergePedido').item.json.pedido_id }}  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3696,-4192],"id":"4f5d0274-e1b7-47a8-90fc-5e37f85b5157","name":"CancelarPedido","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=  {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"🗑️ {{ $('Dados Lead').item.json.LeadNome }}, o seu pedido foi cancelado com sucesso. Vamos começar um novo pedido!\" \n  }\n}\n ","options":{}},"id":"9f817285-5495-4f98-839f-bff4cf731362","name":"ConfirmaCancelamento","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2736,-4512]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3008,-2016],"id":"e7e3f787-67f4-4299-b90a-9d22e5816cb3","name":"No Operation, do nothing10","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"🗑️ {{ $('Dados Lead').item.json.LeadNome }}, o seu pedido foi *cancelado* com sucesso.\\n\\nSe quiser começar um *novo pedido*, estou por aqui!\\n\\n📞 O telefone para atendimento humanizado é *(16) 99406-6336*\"\n  }\n}\n","options":{}},"id":"6ac99cfb-6c2b-4683-a352-c565f6fcc265","name":"ConfirmaCancelamento1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2736,-2016]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3040,-2784],"id":"a9ada74a-4db4-4f69-84a9-679cb782a971","name":"No Operation, do nothing11","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"041e18dc-788b-45e7-9348-cca03ac28eee","leftValue":"={{ $json.status }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-8544,-2912],"id":"81fc366a-8a3d-4d3e-8ce1-ef28917b750b","name":"If2"},{"parameters":{"operation":"update","tableId":"usuario_lacantina","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $json.user_id }}"},{"keyName":"status","condition":"is","keyValue":"null"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"iniciado"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-8368,-3008],"id":"3b808fe7-6ab9-442b-9998-0664165cb23d","name":"IniciaAtendimento","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"usuario_lacantina","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $json.user_id }}"},{"keyName":"status","condition":"eq","keyValue":"iniciado"},{"keyName":"status","condition":"eq","keyValue":"iniciado"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"enviado"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-8368,-2848],"id":"78a77b6f-a8c8-41cc-85d4-2ce5bcc99f34","name":"AtendimentoEnviado","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aac1bbdf-a888-48b3-9539-12df30d4be7a","leftValue":"={{ $('StatusPedido').item.json.status?.toString().trim().toLowerCase() }}","rightValue":"enviado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3568,-2736],"id":"b95e0158-31cd-4e7c-9f3d-ef6271111f6d","name":"primeiro atendimento"},{"parameters":{"operation":"executeQuery","query":"select * from  cancela_pre_pedido( {{ $('Concatena').item.json.user_id }}, {{ $('MergePedido').item.json.pedido_id }}  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3392,-2016],"id":"93bf07b6-b02b-4605-bc47-f3b7fae84480","name":"Cancelar","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"options":{"temperature":0.2}},"id":"55ff8977-b4e7-4698-866c-83c8aca87a3a","name":"OpenAI Chat Model9","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-4112,-1392],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"Faça os ajustes necessários no Prompt do seu agente","height":220,"width":330,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4016,-1744],"id":"5bcf046b-25f4-4fd3-a3e2-30e7809303f2","name":"Sticky Note32"},{"parameters":{"sessionIdType":"customKey","sessionKey":"= {{ $json.telefone }}","tableName":"=n8n_chat_histories","contextWindowLength":8},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-3984,-1392],"id":"6384ac5b-f38c-4233-998a-2fe2449c7c01","name":"Postgres Chat Memory5","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"sseEndpoint":"https://marinhoinacio.app.n8n.cloud/mcp/notion-crm/sse","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[-3872,-1344],"id":"244a3fdb-7027-4817-ba7c-4d7a7e6c4c1b","name":"MCP Client2","disabled":true},{"parameters":{"content":"## Agente de IA\nAgente inteligente com memória e prompt pré formatado","height":720,"width":1380,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4272,-1936],"id":"f8461642-f299-42c3-95ff-d40d088cac80","name":"Sticky Note34"},{"parameters":{"promptType":"define","text":"= {{ $('Webhook').item.json.body.message.conversation }}","options":{"systemMessage":"= ## 🧠 Objetivo\n\nExecutar a ferramenta `BuscaCardapio()` e exibir ao cliente todos os itens válidos retornados.\n\n---\n\n### ⚙️ Instruções obrigatórias para a IA:\n\n1. Execute a ferramenta:\nBuscaCardapio()\n\n\n2. Carregue a resposta da ferramenta como `resultado_da_BuscaCardapio`.\n\n3. Para cada item da lista **resultado_da_BuscaCardapio**, exiba exatamente as informações nos campos:\n   - `numero`\n   - `nome`\n   - `descricao`\n   - `preco_grande`\n   - `preco_medio`\n\n4. Todos os itens da lista devem ser exibidos, **sem exceção**, na ordem original.\n\n5. Não filtre, não interprete e não oculte nenhum item.  \n   **Mesmo que não seja pizza, exiba como está.**\n\n\n### 📋 Formato de exibição:\n\nUse o seguinte modelo fixo para **cada item**:\n\n🔹 (número) nome – (G) R$preco_grande / (M) R$preco_medio\n📝 Descrição: descricao\n\n "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-3968,-1696],"id":"f43ce93c-8125-4bee-87d3-18286ccbf4e6","name":"AgenteBuscaCardapio","retryOnFail":true,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"{{ $json.output.replace(/\\n/g, '\\\\n') }}\"\n  }\n}\n","options":{}},"id":"e0b3ac47-1248-48aa-bda1-5670f503509a","name":"MegaApi6","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3648,-1872]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3136,-1696],"id":"1d499638-d1f7-40d2-a072-e54662f767e9","name":"No Operation, do nothing13","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"47e0125e-bf62-4c8f-8335-0cc431a9855a","leftValue":"={{ Boolean(($json.status ?? '').toString().trim().toLowerCase() !== 'aberto') }}","rightValue":"aberto","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"c1c4dc73-6ee1-4e07-b916-20250b456d39","leftValue":"={{ Boolean(($json.status ?? '').toString().trim().toLowerCase() !== 'enviado') }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7024,-3760],"id":"c8277592-89e2-40f3-bc26-9ecca35071f0","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1888,-3776],"id":"23ec2814-49e3-4c5a-9183-966e1f9c8b90","name":"No Operation, do nothing14","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('EncontrarPedido').item.json.status }}","rightValue":"=concluido","operator":{"type":"string","operation":"equals"},"id":"cb2ab091-b3c5-4c40-a698-b2d3608bac53"}],"combinator":"and"},"renameOutput":true,"outputKey":"concluido"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"301b7994-477f-4113-9820-a9bbfa71b04e","leftValue":"={{ $('EncontrarPedido').item.json.status }}","rightValue":"endereco","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"endereco"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4f958d7a-210f-43cd-96b3-1c0b512db3fd","leftValue":"={{ $('EncontrarPedido').item.json.status }}","rightValue":"bairro","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"bairro"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aa5bb530-006a-433b-a323-40bd0903e646","leftValue":"={{ $('EncontrarPedido').item.json.status }}","rightValue":"pagamento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pagamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"15d3100a-1a3d-4b03-b63c-b34f2bfe973c","leftValue":"={{ $('EncontrarPedido').item.json.status }}","rightValue":"comentario","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"comentario"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-6816,-4192],"id":"f0cd6bc2-e55b-4761-bc70-83e832021a29","name":"Switch2"},{"parameters":{"operation":"executeQuery","query":" UPDATE usuario_lacantina\nSET endereço = ' {{ $('Dados Lead').item.json.mensagem_usuario }}'\nWHERE user_id = {{ $('Merge1').item.json.user_id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-6368,-4272],"id":"beafc500-4f22-4958-a5f0-a987a180d882","name":"AtualizaEndereço","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='bairro'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5936,-4272],"id":"cf4ad24b-82b4-4e8a-b26f-d0489e5e7b8f","name":"Execute a SQL query","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='pagamento'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5984,-4080],"id":"6013f7d3-d331-4f4c-b222-43e6d5ead90f","name":"Execute a SQL query1","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" UPDATE usuario_lacantina\nSET bairro = ' {{ $('Dados Lead').item.json.mensagem_usuario }}'\nWHERE user_id = {{ $('Merge1').item.json.user_id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-6384,-4064],"id":"b1cb91ac-0158-4312-9201-5c20da13d462","name":"AtualizaBairro","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" update pedido_temp set tipo_cobranca = '{{ $('Dados Lead').item.json.mensagem_usuario }}'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5984,-3872],"id":"20d02534-66b5-4ea8-b90d-17f4c51782b7","name":"AtualizaFormaPagamento","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"jsCode":" // INPUT: items[i].json.body.message.conversation (string livre do usuário)\n// OUTPUT (por item):\n// {\n//   input,                         // texto original\n//   ok,                            // true/false\n//   forma_pagamento,               // 'pix' | 'cartao' | 'dinheiro' | null\n//   subtipo,                       // 'credito' | 'debito' | null (quando cartao)\n//   variante_detectada,            // termo que levou à decisão\n//   confidence,                    // 0..1\n//   needs_confirmation,            // true se ambíguo (ex: mencionou 2 formas)\n//   troco_valor,                   // número (centavos) ou null\n//   troco_texto,                   // texto do troco (\"troco pra 100\")\n//   observacao                     // string curta (ex: \"sem troco\", \"nao tenho cartao\")\n// }\n\nfunction unaccent(s) {\n  return (s || '').normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n}\nfunction toCents(numStr) {\n  if (!numStr) return null;\n  // aceita \"100\", \"100,00\", \"R$ 50\", \"50.50\"\n  let s = String(numStr).replace(/[^\\d,.\\s]/g, '').trim();\n  // se tem vírgula e ponto, prioriza vírgula como decimal (pt-BR)\n  if (/,/.test(s) && /\\./.test(s)) s = s.replace(/\\./g, '').replace(',', '.');\n  else if (/,/.test(s) && !/\\./.test(s)) s = s.replace(',', '.');\n  const v = parseFloat(s);\n  return Number.isFinite(v) ? Math.round(v * 100) : null;\n}\n\nfunction detectPagamento(textRaw) {\n  const input = String(textRaw || '');\n  const txt = unaccent(input).toLowerCase();\n\n  // Emojis e palavras-chave\n  const PIX = [\n    'pix', 'chave pix', 'qr code', 'qrcode', 'qr-code', 'transferencia', 'transf', 'pix copia e cola', 'copia e cola'\n  ];\n  const CARTAO = [\n    'cartao', 'cartao de credito', 'cartao de debito', 'credito', 'debito',\n    'maquina', 'maquininha', 'pos', 'p-o-s', 'visa', 'mastercard', 'elo', 'amex', 'contactless', 'aproximacao'\n  ];\n  const DINHEIRO = [\n    'dinheiro', 'especie', 'em especie', 'cash', 'nota', 'moeda', 'em dinheiro'\n  ];\n\n  // Negação próxima ao termo\n  const NEG_PAT = /\\b(nao|não|sem)\\b/;\n\n  // Helpers de match “forte” (palavra ou emoji)\n  const hasWord = (arr) => arr.some(w => new RegExp(`\\\\b${w.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&')}\\\\b`).test(txt));\n  const hasFrag  = (arr) => arr.some(w => txt.includes(w));\n\n  // Captura de troco\n  // Exemplos: \"troco pra 100\", \"troco para R$ 50,00\", \"sem troco\"\n  let troco_valor = null, troco_texto = null, observacao = null;\n  const mSemTroco = txt.match(/\\bsem troco\\b/);\n  if (mSemTroco) {\n    observacao = 'sem troco';\n  } else {\n    const mTroco = txt.match(/\\btroco\\s*(p(?:ra|ara)?)?\\s*(de|para|pra)?\\s*([r$]\\s*\\$?\\s*[\\d\\.,]+|\\d+[.,]?\\d*)/);\n    if (mTroco) {\n      troco_texto = mTroco[0];\n      troco_valor = toCents(mTroco[3]);\n    }\n  }\n\n  // Flags por grupo\n  const pixStrong = hasWord(['pix']) || hasFrag(['qr code','qrcode','qr-code','chave pix','pix copia e cola','copia e cola']);\n  const cartaoCredito = hasWord(['credito']) || hasFrag(['cartao de credito']);\n  const cartaoDebito  = hasWord(['debito'])  || hasFrag(['cartao de debito']);\n  const cartaoGeneric = hasWord(['cartao']) || hasFrag(['maquina','maquininha','pos','p-o-s']);\n  const dinheiroHit   = hasWord(['dinheiro','especie']) || hasFrag(['em especie','em dinheiro','cash','nota','moeda']);\n\n  // Negações específicas (ex: \"nao tenho cartao\", \"sem pix\", \"nao levo dinheiro\")\n  const negPix      = /\\b(nao|não|sem)\\b.*\\b(pix)\\b|\\b(pix)\\b.*\\b(nao|não|sem)\\b/.test(txt);\n  const negCartao   = /\\b(nao|não|sem)\\b.*\\b(cartao|credito|debito|maquina|maquininha|pos)\\b/.test(txt);\n  const negDinheiro = /\\b(nao|não|sem)\\b.*\\b(dinheiro|especie|cash|moeda|nota)\\b/.test(txt);\n\n  // Votos\n  const votes = [];\n  if (pixStrong && !negPix) votes.push({tipo:'pix', subtipo:null, conf:0.9, variante:'pix'});\n  if ((cartaoCredito || cartaoDebito || cartaoGeneric) && !negCartao) {\n    let subtipo = null, conf = 0.8, variante = 'cartao';\n    if (cartaoCredito) { subtipo = 'credito'; conf = 0.9; variante = 'cartao_credito'; }\n    if (cartaoDebito)  { subtipo = 'debito';  conf = 0.9; variante = 'cartao_debito'; }\n    votes.push({tipo:'cartao', subtipo, conf, variante});\n  }\n  if (dinheiroHit && !negDinheiro) votes.push({tipo:'dinheiro', subtipo:null, conf:0.9, variante:'dinheiro'});\n\n  // Caso nenhum voto positivo, tenta inferência leve por emojis\n  // 💳 => cartao, 💵/🪙 => dinheiro\n  if (!votes.length) {\n    if (/💳/.test(input)) votes.push({tipo:'cartao', subtipo:null, conf:0.6, variante:'emoji_cartao'});\n    if (/💵|🪙/.test(input)) votes.push({tipo:'dinheiro', subtipo:null, conf:0.6, variante:'emoji_dinheiro'});\n  }\n\n  // Se há mais de um voto, fica ambíguo e pede confirmação\n  let needs_confirmation = false;\n  let picked = null;\n\n  if (votes.length === 1) {\n    picked = votes[0];\n  } else if (votes.length > 1) {\n    // Heurística: preferir \"pix\" se explícito; senão cartão (se crédito/débito explícito); senão dinheiro\n    const byType = (t)=>votes.find(v=>v.tipo===t && v.conf>=0.85);\n    picked = byType('pix') || byType('cartao') || byType('dinheiro') || votes.sort((a,b)=>b.conf-a.conf)[0];\n    needs_confirmation = true;\n  }\n\n  const out = {\n    input: input,\n    ok: !!picked,\n    forma_pagamento: picked ? picked.tipo : null,     // 'pix' | 'cartao' | 'dinheiro'\n    subtipo: picked ? picked.subtipo : null,          // 'credito' | 'debito' | null\n    variante_detectada: picked ? picked.variante : null,\n    confidence: picked ? picked.conf : 0,\n    needs_confirmation,\n    troco_valor,\n    troco_texto,\n    observacao\n  };\n\n  // Regras extras:\n  // - Se usuário disse \"sem troco\" e forma = dinheiro -> aumenta confiança\n  if (out.forma_pagamento === 'dinheiro' && observacao === 'sem troco' && out.confidence < 0.9) {\n    out.confidence = 0.9;\n  }\n  // - Se mencionou \"nao tenho cartao\" e nenhum outro método, marca ok=false\n  if (/nao tenho cartao|não tenho cartao/.test(txt) && !pixStrong && !dinheiroHit) {\n    out.ok = false;\n    out.observacao = 'nao tem cartao';\n  }\n\n  return out;\n}\n\nreturn items.map(i => {\n const e = i.json?.tipo_cobranca ?? '';\n  const r = detectPagamento(e);\n  return { json: r };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6208,-3872],"id":"4c6ce3e4-f72c-4b3e-af50-5b7f671023d5","name":"Code1"},{"parameters":{"assignments":{"assignments":[{"id":"89704beb-b90e-4a95-bafd-d7e410686c45","name":"tipo_cobranca","value":"={{ $('Webhook').item.json.body.message.conversation }} ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6432,-3872],"id":"28d890e5-c5a6-44f6-a305-ab2d0295c90e","name":"Edit Fields"},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='comentario'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5776,-3872],"id":"10d8077c-e8a6-4b75-9831-69f2d1527386","name":"Execute a SQL query3","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * from finalizar_pedido(   {{ $('Merge1').item.json.user_id }}  , {{ $('ConcatenaPedido').item.json.pedido_id }} ) ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-6320,-4784],"id":"70bdc645-e3d4-46f7-9d61-f7d74ecec252","name":"ConcluiPedido","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='enviado'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3040,-2592],"id":"f78818bb-aa6c-487e-b87e-849724f341e9","name":"Execute a SQL query4","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"0b4e2890-ac39-45d8-adef-ec2cf81d9a18","name":"status","value":"={{ $json.status }}","type":"string"},{"id":"03a84e54-72d2-4753-8abf-73a366f1d250","name":"pedido_id","value":"={{ $json.pedido_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7248,-3504],"id":"69d9107c-bd20-461f-adf3-31b1f8b5639e","name":"StatusPedido"},{"parameters":{"jsCode":"  // n8n Code node (Run Once for All Items)\n\n// Normaliza volume (2L etc.)\nfunction normVol(v) {\n  if (!v) return '';\n  v = String(v).trim().toLowerCase();\n  if (['un','uni','unid','unidade'].includes(v)) return '';\n  v = v\n    .replace(' litros','l').replace(' litro','l')\n    .replace('litros','l').replace('litro','l')\n    .replace(' lt','l').replace(' l','l')\n    .trim();\n  return v ? ' ' + v.toUpperCase() : '';\n}\n\n// Pega a lista de rejeitados de onde estiver (itens_rejeitados, coalesce, etc.)\nfunction getSrc(items) {\n  const j = (items[0]?.json) ?? {};\n  if (Array.isArray(j.itens_rejeitados)) return j.itens_rejeitados;\n  if (Array.isArray(j.coalesce)) return j.coalesce;\n  if (Array.isArray(j.rejeitados)) return j.rejeitados;\n  // tenta achar qualquer propriedade que seja array\n  const arrKey = Object.keys(j).find(k => Array.isArray(j[k]));\n  if (arrKey) return j[arrKey];\n  // fallback: cada item de entrada é um rejeitado\n  return items.map(i => i.json);\n}\n\nconst raw = getSrc(items) || [];\n\n// **Fix principal**: não use truthiness; use checagem por \"definido\"\nconst src = raw\n  .filter(x => x != null)\n  .map(x => (typeof x === 'object' && x !== null ? x : { numero: x }))\n  // defaults seguros\n  .map(o => ({\n    numero: (o.numero === undefined || o.numero === null || o.numero === '')\n              ? 0\n              : Number.isFinite(Number(o.numero)) ? Number(o.numero) : 0,\n    nome: (typeof o.nome === 'string' && o.nome.trim() !== '')\n              ? o.nome\n              : 'não encontrado',\n    volume: (o.volume ?? '').toString().trim(),\n  }))\n  // mantém itens que tenham pelo menos um campo \"presente\" (mesmo que 0/'não encontrado')\n  .filter(i => i.nome != null || i.numero != null);\n\nconst tem_rejeitados = src.length > 0;\n\nlet linhas = '';\nlet mensagem = '';\n\nif (tem_rejeitados) {\n  linhas = src\n    .map(i => `- ${i.nome && i.nome.trim() !== '' ? i.nome : (i.numero != null ? `Pizza ${i.numero}` : 'não encontrado')}${normVol(i.volume)}`)\n    .join('\\n');\n\n  mensagem = `📟 Seu(s) item(s) foi(ram) processado(s) com sucesso ✅\n❌ O seguinte item não foi reconhecido e será(ão) excluído(s):\n${linhas}\n🚫 Esse item foi ignorado e excluído do pedido.\n🔁 Corrija e reenvie esse(s) iten(s) agora.`;\n} else {\n  mensagem = `📟 Seu(s) item(s) foi(ram) processado(s) com sucesso ✅.`;\n\n}\n\nreturn [{ json: { mensagem, linhas, qtd: src.length, tem_rejeitados } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,-3296],"id":"49d52bb2-dd25-448f-956f-210d2d5ea68d","name":"Code3"},{"parameters":{"operation":"executeQuery","query":"   SELECT COALESCE(json_agg(sub), '[]'::json) AS  itens_rejeitados\nFROM (\n  SELECT\n    numero ,\n    quantidade,\n    categoria,\n    COALESCE(NULLIF(BTRIM(nome), ''), 'não encontrado')     AS nome,\n    COALESCE(volume, '')                                    AS volume\n  FROM item_pedido_temp \n  WHERE user_id =   {{ $('MontPedido').item.json.user_id }}  and pedido_id =  {{ $('MontPedido').item.json.pedido_id }}  \n    AND  status = 'rejeitado' and categoria <>  'borda'\n  union all SELECT\n    numero ,\n    quantidade,\n    categoria,\n    COALESCE(NULLIF(BTRIM(nome), ''), 'Borda sem pizza relacionada')     AS nome,\n    'Borda sem pizza relacionada'  AS volume\n  FROM item_pedido_temp \n  WHERE user_id =   {{ $('MontPedido').item.json.user_id }}  and pedido_id =  {{ $('MontPedido').item.json.pedido_id }}  \n    AND  status = 'rejeitado' and categoria = 'borda'\n) AS sub;\n\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-256,-3296],"id":"d1c13edf-7615-49ae-a33f-00ecbc5ca7b4","name":"Rejeite","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" SELECT rejeita_item( {{ $('MontPedido').item.json.user_id }}, {{ $('MontPedido').item.json.pedido_id }}  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-464,-3296],"id":"682833dc-8b9c-4fcf-94e7-7c0aa078a7c1","name":"RejeitaItem","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"https://evolution.lglducci.com.br/instance/send-message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"l8buQe0n29kjEACSEvitAvly30vTj36HaQrBH"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"instanceName","value":"delivery"},{"name":"number","value":"5516992975836"},{"name":"message","value":"teste direto Evolution"}]},"options":{}},"id":"1f3b95f1-b408-4ad1-814d-7483faf36d60","name":"MegaApi7","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-9424,-2464]},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"*4-* para *Concluir* o seu pedido\\n*5-* para *Consultar*\\n*6-* para *Cancelar*\\n*7-* Detalhar Itens*\\n ou *-digite menu*.\"\n  }\n}","options":{}},"id":"0f56454a-75ad-4232-80b5-eb9554c1d16f","name":"RequestMenu5","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3408,-1856]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5b1ca74-f671-482f-98cf-bdd9441587c7","leftValue":"={{ $json.max_pedido_id}}","rightValue":"0","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3472,-3824],"id":"b01188bf-d7c6-440f-832f-72d2942edaba","name":"If3"},{"parameters":{"operation":"executeQuery","query":" \n SELECT COALESCE(MAX(pedido_id), 0)::bigint AS max_pedido_id\nFROM item_pedido_temp  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('MergePedido').item.json.pedido_id }}\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3664,-3824],"id":"7b251f65-f1ae-4a9e-a84a-c0631558298e","name":"VerificaItens","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"tableId":"comentario_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"pedido_id","fieldValue":"={{ $('ConcatenaPedido').item.json.pedido_id }}"},{"fieldId":"user_id","fieldValue":"={{ $('Merge1').item.json.user_id }} "},{"fieldId":"comentario","fieldValue":"=  {{ $('Dados Lead').item.json.mensagem_usuario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6464,-3664],"id":"cbfc3ceb-b16a-43a8-ba32-f98f608ce590","name":"CriaComentario","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='endereco'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('MergePedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3184,-3776],"id":"1eb6d107-a386-40f0-b77d-d02f6141dda5","name":"FinalizarPedido","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2656,-3952],"id":"81717e45-a766-4a78-95ec-093333c02ed4","name":"No Operation, do nothing15","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='enviado'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('MergePedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3184,-3952],"id":"be5c3f08-811b-44bf-8861-cae7b835b95d","name":"VoltarParaItens","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"Não encontramos nenhum item no seu pedido. Digite *5* para *consultar*.\" \n  }\n}","options":{}},"id":"f90bf92a-6937-41f7-859e-c8e5f1e520e4","name":"MsgRejeitaFinalizar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2416,-4240]},{"parameters":{"operation":"executeQuery","query":" SELECT\n  '📍 Endereço:' || COALESCE(u.\"endereço\", '—')\n  || E'\\n🏘️ Bairro:  ' || COALESCE(u.bairro, '—')\n  || E'\\n💳 Pagamento:' || COALESCE(pt.tipo_cobranca, '—')\n  || E'\\n💬 Comentário:' || COALESCE(ct.comentario, '—')\n  AS mensagem\nFROM pedido_temp pt\nJOIN usuario_lacantina u\n  ON u.user_id = pt.user_id\nLEFT JOIN comentario_pedido_temp ct\n  ON ct.user_id = pt.user_id\n AND ct.pedido_id = pt.pedido_id\nWHERE\n  pt.user_id   = {{ $('Merge1').item.json.user_id }}\n  AND pt.pedido_id =  {{ $('ConcatenaPedido').item.json.pedido_id }}\nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-6256,-3664],"id":"d07cda6f-9667-4fa1-bb5b-ab9369f8a87f","name":"Confirmadados","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='concluido'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5584,-3664],"id":"4f36948d-582b-46da-902e-e310c2704a79","name":"Execute a SQL query5","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=  {{\n  JSON.stringify({\n    messageData: {\n      to: String($node[\"Dados Lead\"].json.IdConversa ?? \"\")\n            .replace(/\\D/g, \"\")\n            .trim(),\n      text: String(($json.mensagem ?? \"\"))\n            .replace(/\\]\\s*$/, \"\")   // remove ']' no final, se houver\n            .trim()\n    }\n  })\n}} ","options":{}},"id":"329dda6f-e28c-4804-9b90-9d841d3f70f8","name":"RequestMenu6","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5824,-3312]},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= \n  {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"Confirma dados de *endereço* e *forma de pagamento*?\\n Digite  *1* confirma e *2* voltamos a cadastrar endereço. \"\n  }\n}","options":{}},"id":"7385d019-cd11-45f1-9a5e-d26b69198e4d","name":"MegaApi10","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5584,-3328]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"04679e73-f2e9-4aba-990d-99dcf2768443","leftValue":"={{ $('Dados Lead').item.json.mensagem_usuario.trim() }}","rightValue":"1","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6592,-4560],"id":"48b2a6c8-d4c5-4b3a-b276-0801642f00b6","name":"If4"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5648,-4576],"id":"66c29f67-8f01-4781-8359-f17ccddee3c9","name":"No Operation, do nothing16","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='endereco'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-6080,-4576],"id":"60c258c4-c84d-46f3-8feb-ed7f638903f5","name":"FinalizarPedido1","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"select calcula_pre_pedido({{ $('Merge1').item.json.user_id }}, {{ $('MergePedido').item.json.pedido_id }}  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3488,-3072],"id":"d4003517-3d50-4057-91d6-6f13815980ae","name":"Execute a SQL query2","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"select calcula_pre_pedido({{ $('Merge1').item.json.user_id }}, {{ $('MergePedido').item.json.pedido_id }}  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2944,-3776],"id":"ed9a8e85-9515-4d26-910a-10c8580d248d","name":"Execute a SQL query7","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2288,-3776],"id":"be786560-e8f7-4b37-87a7-e465339e73a4","name":"Wait4","webhookId":"f2e2ba32-d628-4657-aa0a-3cedc05e3647"},{"parameters":{"assignments":{"assignments":[{"id":"a8106197-1d10-438c-a9e7-07c17a8adfd0","name":"acao","value":"={{ $json.acao }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5408,-2912],"id":"4d310e5e-23eb-469b-8397-bf98ca460fab","name":"Acao"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[672,-3296],"id":"faa42aa5-e3ef-42c2-8b3f-5e5345a9d86c","name":"No Operation, do nothing12","disabled":true,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5648,-4272],"id":"871fe4a8-0347-42fa-ac29-898e771deef4","name":"No Operation, do nothing17","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5680,-4080],"id":"6c0addac-b192-4cbd-96ea-d1d26b8ed7b0","name":"No Operation, do nothing18","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5344,-3664],"id":"ddf87f70-0778-4600-a453-4113819ee58c","name":"No Operation, do nothing19","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5312,-3872],"id":"c1097a29-c625-4e72-acf8-e4fd3e03e35d","name":"No Operation, do nothing20","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-5936,-4784],"id":"cf44766c-f6d4-4717-8b9e-59615f9fffbf","name":"Wait","webhookId":"33c5308c-6ef7-4028-8fb7-f0f46b8d615d","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6df36e53-74bd-45c5-9d92-2bb167c8b837","leftValue":"={{ $json.cancela_pre_pedido.length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3440,-4192],"id":"8dca8180-da58-4896-8c15-0704a4703f39","name":"If5"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2880,-4128],"id":"7a825b19-ff9b-4111-aa5a-9e0568398a02","name":"No Operation, do nothing21","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=  {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"🗑️ {{ $('Dados Lead').item.json.LeadNome }}, não encontratmos dados a ser excluido. Vamos começar um novo pedido!\" \n  }\n}\n ","options":{}},"id":"56a1bea4-4fea-42af-af35-9f697c377309","name":"ConfirmaCancelamento2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3072,-4592]},{"parameters":{"fieldToSplitOut":"output.bebidas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1792,-3632],"id":"c43f2f74-5b27-4582-82db-374310921199","name":"Bebidas","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":" output.pizzas_fracionadas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1808,-3440],"id":"d0f6d3b9-de78-402b-8fb4-4dcb0678da1c","name":"Pizzas Fracionada","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.pizzas_inteiras","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1808,-3264],"id":"827a3ee7-2226-472f-933b-6707b7ec98a4","name":"Pizzas Inteira","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.esfirras","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1824,-3072],"id":"d33d03a6-4930-421b-bb02-44d47ec8ae3c","name":"Esfirra","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.bordas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1824,-2864],"id":"a39c6a80-e175-4027-9e98-9ad89c090773","name":"Borda","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"tipo","fieldValue":"bebida"},{"fieldId":"categoria","fieldValue":"bebida"},{"fieldId":"nome","fieldValue":"={{ $json.nome }}"},{"fieldId":"volume","fieldValue":"= {{ (($json.volume ?? '').toString().replace(/[\\s\\u00A0\\u200B-\\u200D\\uFEFF]+/g, '') === '')\n    ? ' volume desconhecido'\n    : ($json.volume ?? '').toString().replace(/[\\s\\u00A0\\u200B-\\u200D\\uFEFF]+/g, '') }}"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"},{"fieldId":"numero","fieldValue":"={{ (String($json.numero ?? '').trim() === '' \n    || Number(String($json.numero).replace(',','.').trim()) === 0)\n  ? null \n  : $json.numero }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1552,-3632],"id":"8d608792-ef6b-4c44-8cb2-77838b25e323","name":"Itembebida","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"categoria","fieldValue":"pizza"},{"fieldId":"fracionada","fieldValue":"true"},{"fieldId":"numero","fieldValue":"= {{ $json.metade1 }}"},{"fieldId":"numero_fracao","fieldValue":"={{ $json.metade2 }}"},{"fieldId":"tamanho","fieldValue":"grande"},{"fieldId":"fracionada","fieldValue":"true"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1552,-3440],"id":"0a299eeb-3be5-4ebf-9b66-241a16954032","name":"ItemFracionado","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"categoria","fieldValue":"pizza"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"numero","fieldValue":"={{ String($json.numero ?? '').trim() === '' ? null : $json.numero }}"},{"fieldId":"tamanho","fieldValue":"={{ $json.tamanho.toLowerCase() }}"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1568,-3264],"id":"bb1ac7bd-eed8-49fd-8ed7-24f097ad6e0f","name":"ItemInteira","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"tipo","fieldValue":"bebida"},{"fieldId":"categoria","fieldValue":"esfirra"},{"fieldId":"nome","fieldValue":"={{ $json.nome?.trim() === '' ? null : $json.nome }}"},{"fieldId":"tipo","fieldValue":"={{ $json.tipo?.trim() === '' ? null : $json.tipo }}"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"},{"fieldId":"numero","fieldValue":"={{ (String($json.numero ?? '').trim() === '' \n    || Number(String($json.numero).replace(',','.').trim()) === 0)\n  ? null \n  : $json.numero }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1568,-3072],"id":"ea211468-1a30-4947-8f6f-51829a29b3b6","name":"ItemEsfirra","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"=1"},{"fieldId":"tipo","fieldValue":"borda"},{"fieldId":"categoria","fieldValue":"borda"},{"fieldId":"nome","fieldValue":"={{ $json.nome?.trim() === '' ? null : $json.nome }}"},{"fieldId":"numero","fieldValue":"={{ $json.numero }}"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1552,-2864],"id":"320ae822-bdd5-4f71-8f6e-f3b87813df49","name":"ItemBorda","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT atualizar_valores_itens_temp('bebida', {{ $('MontPedido').item.json.user_id }} ,{{ $('MontPedido').item.json.pedido_id }} );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1088,-3632],"id":"905700e9-bf1a-45c9-8766-100fed590db4","name":"AtualizaValorBebida","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT atualizar_valores_itens_temp('esfirra', {{ $('MontPedido').item.json.user_id }}, {{ $('MontPedido').item.json.pedido_id }});","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1072,-3072],"id":"290c5559-5bdb-4faa-8c1c-9d466cf45919","name":"AtualizaValorEsfirra","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"\n UPDATE Item_pedido_temp AS i\nSET numero = c.numero\nFROM cardapio AS c\nWHERE \n  i.numero IS NULL\n  AND i.status = 'inicio'\n  AND c.tipo = 'bebida' and i.tipo = 'bebida'\n  AND ( LOWER(c.palavras_chave) ILIKE '%' || LOWER(i.nome) || '%'\n    AND lower(trim(c.volume)) iLIKE '%' || LOWER(trim(i.volume)) || '%'  || '%' )   and user_id = {{ $('MontPedido').item.json.user_id }}  and i.pedido_id ={{ $('MontPedido').item.json.pedido_id }};\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1328,-3632],"id":"bd76b6fe-f830-467e-aefa-b1de4f92fecf","name":"AtualizaNumeroBebida","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" UPDATE Item_pedido_temp AS i\nSET numero = c.numero\nFROM cardapio AS c\nWHERE  i.status = 'inicio'\n  AND c.categoria  = 'esfirra' \n and  LOWER(  c.nome)   iLIKE '%' || LOWER(  i.nome) || '%' and user_id =  {{ $('MontPedido').item.json.user_id }} and i.pedido_id = {{ $('MontPedido').item.json.pedido_id }};\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1328,-3072],"id":"f7794314-b9fb-4754-9210-d6c27a027582","name":"AtualizaNumeroEsfirra","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"\n UPDATE Item_pedido_temp AS i\nSET numero_fracao = c.numero\nFROM cardapio AS c\n WHERE i.numero IS not  NULL\n  AND i.status = 'inicio' and  c.categoria  ='borda'   and      LOWER(palavras_chave ) iLIKE '%' || LOWER( i.nome) || '%'    and user_id =  {{ $('MontPedido').item.json.user_id }} and i.pedido_id = {{$('MontPedido').item.json.pedido_id }};\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1328,-2864],"id":"70b82ecd-2f95-4fe5-9d48-3338e8cefa0c","name":"AtualizaNumeroBorda","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"numberInputs":5},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-752,-3360],"id":"471f01d4-87ba-4d62-aa90-f688bbbe216f","name":"Merge","alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT AtualizaValorFracionado( {{ $('MontPedido').item.json.user_id }} , {{ $('MontPedido').item.json.pedido_id }});","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1328,-3440],"id":"4d814e1d-90f3-4e09-b24c-feddea312c8d","name":"AtualizaValorPizzaFracionada","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT atualizar_valores_itens_temp('pizza', {{ $('MontPedido').item.json.user_id }} ,{{ $('MontPedido').item.json.pedido_id }} );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1328,-3264],"id":"262e02ce-2c95-4099-bdde-f0f913c6d349","name":"AtualizaValorPizza","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"   UPDATE item_pedido_temp AS i\n  SET valor = CASE\n    WHEN i.tamanho = 'grande' THEN c.preco_grande\n    WHEN i.tamanho = 'media'  THEN c.preco_medio\n    ELSE  c.preco_grande\n  END, \n nome =   '(' || i.numero::text || ') borda ' || i.nome \n  FROM cardapio AS c\n  WHERE \n    i.numero_fracao = c.numero\n    AND i.user_id = {{ $('MontPedido').item.json.user_id }}\n    AND i.categoria = 'borda' \n    AND i.fracionada = 'FALSE' and i.pedido_id = {{ $('MontPedido').item.json.pedido_id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1056,-2864],"id":"4419390c-daf0-49e2-9c6e-62b1ef0ad498","name":"AtualizaValorBorda","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[-2384,-3200],"id":"83438f2e-6781-4069-b11d-1fe832cc0ba5","name":"Auto-fixing Output Parser","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2480,-3024],"id":"66842c5c-2d6e-42cb-a134-2cf797d9e8f6","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":" {\n  \"type\": \"object\",\n  \"properties\": {\n    \"pizzas_inteiras\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"numero\": { \"type\": \"integer\" },\n          \"tamanho\": { \"type\": \"string\" }\n          \n        },\n        \"required\": [\"quantidade\", \"numero\", \"tamanho\", \"pedido_id\"]\n      }\n    },\n    \"pizzas_fracionadas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"metade1\": { \"type\": \"integer\" },\n          \"metade2\": { \"type\": \"integer\" }\n         \n        },\n        \"required\": [\"quantidade\", \"metade1\", \"metade2\",\"pedido_id\"]\n      }\n    },\n    \"bebidas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"nome\": { \"type\": \"string\" },\n          \"volume\": { \"type\": \"string\" }\n         \n        },\n        \"required\": [\"quantidade\", \"nome\", \"volume\",\"pedido_id\"]\n      }\n    },\n    \"esfirras\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"numero\": { \"type\": \"integer\" },\n          \"nome\": { \"type\": \"string\" },\n          \"tipo\": { \"type\": \"string\" }\n        },\n        \"required\": [\"quantidade\", \"numero\", \"nome\", \"tipo\"]\n      }\n    },\n    \"bordas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"numero\": { \"type\": \"integer\" },\n          \"nome\": { \"type\": \"string\" } \n         \n    },\n        \"required\": [\"numero\", \"pizza_referencia\"]\n      }\n    }\n  },\n  \"required\": [\n    \"pizzas_inteiras\",\n    \"pizzas_fracionadas\",\n    \"bebidas\",\n    \"esfirras\",\n    \"bordas\" \n  ]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-2336,-3040],"id":"f365f9de-cd87-4450-b588-9241ef28c601","name":"Structured Output Parser [Schema]1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"promptType":"define","text":"=<mensagem_do_usuario>\n {{ $json.chatInput }}\n</mensagem_do_usuario>","hasOutputParser":true,"messages":{"messageValues":[{"message":"=  {\n  \"pizzas_inteiras\": [\n    { \"quantidade\": int, \"numero\": int, \"tamanho\": str  }\n  ],\n  \"pizzas_fracionadas\": [\n    { \"quantidade\": int, \"metade1\": int, \"metade2\": int }\n  ],\n  \"bebidas\": [\n    { \"quantidade\": int, \"nome\": str, \"volume\": str  }\n  ],\n \"esfirras\": [\n  { \"quantidade\": int, \"numero\": int, \"nome\": str, \"tipo\": str } // tipo: \"salgada\" ou \"doce\"\n  ],\n  \"bordas\": [\n    { \"numero\": int, \"nome\": str } // \"pizza_referencia\" = string que identifica a pizza onde será aplicada\n  ]\n}\n\n⚠️ Regras obrigatórias:\n- Sempre retorne exatamente essas 5 listas, mesmo que estejam vazias.\n- Use apenas os nomes de campos e estrutura mostrados acima.\n- Retorne **apenas o JSON válido**, sem explicações, comentários ou texto adicional.\n\nSe o usuário informar apenas ‘pizza N’, não descarte. Gere {quantidade:1, numero:N, tamanho:'media'} em pizzas_inteiras.”\n\n“Nunca omita itens ambíguos; use defaults: quantidade=1, tamanho='media'.”\n\n“Não valide com o cardápio. A validação será feita depois; sempre retorne o item.”\n\nPrioridade de interpretação\n\nSe houver padrões de pizza fracionada no formato {Q? 1/2 A (e|,|+|/) 1/2 B}, crie um item em pizzas_fracionadas com {quantidade: Q || 1, metade1: A, metade2: B}.\n\nNunca crie pizzas_inteiras para números A ou B quando eles estiverem dentro de um padrão fracionado.\n\nSó trate “pizza N” (inteira) quando não fizer parte de um padrão 1/2 N.\n\nExemplos:\n\n“1 1/2 14 e 1/2 21” → pizzas_fracionadas: [{quantidade:1, metade1:14, metade2:21}]\n\n“2 1/2 10, 1/2 15” → pizzas_fracionadas: [{quantidade:2, metade1:10, metade2:15}]\n\n“14 e 21” (sem 1/2) → pizzas_inteiras: [{q:1,n:14,media},{q:1,n:21,media}]\n\n\nBebidas — defaults e sinônimos (obrigatório)\n\nSe o cliente disser “lata” e não informar volume, use 350ml.\n\nSe o cliente disser “long neck” e não informar volume, use 330ml.\n\nSe o cliente pedir coca/coca-cola sem volume, use 2l.\n\nNunca rejeite bebidas por falta de volume quando se aplicar uma regra acima.\n\nNormalize o campo volume sempre em minúsculas e sem espaços (ex.: 350ml, 330ml, 2l).\n\nExemplos\n\n“3 long neck heineken” → bebidas: [{ \"quantidade\": 3, \"nome\": \"heineken\", \"volume\": \"330ml\" }]\n\n“lata bud” → bebidas: [{ \"quantidade\": 1, \"nome\": \"budweiser\", \"volume\": \"350ml\" }]\n\n“2 coca” → bebidas: [{ \"quantidade\": 2, \"nome\": \"coca cola\", \"volume\": \"2l\" }]\nPedido:\n{pedido}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-2496,-3376],"id":"cec1713b-71ea-4820-8a11-2259295bcea8","name":"Basic LLM Chain1","retryOnFail":true,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-208,-4576],"id":"e999c93a-1ac0-442c-9479-b5dfd4be6a91","name":"No Operation, do nothing22","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"3f5c86ea-fcc2-4783-8210-a28ce186597d","name":"chatInput","value":"= {{ $('Dados Lead').item.json.mensagem_usuario }}","type":"string"},{"id":"57ddce63-da48-426f-85ae-c63b16da57fa","name":"user_id","value":"={{ $('Merge1').item.json.user_id }}","type":"number"},{"id":"01f0d23c-4a6a-4f2f-b986-7acfe7c4b65b","name":"pedido_id","value":"={{ $('MergePedido').item.json.pedido_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2944,-3376],"id":"178b7d11-672f-4189-8666-9be32b1dfd39","name":"MontPedido"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"item_pedido_temp","mode":"list","cachedResultName":"item_pedido_temp"},"deleteCommand":"delete","where":{"values":[{"column":"user_id","value":"= {{ $('Merge1').item.json.user_id }}"},{"column":"status","value":"rejeitado"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3712,-3072],"id":"c48e2408-1860-4b9a-8641-942eaf994434","name":"ExcluiRejeitados1","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"delete from  comentario_pedido_temp  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-6288,-4576],"id":"a4cdcc2f-1864-4a52-a2a2-48cd3bb10d57","name":"ExcluiComentario_temp","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3248,-3584],"id":"d39f2871-3afa-418e-ba03-d9b57018ac28","name":"Wait5","webhookId":"f2e2ba32-d628-4657-aa0a-3cedc05e3647"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2832,-3584],"id":"be7d365e-4b51-477b-aa4e-298dfa08e887","name":"Wait6","webhookId":"f2e2ba32-d628-4657-aa0a-3cedc05e3647"},{"parameters":{"jsCode":" // Code node (JavaScript) — Run Once for All Items\n// Captura fracionadas e remove do texto para a LLM\n\nconst inputItems = $input.all();   // <- aqui está a correção\nconst out = [];\n\nfor (const { json } of inputItems) {\n  const raw = String(json.chatInput ?? '');\n\n  // normalização leve\n  let norm = raw\n    .toLowerCase()\n    .replace(/[–—−]/g, '-')               // hífens\n    .replace(/\\b(meia|metade)\\b/g, '1/2') // \"meia/metade\" -> 1/2\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  const fracionadas = [];\n\n  // [qtd?][x?] 1/2 A (e|,|+|/) 1/2 B  (evita confundir 2L, etc.)\n  const re = /\\b(?:(\\d+)\\s*x?\\s*)?1\\/2\\s*(\\d{1,3})(?!\\s*[a-z])\\s*(?:e|,|\\+|\\/)\\s*1\\/2\\s*(\\d{1,3})(?!\\s*[a-z])\\b/gi;\n\n  // uma passada: coleta e remove\n  let rest = norm.replace(re, (_full, q, a, b) => {\n    fracionadas.push({\n      quantidade: q ? parseInt(q, 10) : 1,\n      metade1: parseInt(a, 10),\n      metade2: parseInt(b, 10),\n    });\n    return ' ';\n  });\n\n  rest = rest.replace(/\\s+/g, ' ').trim();\n\n  out.push({\n    json: {\n      ...json,                 // preserva campos existentes (user_id, pedido_id, etc.)\n      texto_original: raw,\n      texto_limpo: rest,       // passe ESTE texto para a LLM\n      fracionadas,             // depois some com pizzas_fracionadas da LLM\n    },\n  });\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2704,-3376],"id":"e28406bd-a2e9-41e8-a211-2cbe7ef938d3","name":"Code2"},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $json.IdConversa }}","messageText":"=\"⏳ Aguarde..\"","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-9408,-2864],"id":"89e881ea-e88d-43ac-86c9-7a588726b822","name":"Enviar texto","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"content":"## Humanizar Resposta\nQuebra de mensagens em mensagens menores e com contexto.","height":616,"width":580,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5248,-5456],"id":"addbb638-b3fd-4929-bf26-ea6b7371fba4","name":"Sticky Note12"},{"parameters":{"content":"Ajuste sua instância e autenficiação da Z-API","height":300,"width":230,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4080,-5072],"id":"ab7bb127-90f0-4608-8976-c9dd13fa15c0","name":"Sticky Note22"},{"parameters":{"content":"## Envio das Respostas ao Usuário\nEnvio das mensagens quebradas para o usuário","height":760,"width":900,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4272,-5360],"id":"071b4c58-e2b5-4458-8bca-3ffc79e578ca","name":"Sticky Note13"},{"parameters":{"content":"Ajuste o Node Set com os campos relevantes fornecidos.\n","height":280,"width":306,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-10032,-2944],"id":"9ab79777-a465-45db-9c48-5e480b1acdf2","name":"Sticky Note"},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= 🍕 *Bem-vindo(a) à Pizzaria La Cantina!*\nConfira nossos cardápios:\n📄  *Pizzas*:\nhttps://luznuqlvseaoztbvfwst.supabase.co/storage/v1/object/public/imagens_pizza/pixa.jfif\n📄 *Esfirras*:  \nhttps://luznuqlvseaoztbvfwst.supabase.co/storage/v1/object/public/imagens_pizza/cardapio%20esfirra%20(3).jfif\nVamos começar seu pedido!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3392,-2208],"id":"cc30450b-1111-401b-99da-fb2e1ba664b6","name":"MenuCardapio","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=   🍕 Vamos começar o seu pedido?\nVeja como você pode digitar corretamente os itens que deseja:\n✅ Exemplos válidos:\n- Pizza 17 grande com borda de catupiry\n- Pizza 12 média  e uma 14 grande e uma Coca-Cola 2L\n- Pizza 14 grande 1/2 18 e 1/2 22\n\n Assista \n Video 1 youtube:\n https://www.youtube.com/watch?v=3qEcTRINRRI\n Video 2 youtube\nhttps://www.youtube.com/watch?v=MKVI2r1B9fI\n\n📝 Dica: Você pode digitar tudo em uma única frase, como:\n- \"Quero uma pizza 17 grande com borda cheddar e uma Coca 2L e  Pizza 14 grande 1/2 18 e 1/2 22\"\n Quando quiser, é só me enviar seu pedido!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3376,-2416],"id":"536cef90-e516-4889-b609-79694bb4f3a9","name":"MenuCardapio2","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= 🗑️ {{ $('Dados Lead').item.json.LeadNome }}, o seu pedido foi *cancelado* com sucesso.\nSe quiser começar um *novo pedido*, estou por aqui!\n📞 O telefone para atendimento humanizado é *(16) 99406-6336*","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3184,-2016],"id":"271caac4-303a-494a-905a-df73c0c71a4b","name":"MenuCardapio3","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= {{ $json.output.replace(/\\n/g, '\\n') }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3632,-1680],"id":"72bf6db7-ba9c-4265-be76-fad1b597339c","name":"MenuCardapio4","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=*4-* para *Concluir* o seu pedido\n*5-* para *Consultar*\n*6-* para *Cancelar*\n*7-* Detalhar Itens*\n ou *menu*.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3392,-1680],"id":"2cf659ce-d637-42ff-8fe9-5e29c728ec0a","name":"MenuCardapio5","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=O seu *pedido* não foi identificado.\nColoque 1 *pizza* ou 1 *esfirra* ou 1 *guarana*, e ajudará no seu pedido.\nDigite *2* para ver *instruções*.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3248,-2784],"id":"b718c52f-64c5-4d6b-9f3e-686aaf8d1f9e","name":"MenuCardapio6","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=😀 Olá, seja bem-vindo(a) ao atendimento digital da *La Cantina*.\n🕗 Nosso horário de atendimento é de *TERÇA a DOMINGO* das *18:00h às 23:00h*.\n⚠️ Caso queira atendimento *Humanizado* digite *8*. Caso contrário, continue neste atendimento.\n👉 Digite o número das opções abaixo para o que deseja solicitar.\n🍕 É rapidinho 🚀 já estou enviando o *Cardápio*, aguarde... 📤","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3232,-2592],"id":"d0f87df1-d30a-462d-b009-fe5b71618eb3","name":"MenuCardapio7","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=🍕 *Bem-vindo(a) à Pizzaria La Cantina!*\nConfira nossos cardápios:\n📄 *Pizzas*: http://bit.ly/46zTglu\n📄 *Esfirras*: https://bit.ly/4fcO5Km\nVamos começar seu pedido!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2864,-2592],"id":"b1fa0ca2-58c6-45f6-8ddd-0e12d811d9bb","name":"MenuCardapio8","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=🧾 *Escolha uma opção abaixo:*\n1️⃣ *Adicionar itens ao pedido*\n2️⃣  *Ver instruções para pedir corretamente*\n*Responda com 1 ou  2  para continuar.*","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2480,-2592],"id":"21cd9fce-a2cc-45b2-945e-78f9de0455bc","name":"MenuCardapio9","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= {{ $json.calcula_pre_pedido.replace(/\\\\n/g, '\\n') }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3248,-3072],"id":"ea06b09e-a388-4272-af30-66056decf24d","name":"MenuCardapio10","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=*5-* Consulte seu pedido \n*4-* Concluir \n*6-* Cancelar \n*7-* Detalhar Itens.\n*ou menu*. ","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3024,-3072],"id":"f2c4c8c6-76d5-477e-a79e-9e1457a3e9e1","name":"MenuCardapio11","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"= {{$('Dados Lead').first().json.IdConversa}}\n","messageText":"= {{ JSON.stringify($('Code3').first().json.mensagem).replace(/\\\\n/g, '\\n')  }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[176,-3296],"id":"ddb2d312-fc4f-43cc-803d-4e3b8fbdc6fc","name":"MenuCardapio12","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"= {{$('Dados Lead').first().json.IdConversa}}","messageText":"=*5-* Consulte seu pedido \n*4-* Concluir \n*6-* Cancelar \n*7-* Detalhar Itens.\n*ou menu*.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[400,-3296],"id":"dbff8a7e-2466-4cce-9400-6f24ba61bbec","name":"MenuCardapio13","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=👌 Execelente vamos adicionar novos itens? Quer um exemplo? \n. 1 *pizza* 19 *grande*, uma *1/2* 14 e *1/2*  21 e *uma guarana antartica 2l* e *3 esfirras carne*.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3472,-3584],"id":"fa135d4f-211a-426c-be5b-8ade814d6fbf","name":"MenuCardapio14","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=⏳ Processando... {{ $('Dados Lead').item.json.mensagem_usuario.replace(/\\n/g, ' ').replace(/\\\"/g, '\\'') }}\"","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3200,-3376],"id":"ea83b2b5-79e2-4f51-9770-2d4b2cc935c9","name":"MenuCardapio15","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= \"Aqui você tem um exemplo valido. Se preferir digitar cada item separadamente, ok também.\"","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3024,-3584],"id":"b1404d87-0dc2-4429-ac79-8d931424ad2a","name":"MenuCardapio16","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=*5-* Consulte seu pedido \n*4-* Concluir \n*6-* Cancelar \n*7-* Detalhar Itens.\n*ou menu*.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2640,-3584],"id":"711ae322-648b-49ab-b796-44ab2e474ac6","name":"MenuCardapio17","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"={{ $json.calcula_pre_pedido.replace(/\\n/g, '\\n') }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2704,-3776],"id":"42d339a6-38ca-4561-9737-e2ee335b8322","name":"MenuCardapio18","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=🏍️Por favor, informe o endereço e número para a entrega:","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2096,-3776],"id":"879dfcd7-be88-4874-8362-bf521273b799","name":"MenuCardapio19","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=Estamos em *finalização!!*\nIncluir itens?❌\n⏭️  O proximo passo será informar\n📍  *Endereço*\n🏘️  Bairro da entrega\n💳  * Forma de Pagamento*\n✍️ Comentários ou 🙅‍♀️restrições.  \n ","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2480,-3776],"id":"549fd48d-60f6-4b1c-b61e-9776270a2180","name":"MenuCardapio20","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=Não encontramos nenhum item no seu pedido. \nDigite *5* para *consultar*.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2896,-3952],"id":"998b32ae-19f3-47f9-aa26-834a270f50e8","name":"MenuCardapio21","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= 🧾 *Escolha uma opção abaixo:*\n       *1.* Adicionar itens ao pedido.\n       *2.* Ver instruções para pedir corretamente.\n       *3.* Ver cardápio completo\n       *4.* Concluir pedido.\n       *5.* Consultar pedido atual.\n       *6.* Cancelar pedido.\n       *7.* Detalhar itens do pedido.\n       * Escolha* uma opção para continuar.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3680,-4464],"id":"c8ac857d-3641-4635-8342-470238162921","name":"MenuCardapio22","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= 🗑️ {{ $('Dados Lead').item.json.LeadNome }}, o seu pedido foi cancelado com sucesso. Vamos começar um novo pedido!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3168,-4320],"id":"d6d7b503-0e9c-4f9d-9c55-71e541a2f134","name":"MenuCardapio23","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= 🗑️ {{ $('Dados Lead').item.json.LeadNome }}, não encontratmos dados a ser excluido. Vamos começar um novo pedido!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3152,-4128],"id":"df4e7ad3-94ef-4bc4-86e7-73271ad59466","name":"MenuCardapio24","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= \"Confirma dados de *endereço* e *forma de pagamento*?\nDigite  *1* confirma e *2* voltamos a cadastrar endereço.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-5808,-3664],"id":"f8a8373d-1a14-4406-815a-cce826250f0f","name":"MenuCardapio25","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"={{ $json.mensagem }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-6032,-3664],"id":"e9553747-b6f9-4399-9498-03e20a4ce142","name":"MenuCardapio26","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= Algum comentário ou restrição ao seu pedido? ","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-5520,-3872],"id":"8d330619-fc88-4846-8568-9accdd264cbe","name":"MenuCardapio27","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= 💳 Como será o pagamento? Pode ser Pix, Cartão ou Dinheiro?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-6192,-4080],"id":"3d85113f-d69a-42ee-897d-a484df95720d","name":"MenuCardapio28","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= Qual é o bairro da entrega?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-6160,-4272],"id":"26c55bfc-d2f3-49fa-a863-25ea5ff8ebce","name":"MenuCardapio29","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= 🏍️Por favor, informe o endereço e número para a entrega:","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-5856,-4576],"id":"2fff5e3b-214b-499a-8950-a7dfe031b4e0","name":"MenuCardapio30","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= {{ $json.finalizar_pedido.replace(/\\n/g, '\\n') }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-6128,-4784],"id":"db13e302-76d3-4783-8751-23fe08098402","name":"MenuCardapio31","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= Estamos encerrando seu chamado.\nMuito Obrigado!!\n© 2025 Luis Gustavo Landucci — Right by LG","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-5728,-4784],"id":"3d78e50d-26ac-4e0f-9397-c49fd7a5ab53","name":"MenuCardapio32","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}}],"connections":{"Encontrar Cliente1":{"main":[[{"node":"Cliente Existe?1","type":"main","index":0}]]},"Cliente Existe?1":{"main":[[{"node":"If2","type":"main","index":0}],[{"node":"Criar Cliente1","type":"main","index":0}]]},"Criar Cliente1":{"main":[[{"node":"Concatena","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"EncontrarPedido","type":"main","index":0}]]},"Dados Lead":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Parametros Fluxo":{"main":[[{"node":"Filtro Inicial1","type":"main","index":0}]]},"Concatena":{"main":[[{"node":"Merge1","type":"main","index":0}],[{"node":"Merge1","type":"main","index":1}]]},"Filtro Inicial1":{"main":[[{"node":"Dados Lead","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Menu","type":"ai_languageModel","index":0}]]},"MsgUsuario":{"main":[[{"node":"Acao","type":"main","index":0}]]},"Switch":{"main":[[{"node":"MenuCardapio22","type":"main","index":0}],[{"node":"CancelarPedido","type":"main","index":0}],[{"node":"VerificaItens","type":"main","index":0}],[{"node":"If","type":"main","index":0}],[{"node":"ExcluiRejeitados1","type":"main","index":0}],[{"node":"primeiro atendimento","type":"main","index":0}],[{"node":"MenuCardapio2","type":"main","index":0}],[{"node":"MenuCardapio","type":"main","index":0}],[{"node":"Cancelar","type":"main","index":0}],[{"node":"AgenteBuscaCardapio","type":"main","index":0}]]},"BuscaCardapio":{"ai_tool":[[{"node":"AgenteBuscaCardapio","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"Parametros Fluxo","type":"main","index":0}]]},"Menu":{"main":[[{"node":"MsgUsuario","type":"main","index":0}]]},"ExcluiRejeitados":{"main":[[{"node":"MenuCardapio15","type":"main","index":0}]]},"Cliente Pedido":{"main":[[{"node":"ConcatenaPedido","type":"main","index":0}],[{"node":"CriaPedido","type":"main","index":0}]]},"EncontrarPedido":{"main":[[{"node":"Cliente Pedido","type":"main","index":0}]]},"CriaPedido":{"main":[[{"node":"ConcatenaPedido","type":"main","index":0}]]},"ConcatenaPedido":{"main":[[{"node":"StatusPedido","type":"main","index":0}],[{"node":"MergePedido","type":"main","index":1}]]},"MergePedido":{"main":[[{"node":"Menu","type":"main","index":0}]]},"If":{"main":[[{"node":"MenuCardapio14","type":"main","index":0}],[{"node":"ExcluiRejeitados","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"MenuCardapio9","type":"main","index":0}]]},"CancelarPedido":{"main":[[{"node":"If5","type":"main","index":0}]]},"If2":{"main":[[{"node":"IniciaAtendimento","type":"main","index":0}],[{"node":"AtendimentoEnviado","type":"main","index":0}]]},"IniciaAtendimento":{"main":[[{"node":"Concatena","type":"main","index":0}]]},"AtendimentoEnviado":{"main":[[{"node":"Concatena","type":"main","index":0}]]},"primeiro atendimento":{"main":[[{"node":"MenuCardapio6","type":"main","index":0}],[{"node":"MenuCardapio7","type":"main","index":0}]]},"Cancelar":{"main":[[{"node":"MenuCardapio3","type":"main","index":0}]]},"OpenAI Chat Model9":{"ai_languageModel":[[{"node":"AgenteBuscaCardapio","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory5":{"ai_memory":[[{"node":"AgenteBuscaCardapio","type":"ai_memory","index":0}]]},"MCP Client2":{"ai_tool":[[{"node":"AgenteBuscaCardapio","type":"ai_tool","index":0}]]},"AgenteBuscaCardapio":{"main":[[{"node":"MenuCardapio4","type":"main","index":0}]]},"MegaApi6":{"main":[[{"node":"RequestMenu5","type":"main","index":0}]]},"If1":{"main":[[{"node":"Switch2","type":"main","index":0}],[{"node":"MergePedido","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"If4","type":"main","index":0}],[{"node":"AtualizaEndereço","type":"main","index":0}],[{"node":"AtualizaBairro","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"CriaComentario","type":"main","index":0}]]},"AtualizaEndereço":{"main":[[{"node":"MenuCardapio29","type":"main","index":0}]]},"AtualizaBairro":{"main":[[{"node":"MenuCardapio28","type":"main","index":0}]]},"AtualizaFormaPagamento":{"main":[[{"node":"Execute a SQL query3","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"AtualizaFormaPagamento","type":"main","index":0}]]},"Execute a SQL query3":{"main":[[{"node":"MenuCardapio27","type":"main","index":0}]]},"ConcluiPedido":{"main":[[{"node":"MenuCardapio31","type":"main","index":0}]]},"Execute a SQL query4":{"main":[[{"node":"MenuCardapio8","type":"main","index":0}]]},"StatusPedido":{"main":[[{"node":"If1","type":"main","index":0}]]},"Code3":{"main":[[{"node":"MenuCardapio12","type":"main","index":0}]]},"Rejeite":{"main":[[{"node":"Code3","type":"main","index":0}]]},"RejeitaItem":{"main":[[{"node":"Rejeite","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"No Operation, do nothing17","type":"main","index":0}]]},"VerificaItens":{"main":[[{"node":"If3","type":"main","index":0}]]},"CriaComentario":{"main":[[{"node":"Confirmadados","type":"main","index":0}]]},"FinalizarPedido":{"main":[[{"node":"Execute a SQL query7","type":"main","index":0}]]},"If3":{"main":[[{"node":"VoltarParaItens","type":"main","index":0}],[{"node":"FinalizarPedido","type":"main","index":0}]]},"VoltarParaItens":{"main":[[{"node":"MenuCardapio21","type":"main","index":0}]]},"Confirmadados":{"main":[[{"node":"MenuCardapio26","type":"main","index":0}]]},"RequestMenu6":{"main":[[{"node":"MegaApi10","type":"main","index":0}]]},"If4":{"main":[[{"node":"ConcluiPedido","type":"main","index":0}],[{"node":"ExcluiComentario_temp","type":"main","index":0}]]},"FinalizarPedido1":{"main":[[{"node":"MenuCardapio30","type":"main","index":0}]]},"Execute a SQL query2":{"main":[[{"node":"MenuCardapio10","type":"main","index":0}]]},"Execute a SQL query7":{"main":[[{"node":"MenuCardapio18","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"MenuCardapio19","type":"main","index":0}]]},"Acao":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Execute a SQL query5":{"main":[[{"node":"No Operation, do nothing19","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"No Operation, do nothing18","type":"main","index":0}]]},"Wait":{"main":[[{"node":"MenuCardapio32","type":"main","index":0}]]},"If5":{"main":[[{"node":"MenuCardapio23","type":"main","index":0}],[{"node":"MenuCardapio24","type":"main","index":0}]]},"Bebidas":{"main":[[{"node":"Itembebida","type":"main","index":0}]]},"Pizzas Fracionada":{"main":[[{"node":"ItemFracionado","type":"main","index":0}]]},"Pizzas Inteira":{"main":[[{"node":"ItemInteira","type":"main","index":0}]]},"Esfirra":{"main":[[{"node":"ItemEsfirra","type":"main","index":0}]]},"Borda":{"main":[[{"node":"ItemBorda","type":"main","index":0}]]},"Itembebida":{"main":[[{"node":"AtualizaNumeroBebida","type":"main","index":0}]]},"ItemFracionado":{"main":[[{"node":"AtualizaValorPizzaFracionada","type":"main","index":0}]]},"ItemInteira":{"main":[[{"node":"AtualizaValorPizza","type":"main","index":0}]]},"ItemEsfirra":{"main":[[{"node":"AtualizaNumeroEsfirra","type":"main","index":0}]]},"ItemBorda":{"main":[[{"node":"AtualizaNumeroBorda","type":"main","index":0}]]},"AtualizaValorBebida":{"main":[[{"node":"Merge","type":"main","index":0}]]},"AtualizaValorEsfirra":{"main":[[{"node":"Merge","type":"main","index":3}]]},"AtualizaNumeroBebida":{"main":[[{"node":"AtualizaValorBebida","type":"main","index":0}]]},"AtualizaNumeroEsfirra":{"main":[[{"node":"AtualizaValorEsfirra","type":"main","index":0}]]},"AtualizaNumeroBorda":{"main":[[{"node":"AtualizaValorBorda","type":"main","index":0}]]},"Merge":{"main":[[{"node":"RejeitaItem","type":"main","index":0}]]},"AtualizaValorPizzaFracionada":{"main":[[{"node":"Merge","type":"main","index":1}]]},"AtualizaValorPizza":{"main":[[{"node":"Merge","type":"main","index":2}]]},"AtualizaValorBorda":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain1","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Structured Output Parser [Schema]1":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Bebidas","type":"main","index":0},{"node":"Pizzas Fracionada","type":"main","index":0},{"node":"Pizzas Inteira","type":"main","index":0},{"node":"Esfirra","type":"main","index":0},{"node":"Borda","type":"main","index":0}]]},"MontPedido":{"main":[[{"node":"Code2","type":"main","index":0}]]},"ExcluiRejeitados1":{"main":[[{"node":"Execute a SQL query2","type":"main","index":0}]]},"ExcluiComentario_temp":{"main":[[{"node":"FinalizarPedido1","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"MenuCardapio16","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"MenuCardapio17","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Encontrar Cliente1","type":"main","index":0}]]},"MenuCardapio":{"main":[[{"node":"No Operation, do nothing9","type":"main","index":0}]]},"MenuCardapio2":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"MenuCardapio3":{"main":[[{"node":"No Operation, do nothing10","type":"main","index":0}]]},"MenuCardapio4":{"main":[[{"node":"MenuCardapio5","type":"main","index":0}]]},"MenuCardapio5":{"main":[[{"node":"No Operation, do nothing13","type":"main","index":0}]]},"MenuCardapio6":{"main":[[{"node":"No Operation, do nothing11","type":"main","index":0}]]},"MenuCardapio7":{"main":[[{"node":"Execute a SQL query4","type":"main","index":0}]]},"MenuCardapio8":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"MenuCardapio9":{"main":[[{"node":"No Operation, do nothing7","type":"main","index":0}]]},"MenuCardapio10":{"main":[[{"node":"MenuCardapio11","type":"main","index":0}]]},"MenuCardapio11":{"main":[[{"node":"No Operation, do nothing8","type":"main","index":0}]]},"MenuCardapio12":{"main":[[{"node":"MenuCardapio13","type":"main","index":0}]]},"MenuCardapio13":{"main":[[{"node":"No Operation, do nothing12","type":"main","index":0}]]},"MenuCardapio14":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"MenuCardapio15":{"main":[[{"node":"MontPedido","type":"main","index":0}]]},"MenuCardapio16":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"MenuCardapio17":{"main":[[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"MenuCardapio19":{"main":[[{"node":"No Operation, do nothing14","type":"main","index":0}]]},"MenuCardapio18":{"main":[[{"node":"MenuCardapio20","type":"main","index":0}]]},"MenuCardapio20":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"MenuCardapio21":{"main":[[{"node":"No Operation, do nothing15","type":"main","index":0}]]},"MenuCardapio22":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"MenuCardapio23":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"MenuCardapio24":{"main":[[{"node":"No Operation, do nothing21","type":"main","index":0}]]},"MenuCardapio25":{"main":[[{"node":"Execute a SQL query5","type":"main","index":0}]]},"MenuCardapio26":{"main":[[{"node":"MenuCardapio25","type":"main","index":0}]]},"MenuCardapio27":{"main":[[{"node":"No Operation, do nothing20","type":"main","index":0}]]},"MenuCardapio28":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]},"MenuCardapio29":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"MenuCardapio30":{"main":[[{"node":"No Operation, do nothing16","type":"main","index":0}]]},"MenuCardapio31":{"main":[[{"node":"Wait","type":"main","index":0}]]},"MenuCardapio32":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.lglducci.com.br","user-agent":"axios/1.7.7","content-length":"876","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"159.69.117.195","cf-ipcountry":"DE","cf-ray":"979ce8c988ac8167-FRA","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/json","x-forwarded-for":"172.70.240.7","x-forwarded-host":"n8n.lglducci.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik_traefik.1","x-real-ip":"172.70.240.7"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"delivery","data":{"key":{"remoteJid":"5516992975836@s.whatsapp.net","fromMe":false,"id":"99C2F2431FF490943437D7ED86A26C9D"},"pushName":"Luis Gustavo Landucci","message":{"conversation":"1","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"WPqpxngRfZMFYQ==","senderTimestamp":"1756817072","recipientKeyHash":"QZf97HvpPZZwCw==","recipientTimestamp":"1756935604"},"deviceListMetadataVersion":2,"messageSecret":"XDQ9vyrrpKtsUZyWf9PZYaK1CtJeti1/05lfTNfRruk="}},"messageType":"conversation","messageTimestamp":1756982851,"instanceId":"3ec89e27-8d20-4377-b0dc-c435da3892f8","source":"android"},"destination":"https://n8n.lglducci.com.br/webhook-test/agente","date_time":"2025-09-04T07:47:32.028Z","sender":"5516991216319@s.whatsapp.net","server_url":"https://evolution.lglducci.com.br","apikey":"6981DB2E1A00-4ADE-A8C6-A92FF81B2663"},"webhookUrl":"https://webhook.lglducci.com.br/webhook-test/agente","executionMode":"test"}}]},"versionId":"044ace9a-9cee-44cc-bd43-714f5ee721c7","triggerCount":1,"shared":[{"createdAt":"2025-09-07T00:48:12.031Z","updatedAt":"2025-09-07T00:48:12.031Z","role":"workflow:owner","workflowId":"9WftJMMBMRPnj8NP","projectId":"wFRMrac2003Pl1x6"}],"tags":[{"createdAt":"2025-09-07T00:48:06.709Z","updatedAt":"2025-09-07T00:48:06.709Z","id":"oyXqUAJNw26h8Z5c","name":"github"}]}