delivery-1ivusp6PO0OaESke.json
{"createdAt":"2025-08-16T21:05:21.296Z","updatedAt":"2025-08-23T15:11:05.750Z","id":"1ivusp6PO0OaESke","name":"Delivery","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Formatos Base64\nBase64 é uma forma de codificar dados binários como texto. Dependendo do tipo de arquivo, os prefixos variam para indicar o formato do dado. Aqui estão alguns dos formatos mais comuns com os respectivos prefixos base64:\n\n### 1. **Imagem**\n   - **PNG**: `data:image/png;base64,`\n   - **JPEG**: `data:image/jpeg;base64,`\n   - **GIF**: `data:image/gif;base64,`\n   - **SVG**: `data:image/svg+xml;base64,`\n   - **BMP**: `data:image/bmp;base64,`\n   \n### 2. **Áudio**\n   - **MP3**: `data:audio/mp3;base64,`\n   - **WAV**: `data:audio/wav;base64,`\n   - **OGG**: `data:audio/ogg;base64,`\n   - **MPEG**: `data:audio/mpeg;base64,`\n\n### 3. **Vídeo**\n   - **MP4**: `data:video/mp4;base64,`\n   - **OGG**: `data:video/ogg;base64,`\n   - **WebM**: `data:video/webm;base64,`\n\n### 4. **Texto**\n   - **Plain Text**: `data:text/plain;base64,`\n   - **HTML**: `data:text/html;base64,`\n   - **CSS**: `data:text/css;base64,`\n   - **JavaScript**: `data:text/javascript;base64,`\n   - **CSV**: `data:text/csv;base64,`\n\n### 5. **Documentos**\n   - **PDF**: `data:application/pdf;base64,`\n   - **JSON**: `data:application/json;base64,`\n   - **ZIP**: `data:application/zip;base64,`\n   - **XML**: `data:application/xml;base64,`\n\nEsses são exemplos de prefixos que podem ser usados ao incluir dados base64 em documentos ou aplicações.","height":1166,"width":593,"color":7},"id":"ac167041-9804-4c78-b27d-2f0bfe0df47d","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4048,5712]},{"parameters":{"content":"## MimeTypes\nO Mime type é o mecanismo para especificar o tipo de documento.\nA estrutura de um MIME type é muito simples; Consiste de um tipo e um subtipo, separados por um '/', onde nenhum espaço é permitido. \nO tipo representa a categoria. \nO subtipo é específico para cada tipo.\n\n### 1. **image**\nRepresenta qualquer tipo de imagens\n- image/gif\n- image/png\n- image/jpeg\n- image/bmp\n- image/webp\n   \n\n### 2. **audio**\nRepresenta qualquer tipo de arquivo de audio\n- audio/midi\n- audio/mpeg\n- audio/webm\n- audio/ogg\n- audio/wav\n- audio/mp3\n- audio/mp4\n\n### 3. **video**\nRepresenta qualquer tipo de arquivo de video\n- video/webm\n- video/ogg\n- video/mp4\n\n### 4. **text**\nRepresenta qualquer documento que contenha texto\n- text/plain\n- text/csv\n- text/html\n- text/css\n- text/javascript\n\n### 5. **application**\nRepresenta qualquer tipo de dados binários.\n- application/octet-stream\n- application/pkcs12\n- application/vnd.mspowerpoint\n- application/xhtml+xml\n- application/xml\n- application/pdf3","height":1166,"width":593,"color":7},"id":"8999204c-48b2-472b-8f6c-8e9bb7cd38c8","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3152,6016]},{"parameters":{"operation":"get","tableId":"usuario_lacantina","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Dados Lead').item.json.IdConversa }}"}]}},"id":"03497153-0e30-4b91-8077-724af5490d29","name":"Encontrar Cliente1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3792,3712],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"wfRfDKyFhOQc6c4W","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3419c30f-4400-401b-bf40-db1579507f96","leftValue":"={{ $json.user_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"6b165621-6bd3-4e02-81b5-ec2afd85f0ae","name":"Cliente Existe?1","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[4016,3696],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"tableId":"usuario_lacantina","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $('Dados Lead').item.json.LeadNome }}"},{"fieldId":"telefone","fieldValue":"={{ $('Dados Lead').item.json.IdConversa }}"}]}},"id":"1346391d-0cac-4d68-b4c8-934c2f2a8dd9","name":"Criar Cliente1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4448,3984],"credentials":{"supabaseApi":{"id":"wfRfDKyFhOQc6c4W","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"id":"34f8e2df-68cd-4b5e-8e0f-d20e068a85c8","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[4800,3712],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.mensagens","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[8256,1536],"id":"75714275-95b4-45a9-bf2f-eaab6f65d1bb","name":"Split Out1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[8560,1536],"id":"4fd56699-25fc-4735-9ffb-94b179150d1d","name":"Loop Over Items1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[9184,1792],"id":"abdf8e0a-71dd-4e73-a531-feafb989aa07","name":"Wait3","webhookId":"33c5308c-6ef7-4028-8fb7-f0f46b8d615d","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[7232,1808],"id":"4b0a0af7-da7c-44e2-9add-bbc288f19bbc","name":"No Operation, do nothing5","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[7776,1440],"id":"bb810d44-7a9c-4d61-810b-dcabf2331f44","name":"Auto-fixing Output Parser1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[7712,1296],"id":"225d16fd-eec9-4a9b-a0e6-9669709dac85","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"2hW4LOItQwhgTw0Q","name":"OpenAi account"}}},{"parameters":{"content":"## Gatilho\nChat Trigger, WhatsApp, Instagram, Telegram, Messenger, etc..","height":572,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1520,3456],"id":"e1b354de-b87c-491c-9e79-7e1bc7929c80","name":"Sticky Note2"},{"parameters":{"content":"## Variáveis do Fluxo\nCentral de controle do workflow","height":540,"width":326,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1936,3488],"id":"f9686448-edcd-4e07-8a2d-bcb74e79cad4","name":"Sticky Note3"},{"parameters":{"content":"## Filtros Iniciais\nPara evitar que fluxo seja executado quando não queremos","height":540,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2304,3472],"id":"800078e8-3774-4cd0-81d9-c771446c0376","name":"Sticky Note4"},{"parameters":{"content":"## Dados do Lead\nInformações principais sobre o lead","height":540,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2704,3472],"id":"0929e37d-93d8-4751-a00d-8c6c4c2b7140","name":"Sticky Note5"},{"parameters":{"content":"## Registro do Lead no banco de dados (Supabase)\nFluxo para adição do lead no banco de dados postgrees supabase.","height":716,"width":2808,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3744,3536],"id":"2281bca0-6025-4c77-937e-d2fefefb9102","name":"Sticky Note7"},{"parameters":{"content":"## Mensagem para o Agente\nMensagem final do usuário para o agente","height":652,"width":276,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3248,3504],"id":"35e0b09d-c8c4-451f-a922-ebd48196e8d5","name":"Sticky Note10"},{"parameters":{"content":"## Agente de IA\nAgente inteligente com memória e prompt pré formatado","height":1336,"width":2068,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5680,1792],"id":"e74bf8e0-eff9-46b0-ad2f-21fe87d3e84c","name":"Sticky Note11"},{"parameters":{"content":"## Humanizar Resposta\nQuebra de mensagens em mensagens menores e com contexto.","height":616,"width":580,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7504,1136],"id":"908212f9-8e91-44da-a651-ef174ce0d427","name":"Sticky Note12"},{"parameters":{"content":"## Envio das Respostas ao Usuário\nEnvio das mensagens quebradas para o usuário","height":760,"width":900,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8480,1232],"id":"55d279fa-0f9c-4b45-86ef-42160d085ddf","name":"Sticky Note13"},{"parameters":{"assignments":{"assignments":[{"id":"9f488c5c-0b3b-48e9-87b1-5a22d513d1ec","name":"IdConversa","value":"= {{ $('Webhook').item.json.body.key.remoteJid.replace(\"@s.whatsapp.net\",\"\") }}","type":"string"},{"id":"69f6217f-9063-423f-abf4-e94f6b70f94e","name":"LeadNome","value":"={{ $('Webhook').item.json.body.pushName }}","type":"string"},{"id":"6ba1d721-f125-47fb-ad7b-194cc478a856","name":"input_usuario","value":"= {{ $('Webhook').item.json.body.message.role === 'user' ? $('Webhook').item.json.body.message.conversation : '' }}             ","type":"string"},{"id":"ba4188f4-3672-477b-a776-7eadc863140c","name":"mensagem_usuario","value":"= {{ $('Webhook').item.json.body.message.conversation }}","type":"string"},{"id":"33d4eb69-2991-4188-8b18-2ac04b7b2f74","name":"usario","value":"0","type":"string"}]},"options":{}},"id":"5945627a-603d-4428-a898-b6dece1d05db","name":"Dados Lead","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2816,3712],"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"Ajuste o Node Set com os campos relevantes fornecidos.\n","height":280,"width":306,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2720,3664],"id":"04d9cba4-cec9-42fb-825d-d2b2ee592d50","name":"Sticky Note"},{"parameters":{"content":"Ajustes os filtros necessários conforme seu gatilho de entrada","height":280,"width":190,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2368,3584],"id":"9d7b9a03-5ee3-4169-b341-284132492746","name":"Sticky Note1"},{"parameters":{"content":"Ajuste tempos de buffer e inatividade do agente conforme necessidade.\n","height":280,"width":190,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2016,3584],"id":"e7a8527d-a60d-43de-9457-8babdc3188e9","name":"Sticky Note18"},{"parameters":{"content":"Ajuste sua instância e autenficiação da Z-API","height":300,"width":230,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8672,1520],"id":"d00e1f71-d5c6-4bc2-9d76-786d8cc47830","name":"Sticky Note22"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"mensagens\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"mensagens\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[8000,1632],"id":"6be10dca-1548-4248-a202-7c590955eed3","name":"Structured Output Parser [Schema]","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"3bdce7b6-d0f1-442c-aafd-8cd123aa21b6","name":"EsperaBuffer","value":1,"type":"number"},{"id":"c38e8985-4494-40a4-878e-f25467849842","name":"TempoInatividadeAgente","value":150,"type":"number"},{"id":"ac619a5e-1438-4e19-aaf5-21dfcbc32312","name":"ModeloTemperatura","value":0.4,"type":"number"},{"id":"cd3b0a32-e454-406e-84ad-b5efedc9c545","name":"empresa","value":"1","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2048,3712],"id":"f750fc0a-e77c-4816-a13e-35a691fcaeaf","name":"Parametros Fluxo","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"promptType":"define","text":"=<mensagem_do_usuario>\n{{ $('ConcluiPedido').item.json.finalizar_pedido }}\n</mensagem_do_usuario>","hasOutputParser":true,"messages":{"messageValues":[{"message":"Apenas estruture a <mensagem_do_usuario> no formato JSON solicitado no output parser e seguindo as instruções de formatação abaixo. Não altere nada mais na mensagem\n\n# Formatação\n- Divida as mensagens para que fiquem naturais e humanizadas;\n- Divida as mensagens conforme estrutura do output parser para que não fiquem muito longas (maiores que 240 caractéres);\n- Não separe mensagens vazias;\n- Use quebras de linhas (\\n\\n) após pontos finais;\n- Para negrito (bold) use apenas um '' nunca duas '' (exemplo: *negrito).\n\nExemplo de formato JSON:\n{\n\"mensagens\": [\"Mensagem 0\", \"Mensagem 1\", \"Mensagem 2\"]\n}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[7680,1280],"id":"e43bf1ec-a31d-4635-83ad-093683081775","name":"Basic LLM Chain","retryOnFail":true,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/?utm_source=template-n8n","height":126,"width":593,"color":7},"id":"2ca5b867-0fee-4041-9451-8e65dd5e0824","name":"Sticky Note23","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8144,6832]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00d2650d-52f9-4bf5-9b50-ec548c105222","leftValue":"={{ $json.lead_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4592,3712],"id":"09e91020-b6e6-42d0-a8a0-3e8bf3d27cb0","name":"Concatena"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"204f54b0-e3ed-4ff4-8302-8c20d3b8aa78","leftValue":"={{ $('Webhook').item.json.body.isGroup }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"c51986d9-f347-4198-89bb-9e4cd0f021c9","leftValue":"={{ $('Webhook').item.json.body.broadcast }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"05ee6414-0164-473b-8f82-225cfba55ad2","leftValue":"={{ $('Webhook').item.json.body.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"8308dbf7-e39d-406a-8104-98f864d82561","name":"Filtro Inicial1","type":"n8n-nodes-base.filter","typeVersion":2.1,"position":[2416,3712],"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"jsCode":" const text = $input.first().json['output.mensagens']  || \"\";\nconst sanitized = text.replace(/\"([^\"]+)\"/g, \"'$1'\");  // troca \"xxx\" por 'xxx'\nreturn [{ json: { ...$json, text: sanitized } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[8736,1616],"id":"0931a5ff-cf3e-4e28-997b-f50bb7c68426","name":"Code"},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"{{ $json.text.replace(/\\n/g, '\\\\n') }}\"\n  }\n}\n","options":{}},"id":"a9b4f587-533c-47aa-9430-6b166479a8cc","name":"MegaApi","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8976,1600]},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[6368,4000],"id":"24c5cf1f-bb61-4323-92ad-879618f599f0","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"2hW4LOItQwhgTw0Q","name":"OpenAi account"}}},{"parameters":{"jsCode":" return [\n  {\n    json: JSON.parse( $input.first().json.text) // ou o campo correto de saída\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6992,3680],"id":"33666d67-e9d7-4a32-b385-2350b8c29aae","name":"MsgUsuario"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.acao }}","rightValue":"menu","operator":{"type":"string","operation":"equals"},"id":"c957927a-1cf4-44bf-8f38-1496767b6a1b"}],"combinator":"and"},"renameOutput":"=menu"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"03a78ab2-9057-4ff5-baa5-8c37c432a94d","leftValue":"={{ $json.acao }}","rightValue":"cancelar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cancelar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e1b9d060-7def-4f5f-b587-657ed9c9ce85","leftValue":"={{ $json.acao }}","rightValue":"finalizar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Finalizar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3fc41f2-ee99-4de2-8841-2ae1a7da37db","leftValue":"={{ $json.acao }}","rightValue":"adicionar_item","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Adicionar Item"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"38045ee6-0b44-4b52-a79c-676c7ce5998a","leftValue":"={{ $json.acao }}","rightValue":"consultar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Consutar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4bbedcdd-6893-41a2-9e3d-bfc9b97ca10a","leftValue":"={{ $json.acao }}","rightValue":"desconhecida","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"desconhecida"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"42e2c65b-a99d-4991-ac87-a7ff8d84d4a5","leftValue":"={{ $json.acao }}","rightValue":"instrucao","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Instruções"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"23e65839-03f6-4879-8998-48ad2909ef94","leftValue":"={{ $json.acao }}","rightValue":"cardapio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cardapio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4f5a8ba2-c888-48cd-bbe2-ba09467e56a0","leftValue":"={{ $json.acao }}","rightValue":"humanizado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"humanizado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"996ac831-1b2b-4f3b-8efa-a53642a5d337","leftValue":"={{ $json.acao }}","rightValue":"detalhar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Detalhar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[7712,3424],"id":"7e487532-ad52-4f7c-aac2-619fe871d373","name":"Switch"},{"parameters":{"descriptionType":"manual","toolDescription":"Execute a SQL query in Postgres","operation":"executeQuery","query":" SELECT * FROM busca_cardapio(pega_numeros_concatenados(  {{ $('Merge1').item.json.user_id }}  , {{ $('MergePedido').item.json.pedido_id }}));","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[9008,5248],"id":"3b3c5f0e-7527-496b-b2d0-74874e621d41","name":"BuscaCardapio","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"⏳ Processando... {{ $('Dados Lead').item.json.mensagem_usuario.replace(/\\n/g, ' ').replace(/\\\"/g, '\\'') }}\"\n  }\n}","options":{}},"id":"cff66ee7-8778-4eb1-867b-2a09915d149b","name":"MegaApi3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9568,3216]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[9984,3520],"id":"29910c4a-7d09-408a-9f6f-7e789dac0656","name":"No Operation, do nothing8","disabled":true,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"httpMethod":"POST","path":"agente","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1680,3712],"id":"0f8251b4-4bdb-4d66-92ab-29d40de6d4b4","name":"Webhook","webhookId":"66949457-5339-4325-b499-9a15d57ff6a1"},{"parameters":{"promptType":"define","text":"=<mensagem_do_usuario>\n {{ $('Dados Lead').item.json.mensagem_usuario }}\n</mensagem_do_usuario>","hasOutputParser":true,"messages":{"messageValues":[{"message":"= Você é um classificador de intenção para um pedido de pizzaria.\n\nDada a mensagem do cliente, responda APENAS com uma das seguintes ações:\n\n- adicionar_item → o cliente está pedindo uma pizza, bebida, etc., ou digitou \"1\" para adicionar mais itens\n- finalizar → se ele disser \"pronto\", \"fim\", \"pode fechar\", ou digitar \"4\"\n- cancelar → se ele disser que desistiu, quer cancelar ou digitar \"6\"\n- comentar → se ele faz observações tipo \"sem cebola\", \"sem queijo\", etc.\n- desconhecida → se não entender a mensagem\n- consultar → se o cliente deseja ver o resumo do pedido ou digitar \"5\" ou \"consulta\"\n- detalhar → se o cliente quer ver os detalhes dos itens do pedido ou digitar \"7\"\n- menu → se ele pedir o menu ou opções\n- instrucao →  o cliente diseer \"Instruções\", ou digitou \"2\" para adicionar mais itens\n- cardapio →  o cliente diseer \"Cardapio\", ou digitou \"3\" para ver o cardapio\n\n- humanizado →  o cliente diseer \"humanizado\", ou digitou \"8\"  envie o numero de telefone humanizado\n\nRetorne **somente** nesse formato:\n\n{\n  \"acao\": \"adicionar_item\" | \"finalizar\" | \"cancelar\" | \"comentar\" | \"desconhecida\" | \"consultar\" | \"detalhar\" | \"menu\" | \"instrucao\"| \"cardapio\"| \"humanizado\"\n}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[6400,3696],"id":"87e46dd9-f870-4402-bafe-4af1c3e57595","name":"Menu","retryOnFail":true,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"item_pedido_temp","mode":"list","cachedResultName":"item_pedido_temp"},"deleteCommand":"delete","where":{"values":[{"column":"user_id","value":"= {{ $('Merge1').item.json.user_id }}"},{"column":"status","value":"rejeitado"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[9328,3216],"id":"a0dcc0a4-04b3-4465-81ea-046df3fd013e","name":"ExcluiRejeitados","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"content":"","height":3740,"width":12636,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[272,1424],"id":"a465bad9-82c4-4819-883e-ba62244e8fbe","name":"Sticky Note14"},{"parameters":{"tableId":"pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('Merge1').item.json.user_id }}"},{"fieldId":"status","fieldValue":"aberto"},{"fieldId":"valor","fieldValue":"0"}]}},"id":"038d0d18-4017-4eff-80d4-e654a9a6f2dd","name":"CriaPedido","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5296,3872],"credentials":{"supabaseApi":{"id":"wfRfDKyFhOQc6c4W","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3419c30f-4400-401b-bf40-db1579507f96","leftValue":"={{ $json.user_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"1b64254b-2934-4679-a2b5-144e1484dd59","name":"Cliente Pedido","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[5152,3712],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"get","tableId":"pedido_temp","filters":{"conditions":[{"keyName":"user_id","keyValue":"={{ $('Merge1').item.json.user_id }}"}]}},"id":"6b41ef5a-1e65-4d71-ad8b-dcad2b98d137","name":"EncontrarPedido","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4976,3712],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"wfRfDKyFhOQc6c4W","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[9360,2144],"id":"e5752106-2784-4998-aa37-b902e873b948","name":"No Operation, do nothing1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"🧾 *Escolha uma opção abaixo:*\\n\\n*1.* Adicionar itens ao pedido\\n*2.*  Ver instruções para pedir corretamente\\n*3.*  Ver cardápio completo\\n*4.*  Concluir pedido\\n*5.*  Consultar pedido atual\\n*6.*  Cancelar pedido\\n*7.*  Detalhar itens do pedido\\n\\n*Responda com 1, 2, 3, 4, 5, 6 ou 7 para continuar.*\"\n  }\n}\n","options":{}},"id":"afbe60cc-0223-4da6-8ba2-7fe3601de947","name":"RequestMenu","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9040,2144]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[9920,2272],"id":"12054316-ec13-4c8d-9b7c-04cf2129ab72","name":"No Operation, do nothing2","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00d2650d-52f9-4bf5-9b50-ec548c105222","leftValue":"={{ $json.pedido_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5408,3696],"id":"33bc43ae-6843-47f3-84a0-b3a26685352b","name":"ConcatenaPedido"},{"parameters":{},"id":"ea220e0b-2c5c-47f3-99f3-3ec6f75c5958","name":"MergePedido","type":"n8n-nodes-base.merge","typeVersion":3,"position":[6064,3696],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[9568,4192],"id":"545c1ba9-a45b-45c7-ac9b-23b2e21f1796","name":"No Operation, do nothing3","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5e64e4bd-33c7-44a0-9deb-9f3d31db5a48","leftValue":"={{ $('Dados Lead').item.json.mensagem_usuario.toString().trim() }}","rightValue":"1","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[9056,3088],"id":"b0bb9398-d023-4687-a064-bb198238d24f","name":"If"},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=     {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \" 👌 Execelente vamos adicionar novos itens? Quer um exemplo? \\n. 1 *pizza* 19 *grande*, uma *1/2* 14 e *1/2*  21 e *uma guarana antartica 2l* e *3 esfirras carne*.\"\n  }\n}\n","options":{}},"id":"891c06b2-ffff-44d9-ab92-86ea70055188","name":"RequestFinalizar1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9312,3008]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[10352,3008],"id":"7b758943-7a91-4dc3-88d1-84775e8ba283","name":"No Operation, do nothing4","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[10496,4000],"id":"cb68efc3-7642-4364-9037-0fb784c657f7","name":"No Operation, do nothing7","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= \n{\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"🧾 *Escolha uma opção abaixo:*\\n\\n1️⃣ *Adicionar itens ao pedido*\\n2️⃣  *Ver instruções para pedir corretamente*\\n*Responda com 1 ou  2  para continuar.*\"\n  }\n}","options":{}},"id":"4a5fc047-f437-4297-9250-27cc6bf993f9","name":"RequestMenu2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10240,4000]},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=  {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"😀 Olá, seja bem-vindo(a) ao atendimento digital da *La Cantina*.\\n\\n🕗 Nosso horário de atendimento é de *TERÇA a DOMINGO* das *18:00h às 23:00h*.\\n\\n⚠️ Caso queira atendimento *Humanizado* digite *8*. Caso contrário, continue neste atendimento.\\n\\n👉 Digite o número das opções abaixo para o que deseja solicitar.\\n\\n🍕 É rapidinho 🚀 já estou enviando o *Cardápio*, aguarde... 📤\"\n  }\n}\n","options":{}},"id":"b24d0e7c-2570-4ed1-aa89-900f9c24209b","name":"RequestMenu3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9552,4000]},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[10080,4000],"id":"14609c2a-45a5-43d2-9ecc-8595277b51e2","name":"Wait2","webhookId":"e7496148-e2c5-4de6-a720-b218f64657df"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[9568,4368],"id":"ee6fb3ce-03fe-4306-bcd2-b7ee5c021bce","name":"No Operation, do nothing9","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":"select * from  cancela_pre_pedido( {{ $('Concatena').item.json.user_id }}, {{ $('MergePedido').item.json.pedido_id }}  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[9056,2400],"id":"41b27cad-17bd-4239-9860-1b054a349738","name":"CancelarPedido","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=  {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"🗑️ {{ $('Dados Lead').item.json.LeadNome }}, o seu pedido foi cancelado com sucesso. Vamos começar um novo pedido!\" \n  }\n}\n ","options":{}},"id":"565e2735-6274-48e0-8e95-f5c9d84c9cdf","name":"ConfirmaCancelamento","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9616,2272]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[9744,4576],"id":"7e46555c-a75c-459f-ab33-b3acc49d1272","name":"No Operation, do nothing10","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"🗑️ {{ $('Dados Lead').item.json.LeadNome }}, o seu pedido foi *cancelado* com sucesso.\\n\\nSe quiser começar um *novo pedido*, estou por aqui!\\n\\n📞 O telefone para atendimento humanizado é *(16) 99406-6336*\"\n  }\n}\n","options":{}},"id":"ed1c5dfb-22b0-420a-bfa5-3ecb225fd6b7","name":"ConfirmaCancelamento1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9568,4576]},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=  {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"🍕 Vamos começar o seu pedido?\\n\\nVeja como você pode digitar corretamente os itens que deseja:\\n\\n✅ Exemplos válidos:\\n\\n- Pizza 17 grande com borda de catupiry\\n- Pizza 12 média  e uma 14 grande e uma Coca-Cola 2L\\n- Pizza 14 grande 1/2 18 e 1/2 22\\n- uma Esfirra bolonhesa e refrigerante Guaraná lata\\n- Pizza 9 grande   cerveja Heineken 600ml\\n- 4 esfirras carne e coca cola 2l\\n\\n📝 Dica: Você pode digitar tudo em uma única frase, como:\\n- \\\"Quero uma pizza 17 grande com borda cheddar e uma Coca 2L\\\"\\n- \\\"2 esfirras carne uma pizaa 24 uma cerveja skol 600ml\\\"\\n\\nQuando quiser, é só me enviar seu pedido!\"\n  }\n}\n","options":{}},"id":"e3d1a815-0908-4eb4-a2b6-cbdcc9f344e5","name":"MenuInstruções","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9376,4192]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[9760,3840],"id":"ac52227e-3825-4140-9208-d2f55c74fdfc","name":"No Operation, do nothing11","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"041e18dc-788b-45e7-9348-cca03ac28eee","leftValue":"={{ $json.status }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4208,3680],"id":"72b704dc-f9c3-4a21-bb2c-2740bce92f86","name":"If2"},{"parameters":{"operation":"update","tableId":"usuario_lacantina","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $json.user_id }}"},{"keyName":"status","condition":"is","keyValue":"null"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"iniciado"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4384,3584],"id":"dcd723dc-08ed-4c7f-ad14-1bceb576c42c","name":"IniciaAtendimento","credentials":{"supabaseApi":{"id":"wfRfDKyFhOQc6c4W","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"usuario_lacantina","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $json.user_id }}"},{"keyName":"status","condition":"eq","keyValue":"iniciado"},{"keyName":"status","condition":"eq","keyValue":"iniciado"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"enviado"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4384,3744],"id":"cf9872ba-da27-4cc8-ab2e-a9263c8ae39b","name":"AtendimentoEnviado","credentials":{"supabaseApi":{"id":"wfRfDKyFhOQc6c4W","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aac1bbdf-a888-48b3-9539-12df30d4be7a","leftValue":"={{ $('StatusPedido').item.json.status?.toString().trim().toLowerCase() }}","rightValue":"enviado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[9184,3856],"id":"f338c9c4-1f5c-41be-bb84-6b4420c17720","name":"primeiro atendimento"},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"🍕 *Bem-vindo(a) à Pizzaria La Cantina!*\\n\\nConfira nossos cardápios:\\n📄 *Pizzas*: http://bit.ly/46zTglu\\n📄 *Esfirras*: https://bit.ly/4fcO5Km\\n\\nVamos começar seu pedido!\"\n  }\n}\n","options":{}},"id":"08a63ccd-be9f-4a93-8fab-c7752ab96fc5","name":"MenuCardapio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9360,4368]},{"parameters":{"operation":"executeQuery","query":"select * from  cancela_pre_pedido( {{ $('Concatena').item.json.user_id }}, {{ $('MergePedido').item.json.pedido_id }}  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[9360,4576],"id":"854592f7-54ac-47cb-853a-9a13c5023041","name":"Cancelar","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=  {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \" O seu *pedido* não foi identificado.\\n Coloque 1 *pizza* ou 1 *esfirra* ou 1 *guarana*, e ajudará no seu pedido.\\nDigite *2* para ver *instruções*.\"\n  }\n}","options":{}},"id":"0b7ecfea-1e74-410b-a7f1-436f53f6d382","name":"Não entendi","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9536,3840]},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"Estamos encerrando seu chamado. Por gentileza, avalie como foi nosso atendimento.\"\n  }\n}","options":{}},"id":"1e6f7feb-0b67-4307-9b30-cb5d3ea95380","name":"MegaApi5","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8960,1296]},{"parameters":{"options":{"temperature":0.2}},"id":"f488c2c3-b31d-4c36-a382-de7133febacb","name":"OpenAI Chat Model9","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[8640,5200],"credentials":{"openAiApi":{"id":"2hW4LOItQwhgTw0Q","name":"OpenAi account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"Faça os ajustes necessários no Prompt do seu agente","height":220,"width":330,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8736,4848],"id":"a11d935b-8f0f-4889-baa2-e6c6ce425814","name":"Sticky Note32"},{"parameters":{"sessionIdType":"customKey","sessionKey":"= {{ $json.telefone }}","tableName":"=n8n_chat_histories","contextWindowLength":8},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[8768,5200],"id":"5bf16fd4-b26e-45ec-8f22-2c409e0b7a54","name":"Postgres Chat Memory5","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"sseEndpoint":"https://marinhoinacio.app.n8n.cloud/mcp/notion-crm/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[8880,5248],"id":"5d8d9b52-4f93-4d97-96d8-70daf013e0dc","name":"MCP Client2","disabled":true},{"parameters":{"content":"## Agente de IA\nAgente inteligente com memória e prompt pré formatado","height":720,"width":1380,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7632,4752],"id":"e87c6760-9d2c-4d81-acfb-039ae9113c18","name":"Sticky Note34"},{"parameters":{"promptType":"define","text":"= {{ $('Webhook').item.json.body.message.conversation }}","options":{"systemMessage":"= ## 🧠 Objetivo\n\nExecutar a ferramenta `BuscaCardapio()` e exibir ao cliente todos os itens válidos retornados.\n\n---\n\n### ⚙️ Instruções obrigatórias para a IA:\n\n1. Execute a ferramenta:\nBuscaCardapio()\n\n\n2. Carregue a resposta da ferramenta como `resultado_da_BuscaCardapio`.\n\n3. Para cada item da lista **resultado_da_BuscaCardapio**, exiba exatamente as informações nos campos:\n   - `numero`\n   - `nome`\n   - `descricao`\n   - `preco_grande`\n   - `preco_medio`\n\n4. Todos os itens da lista devem ser exibidos, **sem exceção**, na ordem original.\n\n5. Não filtre, não interprete e não oculte nenhum item.  \n   **Mesmo que não seja pizza, exiba como está.**\n\n\n### 📋 Formato de exibição:\n\nUse o seguinte modelo fixo para **cada item**:\n\n🔹 (número) nome – (G) R$preco_grande / (M) R$preco_medio\n📝 Descrição: descricao\n\n "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[8784,4896],"id":"10510166-c967-4ebb-9100-1f3b9ce1c7a4","name":"AgenteBuscaCardapio","retryOnFail":true,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"{{ $json.output.replace(/\\n/g, '\\\\n') }}\"\n  }\n}\n","options":{}},"id":"291d9712-80bc-4d72-b2e2-97f261f4262a","name":"MegaApi6","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9184,4896]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[9616,4896],"id":"722859e6-2638-4576-a8ed-6652de36f11b","name":"No Operation, do nothing13","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"47e0125e-bf62-4c8f-8335-0cc431a9855a","leftValue":"={{ Boolean(($json.status ?? '').toString().trim().toLowerCase() !== 'aberto') }}","rightValue":"aberto","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"c1c4dc73-6ee1-4e07-b916-20250b456d39","leftValue":"={{ Boolean(($json.status ?? '').toString().trim().toLowerCase() !== 'enviado') }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5728,2832],"id":"39a616d0-4322-4632-8c0a-c06cc4a5f478","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[10864,2816],"id":"994228cb-05c7-4cc7-a79a-6a2c7296aed6","name":"No Operation, do nothing14","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"Estamos em *finalização!!*\\nIncluir itens?❌\\n⏭️  O proximo passo será informar\\n📍  *Endereço*\\n🏘️  Bairro da entrega\\n💳  * Forma de Pagamento*\\n✍️ Comentários ou 🙅‍♀️restrições. \"\n  }\n}\n","options":{}},"id":"f7a62527-c317-443f-946c-0a88d1308ca1","name":"FinalizarMsg1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10256,2816]},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"\\n🏍️Por favor, informe o endereço e número para a entrega:\"\n  }\n}","options":{}},"id":"a5426e54-bca4-4550-9201-ad4ee327560f","name":"FinalizarMsg2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10688,2816]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('EncontrarPedido').item.json.status }}","rightValue":"=concluido","operator":{"type":"string","operation":"equals"},"id":"cb2ab091-b3c5-4c40-a698-b2d3608bac53"}],"combinator":"and"},"renameOutput":true,"outputKey":"concluido"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"301b7994-477f-4113-9820-a9bbfa71b04e","leftValue":"={{ $('EncontrarPedido').item.json.status }}","rightValue":"endereco","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"endereco"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4f958d7a-210f-43cd-96b3-1c0b512db3fd","leftValue":"={{ $('EncontrarPedido').item.json.status }}","rightValue":"bairro","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"bairro"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aa5bb530-006a-433b-a323-40bd0903e646","leftValue":"={{ $('EncontrarPedido').item.json.status }}","rightValue":"pagamento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pagamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"15d3100a-1a3d-4b03-b63c-b34f2bfe973c","leftValue":"={{ $('EncontrarPedido').item.json.status }}","rightValue":"comentario","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"comentario"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[5936,2400],"id":"803ad2fc-9e66-4db4-876b-e6ce312bd7d3","name":"Switch2"},{"parameters":{"operation":"executeQuery","query":" UPDATE usuario_lacantina\nSET endereço = '{{ $('Webhook').item.json.body.message.conversation }}'\nWHERE user_id = {{ $('Merge1').item.json.user_id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[6384,2320],"id":"06ca2d05-cd5a-49d9-816d-77485d411d23","name":"AtualizaEndereço","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='bairro'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[6816,2320],"id":"70f6667e-c12f-4f52-8d0a-fa87443b82fb","name":"Execute a SQL query","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"Qual é o bairro da entrega?\"\n  }\n}\n","options":{}},"id":"b73ee520-31aa-4ed3-9f47-29e9adf871b0","name":"MegaApi1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6576,2320]},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='pagamento'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[6768,2512],"id":"5b20313b-07e2-4105-bae9-fabff820c4bf","name":"Execute a SQL query1","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"Algum comentário ou restrição ao seu pedido?\\n Exemplo, refrigerante zero, cerveja sem alcool, retirar item tal da pizza número tal?\"\n  }\n}\n","options":{}},"id":"bc1d32b5-4a35-4c84-b1d9-cdb0b5c604e9","name":"MegaApi8","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7216,2720]},{"parameters":{"operation":"executeQuery","query":" UPDATE usuario_lacantina\nSET bairro = '{{ $('Webhook').item.json.body.message.conversation }}'\nWHERE user_id = {{ $('Merge1').item.json.user_id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[6368,2528],"id":"e61acf68-f807-49e3-b359-7e18b70120fc","name":"AtualizaBairro","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" update pedido_temp set tipo_cobranca = '{{ $('Webhook').item.json.body.message.conversation }}'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[6768,2720],"id":"5f04f9ea-26fd-45aa-90b0-113269dceb6b","name":"AtualizaFormaPagamento","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"jsCode":" // INPUT: items[i].json.body.message.conversation (string livre do usuário)\n// OUTPUT (por item):\n// {\n//   input,                         // texto original\n//   ok,                            // true/false\n//   forma_pagamento,               // 'pix' | 'cartao' | 'dinheiro' | null\n//   subtipo,                       // 'credito' | 'debito' | null (quando cartao)\n//   variante_detectada,            // termo que levou à decisão\n//   confidence,                    // 0..1\n//   needs_confirmation,            // true se ambíguo (ex: mencionou 2 formas)\n//   troco_valor,                   // número (centavos) ou null\n//   troco_texto,                   // texto do troco (\"troco pra 100\")\n//   observacao                     // string curta (ex: \"sem troco\", \"nao tenho cartao\")\n// }\n\nfunction unaccent(s) {\n  return (s || '').normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n}\nfunction toCents(numStr) {\n  if (!numStr) return null;\n  // aceita \"100\", \"100,00\", \"R$ 50\", \"50.50\"\n  let s = String(numStr).replace(/[^\\d,.\\s]/g, '').trim();\n  // se tem vírgula e ponto, prioriza vírgula como decimal (pt-BR)\n  if (/,/.test(s) && /\\./.test(s)) s = s.replace(/\\./g, '').replace(',', '.');\n  else if (/,/.test(s) && !/\\./.test(s)) s = s.replace(',', '.');\n  const v = parseFloat(s);\n  return Number.isFinite(v) ? Math.round(v * 100) : null;\n}\n\nfunction detectPagamento(textRaw) {\n  const input = String(textRaw || '');\n  const txt = unaccent(input).toLowerCase();\n\n  // Emojis e palavras-chave\n  const PIX = [\n    'pix', 'chave pix', 'qr code', 'qrcode', 'qr-code', 'transferencia', 'transf', 'pix copia e cola', 'copia e cola'\n  ];\n  const CARTAO = [\n    'cartao', 'cartao de credito', 'cartao de debito', 'credito', 'debito',\n    'maquina', 'maquininha', 'pos', 'p-o-s', 'visa', 'mastercard', 'elo', 'amex', 'contactless', 'aproximacao'\n  ];\n  const DINHEIRO = [\n    'dinheiro', 'especie', 'em especie', 'cash', 'nota', 'moeda', 'em dinheiro'\n  ];\n\n  // Negação próxima ao termo\n  const NEG_PAT = /\\b(nao|não|sem)\\b/;\n\n  // Helpers de match “forte” (palavra ou emoji)\n  const hasWord = (arr) => arr.some(w => new RegExp(`\\\\b${w.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&')}\\\\b`).test(txt));\n  const hasFrag  = (arr) => arr.some(w => txt.includes(w));\n\n  // Captura de troco\n  // Exemplos: \"troco pra 100\", \"troco para R$ 50,00\", \"sem troco\"\n  let troco_valor = null, troco_texto = null, observacao = null;\n  const mSemTroco = txt.match(/\\bsem troco\\b/);\n  if (mSemTroco) {\n    observacao = 'sem troco';\n  } else {\n    const mTroco = txt.match(/\\btroco\\s*(p(?:ra|ara)?)?\\s*(de|para|pra)?\\s*([r$]\\s*\\$?\\s*[\\d\\.,]+|\\d+[.,]?\\d*)/);\n    if (mTroco) {\n      troco_texto = mTroco[0];\n      troco_valor = toCents(mTroco[3]);\n    }\n  }\n\n  // Flags por grupo\n  const pixStrong = hasWord(['pix']) || hasFrag(['qr code','qrcode','qr-code','chave pix','pix copia e cola','copia e cola']);\n  const cartaoCredito = hasWord(['credito']) || hasFrag(['cartao de credito']);\n  const cartaoDebito  = hasWord(['debito'])  || hasFrag(['cartao de debito']);\n  const cartaoGeneric = hasWord(['cartao']) || hasFrag(['maquina','maquininha','pos','p-o-s']);\n  const dinheiroHit   = hasWord(['dinheiro','especie']) || hasFrag(['em especie','em dinheiro','cash','nota','moeda']);\n\n  // Negações específicas (ex: \"nao tenho cartao\", \"sem pix\", \"nao levo dinheiro\")\n  const negPix      = /\\b(nao|não|sem)\\b.*\\b(pix)\\b|\\b(pix)\\b.*\\b(nao|não|sem)\\b/.test(txt);\n  const negCartao   = /\\b(nao|não|sem)\\b.*\\b(cartao|credito|debito|maquina|maquininha|pos)\\b/.test(txt);\n  const negDinheiro = /\\b(nao|não|sem)\\b.*\\b(dinheiro|especie|cash|moeda|nota)\\b/.test(txt);\n\n  // Votos\n  const votes = [];\n  if (pixStrong && !negPix) votes.push({tipo:'pix', subtipo:null, conf:0.9, variante:'pix'});\n  if ((cartaoCredito || cartaoDebito || cartaoGeneric) && !negCartao) {\n    let subtipo = null, conf = 0.8, variante = 'cartao';\n    if (cartaoCredito) { subtipo = 'credito'; conf = 0.9; variante = 'cartao_credito'; }\n    if (cartaoDebito)  { subtipo = 'debito';  conf = 0.9; variante = 'cartao_debito'; }\n    votes.push({tipo:'cartao', subtipo, conf, variante});\n  }\n  if (dinheiroHit && !negDinheiro) votes.push({tipo:'dinheiro', subtipo:null, conf:0.9, variante:'dinheiro'});\n\n  // Caso nenhum voto positivo, tenta inferência leve por emojis\n  // 💳 => cartao, 💵/🪙 => dinheiro\n  if (!votes.length) {\n    if (/💳/.test(input)) votes.push({tipo:'cartao', subtipo:null, conf:0.6, variante:'emoji_cartao'});\n    if (/💵|🪙/.test(input)) votes.push({tipo:'dinheiro', subtipo:null, conf:0.6, variante:'emoji_dinheiro'});\n  }\n\n  // Se há mais de um voto, fica ambíguo e pede confirmação\n  let needs_confirmation = false;\n  let picked = null;\n\n  if (votes.length === 1) {\n    picked = votes[0];\n  } else if (votes.length > 1) {\n    // Heurística: preferir \"pix\" se explícito; senão cartão (se crédito/débito explícito); senão dinheiro\n    const byType = (t)=>votes.find(v=>v.tipo===t && v.conf>=0.85);\n    picked = byType('pix') || byType('cartao') || byType('dinheiro') || votes.sort((a,b)=>b.conf-a.conf)[0];\n    needs_confirmation = true;\n  }\n\n  const out = {\n    input: input,\n    ok: !!picked,\n    forma_pagamento: picked ? picked.tipo : null,     // 'pix' | 'cartao' | 'dinheiro'\n    subtipo: picked ? picked.subtipo : null,          // 'credito' | 'debito' | null\n    variante_detectada: picked ? picked.variante : null,\n    confidence: picked ? picked.conf : 0,\n    needs_confirmation,\n    troco_valor,\n    troco_texto,\n    observacao\n  };\n\n  // Regras extras:\n  // - Se usuário disse \"sem troco\" e forma = dinheiro -> aumenta confiança\n  if (out.forma_pagamento === 'dinheiro' && observacao === 'sem troco' && out.confidence < 0.9) {\n    out.confidence = 0.9;\n  }\n  // - Se mencionou \"nao tenho cartao\" e nenhum outro método, marca ok=false\n  if (/nao tenho cartao|não tenho cartao/.test(txt) && !pixStrong && !dinheiroHit) {\n    out.ok = false;\n    out.observacao = 'nao tem cartao';\n  }\n\n  return out;\n}\n\nreturn items.map(i => {\n const e = i.json?.tipo_cobranca ?? '';\n  const r = detectPagamento(e);\n  return { json: r };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6544,2720],"id":"5576b42c-239a-412e-a67d-0332b2ccec65","name":"Code1"},{"parameters":{"assignments":{"assignments":[{"id":"89704beb-b90e-4a95-bafd-d7e410686c45","name":"tipo_cobranca","value":"={{ $('Webhook').item.json.body.message.conversation }} ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6320,2720],"id":"3c506cfa-ce24-45bb-8707-d8a6af88205f","name":"Edit Fields"},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \" 💳 Como será o pagamento? Pode ser Pix, Cartão ou Dinheiro?\"\n  }\n}\n","options":{}},"id":"24a56a70-b033-41ef-8e11-9c4dd711cf2a","name":"FormaPagto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6544,2512]},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='comentario'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[6976,2720],"id":"e7e18f2c-17f2-41bb-bdb3-1a6898e16d46","name":"Execute a SQL query3","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * from finalizar_pedido(   {{ $('Merge1').item.json.user_id }}  , {{ $('ConcatenaPedido').item.json.pedido_id }} ) ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[6432,1808],"id":"b7f385f6-f206-4306-a6c2-bdd92bfd79d3","name":"ConcluiPedido","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='enviado'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[9744,4000],"id":"dd671a9d-a39c-4296-8b43-15ae70a74170","name":"Execute a SQL query4","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"0b4e2890-ac39-45d8-adef-ec2cf81d9a18","name":"status","value":"={{ $json.status }}","type":"string"},{"id":"03a84e54-72d2-4753-8abf-73a366f1d250","name":"pedido_id","value":"={{ $json.pedido_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5696,3456],"id":"21bee3f5-c0ea-459b-8eed-c781c61a5b74","name":"StatusPedido"},{"parameters":{"jsCode":" // n8n Code node (Run Once for All Items)\n\n// Normaliza volume (2L etc.)\nfunction normVol(v) {\n  if (!v) return '';\n  v = String(v).trim().toLowerCase();\n  if (['un','uni','unid','unidade'].includes(v)) return '';\n  v = v\n    .replace(' litros','l').replace(' litro','l')\n    .replace('litros','l').replace('litro','l')\n    .replace(' lt','l').replace(' l','l')\n    .trim();\n  return v ? ' ' + v.toUpperCase() : '';\n}\n\n// Pega a lista de rejeitados de onde estiver (itens_rejeitados, coalesce, etc.)\nfunction getSrc(items) {\n  const j = (items[0]?.json) ?? {};\n  if (Array.isArray(j.itens_rejeitados)) return j.itens_rejeitados;\n  if (Array.isArray(j.coalesce)) return j.coalesce;\n  if (Array.isArray(j.rejeitados)) return j.rejeitados;\n  // tenta achar qualquer propriedade que seja array\n  const arrKey = Object.keys(j).find(k => Array.isArray(j[k]));\n  if (arrKey) return j[arrKey];\n  // fallback: cada item de entrada é um rejeitado\n  return items.map(i => i.json);\n}\n\nconst raw = getSrc(items) || [];\n\n// **Fix principal**: não use truthiness; use checagem por \"definido\"\nconst src = raw\n  .filter(x => x != null)\n  .map(x => (typeof x === 'object' && x !== null ? x : { numero: x }))\n  // defaults seguros\n  .map(o => ({\n    numero: (o.numero === undefined || o.numero === null || o.numero === '')\n              ? 0\n              : Number.isFinite(Number(o.numero)) ? Number(o.numero) : 0,\n    nome: (typeof o.nome === 'string' && o.nome.trim() !== '')\n              ? o.nome\n              : 'não encontrado',\n    volume: (o.volume ?? '').toString().trim(),\n  }))\n  // mantém itens que tenham pelo menos um campo \"presente\" (mesmo que 0/'não encontrado')\n  .filter(i => i.nome != null || i.numero != null);\n\nconst tem_rejeitados = src.length > 0;\n\nlet linhas = '';\nlet mensagem = '';\n\nif (tem_rejeitados) {\n  linhas = src\n    .map(i => `- ${i.nome && i.nome.trim() !== '' ? i.nome : (i.numero != null ? `Pizza ${i.numero}` : 'não encontrado')}${normVol(i.volume)}`)\n    .join('\\n');\n\n  mensagem = `📟 Seu(s) item(s) foi(ram) processado(s) com sucesso ✅\n❌ O seguinte item não foi reconhecido e será(ão) excluído(s):\n${linhas}\n\n🚫 Esse item foi ignorado e excluído do pedido.\n🔁 Deseja reenviar apenas esse item agora?\n📁 Para consultar o pedido atual, digite \"consultar\".\n👉 Duvida? Digite -> 2 para instruções`;\n} else {\n  mensagem = `📟 Seu(s) item(s) foi(ram) processado(s) com sucesso ✅.`;\n\n}\n\nreturn [{ json: { mensagem, linhas, qtd: src.length, tem_rejeitados } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[12720,3296],"id":"c087d4a3-7328-4b2d-ba87-2b4a04b64c71","name":"Code3"},{"parameters":{"operation":"executeQuery","query":"   SELECT COALESCE(json_agg(sub), '[]'::json) AS  itens_rejeitados\nFROM (\n  SELECT\n    numero ,\n    quantidade,\n    categoria,\n    COALESCE(NULLIF(BTRIM(nome), ''), 'não encontrado')     AS nome,\n    COALESCE(volume, '')                                    AS volume\n  FROM item_pedido_temp \n  WHERE user_id =   {{ $('MontPedido').item.json.user_id }}  and pedido_id =  {{ $('MontPedido').item.json.pedido_id }}  \n    AND  status = 'rejeitado' and categoria <>  'borda'\n  union all SELECT\n    numero ,\n    quantidade,\n    categoria,\n    COALESCE(NULLIF(BTRIM(nome), ''), 'Borda sem pizza relacionada')     AS nome,\n    'Borda sem pizza relacionada'  AS volume\n  FROM item_pedido_temp \n  WHERE user_id =   {{ $('MontPedido').item.json.user_id }}  and pedido_id =  {{ $('MontPedido').item.json.pedido_id }}  \n    AND  status = 'rejeitado' and categoria = 'borda'\n) AS sub;\n\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[12496,3296],"id":"f8d43238-b6fa-4f9d-8770-6721d23af923","name":"Rejeite","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" SELECT rejeita_item( {{ $('MontPedido').item.json.user_id }}, {{ $('MontPedido').item.json.pedido_id }}  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[12288,3296],"id":"699a3290-77ff-4d9d-92f9-4cb6c1aa2a9d","name":"RejeitaItem","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"⏳ Aguarde..\"\n  }\n}","options":{}},"id":"58bf61ba-94bd-4fde-8eb2-14bbeb7a86ff","name":"MegaApi7","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3360,3728]},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"Estamos encerrando seu chamado. Muito Obrigado!!\\n© 2025 Luis Gustavo Landucci — Right by LG™\"\n  }\n}\n ","options":{}},"id":"d722c7ae-50e8-4518-8e14-5166dcd818c7","name":"MegaApi9","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7008,1808]},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=   {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"*5-* Consulte seu pedido *4-* Concluir *6-* Cancelar *7-* Detalhar Itens\\n *ou menu*.\"\n  }\n}\n","options":{}},"id":"b9378757-551b-4fb6-9fbb-9c9a147e06cf","name":"RequestMenu4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9728,3520]},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"*4-* para *Concluir* o seu pedido\\n*5-* para *Consultar*\\n*6-* para *Cancelar*\\n*7-* Detalhar Itens*\\n ou *-digite menu*.\"\n  }\n}","options":{}},"id":"732a77af-e80b-4981-be9a-6829a91683ae","name":"RequestMenu5","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9392,4896]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5b1ca74-f671-482f-98cf-bdd9441587c7","leftValue":"={{ $json.max_pedido_id}}","rightValue":"0","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[9280,2768],"id":"c8d3f862-1209-4ba3-aa5f-9dd04edc985b","name":"If3"},{"parameters":{"operation":"executeQuery","query":" \n SELECT COALESCE(MAX(pedido_id), 0)::bigint AS max_pedido_id\nFROM item_pedido_temp  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('MergePedido').item.json.pedido_id }}\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[9088,2768],"id":"fda296d7-baca-463f-95a1-1635f3bd310b","name":"VerificaItens","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"tableId":"comentario_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"pedido_id","fieldValue":"={{ $('ConcatenaPedido').item.json.pedido_id }}"},{"fieldId":"user_id","fieldValue":"={{ $('Merge1').item.json.user_id }} "},{"fieldId":"comentario","fieldValue":"={{ $('Webhook').item.json.body.message.conversation }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6288,2928],"id":"8bd24928-52ca-4719-bbbe-30b5fc4c1106","name":"CriaComentario","credentials":{"supabaseApi":{"id":"wfRfDKyFhOQc6c4W","name":"Supabase account"}}},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='endereco'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('MergePedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[9568,2816],"id":"2dba631c-7dae-4528-9223-17e424be1c9d","name":"FinalizarPedido","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[10096,2640],"id":"13401fc1-fe90-496e-902f-dfe4380f9b56","name":"No Operation, do nothing15","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='enviado'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('MergePedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[9568,2640],"id":"dc415b8d-f8b4-47aa-81a3-8b17dcc6f699","name":"VoltarParaItens","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"Não encontramos nenhum item no seu pedido. Digite *5* para *consultar*.\" \n  }\n}","options":{}},"id":"eede6b9f-897e-4fd2-bd49-05f819b4f1a5","name":"MsgRejeitaFinalizar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9824,2640]},{"parameters":{"jsCode":" // retorna **apenas 1 item** para o último HTTP\nconst to =\n  ($items('Dados Lead', 0, 0)[0]?.json?.IdConversa) ??\n  (items[0]?.json?.messageData?.to) ??\n  '';\n\nconst text = \"*4-* para *Concluir* o seu pedido\\n*5-* para *Consultar*\\n*6-* para *Cancelar* ou *-digite menu*.\";\n\nreturn [{ json: { messageData: { to, text } } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[8736,1360],"id":"e94f9372-7964-4fce-80e4-d9d1ff43be07","name":"msgfinal1"},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"🍕 *Bem-vindo(a) à Pizzaria La Cantina!*\\n\\nConfira nossos cardápios:\\n📄 *Pizzas*: http://bit.ly/46zTglu\\n📄 *Esfirras*: https://bit.ly/4fcO5Km\\n\\nVamos começar seu pedido!\"\n  }\n}\n","options":{}},"id":"4e3eb577-c65d-49cd-9894-80357514ce6c","name":"MenuCardapio1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9904,4000]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  '📍 Endereço:  ' || COALESCE(u.\"endereço\", '—')\n  || E'\\n🏘️ Bairro:  ' || COALESCE(u.bairro, '—')\n  || E'\\n💳 Pagamento:  ' || COALESCE(pt.tipo_cobranca, '—')\n  || E'\\n💬 Comentário:  ' || COALESCE(ct.comentario, '—')\n  AS mensagem\nFROM pedido_temp pt\nJOIN usuario_lacantina u\n  ON u.user_id = pt.user_id\nLEFT JOIN comentario_pedido_temp ct\n  ON ct.user_id = pt.user_id\n AND ct.pedido_id = pt.pedido_id\nWHERE\n  pt.user_id   = {{ $('Merge1').item.json.user_id }}\n  AND pt.pedido_id =  {{ $('ConcatenaPedido').item.json.pedido_id }}\nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[6496,2928],"id":"0cd86b58-4386-4dcb-927a-95bd8b55a14d","name":"Confirmadados","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='concluido'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[7168,2928],"id":"b44a266e-9e4d-4004-94a2-8bee20ced454","name":"Execute a SQL query5","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=  {{\n  JSON.stringify({\n    messageData: {\n      to: String($node[\"Dados Lead\"].json.IdConversa ?? \"\")\n            .replace(/\\D/g, \"\")\n            .trim(),\n      text: String(($json.mensagem ?? \"\"))\n            .replace(/\\]\\s*$/, \"\")   // remove ']' no final, se houver\n            .trim()\n    }\n  })\n}} ","options":{}},"id":"c4b0ffec-6d6d-439c-aa54-c328a230b228","name":"RequestMenu6","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6688,2928]},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= \n  {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"Confirma dados de *endereço* e *forma de pagamento*?\\n Digite  *1* confirma e *2* voltamos a cadastrar endereço. \"\n  }\n}","options":{}},"id":"b9161311-db78-42e4-b9b0-e201e103cd11","name":"MegaApi10","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6928,2928]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"04679e73-f2e9-4aba-990d-99dcf2768443","leftValue":"={{ $('Webhook').item.json.body.message.conversation }}","rightValue":"1","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6160,2032],"id":"16e021d5-450e-4499-894f-c6c5fb8ae808","name":"If4"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[7200,2000],"id":"c9591b28-66ee-4c58-8537-c057ee152a47","name":"No Operation, do nothing16","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{$('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"\\n🏍️Por favor, informe o endereço e número para a entrega:\"\n  }\n}","options":{}},"id":"07f7c4ea-c61a-4815-b7c3-1c3ea927bc8f","name":"FinalizarMsg3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6928,2000]},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='endereco'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[6672,2016],"id":"b58b824f-8c49-4575-bb80-1e187d5d4fdf","name":"FinalizarPedido1","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"select calcula_pre_pedido({{ $('Merge1').item.json.user_id }}, {{ $('MergePedido').item.json.pedido_id }}  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[9264,3520],"id":"14deac8d-b142-4bcd-b34a-0349dd1d608b","name":"Execute a SQL query2","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"select calcula_pre_pedido({{ $('Merge1').item.json.user_id }}, {{ $('MergePedido').item.json.pedido_id }}  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[9808,2816],"id":"6a8f02e6-256f-4d7b-92dc-30dc3b4bbbc3","name":"Execute a SQL query7","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[10464,2816],"id":"61bf4ae8-25ef-416a-9a77-da76a4c9c820","name":"Wait4","webhookId":"f2e2ba32-d628-4657-aa0a-3cedc05e3647"},{"parameters":{"assignments":{"assignments":[{"id":"a8106197-1d10-438c-a9e7-07c17a8adfd0","name":"acao","value":"={{ $json.acao }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7344,3680],"id":"31773c47-763f-4f4c-8849-e8fba2032b35","name":"Acao"},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"{{ $json.calcula_pre_pedido.replace(/\\n/g, '\\\\n') }}\"\n  }\n}\n","options":{}},"id":"34d0e4d9-9fb2-4e7c-8120-93202b156e86","name":"MegaApi11","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10048,2816]},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"{{ $json.calcula_pre_pedido.replace(/\\n/g, '\\\\n') }}\"\n  }\n}\n","options":{}},"id":"b4bd00e3-0d44-4c80-9586-968042295e02","name":"MegaApi12","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9488,3520]},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{$('Dados Lead').first().json.IdConversa}}\",\n    \"text\": {{ JSON.stringify($('Code3').first().json.mensagem) }}\n  }\n}","options":{}},"id":"829e45e7-fbb6-45cc-b2f3-a43b1b44e03b","name":"MegaApi14","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[12928,3296]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[13408,3296],"id":"f2cfcba0-59a7-4f90-9fe8-9337d1755ed3","name":"No Operation, do nothing12","disabled":true,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=   {\n  \"messageData\": {\n    \"to\": \"{{$('Dados Lead').first().json.IdConversa}}\",\n    \"text\": \"*5-* Consulte seu pedido *4-* Concluir *6-* Cancelar *7-* Detalhar Itens\\n *ou menu*.\"\n  }\n}\n","options":{}},"id":"161fff8d-2894-461f-99fa-be979a46496b","name":"RequestMenu7","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[13168,3296]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[7104,2320],"id":"f23df412-b98e-4ce0-bc6d-8549e9bbdd49","name":"No Operation, do nothing17","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[7072,2512],"id":"807c9078-4e80-422a-a880-13c45434adda","name":"No Operation, do nothing18","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[7408,2928],"id":"8c9d0129-3ba8-482b-a493-6c64efb47c76","name":"No Operation, do nothing19","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[7440,2720],"id":"10b07d3c-56b9-4db9-ba3c-86da48016394","name":"No Operation, do nothing20","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"{{ $json.finalizar_pedido.replace(/\\n/g, '\\\\n') }}\"\n  }\n}\n","options":{}},"id":"33f3522f-5008-412f-a2e1-74944dcccb06","name":"MegaApi16","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6624,1808]},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6816,1808],"id":"0fd1aff6-735a-4543-8e4a-275298330957","name":"Wait","webhookId":"33c5308c-6ef7-4028-8fb7-f0f46b8d615d","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6df36e53-74bd-45c5-9d92-2bb167c8b837","leftValue":"={{ $json.cancela_pre_pedido.length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[9312,2400],"id":"06b014cd-08a9-46c8-a56b-bfdca8d60a3b","name":"If5"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[9776,2480],"id":"873876de-45c6-4f63-9e1d-c5f22ed7f006","name":"No Operation, do nothing21","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=  {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"🗑️ {{ $('Dados Lead').item.json.LeadNome }}, não encontratmos dados a ser excluido. Vamos começar um novo pedido!\" \n  }\n}\n ","options":{}},"id":"874cfaae-4933-44cc-9cfb-86036a60bf76","name":"ConfirmaCancelamento2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9536,2480]},{"parameters":{"fieldToSplitOut":"output.bebidas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[10960,2960],"id":"801d307d-a692-4104-9fad-67845acb6644","name":"Bebidas","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":" output.pizzas_fracionadas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[10944,3152],"id":"eaa0ca82-c163-4fbd-aed7-ba5ee1d9cbbb","name":"Pizzas Fracionada","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.pizzas_inteiras","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[10944,3328],"id":"85ccb36f-7c58-49e1-81f1-f6a44c059895","name":"Pizzas Inteira","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.esfirras","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[10928,3520],"id":"c66e6561-210e-4705-a82f-3151f17e94f7","name":"Esfirra","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.bordas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[10928,3696],"id":"ee53b474-eb6f-4e56-930f-a28f242b126b","name":"Borda","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"tipo","fieldValue":"bebida"},{"fieldId":"categoria","fieldValue":"bebida"},{"fieldId":"nome","fieldValue":"={{ $json.nome }}"},{"fieldId":"volume","fieldValue":"= {{ (($json.volume ?? '').toString().replace(/[\\s\\u00A0\\u200B-\\u200D\\uFEFF]+/g, '') === '')\n    ? ' volume desconhecido'\n    : ($json.volume ?? '').toString().replace(/[\\s\\u00A0\\u200B-\\u200D\\uFEFF]+/g, '') }}"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"},{"fieldId":"numero","fieldValue":"={{ (String($json.numero ?? '').trim() === '' \n    || Number(String($json.numero).replace(',','.').trim()) === 0)\n  ? null \n  : $json.numero }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[11200,2960],"id":"b48c7f5f-07b0-4738-a2d6-a237b5f0007a","name":"Itembebida","credentials":{"supabaseApi":{"id":"wfRfDKyFhOQc6c4W","name":"Supabase account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"categoria","fieldValue":"pizza"},{"fieldId":"fracionada","fieldValue":"true"},{"fieldId":"numero","fieldValue":"= {{ $json.metade1 }}"},{"fieldId":"numero_fracao","fieldValue":"={{ $json.metade2 }}"},{"fieldId":"tamanho","fieldValue":"grande"},{"fieldId":"fracionada","fieldValue":"true"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[11200,3152],"id":"0b50b41e-ed78-4d45-bfaa-66c2a76da67d","name":"ItemFracionado","credentials":{"supabaseApi":{"id":"wfRfDKyFhOQc6c4W","name":"Supabase account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"categoria","fieldValue":"pizza"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"numero","fieldValue":"={{ String($json.numero ?? '').trim() === '' ? null : $json.numero }}"},{"fieldId":"tamanho","fieldValue":"={{ $json.tamanho.toLowerCase() }}"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[11184,3328],"id":"c7aef311-ad4b-42a2-a8fc-04621ad1b115","name":"ItemInteira","credentials":{"supabaseApi":{"id":"wfRfDKyFhOQc6c4W","name":"Supabase account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"tipo","fieldValue":"bebida"},{"fieldId":"categoria","fieldValue":"esfirra"},{"fieldId":"nome","fieldValue":"={{ $json.nome?.trim() === '' ? null : $json.nome }}"},{"fieldId":"tipo","fieldValue":"={{ $json.tipo?.trim() === '' ? null : $json.tipo }}"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"},{"fieldId":"numero","fieldValue":"={{ (String($json.numero ?? '').trim() === '' \n    || Number(String($json.numero).replace(',','.').trim()) === 0)\n  ? null \n  : $json.numero }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[11184,3520],"id":"91994a7b-3e06-4574-9264-189f6a7ce16f","name":"ItemEsfirra","credentials":{"supabaseApi":{"id":"wfRfDKyFhOQc6c4W","name":"Supabase account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"=1"},{"fieldId":"tipo","fieldValue":"borda"},{"fieldId":"categoria","fieldValue":"borda"},{"fieldId":"nome","fieldValue":"={{ $json.nome?.trim() === '' ? null : $json.nome }}"},{"fieldId":"numero","fieldValue":"={{ $json.numero }}"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[11184,3696],"id":"58eefc41-02cd-4272-81c2-e27931646629","name":"ItemBorda","credentials":{"supabaseApi":{"id":"wfRfDKyFhOQc6c4W","name":"Supabase account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT atualizar_valores_itens_temp('bebida', {{ $('MontPedido').item.json.user_id }} ,{{ $('MontPedido').item.json.pedido_id }} );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[11664,2960],"id":"c462e702-3c01-4252-93d1-cedc54500d43","name":"AtualizaValorBebida","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT atualizar_valores_itens_temp('esfirra', {{ $('MontPedido').item.json.user_id }}, {{ $('MontPedido').item.json.pedido_id }});","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[11680,3520],"id":"9a4c2ec6-818d-4a0b-ac9f-6fec99d981e5","name":"AtualizaValorEsfirra","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"\n UPDATE Item_pedido_temp AS i\nSET numero = c.numero\nFROM cardapio AS c\nWHERE \n  i.numero IS NULL\n  AND i.status = 'inicio'\n  AND c.tipo = 'bebida' and i.tipo = 'bebida'\n  AND ( LOWER(c.palavras_chave) ILIKE '%' || LOWER(i.nome) || '%'\n    AND lower(trim(c.volume)) iLIKE '%' || LOWER(trim(i.volume)) || '%'  || '%' )   and user_id = {{ $('MontPedido').item.json.user_id }}  and i.pedido_id ={{ $('MontPedido').item.json.pedido_id }};\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[11424,2960],"id":"d552ce75-cba9-4d0b-890b-deb30e4952ad","name":"AtualizaNumeroBebida","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" UPDATE Item_pedido_temp AS i\nSET numero = c.numero\nFROM cardapio AS c\nWHERE \n  i.numero IS NULL\n  AND i.status = 'inicio'\n  AND c.categoria  = 'esfirra' \n and  LOWER(  c.nome)   iLIKE '%' || LOWER(  i.nome) || '%' and user_id =  {{ $('MontPedido').item.json.user_id }} and i.pedido_id = {{ $('MontPedido').item.json.pedido_id }};\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[11424,3520],"id":"1bd75a17-6749-4f82-86e2-bdde48b9be7b","name":"AtualizaNumeroEsfirra","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"\n UPDATE Item_pedido_temp AS i\nSET numero_fracao = c.numero\nFROM cardapio AS c\n WHERE i.numero IS not  NULL\n  AND i.status = 'inicio' and  c.categoria  ='borda'   and      LOWER(palavras_chave ) iLIKE '%' || LOWER( i.nome) || '%'    and user_id =  {{ $('MontPedido').item.json.user_id }} and i.pedido_id = {{$('MontPedido').item.json.pedido_id }};\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[11424,3696],"id":"8b82408c-3718-4601-8cb3-34ad9fca8869","name":"AtualizaNumeroBorda","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"numberInputs":5},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[12000,3232],"id":"3cfe1096-751e-440d-af76-18023439f775","name":"Merge","alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT AtualizaValorFracionado( {{ $('MontPedido').item.json.user_id }} , {{ $('MontPedido').item.json.pedido_id }});","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[11424,3152],"id":"6363dcf5-44a8-44e1-9b6e-6427a1e8f9aa","name":"AtualizaValorPizzaFracionada","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT atualizar_valores_itens_temp('pizza', {{ $('MontPedido').item.json.user_id }} ,{{ $('MontPedido').item.json.pedido_id }} );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[11424,3328],"id":"c309c0a2-499c-4bf4-98fe-ad626e1592c0","name":"AtualizaValorPizza","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"   UPDATE item_pedido_temp AS i\n  SET valor = CASE\n    WHEN i.tamanho = 'grande' THEN c.preco_grande\n    WHEN i.tamanho = 'media'  THEN c.preco_medio\n    ELSE  c.preco_grande\n  END, \n nome =   '(' || i.numero::text || ') borda ' || i.nome \n  FROM cardapio AS c\n  WHERE \n    i.numero_fracao = c.numero\n    AND i.user_id = {{ $('MontPedido').item.json.user_id }}\n    AND i.categoria = 'borda' \n    AND i.fracionada = 'FALSE' and i.pedido_id = {{ $('MontPedido').item.json.pedido_id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[11680,3696],"id":"36d0b5f2-c0b6-4b70-aa42-322a9f141a3a","name":"AtualizaValorBorda","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[10368,3392],"id":"06f2685a-d12b-4b56-93a8-29af10156605","name":"Auto-fixing Output Parser","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[10272,3568],"id":"7c39d40e-24c0-4df1-8d10-89b3a05cc442","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"2hW4LOItQwhgTw0Q","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":" {\n  \"type\": \"object\",\n  \"properties\": {\n    \"pizzas_inteiras\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"numero\": { \"type\": \"integer\" },\n          \"tamanho\": { \"type\": \"string\" }\n          \n        },\n        \"required\": [\"quantidade\", \"numero\", \"tamanho\", \"pedido_id\"]\n      }\n    },\n    \"pizzas_fracionadas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"metade1\": { \"type\": \"integer\" },\n          \"metade2\": { \"type\": \"integer\" }\n         \n        },\n        \"required\": [\"quantidade\", \"metade1\", \"metade2\",\"pedido_id\"]\n      }\n    },\n    \"bebidas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"nome\": { \"type\": \"string\" },\n          \"volume\": { \"type\": \"string\" }\n         \n        },\n        \"required\": [\"quantidade\", \"nome\", \"volume\",\"pedido_id\"]\n      }\n    },\n    \"esfirras\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"numero\": { \"type\": \"integer\" },\n          \"nome\": { \"type\": \"string\" },\n          \"tipo\": { \"type\": \"string\" }\n        },\n        \"required\": [\"quantidade\", \"numero\", \"nome\", \"tipo\"]\n      }\n    },\n    \"bordas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"numero\": { \"type\": \"integer\" },\n          \"nome\": { \"type\": \"string\" } \n         \n    },\n        \"required\": [\"numero\", \"pizza_referencia\"]\n      }\n    }\n  },\n  \"required\": [\n    \"pizzas_inteiras\",\n    \"pizzas_fracionadas\",\n    \"bebidas\",\n    \"esfirras\",\n    \"bordas\" \n  ]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[10416,3552],"id":"1ccb7801-9f8a-4a20-a5e4-29a6894cd156","name":"Structured Output Parser [Schema]1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"promptType":"define","text":"=<mensagem_do_usuario>\n {{ $json.chatInput }}\n</mensagem_do_usuario>","hasOutputParser":true,"messages":{"messageValues":[{"message":"=  {\n  \"pizzas_inteiras\": [\n    { \"quantidade\": int, \"numero\": int, \"tamanho\": str  }\n  ],\n  \"pizzas_fracionadas\": [\n    { \"quantidade\": int, \"metade1\": int, \"metade2\": int }\n  ],\n  \"bebidas\": [\n    { \"quantidade\": int, \"nome\": str, \"volume\": str  }\n  ],\n \"esfirras\": [\n  { \"quantidade\": int, \"numero\": int, \"nome\": str, \"tipo\": str } // tipo: \"salgada\" ou \"doce\"\n  ],\n  \"bordas\": [\n    { \"numero\": int, \"nome\": str } // \"pizza_referencia\" = string que identifica a pizza onde será aplicada\n  ]\n}\n\n⚠️ Regras obrigatórias:\n- Sempre retorne exatamente essas 5 listas, mesmo que estejam vazias.\n- Use apenas os nomes de campos e estrutura mostrados acima.\n- Retorne **apenas o JSON válido**, sem explicações, comentários ou texto adicional.\n\nSe o usuário informar apenas ‘pizza N’, não descarte. Gere {quantidade:1, numero:N, tamanho:'media'} em pizzas_inteiras.”\n\n“Nunca omita itens ambíguos; use defaults: quantidade=1, tamanho='media'.”\n\n“Não valide com o cardápio. A validação será feita depois; sempre retorne o item.”\n\nPrioridade de interpretação\n\nSe houver padrões de pizza fracionada no formato {Q? 1/2 A (e|,|+|/) 1/2 B}, crie um item em pizzas_fracionadas com {quantidade: Q || 1, metade1: A, metade2: B}.\n\nNunca crie pizzas_inteiras para números A ou B quando eles estiverem dentro de um padrão fracionado.\n\nSó trate “pizza N” (inteira) quando não fizer parte de um padrão 1/2 N.\n\nExemplos:\n\n“1 1/2 14 e 1/2 21” → pizzas_fracionadas: [{quantidade:1, metade1:14, metade2:21}]\n\n“2 1/2 10, 1/2 15” → pizzas_fracionadas: [{quantidade:2, metade1:10, metade2:15}]\n\n“14 e 21” (sem 1/2) → pizzas_inteiras: [{q:1,n:14,media},{q:1,n:21,media}]\n\n\nBebidas — defaults e sinônimos (obrigatório)\n\nSe o cliente disser “lata” e não informar volume, use 350ml.\n\nSe o cliente disser “long neck” e não informar volume, use 330ml.\n\nSe o cliente pedir coca/coca-cola sem volume, use 2l.\n\nNunca rejeite bebidas por falta de volume quando se aplicar uma regra acima.\n\nNormalize o campo volume sempre em minúsculas e sem espaços (ex.: 350ml, 330ml, 2l).\n\nExemplos\n\n“3 long neck heineken” → bebidas: [{ \"quantidade\": 3, \"nome\": \"heineken\", \"volume\": \"330ml\" }]\n\n“lata bud” → bebidas: [{ \"quantidade\": 1, \"nome\": \"budweiser\", \"volume\": \"350ml\" }]\n\n“2 coca” → bebidas: [{ \"quantidade\": 2, \"nome\": \"coca cola\", \"volume\": \"2l\" }]\nPedido:\n{pedido}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[10256,3216],"id":"ef3dd353-c9e1-4c41-aacb-55007dfb7682","name":"Basic LLM Chain1","retryOnFail":true,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[13056,2656],"id":"6979423f-adff-4012-93f7-849f09d33361","name":"No Operation, do nothing22","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"3f5c86ea-fcc2-4783-8210-a28ce186597d","name":"chatInput","value":"= {{ $('Dados Lead').item.json.mensagem_usuario }}","type":"string"},{"id":"57ddce63-da48-426f-85ae-c63b16da57fa","name":"user_id","value":"={{ $('Merge1').item.json.user_id }}","type":"number"},{"id":"01f0d23c-4a6a-4f2f-b986-7acfe7c4b65b","name":"pedido_id","value":"={{ $('MergePedido').item.json.pedido_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[9808,3216],"id":"597e6c4b-b35a-4e31-ad7c-b18301bb2159","name":"MontPedido"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"item_pedido_temp","mode":"list","cachedResultName":"item_pedido_temp"},"deleteCommand":"delete","where":{"values":[{"column":"user_id","value":"= {{ $('Merge1').item.json.user_id }}"},{"column":"status","value":"rejeitado"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[9040,3520],"id":"b586294f-3bcc-436a-a75d-e2f4654a134c","name":"ExcluiRejeitados1","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"delete from  comentario_pedido_temp  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[6400,2032],"id":"55526a80-d8d4-4baf-a2a0-584b083fc5cb","name":"ExcluiComentario_temp","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=\n    {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\":  \"Aqui você tem um exemplo valido. Se preferir digitar cada item separadamente, ok também.\"\n  }\n}","options":{}},"id":"bf0a29b6-4c01-452b-bd7e-5c78353787c7","name":"RequestFinalizar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9696,3008]},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[9504,3008],"id":"18b8fa4e-244f-4dd8-96e6-45b978645587","name":"Wait5","webhookId":"f2e2ba32-d628-4657-aa0a-3cedc05e3647"},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=\n    {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\":  \"Comece com 1 *pizza* 19 *grande* e assim segue. \\nSimples né? Vamos lá?\"\n  }\n}","options":{}},"id":"0259d645-9fa9-4ced-8304-214453367291","name":"RequestFinalizar2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10144,3008]},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[9920,3008],"id":"89090e08-87b4-4902-822c-53a3e2d185a8","name":"Wait6","webhookId":"f2e2ba32-d628-4657-aa0a-3cedc05e3647"},{"parameters":{"jsCode":" // Code node (JavaScript) — Run Once for All Items\n// Captura fracionadas e remove do texto para a LLM\n\nconst inputItems = $input.all();   // <- aqui está a correção\nconst out = [];\n\nfor (const { json } of inputItems) {\n  const raw = String(json.chatInput ?? '');\n\n  // normalização leve\n  let norm = raw\n    .toLowerCase()\n    .replace(/[–—−]/g, '-')               // hífens\n    .replace(/\\b(meia|metade)\\b/g, '1/2') // \"meia/metade\" -> 1/2\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  const fracionadas = [];\n\n  // [qtd?][x?] 1/2 A (e|,|+|/) 1/2 B  (evita confundir 2L, etc.)\n  const re = /\\b(?:(\\d+)\\s*x?\\s*)?1\\/2\\s*(\\d{1,3})(?!\\s*[a-z])\\s*(?:e|,|\\+|\\/)\\s*1\\/2\\s*(\\d{1,3})(?!\\s*[a-z])\\b/gi;\n\n  // uma passada: coleta e remove\n  let rest = norm.replace(re, (_full, q, a, b) => {\n    fracionadas.push({\n      quantidade: q ? parseInt(q, 10) : 1,\n      metade1: parseInt(a, 10),\n      metade2: parseInt(b, 10),\n    });\n    return ' ';\n  });\n\n  rest = rest.replace(/\\s+/g, ' ').trim();\n\n  out.push({\n    json: {\n      ...json,                 // preserva campos existentes (user_id, pedido_id, etc.)\n      texto_original: raw,\n      texto_limpo: rest,       // passe ESTE texto para a LLM\n      fracionadas,             // depois some com pizzas_fracionadas da LLM\n    },\n  });\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[10048,3216],"id":"6c2276be-d1f8-4e09-b4e4-43b14dc2e9f4","name":"Code2"}],"connections":{"Encontrar Cliente1":{"main":[[{"node":"Cliente Existe?1","type":"main","index":0}]]},"Cliente Existe?1":{"main":[[{"node":"If2","type":"main","index":0}],[{"node":"Criar Cliente1","type":"main","index":0}]]},"Criar Cliente1":{"main":[[{"node":"Concatena","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"EncontrarPedido","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"msgfinal1","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Auto-fixing Output Parser1":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser1","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Dados Lead":{"main":[[{"node":"MegaApi7","type":"main","index":0}]]},"Structured Output Parser [Schema]":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser1","type":"ai_outputParser","index":0}]]},"Parametros Fluxo":{"main":[[{"node":"Filtro Inicial1","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Concatena":{"main":[[{"node":"Merge1","type":"main","index":0}],[{"node":"Merge1","type":"main","index":1}]]},"Filtro Inicial1":{"main":[[{"node":"Dados Lead","type":"main","index":0}]]},"Code":{"main":[[{"node":"MegaApi","type":"main","index":0}]]},"MegaApi":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Menu","type":"ai_languageModel","index":0}]]},"MsgUsuario":{"main":[[{"node":"Acao","type":"main","index":0}]]},"Switch":{"main":[[{"node":"RequestMenu","type":"main","index":0}],[{"node":"CancelarPedido","type":"main","index":0}],[{"node":"VerificaItens","type":"main","index":0}],[{"node":"If","type":"main","index":0}],[{"node":"ExcluiRejeitados1","type":"main","index":0}],[{"node":"primeiro atendimento","type":"main","index":0}],[{"node":"MenuInstruções","type":"main","index":0}],[{"node":"MenuCardapio","type":"main","index":0}],[{"node":"Cancelar","type":"main","index":0}],[{"node":"AgenteBuscaCardapio","type":"main","index":0}]]},"BuscaCardapio":{"ai_tool":[[{"node":"AgenteBuscaCardapio","type":"ai_tool","index":0}]]},"MegaApi3":{"main":[[{"node":"MontPedido","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Parametros Fluxo","type":"main","index":0}]]},"Menu":{"main":[[{"node":"MsgUsuario","type":"main","index":0}]]},"ExcluiRejeitados":{"main":[[{"node":"MegaApi3","type":"main","index":0}]]},"Cliente Pedido":{"main":[[{"node":"ConcatenaPedido","type":"main","index":0}],[{"node":"CriaPedido","type":"main","index":0}]]},"EncontrarPedido":{"main":[[{"node":"Cliente Pedido","type":"main","index":0}]]},"CriaPedido":{"main":[[{"node":"ConcatenaPedido","type":"main","index":0}]]},"RequestMenu":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"ConcatenaPedido":{"main":[[{"node":"StatusPedido","type":"main","index":0}],[{"node":"MergePedido","type":"main","index":1}]]},"MergePedido":{"main":[[{"node":"Menu","type":"main","index":0}]]},"If":{"main":[[{"node":"RequestFinalizar1","type":"main","index":0}],[{"node":"ExcluiRejeitados","type":"main","index":0}]]},"RequestFinalizar1":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"RequestMenu2":{"main":[[{"node":"No Operation, do nothing7","type":"main","index":0}]]},"RequestMenu3":{"main":[[{"node":"Execute a SQL query4","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"RequestMenu2","type":"main","index":0}]]},"CancelarPedido":{"main":[[{"node":"If5","type":"main","index":0}]]},"ConfirmaCancelamento":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"ConfirmaCancelamento1":{"main":[[{"node":"No Operation, do nothing10","type":"main","index":0}]]},"MenuInstruções":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"If2":{"main":[[{"node":"IniciaAtendimento","type":"main","index":0}],[{"node":"AtendimentoEnviado","type":"main","index":0}]]},"IniciaAtendimento":{"main":[[{"node":"Concatena","type":"main","index":0}]]},"AtendimentoEnviado":{"main":[[{"node":"Concatena","type":"main","index":0}]]},"primeiro atendimento":{"main":[[{"node":"Não entendi","type":"main","index":0}],[{"node":"RequestMenu3","type":"main","index":0}]]},"MenuCardapio":{"main":[[{"node":"No Operation, do nothing9","type":"main","index":0}]]},"Cancelar":{"main":[[{"node":"ConfirmaCancelamento1","type":"main","index":0}]]},"Não entendi":{"main":[[{"node":"No Operation, do nothing11","type":"main","index":0}]]},"OpenAI Chat Model9":{"ai_languageModel":[[{"node":"AgenteBuscaCardapio","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory5":{"ai_memory":[[{"node":"AgenteBuscaCardapio","type":"ai_memory","index":0}]]},"MCP Client2":{"ai_tool":[[{"node":"AgenteBuscaCardapio","type":"ai_tool","index":0}]]},"AgenteBuscaCardapio":{"main":[[{"node":"MegaApi6","type":"main","index":0}]]},"MegaApi6":{"main":[[{"node":"RequestMenu5","type":"main","index":0}]]},"If1":{"main":[[{"node":"Switch2","type":"main","index":0}],[{"node":"MergePedido","type":"main","index":0}]]},"FinalizarMsg1":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"FinalizarMsg2":{"main":[[{"node":"No Operation, do nothing14","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"If4","type":"main","index":0}],[{"node":"AtualizaEndereço","type":"main","index":0}],[{"node":"AtualizaBairro","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"CriaComentario","type":"main","index":0}]]},"AtualizaEndereço":{"main":[[{"node":"MegaApi1","type":"main","index":0}]]},"MegaApi1":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"AtualizaBairro":{"main":[[{"node":"FormaPagto","type":"main","index":0}]]},"AtualizaFormaPagamento":{"main":[[{"node":"Execute a SQL query3","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"AtualizaFormaPagamento","type":"main","index":0}]]},"FormaPagto":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]},"Execute a SQL query3":{"main":[[{"node":"MegaApi8","type":"main","index":0}]]},"ConcluiPedido":{"main":[[{"node":"MegaApi16","type":"main","index":0}]]},"Execute a SQL query4":{"main":[[{"node":"MenuCardapio1","type":"main","index":0}]]},"StatusPedido":{"main":[[{"node":"If1","type":"main","index":0}]]},"Code3":{"main":[[{"node":"MegaApi14","type":"main","index":0}]]},"Rejeite":{"main":[[{"node":"Code3","type":"main","index":0}]]},"RejeitaItem":{"main":[[{"node":"Rejeite","type":"main","index":0}]]},"MegaApi7":{"main":[[{"node":"Encontrar Cliente1","type":"main","index":0}]]},"MegaApi9":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}]]},"RequestMenu4":{"main":[[{"node":"No Operation, do nothing8","type":"main","index":0}]]},"RequestMenu5":{"main":[[{"node":"No Operation, do nothing13","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"No Operation, do nothing17","type":"main","index":0}]]},"VerificaItens":{"main":[[{"node":"If3","type":"main","index":0}]]},"CriaComentario":{"main":[[{"node":"Confirmadados","type":"main","index":0}]]},"FinalizarPedido":{"main":[[{"node":"Execute a SQL query7","type":"main","index":0}]]},"If3":{"main":[[{"node":"VoltarParaItens","type":"main","index":0}],[{"node":"FinalizarPedido","type":"main","index":0}]]},"VoltarParaItens":{"main":[[{"node":"MsgRejeitaFinalizar","type":"main","index":0}]]},"MsgRejeitaFinalizar":{"main":[[{"node":"No Operation, do nothing15","type":"main","index":0}]]},"MenuCardapio1":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Confirmadados":{"main":[[{"node":"RequestMenu6","type":"main","index":0}]]},"RequestMenu6":{"main":[[{"node":"MegaApi10","type":"main","index":0}]]},"MegaApi10":{"main":[[{"node":"Execute a SQL query5","type":"main","index":0}]]},"If4":{"main":[[{"node":"ConcluiPedido","type":"main","index":0}],[{"node":"ExcluiComentario_temp","type":"main","index":0}]]},"FinalizarMsg3":{"main":[[{"node":"No Operation, do nothing16","type":"main","index":0}]]},"FinalizarPedido1":{"main":[[{"node":"FinalizarMsg3","type":"main","index":0}]]},"Execute a SQL query2":{"main":[[{"node":"MegaApi12","type":"main","index":0}]]},"Execute a SQL query7":{"main":[[{"node":"MegaApi11","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"FinalizarMsg2","type":"main","index":0}]]},"Acao":{"main":[[{"node":"Switch","type":"main","index":0}]]},"MegaApi11":{"main":[[{"node":"FinalizarMsg1","type":"main","index":0}]]},"MegaApi12":{"main":[[{"node":"RequestMenu4","type":"main","index":0}]]},"RequestMenu7":{"main":[[{"node":"No Operation, do nothing12","type":"main","index":0}]]},"MegaApi14":{"main":[[{"node":"RequestMenu7","type":"main","index":0}]]},"Execute a SQL query5":{"main":[[{"node":"No Operation, do nothing19","type":"main","index":0}]]},"MegaApi8":{"main":[[{"node":"No Operation, do nothing20","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"No Operation, do nothing18","type":"main","index":0}]]},"MegaApi16":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"MegaApi9","type":"main","index":0}]]},"If5":{"main":[[{"node":"ConfirmaCancelamento","type":"main","index":0}],[{"node":"ConfirmaCancelamento2","type":"main","index":0}]]},"ConfirmaCancelamento2":{"main":[[{"node":"No Operation, do nothing21","type":"main","index":0}]]},"Bebidas":{"main":[[{"node":"Itembebida","type":"main","index":0}]]},"Pizzas Fracionada":{"main":[[{"node":"ItemFracionado","type":"main","index":0}]]},"Pizzas Inteira":{"main":[[{"node":"ItemInteira","type":"main","index":0}]]},"Esfirra":{"main":[[{"node":"ItemEsfirra","type":"main","index":0}]]},"Borda":{"main":[[{"node":"ItemBorda","type":"main","index":0}]]},"Itembebida":{"main":[[{"node":"AtualizaNumeroBebida","type":"main","index":0}]]},"ItemFracionado":{"main":[[{"node":"AtualizaValorPizzaFracionada","type":"main","index":0}]]},"ItemInteira":{"main":[[{"node":"AtualizaValorPizza","type":"main","index":0}]]},"ItemEsfirra":{"main":[[{"node":"AtualizaNumeroEsfirra","type":"main","index":0}]]},"ItemBorda":{"main":[[{"node":"AtualizaNumeroBorda","type":"main","index":0}]]},"AtualizaValorBebida":{"main":[[{"node":"Merge","type":"main","index":0}]]},"AtualizaValorEsfirra":{"main":[[{"node":"Merge","type":"main","index":3}]]},"AtualizaNumeroBebida":{"main":[[{"node":"AtualizaValorBebida","type":"main","index":0}]]},"AtualizaNumeroEsfirra":{"main":[[{"node":"AtualizaValorEsfirra","type":"main","index":0}]]},"AtualizaNumeroBorda":{"main":[[{"node":"AtualizaValorBorda","type":"main","index":0}]]},"Merge":{"main":[[{"node":"RejeitaItem","type":"main","index":0}]]},"AtualizaValorPizzaFracionada":{"main":[[{"node":"Merge","type":"main","index":1}]]},"AtualizaValorPizza":{"main":[[{"node":"Merge","type":"main","index":2}]]},"AtualizaValorBorda":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain1","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Structured Output Parser [Schema]1":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Bebidas","type":"main","index":0},{"node":"Pizzas Fracionada","type":"main","index":0},{"node":"Pizzas Inteira","type":"main","index":0},{"node":"Esfirra","type":"main","index":0},{"node":"Borda","type":"main","index":0}]]},"MontPedido":{"main":[[{"node":"Code2","type":"main","index":0}]]},"ExcluiRejeitados1":{"main":[[{"node":"Execute a SQL query2","type":"main","index":0}]]},"ExcluiComentario_temp":{"main":[[{"node":"FinalizarPedido1","type":"main","index":0}]]},"RequestFinalizar":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"RequestFinalizar","type":"main","index":0}]]},"RequestFinalizar2":{"main":[[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"RequestFinalizar2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"12a695be-78f1-4f1e-9776-034cf6ef71de","triggerCount":1,"shared":[{"createdAt":"2025-08-16T21:05:21.296Z","updatedAt":"2025-08-16T21:05:21.296Z","role":"workflow:owner","workflowId":"1ivusp6PO0OaESke","projectId":"kDZetBR3Erj53CH1"}],"tags":[]}