finalizapedido-NAbpslurYYKFUI8X.json
{"createdAt":"2025-09-07T01:20:28.707Z","updatedAt":"2025-09-07T01:21:18.889Z","id":"NAbpslurYYKFUI8X","name":"finalizapedido","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"finalizapedido","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1440,128],"id":"0bc77b2d-0b27-4764-81ec-54dcce5dba2e","name":"Webhook","webhookId":"a9907ab7-afbf-4ee8-b19e-e3dc89aa791d"},{"parameters":{"jsCode":" return $('Webhook').first().json.body.itens"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,144],"id":"26d8340c-f8e4-40ae-b6ed-6b2982e3f13f","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[2912,144],"id":"0c0051b5-fe70-4f9d-be99-abb9d4036637","name":"Respond to Webhook"},{"parameters":{"operation":"get","tableId":"usuario_lacantina","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Dados Lead').item.json.IdConversa }}"}]}},"id":"1e5efe95-e27d-4a71-a6f2-c9bac7fb4ab8","name":"Encontrar Cliente1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-576,128],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3419c30f-4400-401b-bf40-db1579507f96","leftValue":"={{ $json.user_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"2d604505-b691-4909-93f3-5a38c4d259b7","name":"Cliente Existe?1","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-368,128],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"tableId":"usuario_lacantina","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $('Dados Lead').item.json.LeadNome }}"},{"fieldId":"telefone","fieldValue":"={{ $('Dados Lead').item.json.IdConversa }}"}]}},"id":"d2de774a-82ee-444e-8afc-049a71af0ceb","name":"Criar Cliente1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[64,416],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"id":"c03c226e-8e6e-45d2-aec5-328887ca1796","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[416,144],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00d2650d-52f9-4bf5-9b50-ec548c105222","leftValue":"={{ $json.lead_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[208,144],"id":"51954b77-fd59-4a69-92f8-c51a52a8256b","name":"Concatena"},{"parameters":{"tableId":"pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('Merge1').item.json.user_id }}"},{"fieldId":"status","fieldValue":"aberto"},{"fieldId":"valor","fieldValue":"={{ $('Dados Lead').item.json.total }}"},{"fieldId":"tipo_cobranca","fieldValue":"={{ $('Dados Lead').item.json.pagamento }}"}]}},"id":"4b2c4577-02c2-43da-9e45-379a71774006","name":"CriaPedido","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[608,144],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"041e18dc-788b-45e7-9348-cca03ac28eee","leftValue":"={{ $json.status }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-176,80],"id":"fdf291d8-aa7f-41b3-b6d1-ba7e87063d0f","name":"If2"},{"parameters":{"operation":"update","tableId":"usuario_lacantina","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $json.user_id }}"},{"keyName":"status","condition":"is","keyValue":"null"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"iniciado"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[0,0],"id":"70c00df3-2dfa-4cf9-8951-e91f3dae97e0","name":"IniciaAtendimento","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"usuario_lacantina","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $json.user_id }}"},{"keyName":"status","condition":"eq","keyValue":"iniciado"},{"keyName":"status","condition":"eq","keyValue":"iniciado"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"enviado"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[0,176],"id":"420f6e9a-7a86-4dc6-aa6a-47f40a400643","name":"AtendimentoEnviado","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"9f488c5c-0b3b-48e9-87b1-5a22d513d1ec","name":"IdConversa","value":"= {{ $('Webhook').item.json.body.cliente.telefone }}","type":"string"},{"id":"69f6217f-9063-423f-abf4-e94f6b70f94e","name":"LeadNome","value":"={{ $('Webhook').item.json.body.cliente.nome }}","type":"string"},{"id":"4ca3ec90-96f0-4871-80d9-124d382dfee6","name":"total","value":"={{ $json.body.total }}","type":"number"},{"id":"1ef262ca-6155-4b16-b9f3-b4069d848419","name":"pagamento","value":"={{ $json.body.cliente.pagamento }}","type":"string"},{"id":"11f541c8-608b-48d0-9d19-07be38565e98","name":"endereco","value":"={{ $json.body.cliente.endereco }}","type":"string"},{"id":"daaec687-9849-43a3-ae2f-b30fc6a2b05b","name":"endereco","value":"={{ $json.body.cliente.endereco }}","type":"string"},{"id":"1cd8b6c4-dc43-4d5f-95aa-a6174d3a8fe9","name":"bairro","value":"={{ $json.body.cliente.bairro }}","type":"string"},{"id":"6f29b573-bf99-4b53-b814-7310512744b9","name":"comentario","value":"= {{ $json.body.cliente.comentarios }}","type":"string"},{"id":"0c719a93-3cb1-4eb5-91ec-facc726d53ff","name":"telefone","value":"= {{ $json.body.cliente.telefone }}","type":"string"}]},"options":{}},"id":"a2ad79e6-ccb6-4abf-907d-f5111e0435c0","name":"Dados Lead","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-832,128],"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"Ajuste o Node Set com os campos relevantes fornecidos.\n","height":248,"width":226,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-896,64],"id":"84380d88-13a2-40fd-be70-f8be1b014991","name":"Sticky Note"},{"parameters":{"content":"Ajustes os filtros necessários conforme seu gatilho de entrada","height":248,"width":190,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1184,64],"id":"67e972a5-9675-478a-95a1-11ba732fda77","name":"Sticky Note1"},{"parameters":{"content":"Ajuste tempos de buffer e inatividade do agente conforme necessidade.\n","height":280,"width":190,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1472,48],"id":"5ec2c186-7212-4e99-bcfd-fc3d21601675","name":"Sticky Note18"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"204f54b0-e3ed-4ff4-8302-8c20d3b8aa78","leftValue":"={{ $('Webhook').item.json.body.isGroup }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"c51986d9-f347-4198-89bb-9e4cd0f021c9","leftValue":"={{ $('Webhook').item.json.body.broadcast }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"05ee6414-0164-473b-8f82-225cfba55ad2","leftValue":"={{ $('Webhook').item.json.body.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c958749d-fe04-4ab1-9f1f-7b131ee1f0da","name":"Filtro Inicial1","type":"n8n-nodes-base.filter","typeVersion":2.1,"position":[-1152,128],"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"jsCode":" const arr = $('Webhook').first().json.body.itens || [];\n\nfunction normalizaTamanho(desc) {\n  const m = desc.match(/\\((G|M|P)\\)/i);\n  if (!m) return { tamanho: null, descSemTamanho: desc };\n  const letra = m[1].toUpperCase();\n  const mapa = { G: 'grande', M: 'medio', P: 'pequena' };\n  const descSemTamanho = desc.replace(/\\s*\\((G|M|P)\\)\\s*/i, ' ').replace(/\\s+/g, ' ').trim();\n  return { tamanho: mapa[letra] || null, descSemTamanho };\n}\n\nfunction extraiFracao(desc) {\n  const r = /Meia\\s+(\\d+)[^+]*\\+\\s*Meia\\s+(\\d+)/i.exec(desc);\n  if (!r) return null;\n  return { n1: Number(r[1]), n2: Number(r[2]) };\n}\n\nfunction primeiroNumero(desc) {\n  const m = desc.match(/^\\s*(\\d+)\\s*-\\s*/) || desc.match(/\\b(\\d+)\\b/);\n  return m ? Number(m[1]) : null;\n}\n\nreturn arr.map(it => {\n  const raw = String(it.descricao || '').trim();\n  const { tamanho, descSemTamanho } = normalizaTamanho(raw);\n  const frac = extraiFracao(descSemTamanho);\n  const fracionada = !!frac;\n  const numero = fracionada ? frac.n1 : primeiroNumero(descSemTamanho);\n  const numero_fracao = fracionada ? frac.n2 : null;\n\n  const preco = Number(it.preco ?? it.valor ?? 0);\n  const qtd = Number(it.qtd ?? it.quantidade ?? 1);\n  const valor_total = preco * qtd;\n\n  return {\n    json: {\n      ...it,\n      descricao: descSemTamanho,\n      tamanho,\n      fracionada,\n      numero,\n      numero_fracao,\n      preco,\n      qtd,\n      valor_total\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,144],"id":"40376ab5-d73c-4cf2-bca0-a41fa5df5fa4","name":"Code1"},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"numero","fieldValue":"= {{ $json.numero }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.qtd }}"},{"fieldId":"pedido_id","fieldValue":"={{ $('CriaPedido').item.json.pedido_id }}"},{"fieldId":"valor","fieldValue":"={{ $json.valor_total }}"},{"fieldId":"user_id","fieldValue":"={{ $('Merge1').item.json.user_id }}"},{"fieldId":"fracionada","fieldValue":"= {{ $json.fracionada }}"},{"fieldId":"tamanho","fieldValue":"={{ $json.tamanho }}"},{"fieldId":"valor_unitario","fieldValue":"= {{ $json.preco }}"},{"fieldId":"nome","fieldValue":"= {{ $json.descricao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1248,144],"id":"a7218c63-d03a-491b-9a87-552fc5d7bc97","name":"InsereItens","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"operation":"executeQuery","query":"  UPDATE Item_pedido_temp AS i\nSET volume = c.volume,\n  tipo = c.tipo,\n  categoria = c.categoria,\n  valor_unitario = valor / quantidade\nFROM cardapio AS c\nWHERE i.numero = c.numero\n    AND i.user_id =  {{ $('Merge1').item.json.user_id }}\n   AND i.pedido_id = {{ $('CriaPedido').item.json.pedido_id }};\n\n\n ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1456,144],"id":"e467f372-ecd1-4f5e-bb9a-e84a6fb9d001","name":"Execute a SQL query","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3120,144],"id":"ac1dd2bc-eb7d-4dbe-a176-4c661593592a","name":"No Operation, do nothing5","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":"SELECT * from finalizar_pedido(   {{ $('Merge1').item.json.user_id }}  ,{{ $('CriaPedido').item.json.pedido_id }}  ) ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1888,144],"id":"d851f501-b8f8-4ae0-abcb-6685f0830dcf","name":"ConcluiPedido","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"Estamos encerrando seu chamado. Muito Obrigado!!\\n© 2025 Luis Gustavo Landucci — Right by LG™\"\n  }\n}\n ","options":{}},"id":"19480e14-0c2c-410e-926e-e07206e8fcfa","name":"MegaApi9","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2480,144]},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"{{ $json.finalizar_pedido.replace(/\\n/g, '\\\\n') }}\"\n  }\n}\n","options":{}},"id":"e20c2faf-36df-4eca-a394-f49f90df0c02","name":"MegaApi16","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2096,144]},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2288,144],"id":"67ecf144-ce9a-4821-9e6b-3931dbb84d4e","name":"Wait","webhookId":"33c5308c-6ef7-4028-8fb7-f0f46b8d615d","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"tableId":"comentario_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"pedido_id","fieldValue":"= {{ $('CriaPedido').item.json.pedido_id }}"},{"fieldId":"user_id","fieldValue":"={{ $('Merge1').item.json.user_id }} "},{"fieldId":"comentario","fieldValue":"= {{ $('Dados Lead').item.json.comentario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1680,144],"id":"4bb45667-2887-4939-8c02-fc28daa0e8dd","name":"CriaComentario","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"36437aa3-1b24-4d0c-b8df-f37bb7b4c3ec","name":"numero","value":"={{ $('CriaPedido').item.json.pedido_id }}","type":"number"},{"id":"74b87cb3-8ca6-4f86-8c39-0a354257c401","name":"mensagem","value":"= {{ $('ConcluiPedido').item.json.finalizar_pedido }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2688,144],"id":"9b659139-af91-4a72-b627-fc24cf89d076","name":"Edit Fields"}],"connections":{"Webhook":{"main":[[{"node":"Filtro Inicial1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Encontrar Cliente1":{"main":[[{"node":"Cliente Existe?1","type":"main","index":0}]]},"Cliente Existe?1":{"main":[[{"node":"If2","type":"main","index":0}],[{"node":"Criar Cliente1","type":"main","index":0}]]},"Criar Cliente1":{"main":[[{"node":"Concatena","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"CriaPedido","type":"main","index":0}]]},"Concatena":{"main":[[{"node":"Merge1","type":"main","index":0}],[{"node":"Merge1","type":"main","index":1}]]},"CriaPedido":{"main":[[{"node":"Code","type":"main","index":0}]]},"If2":{"main":[[{"node":"IniciaAtendimento","type":"main","index":0}],[{"node":"AtendimentoEnviado","type":"main","index":0}]]},"IniciaAtendimento":{"main":[[{"node":"Concatena","type":"main","index":0}]]},"AtendimentoEnviado":{"main":[[{"node":"Concatena","type":"main","index":0}]]},"Filtro Inicial1":{"main":[[{"node":"Dados Lead","type":"main","index":0}]]},"Dados Lead":{"main":[[{"node":"Encontrar Cliente1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"InsereItens","type":"main","index":0}]]},"InsereItens":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"CriaComentario","type":"main","index":0}]]},"ConcluiPedido":{"main":[[{"node":"MegaApi16","type":"main","index":0}]]},"MegaApi9":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"MegaApi16":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"MegaApi9","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}]]},"CriaComentario":{"main":[[{"node":"ConcluiPedido","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"41a385c0-865f-4ebc-b38a-4ff2c73927d9","triggerCount":0,"shared":[{"createdAt":"2025-09-07T01:20:28.707Z","updatedAt":"2025-09-07T01:20:28.707Z","role":"workflow:owner","workflowId":"NAbpslurYYKFUI8X","projectId":"wFRMrac2003Pl1x6"}],"tags":[]}