fluxo-vendas-SiJ02hfQVfAPp3e3.json
{"createdAt":"2025-09-17T13:36:13.881Z","updatedAt":"2025-09-17T16:30:06.792Z","id":"SiJ02hfQVfAPp3e3","name":"Fluxo Vendas","active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"6acc383e-3f52-49e0-b624-a8c206db121d","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4288,2800]},{"parameters":{"assignments":{"assignments":[{"id":"69f6217f-9063-423f-abf4-e94f6b70f94e","name":"ClienteNome","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"9f488c5c-0b3b-48e9-87b1-5a22d513d1ec","name":"ClienteTelefone","value":"={{$json.body.data.key.remoteJid.replace('@s.whatsapp.net','')}}","type":"string"},{"id":"1ae1a51c-00cb-47f9-8dc8-5a05c66fc0c8","name":"Mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"includeOtherFields":"=","options":{}},"id":"99ca2e00-628c-497a-abc0-73e9b2034299","name":"Simplificação de Dados","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1328,2800]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"24aa4532-80db-4c1e-977a-0036b82a8e5f","leftValue":"={{ $json.body.isEdit }}","rightValue":"false","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"204f54b0-e3ed-4ff4-8302-8c20d3b8aa78","leftValue":"={{ $json.body.isGroup }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"130cc493-a17a-4cc1-955b-816799583076","leftValue":"={{ $json.body.isNewsletter }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"c51986d9-f347-4198-89bb-9e4cd0f021c9","leftValue":"={{ $json.body.broadcast }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"cc7281fe-f597-43d4-820e-241f0f4c0410","leftValue":"={{ $json.body.fromApi }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"8f2777be-a571-41a2-8a3b-0aa9e78630d9","name":"Filtro Inicial","type":"n8n-nodes-base.filter","typeVersion":2.1,"position":[-1520,2800]},{"parameters":{"operation":"get","tableId":"usuario_lacantina","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{$json.ClienteTelefone }}"}]}},"id":"b8e7713f-4881-42cb-9712-67ae56cc99a7","name":"Buscar Cliente","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1104,2800],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3419c30f-4400-401b-bf40-db1579507f96","leftValue":"={{ $json.user_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"9054c27a-ea54-4329-ad33-d967d9e1a6b1","name":"Cliente Existe?","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-880,2800],"alwaysOutputData":false},{"parameters":{"tableId":"usuario_lacantina","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $('Simplificação de Dados').item.json.ClienteNome }}"},{"fieldId":"telefone","fieldValue":"={{ $('Simplificação de Dados').item.json.ClienteTelefone }}"},{"fieldId":"thread_id","fieldValue":"={{ $json.id }}"}]}},"id":"1237d131-0d98-4950-b946-4b01845488f8","name":"Criar Cliente","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-464,2896],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CCB76D5C423A0191FA39E692ED0BBB5/token/2FEBF455B542CA12B231414C/send-text","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Simplificação de Dados').item.json.ClienteTelefone }}"},{"name":"message","value":"={{ $json.data[0].content[0].text.value }}"}]},"options":{}},"id":"b97e0633-7e07-40cf-aa80-7ecd2420d063","name":"(Z-API) Enviar Mensagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4032,2416],"credentials":{"httpHeaderAuth":{"id":"YFnA9v8RManId8pD","name":"Header Auth account"}}},{"parameters":{},"id":"8750da80-62a0-4897-88c8-1963f7de6847","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-240,2800]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"6c4fe1c2-b9ab-4087-99fb-50f3eaa7f9ee","name":"[OpenAI] Criar Thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-656,2896],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"asst_0hiXqGqDuvSMoyxIqbRihRxh"}]},"options":{}},"id":"05a34aa3-6f44-450a-93b0-1a6ff1c4151f","name":"[OpenAI] Criar Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[384,2800],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"errorMessage":"Algum erro na execução na Run"},"id":"78cb28d8-9b52-4960-b0ae-1bc3c3fd2655","name":"Stop and Error","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1296,3040]},{"parameters":{"amount":3},"id":"29e85d06-c126-4ede-8afb-ab0bd537a88c","name":"Espera 3 seg","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[592,2800],"webhookId":"34bdfd2e-07e9-4436-95cb-87d8a1893014"},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Merge').item.json.thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"fd22e06d-ce66-4d7a-983d-f05eeb1d6c6b","name":"[OpenAI] Listar Runs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[176,3008],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Merge').item.json.thread_id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"user"},{"name":"content","value":"={{ $('Simplificação de Dados').item.json.Mensagem }}"}]},"options":{}},"id":"e02b26e0-b98c-4754-a3c6-5dc27ea9500e","name":"[OpenAI] Adicionar Mensagem na Thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,2800],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $json.data[0].thread_id }}/runs/{{ $json.data[0].id }}/cancel","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"061e4467-7fa5-49fc-9167-ee334e6243c5","name":"[OpenAI] Cancelar Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[176,3216],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}},"onError":"continueRegularOutput"},{"parameters":{"fieldToSplitOut":"tool_calls","options":{}},"id":"fb1f4f45-97ee-46b3-a984-a28a3d871f5d","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1504,2368]},{"parameters":{"assignments":{"assignments":[{"id":"28ce9dad-36a0-4015-9072-a74e35bcd33a","name":"name","value":"={{ $json.function.name }}","type":"string"},{"id":"0156c707-54c3-4bc8-a404-5810683ddc2f","name":"arguments","value":"={{ $json.function.arguments }}","type":"string"},{"id":"15947de1-0f0f-4968-a40c-7e36a540ea6d","name":"type","value":"={{ $json.type }}","type":"string"},{"id":"00f6f57f-7f82-4193-afd8-ded4c5824cad","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"cc1c52fe-50f5-49d4-99a8-eee18658cc18","name":"Dados individuais das tools","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1680,2368]},{"parameters":{"assignments":{"assignments":[{"id":"44673af0-d1a2-46a4-aa4a-42df4a6270a4","name":"arguments","value":"={{ $json.arguments }}","type":"object"}]},"includeOtherFields":true,"options":{}},"id":"18d1664b-261d-40f1-88f6-a6231bf32c06","name":"Argumentos da Tools","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2080,2400]},{"parameters":{"assignments":{"assignments":[{"id":"83ad07d2-6655-4675-8ea6-8d4bd6296f5c","name":"thread_id","value":"={{ $json.thread_id }}","type":"string"},{"id":"b00c6dba-371d-4aa2-900f-a108f112cace","name":"run_id","value":"={{ $json.id }}","type":"string"},{"id":"1aa088be-5f08-48aa-a30d-27ce153fae36","name":"tool_calls","value":"={{ $json.required_action.submit_tool_outputs.tool_calls }}","type":"array"}]},"options":{}},"id":"527d3546-77c3-43c3-9c17-369caf723e0e","name":"Parâmentros das Tools","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1328,2368]},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/runs/{{ $json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"f9b63f51-2c09-445f-b23f-993a8e5d57ef","name":"[OpenAI] Buscar Status da Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[816,2800],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"tool_outputs","options":{}},"id":"c464ef49-2b13-4882-9768-a3047737599d","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1984,2016]},{"parameters":{"assignments":{"assignments":[{"id":"411123bf-7975-4d79-a766-351a605f414c","name":"tool_outputs","value":"={{ $json.tool_outputs }}","type":"string"}]},"options":{}},"id":"42a24baf-904e-4c41-b252-5542ec41dc7e","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2144,2016]},{"parameters":{"method":"POST","url":"https://sandbox.asaas.com/api/v3/customers","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"},{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Argumentos da Tools').item.json.arguments.cliente_nome }}"},{"name":"cpfCnpj","value":"={{ $('Argumentos da Tools').item.json.arguments.cliente_cpf }}"}]},"options":{}},"id":"759b367e-9f54-4f4e-99b7-6ca1c45fa1fb","name":"Criar Cliente1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2976,1456],"credentials":{"httpHeaderAuth":{"id":"YFnA9v8RManId8pD","name":"Header Auth account"}}},{"parameters":{"method":"POST","url":"https://sandbox.asaas.com/api/v3/payments","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"billingType","value":"PIX"},{"name":"customer","value":"={{ $json.id }}"},{"name":"value","value":"={{ $('Buscar Produto').item.json.valor }}"},{"name":"dueDate","value":"={{$now.plus(2, 'days')}}"},{"name":"description","value":"=Link de pagamento para Formação {{ $('Buscar Produto').item.json.nome }} da NoCode StartUp.\n\nSeja bem vindo!"},{"value":"={{ $now.plus(2, 'days') }}"}]},"options":{}},"id":"1769b013-cb9f-4467-b4ad-7308b769b0b9","name":"Criar Link Checkout","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3152,1456],"credentials":{"httpHeaderAuth":{"id":"YFnA9v8RManId8pD","name":"Header Auth account"}}},{"parameters":{"content":"## Gestão de usuários e conversas","height":470.66144701482347,"width":1548.498147684436,"color":4},"id":"d9943dc2-1108-41ca-b245-addebb6a3fdc","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1616,2624]},{"parameters":{"operation":"get","tableId":"usuario_lacantina","filters":{"conditions":[{"keyName":"whatsapp","keyValue":"={{ $('Simplificação de Dados').item.json.ClienteTelefone }}"}]}},"id":"f18aae06-e201-45a0-bd6a-46eb9f20f683","name":"Buscar usuário","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2800,896],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"cardapio","filters":{"conditions":[{"keyName":"numero","keyValue":"={{ $('Argumentos da Tools').item.json.arguments.id_produto }}"}]}},"id":"3795cb59-856e-45de-bc17-c46e67e5e440","name":"Buscar Produto","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2800,1456],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"tableId":"pedidos","fieldsUi":{"fieldValues":[{"fieldId":"asaas_id","fieldValue":"={{ $('Criar Link Checkout').item.json.id }}"},{"fieldId":"status","fieldValue":"={{ $('Criar Link Checkout').item.json.status }}"},{"fieldId":"usuario_id","fieldValue":"={{ $json.id }}"},{"fieldId":"produto_id","fieldValue":"={{ $('Buscar Produto').item.json.id }}"}]}},"id":"861825c0-e86f-4e14-ad4b-02a229043128","name":"Criar Pedido","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3520,1456],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"content":"## Loop Funções","height":384.7161754466947,"width":1278.236022443546,"color":6},"id":"17dfb5bc-cbec-411f-a4b4-9c6a58a03b65","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1200,2240]},{"parameters":{"content":"## Função 1: getProdutos","height":633.1431906329082,"width":1194.3096289795617,"color":3},"id":"d90d2ab9-e454-4a91-b031-5d5753a84212","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2704,1984]},{"parameters":{"content":"## Função 3: getUsers","height":572.1848462438363,"width":1189.3614743141625,"color":3},"id":"d194d00d-436b-46d3-b5a3-dbf46b2d71a5","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2704,736]},{"parameters":{"content":"## Função 2: postPedidos","height":572.1848462438363,"width":1200.9071685334256,"color":3},"id":"51c77b89-e19b-4fce-ab3f-f8dc0f307014","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2704,1360]},{"parameters":{"content":"## Respondendo Função","height":261.7237534100784,"width":589.0475656915123,"color":6},"id":"9349f27b-9dd2-4999-83ca-cc7fa1bbd9f7","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1904,1952]},{"parameters":{"content":"## Respondendo Usuário","height":297.2479283127495,"width":478.7211802391986,"color":7},"id":"9e2e300b-b7bd-4439-b2da-d16db9b76ece","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4048,2704]},{"parameters":{"content":"## Agente IA","height":3486.241122797087,"width":3978.3019178628183,"color":5},"id":"1b87781b-7cc7-44de-b2a6-57a0cf966562","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[16,48]},{"parameters":{"content":"## Gatilhos","height":470.66144701482347,"width":401.92272567732755},"id":"75279bbe-74fa-435d-85d4-28d827e574ef","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2080,2624]},{"parameters":{"content":"## Função 4: updateUser","height":572.1848462438363,"width":1181.114549871832,"color":3},"id":"2e033df1-0367-44b5-b108-f8cb65120ba9","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2704,128]},{"parameters":{"operation":"get","tableId":"usuario_lacantina","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Simplificação de Dados').item.json.ClienteTelefone }}"}]}},"id":"604ad4c1-744f-481c-99fb-b1d785426cc5","name":"Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3344,1456],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"d0132960-a69b-46f0-ab2b-7fe3b67c965d","leftValue":"={{ $json.status }}","rightValue":"requires_action","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"requires_action"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"a8e31c39-770b-47f4-9d72-62ba8cd3ed96","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"9c3456a0-d550-4b1e-9eea-8e620c31b2f2","leftValue":"={{ $json.status }}","rightValue":"in_progress","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"in_progress"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"error"}},"id":"735449f9-5eed-4eb0-8092-3bfabdf257d1","name":"Qual o status da Run?","type":"n8n-nodes-base.switch","typeVersion":3.1,"position":[1008,2784]},{"parameters":{"operation":"getAll","tableId":"produtos","filters":{"conditions":[{"keyName":"categoria","condition":"eq","keyValue":"={{ $json.arguments.categoria }}"}]}},"id":"34b2ddd0-9427-41e1-9907-4dbf5bab0b3e","name":"Buscar protudos pela categoria","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3024,2320],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"produtos","filters":{"conditions":[{"keyName":"nome","condition":"ilike","keyValue":"={{ $json.arguments.nome }}*"}]}},"id":"aa9c0106-bae2-4b01-bf0b-f548f976db4f","name":"Buscar Produtos pelo Nome","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3024,2160],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"produto"}]},"options":{}},"id":"990cb2ea-fd4c-4183-819a-6f00d21a8387","name":"Concatenando String","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[3696,2240]},{"parameters":{"assignments":{"assignments":[{"id":"3a3fbf83-7260-4dfa-97f2-4f323816d776","name":"tool_call_id","value":"={{ $('Argumentos da Tools').item.json.id }}","type":"string"},{"id":"3c185636-3fe8-4d4b-8a6b-e3bf5613c503","name":"output","value":"={{ $json.concatenated_produto }}","type":"string"}]},"options":{}},"id":"55cc96e5-6f92-4ce7-ad1c-0993cbc58dbe","name":"Resposta da Tool getCursos","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3696,2416]},{"parameters":{"assignments":{"assignments":[{"id":"e812113e-dd46-486a-82fc-e14855c2be8c","name":"produto","value":"=(ID: {{ $json.id }}, nome: {{ $('Merge1').item.json.nome }}, valor: {{ $('Merge1').item.json.valor }}, proxima turma: {{ $('Merge1').item.json.proxima_turma }}, categoria: {{ $('Merge1').item.json.categoria }})","type":"string"}]},"options":{}},"id":"044f4bba-7c9f-4530-87df-bf0c7cef1837","name":"Construindo String","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3488,2240]},{"parameters":{"operation":"update","tableId":"usuarios","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('Simplificação de Dados').item.json.ClienteTelefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"cpf","fieldValue":"={{ $json.arguments.cliente_cpf }}"},{"fieldId":"nome","fieldValue":"={{ $json.arguments.cliente_nome }}"}]}},"id":"10fe5ca5-43ad-4efc-b1f9-5f6670213d68","name":"Atualizar Usuário","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2800,272],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"options":{"reset":"={{ $node['Loop Over Items'].context[\"done\"] }}"}},"id":"6d9c37fc-f256-4c9d-87c4-4c575d608a52","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1904,2368]},{"parameters":{"assignments":{"assignments":[{"id":"b5eaff7e-ca80-444b-93a6-2a9de03ffa22","name":"usuario","value":"=(nome: {{ $json.nome }}, cpf: {{ $json.cpf }})","type":"string"}]},"options":{}},"id":"69a280aa-cf8a-4783-9b38-c8ca8371322d","name":"Construindo String1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2976,896]},{"parameters":{"assignments":{"assignments":[{"id":"6412cebd-4191-453b-97d3-8e302756396c","name":"tool_call_id","value":"={{ $('Argumentos da Tools').item.json.id }}","type":"string"},{"id":"a2e8d52a-04e2-4fbf-876c-cbc3c3348d25","name":"output","value":"={{ $json.usuario }}","type":"string"}]},"options":{}},"id":"1f0fa786-f657-46ac-9284-baa630a6e6eb","name":"Resposta da Tool getUsers","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2976,1072]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Parâmentros das Tools').item.json.thread_id }}/runs/{{ $('Parâmentros das Tools').item.json.run_id }}/submit_tool_outputs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"tool_outputs\": {{ $json.tool_outputs }}\n}","options":{}},"id":"5ccd32ee-3b83-4517-bb11-a42060051dc2","name":"Responder a Function Calling","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2304,2016],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"9151a058-7dd6-4ca2-8e99-354d5f4e22a4","name":"link de pagamento","value":"=(URL: {{ $('Criar Link Checkout').item.json.invoiceUrl }})","type":"string"}]},"options":{}},"id":"9902003f-5b1c-460f-a2f4-dc5f5aaba097","name":"Construindo String2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3696,1456]},{"parameters":{"assignments":{"assignments":[{"id":"3a3fbf83-7260-4dfa-97f2-4f323816d776","name":"tool_call_id","value":"={{ $('Argumentos da Tools').item.json.id }}","type":"string"},{"id":"3c185636-3fe8-4d4b-8a6b-e3bf5613c503","name":"output","value":"={{ $json['link de pagamento'] }}","type":"string"}]},"options":{}},"id":"88de8644-263e-4f9b-89c6-9d3496c54da1","name":"Resposta da Tool postPedidos","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3680,1648]},{"parameters":{"assignments":{"assignments":[{"id":"f45a1483-7a89-4da8-a09a-8b878e83a3aa","name":"usuario","value":"=(nome: {{ $json.nome }}, cpf: {{ $json.cpf }})","type":"string"}]},"options":{}},"id":"8b0ee63e-1a28-46f1-803c-c20498952094","name":"Construindo String3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2976,272]},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('[OpenAI] Buscar Status da Run').item.json.thread_id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"af12da5b-5404-41a3-a082-e23a6113cec8","name":"[OpenAI] Listar Mensagens Thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1296,2800],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{},"id":"be05ee5c-a712-4775-91bd-474b7d6e980d","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[3200,2240]},{"parameters":{"assignments":{"assignments":[{"id":"37f77e44-5888-4c61-8f15-3ec8bc33be9d","name":"tool_call_id","value":"={{ $('Argumentos da Tools').item.json.id }}","type":"string"},{"id":"3e00f6bb-e04e-491a-938b-b76e9f5a8b87","name":"output","value":"={{ $json.usuario }}","type":"string"}]},"options":{}},"id":"0daad8ad-ad66-402d-9c05-289943f39a73","name":"Resposta da Tool updateUser","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2976,464]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"4c77a671-79cf-4d96-9683-9597c4c2bb46","leftValue":"={{ $json.name }}","rightValue":"postPedido","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"postPedido"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"38e7c7a5-0727-4f80-960c-7f6895b53383","leftValue":"={{ $json.name }}","rightValue":"getUser","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"getUser"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.name }}","rightValue":"getPizza","operator":{"type":"string","operation":"equals"},"id":"e0afd78b-67de-4f2d-b830-c4b9dc6badb4"}],"combinator":"and"},"renameOutput":true,"outputKey":"getPizza"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"0f528545-9509-49ba-b660-3ff61c150129","leftValue":"={{ $json.name }}","rightValue":"updateUser","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"updateUser"}]},"options":{}},"id":"1aa3ea2e-33d6-42d5-bfad-69a64166064d","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.1,"position":[2240,2368]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Argumentos da Tools').item.json.arguments.nome }}","rightValue":"=","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"nome existe"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"78f68ee4-ef94-4366-930b-a254fddaa7d6","leftValue":"={{ $('Argumentos da Tools').item.json.arguments.categoria }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"categoria existe"}]},"options":{"allMatchingOutputs":true}},"id":"8a63bba4-23df-4d18-bdec-575005733240","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3.1,"position":[2768,2272]},{"parameters":{"httpMethod":"POST","path":"vendas","options":{}},"id":"1fe951aa-6637-4d13-8104-d5130d1ba980","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1936,2800],"webhookId":"6798dba6-fdde-4111-afea-5666baf77e8d"},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Simplificação de Dados').item.json.ClienteTelefone }}","messageText":"={{ $json.data[0].content[0].text.value }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4112,2800],"id":"e6a9d53c-2aad-42e2-9fc1-4f4fe26c4d88","name":"MenuCardapio44","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"operation":"get","tableId":"usuario_lacantina","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.telefone }}"}]}},"id":"6e7b052c-b049-4f62-8dc5-cdfb321516ab","name":"Buscar Cliente1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-592,2784],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}}],"connections":{"Simplificação de Dados":{"main":[[{"node":"Buscar Cliente","type":"main","index":0}]]},"Filtro Inicial":{"main":[[{"node":"Simplificação de Dados","type":"main","index":0}]]},"Buscar Cliente":{"main":[[{"node":"Cliente Existe?","type":"main","index":0}]]},"Cliente Existe?":{"main":[[{"node":"Buscar Cliente1","type":"main","index":0}],[{"node":"[OpenAI] Criar Thread","type":"main","index":0}]]},"Criar Cliente":{"main":[[{"node":"Merge","type":"main","index":1}]]},"(Z-API) Enviar Mensagem":{"main":[[]]},"Merge":{"main":[[{"node":"[OpenAI] Adicionar Mensagem na Thread","type":"main","index":0}]]},"[OpenAI] Criar Thread":{"main":[[{"node":"Criar Cliente","type":"main","index":0}]]},"[OpenAI] Criar Run":{"main":[[{"node":"Espera 3 seg","type":"main","index":0}]]},"Espera 3 seg":{"main":[[{"node":"[OpenAI] Buscar Status da Run","type":"main","index":0}]]},"[OpenAI] Listar Runs":{"main":[[{"node":"[OpenAI] Cancelar Run","type":"main","index":0}]]},"[OpenAI] Adicionar Mensagem na Thread":{"main":[[{"node":"[OpenAI] Criar Run","type":"main","index":0}],[{"node":"[OpenAI] Listar Runs","type":"main","index":0}]]},"[OpenAI] Cancelar Run":{"main":[[{"node":"[OpenAI] Adicionar Mensagem na Thread","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Dados individuais das tools","type":"main","index":0}]]},"Dados individuais das tools":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Argumentos da Tools":{"main":[[{"node":"Switch","type":"main","index":0}]]},"[OpenAI] Buscar Status da Run":{"main":[[{"node":"Qual o status da Run?","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Responder a Function Calling","type":"main","index":0}]]},"Criar Cliente1":{"main":[[{"node":"Criar Link Checkout","type":"main","index":0}]]},"Criar Link Checkout":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Buscar usuário":{"main":[[{"node":"Construindo String1","type":"main","index":0}]]},"Buscar Produto":{"main":[[{"node":"Criar Cliente1","type":"main","index":0}]]},"Criar Pedido":{"main":[[{"node":"Construindo String2","type":"main","index":0}]]},"Parâmentros das Tools":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Criar Pedido","type":"main","index":0}]]},"Qual o status da Run?":{"main":[[{"node":"Parâmentros das Tools","type":"main","index":0}],[{"node":"[OpenAI] Listar Mensagens Thread","type":"main","index":0}],[{"node":"Espera 3 seg","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Buscar protudos pela categoria":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Buscar Produtos pelo Nome":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Concatenando String":{"main":[[{"node":"Resposta da Tool getCursos","type":"main","index":0}]]},"Resposta da Tool getCursos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Construindo String":{"main":[[{"node":"Concatenando String","type":"main","index":0}]]},"Atualizar Usuário":{"main":[[{"node":"Construindo String3","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Argumentos da Tools","type":"main","index":0}]]},"Construindo String1":{"main":[[{"node":"Resposta da Tool getUsers","type":"main","index":0}]]},"Resposta da Tool getUsers":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Responder a Function Calling":{"main":[[{"node":"Espera 3 seg","type":"main","index":0}]]},"Construindo String2":{"main":[[{"node":"Resposta da Tool postPedidos","type":"main","index":0}]]},"Resposta da Tool postPedidos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Construindo String3":{"main":[[{"node":"Resposta da Tool updateUser","type":"main","index":0}]]},"[OpenAI] Listar Mensagens Thread":{"main":[[{"node":"MenuCardapio44","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Construindo String","type":"main","index":0}]]},"Resposta da Tool updateUser":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Buscar Produto","type":"main","index":0}],[{"node":"Buscar usuário","type":"main","index":0}],[{"node":"Switch1","type":"main","index":0}],[{"node":"Atualizar Usuário","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Buscar Produtos pelo Nome","type":"main","index":0}],[{"node":"Buscar protudos pela categoria","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Filtro Inicial","type":"main","index":0}]]},"MenuCardapio44":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Buscar Cliente1":{"main":[[{"node":"Merge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b11aad55-759c-45a5-9501-fef4c5784d04","triggerCount":1,"shared":[{"createdAt":"2025-09-17T13:36:13.881Z","updatedAt":"2025-09-17T13:36:13.881Z","role":"workflow:owner","workflowId":"SiJ02hfQVfAPp3e3","projectId":"wFRMrac2003Pl1x6"}],"tags":[{"createdAt":"2025-09-08T21:48:39.874Z","updatedAt":"2025-09-08T21:48:39.874Z","id":"ffKYKgI8Ro1kMAIk","name":"NoCode StartUp"},{"createdAt":"2025-09-17T12:33:06.936Z","updatedAt":"2025-09-17T12:33:06.936Z","id":"JeuuFBr3ONlGRlp1","name":"Formação Assistants"},{"createdAt":"2025-09-17T12:33:06.943Z","updatedAt":"2025-09-17T12:33:06.943Z","id":"oyNaKLDpb8MjOTKe","name":"Modelo"}]}