fluxo-vendas-SiJ02hfQVfAPp3e3.json
{"createdAt":"2025-09-17T13:36:13.881Z","updatedAt":"2025-10-28T01:39:28.515Z","id":"SiJ02hfQVfAPp3e3","name":"Fluxo Vendas","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"be85ab27-5523-4659-a5bc-f88ce5b93273","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3376,-160]},{"parameters":{"assignments":{"assignments":[{"id":"69f6217f-9063-423f-abf4-e94f6b70f94e","name":"ClienteNome","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"9f488c5c-0b3b-48e9-87b1-5a22d513d1ec","name":"ClienteTelefone","value":"={{ $json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}","type":"string"},{"id":"1ae1a51c-00cb-47f9-8dc8-5a05c66fc0c8","name":"Mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"includeOtherFields":"=","options":{}},"id":"91af20a3-7910-4bc0-9d2d-ee85fec5b42c","name":"Simplificação de Dados","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-11344,-1968]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"24aa4532-80db-4c1e-977a-0036b82a8e5f","leftValue":"={{ $json.body.isEdit }}","rightValue":"false","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"204f54b0-e3ed-4ff4-8302-8c20d3b8aa78","leftValue":"={{ $json.body.isGroup }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"130cc493-a17a-4cc1-955b-816799583076","leftValue":"={{ $json.body.isNewsletter }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"c51986d9-f347-4198-89bb-9e4cd0f021c9","leftValue":"={{ $json.body.broadcast }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"cc7281fe-f597-43d4-820e-241f0f4c0410","leftValue":"={{ $json.body.fromApi }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"e990830e-e852-41b0-9fb3-90082335e6f3","name":"Filtro Inicial","type":"n8n-nodes-base.filter","typeVersion":2.1,"position":[-11536,-1968]},{"parameters":{"operation":"get","tableId":"usuario_lacantina","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{$json.ClienteTelefone}}"}]}},"id":"14d5c8d1-7d7f-4108-a368-87b482b2e6b6","name":"Buscar Cliente","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11120,-1968],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3419c30f-4400-401b-bf40-db1579507f96","leftValue":"={{ $json.user_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"baa0aa11-0d4f-444c-a8c9-13488cb86780","name":"Cliente Existe?","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-10896,-1968],"alwaysOutputData":false},{"parameters":{"tableId":"usuario_lacantina","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $('Simplificação de Dados').item.json.ClienteNome }}"},{"fieldId":"telefone","fieldValue":"={{ $('Simplificação de Dados').item.json.ClienteTelefone }}"},{"fieldId":"thread_id","fieldValue":"={{ $json.id }}"}]}},"id":"1362bf6c-3bc9-4a82-ab96-cc199ab1c0cc","name":"Criar Cliente","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-10480,-1904],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CCB76D5C423A0191FA39E692ED0BBB5/token/2FEBF455B542CA12B231414C/send-text","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Simplificação de Dados').item.json.ClienteTelefone }}"},{"name":"message","value":"={{ $json.data[0].content[0].text.value }}"}]},"options":{}},"id":"eff7e965-5637-4036-8ef0-606fe8dba14f","name":"(Z-API) Enviar Mensagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1824,-2592],"credentials":{"httpHeaderAuth":{"id":"YFnA9v8RManId8pD","name":"Header Auth account"}}},{"parameters":{},"id":"e5fb7d60-0285-4373-86fe-3dc18ec6a144","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-10256,-1968]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"d335c558-609f-4706-8c3d-0c77264285d5","name":"[OpenAI] Criar Thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-10640,-1904],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"asst_gwNWcpdd5VuezqjPuzhFkwY4"}]},"options":{}},"id":"52362578-f777-471e-b6aa-759c72decb9f","name":"[OpenAI] Criar Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4992,-176],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"errorMessage":"Algum erro na execução na Run"},"id":"532e3b64-7655-41f1-aeca-55e5cd216b7c","name":"Stop and Error","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-4048,80]},{"parameters":{"amount":3},"id":"3e051b9e-e4dd-4850-8d02-9ab2d6875ea7","name":"Espera 3 seg","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-4752,-160],"webhookId":"34bdfd2e-07e9-4436-95cb-87d8a1893014"},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Merge4').item.json.thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"f3934086-0df2-4bc2-8d83-853d4773e594","name":"[OpenAI] Listar Runs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5168,64],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Merge4').item.json.thread_id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"user"},{"name":"content","value":"={{ $('MensagemTraduzida').item.json.message }}"}]},"options":{}},"id":"24d41564-361d-4f40-82eb-440ebca22365","name":"[OpenAI] Adicionar Mensagem na Thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5200,-160],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{$json.data[0].thread_id }}/runs/{{$json.data[0].id }}/cancel","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"2ed12495-9bc5-47a5-82c9-e4e6e34e873b","name":"[OpenAI] Cancelar Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5168,256],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"fieldToSplitOut":"tool_calls","options":{}},"id":"ad3d8967-d744-4ba0-9871-a1a8609b0c62","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-3968,-592]},{"parameters":{"assignments":{"assignments":[{"id":"28ce9dad-36a0-4015-9072-a74e35bcd33a","name":"name","value":"={{ $json.function.name }}","type":"string"},{"id":"0156c707-54c3-4bc8-a404-5810683ddc2f","name":"arguments","value":"={{ $json.function.arguments }}","type":"string"},{"id":"15947de1-0f0f-4968-a40c-7e36a540ea6d","name":"type","value":"={{ $json.type }}","type":"string"},{"id":"00f6f57f-7f82-4193-afd8-ded4c5824cad","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"0ee7404a-3290-4778-acc0-467cd6ae15cc","name":"Dados individuais das tools","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3744,-592]},{"parameters":{"assignments":{"assignments":[{"id":"44673af0-d1a2-46a4-aa4a-42df4a6270a4","name":"arguments","value":"={{ $json.arguments }}","type":"object"}]},"includeOtherFields":true,"options":{}},"id":"f4f409f2-0ad7-4a61-96c0-b4db4bc21db0","name":"Argumentos da Tools","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3216,-576]},{"parameters":{"assignments":{"assignments":[{"id":"83ad07d2-6655-4675-8ea6-8d4bd6296f5c","name":"thread_id","value":"={{ $json.thread_id }}","type":"string"},{"id":"b00c6dba-371d-4aa2-900f-a108f112cace","name":"run_id","value":"={{ $json.id }}","type":"string"},{"id":"1aa088be-5f08-48aa-a30d-27ce153fae36","name":"tool_calls","value":"={{ $json.required_action.submit_tool_outputs.tool_calls }}","type":"array"}]},"options":{}},"id":"7e3ca959-de01-4c2d-ba91-6992d38cdda9","name":"Parâmentros das Tools","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4224,-592],"executeOnce":false},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/runs/{{ $json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"0085853a-e401-429e-bc2b-6aa08ede9e32","name":"[OpenAI] Buscar Status da Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4560,-160],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"tool_outputs","options":{}},"id":"9ad327f6-38cc-4942-97fa-2a1ac62a38cf","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3360,-960]},{"parameters":{"assignments":{"assignments":[{"id":"411123bf-7975-4d79-a766-351a605f414c","name":"tool_outputs","value":"={{ $json.tool_outputs }}","type":"string"}]},"options":{}},"id":"f8315bbb-9b51-4082-808e-73d8d89492bc","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3200,-960]},{"parameters":{"content":"## Gestão de usuários e conversas","height":470.66144701482347,"width":1548.498147684436,"color":4},"id":"5db17794-155f-44bc-89ad-78a6a64f19b9","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-11632,-2144]},{"parameters":{"content":"## Loop Funções","height":385,"width":1422,"color":6},"id":"3f84f7b4-c039-4fe6-b4d0-22bb6f3028b8","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4256,-720]},{"parameters":{"content":"## Função 1: getPizza","height":489,"width":1210,"color":3},"id":"0eb183b2-0f9f-413c-9e74-dc86c00d2dc9","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2224,-2560]},{"parameters":{"content":"## Função 3: getUsers","height":668,"width":1189,"color":3},"id":"31b84ac6-42f0-413e-bca4-5c52d88cecf9","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-592,-3440]},{"parameters":{"content":"## Função 2: Add Pizza Carrinho","height":492,"width":1201,"color":4},"id":"4f6966b4-ec04-4e07-a412-a4fae2dff208","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2192,-1968]},{"parameters":{"content":"## Respondendo Função","height":261.7237534100784,"width":589.0475656915123,"color":6},"id":"411725fb-1b6a-4b90-8c2d-7195e17e4286","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3440,-1008]},{"parameters":{"content":"## Respondendo Usuário","height":297.2479283127495,"width":478.7211802391986,"color":7},"id":"e457004b-1253-4c69-9d98-0bc7c5cf6366","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3712,-224]},{"parameters":{"content":"## Gatilhos","height":470.66144701482347,"width":401.92272567732755},"id":"68d998ef-eef1-45b5-bc30-8aae539b8952","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-12096,-2144]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d0132960-a69b-46f0-ab2b-7fe3b67c965d","leftValue":"={{ $json.status }}","rightValue":"requires_action","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"requires_action"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"a8e31c39-770b-47f4-9d72-62ba8cd3ed96","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"9c3456a0-d550-4b1e-9eea-8e620c31b2f2","leftValue":"={{ $json.status }}","rightValue":"in_progress","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"in_progress"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"error"}},"id":"f8d717a0-c8f5-4c5a-9658-89bd8cfa7a24","name":"Qual o status da Run?","type":"n8n-nodes-base.switch","typeVersion":3.1,"position":[-4336,-160],"executeOnce":false},{"parameters":{"operation":"getAll","tableId":"cardapio","filters":{"conditions":[{"keyName":"nome","condition":"ilike","keyValue":"={{ $json.arguments.nome }}*"}]}},"id":"c08fad7c-46b2-452a-a98f-e02cc0c07214","name":"Buscar Produtos pelo Nome","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2384,-2976],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"message.content"}]},"options":{}},"id":"c4e0b0eb-ef63-452c-9ccd-743d3508075d","name":"Concatenando String","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-1616,-2464]},{"parameters":{"options":{"reset":"={{ $node['Loop Over Items'].context[\"done\"] }}"}},"id":"e42f2441-5309-421d-a24b-2fcffe089226","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-3440,-592]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Parâmentros das Tools').item.json.thread_id }}/runs/{{ $('Parâmentros das Tools').item.json.run_id }}/submit_tool_outputs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"tool_outputs\": {{ $json.tool_outputs }}\n}","options":{}},"id":"639d1479-f034-496c-901d-c6d11b8a2c0b","name":"Responder a Function Calling","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3040,-960],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('[OpenAI] Buscar Status da Run').item.json.thread_id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"11ca699e-c5f9-401b-91e6-85f5f1ca28f4","name":"[OpenAI] Listar Mensagens Thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4032,-176],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{},"id":"2acde1d1-3ef6-475c-bcd2-dc5492ea52bb","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2576,-2896]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.name }}","rightValue":"get_pizza","operator":{"type":"string","operation":"equals"},"id":"560a861b-de35-401a-ab78-5e656593d23c"}],"combinator":"and"},"renameOutput":true,"outputKey":"getPizza"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"936ba126-e0c3-4d74-bb33-ed509e691e03","leftValue":"={{ $json.name }}","rightValue":"get_intencao_compra_pizza","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GravaPizza"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7197d841-c5fd-43a5-ac78-1ddb4e08fe65","leftValue":"={{ $json.name}}","rightValue":"get_compra_pizza","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_compra_pizza"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"5e0166a6-043f-4507-8aad-ebb65060a11b","leftValue":"={{ $json.name}}","rightValue":"get_associa_pizza_borda_item","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_associa_pizza_borda_item"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"a965f74f-be13-4052-a97f-366aa57b84e8","leftValue":"={{ $json.name}}","rightValue":"get_intencao_compra_pizza_fracionada","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_intencao_compra_pizza_fracionada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"5935269a-675c-4b42-8b83-d6d1aa164ea3","leftValue":"={{ $json.name}}","rightValue":"get_carrinho","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_carrinho"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"134d72db-3c9a-4eb1-877e-f7a3042c306b","leftValue":"={{ $json.name}}","rightValue":"post_cancela_pedido","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"post_cancela_pedido"}]},"options":{}},"id":"1203e7cc-040e-4687-a7fd-df806a70e181","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.1,"position":[-3008,-704],"executeOnce":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Argumentos da Tools').item.json.arguments.nome }}","rightValue":"=","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"30515c3f-b81c-4db4-89cd-108bc678c025"}],"combinator":"and"},"renameOutput":true,"outputKey":"nome existe"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"78f68ee4-ef94-4366-930b-a254fddaa7d6","leftValue":"={{ $('Argumentos da Tools').item.json.arguments.categoria }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"categoria existe"}]},"options":{"allMatchingOutputs":true}},"id":"14c13f3c-23ed-485e-a5bc-d005fa13dd94","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3.1,"position":[2176,-2880]},{"parameters":{"httpMethod":"POST","path":"vende","options":{}},"id":"3bdb565d-a039-4b8c-ba32-7f6ba6389d5b","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-11952,-1968],"webhookId":"6798dba6-fdde-4111-afea-5666baf77e8d"},{"parameters":{"operation":"getAll","tableId":"cardapio","filters":{"conditions":[{"keyName":"categoria","condition":"eq","keyValue":"={{ $json.arguments.categoria }}"}]}},"id":"1e55865b-cc37-4b6d-8c2a-bb87d6e54673","name":"Buscar protudos pela categoria","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2384,-2816],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"usuario_lacantina","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Simplificação de Dados').item.json.ClienteTelefone }}"}]}},"id":"9f681681-73a8-4677-ace7-56e5474d3c7b","name":"Buscar Cliente1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-10576,-2048],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Dados Lead').item.json.instance }}","remoteJid":"= {{ $('Dados Lead').item.json.IdConversa }}","messageText":"={{ $json.data[0].content[0].text.value }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3584,-160],"id":"2583d044-fb7d-43e4-b18f-34ce72f67df8","name":"MenuCardapio44","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"fieldToSplitOut":"output.item","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[336,-1264],"id":"e160859d-2ee5-47a2-aa49-7d395d1ea9af","name":"item1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2224,-1504],"id":"12d3c170-7831-4128-b399-01681ae74bf5","name":"Loop Over Items1"},{"parameters":{"operation":"executeQuery","query":" SELECT\n    numero,\n    nome,\n    descricao,\n    tipo,\n    cardapio,\n    CASE \n        WHEN '{{ $json.tamanho }}' = 'grande' THEN preco_grande\n        WHEN '{{ $json.tamanho }}' = 'media'  THEN preco_media\n        ELSE preco_grande\n    END AS valor\nFROM busca_cardapio((\n    SELECT string_agg(num, ', ')\n    FROM (\n        SELECT DISTINCT c.numero::text AS num\n        FROM cardapio AS c\n        WHERE c.nome ILIKE '%' || '{{ $json.nome }}' || '%'\n          AND categoria = '{{ $json.categoria }}' and  categoria not in ( 'borda','item')\n    )\n))\n  union all \n SELECT\n    numero,\n    nome,\n    descricao,\n    tipo,\n    cardapio,\n    CASE \n        WHEN '{{ $json.tamanho }}' = 'grande' THEN preco_grande\n        WHEN '{{ $json.tamanho }}' = 'media'  THEN preco_media\n        ELSE preco_grande\n    END AS valor\nFROM busca_cardapio((\n    SELECT string_agg(num, ', ')\n    FROM (\n        SELECT DISTINCT c.numero::text AS num\n        FROM cardapio AS c\n        WHERE  ( c.nome ILIKE '%' || '{{ $json.nome }}' || '%' or   c.palavras_chave  ILIKE '%' || '{{ $json.nome }}' || '%')\n          AND tipo  = '{{ $json.categoria }}'\n    )\n))\n   \n     union all \n SELECT\n    numero,\n    nome,\n    descricao,\n    tipo,\n    cardapio,\n    CASE \n        WHEN '{{ $json.tamanho }}' = 'grande' THEN preco_grande\n        WHEN '{{ $json.tamanho }}' = 'media'  THEN preco_media\n        ELSE preco_grande\n    END AS valor\nFROM busca_cardapio((\n    SELECT string_agg(num, ', ')\n    FROM (\n        SELECT DISTINCT c.numero::text AS num\n        FROM cardapio AS c\n        WHERE ( c.nome ILIKE '%' || '{{ $json.nome }}' || '%' or   c.palavras_chave  ILIKE '%' || '{{ $json.nome }}' || '%')\n          AND  categoria  = 'borda'\n    )\n))\n   \n   ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[832,-1248],"id":"455007cb-bb01-4912-b69a-939b1f61f0ce","name":"ConsultaBorda1","alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"3a3fbf83-7260-4dfa-97f2-4f323816d776","name":"tool_call_id","value":"={{ $('Argumentos da Tools').item.json.id }}","type":"string"},{"id":"3c185636-3fe8-4d4b-8a6b-e3bf5613c503","name":"output","value":"=''","type":"string"}]},"options":{}},"id":"8ec6d4fc-11d8-478e-a8d0-6339027c9dc5","name":"Resposta da Tool postPedidos","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1264,-1872]},{"parameters":{"tableId":"pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('Merge').item.json.user_id }}"},{"fieldId":"status","fieldValue":"aberto"},{"fieldId":"valor","fieldValue":"0"}]}},"id":"31b09569-5c0b-4f10-97f1-1c63f7d338b3","name":"CriaPedido","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-9248,-1792],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3419c30f-4400-401b-bf40-db1579507f96","leftValue":"={{ $json.user_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"2849b190-d250-4a2e-ba94-4207225c244b","name":"Cliente Pedido","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-9392,-1968],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"get","tableId":"pedido_temp","filters":{"conditions":[{"keyName":"user_id","keyValue":"={{ $json.user_id }}"}]}},"id":"14d1764f-a361-4c77-a3ed-0821c39355f5","name":"EncontrarPedido","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-9552,-1968],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00d2650d-52f9-4bf5-9b50-ec548c105222","leftValue":"={{ $json.pedido_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2464,-1568],"id":"6ccee950-a5be-4ab6-987e-0b157ffc68e3","name":"ConcatenaPedido"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-9120,-1968],"id":"a3c8414c-0c37-486a-8956-cbd0ffefa792","name":"Merge2"},{"parameters":{"content":"## Função 4: GetPedido","height":844,"width":1677,"color":3},"id":"c070acb6-5f30-41f6-8e2a-2c38631ae4d3","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5360,-240]},{"parameters":{"assignments":{"assignments":[{"id":"f45a1483-7a89-4da8-a09a-8b878e83a3aa","name":"usuario","value":"=(user_id: {{ $json.user_id }}  , pedido_id:{{ $json.pedido_id }} , id_empresa:{{ $json.id_empresa }} )","type":"string"}]},"options":{}},"id":"06efa5a7-7891-4747-8a62-5bda9aad4675","name":"Construindo String4","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6192,-128]},{"parameters":{"assignments":{"assignments":[{"id":"760bd5f6-7f3d-4499-842e-9a17ab13408f","name":"pedido_id","value":"= {{ $('Cliente Pedido1').item.json.pedido_id }}","type":"number"},{"id":"6c967f81-1255-4087-a441-3ec73721d4fe","name":"user_id","value":"= {{ $('Cliente Pedido1').item.json.user_id }}","type":"number"}]},"options":{}},"id":"1fd379ee-e39c-42e8-aaf3-96382917f4a9","name":"Resposta da Tool GetPedidos","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5920,-128]},{"parameters":{"assignments":{"assignments":[{"id":"3a3fbf83-7260-4dfa-97f2-4f323816d776","name":"tool_call_id","value":"={{ $('Argumentos da Tools').all().map(x => x.json.id).join(',') }}","type":"string"},{"id":"3c185636-3fe8-4d4b-8a6b-e3bf5613c503","name":"output","value":"= {{ $json.concatenated_message_content }}","type":"string"}]},"options":{}},"id":"f27ff4ce-9869-4e2c-87dd-d6748feb66b8","name":"Resposta da Tool Get_Pizza","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1248,-2464]},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"=62"},{"fieldId":"quantidade","fieldValue":"=1"},{"fieldId":"tipo","fieldValue":"salgado"},{"fieldId":"categoria","fieldValue":"item"},{"fieldId":"nome","fieldValue":"= {{ $('Loop Over Items2').item.json.nome }}"},{"fieldId":"fracionada","fieldValue":"=false"},{"fieldId":"pedido_id","fieldValue":"=11"},{"fieldId":"tamanho","fieldValue":"={{ $json.tamanho }}"},{"fieldId":"volume","fieldValue":"={{ $json.volume }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2864,-1344],"id":"7464669d-4331-48a3-8ccc-c1ca166d0737","name":"Item","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9f620984-016b-4b6b-bd32-a5be81b30118","leftValue":"={{ $items().length }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2608,-1328],"id":"6b9e0246-b017-4753-a376-15dcf0dee2a7","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[576,-1264],"id":"5bc5e612-5e11-4791-87a4-c4fa3f552da6","name":"Loop Over Items2"},{"parameters":{"operation":"executeQuery","query":" SELECT\n    numero,\n    nome,\n    descricao,\n    tipo,\n    cardapio,\n    CASE \n        WHEN '{{ $json.arguments.tamanho }}' = 'grande' THEN preco_grande\n        WHEN '{{ $json.arguments.tamanho }}' = 'media'  THEN preco_media\n        ELSE preco_grande\n    END AS valor\nFROM busca_cardapio((\n    SELECT string_agg(num, ', ')\n    FROM (\n        SELECT DISTINCT c.numero::text AS num\n        FROM cardapio AS c\n        WHERE c.nome ILIKE '%' || '{{ $json.arguments.nome }}' || '%'\n          AND categoria = '{{ $json.arguments.categoria }}' and  categoria not in ( 'borda','item')\n    )\n))\n  union all \n SELECT\n    numero,\n    nome,\n    descricao,\n    tipo,\n    cardapio,\n    CASE \n        WHEN '{{ $json.arguments.tamanho }}' = 'grande' THEN preco_grande\n        WHEN '{{ $json.arguments.tamanho }}' = 'media'  THEN preco_media\n        ELSE preco_grande\n    END AS valor\nFROM busca_cardapio((\n    SELECT string_agg(num, ', ')\n    FROM (\n        SELECT DISTINCT c.numero::text AS num\n        FROM cardapio AS c\n        WHERE  ( c.nome ILIKE '%' || '{{ $json.arguments.nome }}' || '%' or   c.palavras_chave  ILIKE '%' || '{{ $json.arguments.nome }}' || '%')\n          AND tipo  = '{{ $json.arguments.categoria }}'\n    )\n))\n   \n     union all \n SELECT\n    numero,\n    nome,\n    descricao,\n    tipo,\n    cardapio,\n    CASE \n        WHEN '{{ $json.arguments.tamanho }}' = 'grande' THEN preco_grande\n        WHEN '{{ $json.arguments.tamanho }}' = 'media'  THEN preco_media\n        ELSE preco_grande\n    END AS valor\nFROM busca_cardapio((\n    SELECT string_agg(num, ', ')\n    FROM (\n        SELECT DISTINCT c.numero::text AS num\n        FROM cardapio AS c\n        WHERE ( c.nome ILIKE '%' || '{{ $json.arguments.nome }}' || '%' or   c.palavras_chave  ILIKE '%' || '{{ $json.arguments.nome }}' || '%')\n          AND categoria  = '{{ $json.arguments.categoria }}' and  categoria  = 'borda'\n    )\n))\n   \n   ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2816,-1616],"id":"97c69f00-c1a3-4404-a61b-557c36386d57","name":"ConsultaBorda2","alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,-1616],"id":"0994e1e4-4786-49bb-a095-ea1b68215f90","name":"Edit Fields"},{"parameters":{"operation":"get","tableId":"usuario","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Dados Lead').item.json.IdConversa.trim() }}"},{"keyName":"id_empresa","keyValue":"={{ $('DadosEmpresa').item.json.id_empresa }}"}]}},"id":"08bda7f0-0c68-4853-9115-6450f30d3aba","name":"Encontrar Cliente1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-8576,-96],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3419c30f-4400-401b-bf40-db1579507f96","leftValue":"={{ $json.user_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"e44345a0-982f-41ff-b97d-fac33fd4d58b","name":"Cliente Existe?1","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-8352,-96],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"## Gatilho\nChat Trigger, WhatsApp, Instagram, Telegram, Messenger, etc..","height":572,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-10944,-256],"id":"5e80ef24-5a12-4673-a91f-ad1972f646cd","name":"Sticky Note2"},{"parameters":{"assignments":{"assignments":[{"id":"9f488c5c-0b3b-48e9-87b1-5a22d513d1ec","name":"IdConversa","value":"={{ $('Webhook1').item.json.body.data.key.remoteJid.replace(\"@s.whatsapp.net\",\"\") }}","type":"string"},{"id":"69f6217f-9063-423f-abf4-e94f6b70f94e","name":"LeadNome","value":"= {{ $('Webhook1').item.json.body.data.pushName }}","type":"string"},{"id":"6ba1d721-f125-47fb-ad7b-194cc478a856","name":"input_usuario","value":"={{ $('Webhook1').item.json.body.data.message.conversation }}","type":"string"},{"id":"ba4188f4-3672-477b-a776-7eadc863140c","name":"mensagem_usuario","value":"={{ $('Webhook1').item.json.body.data.message.conversation }}","type":"string"},{"id":"33d4eb69-2991-4188-8b18-2ac04b7b2f74","name":"telefoneEmpresa","value":"={{ $('Webhook1').item.json.body.sender.replace(\"@s.whatsapp.net\",\"\") }}","type":"string"},{"id":"8231bcd2-8b3a-460a-b0ea-2b933a6b9804","name":"instance","value":"={{ $('Webhook1').item.json.body.instance }}","type":"string"},{"id":"198cfcfe-5eea-41f8-80a8-09aaeef5e6e5","name":"apikey","value":"={{ $('Webhook1').item.json.body.apikey }}","type":"string"}]},"options":{}},"id":"b4b59140-e05c-4c58-be33-4e867fc3a56c","name":"Dados Lead","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-9616,-16],"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"Ajustes os filtros necessários conforme seu gatilho de entrada","height":280,"width":190,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-10080,-96],"id":"3a654439-8402-4d00-97f6-79aa9cf9c54a","name":"Sticky Note1"},{"parameters":{"content":"Ajuste tempos de buffer e inatividade do agente conforme necessidade.\n","height":280,"width":190,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-10432,-112],"id":"35eab61c-ee70-4235-a86f-0197c90879cd","name":"Sticky Note18"},{"parameters":{"assignments":{"assignments":[{"id":"3bdce7b6-d0f1-442c-aafd-8cd123aa21b6","name":"EsperaBuffer","value":1,"type":"number"},{"id":"c38e8985-4494-40a4-878e-f25467849842","name":"TempoInatividadeAgente","value":150,"type":"number"},{"id":"ac619a5e-1438-4e19-aaf5-21dfcbc32312","name":"ModeloTemperatura","value":0.4,"type":"number"},{"id":"cd3b0a32-e454-406e-84ad-b5efedc9c545","name":"empresa","value":"1","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-10400,-16],"id":"0cec1b8a-5935-4d0f-a5ef-923e2e0a32f3","name":"Parametros Fluxo","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00d2650d-52f9-4bf5-9b50-ec548c105222","leftValue":"={{ $json.lead_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7776,-112],"id":"074855da-fe4c-4b80-a5e5-78f6b3cefd44","name":"Concatena"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"204f54b0-e3ed-4ff4-8302-8c20d3b8aa78","leftValue":"={{ $('Webhook1').item.json.body.isGroup }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"c51986d9-f347-4198-89bb-9e4cd0f021c9","leftValue":"={{ $('Webhook1').item.json.body.broadcast }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"05ee6414-0164-473b-8f82-225cfba55ad2","leftValue":"={{ $('Webhook1').item.json.body.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"9c856adf-4ab0-4cf1-b131-9d8e97e7a9ff","name":"Filtro Inicial1","type":"n8n-nodes-base.filter","typeVersion":2.1,"position":[-10032,-16],"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"id":"8a7e9a52-2342-4ef4-a5c6-802ca41899d1","name":"MergePedido","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-6784,-112],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data","options":{"language":"pt"}},"id":"ab21c6cb-71c9-4ee2-96f2-05c0267e3d43","name":"Transcrever Áudio1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[-11456,-1792],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"=#Instruções\nO usuário te enviou uma imagem a qual você deve descrever.\n\nA imagem pode vir acompanhada de uma mensagem de texto (<MensagemUsuario>)\n\nCaso venha, utilize a mensagem anexa como contexto extra, tente capturar o sentimento da mensagem e objetivo pelo qual o usuário esteja enviando esta imagem na conversa.\n\nCrie uma resposta descrevendo as informações enviadas para que estas sejam utilizadas por um agente no futuro.\n\nLembre-se:\nEste agente apenas terá as informações que você fornecer, portanto repasse toda informação que julgar importante.\n\n#Dados\n<MensagemUsuario>\n{{ $json.MensagemImagem }}\n</MensagemUsuario>\n","inputType":"base64","options":{}},"id":"37c90496-e110-43b4-a75b-8a6e9063f1ab","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[-11456,-1632],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"amount":"={{ $('Parametros Fluxo').item.json.EsperaBuffer }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-10656,-1728],"id":"ae8700b4-0d63-47e9-9bec-1ae5f7f7612f","name":"Wait1","webhookId":"169ea291-c3dc-4bca-854f-05520c979d7d","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"get","propertyName":"messages","key":"={{ $('Dados Lead').item.json.IdConversa }}_buffer","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-10864,-1712],"id":"a2826ca9-478b-4ab7-bf6b-08af6fcac21e","name":"Buffer ","credentials":{"redis":{"id":"AvuP6JWzf8sxsD3n","name":"Redis account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"get","propertyName":"messages","key":"={{ $('Dados Lead').item.json.IdConversa }}_buffer","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-10480,-944],"id":"4b174a95-0570-4f41-930f-d030ca202eb4","name":"Buffer 3","credentials":{"redis":{"id":"AvuP6JWzf8sxsD3n","name":"Redis account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"push","list":"={{ $('Dados Lead').item.json.IdConversa }}_buffer","messageData":"={{ $json.Texto }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-11152,-2112],"id":"0b8bdf4a-b6fe-4db8-8f8a-fe168fc99662","name":"Add Texto Buffer1","credentials":{"redis":{"id":"AvuP6JWzf8sxsD3n","name":"Redis account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"delete","key":"={{ $('Dados Lead').item.json.IdConversa }}_buffer"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-10160,-1024],"id":"5dc87651-afbd-43fc-810b-7cedce46572f","name":"Apagar Buffer1","credentials":{"redis":{"id":"AvuP6JWzf8sxsD3n","name":"Redis account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"c1ce011b-bd95-468e-863e-f2076f644cf9","name":"Texto","value":"={{ $('Webhook1').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-11936,-2112],"id":"1f82d914-c4e4-4ceb-8dab-b953ce341fe3","name":"Mensagem Texto1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"5efc6961-1ff7-4ef2-a772-7e9761592a3e","name":"Audio","value":"={{ $('Webhook1').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-11936,-1792],"id":"2ec8c250-865d-4b04-94ec-141491f07851","name":"Mensagem Audio1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"5efc6961-1ff7-4ef2-a772-7e9761592a3e","name":"Imagem","value":"={{ $('Webhook1').item.json.body.data.message.base64 }}","type":"string"},{"id":"f5c70ab5-7671-4bc8-9d23-65b8954ddb08","name":"MensagemImagem","value":"={{ $('Webhook1').item.json.body.data.message.imageMessage.caption }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-11936,-1632],"id":"8add8f24-0247-4d11-bbe3-2772a7d7b222","name":"Mensagem Imagem1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"push","list":"={{ $('Dados Lead').item.json.IdConversa }}_buffer","messageData":"={{ $json.text }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-11152,-1792],"id":"0c9389b4-d044-4cc6-824e-f38bac37d6fc","name":"Add Audio Buffer1","credentials":{"redis":{"id":"AvuP6JWzf8sxsD3n","name":"Redis account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"push","list":"={{ $('Dados Lead').item.json.IdConversa }}_buffer","messageData":"={{ $json.Erro }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-11152,-1296],"id":"e4ea53ab-e073-4776-9bbd-0b081c557e2d","name":"Add Error Buffer1","credentials":{"redis":{"id":"AvuP6JWzf8sxsD3n","name":"Redis account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-11456,-1472],"id":"616b1b2b-1726-46d2-8fd9-5645c54c76d8","name":"Extract from File","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"11dc126a-e72e-431b-8db5-c78168c69439","name":"Erro","value":"<ErroFormatoMensagem>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-11936,-1296],"id":"1a113535-e64f-4364-8ef5-c3ef9d6d76fc","name":"Mensagem Erro1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"push","list":"={{ $('Dados Lead').item.json.IdConversa }}_buffer","messageData":"=<ContextoPDF>\n  <TranscricaoPDF>\n{{ $json.text }}\n  </TranscricaoPDF>\nContexto Extra: O usuário encaminhou a mensagem a seguir junto ao PDF.\n  <MensagemUsuario>\n{{ $('Mensagem Documento PDF').item.json.MensagemDocumento }}\n  </MensagemUsuario>\n</ContextoPDF>","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-11152,-1472],"id":"68d323b3-2b70-421f-a99a-cffcc48c5b9e","name":"Add PDF Buffer1","credentials":{"redis":{"id":"AvuP6JWzf8sxsD3n","name":"Redis account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"push","list":"={{ $('Dados Lead').item.json.IdConversa }}_buffer","messageData":"=<ContextoImagem>\n\n  <DetalheImagem>\n{{ $json.content }}\n  </DetalheImagem>\n\nContexto Extra: O usuário encaminhou a mensagem a seguir junto á imagem.\n  <MensagemUsuario>\n{{ $('Mensagem Imagem1').item.json.MensagemImagem }}\n  </MensagemUsuario>\n\n</ContextoImagem>","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-11152,-1632],"id":"2596afad-0617-496a-abfd-01b13bf81275","name":"Add Imagem Buffer1","credentials":{"redis":{"id":"AvuP6JWzf8sxsD3n","name":"Redis account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"get","propertyName":"AgenteStatus","key":"={{ $('Parametros Fluxo').item.json.IdAgente }}_status_{{ $('Dados Lead').item.json.IdConversa }}\n\n ","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-12928,-912],"id":"6c0df4a9-946b-445c-9eba-6dd22b4c796b","name":"Redis","credentials":{"redis":{"id":"AvuP6JWzf8sxsD3n","name":"Redis account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-9920,-848],"id":"c4f11d02-ad40-40bd-ad51-4e86f0679f86","name":"No Operation, do nothing6","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"756ab323-31a2-4a59-92e8-c2c695027962","leftValue":"={{ $json.AgenteStatus }}","rightValue":"Desativado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-12448,-1760],"id":"e66008d8-6989-4513-8c8e-144a644b2253","name":"Bot Desativado?1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"5efc6961-1ff7-4ef2-a772-7e9761592a3e","name":"Documento","value":"={{ $('Webhook1').item.json.body.data.message.base64 }}","type":"string"},{"id":"003323ec-ffbe-4c91-b8b5-623466b5014d","name":"MensagemDocumento","value":"={{ $('Webhook1').item.json.body.data.message.documentWithCaptionMessage.message.documentMessage.caption }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-11936,-1472],"id":"20dffd6a-302c-4156-80da-2261236a3648","name":"Mensagem Documento PDF","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"toBinary","sourceProperty":"Imagem","options":{"mimeType":"image/png"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-11680,-1632],"id":"94ffb248-7932-40dd-a8bc-7c6de8deb65e","name":"Convert to File"},{"parameters":{"operation":"toBinary","sourceProperty":"Audio","options":{"mimeType":"audio/mp4"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-11680,-1792],"id":"2cd50f52-97bf-4db5-9e5b-c22d3792a474","name":"Convert to File1"},{"parameters":{"operation":"toBinary","sourceProperty":"Documento","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-11680,-1472],"id":"ec129a6f-6660-47ed-b814-cb290673ee40","name":"Convert to File2"},{"parameters":{"assignments":{"assignments":[{"id":"c1ce011b-bd95-468e-863e-f2076f644cf9","name":"Texto","value":"={{ $('Webhook1').item.json.body.data.message.extendedTextMessage.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-11936,-1952],"id":"3624f6c3-cc0d-43f2-80f4-b1de5877a838","name":"Mensagem Texto2","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"66a91f66-e755-4120-b22f-44c814f56162","name":"message","value":"={{ $('Webhook1').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-8768,-96],"id":"5ad65556-1450-475a-94ad-51ea9a97ccba","name":"MensagemTraduzida","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"jsCode":" const input =  $input.first().json.comando_normalizado || $input.first().json.message || \"\";\nlet clean = input.toLowerCase().trim();\nlet tokens = clean.split(/\\s+/);\n\n// Mapa de palavras para números (quando a 1ª palavra é quantidade)\nconst mapaQtd = { \"uma\":\"1\", \"um\":\"1\", \"duas\":\"2\", \"dois\":\"2\", \"três\":\"3\", \"tres\":\"3\", \"quatro\":\"4\", \"cinco\":\"5\" };\nif (mapaQtd[tokens[0]]) {\n  tokens[0] = mapaQtd[tokens[0]];\n  clean = tokens.join(\" \");\n}\n\n// Normaliza plural básico (caso o pré-LLM não tenha feito)\nif (tokens[1] === \"pizzas\") {\n  tokens[1] = \"pizza\";\n  clean = tokens.join(\" \");\n}\n\n// Resposta padrão (com sugestão educada)\nlet resultado = {\n  original: input,\n  comando: clean,\n  valido: false,\n  tipo: null,\n  erro: \"não entendi seu comando\",\n  sugestao: `O seu pedido ou comando não foi identificado. Você quis dizer: ${clean} ?`\n};\n\n// --- Caso 1: Pizza inteira ---\n// \"1 pizza 14\", \"1 pizza mussarela grande\"\nif (\n  tokens.length >= 3 &&\n  /^\\d+$/.test(tokens[0]) &&\n  tokens[1] === \"pizza\" &&\n  !tokens.includes(\"1/2\")\n) {\n  resultado = {\n    original: input,\n    comando: clean,\n    valido: true,\n    tipo: \"pizza_inteira\",\n    acao: \"adicionar_item\"\n  };\n}\n\n// --- Caso 2: Pizza fracionada ---\n// \"1 pizza 1/2 14 e 1/2 19\"  (aceita nomes no lugar de números)\nelse if (\n  /^\\d+$/.test(tokens[0]) &&\n  tokens[1] === \"pizza\" &&\n  tokens.filter(t => t === \"1/2\").length === 2\n) {\n  resultado = {\n    original: input,\n    comando: clean,\n    valido: true,\n    tipo: \"pizza_fracionada\",\n    acao: \"adicionar_item\"\n  };\n}\n\n// --- Caso 3: Esfirra ---\n// \"1 esfirra carne\"\nelse if (\n  tokens.length >= 3 &&\n  /^\\d+$/.test(tokens[0]) &&\n  tokens[1] === \"esfirra\"\n) {\n  resultado = {\n    original: input,\n    comando: clean,\n    valido: true,\n    tipo: \"esfirra\",\n    acao: \"adicionar_item\"\n  };\n}\n\n// --- Caso 4: Bebida ---\n// \"1 coca cola 2l\", \"2 guarana 350ml\", \"1 água 500ml\", \"1 heineken long neck\"\nelse if (\n  /^\\d+$/.test(tokens[0]) &&\n  /\\b(coca(?:\\s+cola)?|cola|guaran[áa]|heineken|bud(?:weiser)?|cerveja|agua|água|fanta|sprite)\\b/.test(clean)\n) {\n  resultado = {\n    original: input,\n    comando: clean,\n    valido: true,\n    tipo: \"bebida\",\n    acao: \"adicionar_item\"\n  };\n}\n\n// --- Caso 5: Adicionar ingrediente ---\n// \"adicionar mussarela item 1\", \"adicionar ingrediente cheddar ao item 3\"\nelse if (\n  tokens[0] === \"adicionar\" &&\n  tokens.includes(\"item\")\n) {\n  resultado = {\n    original: input,\n    comando: clean,\n    valido: true,\n    tipo: \"adicionar_item\",\n    acao: \"adicionar_item\"\n  };\n}\n\n// --- Caso 6: Excluir item ---\n// \"excluir item 1\", \"excluir 2\"\nelse if (\n  tokens[0] === \"excluir\" &&\n  (\n    (tokens[1] === \"item\" && /^\\d+$/.test(tokens[2])) ||\n    (/^\\d+$/.test(tokens[1]))\n  )\n) {\n  resultado = {\n    original: input,\n    comando: clean,\n    valido: true,\n    tipo: \"excluir_item\",\n    acao: \"excluir_item\"\n  };\n}\n\nreturn resultado;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-9552,-864],"id":"875f6bb3-18a1-4a94-8c94-79b12dd33cbf","name":"Validador"},{"parameters":{"content":"Ajuste tempos de buffer e inatividade do agente conforme necessidade.\n","height":968,"width":1822},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-12352,-2112],"id":"5471a1f8-e51a-4a79-bfd0-5a4782e1832a","name":"Sticky Note19"},{"parameters":{"operation":"executeQuery","query":"select  id_empresa::int  from empresa_telefones where telefone = '{{ $json.telefoneEmpresa }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-9440,-16],"id":"abc202a1-3048-4b38-b587-122d3eaef4f6","name":"Execute a SQL query1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"ae27ddc3-121b-470f-a83c-a7b53f38c0da","name":"id_empresa","value":"={{ $json.id_empresa }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-9216,0],"id":"0e6d0a06-c4ab-4508-b647-77a6979880cf","name":"DadosEmpresa"},{"parameters":{"assignments":{"assignments":[{"id":"7413dfd7-1dbd-4551-be34-2e1c6e8181ec","name":"texto","value":"={{ $json.messages[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-10000,-1072],"id":"70b3b9d5-cec1-425e-b364-52e7a883ae1c","name":"FielsMsgBuffer"},{"parameters":{"jsCode":" const input =  $('Webhook1').first().json.body.data.message.conversation   || \"\";\n\n// 1) minúsculas\nlet clean = input.toLowerCase();\n\n// 2) remove moeda: \"r$\", \"r $\", \"$\"\nclean = clean.replace(/r\\s*\\$/gi, \"\").replace(/\\$/g, \"\");\n\n// 3) remove o \"r\" (ou qualquer letra) deixado ANTES de número/1/2: \"r 6\", \"r 1/2\"\nclean = clean.replace(/\\b[a-zà-ÿ]\\s+(?=(\\d|1\\/2)\\b)/gi, \"\");\n\n// 4) mantém só letras/números/espaço e \"/\" (tira resto de símbolos)\nclean = clean.replace(/[^0-9a-zà-ÿ\\s/,.]/g, \" \");\n\n// 5) normaliza plurais comuns\nclean = clean.replace(/\\bpizzas\\b/g, \"pizza\")\n             .replace(/\\besfirras\\b/g, \"esfirra\");\n\n// 6) palavras de quantidade -> número (antes de \"pizza\")\nclean = clean.replace(/\\b(uma|um)\\b(?=\\s+pizza\\b)/g, \"1\")\n             .replace(/\\b(duas|dois)\\b(?=\\s+pizza\\b)/g, \"2\")\n             .replace(/\\b(três|tres)\\b(?=\\s+pizza\\b)/g, \"3\");\n\n// 7) \"meia\" -> \"1/2\"\nclean = clean.replace(/\\bmeia\\b/g, \"1/2\");\n\n// 8) corrige \"6,19\" ou \"6.19\" -> \"1/2 19\"\nclean = clean.replace(/6[,.](\\d{1,2})\\b/g, \"1/2 $1\");\n\n// 9) padrão da transcrição \"6 14 e 6 19\" -> \"1 pizza 1/2 14 e 1/2 19\"\nclean = clean.replace(/\\b6\\s+(\\d{1,2})(?:\\s*[,;]?\\s*e\\s*)6\\s+(\\d{1,2})\\b/g, \"1 pizza 1/2 $1 e 1/2 $2\");\n\n// 10) remove vírgulas/pontos remanescentes que grudem nos números (ex.: \"17,\" -> \"17\")\nclean = clean.replace(/[,.]/g, \" \");\n\n \n\n// 12) compacta espaços\nclean = clean.replace(/\\s+/g, \" \").trim();\n\nreturn { original: input, comando_normalizado: clean };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-9472,-880],"id":"83a462c1-e149-426e-8fff-95346ce6d1e3","name":"Normalizador"},{"parameters":{"method":"POST","url":"=https://evolution.lglducci.com.br/message/sendText/LaCantina","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=E9C6EA4E47E7-4905-BC38-475CBACA3F1E"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook1').item.json.body.data.key.remoteJid.replace(\"@s.whatsapp.net\",\"\") }}"},{"name":"text","value":"teste Conversational"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-14608,-1104],"id":"1ee948ca-289c-43a1-92cd-a8605b1d78db","name":"HTTP Request"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bd6c365-d077-4284-9dfe-94db1cbe39bd","leftValue":"={{ $('Buffer 3').item.json.messages.last() }}","rightValue":"={{ $('Buffer ').item.json.messages.last() }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-10320,-944],"id":"f030e507-cdc0-49cf-ad6a-69c393125ff8","name":"ComparandoMensagens1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"tableId":"usuario","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $('Dados Lead').item.json.LeadNome }}"},{"fieldId":"telefone","fieldValue":"={{ $('Dados Lead').item.json.IdConversa.trim() }}"},{"fieldId":"id_empresa","fieldValue":"={{ $('DadosEmpresa').item.json.id_empresa }}"}]}},"id":"3cda29d8-77a2-4767-be39-08f2ee6de0a6","name":"Criar Cliente2","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-7920,128],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"id":"560b1258-0431-42fa-a345-96402227ea1f","name":"Merge4","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-7536,-112],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"## Variáveis do Fluxo\nCentral de controle do workflow","height":540,"width":326,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-10512,-240],"id":"5e3bbe2b-dc7a-44b0-9bc7-a81ae15f0879","name":"Sticky Note13"},{"parameters":{"content":"## Filtros Iniciais\nPara evitar que fluxo seja executado quando não queremos","height":572,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-10144,-256],"id":"99a0c27f-afb8-4c6a-9671-76891ebb28df","name":"Sticky Note14"},{"parameters":{"content":"## Registro do Lead no banco de dados (Supabase)\nFluxo para adição do lead no banco de dados postgrees supabase.","height":684,"width":2536,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-8880,-272],"id":"cb93d528-f8df-4a26-bd2a-e38a31ecf919","name":"Sticky Note15"},{"parameters":{"content":"## Mensagem para o Agente\nMensagem final do usuário para o agente","height":284,"width":836,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-10592,-1168],"id":"b2f8a1f5-7305-410a-a0cc-61d045b8dbc3","name":"Sticky Note16"},{"parameters":{"httpMethod":"POST","path":"fluxovendas","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-10784,-16],"id":"419312b6-d8b4-4a13-91b9-a0af7d0cbe55","name":"Webhook1","webhookId":"66949457-5339-4325-b499-9a15d57ff6a1"},{"parameters":{"tableId":"pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('Merge4').item.json.user_id }}"},{"fieldId":"status","fieldValue":"enviado"},{"fieldId":"valor","fieldValue":"0"},{"fieldId":"id_empresa","fieldValue":"={{ $('DadosEmpresa').item.json.id_empresa }}"}]}},"id":"752aa530-a90d-4af0-8e18-92b5258b0377","name":"CriaPedido1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6960,48],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3419c30f-4400-401b-bf40-db1579507f96","leftValue":"={{ $json.user_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"8274023d-b310-428d-b1e6-309a766e63a6","name":"Cliente Pedido1","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-7104,-112],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"get","tableId":"pedido_temp","filters":{"conditions":[{"keyName":"user_id","keyValue":"={{ $('Merge4').item.json.user_id }}"},{"keyName":"id_empresa","keyValue":"={{$json.id_empresa}}"}]}},"id":"146cbfa0-8ddb-4483-9d74-97d555cd47a3","name":"EncontrarPedido1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-7280,-112],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"Ajuste o Node Set com os campos relevantes fornecidos.\n","height":280,"width":706,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-9728,-96],"id":"4899ea3b-a757-4423-8e96-489ded9f8c1a","name":"Sticky Note17"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"bc64f125-d93c-4d1d-97ae-65c0adb08b79","leftValue":"={{ $('Webhook1').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f7053057-3e82-49ad-a2bf-07bafc958f06","leftValue":"={{ $('Webhook1').item.json.body.data.messageType }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"137aec3f-e95e-4d59-b9ba-1140f9fc4fb4","leftValue":"={{ $('Webhook1').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook1').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals"},"id":"40b284c8-fdf7-49e5-9ac3-8c5051f51521"}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7babc8fd-200c-4cb8-bc63-f999f57d5217","leftValue":"={{ $('Webhook1').item.json.body.data.message.documentWithCaptionMessage.message.documentMessage.mimetype }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Outro"}},"id":"a0709f46-c253-43fb-8fd1-59c92b02ce56","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3.1,"position":[-12160,-1776],"notesInFlow":true,"notes":"Ajustar condições para cada tipo de mensagem a depender da sua entrada de dados\n\nTEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-12288,-1984],"id":"7d2bb3ab-5af2-4bea-a3d2-eef482d936d8","name":"No Operation, do nothing1"},{"parameters":{"content":"## Mensagem para o Agente\nMensagem final do usuário para o agente","height":1084,"width":1988,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-12432,-2176],"id":"838ba1e1-fde6-42f0-9d4c-bebe578ce571","name":"Sticky Note20"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"a697a210-b5d3-464c-9a05-6929ed13a44d","name":"[OpenAI] Criar Thread1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8112,128],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"e84428b6-6d67-4f0b-8f9a-2cabc93a0117","name":"[OpenAI] Criar Thread2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7424,480],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"description":"Chama essa tool para buscar um sabor no cardápio","workflowId":{"__rl":true,"value":"gl0RYjlzfJknufRk","mode":"list","cachedResultName":"ConsultaOnline"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"=1","rotina":7,"telefone":"={{ $('Dados Lead').item.json.IdConversa }}","id_empresa":"=1","pedido_id":16,"mensagem":"={{ $json.arguments.categoria }}  {{ $json.arguments.nome }}","categoria":"={{ $json.arguments.categoria }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"pedido_id","displayName":"pedido_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"rotina","displayName":"rotina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"id_empresa","displayName":"id_empresa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"categoria","displayName":"categoria","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1904,-2224],"id":"0b9be5c3-b870-446c-a789-5a9b82f2efff","name":"ConsultaOnline"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"message.content"}]},"options":{}},"id":"3ec57716-5c3b-4909-9769-56eceee9fb48","name":"Concatenando String1","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-1616,-1872]},{"parameters":{"description":"Essa intenção de compra deve ser executada sempre que for solicitqado","workflowId":{"__rl":true,"value":"gL1FbKkYm9zGfCAA","mode":"list","cachedResultName":"Kernel Pizza"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"=1","pedido_id":"= 16","id_empresa":"=1","rotina":1,"mensagem":"= {{ $json.arguments.quantidade}}    {{ $json.arguments.categoria}} {{ $json.arguments.numero}} {{ $json.arguments.nome}}  {{ $json.arguments.tamanho}}   ","telefone":"={{ $('Dados Lead').item.json.IdConversa }}","instance":"= {{ $('Dados Lead').item.json.instance }}","apikey":"={{ $('Dados Lead').item.json.apikey }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"pedido_id","displayName":"pedido_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"rotina","displayName":"rotina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"id_empresa","displayName":"id_empresa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"instance","displayName":"instance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"apikey","displayName":"apikey","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1936,-1632],"id":"4fb97c34-41e1-4749-a1d2-4d232eaf331c","name":"IntencaoCompra"},{"parameters":{"content":"## Função 3: Get Pizza Carrinho","height":460,"width":1201,"color":5},"id":"abe364c6-59b5-48d5-81b7-c46531905d21","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2160,-1392]},{"parameters":{"assignments":{"assignments":[{"id":"3a3fbf83-7260-4dfa-97f2-4f323816d776","name":"tool_call_id","value":"={{ $('Argumentos da Tools').item.json.id }}","type":"string"},{"id":"3c185636-3fe8-4d4b-8a6b-e3bf5613c503","name":"output","value":"={{ $json.concatenated_message_content }}","type":"string"}]},"options":{}},"id":"d347a6b8-f87b-4211-a949-650d596f15e6","name":"Resposta da Tool postPedidos1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1232,-1296]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"message.content"}]},"options":{}},"id":"ae6ac584-e148-45c3-87c4-4ed0895d5052","name":"Concatenando String2","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-1568,-1296]},{"parameters":{"workflowId":{"__rl":true,"value":"gl0RYjlzfJknufRk","mode":"list","cachedResultName":"ConsultaOnline"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"=1","rotina":1,"telefone":"={{ $('Dados Lead').item.json.IdConversa }}","id_empresa":"=1","mensagem":"=pizza","categoria":"=pizza","pedido_id":16},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"pedido_id","displayName":"pedido_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"rotina","displayName":"rotina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"id_empresa","displayName":"id_empresa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"categoria","displayName":"categoria","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1872,-1072],"id":"7171c819-3c69-4f67-bde3-f9819c922705","name":"Compras"},{"parameters":{"content":"## Função 2:Addiciona Borda Item ","height":492,"width":1201,"color":4},"id":"cad5e8ac-7c1d-4912-9180-32764f88dbda","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2144,-864]},{"parameters":{"assignments":{"assignments":[{"id":"3a3fbf83-7260-4dfa-97f2-4f323816d776","name":"tool_call_id","value":"={{ $('Argumentos da Tools').item.json.id }}","type":"string"},{"id":"3c185636-3fe8-4d4b-8a6b-e3bf5613c503","name":"output","value":"=''","type":"string"}]},"options":{}},"id":"cc63d64c-e859-48cd-b21c-62ff5c6755a7","name":"Resposta da Tool postPedidos2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1216,-768]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"message.content"}]},"options":{}},"id":"005a4cba-8bf4-4ff1-88a2-6cf8f3808c20","name":"Concatenando String3","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-1568,-768]},{"parameters":{"description":"Essa intenção de compra deve ser executada sempre que for solicitqado","workflowId":{"__rl":true,"value":"gL1FbKkYm9zGfCAA","mode":"list","cachedResultName":"Kernel Pizza"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"=1","pedido_id":"= 16","id_empresa":"=1","rotina":1,"mensagem":"= {{ $json.arguments.quantidade}}    {{ $json.arguments.categoria}} {{ $json.arguments.nome}}  add item {{ $json.arguments.item_id}}   ","telefone":"={{ $('Dados Lead').item.json.IdConversa }}","instance":"= {{ $('Dados Lead').item.json.instance }}","apikey":"={{ $('Dados Lead').item.json.apikey }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"pedido_id","displayName":"pedido_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"rotina","displayName":"rotina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"id_empresa","displayName":"id_empresa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"instance","displayName":"instance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"apikey","displayName":"apikey","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1888,-528],"id":"49bc4f66-5f54-4f63-9dff-012a7053d0f0","name":"IntencaoCompraBordaItem"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=O seu objetivo é executar a tool IntencaoCompraBorda()\n \n "}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2032,-768],"id":"82e8999c-21b5-4d0d-a825-af0f4dcb3b86","name":"AddBordaItem","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=O seu objetivo é executar a tool Compras() e mostrar todos os itens do carrinho de pizzas do cliente\n \n ⚙️ REGRAS DE SAÍDA:\n- Se uma tool (função) retornar dados em formato JSON, NÃO reescreva, resuma ou formate como texto.\n- Apenas repasse o conteúdo JSON exato no output.\n- Não acrescente frases, títulos ou explicações.\n- Se precisar mostrar em texto, mantenha também o JSON original abaixo de forma literal.\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2016,-1296],"id":"b9226309-5909-4cc7-8e49-63ff296372f8","name":"GetCarrinho","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=O seu objetivo é executar a tool IntencaoCompra()\n \n "}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2080,-1872],"id":"6c55c31a-7c46-4869-92c8-8898e148b8db","name":"AdicionaItemCompra","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=O seu objetivo é executar a tool ConsultaOnline()\n \n  \n ⚙️ REGRAS DE SAÍDA:\n- Se uma tool (função) retornar dados em formato JSON, NÃO reescreva, resuma ou formate como texto.\n- Apenas repasse o conteúdo JSON exato no output.\n- Não acrescente frases, títulos ou explicações.\n- Se precisar mostrar em texto, mantenha também o JSON original abaixo de forma literal.\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2064,-2464],"id":"6f436578-991d-464f-b62c-57290a6ade79","name":"ConsultaProduto","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"content":"## Função 2: Add Pizza Carrinho","height":492,"width":1201,"color":3},"id":"c70061aa-afe7-4175-ae85-bf42be16dbe1","name":"Sticky Note21","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2192,-208]},{"parameters":{"assignments":{"assignments":[{"id":"3a3fbf83-7260-4dfa-97f2-4f323816d776","name":"tool_call_id","value":"={{ $('Argumentos da Tools').item.json.id }}","type":"string"},{"id":"3c185636-3fe8-4d4b-8a6b-e3bf5613c503","name":"output","value":"=''","type":"string"}]},"options":{}},"id":"ddb70509-e1c6-4d7c-8a25-5b4ccb5d3009","name":"Resposta da Tool postPedidos3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1200,-160]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"message.content"}]},"options":{}},"id":"7c6dd597-f63b-4ac1-8095-6f3e2a048d2b","name":"Concatenando String4","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-1552,-160]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=O seu objetivo é executar a tool IntencaoCompraFracionada()\n\n \n ⚙️ REGRAS DE SAÍDA:\n- Se uma tool (função) retornar dados em formato JSON, NÃO reescreva, resuma ou formate como texto.\n- Apenas repasse o conteúdo JSON exato no output.\n- Não acrescente frases, títulos ou explicações.\n- Se precisar mostrar em texto, mantenha também o JSON original abaixo de forma literal.\n\n "}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2016,-160],"id":"e03bce02-6df5-4f5e-bf5a-91f1bd607e1e","name":"AdicionaItemCompraFracionada","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"description":"Essa intenção de compra deve ser executada sempre que for solicitqado","workflowId":{"__rl":true,"value":"gL1FbKkYm9zGfCAA","mode":"list","cachedResultName":"Kernel Pizza"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"=1","pedido_id":"= 16","id_empresa":"=1","rotina":1,"mensagem":"= {{ $json.arguments.quantidade}}   {{ $json.arguments.categoria}} 1/2 {{ $json.arguments.numero_metade1}}  1/2 {{ $json.arguments.numero_metade2}}   grande","telefone":"={{ $('Dados Lead').item.json.IdConversa }}","instance":"= {{ $('Dados Lead').item.json.instance }}","apikey":"={{ $('Dados Lead').item.json.apikey }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"pedido_id","displayName":"pedido_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"rotina","displayName":"rotina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"id_empresa","displayName":"id_empresa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"instance","displayName":"instance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"apikey","displayName":"apikey","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1872,80],"id":"d31462b4-1751-4fc7-949c-536d334edb04","name":"IntencaoCompraFracionada"},{"parameters":{"content":"## Função 3: Get Pizza Carrinho","height":492,"width":1361,"color":5},"id":"8affdcaf-e5f5-4f50-81c2-f5a122dcf52d","name":"Sticky Note22","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2240,416]},{"parameters":{"assignments":{"assignments":[{"id":"3a3fbf83-7260-4dfa-97f2-4f323816d776","name":"tool_call_id","value":"={{ $('Argumentos da Tools').item.json.id }}","type":"string"},{"id":"3c185636-3fe8-4d4b-8a6b-e3bf5613c503","name":"output","value":"={{ $json.concatenated_message_content }}","type":"string"}]},"options":{}},"id":"62e9f726-be3c-4064-8b06-1344adb99b27","name":"Resposta da Tool postPedidos4","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1088,496]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"message.content"}]},"options":{}},"id":"4f0edd12-28ce-464b-8eab-1d3a36b5376b","name":"Concatenando String5","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-1424,496]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=O seu objetivo é executar a tool Carrinho() e mostrar todos os itens do carrinho total do  cliente\n \n ⚙️ REGRAS DE SAÍDA:\n- Se uma tool (função) retornar dados em formato JSON, NÃO reescreva, resuma ou formate como texto.\n- Apenas repasse o conteúdo JSON exato no output.\n- Não acrescente frases, títulos ou explicações.\n- Se precisar mostrar em texto, mantenha também o JSON original abaixo de forma literal.\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1872,496],"id":"82f4c51a-6a03-47c3-a556-c5d01f378332","name":"MinhasCompras","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"item_pedido_temp","mode":"list","cachedResultName":"item_pedido_temp"},"deleteCommand":"delete","where":{"values":[{"column":"user_id","value":"= 1"},{"column":"status","condition":"!=","value":"concluido"},{"column":"id_empresa","value":"=1"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2160,496],"id":"b9a94799-95a7-4672-8fdf-7809b9aa4124","name":"ExcluiRejeitados1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[224,784],"id":"019a72d0-a95f-4697-baf5-6e2c3aafc3f9","name":"No Operation, do nothing25","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"description":"Essa intenção de compra deve ser executada sempre que for solicitqado","workflowId":{"__rl":true,"value":"gL1FbKkYm9zGfCAA","mode":"list","cachedResultName":"Kernel Pizza"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"=1","pedido_id":"= 16","id_empresa":"=1","rotina":4,"mensagem":"=Carrinho","telefone":"={{ $('Dados Lead').item.json.IdConversa }}","instance":"= {{ $('Dados Lead').item.json.instance }}","apikey":"={{ $('Dados Lead').item.json.apikey }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"pedido_id","displayName":"pedido_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"rotina","displayName":"rotina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"id_empresa","displayName":"id_empresa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"instance","displayName":"instance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"apikey","displayName":"apikey","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1792,784],"id":"16176a85-4894-467d-acc3-10ea492cc059","name":"Carrinho"},{"parameters":{"operation":"executeQuery","query":"select * from  cancela_pre_pedido(1, 16  ,1);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2192,1408],"id":"eae483de-03a7-4496-a75d-3c9c97578e33","name":"CancelarPedido","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"3a3fbf83-7260-4dfa-97f2-4f323816d776","name":"tool_call_id","value":"={{ $('Argumentos da Tools').item.json.id }}","type":"string"},{"id":"3c185636-3fe8-4d4b-8a6b-e3bf5613c503","name":"output","value":"={{ $json.concatenated_cancela_pre_pedido }}","type":"string"}]},"options":{}},"id":"a27bc731-4a75-483b-aedc-842caf63a3f2","name":"Resposta da Tool postPedidos5","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1488,1024]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"cancela_pre_pedido"}]},"options":{}},"id":"9b71b5d6-5ce9-4081-a179-494583918a5a","name":"Concatenando String6","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-1824,1024]},{"parameters":{"operation":"executeQuery","query":"select * from  cancela_pre_pedido( {{ $('Concatena').item.json.user_id }}, {{ $('MergePedido').item.json.pedido_id }}  ,  \n {{ $('DadosEmpresa').item.json.id_empresa }});","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2064,1024],"id":"dd132708-87c3-474a-9201-5eeff31da7d6","name":"CancelarPedido1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}}],"connections":{"Simplificação de Dados":{"main":[[{"node":"Buscar Cliente","type":"main","index":0}]]},"Filtro Inicial":{"main":[[{"node":"Simplificação de Dados","type":"main","index":0}]]},"Buscar Cliente":{"main":[[{"node":"Cliente Existe?","type":"main","index":0}]]},"Cliente Existe?":{"main":[[{"node":"Buscar Cliente1","type":"main","index":0}],[{"node":"[OpenAI] Criar Thread","type":"main","index":0}]]},"Criar Cliente":{"main":[[{"node":"Merge","type":"main","index":1}]]},"(Z-API) Enviar Mensagem":{"main":[[]]},"Merge":{"main":[[{"node":"EncontrarPedido","type":"main","index":0}]]},"[OpenAI] Criar Thread":{"main":[[{"node":"Criar Cliente","type":"main","index":0}]]},"[OpenAI] Criar Run":{"main":[[{"node":"Espera 3 seg","type":"main","index":0}]]},"Espera 3 seg":{"main":[[{"node":"[OpenAI] Buscar Status da Run","type":"main","index":0}]]},"[OpenAI] Listar Runs":{"main":[[{"node":"[OpenAI] Cancelar Run","type":"main","index":0}]]},"[OpenAI] Adicionar Mensagem na Thread":{"main":[[{"node":"[OpenAI] Criar Run","type":"main","index":0}],[{"node":"[OpenAI] Listar Runs","type":"main","index":0}]]},"[OpenAI] Cancelar Run":{"main":[[{"node":"[OpenAI] Adicionar Mensagem na Thread","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Dados individuais das tools","type":"main","index":0}]]},"Dados individuais das tools":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Argumentos da Tools":{"main":[[{"node":"Switch","type":"main","index":0}]]},"[OpenAI] Buscar Status da Run":{"main":[[{"node":"Qual o status da Run?","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Responder a Function Calling","type":"main","index":0}]]},"Parâmentros das Tools":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Qual o status da Run?":{"main":[[{"node":"Parâmentros das Tools","type":"main","index":0}],[{"node":"[OpenAI] Listar Mensagens Thread","type":"main","index":0}],[{"node":"Espera 3 seg","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Buscar Produtos pelo Nome":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Concatenando String":{"main":[[{"node":"Resposta da Tool Get_Pizza","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Argumentos da Tools","type":"main","index":0}]]},"Responder a Function Calling":{"main":[[{"node":"Espera 3 seg","type":"main","index":0}]]},"[OpenAI] Listar Mensagens Thread":{"main":[[{"node":"MenuCardapio44","type":"main","index":0}]]},"Merge1":{"main":[[]]},"Switch":{"main":[[{"node":"ConsultaProduto","type":"main","index":0}],[{"node":"AdicionaItemCompra","type":"main","index":0}],[{"node":"GetCarrinho","type":"main","index":0}],[{"node":"AddBordaItem","type":"main","index":0}],[{"node":"AdicionaItemCompraFracionada","type":"main","index":0}],[{"node":"ExcluiRejeitados1","type":"main","index":0}],[{"node":"CancelarPedido1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Buscar Produtos pelo Nome","type":"main","index":0}],[{"node":"Buscar protudos pela categoria","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Filtro Inicial","type":"main","index":0}]]},"Buscar protudos pela categoria":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Buscar Cliente1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"MenuCardapio44":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"item1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[]]},"ConsultaBorda1":{"main":[[]]},"Resposta da Tool postPedidos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"CriaPedido":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Cliente Pedido":{"main":[[{"node":"Merge2","type":"main","index":0}],[{"node":"CriaPedido","type":"main","index":0}]]},"EncontrarPedido":{"main":[[{"node":"Cliente Pedido","type":"main","index":0}]]},"Merge2":{"main":[[]]},"Construindo String4":{"main":[[{"node":"Resposta da Tool GetPedidos","type":"main","index":0}]]},"Resposta da Tool GetPedidos":{"main":[[{"node":"[OpenAI] Adicionar Mensagem na Thread","type":"main","index":0}]]},"Resposta da Tool Get_Pizza":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Item":{"main":[[]]},"If":{"main":[[{"node":"Item","type":"main","index":0}],[]]},"Loop Over Items2":{"main":[[],[{"node":"ConsultaBorda1","type":"main","index":0}]]},"Encontrar Cliente1":{"main":[[{"node":"Cliente Existe?1","type":"main","index":0}]]},"Cliente Existe?1":{"main":[[{"node":"Concatena","type":"main","index":0}],[{"node":"[OpenAI] Criar Thread1","type":"main","index":0}]]},"Dados Lead":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]},"Parametros Fluxo":{"main":[[{"node":"Filtro Inicial1","type":"main","index":0}]]},"Concatena":{"main":[[{"node":"Merge4","type":"main","index":0}],[{"node":"Merge4","type":"main","index":1}]]},"Filtro Inicial1":{"main":[[{"node":"Dados Lead","type":"main","index":0}]]},"MergePedido":{"main":[[{"node":"Construindo String4","type":"main","index":0}]]},"Transcrever Áudio1":{"main":[[{"node":"Add Audio Buffer1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Add Imagem Buffer1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Buffer 3","type":"main","index":0}]]},"Buffer ":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Buffer 3":{"main":[[{"node":"ComparandoMensagens1","type":"main","index":0}]]},"Add Texto Buffer1":{"main":[[{"node":"Buffer ","type":"main","index":0}]]},"Apagar Buffer1":{"main":[[{"node":"FielsMsgBuffer","type":"main","index":0}]]},"Mensagem Texto1":{"main":[[{"node":"Add Texto Buffer1","type":"main","index":0}]]},"Mensagem Audio1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Mensagem Imagem1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Add Audio Buffer1":{"main":[[{"node":"Buffer ","type":"main","index":0}]]},"Add Error Buffer1":{"main":[[{"node":"Buffer ","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Add PDF Buffer1","type":"main","index":0}]]},"Mensagem Erro1":{"main":[[{"node":"Add Error Buffer1","type":"main","index":0}]]},"Add PDF Buffer1":{"main":[[{"node":"Buffer ","type":"main","index":0}]]},"Add Imagem Buffer1":{"main":[[{"node":"Buffer ","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Bot Desativado?1","type":"main","index":0}]]},"Bot Desativado?1":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Switch2","type":"main","index":0}]]},"Mensagem Documento PDF":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Transcrever Áudio1","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Mensagem Texto2":{"main":[[{"node":"Add Texto Buffer1","type":"main","index":0}]]},"MensagemTraduzida":{"main":[[{"node":"Encontrar Cliente1","type":"main","index":0}]]},"Validador":{"main":[[]]},"Execute a SQL query1":{"main":[[{"node":"DadosEmpresa","type":"main","index":0}]]},"DadosEmpresa":{"main":[[{"node":"MensagemTraduzida","type":"main","index":0}]]},"FielsMsgBuffer":{"main":[[]]},"Normalizador":{"main":[[{"node":"Validador","type":"main","index":0}]]},"ComparandoMensagens1":{"main":[[{"node":"Apagar Buffer1","type":"main","index":0}],[{"node":"No Operation, do nothing6","type":"main","index":0}]]},"Criar Cliente2":{"main":[[{"node":"Concatena","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"EncontrarPedido1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Parametros Fluxo","type":"main","index":0}]]},"CriaPedido1":{"main":[[{"node":"MergePedido","type":"main","index":1}]]},"Cliente Pedido1":{"main":[[{"node":"MergePedido","type":"main","index":0}],[{"node":"CriaPedido1","type":"main","index":0}]]},"EncontrarPedido1":{"main":[[{"node":"Cliente Pedido1","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Mensagem Texto1","type":"main","index":0}],[{"node":"Mensagem Texto2","type":"main","index":0}],[{"node":"Mensagem Audio1","type":"main","index":0}],[{"node":"Mensagem Imagem1","type":"main","index":0}],[{"node":"Mensagem Documento PDF","type":"main","index":0}],[{"node":"Mensagem Erro1","type":"main","index":0}]]},"[OpenAI] Criar Thread1":{"main":[[{"node":"Criar Cliente2","type":"main","index":0}]]},"[OpenAI] Criar Thread2":{"main":[[]]},"ConsultaOnline":{"ai_tool":[[{"node":"ConsultaProduto","type":"ai_tool","index":0}]]},"Concatenando String1":{"main":[[{"node":"Resposta da Tool postPedidos","type":"main","index":0}]]},"IntencaoCompra":{"ai_tool":[[{"node":"AdicionaItemCompra","type":"ai_tool","index":0}]]},"Concatenando String2":{"main":[[{"node":"Resposta da Tool postPedidos1","type":"main","index":0}]]},"Resposta da Tool postPedidos1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Compras":{"ai_tool":[[{"node":"GetCarrinho","type":"ai_tool","index":0}]]},"Concatenando String3":{"main":[[{"node":"Resposta da Tool postPedidos2","type":"main","index":0}]]},"IntencaoCompraBordaItem":{"ai_tool":[[{"node":"AddBordaItem","type":"ai_tool","index":0}]]},"AddBordaItem":{"main":[[{"node":"Concatenando String3","type":"main","index":0}]]},"GetCarrinho":{"main":[[{"node":"Concatenando String2","type":"main","index":0}]]},"AdicionaItemCompra":{"main":[[{"node":"Concatenando String1","type":"main","index":0}]]},"ConsultaProduto":{"main":[[{"node":"Concatenando String","type":"main","index":0}]]},"Concatenando String4":{"main":[[{"node":"Resposta da Tool postPedidos3","type":"main","index":0}]]},"AdicionaItemCompraFracionada":{"main":[[{"node":"Concatenando String4","type":"main","index":0}]]},"IntencaoCompraFracionada":{"ai_tool":[[{"node":"AdicionaItemCompraFracionada","type":"ai_tool","index":0}]]},"Resposta da Tool postPedidos2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Resposta da Tool postPedidos3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Concatenando String5":{"main":[[{"node":"Resposta da Tool postPedidos4","type":"main","index":0}]]},"MinhasCompras":{"main":[[{"node":"Concatenando String5","type":"main","index":0}]]},"Resposta da Tool postPedidos4":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"ExcluiRejeitados1":{"main":[[{"node":"MinhasCompras","type":"main","index":0}]]},"Carrinho":{"ai_tool":[[{"node":"MinhasCompras","type":"ai_tool","index":0}]]},"CancelarPedido":{"main":[[]]},"Concatenando String6":{"main":[[{"node":"Resposta da Tool postPedidos5","type":"main","index":0}]]},"Resposta da Tool postPedidos5":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"CancelarPedido1":{"main":[[{"node":"Concatenando String6","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook1":[{"json":{"headers":{"host":"n8n.lglducci.com.br","user-agent":"axios/1.7.7","content-length":"936","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"159.69.117.195","cf-ipcountry":"DE","cf-ray":"9945e7070e599761-FRA","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/json","x-forwarded-for":"172.69.151.153","x-forwarded-host":"n8n.lglducci.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik_traefik.1","x-real-ip":"172.69.151.153"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"LaCantina","data":{"key":{"remoteJid":"5516992975836@s.whatsapp.net","fromMe":false,"id":"3EB093AE17FC6ACEBD5B2C"},"pushName":"Luis Gustavo Landucci","message":{"conversation":"Sim","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"2uKRt0FvHGKKWg==","senderTimestamp":"1760382036","senderAccountType":"E2EE","receiverAccountType":"E2EE","recipientKeyHash":"wPv/XIryFk6EMg==","recipientTimestamp":"1760388519"},"deviceListMetadataVersion":2,"messageSecret":"NV3HUjeDICpXzKYGLpHv60zvj98oDPU8EPnIonBpHSo="}},"messageType":"conversation","messageTimestamp":1761439227,"instanceId":"cd2747c1-47c6-49d2-9649-45970ef316b7","source":"web"},"destination":"https://n8n.lglducci.com.br/webhook-test/fluxovendas","date_time":"2025-10-25T21:40:27.953Z","sender":"5516994066336@s.whatsapp.net","server_url":"https://evolution.lglducci.com.br","apikey":"E9C6EA4E47E7-4905-BC38-475CBACA3F1E"},"webhookUrl":"https://webhook.lglducci.com.br/webhook-test/fluxovendas","executionMode":"test"}}]},"versionId":"538d1d36-1c11-43c2-8ebf-2824b345889a","triggerCount":2,"shared":[{"createdAt":"2025-09-17T13:36:13.881Z","updatedAt":"2025-09-17T13:36:13.881Z","role":"workflow:owner","workflowId":"SiJ02hfQVfAPp3e3","projectId":"wFRMrac2003Pl1x6"}],"tags":[{"createdAt":"2025-09-17T12:33:06.943Z","updatedAt":"2025-09-17T12:33:06.943Z","id":"oyNaKLDpb8MjOTKe","name":"Modelo"},{"createdAt":"2025-09-17T12:33:06.936Z","updatedAt":"2025-09-17T12:33:06.936Z","id":"JeuuFBr3ONlGRlp1","name":"Formação Assistants"},{"createdAt":"2025-09-08T21:48:39.874Z","updatedAt":"2025-09-08T21:48:39.874Z","id":"ffKYKgI8Ro1kMAIk","name":"NoCode StartUp"}]}