fluxo-vendas-SiJ02hfQVfAPp3e3.json
{"createdAt":"2025-09-17T13:36:13.881Z","updatedAt":"2025-09-20T16:58:29.689Z","id":"SiJ02hfQVfAPp3e3","name":"Fluxo Vendas","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"be85ab27-5523-4659-a5bc-f88ce5b93273","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2784,48]},{"parameters":{"assignments":{"assignments":[{"id":"69f6217f-9063-423f-abf4-e94f6b70f94e","name":"ClienteNome","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"9f488c5c-0b3b-48e9-87b1-5a22d513d1ec","name":"ClienteTelefone","value":"={{ $json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}","type":"string"},{"id":"1ae1a51c-00cb-47f9-8dc8-5a05c66fc0c8","name":"Mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"includeOtherFields":"=","options":{}},"id":"91af20a3-7910-4bc0-9d2d-ee85fec5b42c","name":"Simplificação de Dados","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-8608,-128]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"24aa4532-80db-4c1e-977a-0036b82a8e5f","leftValue":"={{ $json.body.isEdit }}","rightValue":"false","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"204f54b0-e3ed-4ff4-8302-8c20d3b8aa78","leftValue":"={{ $json.body.isGroup }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"130cc493-a17a-4cc1-955b-816799583076","leftValue":"={{ $json.body.isNewsletter }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"c51986d9-f347-4198-89bb-9e4cd0f021c9","leftValue":"={{ $json.body.broadcast }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"cc7281fe-f597-43d4-820e-241f0f4c0410","leftValue":"={{ $json.body.fromApi }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"e990830e-e852-41b0-9fb3-90082335e6f3","name":"Filtro Inicial","type":"n8n-nodes-base.filter","typeVersion":2.1,"position":[-8800,-128]},{"parameters":{"operation":"get","tableId":"usuario_lacantina","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{$json.ClienteTelefone}}"}]}},"id":"14d5c8d1-7d7f-4108-a368-87b482b2e6b6","name":"Buscar Cliente","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-8384,-128],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3419c30f-4400-401b-bf40-db1579507f96","leftValue":"={{ $json.user_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"baa0aa11-0d4f-444c-a8c9-13488cb86780","name":"Cliente Existe?","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-8160,-128],"alwaysOutputData":false},{"parameters":{"tableId":"usuario_lacantina","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $('Simplificação de Dados').item.json.ClienteNome }}"},{"fieldId":"telefone","fieldValue":"={{ $('Simplificação de Dados').item.json.ClienteTelefone }}"},{"fieldId":"thread_id","fieldValue":"={{ $json.id }}"}]}},"id":"1362bf6c-3bc9-4a82-ab96-cc199ab1c0cc","name":"Criar Cliente","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-7744,-64],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3CCB76D5C423A0191FA39E692ED0BBB5/token/2FEBF455B542CA12B231414C/send-text","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Simplificação de Dados').item.json.ClienteTelefone }}"},{"name":"message","value":"={{ $json.data[0].content[0].text.value }}"}]},"options":{}},"id":"eff7e965-5637-4036-8ef0-606fe8dba14f","name":"(Z-API) Enviar Mensagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1824,-2592],"credentials":{"httpHeaderAuth":{"id":"YFnA9v8RManId8pD","name":"Header Auth account"}}},{"parameters":{},"id":"e5fb7d60-0285-4373-86fe-3dc18ec6a144","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-7520,-128]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"d335c558-609f-4706-8c3d-0c77264285d5","name":"[OpenAI] Criar Thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7904,-64],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"asst_v6I9ZNZdTEtj7lVnwXcVHFtS"}]},"options":{}},"id":"52362578-f777-471e-b6aa-759c72decb9f","name":"[OpenAI] Criar Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4992,-176],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"errorMessage":"Algum erro na execução na Run"},"id":"532e3b64-7655-41f1-aeca-55e5cd216b7c","name":"Stop and Error","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-4048,80]},{"parameters":{"amount":3},"id":"3e051b9e-e4dd-4850-8d02-9ab2d6875ea7","name":"Espera 3 seg","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-4752,-160],"webhookId":"34bdfd2e-07e9-4436-95cb-87d8a1893014"},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Merge').item.json.thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"f3934086-0df2-4bc2-8d83-853d4773e594","name":"[OpenAI] Listar Runs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5168,48],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Merge').item.json.thread_id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"user"},{"name":"content","value":"={{ $('Simplificação de Dados').item.json.Mensagem }}"}]},"options":{}},"id":"24d41564-361d-4f40-82eb-440ebca22365","name":"[OpenAI] Adicionar Mensagem na Thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5200,-160],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $json.data[0].thread_id }}/runs/{{ $json.data[0].id }}/cancel","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"2ed12495-9bc5-47a5-82c9-e4e6e34e873b","name":"[OpenAI] Cancelar Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5168,256],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"fieldToSplitOut":"tool_calls","options":{}},"id":"ad3d8967-d744-4ba0-9871-a1a8609b0c62","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-3840,-592]},{"parameters":{"assignments":{"assignments":[{"id":"28ce9dad-36a0-4015-9072-a74e35bcd33a","name":"name","value":"={{ $json.function.name }}","type":"string"},{"id":"0156c707-54c3-4bc8-a404-5810683ddc2f","name":"arguments","value":"={{ $json.function.arguments }}","type":"string"},{"id":"15947de1-0f0f-4968-a40c-7e36a540ea6d","name":"type","value":"={{ $json.type }}","type":"string"},{"id":"00f6f57f-7f82-4193-afd8-ded4c5824cad","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"0ee7404a-3290-4778-acc0-467cd6ae15cc","name":"Dados individuais das tools","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3648,-592]},{"parameters":{"assignments":{"assignments":[{"id":"44673af0-d1a2-46a4-aa4a-42df4a6270a4","name":"arguments","value":"={{ $json.arguments }}","type":"object"}]},"includeOtherFields":true,"options":{}},"id":"f4f409f2-0ad7-4a61-96c0-b4db4bc21db0","name":"Argumentos da Tools","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3216,-576]},{"parameters":{"assignments":{"assignments":[{"id":"83ad07d2-6655-4675-8ea6-8d4bd6296f5c","name":"thread_id","value":"={{ $json.thread_id }}","type":"string"},{"id":"b00c6dba-371d-4aa2-900f-a108f112cace","name":"run_id","value":"={{ $json.id }}","type":"string"},{"id":"1aa088be-5f08-48aa-a30d-27ce153fae36","name":"tool_calls","value":"={{ $json.required_action.submit_tool_outputs.tool_calls }}","type":"array"}]},"options":{}},"id":"7e3ca959-de01-4c2d-ba91-6992d38cdda9","name":"Parâmentros das Tools","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4176,-576]},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/runs/{{ $json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"0085853a-e401-429e-bc2b-6aa08ede9e32","name":"[OpenAI] Buscar Status da Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4560,-144],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"tool_outputs","options":{}},"id":"9ad327f6-38cc-4942-97fa-2a1ac62a38cf","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3360,-960]},{"parameters":{"assignments":{"assignments":[{"id":"411123bf-7975-4d79-a766-351a605f414c","name":"tool_outputs","value":"={{ $json.tool_outputs }}","type":"string"}]},"options":{}},"id":"f8315bbb-9b51-4082-808e-73d8d89492bc","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3200,-960]},{"parameters":{"method":"POST","url":"https://sandbox.asaas.com/api/v3/customers","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"},{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Argumentos da Tools').item.json.arguments.cliente_nome }}"},{"name":"cpfCnpj","value":"={{ $('Argumentos da Tools').item.json.arguments.cliente_cpf }}"}]},"options":{}},"id":"8ad91e05-9007-44a7-803d-f683ebfde028","name":"Criar Cliente1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1568,-2416],"credentials":{"httpHeaderAuth":{"id":"YFnA9v8RManId8pD","name":"Header Auth account"}}},{"parameters":{"method":"POST","url":"https://sandbox.asaas.com/api/v3/payments","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"billingType","value":"PIX"},{"name":"customer","value":"={{ $json.id }}"},{"name":"value","value":"={{ $('Buscar Produto').item.json.valor }}"},{"name":"dueDate","value":"={{$now.plus(2, 'days')}}"},{"name":"description","value":"=Link de pagamento para Formação {{ $('Buscar Produto').item.json.nome }} da NoCode StartUp.\n\nSeja bem vindo!"},{"value":"={{ $now.plus(2, 'days') }}"}]},"options":{}},"id":"083f0968-f514-4f7d-ae99-0ae462353f25","name":"Criar Link Checkout","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1344,-2416],"credentials":{"httpHeaderAuth":{"id":"YFnA9v8RManId8pD","name":"Header Auth account"}}},{"parameters":{"content":"## Gestão de usuários e conversas","height":470.66144701482347,"width":1548.498147684436,"color":4},"id":"5db17794-155f-44bc-89ad-78a6a64f19b9","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-8896,-304]},{"parameters":{"operation":"get","tableId":"cardapio","filters":{"conditions":[{"keyName":"numero","keyValue":"={{ $('Argumentos da Tools').item.json.arguments.numero }}"}]}},"id":"b32b2f99-7b08-4f18-9628-e8d997a234fc","name":"Buscar Produto","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2352,-944],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"pedido_id","fieldValue":"={{ $('Resposta da Tool GetPedidos').item.json.pedido_id }}"},{"fieldId":"status","fieldValue":"=inicio"},{"fieldId":"user_id","fieldValue":"={{ $('Resposta da Tool GetPedidos').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $('Argumentos da Tools').item.json.arguments.quantidade }}"},{"fieldId":"tamanho","fieldValue":"={{ $('Argumentos da Tools').item.json.arguments.tamanho }}"},{"fieldId":"tipo","fieldValue":"={{ $json.tipo }}"},{"fieldId":"valor","fieldValue":"={{ $json.valor }}"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"categoria","fieldValue":"={{ $json.cardapio }}"},{"fieldId":"nome_fracao","fieldValue":"=''"},{"fieldId":"nome","fieldValue":"={{ $json.nome }}"},{"fieldId":"numero","fieldValue":"={{ $json.numero }}"}]}},"id":"6dee4991-7dcc-43cc-b12a-da540340116e","name":"Criar Pedido","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2272,-704],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"content":"## Loop Funções","height":384.7161754466947,"width":1278.236022443546,"color":6},"id":"3f84f7b4-c039-4fe6-b4d0-22bb6f3028b8","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4128,-720]},{"parameters":{"content":"## Função 1: getPizza","height":633,"width":2106,"color":3},"id":"0eb183b2-0f9f-413c-9e74-dc86c00d2dc9","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2784,-1728]},{"parameters":{"content":"## Função 3: getUsers","height":668,"width":1189,"color":3},"id":"31b84ac6-42f0-413e-bca4-5c52d88cecf9","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-592,-3440]},{"parameters":{"content":"## Função 2: addItemCarrinho","height":572.1848462438363,"width":1200.9071685334256,"color":3},"id":"4f6966b4-ec04-4e07-a412-a4fae2dff208","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2672,-800]},{"parameters":{"content":"## Respondendo Função","height":261.7237534100784,"width":589.0475656915123,"color":6},"id":"411725fb-1b6a-4b90-8c2d-7195e17e4286","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3440,-1008]},{"parameters":{"content":"## Respondendo Usuário","height":297.2479283127495,"width":478.7211802391986,"color":7},"id":"e457004b-1253-4c69-9d98-0bc7c5cf6366","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3056,-16]},{"parameters":{"content":"## Agente IA","height":4542,"width":4746,"color":5},"id":"b08e021a-4d02-4314-a9a8-3132d59c5004","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-8912,-3952]},{"parameters":{"content":"## Gatilhos","height":470.66144701482347,"width":401.92272567732755},"id":"68d998ef-eef1-45b5-bc30-8aae539b8952","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-9360,-304]},{"parameters":{"content":"## Função 4: updateUser","height":572.1848462438363,"width":1181.114549871832,"color":3},"id":"71faec7e-9e0a-4303-9c22-75058ea468cd","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2640,-3088]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d0132960-a69b-46f0-ab2b-7fe3b67c965d","leftValue":"={{ $json.status }}","rightValue":"requires_action","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"requires_action"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"a8e31c39-770b-47f4-9d72-62ba8cd3ed96","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"9c3456a0-d550-4b1e-9eea-8e620c31b2f2","leftValue":"={{ $json.status }}","rightValue":"in_progress","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"in_progress"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"error"}},"id":"f8d717a0-c8f5-4c5a-9658-89bd8cfa7a24","name":"Qual o status da Run?","type":"n8n-nodes-base.switch","typeVersion":3.1,"position":[-4336,-160]},{"parameters":{"operation":"getAll","tableId":"cardapio","filters":{"conditions":[{"keyName":"nome","condition":"ilike","keyValue":"={{ $json.arguments.nome }}*"}]}},"id":"c08fad7c-46b2-452a-a98f-e02cc0c07214","name":"Buscar Produtos pelo Nome","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2384,-2976],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"produto"}]},"options":{}},"id":"c4e0b0eb-ef63-452c-9ccd-743d3508075d","name":"Concatenando String","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-1008,-1648]},{"parameters":{"assignments":{"assignments":[{"id":"e812113e-dd46-486a-82fc-e14855c2be8c","name":"produto","value":"=(ID: {{ $json.numero }} , nome: {{ $json.nome }} , valor: {{ $json.valor }} , categoria: {{ $json.cardapio }}, descrição: {{ $json.descricao }} ), tamanho: {{ $('Argumentos da Tools').item.json.arguments.tamanho }},quantidade:{{ $('Argumentos da Tools').item.json.arguments.quantidade }},tipo:{{ $json.tipo }},user_id:{{ $('Merge').item.json.user_id }};pedido_id:{{ $('Resposta da Tool GetPedidos').item.json.pedido_id }}","type":"string"}]},"options":{}},"id":"278d3463-e7c7-4757-81de-640dc790e322","name":"Construindo String","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1296,-1648]},{"parameters":{"operation":"update","tableId":"usuario_lacantina","filters":{"conditions":[{"keyName":"whatsapp","condition":"eq","keyValue":"={{ $('Simplificação de Dados').item.json.ClienteTelefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"cpf","fieldValue":"={{ $json.arguments.cliente_cpf }}"},{"fieldId":"nome","fieldValue":"={{ $json.arguments.cliente_nome }}"}]}},"id":"01a680f2-2aa4-4f31-a20e-70f94e1adf48","name":"Atualizar Usuário","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2368,-2928],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"options":{"reset":"={{ $node['Loop Over Items'].context[\"done\"] }}"}},"id":"e42f2441-5309-421d-a24b-2fcffe089226","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-3440,-592]},{"parameters":{"assignments":{"assignments":[{"id":"b5eaff7e-ca80-444b-93a6-2a9de03ffa22","name":"usuario","value":"=(nome: {{ $json.nome }}, cpf: {{ $json.cpf }})","type":"string"}]},"options":{}},"id":"29ed9fc2-32b4-4550-a25d-8692c905027c","name":"Construindo String1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2096,-2208]},{"parameters":{"assignments":{"assignments":[{"id":"6412cebd-4191-453b-97d3-8e302756396c","name":"tool_call_id","value":"={{ $('Argumentos da Tools').item.json.id }}","type":"string"},{"id":"a2e8d52a-04e2-4fbf-876c-cbc3c3348d25","name":"output","value":"={{ $json.usuario }}","type":"string"}]},"options":{}},"id":"5de0fb95-95e9-4e04-8ae9-cac6ab068174","name":"Resposta da Tool getUsers","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2032,-1984]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Parâmentros das Tools').item.json.thread_id }}/runs/{{ $('Parâmentros das Tools').item.json.run_id }}/submit_tool_outputs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"tool_outputs\": {{ $json.tool_outputs }}\n}","options":{}},"id":"639d1479-f034-496c-901d-c6d11b8a2c0b","name":"Responder a Function Calling","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3040,-960],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"9151a058-7dd6-4ca2-8e99-354d5f4e22a4","name":"link de pagamento","value":"=(URL: {{ $('Criar Link Checkout').item.json.invoiceUrl }})","type":"string"}]},"options":{}},"id":"bb1fbf5a-f4c6-4e68-ba2c-2bb93b23a589","name":"Construindo String2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1296,-2208]},{"parameters":{"assignments":{"assignments":[{"id":"f45a1483-7a89-4da8-a09a-8b878e83a3aa","name":"usuario","value":"=(nome: {{ $json.nome }}, cpf: {{ $json.cpf }})","type":"string"}]},"options":{}},"id":"35550146-0e98-4af2-88d9-287684856c51","name":"Construindo String3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2080,-2928]},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('[OpenAI] Buscar Status da Run').item.json.thread_id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"11ca699e-c5f9-401b-91e6-85f5f1ca28f4","name":"[OpenAI] Listar Mensagens Thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4048,-160],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{},"id":"2acde1d1-3ef6-475c-bcd2-dc5492ea52bb","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2576,-2896]},{"parameters":{"assignments":{"assignments":[{"id":"37f77e44-5888-4c61-8f15-3ec8bc33be9d","name":"tool_call_id","value":"={{ $('Argumentos da Tools').item.json.id }}","type":"string"},{"id":"3e00f6bb-e04e-491a-938b-b76e9f5a8b87","name":"output","value":"={{ $json.usuario }}","type":"string"}]},"options":{}},"id":"2ee27bb8-63cc-4a31-8131-a97a6043d517","name":"Resposta da Tool updateUser","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1680,-2928]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.name }}","rightValue":"getPizza","operator":{"type":"string","operation":"equals"},"id":"560a861b-de35-401a-ab78-5e656593d23c"}],"combinator":"and"},"renameOutput":true,"outputKey":"getPizza"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"936ba126-e0c3-4d74-bb33-ed509e691e03","leftValue":"={{ $json.name }}","rightValue":"addItemCarrinho","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"addItemCarrinho"}]},"options":{}},"id":"1203e7cc-040e-4687-a7fd-df806a70e181","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.1,"position":[-3008,-640],"executeOnce":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Argumentos da Tools').item.json.arguments.nome }}","rightValue":"=","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"30515c3f-b81c-4db4-89cd-108bc678c025"}],"combinator":"and"},"renameOutput":true,"outputKey":"nome existe"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"78f68ee4-ef94-4366-930b-a254fddaa7d6","leftValue":"={{ $('Argumentos da Tools').item.json.arguments.categoria }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"categoria existe"}]},"options":{"allMatchingOutputs":true}},"id":"14c13f3c-23ed-485e-a5bc-d005fa13dd94","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3.1,"position":[2176,-2880]},{"parameters":{"httpMethod":"POST","path":"vende","options":{}},"id":"3bdb565d-a039-4b8c-ba32-7f6ba6389d5b","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-9216,-128],"webhookId":"6798dba6-fdde-4111-afea-5666baf77e8d"},{"parameters":{"operation":"getAll","tableId":"cardapio","filters":{"conditions":[{"keyName":"categoria","condition":"eq","keyValue":"={{ $json.arguments.categoria }}"}]}},"id":"1e55865b-cc37-4b6d-8c2a-bb87d6e54673","name":"Buscar protudos pela categoria","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2384,-2816],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"usuario_lacantina","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Simplificação de Dados').item.json.ClienteTelefone }}"}]}},"id":"9f681681-73a8-4677-ace7-56e5474d3c7b","name":"Buscar Cliente1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-7840,-208],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Simplificação de Dados').item.json.ClienteTelefone }}","messageText":"={{ $json.data[0].content[0].text.value }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2992,48],"id":"2583d044-fb7d-43e4-b18f-34ce72f67df8","name":"MenuCardapio44","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-64,-976],"id":"7efa264a-6f8b-4528-8ad6-a91bf2b579b3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":"  {\n  \"type\": \"object\",\n  \"properties\": {\n    \"item\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"categoria\": { \"type\": \"string\" }, \n          \"nome\": { \"type\": \"string\" },\n          \"nome_fracao\": { \"type\": \"string\" }, \n          \"tamanho\": { \"type\": \"string\" },\n          \"volume\": { \"type\": \"string\" }\n        },\n        \"required\": [\n          \"quantidade\",\n          \"categoria\"\n        ]\n      }\n    }\n  },\n  \"required\": [\"item\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[96,-976],"id":"6fed5c57-52d1-42dd-a953-79ac30790e65","name":"Structured Output Parser [Schema]","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"promptType":"define","text":"=<mensagem_do_usuario>\n{{ $json.arguments.comando }}\n</mensagem_do_usuario>","hasOutputParser":true,"messages":{"messageValues":[{"message":"= Você é um parser de pedidos de pizzaria.  \nSua única saída deve ser um JSON válido exatamente no formato abaixo:\n\n{\n  \"item\": [\n     { \"quantidade\": int,\"categoria\": str  , \"nome\": str, \n\"nome_fracao\": str ,   \"tamanho\": str, \"volume\": str}\n  ]\n}\n\n\n        \n\n\n\n\n\n⚠️ Regras obrigatórias:\n- Sempre retorne exatamente esse JSON com a lista \"item\", mesmo que esteja vazia.\n- Use apenas os nomes de campos e estrutura mostrados acima.\n- Retorne apenas o JSON válido, sem explicações, comentários ou texto adicional.\n- Nunca omita itens ambíguos; use defaults.\n- Defaults: quantidade=1, tamanho=\"media\", numero=0, pizza_referencia=\"\".\n- Não valide com o cardápio; sempre retorne o item.\n\n📌 Regras de interpretação:\n- A palavra \"uma\", \"duas\" etc refere-se sempre a quantidade.\n- Só trate \"pizza\" se houver a palavra \"pizza\".\n- Só trate \"esfirra\" se houver a palavra \"esfirra\".\n- \"meia\" deve ser interpretado como \"1/2\".\n- Se o usuário informar apenas \"pizza N\", não descarte: gere {quantidade:1, numero:N, tamanho:\"media\", categoria:\"pizza\"}.\n\n📌 Pizzas fracionadas:\n- Se houver padrão {Q? 1/2 A e 1/2 B}, crie dois itens com categoria \"pizza\" e mesmo \"pizza_referencia\".\n- Nunca crie pizza inteira para A ou B quando forem parte de uma fração.\n- Exemplo: \"1 pizza 1/2 14 e 1/2 21\" → dois itens pizza, quantidade=1 cada, metade1=14, metade2=21, mesma pizza_referencia.\n\n📌 Bordas:\n- Se a mensagem contiver \"borda\", o texto após \"borda\" até antes de \"item\" ou \"pizza\" é o nome.\n- Normalize para minúsculas (ex: \"Borda Cheddar\" → nome:\"cheddar\").\n- Sempre usar \"categoria\":\"borda\".\n- Se houver referência (ex: \"borda cheddar no item 1\"), preencher pizza_referencia=1.\n- Se não houver número, crie uma pizza_referencia única para vincular com a pizza correspondente.\n- Defaults: numero=0, tamanho=\"\", pizza_referencia=\"\".\n\n📌 Bebidas:\n- Se disser \"lata\" sem volume → usar \"350ml\".\n- Se disser \"long neck\" sem volume → usar \"330ml\".\n- Se pedir \"coca/coca-cola\" sem volume → usar \"2l\".\n- Normalize volume em minúsculas e sem espaços (ex: \"350ml\", \"330ml\", \"2l\").\n\n📌 Exemplos de conversão:\nEntrada: \"1 pizza mussarela grande\"\nSaída:\n{\n  \"item\": [\n    { \"quantidade\": 1, \"nome\": \"mussarela\", \"tamanho\": \"grande\",  \"pizza_referencia\": \"\", \"categoria\": \"pizza\" }\n  ]\n}\n\nEntrada: \"1 pizza mussarela e 1 borda cheddar\"\nSaída:\n{\n  \"item\": [\n    { \"quantidade\": 1, \"numero\": 0, \"tamanho\": \"media\", \"nome\": \"mussarela\", \"pizza_referencia\": \"ref_123\", \"categoria\": \"pizza\" },\n    { \"quantidade\": 1, \"numero\": 0, \"tamanho\": \"\", \"nome\": \"cheddar\", \"pizza_referencia\": \"ref_123\", \"categoria\": \"borda\" }\n  ]\n}\n\nEntrada: \"3 long neck heineken\"\nSaída:\n{\n  \"item\": [\n    { \"quantidade\": 3, \"numero\": 0, \"tamanho\": \"\", \"nome\": \"heineken\", \"pizza_referencia\": \"\", \"categoria\": \"bebida\", \"volume\": \"330ml\" }\n  ]\n}\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-32,-1264],"id":"4ffd7e6e-5fda-4ef8-b623-20f0f002054b","name":"Basic LLM Chain","retryOnFail":true,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.item","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[336,-1264],"id":"e160859d-2ee5-47a2-aa49-7d395d1ea9af","name":"item1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2224,-1504],"id":"12d3c170-7831-4128-b399-01681ae74bf5","name":"Loop Over Items1"},{"parameters":{"operation":"executeQuery","query":" SELECT\n    numero,\n    nome,\n    descricao,\n    tipo,\n    cardapio,\n    CASE \n        WHEN '{{ $json.tamanho }}' = 'grande' THEN preco_grande\n        WHEN '{{ $json.tamanho }}' = 'media'  THEN preco_media\n        ELSE preco_grande\n    END AS valor\nFROM busca_cardapio((\n    SELECT string_agg(num, ', ')\n    FROM (\n        SELECT DISTINCT c.numero::text AS num\n        FROM cardapio AS c\n        WHERE c.nome ILIKE '%' || '{{ $json.nome }}' || '%'\n          AND categoria = '{{ $json.categoria }}' and  categoria not in ( 'borda','item')\n    )\n))\n  union all \n SELECT\n    numero,\n    nome,\n    descricao,\n    tipo,\n    cardapio,\n    CASE \n        WHEN '{{ $json.tamanho }}' = 'grande' THEN preco_grande\n        WHEN '{{ $json.tamanho }}' = 'media'  THEN preco_media\n        ELSE preco_grande\n    END AS valor\nFROM busca_cardapio((\n    SELECT string_agg(num, ', ')\n    FROM (\n        SELECT DISTINCT c.numero::text AS num\n        FROM cardapio AS c\n        WHERE  ( c.nome ILIKE '%' || '{{ $json.nome }}' || '%' or   c.palavras_chave  ILIKE '%' || '{{ $json.nome }}' || '%')\n          AND tipo  = '{{ $json.categoria }}'\n    )\n))\n   \n     union all \n SELECT\n    numero,\n    nome,\n    descricao,\n    tipo,\n    cardapio,\n    CASE \n        WHEN '{{ $json.tamanho }}' = 'grande' THEN preco_grande\n        WHEN '{{ $json.tamanho }}' = 'media'  THEN preco_media\n        ELSE preco_grande\n    END AS valor\nFROM busca_cardapio((\n    SELECT string_agg(num, ', ')\n    FROM (\n        SELECT DISTINCT c.numero::text AS num\n        FROM cardapio AS c\n        WHERE ( c.nome ILIKE '%' || '{{ $json.nome }}' || '%' or   c.palavras_chave  ILIKE '%' || '{{ $json.nome }}' || '%')\n          AND  categoria  = 'borda'\n    )\n))\n   \n   ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[832,-1248],"id":"455007cb-bb01-4912-b69a-939b1f61f0ce","name":"ConsultaBorda1","alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"3a3fbf83-7260-4dfa-97f2-4f323816d776","name":"tool_call_id","value":"={{ $('Argumentos da Tools').item.json.id }}","type":"string"},{"id":"3c185636-3fe8-4d4b-8a6b-e3bf5613c503","name":"output","value":"=''","type":"string"}]},"options":{}},"id":"8ec6d4fc-11d8-478e-a8d0-6339027c9dc5","name":"Resposta da Tool postPedidos","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1936,-688]},{"parameters":{"tableId":"pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('Merge').item.json.user_id }}"},{"fieldId":"status","fieldValue":"aberto"},{"fieldId":"valor","fieldValue":"0"}]}},"id":"31b09569-5c0b-4f10-97f1-1c63f7d338b3","name":"CriaPedido","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6512,48],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3419c30f-4400-401b-bf40-db1579507f96","leftValue":"={{ $json.user_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"2849b190-d250-4a2e-ba94-4207225c244b","name":"Cliente Pedido","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-6656,-128],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"get","tableId":"pedido_temp","filters":{"conditions":[{"keyName":"user_id","keyValue":"={{ $json.user_id }}"}]}},"id":"14d1764f-a361-4c77-a3ed-0821c39355f5","name":"EncontrarPedido","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6816,-128],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00d2650d-52f9-4bf5-9b50-ec548c105222","leftValue":"={{ $json.pedido_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2464,-1568],"id":"6ccee950-a5be-4ab6-987e-0b157ffc68e3","name":"ConcatenaPedido"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-6384,-128],"id":"a3c8414c-0c37-486a-8956-cbd0ffefa792","name":"Merge2"},{"parameters":{"content":"## Função 4: GetPedido","height":572.1848462438363,"width":1181.114549871832,"color":3},"id":"c070acb6-5f30-41f6-8e2a-2c38631ae4d3","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6912,-288]},{"parameters":{"assignments":{"assignments":[{"id":"f45a1483-7a89-4da8-a09a-8b878e83a3aa","name":"usuario","value":"=(user_id: {{ $('Merge').item.json.user_id }} , pedido_id:{{ $json.pedido_id }} )","type":"string"}]},"options":{}},"id":"06efa5a7-7891-4747-8a62-5bda9aad4675","name":"Construindo String4","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6192,-128]},{"parameters":{"assignments":{"assignments":[{"id":"760bd5f6-7f3d-4499-842e-9a17ab13408f","name":"pedido_id","value":"={{ $('Merge2').item.json.pedido_id }}","type":"number"},{"id":"6c967f81-1255-4087-a441-3ec73721d4fe","name":"user_id","value":"={{ $('Merge').item.json.user_id }}","type":"number"}]},"options":{}},"id":"1fd379ee-e39c-42e8-aaf3-96382917f4a9","name":"Resposta da Tool GetPedidos","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5920,-128]},{"parameters":{"assignments":{"assignments":[{"id":"3a3fbf83-7260-4dfa-97f2-4f323816d776","name":"tool_call_id","value":"={{ $('Argumentos da Tools').all().map(x => x.json.id).join(',') }}","type":"string"},{"id":"3c185636-3fe8-4d4b-8a6b-e3bf5613c503","name":"output","value":"={{ $json.concatenated_produto }}","type":"string"}]},"options":{}},"id":"f27ff4ce-9869-4e2c-87dd-d6748feb66b8","name":"Resposta da Tool Get_Pizza","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-880,-1328]},{"parameters":{"operation":"executeQuery","query":"  SELECT\n    numero,\n    nome,\n    descricao,\n    tipo,\n    cardapio,\n    CASE \n        WHEN '{{ $json.arguments.tamanho }}' = 'grande' THEN preco_grande\n        WHEN '{{ $json.arguments.tamanho }}' = 'media'  THEN preco_media\n        ELSE preco_grande\n    END AS valor\nFROM busca_cardapio((\n    SELECT string_agg(num, ', ')\n    FROM (\n        SELECT DISTINCT c.numero::text AS num\n        FROM cardapio AS c\n        WHERE  c.numero = {{ $json.arguments.numero }}\n    )\n))","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2576,-704],"id":"933e16a2-3312-42a0-90c0-3503b411c971","name":"ConsultaBorda","alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"=62"},{"fieldId":"quantidade","fieldValue":"=1"},{"fieldId":"tipo","fieldValue":"salgado"},{"fieldId":"categoria","fieldValue":"item"},{"fieldId":"nome","fieldValue":"= {{ $('Loop Over Items2').item.json.nome }}"},{"fieldId":"fracionada","fieldValue":"=false"},{"fieldId":"pedido_id","fieldValue":"=11"},{"fieldId":"tamanho","fieldValue":"={{ $json.tamanho }}"},{"fieldId":"volume","fieldValue":"={{ $json.volume }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2864,-1344],"id":"7464669d-4331-48a3-8ccc-c1ca166d0737","name":"Item","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9f620984-016b-4b6b-bd32-a5be81b30118","leftValue":"={{ $items().length }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2608,-1328],"id":"6b9e0246-b017-4753-a376-15dcf0dee2a7","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[576,-1264],"id":"5bc5e612-5e11-4791-87a4-c4fa3f552da6","name":"Loop Over Items2"},{"parameters":{"operation":"executeQuery","query":" SELECT\n    numero,\n    nome,\n    descricao,\n    tipo,\n    cardapio,\n    CASE \n        WHEN '{{ $json.arguments.tamanho }}' = 'grande' THEN preco_grande\n        WHEN '{{ $json.arguments.tamanho }}' = 'media'  THEN preco_media\n        ELSE preco_grande\n    END AS valor\nFROM busca_cardapio((\n    SELECT string_agg(num, ', ')\n    FROM (\n        SELECT DISTINCT c.numero::text AS num\n        FROM cardapio AS c\n        WHERE c.nome ILIKE '%' || '{{ $json.arguments.nome }}' || '%'\n          AND categoria = '{{ $json.arguments.categoria }}' and  categoria not in ( 'borda','item')\n    )\n))\n  union all \n SELECT\n    numero,\n    nome,\n    descricao,\n    tipo,\n    cardapio,\n    CASE \n        WHEN '{{ $json.arguments.tamanho }}' = 'grande' THEN preco_grande\n        WHEN '{{ $json.arguments.tamanho }}' = 'media'  THEN preco_media\n        ELSE preco_grande\n    END AS valor\nFROM busca_cardapio((\n    SELECT string_agg(num, ', ')\n    FROM (\n        SELECT DISTINCT c.numero::text AS num\n        FROM cardapio AS c\n        WHERE  ( c.nome ILIKE '%' || '{{ $json.arguments.nome }}' || '%' or   c.palavras_chave  ILIKE '%' || '{{ $json.arguments.nome }}' || '%')\n          AND tipo  = '{{ $json.arguments.categoria }}'\n    )\n))\n   \n     union all \n SELECT\n    numero,\n    nome,\n    descricao,\n    tipo,\n    cardapio,\n    CASE \n        WHEN '{{ $json.arguments.tamanho }}' = 'grande' THEN preco_grande\n        WHEN '{{ $json.arguments.tamanho }}' = 'media'  THEN preco_media\n        ELSE preco_grande\n    END AS valor\nFROM busca_cardapio((\n    SELECT string_agg(num, ', ')\n    FROM (\n        SELECT DISTINCT c.numero::text AS num\n        FROM cardapio AS c\n        WHERE ( c.nome ILIKE '%' || '{{ $json.arguments.nome }}' || '%' or   c.palavras_chave  ILIKE '%' || '{{ $json.arguments.nome }}' || '%')\n          AND categoria  = '{{ $json.arguments.categoria }}' and  categoria  = 'borda'\n    )\n))\n   \n   ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2816,-1616],"id":"97c69f00-c1a3-4404-a61b-557c36386d57","name":"ConsultaBorda2","alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,-1616],"id":"0994e1e4-4786-49bb-a095-ea1b68215f90","name":"Edit Fields"},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('Merge').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"tipo","fieldValue":"salgado"},{"fieldId":"categoria","fieldValue":"pizza"},{"fieldId":"nome","fieldValue":"={{ $json.metade1 }}"},{"fieldId":"fracionada","fieldValue":"=true"},{"fieldId":"pedido_id","fieldValue":"={{ $('Merge').item.json.pedido_id }}"},{"fieldId":"tamanho","fieldValue":"=grande"},{"fieldId":"volume","fieldValue":"''"},{"fieldId":"nome_fracao","fieldValue":"={{ $json.metade2 }}"},{"fieldId":"numero","fieldValue":"0"},{"fieldId":"numero_fracao","fieldValue":"0"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1824,-1312],"id":"3cf4d0bc-dc62-4391-bd6f-e248878d898b","name":"Item3","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"fieldToSplitOut":"output.pizzas_fracionadas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2240,-1328],"id":"5d27ab93-5999-47fa-ae59-6f22ba12448d","name":"item3","alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('Merge').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"tipo","fieldValue":"salgado"},{"fieldId":"categoria","fieldValue":"={{ $json.categoria }}"},{"fieldId":"nome","fieldValue":"= {{ $('Loop Over Items3').item.json.nome }}"},{"fieldId":"fracionada","fieldValue":"=false"},{"fieldId":"pedido_id","fieldValue":"={{ $('Merge2').item.json.pedido_id }}"},{"fieldId":"tamanho","fieldValue":"={{ $json.tamanho }}"},{"fieldId":"volume","fieldValue":"={{ $json.volume }}"},{"fieldId":"numero","fieldValue":"={{ $json.numero }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1776,-1568],"id":"3d7f6b8c-d05c-4c2f-a921-ef6f3381f60e","name":"Item1","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2064,-1648],"id":"842be338-570d-45c2-9193-e743be632230","name":"Loop Over Items3"},{"parameters":{"fieldToSplitOut":"output.item","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2272,-1648],"id":"80585df1-9c2b-4d40-9fb5-2a4e6cadc6d4","name":"item","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"promptType":"define","text":"=<mensagem_do_usuario>\n{{ $json.arguments.comando }}\n</mensagem_do_usuario>","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Você é um parser de pedidos de pizzaria.\nResponda somente com um JSON válido que siga exatamente o schema configurado (structured output).\nNunca escreva texto extra, comentários, blocos de código ou chaves diferentes das previstas.\n\nRegras obrigatórias e defaults:\n\nSempre retorne os 2 blocos: \"item\" e \"pizzas_fracionadas\", mesmo que vazios ([]).\n\nSempre inclua todos os campos obrigatórios de cada item.\n\nSe não houver valor, use os defaults:\n\nStrings: \"\"\n\nNúmeros: 0\n\nquantidade: 1\n\ntamanho (pizza/esfirra inteiras): \"media\" (senão \"\")\n\nfracionada: \"nao\"\n\ntipo (pizza/esfirra inteiras): \"inteira\"\n\ncategoria default: \"pizza\"\n\nnumero: 0\n\nnumero_fracao: 0\n\nnome, nome_fracao, volume, pizza_referencia: \"\"\n\nvalor: 0\n\nid_pizza_pai: 0\n\nInterpretação:\n\nSó trate como pizza se a palavra “pizza” aparecer; idem esfirra.\n\n“uma/duas/três…” definem quantidade.\n\n“meia” ≡ “1/2”.\n\n“pizza N” (sem sabor): gere pizza inteira com numero=N, tamanho=\"media\".\n\nFracionadas:\n\nSempre um único objeto em pizzas_fracionadas.\n\nPreencha: metade1 e metade2 (por nome ou número conforme aparecer).\n\nMarque fracionada=\"sim\" e tipo=\"fracionada\".\n\nTamanho de fracionada é sempre \"grande\".\n\nUse uma pizza_referencia (ex.: \"ref_123\") para vincular bordas.\n\nSe o usuário disser “pizza N”, esse valor vai em numero; se disser sabor por nome, use nome.\nnumero_fracao/nome_fracao não são usados em pizzas_fracionadas (use metade1/metade2).\n\nBordas:\n\n“borda X” → categoria=\"borda\", nome=\"x\" (minúsculo).\n\nVincule por pizza_referencia (ou id_pizza_pai se citado).\n\nDefaults de borda: numero=0, tamanho=\"\", valor=0.\n\nBebidas:\n\n“lata” → volume=\"350ml\".\n\n“long neck” → volume=\"330ml\".\n\n“coca/coca-cola” sem volume → volume=\"2l\".\n\nNormalize volume minúsculo e sem espaços.\n\nEsfirras: categoria=\"esfirra\"; tipo pode ser \"salgada\"/\"doce\" ou \"\" se não informado.\n\nNunca invente valores fora dos enums previstos pelo schema.\nA resposta deve ser apenas o JSON raiz com item e pizzas_fracionadas."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-2608,-1600],"id":"151ba850-b25d-45d3-9855-953c3805bab2","name":"Basic LLM Chain1","retryOnFail":true,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2608,-1424],"id":"ff80a942-c2cd-4a03-8a00-a11c033afa23","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1504,-1648],"id":"c14dd944-9382-46c0-a98d-49d73001503e","name":"Merge3"},{"parameters":{"schemaType":"manual","inputSchema":" {\n  \"type\": \"object\",\n  \"properties\": {\n    \"item\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"numero\": { \"type\": \"integer\", \"minimum\": 0 },\n          \"quantidade\": { \"type\": \"integer\", \"minimum\": 1 },\n          \"tamanho\": { \"type\": \"string\", \"enum\": [\"media\", \"grande\", \"\"] },\n          \"fracionada\": { \"type\": \"string\", \"enum\": [\"sim\", \"nao\", \"true\", \"false\", \"\"] },\n          \"tipo\": { \"type\": \"string\", \"enum\": [\"inteira\", \"fracionada\", \"salgada\", \"doce\", \"\"] },\n          \"categoria\": { \"type\": \"string\", \"enum\": [\"pizza\", \"esfirra\", \"bebida\", \"borda\", \"\"] },\n          \"numero_fracao\": { \"type\": \"integer\", \"minimum\": 0 },\n          \"nome\": { \"type\": \"string\" },\n          \"nome_fracao\": { \"type\": \"string\" },\n          \"volume\": { \"type\": \"string\" },\n          \"valor\": { \"type\": \"number\", \"minimum\": 0 },\n          \"pizza_referencia\": { \"type\": \"string\" },\n          \"id_pizza_pai\": { \"type\": \"integer\", \"minimum\": 0 }\n        },\n        \"required\": [\n          \"numero\",\n          \"quantidade\",\n          \"tamanho\",\n          \"fracionada\",\n          \"tipo\",\n          \"categoria\",\n          \"numero_fracao\",\n          \"nome\",\n          \"nome_fracao\",\n          \"volume\",\n          \"valor\",\n          \"pizza_referencia\",\n          \"id_pizza_pai\"\n        ]\n      }\n    },\n    \"pizzas_fracionadas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"numero\": { \"type\": \"integer\", \"minimum\": 0 },\n          \"quantidade\": { \"type\": \"integer\", \"minimum\": 1 },\n          \"tamanho\": { \"type\": \"string\", \"enum\": [\"grande\"] },\n          \"fracionada\": { \"type\": \"string\", \"enum\": [\"sim\"] },\n          \"tipo\": { \"type\": \"string\", \"enum\": [\"fracionada\"] },\n          \"categoria\": { \"type\": \"string\", \"enum\": [\"pizza\"] },\n          \"metade1\": { \"type\": \"string\" },\n          \"metade2\": { \"type\": \"string\" },\n          \"valor\": { \"type\": \"number\", \"minimum\": 0 },\n          \"pizza_referencia\": { \"type\": \"string\" },\n          \"id_pizza_pai\": { \"type\": \"integer\", \"minimum\": 0 }\n        },\n        \"required\": [\n          \"numero\",\n          \"quantidade\",\n          \"tamanho\",\n          \"fracionada\",\n          \"tipo\",\n          \"categoria\",\n          \"metade1\",\n          \"metade2\",\n          \"valor\",\n          \"pizza_referencia\",\n          \"id_pizza_pai\"\n        ]\n      }\n    }\n  },\n  \"required\": [\"item\", \"pizzas_fracionadas\"],\n  \"additionalProperties\": false\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-2464,-1408],"id":"e207b41f-431d-4309-9877-99b526f5589a","name":"Structured Output Parser [Schema]1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"}],"connections":{"Simplificação de Dados":{"main":[[{"node":"Buscar Cliente","type":"main","index":0}]]},"Filtro Inicial":{"main":[[{"node":"Simplificação de Dados","type":"main","index":0}]]},"Buscar Cliente":{"main":[[{"node":"Cliente Existe?","type":"main","index":0}]]},"Cliente Existe?":{"main":[[{"node":"Buscar Cliente1","type":"main","index":0}],[{"node":"[OpenAI] Criar Thread","type":"main","index":0}]]},"Criar Cliente":{"main":[[{"node":"Merge","type":"main","index":1}]]},"(Z-API) Enviar Mensagem":{"main":[[]]},"Merge":{"main":[[{"node":"EncontrarPedido","type":"main","index":0}]]},"[OpenAI] Criar Thread":{"main":[[{"node":"Criar Cliente","type":"main","index":0}]]},"[OpenAI] Criar Run":{"main":[[{"node":"Espera 3 seg","type":"main","index":0}]]},"Espera 3 seg":{"main":[[{"node":"[OpenAI] Buscar Status da Run","type":"main","index":0}]]},"[OpenAI] Listar Runs":{"main":[[{"node":"[OpenAI] Cancelar Run","type":"main","index":0}]]},"[OpenAI] Adicionar Mensagem na Thread":{"main":[[{"node":"[OpenAI] Criar Run","type":"main","index":0}],[{"node":"[OpenAI] Listar Runs","type":"main","index":0}]]},"[OpenAI] Cancelar Run":{"main":[[{"node":"[OpenAI] Adicionar Mensagem na Thread","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Dados individuais das tools","type":"main","index":0}]]},"Dados individuais das tools":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Argumentos da Tools":{"main":[[{"node":"Switch","type":"main","index":0}]]},"[OpenAI] Buscar Status da Run":{"main":[[{"node":"Qual o status da Run?","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Responder a Function Calling","type":"main","index":0}]]},"Criar Cliente1":{"main":[[{"node":"Criar Link Checkout","type":"main","index":0}]]},"Criar Link Checkout":{"main":[[]]},"Buscar Produto":{"main":[[]]},"Criar Pedido":{"main":[[{"node":"Resposta da Tool postPedidos","type":"main","index":0}]]},"Parâmentros das Tools":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Qual o status da Run?":{"main":[[{"node":"Parâmentros das Tools","type":"main","index":0}],[{"node":"[OpenAI] Listar Mensagens Thread","type":"main","index":0}],[{"node":"Espera 3 seg","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Buscar Produtos pelo Nome":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Concatenando String":{"main":[[{"node":"Resposta da Tool Get_Pizza","type":"main","index":0}]]},"Construindo String":{"main":[[{"node":"Concatenando String","type":"main","index":0}]]},"Atualizar Usuário":{"main":[[{"node":"Construindo String3","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Argumentos da Tools","type":"main","index":0}]]},"Construindo String1":{"main":[[{"node":"Resposta da Tool getUsers","type":"main","index":0}]]},"Resposta da Tool getUsers":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Responder a Function Calling":{"main":[[{"node":"Espera 3 seg","type":"main","index":0}]]},"Construindo String2":{"main":[[]]},"Construindo String3":{"main":[[{"node":"Resposta da Tool updateUser","type":"main","index":0}]]},"[OpenAI] Listar Mensagens Thread":{"main":[[{"node":"MenuCardapio44","type":"main","index":0}]]},"Merge1":{"main":[[]]},"Resposta da Tool updateUser":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}],[{"node":"ConsultaBorda","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Buscar Produtos pelo Nome","type":"main","index":0}],[{"node":"Buscar protudos pela categoria","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Filtro Inicial","type":"main","index":0}]]},"Buscar protudos pela categoria":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Buscar Cliente1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"MenuCardapio44":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Structured Output Parser [Schema]":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"item1","type":"main","index":0}]]},"item1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[]]},"ConsultaBorda1":{"main":[[]]},"Resposta da Tool postPedidos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"CriaPedido":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Cliente Pedido":{"main":[[{"node":"Merge2","type":"main","index":0}],[{"node":"CriaPedido","type":"main","index":0}]]},"EncontrarPedido":{"main":[[{"node":"Cliente Pedido","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Construindo String4","type":"main","index":0}]]},"Construindo String4":{"main":[[{"node":"Resposta da Tool GetPedidos","type":"main","index":0}]]},"Resposta da Tool GetPedidos":{"main":[[{"node":"[OpenAI] Adicionar Mensagem na Thread","type":"main","index":0}]]},"Resposta da Tool Get_Pizza":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"ConsultaBorda":{"main":[[{"node":"Criar Pedido","type":"main","index":0}]]},"Item":{"main":[[]]},"If":{"main":[[{"node":"Item","type":"main","index":0}],[]]},"Loop Over Items2":{"main":[[],[{"node":"ConsultaBorda1","type":"main","index":0}]]},"Item3":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"item3":{"main":[[{"node":"Item3","type":"main","index":0}]]},"Item1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"Merge3","type":"main","index":0}],[{"node":"Item1","type":"main","index":0}]]},"item":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"item3","type":"main","index":0},{"node":"item","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Structured Output Parser [Schema]1":{"ai_outputParser":[[{"node":"Basic LLM Chain1","type":"ai_outputParser","index":0}]]},"Merge3":{"main":[[{"node":"Construindo String","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"09b410ab-e6cc-4d80-9fb9-d35be11510ed","triggerCount":1,"shared":[{"createdAt":"2025-09-17T13:36:13.881Z","updatedAt":"2025-09-17T13:36:13.881Z","role":"workflow:owner","workflowId":"SiJ02hfQVfAPp3e3","projectId":"wFRMrac2003Pl1x6"}],"tags":[{"createdAt":"2025-09-08T21:48:39.874Z","updatedAt":"2025-09-08T21:48:39.874Z","id":"ffKYKgI8Ro1kMAIk","name":"NoCode StartUp"},{"createdAt":"2025-09-17T12:33:06.936Z","updatedAt":"2025-09-17T12:33:06.936Z","id":"JeuuFBr3ONlGRlp1","name":"Formação Assistants"},{"createdAt":"2025-09-17T12:33:06.943Z","updatedAt":"2025-09-17T12:33:06.943Z","id":"oyNaKLDpb8MjOTKe","name":"Modelo"}]}