geradorpdf-nFnokjPTuTYr7VZH.json
{"createdAt":"2025-08-18T01:56:16.259Z","updatedAt":"2025-08-18T18:04:30.038Z","id":"nFnokjPTuTYr7VZH","name":"geradorpdf","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[0,0],"id":"7aad0ea0-4873-4cfd-b160-41467a60623b","name":"When chat message received","webhookId":"c4567342-fb0e-4d55-8bbc-7ef93a8bcdee"},{"parameters":{"jsCode":"return { \"nome\":\"Luis Gustavo Landucci\", \"curso\":\"Ciencias da Computacao\", \"carga horaria\":\"64 horas\"}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,-288],"id":"7542039c-83a9-4ca8-b42d-165500fb9b17","name":"Code"},{"parameters":{"url":"=https://singlecolorimage.com/get/ffffff/450x300.png","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[432,0],"id":"ce1c12ee-669e-4aaa-afab-0ea66fb04cc8","name":"HTTP Request"},{"parameters":{"operation":"multiStep","operations":{"operations":[{"operation":"text","text":"= {{ $json.resumo }}","fontSize":12,"positionY":40,"lineLength":200,"font":"/usr/share/fonts/truetype/msttcorefonts/Arial_Bold.ttf"}]},"options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[672,0],"id":"247cfddc-2c59-4f6b-bccc-fe31da6c645a","name":"Edit Image"},{"parameters":{"method":"POST","url":"https://host/rest/sendMessage/instance_key/mediaBase64","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"Bearer token"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"messageData\": {\n    \"to\": \"551199999999@s.whatsapp.net\",\n    \"base64\": \"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAACgCAMAAAC8...\",\n    \"fileName\": \"pdfExemplo.pdf\",\n    \"type\": \"document\",\n    \"caption\": \"string\",\n    \"mimeType\": \"application/pdf\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[832,192],"id":"0c135692-fb32-40ab-846f-c0ad9b86f0d8","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/mediaBase64","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n\t\"messageData\": {\n\t\t\"to\": \"5516992975836\",\n\t\t\"base64\": \"data:image/jpeg;base64,{{ $json.base64 }}\",\n\t\t\"fileName\": \"{{ $json.fileName }}\",\n\t\t\"type\": \"document\",\n\t\t\"caption\": \"Segue  {{ $('Execute a SQL query').item.json.resumo .split(/\\r?\\n/)[0].replace(/^[^\\wÀ-ÿ]+/, '').trim() }}  \",\n\t\t\"mimeType\": \"image/jpeg\"\n\t}\n}","options":{}},"id":"091e8fe7-bf6a-42e7-a4a2-2f89d0a2f155","name":"MegaApi14","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1376,-16]},{"parameters":{"operation":"executeQuery","query":" SELECT pedido_id, resumo\nFROM pedidos\nWHERE status = 'recebido'\nORDER BY pedido_id ASC, pedido_id ASC\nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,0],"id":"da173dcc-44b3-4a40-889c-0928eac074db","name":"Execute a SQL query","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"pdfName":"={{ $json.resumo.split(/\\r?\\n/)[0].replace(/^[^\\wÀ-ÿ]+/, '').trim() }}"},"type":"n8n-nodes-pdfkit.pdfKit","typeVersion":1,"position":[880,0],"id":"fc1d4c3d-c084-489d-866f-2f9fabbae14a","name":"gerapdf"},{"parameters":{"jsCode":"// Pega o primeiro item do fluxo\nconst it = items[0];\n\n// Garante que veio binário\nif (!it.binary || Object.keys(it.binary).length === 0) {\n  throw new Error('Sem binary no item. Conecte este Function logo após o nó que gera o PDF.');\n}\n\n// Descobre o nome da propriedade binária (pode ser \"data\", \"pdf\", etc.)\nconst binKey = Object.keys(it.binary)[0];\nconst bin = it.binary[binKey];\n\n// O n8n já guarda em base64 em bin.data. Limpamos quebras de linha/espaços só por garantia.\nconst base64 = (bin.data || '').replace(/\\s+/g, '');\n\n// Retorna em JSON para o próximo nó\nreturn [{\n  json: {\n    base64,\n    fileName: bin.fileName || 'tesxte.pdf',\n    mimeType: bin.mimeType || 'application/pdf',\n    binKeyUsado: binKey\n  }\n}];\n "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,0],"id":"837e1ee5-5571-4600-90e2-4e226ba89cfb","name":"Code1"},{"parameters":{"operation":"executeQuery","query":"update  \n  pedidos\n  set status ='execucao'\nWHERE status = 'recebido'\nand pedido_id = {{ $('Execute a SQL query').item.json.pedido_id }} ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1632,0],"id":"4503cb42-6c22-4041-95f6-253535688955","name":"Execute a SQL query1","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}}],"connections":{"When chat message received":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Code":{"main":[[]]},"HTTP Request":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"Edit Image":{"main":[[{"node":"gerapdf","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"gerapdf":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"MegaApi14","type":"main","index":0}]]},"MegaApi14":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"70405ee9-11f8-4cfd-97ed-372bb3a98ca4","triggerCount":0,"tags":[]}