kernel-pizza-gL1FbKkYm9zGfCAA.json
{"createdAt":"2025-09-18T15:44:58.320Z","updatedAt":"2025-09-27T00:24:38.042Z","id":"gL1FbKkYm9zGfCAA","name":"Kernel Pizza","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":" SELECT rejeita_item( {{ $('DadoPedido').item.json.user_id }}, {{ $('DadoPedido').item.json.pedido_id }}  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3008,-592],"id":"d5d30080-47a6-459c-b463-883f0f46f96a","name":"RejeitaItem","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"fieldToSplitOut":"output.bebidas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[288,-832],"id":"7a608843-94ae-4a9d-8a55-9f4222a0f6ab","name":"Bebidas","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":" output.pizzas_fracionadas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[304,-704],"id":"49dbeeb0-7863-4321-abc5-6aa8716b5d4c","name":"Pizzas Fracionada","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.pizzas_inteiras","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[304,-576],"id":"e738ed86-7847-426a-928a-9dd96bf35e0a","name":"Pizzas Inteira","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.esfirras","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[304,-448],"id":"158da210-0bc8-433a-9120-6fd036ad4d85","name":"Esfirra","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"tipo","fieldValue":"bebida"},{"fieldId":"categoria","fieldValue":"bebida"},{"fieldId":"nome","fieldValue":"={{ $json.nome }}"},{"fieldId":"volume","fieldValue":"= {{ (($json.volume ?? '').toString().replace(/[\\s\\u00A0\\u200B-\\u200D\\uFEFF]+/g, '') === '')\n    ? ' volume desconhecido'\n    : ($json.volume ?? '').toString().replace(/[\\s\\u00A0\\u200B-\\u200D\\uFEFF]+/g, '') }}"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"},{"fieldId":"numero","fieldValue":"={{ $json.numero ? $json.numero : 0 }}"},{"fieldId":"comando_original","fieldValue":"={{ $json.comando_original }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[560,-832],"id":"f7635034-812e-4fbd-aa0d-9042e5cc4409","name":"Itembebida","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"categoria","fieldValue":"pizza"},{"fieldId":"fracionada","fieldValue":"true"},{"fieldId":"numero","fieldValue":"= {{ $json.metade1 }}"},{"fieldId":"numero_fracao","fieldValue":"={{ $json.metade2 }}"},{"fieldId":"tamanho","fieldValue":"grande"},{"fieldId":"fracionada","fieldValue":"true"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"},{"fieldId":"nome","fieldValue":"={{ $json.nome }}"},{"fieldId":"nome_fracao","fieldValue":"={{ $json.nome_fracao }}"},{"fieldId":"pizza_referencia","fieldValue":"={{$json.pizza_referencia.trim()}}"},{"fieldId":"comando_original","fieldValue":"={{ $json.comando_original }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[560,-704],"id":"1a425d55-acc5-40b3-8035-6dea956073b8","name":"ItemFracionado","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"categoria","fieldValue":"pizza"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"numero","fieldValue":"={{ String($json.numero ?? '').trim() === '' ? null : $json.numero }}"},{"fieldId":"tamanho","fieldValue":"={{ $json.tamanho.toLowerCase() }}"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"},{"fieldId":"nome","fieldValue":"={{ $json.nome?.trim() === '' ? null : $json.nome }}"},{"fieldId":"pizza_referencia","fieldValue":"={{ $json.pizza_referencia }}"},{"fieldId":"comando_original","fieldValue":"={{ $json.comando_original }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[560,-576],"id":"09a72d7a-7fcc-4cd4-97a6-28bd531c962c","name":"ItemInteira","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"tipo","fieldValue":"bebida"},{"fieldId":"categoria","fieldValue":"esfirra"},{"fieldId":"nome","fieldValue":"={{ $json.nome?.trim() === '' ? null : $json.nome }}"},{"fieldId":"tipo","fieldValue":"={{ $json.tipo?.trim() === '' ? null : $json.tipo }}"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"},{"fieldId":"numero","fieldValue":"={{ (String($json.numero ?? '').trim() === '' \n    || Number(String($json.numero).replace(',','.').trim()) === 0)\n  ? null \n  : $json.numero }}"},{"fieldId":"comando_original","fieldValue":"={{ $json.comando_original }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[560,-448],"id":"59df7bdc-aed6-46b7-9f35-1a2bf7ec7cf3","name":"ItemEsfirra","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[-400,-480],"id":"b399cce6-9e20-4758-989a-b43190cb9942","name":"Auto-fixing Output Parser","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":" \n\n\nCALL ReordenarItensConcluidos( {{ $('DadoPedido').item.json.user_id }}, {{ $('DadoPedido').item.json.pedido_id }} );\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3408,-592],"id":"86faff93-e8fb-47a4-84e7-6d67471a8cd9","name":"OrdenaPedido","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" UPDATE Item_pedido_temp AS i\nSET  status = 'concluido',\n   ordem_item = 0\n \nWHERE  status = 'inicio' and\n    user_id =  {{ $('DadoPedido').item.json.user_id }} and i.pedido_id = {{ $('DadoPedido').item.json.pedido_id }} and i.numero <> 0 ;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3248,-592],"id":"b5ebf3b9-d2df-4845-8e4c-e0c83e3097fa","name":"ConcluiTudo","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"fieldToSplitOut":"output.bordas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[304,-192],"id":"e56769d0-adcf-4271-8573-80a1dc184634","name":"Bordas","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1328,-656],"id":"ec18115b-1dc9-4971-b260-adebc6788470","name":"Merge1","alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-528,-240],"id":"29668865-9ed1-45b0-941b-049371b5e133","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":" {\n  \"type\": \"object\",\n  \"properties\": {\n    \"pizzas_inteiras\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"numero\": { \"type\": \"integer\" },\n          \"tamanho\": { \"type\": \"string\" },\n           \"nome\": { \"type\": \"string\" },\n           \"pizza_referencia\":  { \"type\": \"string\" },\n           \"comando_original\":  { \"type\": \"string\" }\n          \n        },\n        \"required\": [\"quantidade\", \"numero\", \"tamanho\", \"pedido_id\"]\n      }\n    },\n    \"pizzas_fracionadas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"metade1\": { \"type\": \"integer\" },\n          \"metade2\": { \"type\": \"integer\" },\n            \"nome\": { \"type\": \"string\" },\n            \"nome_fracao\": { \"type\": \"string\" },\n           \"pizza_referencia\":  { \"type\": \"string\" },\n           \"comando_original\":  { \"type\": \"string\" }\n         \n        },\n        \"required\": [\"quantidade\", \"metade1\", \"metade2\",\"pedido_id\"]\n      }\n    },\n    \"bebidas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"nome\": { \"type\": \"string\" },\n          \"volume\": { \"type\": \"string\" },\n           \"comando_original\":  { \"type\": \"string\" }\n         \n        },\n        \"required\": [\"quantidade\", \"nome\", \"volume\",\"pedido_id\"]\n      }\n    },\n    \"esfirras\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"numero\": { \"type\": \"integer\" },\n          \"nome\": { \"type\": \"string\" },\n          \"tipo\": { \"type\": \"string\" },\n           \"comando_original\":  { \"type\": \"string\" }\n        },\n        \"required\": [\"quantidade\", \"numero\", \"nome\", \"tipo\"]\n      }\n    },\n    \"bordas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"numero\": { \"type\": \"integer\" },\n          \"nome\": { \"type\": \"string\" } ,\n           \"pizza_referencia\":  { \"type\": \"string\" },\n          \"tamanho\": { \"type\": \"string\" }, \n          \"categoria\": { \"type\": \"string\" },\n           \"comando_original\":  { \"type\": \"string\" }\n  \n         \n    },\n        \"required\": [\"numero\", \"pizza_referencia\"]\n      }\n    },\n    \"item\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": { \n          \"nome\": { \"type\": \"string\" } ,\n           \"pizza_referencia\":  { \"type\": \"string\" } ,\n           \"comando_original\":  { \"type\": \"string\" }\n          \n    },\n        \"required\": [\"nome\", \"pizza_pai\"]\n      }\n    }\n\n    \n  },\n  \"required\": [\n    \"pizzas_inteiras\",\n    \"pizzas_fracionadas\",\n    \"bebidas\",\n    \"esfirras\",\n    \"bordas\" \n  ]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-304,-288],"id":"8e713269-9051-4c42-82c1-636de7005114","name":"Structured Output Parser [Schema]","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"promptType":"define","text":"=<mensagem_do_usuario>\n{{ $('When Executed by Another Workflow').item.json.mensagem }}\n</mensagem_do_usuario>","hasOutputParser":true,"messages":{"messageValues":[{"message":"=  {\n  \"pizzas_inteiras\": [\n    { \"quantidade\": int, \"numero\": int, \"tamanho\": str , \"nome\": str, \"pizza_referencia\": str, \"comando_original\": str  }   // pizza_referencia é uma relação com a borda ou com item \n  ],\n  \"pizzas_fracionadas\": [\n    { \"quantidade\": int, \"metade1\": int, \"metade2\": int , \"nome\": str, \n\"nome_fracao\": str , \"pizza_referencia\": str, \"comando_original\": str }\n  ],\n  \"bebidas\": [\n    { \"quantidade\": int, \"nome\": str, \"volume\": str , \"comando_original\": str }\n  ],\n \"esfirras\": [\n  { \"quantidade\": int, \"numero\": int, \"nome\": str, \"tipo\": str , \"comando_original\": str} // tipo: \"salgada\" ou \"doce\"\n  ],\n  \"bordas\": [\n   \n { \"numero\": int, \"nome\": str, \"pizza_referencia\": str , \"tamanho\": str, \"categoria\": str, \"comando_original\": str } // pizza_referencia é uma relação da borda com a pizza \n\n\n// \"pizza_referencia\" = string que identifica a pizza onde será aplicada\n  ]\n \"item\": [\n    { \"nome\": str , \"pizza_pai\": int , \"comando_original\": str} //  \n  ]\n\n\n}\n\n⚠️ Regras obrigatórias:\n- Sempre retorne exatamente essas 5 listas, mesmo que estejam vazias.\n- Use apenas os nomes de campos e estrutura mostrados acima.\n- Retorne **apenas o JSON válido**, sem explicações, comentários ou texto adicional.\n\nSe o usuário informar apenas ‘pizza N’, não descarte. Gere {quantidade:1, numero:N, tamanho:'media'} em pizzas_inteiras.”\n\n“Nunca omita itens ambíguos; use defaults: quantidade=1, tamanho='media'.”\n\n“Não valide com o cardápio. A validação será feita depois; sempre retorne o item.”\n\n\"A palavra uma , duas  refere-se sempre  quantidade  exemplo uma  pizza mussarela ou uma pizza presunto e queijo é quantidade..\"\n\n\n\nPrioridade de interpretação\n\nSe houver padrões de pizza fracionada no formato {Q? 1/2 A (e|,|+|/) 1/2 B}, crie um item em pizzas_fracionadas com {quantidade: Q || 1, metade1: A, metade2: B}.\n\nNunca crie pizzas_inteiras para números A ou B quando eles estiverem dentro de um padrão fracionado.\n\nSó trate “pizza N” (inteira) quando não fizer parte de um padrão 1/2 N.  \n\nSo trate   \"pizza\" se tiver explicito que se trata de \"pizza\"\n\nSo trate   \"esfirra \" se tiver explicito que se trata de \"esfirra\"\n\no comando_origianal guaro valor da string que gerou o json  exemplo :  “1 pizza 1/2 14  e 1/2 21”\n\nRegras específicas para BORDAS (muito importante):\n- Se a mensagem contiver “borda”, o texto imediatamente após a palavra “borda”\n  até antes de “ao item”, “no item”, “item”, “pizza” ou o fim da frase, é o campo \"nome\".\n- Normalize espaços e minúsculas (ex.: \"Borda   Cheddar\" → nome: \"cheddar\").\n- Sempre preencha \"categoria\":\"borda\" e \"pizza_pai\" com o número do item/pizza alvo quando presente (ex.: \"item 1\" → pizza_pai: 1).\n- Não use o campo \"item[]\"; bordas devem ir apenas em \"bordas[]\".\n- Defaults para borda quando ausentes: numero=0, tamanho=\"\", pizza_referencia=\"\".\n\n\n\nExemplos:\n\n“1 pizza 1/2 14  e 1/2 21” → pizzas_fracionadas: [{quantidade:1, metade1:14, metade2:21, nome:'', nome_fracao: '' } ]\n\n“2 1/2 10, 1/2 15” → pizzas_fracionadas: [{quantidade:2, metade1:10, metade2:15 , nome:'', nome_fracao: '' }]\n\n“14 e 21” (sem 1/2) → pizzas_inteiras: [{q:1,n:14,media},{q:1,n:21,media }]\n\n\n\n“1 pizza 1/2 mussarela  e 1/2 presunto e queijo ” → pizzas_fracionadas: [{quantidade:1, metade1:0, metade2:0, nome:mussarela, nome_fracao: presunto e queijo } ]\n\n“1 pizza meia  mussarela  e meia  presunto e queijo ” → pizzas_fracionadas: [{quantidade:1, metade1:0, metade2:0, nome:mussarela, nome_fracao: presunto e queijo } ]\n\nSe o cliente disser meia  interprete como 1/2\n\n\n \nBebidas — defaults e sinônimos (obrigatório)\n\nSe o cliente disser “lata” e não informar volume, use 350ml.\n\nSe o cliente disser “long neck” e não informar volume, use 330ml.\n\nSe o cliente pedir coca/coca-cola sem volume, use 2l.\n\nNunca rejeite bebidas por falta de volume quando se aplicar uma regra acima.\n\nNormalize o campo volume sempre em minúsculas e sem espaços (ex.: 350ml, 330ml, 2l).\n\nExemplos\n\n“3 long neck heineken” → bebidas: [{ \"quantidade\": 3, \"nome\": \"heineken\", \"volume\": \"330ml\" }]\n\n“lata bud” → bebidas: [{ \"quantidade\": 1, \"nome\": \"budweiser\", \"volume\": \"350ml\" }]\n\n“2 coca” → bebidas: [{ \"quantidade\": 2, \"nome\": \"coca cola\", \"volume\": \"2l\" }]\nPedido:\n{pedido}\n\nquando numa string de comando tiver 1 pizza musssarela  1 borda chedaar na qual o codigo da pizza não for identifica,  crie no campo   \"pizza_referencia\" uma amarração entre 1 pizza mussarela e borda   \"pizza_referencia\" pode ser um codigo unico. Isso vale tambpem para pizza fracionada \n\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-464,-720],"id":"03c7b5ef-890b-43ea-9e04-b190ee33affa","name":"Basic LLM Chain","retryOnFail":true,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.item","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[304,-320],"id":"52506e17-3640-4a5c-97f2-d75318f09678","name":"item4","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"=1"},{"fieldId":"tipo","fieldValue":"item"},{"fieldId":"categoria","fieldValue":"item"},{"fieldId":"nome","fieldValue":"={{ $json.nome?.trim() === '' ? null : $json.nome }}"},{"fieldId":"numero","fieldValue":"=0"},{"fieldId":"fracionada","fieldValue":"=false"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"},{"fieldId":"tamanho","fieldValue":"=0"},{"fieldId":"comando_original","fieldValue":"={{ $json.comando_original }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[560,-320],"id":"5f4ecb21-f345-44c7-92f8-9be2a993f5f8","name":"Item4","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT AtualizaValorFracionado(  {{ $('DadoPedido').item.json.user_id }},{{ $('DadoPedido').item.json.pedido_id }});","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2784,-592],"id":"a381a11d-a7c7-4aa3-aa57-c6a67985f4bb","name":"AtualizaValorPizzaFracionada2","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT   atualizar_valores_itens_temp( {{ $('DadoPedido').item.json.user_id }},{{ $('DadoPedido').item.json.pedido_id }} );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2560,-592],"id":"157dbe1e-050f-456b-ac79-2d88e1607752","name":"AtualizaValorItem2","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"=1"},{"fieldId":"tipo","fieldValue":"borda"},{"fieldId":"categoria","fieldValue":"borda"},{"fieldId":"nome","fieldValue":"={{ $('Bordas').item.json.nome }}"},{"fieldId":"numero","fieldValue":"={{ $json.numero ? $json.numero : 0 }}"},{"fieldId":"fracionada","fieldValue":"=false"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"},{"fieldId":"tamanho","fieldValue":"={{ $json.tamanho }}"},{"fieldId":"pizza_referencia","fieldValue":"={{ $json.pizza_referencia }}"},{"fieldId":"comando_original","fieldValue":"={{ $json.comando_original }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[560,-192],"id":"754e1ee8-60ce-4a79-9dc7-aa77cf2359e8","name":"Item5","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a3c83333-8ce3-4995-8230-b361099aa1e4","name":"user_id","value":"={{ $('When Executed by Another Workflow').item.json.user_id }}","type":"number"},{"id":"d7c14753-505f-48ee-a344-fa565ace43df","name":"pedido_id","value":"={{ $('When Executed by Another Workflow').item.json.pedido_id }}","type":"number"},{"id":"fdf33d81-37b4-46c9-b56a-6787b3d92dac","name":"rotina","value":"={{ $('When Executed by Another Workflow').item.json.rotina }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2000,-752],"id":"a6418514-62bb-4f8a-b1e3-7debd49a46c5","name":"MontPedido"},{"parameters":{"assignments":{"assignments":[{"id":"8033b503-a34e-4682-a40a-b60b315714e6","name":"user_id","value":"={{ $json.user_id }}","type":"number"},{"id":"bd4fde4d-0d15-4271-945c-571b24973379","name":"pedido_id","value":"={{ $json.pedido_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1680,-592],"id":"8373ecb1-043b-4540-895e-8bb63b1ffe3a","name":"DadoPedido","executeOnce":true},{"parameters":{"operation":"executeQuery","query":"call valida_nome_item_pedido( {{ $json.user_id }} , {{ $json.pedido_id }});","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1872,-592],"id":"fe8bc0da-85fc-4616-8f56-8b2747cc414e","name":"ValidaItemNome","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"9f488c5c-0b3b-48e9-87b1-5a22d513d1ec","name":"IdConversa","value":"={{ $('When Executed by Another Workflow').item.json.telefone }}","type":"string"}]},"options":{}},"id":"63df038e-25e8-410b-8781-94308aa7e0c4","name":"Dados Lead","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2160,-752],"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":"\nselect numero, tamanho, fracionada, categoria, nome,  \n(case when categoria <> 'bebida' then '' else volume end)  , status, valor  from item_pedido_temp where status  ='rejeitado'\nand user_id =    {{ $('DadoPedido').item.json.user_id }} \nand pedido_id =  {{ $('DadoPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[4128,-336],"id":"a924e254-623b-401d-a3b7-3c07de02ad05","name":"GetProblemas","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"       select count(*) total_opções ,  o.item_id , comando_original  , categoria   , fracionada, valor \n   from item_opcoes  o    \n   join  item_pedido_temp i \n   on  o.item_id = i.item_id  where\n            i.user_id =   {{ $('DadoPedido').item.json.user_id }}\n          AND i.pedido_id =    {{ $('DadoPedido').item.json.pedido_id }}\n    group by o.item_id ,   comando_original  , fracionada , categoria  , valor \n\n\n ","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[4704,-352],"id":"75ed7fd2-e03e-46bc-a36e-7015dd00fbbc","name":"GetOpcoes","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"  select calcula_pre_pedido({{ $('DadoPedido').item.json.user_id }}, {{ $('DadoPedido').item.json.pedido_id }}  );","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[5376,-1792],"id":"11117d42-0441-4708-b771-ddacf0ea0356","name":"GetCarrinho","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" \n\nUPDATE item_pedido_temp AS ib\nSET id_pizza_pai = ip.item_id\nFROM item_pedido_temp AS ip\nWHERE ib.pizza_referencia IS NOT NULL\n  AND LENGTH(TRIM(ib.pizza_referencia)) > 1\n  AND ib.status = 'inicio'\n  AND ib.categoria IN ('item','borda')\n  AND ip.pizza_referencia IS NOT NULL\n  AND LENGTH(TRIM(ip.pizza_referencia)) > 1\n  AND ip.status = 'inicio'\n  AND ip.categoria = 'pizza'\n  AND ib.user_id = ip.user_id\n  AND ib.pedido_id = ip.pedido_id\n  AND ib.user_id =  {{ $('DadoPedido').item.json.user_id }} \n  AND ib.pedido_id =  {{ $('DadoPedido').item.json.pedido_id }}\n  AND ib.pizza_referencia = ip.pizza_referencia;\n\n ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2096,-592],"id":"623d8730-7d3e-4b28-b8f2-47db6bc22d80","name":"VinculaBordaItemPizza","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-720,-1200],"id":"0f56742b-affa-497c-bde4-75bf60479a63","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"43534543534","contextWindowLength":3},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-608,-1232],"id":"f5e05165-597b-4bc3-aa8c-f577775e46a5","name":"Simple Memory1"},{"parameters":{"operation":"update","tableId":"usuario_lacantina","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $('MontPedido').item.json.user_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"endereço","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', `endereço `, 'string') }}"},{"fieldId":"bairro","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', `bairro`, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[-176,-1216],"id":"5dd9d402-25cd-475b-88a2-bfd4d571b918","name":"SalvaEndereco","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"tableId":"comentario_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $json.user_id }}"},{"fieldId":"pedido_id","fieldValue":"={{ $json.pedido_id }}"},{"fieldId":"comentario","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', `Comentario campo`, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[-544,-1152],"id":"4466276d-e81b-455b-a0d7-bc04e4bd27c4","name":"Comentario","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"pedido_temp","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $('MontPedido').item.json.user_id }}"},{"keyName":"pedido_id","condition":"eq","keyValue":"= {{ $('MontPedido').item.json.pedido_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"tipo_cobranca","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', `forma_pagamento`, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[-384,-1136],"id":"c654bfb2-2b66-4255-8f5a-0a0c547d7d3f","name":"SalvaFormaPagto","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Execute a SQL query in Postgres fechamento ","operation":"executeQuery","query":"SELECT * from finalizar_pedido(    {{ $('MontPedido').item.json.user_id }} , {{ $('MontPedido').item.json.pedido_id }} ;) ;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-288,-1120],"id":"527da8aa-05f5-43a7-bcf0-344fdaf6d5ba","name":"Fechamento","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=```{{ $json.output }}```","options_message":{"delay":4}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-192,-1472],"id":"eb621430-0a3a-4261-ae41-1c9ebf61d4d2","name":"MenuCardapio1","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"operation":"executeQuery","query":"  select calcula_pre_pedido(   {{ $('MontPedido').item.json.user_id }} , {{ $('MontPedido').item.json.pedido_id }}) ;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-480,-1088],"id":"5267879a-d5b7-4e4a-8c7f-a08b6f436970","name":"GetCarrinho1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"update item_pedido_temp \n  set status = 'enviado'\n  where user_id =   {{ $('MontPedido').item.json.user_id }}  \n  and   pedido_id =    {{ $('MontPedido').item.json.pedido_id }}  and  status = 'fechamento'  ;\n \n  ","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-160,-1120],"id":"0670b9ba-bc75-48f9-9e7b-f3e940fd84f0","name":"Execute a SQL query in Postgres","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"66a91f66-e755-4120-b22f-44c814f56162","name":"message","value":"={{ $json.mensagem }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2336,-752],"id":"03833dad-39dc-4ec9-8164-85890b68dea4","name":"MensagemTraduzida","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# Persona\nVocê é responsável por mostrar o carrinho do cliente de forma clara e objetiva.\n\n# Regras\n1. Sempre chame GetCarrinho( ).\n2. Mostre os itens numerados, quantidade, descrição e valor.\n3. Finalize com subtotal, entrega e total.\n4. Não invente itens nem preços.\n5. Seja simpático, mas não dê opiniões ou sugestões.\n\n# Regras adicionais\n- Sempre inicie a resposta com exatamente:\n  🛒 Carrinho:\n- Nunca remova ou altere esse cabeçalho. Ele deve aparecer sempre na primeira linha. mostre os dados não altere nada e nem de sugestões. Você so mostra dados. No maximo diga aqui esta o seu carrinho. algo agradável apois exibir os dados. Não mexa nos dados\n\n\n\n# Tool disponível\n- GetCarrinho( )\n","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4832,-3040],"id":"07710563-a738-4c6b-b817-dd306235cab4","name":"Carinnho","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"= # Persona\nVocê informa de forma clara e curta se houve itens rejeitados ou não encontrados.\n\n# Regras\n1. Sempre chame GetRejeitados() mas não mostre para usuario.\n2. Mostre os itens rejeitados numa lista simples.\n3. Nunca invente substituições.\n\n- Nunca remova ou altere esse cabeçalho. Ele deve aparecer sempre na primeira linha. mostre os dados não altere nada e nem de sugestões. Você so mostra dados. \n\n\n \n# Tool disponível\n- GetRejeitados()","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4016,-592],"id":"10d4654e-5a34-4874-9f8f-e9980c232a27","name":"Issue","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# Mostrar opções  e atualizar pedido \n\n1) Chame GetOpcoes() e considere a lista em `response` (ou `opcoes`; se não existir, use o array raiz).\n   Defina N = tamanho da lista.\n\n2) Se N == 0:\n   - Não escreva nada. Não faça pergunta.\n\n3) Se N > 0:\n   - NÃO exiba `item_id` isolado nem pule linha em branco.\n   - Para cada item na ordem recebida, imprima EXATAMENTE 2 linhas:\n     <opcao>.)   <nome> \n     🍕 Fracionada: <Sim/Não>\n\n   - Ao final, uma linha de total (sem pular linha antes):\n     Não conseguimos montar esses:  (N) item (s).\n     Vamos montar? \n\n4) Não faça perguntas ao cliente. Apenas liste e mostre o total.\n5) Use `item_id` (não `numero`) dentro dos parênteses. Formate preço com 2 casas.\n6) Não reenumere o banco: use o campo `opcao` para o prefixo `<opcao>.)`.\n\n7)   Se N > 0:\n   Não mostre a chamada na resposta (não imprimir 'to=functions...').\n   Mostre apenas: \"### Chamada para montagem em andamento.⏳ /n Digite ok para continuar.\"\n","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4592,-592],"id":"392376a1-567b-4410-b5dd-454429e4e315","name":"Opcoes","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"= {{ $('Dados Lead').item.json.IdConversa }}","messageText":"=```{{ $('GetProximaMontagem').item.json.montamensagemopcoes }}```","options_message":{"delay":4}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[688,-2016],"id":"a5155701-51df-4242-a46c-914118a1e42b","name":"MenuCardapio2","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"operation":"executeQuery","query":"  call popula_item_opcoes( {{ $('DadoPedido').item.json.user_id }}, {{ $('DadoPedido').item.json.pedido_id }}  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2320,-592],"id":"de0d183a-8dcd-42c0-b5e8-39a52c8170f4","name":"InsereOpcoesItens","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" SELECT * FROM  MontaMensagemOpcoes(    {{ $('MontPedido').item.json.user_id }} , {{ $('MontPedido').item.json.pedido_id }} ) ;","options":{"largeNumbersOutput":"numbers"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[112,-2720],"id":"e2177701-b0d4-445f-8cbf-55137d8a3e15","name":"GetPizzaMontagem","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-16,-2720],"id":"f067a71b-fd1d-4322-9807-033b71ccbd42","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $('MensagemTraduzida').item.json.message }}","options":{"systemMessage":"=   #Persona\n\nVocê é um atendente de pizzaria responsável por ajudar o cliente a resolver itens que ficaram em “opções” no carrinho.\nSempre trate apenas um item por vez até acabar. \n\nREGRA 0 (prioritária, primeira ação):\n\nNa primeira mensagem deste atendimento, chame IMEDIATAMENTE a ferramenta EscolheOpcao, GetPizzaMontagem e GetOpcMontagem e Atualiza.\nNão escreva texto antes disso. Não faça nenhuma outra chamada antes.\nApós o retorno, prossiga com o fluxo normal.\n\n\n#Fluxo obrigatório\n\n \nexecute  GetPizzaMontagem(  )\nlinha  de dados  (resultado de  GetPizzaMontagem exatamente como vier no banco:\nNÃO reenumere. Use o valor da coluna opcao.\n \n \n \n\nSe não houver itens → responda apenas:\n✅ Todas as opções foram resolvidas, podemos prosseguir com o fechamento do pedido.\n\nSe houver item → mostre o campo comando_original.\n\nListe as opções numeradas 1…N resultado da  GetOpcoesMontagem(item_id) :\n1️⃣ (<numero>) <nome> – R$ <preco>\nℹ️ Descrição: <descricao>\n🍕 Fracionada: Sim/Não\n\nPergunte: “Qual opção você escolhe? Responda com 1…N.”\n\nSe o cliente responder um número válido (1…N):\n\n\nSe o cliente responder um número válido (1…N):\n\nLocalize a linha cuja opcao = número digitado.\n\nUse o mesmo item_id atual e o numero (código do cardápio) dessa linha.\n\nChame Atualiza preenchendo apenas os campos numéricos:\n\nitem_id = (o mesmo do item atual)\n\nnumero = (valor da coluna numero da opção escolhida)\n\nNunca use o índice 1…N como numero. numero é o código do cardápio.\n\nSe o cliente responder fora de 1…N:\nDiga: “Não entendi. Por favor, responda com um número válido (1…N).” e reapresente a mesma lista.\n \nUse exatamente o mesmo item_id retornado por GetPizzaMontagem.\n\nPegue o numero correspondente da lista de GetOpcoesMontagem (1556).\n\n \nDepois volte ao passo 1 (GetPizzaMontagem) até não restarem itens.\n\nSe o cliente responder fora de 1…N → diga:\n❌ Não entendi. Por favor, responda com um número válido.\n(Reexiba a mesma lista anterior).\n\nTools disponíveis\n\nGetPizzaMontagem ()\n\nGetOpcoesMontagem( 1556)\n \n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[48,-2896],"id":"694c7130-f060-47e1-b354-4db6c6c0ba18","name":"AI Agent1","notesInFlow":false},{"parameters":{"operation":"executeQuery","query":" SELECT *\nFROM GetOpcoes( $1);\n","options":{"queryReplacement":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query_Parameters', `item_id`, 'string') }}","largeNumbersOutput":"numbers"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[240,-2704],"id":"c78b7be0-579b-4a2c-bd9a-b10d2381f3d1","name":"GetOpcMontagem","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2240,-2768],"id":"6e6f6763-5243-42f3-8cb3-df8e4a48a6a4","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"operation":"update","tableId":"item_pedido_temp","matchType":"allFilters","filters":{"conditions":[{"keyName":"item_id","condition":"eq","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Field_Value', `item_id`, 'string') }}"},{"keyName":"user_id","condition":"eq","keyValue":"=  {{ $('MontPedido2').item.json.user_id }}"},{"keyName":"pedido_id","condition":"eq","keyValue":"={{ $('MontPedido2').item.json.pedido_id }}"},{"keyName":"numero","condition":"eq","keyValue":"0"}]},"fieldsUi":{"fieldValues":[{"fieldId":"numero","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', ``, 'string') }}"},{"fieldId":"status","fieldValue":"inicio"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[2480,-2768],"id":"71293d82-2756-498c-8dad-b39d8d665577","name":"AtualizaItemtemp1","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"promptType":"define","text":"={{ $('MensagemTraduzida1').item.json.message }}","options":{"systemMessage":"= #Persona\n\nVocê é um atendente de pizzaria responsável por ajudar o cliente a resolver itens que ficaram em “opções” no carrinho.\nSempre trate apenas um item por vez até acabar.\n\n#Fluxo obrigatório\n\n1 Chame GetPizzaMontagem( ).\n\n2 execute GetOpcMontagem(item_id)   \napos  passo 1.  \n\nSe não houver itens → responda apenas:\n✅ Todas as opções foram resolvidas, podemos prosseguir com o fechamento do pedido.\n\nSe houver item → mostre o campo comando_original.\n\nListe as opções numeradas 1…N resultado da  GetOpcoesMontagem(item_id) :\n1️⃣ (<numero>) <nome> – R$ <preco>\nℹ️ Descrição: <descricao>\n🍕 Fracionada: Sim/Não\n\nPergunte: “Qual opção você escolhe? Responda com 1…N.”\n\nSe o cliente responder um número válido (1…N):\n\nUse exatamente o mesmo item_id retornado por GetPizzaMontagem.\n\nPegue o numero correspondente da lista de GetOpcoesMontagem (item_id).\n\nChame AtualizaItem(item_id,numero) .\n  \nDepois volte ao passo 1 (GetPizzaMontagem) até não restarem itens.\n\nSe o cliente responder fora de 1…N → diga:\n❌ Não entendi. Por favor, responda com um número válido.\n(Reexiba a mesma lista anterior).\n\nTools disponíveis\n\nGetPizzaMontagem ()\n\nGetOpcoesMontagem(item_id)\n\nAtualizaItem(item_id, numero)\n\nRegras\n\nNunca invente opções, preços ou códigos.\n\nNunca peça user_id ou pedido_id ao cliente.\n\nSempre siga a ordem: GetPizzaMontagem → GetOpcoesMontagem → AtualizaItem → repetir."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2320,-3056],"id":"01eac990-3bc8-46b3-bf04-cd566af33634","name":"AI Agent3"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('SessionKey').item.json.session_key }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2352,-2784],"id":"28aebb0c-3c83-43af-8a9c-2b04967ed4b6","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" SELECT * FROM  GetPizzaMontagem(    {{ $('MontPedido').item.json.user_id }} , {{ $('MontPedido').item.json.pedido_id }} ) ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-352,-2016],"id":"b013dad7-f696-4bc4-b5f9-a25fdbfd2ef6","name":"Montagem","alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"88562244-0734-4bd1-ad22-d614ab675052","leftValue":"={{ $json.numero }}","rightValue":0,"operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-544,-2000],"id":"ca874184-03fe-4330-b617-21cba9e9efcb","name":"If1"},{"parameters":{"jsCode":" // n8n Function node\nconst msg = $('MensagemTraduzida').item?.json?.message ?? ($json.message ?? '');\nconst nums = (String(msg).match(/\\d+/g) || []).map(n => Number(n));\n\nif (nums.length === 1 && Number.isFinite(nums[0])) {\n  return [{ json: { numero: nums[0], mensagem: 'ok' } }];\n}\n\nreturn [{ json: { numero: 0, mensagem: 'blabdbsfsb' } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,-2000],"id":"05c4727e-6e13-4a05-9352-de827b1c2cf4","name":"Code2"},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"= {{ $('Dados Lead1').item.json.IdConversa }}","messageText":"=``` Escolha uma opção valida por favor.```","options_message":{"delay":4}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-432,-1808],"id":"80a741de-611d-4292-8dee-55292e2a2521","name":"MenuCardapio3","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"promptType":"define","text":"={{ $('MensagemTraduzida').item.json.message }}","options":{"systemMessage":"= # Persona\nVocê é um atendente de pizzaria responsável por fechar pedidos de forma organizada e simpática.  \nSeu papel é colher os dados finais (endereço, bairro, forma de pagamento e comentário), salvar cada um deles usando as ferramentas disponíveis e, somente quando tudo estiver confirmado, executar o fechamento do pedido.\n\n# Regras de Atendimento\n1. Ordem obrigatória de coleta:\n\n   - Primeiramente: Mostrar o carrinho atual usando GetCarrinho1( ) e perguntar se o cliente confirma o fechamento do pedido.   \n     - Se o cliente disser \"sim\", prossiga para os próximos passos Fechamento().   \n     - Se o cliente disser \"não\", conitunua antendendo.\n\n   - Depois: Endereço completo (rua + número) e Bairro → use SalvaEndereco(user_id, pedido_id, endereco, bairro).\n   - Depois: Forma de pagamento → use SalvaFormaPagto(user_id, pedido_id, forma_pagto).\n   - Depois: Comentário ou observações → use Comentario(user_id, pedido_id, comentario).\n   - Por último: Execute PosFechamento(user_id, pedido_id).\n2. Sempre valide se o cliente forneceu a informação correta.  \n   - Se faltar algo (ex: o cliente manda só a rua sem bairro), peça novamente de forma clara e curta.\n3. Somente quando endereço, bairro, forma de pagamento e comentário tiverem sido salvos com sucesso, execute PosFechamento().\n4. Se alguma tool retornar erro, informe o cliente e peça o dado novamente.\n5. Nunca finalize o pedido sem executar PosFechamento().\n6. Nunca invente dados; sempre utilize o que o cliente informou.\n7. Use uma linguagem simpática e objetiva.\n\n \n \n \n\n- Nunca pergunte ao cliente o user_id ou pedido_id.\n- Esses dados já são fornecidos automaticamente pelo fluxo e você deve usá-los diretamente ao chamar as tools.\n\n\n# Tools disponíveis\n- GetCarrinho1( )\n- SalvaEndereco  endereco, bairro)\n- SalvaFormaPagto(  forma_pagto)\n- Comentario(  comentario)\n- PosFechamento  pedido_id)\n-VoltaPedido( ) \n\n# Fluxo esperado\n1. Mostrar carrinho → chamar GetCarrinho() → perguntar se o cliente confirma.\n   - Se sim → seguir para próximo passo.\n   - Se não → encerrar sem fechar pedido.\n2. Perguntar endereço e bairro → chamar SalvaEndereco().\n3. Perguntar forma de pagamento → chamar SalvaFormaPagto().\n4. Perguntar se há comentário ou observação extra → chamar Comentario().\n5. Confirmar que tudo foi salvo com sucesso.\n6. Executar PosFechamento() e avisar o cliente que o pedido foi finalizado com sucesso 🎉.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-608,-1456],"id":"ad59e662-f3b3-4946-b211-c4d37f4bf9b1","name":"Fechamento1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.rotina }}","rightValue":3,"operator":{"type":"number","operation":"equals"},"id":"e3160797-555d-41ca-a0d5-60a5caf4fb75"}],"combinator":"and"},"renameOutput":true,"outputKey":"montagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e96fc6ed-5139-4fcb-8523-91c5ad9d6f23","leftValue":"={{ $json.rotina }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"fechamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0fb4b223-80cf-4071-ba32-727a64e9d77f","leftValue":"={{ $json.rotina }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"constroi"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94c93021-d462-4a50-b6e5-fc4a36940a8d","leftValue":"={{ $json.rotina }}","rightValue":4,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"carrinho"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"008113d2-8596-47d5-afcd-9fbba28eecd9","leftValue":"={{ $json.rotina }}","rightValue":5,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"atendimento"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1856,-800],"id":"83c5c999-841e-4b52-b01a-df440f3849d1","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"a5fd9f1d-4997-436e-bf2e-efe14d717756","name":"message.content","value":"={{ $json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3824,-592],"id":"f324bd22-6191-418e-86de-ebf4d82fab46","name":"FildsCarrinho"},{"parameters":{"assignments":{"assignments":[{"id":"019bfefa-210a-462c-a4fd-b8f72c392c36","name":"message.content","value":"={{ $json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4368,-592],"id":"7b036454-1664-4658-89f6-650874ccd85a","name":"FieldsIssue"},{"parameters":{"assignments":{"assignments":[{"id":"fe666c72-b3ec-498d-98a5-f2dab4818947","name":"message.content","value":"=```{{ ( ($json.message?.content ?? '').trim() ) || 'Sem opções para o momento.' }}```","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4912,-592],"id":"74207f62-fa55-4d4c-8787-f946e31624c4","name":"FieldsOpcoes"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"= # Persona\nVocê ajuda o cliente a escolher quando um item tem múltiplas opções.\n\n# Regras\n1. Sempre chame GetOpcoes ().\n2. Mostre as opções numeradas e inclua sempre:\n   - Tota de opções  total_opções  (ex: `(3) opções`)\n   - Número do cardápio (ex: `(23)`)\n   - Nome da pizza\n   - Preços (grande / média, se disponíveis)\n   - Indicação de fracionada: `🍕 Fracionada: Sim` ou `❌ Fracionada: Não`\n3. Cada opção deve ser exibida em **duas ou três linhas**:\n   - Linha 1: número sequencial + número do cardápio + nome + preço.\n    \n   - Linha 2 (se existir campo fracionada): status da fracionada.\n4. Diga ao cliente que: “Vamos lhe ajudar com a montagem. OK?” \n5. Nunca invente opções extras, use apenas o retorno da tool.\n\n# Tool disponível\n- GetOpcoes()\n","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3056,-2976],"id":"f54247d1-acb6-4f73-af41-c860b56412c0","name":"Opcoes1","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"= # Persona\nVocê ajuda o cliente a escolher quando um item tem múltiplas opções.\n\n# Regras\n1. Sempre chame GetOpcoes ().\n2. Mostre as opções numeradas e inclua sempre:\n   - Tota de opções  total_opções  (ex: `(3) opções`)\n   - Número do cardápio (ex: `(23)`)\n   - Nome da pizza\n  \n3. Cada opção deve ser exibida em **duas ou três linhas**:\n   - Linha 1: número sequencial + número do cardápio + nome + preço.\n    \n   - Linha 2 (se existir campo fracionada): status da fracionada.\n4. Diga ao cliente que: “Vamos lhe ajudar com a montagem. OK?” \n5. Nunca invente opções extras, use apenas o retorno da tool.\n\n# Tool disponível\n- GetOpcoes()\n","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3408,-2960],"id":"adfb5665-bcaf-4d5b-9a6c-4f3d601aada7","name":"Opcoes2","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"= {{$('Dados Lead').first().json.IdConversa}}","messageText":"=```{{ $('FieldsIssue').item.json.message.content }}```","options_message":{"delay":4}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[5120,-592],"id":"ebe4104e-7f71-468e-88a3-716a8563a1ac","name":"NãoEncontrados","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE pedido_temp p\nSET status = 'montagem'\nWHERE p.user_id   = {{ $('DadoPedido').item.json.user_id }}\n  AND p.pedido_id = {{ $('DadoPedido').item.json.pedido_id }}\n  AND EXISTS (\n    SELECT 1\n    FROM item_pedido_temp i\n    WHERE i.user_id   = p.user_id\n      AND i.pedido_id = p.pedido_id\n      AND i.status    = 'opcoes'\n  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3616,-592],"id":"7d725b83-4762-4500-b841-81055374a6c8","name":"AjudaMontagem","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1312,-2240],"id":"e9b1a4c7-c111-4fec-b512-d0fb3c10cdc5","name":"No Operation, do nothing7","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":"\nupdate item_opcoes\nset habilitada = true  \nwhere item_id = {{ $json.item_id }}  and\nopcao =  {{ $('Code2').item.json.numero }}  ; \n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-192,-2016],"id":"967b5815-37f7-4a8c-a340-048823ebc3ce","name":"HabilitaOpcao","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"\nupdate item_pedido_temp as  i \nset status = 'concluido',\nnumero = o.numero ,\nnome =    '(' || o.numero::text || ') ' || o.nome,\nvalor_unitario =  o.preco,\nvalor = o.preco * i.quantidade \nfrom item_opcoes as o \nwhere i.item_id = {{ $('Montagem').item.json.item_id }}  and\ni.numero = 0 and  user_id=  {{ $('MontPedido').item.json.user_id }} and pedido_id = {{ $('MontPedido').item.json.pedido_id }}\nand o.item_id =  i.item_id and \no.habilitada = true and i.numero = 0\n  and o.parte = 1  ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-16,-2016],"id":"7b4d8d69-b07a-41df-be33-95d0914d0124","name":"AtualizaOpcao","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"  SELECT * FROM  MontaMensagemOpcoes(    {{ $('MontPedido').item.json.user_id }} , {{ $('MontPedido').item.json.pedido_id }} ) ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[336,-2016],"id":"fbf6143f-8e15-4b76-977d-721e821ca09d","name":"GetProximaMontagem","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"\nupdate item_pedido_temp as  i \nset status = 'concluido',\nnumero_fracao = o.numero ,\nnome =   ' 1/2 (' || i.numero ::text || ') ' || i.nome || ' 1/2 (' || o.numero ::text || ') ' || o.nome,\nvalor_unitario =  o.preco,\nvalor =  ( o.preco + i.valor)/2  * i.quantidade \nfrom item_opcoes as o \nwhere i.item_id = {{ $('Montagem').item.json.item_id }}  and  user_id=  {{ $('MontPedido').item.json.user_id }} and pedido_id = {{ $('MontPedido').item.json.pedido_id }}\nand o.item_id =  i.item_id and \no.habilitada = true and i.numero_fracao = 0\nand o.parte = 2  ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[160,-2016],"id":"7233eb73-4fa8-4afb-b134-5e4f2b4a593c","name":"AtualizaOpcaoParte2","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"= {{$('Dados Lead').first().json.IdConversa}}","messageText":"=*Sua(s) pizza(s) escolhida(s) possui opções:⬇️*\n\n{{ $('FieldsOpcoes').item.json.message.content }}","options_message":{"delay":4}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[5312,-592],"id":"d942bd11-aad4-4a6e-aba8-6544cb118f2a","name":"Opcões","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[480,96],"id":"6219ee40-448f-49b3-bba7-b8cbe570bba9","name":"No Operation, do nothing8","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=```{{ $json.texto_alinhado }}```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-144,96],"id":"12a71904-2f15-4d1c-a175-6f8c33b25b32","name":"MenuCardapio10","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"={{ $json.original }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[304,96],"id":"eecd57fd-7bf4-4959-a38f-f1a406bc97c8","name":"MenuCardapio11","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"jsCode":" const raw = ($json.calcula_pre_pedido || \"\").replace(/\\r\\n/g, \"\\n\");\nconst txt = raw.trim();\n\nif (!txt) {\n  return { texto_alinhado: \"não existe registro\" };\n}\n\nconst lines = txt.split(\"\\n\").map(l => l.trimEnd());\n\n// Se não tiver \"Resumo:\", devolve o corpo original\nconst start = lines.findIndex(l => /resumo:/i.test(l));\nif (start === -1) {\n  return { texto_alinhado: txt };\n}\n\nlet end = lines.findIndex((l, i) => i > start && (\n  /forma de pagamento/i.test(l) || /entrega:/i.test(l) || /total:/i.test(l) || /total de itens/i.test(l)\n));\nif (end === -1) end = lines.length;\n\nconst header = lines.slice(0, start + 1);\nconst itemLines = lines.slice(start + 1, end).filter(l => l.trim());\nconst footer = lines.slice(end);\n\n// ---- parsing ajustado ----\nconst parsed = itemLines.map(line => {\n  const match = line.match(/(R\\$\\s*[\\d\\.,]+)$/);\n  if (!match) return { num: \"\", desc: line.trim(), valor: \"\" };\n\n  const valor = match[1].replace(\"R$\", \"\").trim();\n  const left = line.slice(0, match.index).trim();\n\n  // captura do número inicial (ex: (1) Nome ...)\n  const numMatch = left.match(/^\\((\\d+)\\)\\s*(.*)$/);\n  let num = \"\", desc = left;\n  if (numMatch) {\n    num = numMatch[1];\n    desc = numMatch[2].trim();\n  }\n\n  return { num, desc, valor };\n});\n\nconst maxNum = parsed.reduce((m, o) => Math.max(m, o.num.length), 0);\nconst maxDesc = parsed.reduce((m, o) => Math.max(m, o.desc.length), 0);\n\n// monta itens alinhados com cabeçalho\nconst itensAlinhados = [\n  \"Item \".padEnd(maxNum + 2, \" \") +\n  \"Descrição\".padEnd(maxDesc + 4, \" \") +\n  \"Valor\"\n];\n\nparsed.forEach(o => {\n  itensAlinhados.push(\n    o.num.padEnd(maxNum + 2, \" \") +\n    o.desc.padEnd(maxDesc + 4, \" \") +\n    \"R$ \" + o.valor\n  );\n});\n\n// ---- corpo final ----\nconst corpo = [\n  ...header,\n  ...itensAlinhados,\n  ...footer\n].join(\"\\n\");\n\nreturn { texto_alinhado: \"\\n\" + corpo + \"\\n\" };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,96],"id":"5cdd4602-8ddf-4b75-b58f-c014e88fc449","name":"Code5"},{"parameters":{"jsCode":" // Entrada\nconst texto =  \"Mais algum item?\\nVamos fechar o pedido?\";\n// Mapas\nconst normal = \"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789\";\n\n// 1) Fullwidth\nconst full = \"ＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ\" +\n             \"ａｂｃｄｅｆｇｈｉｊｋｌｍｎｏｐｑｒｓｔｕｖｗｘｙｚ\" +\n             \"０１２３４５６７８９\";\n\n// 2) Small caps (maiúsculas pequenas)\nconst smallcaps = \"ＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ\" +\n                  \"ᴀʙᴄᴅᴇꜰɢʜɪᴊᴋʟᴍɴᴏᴘǫʀsᴛᴜᴠᴡxʏᴢ\" +\n                  \"0123456789\";\n\n// 3) Circulado\nconst circ = \"ⒶⒷⒸⒹⒺⒻⒼⒽⒾⒿⓀⓁⓂⓃⓄⓅⓆⓇⓈⓉⓊⓋⓌⓍⓎⓏ\" +\n             \"ⓐⓑⓒⓓⓔⓕⓖⓗⓘⓙⓚⓛⓜⓝⓞⓟⓠⓡⓢⓣⓤⓥⓦⓧⓨⓩ\" +\n             \"⓪①②③④⑤⑥⑦⑧⑨\";\n\n// 4) Quadrado (emoji-like)\nconst square = \"🄰🄱🄲🄳🄴🄵🄶🄷🄸🄹🄺🄻🄼🄽🄾🄿🅀🅁🅂🅃🅄🅅🅆🅇🅈🅉\" +\n               \"🄰🄱🄲🄳🄴🄵🄶🄷🄸🄹🄺🄻🄼🄽🄾🄿🅀🅁🅂🅃🅄🅅🅆🅇🅈🅉\" +\n               \"0123456789\";\n\nfunction converter(texto, mapa) {\n  const map = {};\n  for (let i = 0; i < normal.length; i++) {\n    map[normal[i]] = mapa[i];\n  }\n  return texto.split(\"\").map(ch => map[ch] || ch).join(\"\");\n}\n\nreturn {\n  original: \"```\\n\" + texto + \"\\n```\",\n  fullwidth: converter(texto, full),\n  smallcaps: converter(\"```\\n\" + texto + \"\\n```\", smallcaps),\n  circulado: converter(texto, circ),\n  quadrado: converter(texto, square)\n};\n "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,96],"id":"e2dd82db-3f23-4861-89dc-5f795ccc1816","name":"FormaText"},{"parameters":{"operation":"executeQuery","query":" select calcula_pre_pedido( {{ $('MontPedido').item.json.user_id }},  {{ $('MontPedido').item.json.pedido_id }} );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-560,96],"id":"a4665190-e8cb-43a1-b470-2ce8b117a0f6","name":"Carrinho1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Seu Objetivo mostrar o carrinho"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[6368,-544],"id":"362d67ce-4355-4912-ad89-ceca56cbff81","name":"Chama Carrinho","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"gL1FbKkYm9zGfCAA","mode":"list","cachedResultName":"Kernel Pizza"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensagem":"={{ $('MensagemTraduzida').item.json.message }}","user_id":"={{ $('MontPedido').item.json.user_id }}   ","rotina":4,"telefone":"= {{ $('Dados Lead').item.json.IdConversa }}","pedido_id":"={{ $('MontPedido').item.json.pedido_id }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"pedido_id","displayName":"pedido_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"rotina","displayName":"rotina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1456,-1792],"id":"ee04e4b8-f722-4b55-98a9-2c7c01ddeab5","name":"ExecutaMontagem1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=O seu objetivo é montar sua pizza com suas pizzas que possuem varias opções.\nUse no telefone      "}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1328,-2000],"id":"e1d76639-af39-4ff7-86ed-cf6247b74659","name":"Chama Carrinho1","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"operation":"executeQuery","query":"select status from pedido_temp \n  where user_id =  {{ $('MontPedido').item.json.user_id }} \n  and pedido_id =  {{ $('MontPedido').item.json.pedido_id }} ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[864,-2016],"id":"470c4d2a-ccbc-45a2-9dbb-700911345d30","name":"Execute a SQL query1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"CALL ReordenarItensConcluidos( {{ $('MontPedido').item.json.user_id }}, {{ $('MontPedido').item.json.pedido_id }} );\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[512,-2016],"id":"b3496803-20dc-47ac-adf4-4dda07129499","name":"ReordenaItem","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"91cd74fc-0b48-4ac5-bdf6-1c63db95d0df","leftValue":"={{$json.status}}","rightValue":"montagem","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1072,-2016],"id":"7652137f-96c2-48e2-9d28-c9dd3876dc60","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1712,-2000],"id":"ea89cc39-e375-43b6-9b45-37273fbef762","name":"No Operation, do nothing","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"workflowId":{"__rl":true,"value":"gL1FbKkYm9zGfCAA","mode":"list","cachedResultName":"Kernel Pizza"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensagem":"={{ $('MensagemTraduzida').item.json.message }}","user_id":"={{ $('DadoPedido').item.json.user_id }}   ","rotina":4,"telefone":"= {{ $('Dados Lead').item.json.IdConversa }}","pedido_id":"={{ $('DadoPedido').item.json.pedido_id }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"pedido_id","displayName":"pedido_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"rotina","displayName":"rotina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[6480,-320],"id":"c3eb9bf4-3031-4ab1-9d97-87733642f792","name":"GetCarrinho2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[5520,-592],"id":"700d5539-958e-474a-8f43-1474777e19f9","name":"No Operation, do nothing1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"promptType":"define","text":"= {{ $('MensagemTraduzida').item.json.message }}","options":{"systemMessage":"=   Você é a Assistente de Ajuda (F1) da Pizzaria La Cantina, que há 25 anos serve tradição e qualidade.\n  Sua função é somente ensinar como usar o sistema digital da pizzaria.\n  ❌ Nunca venda, nunca mostre preços, nunca confirme pedidos.\n  ✅ Responda sempre de forma curta, simples e direta.\n  ✅ Baseie suas respostas no guia em PDF do vector store.\n  ✅ O cliente pode tirar dúvidas em várias mensagens diferentes.\n\nassistant:\n  Estrutura da conversa:\n\n  1. Apresentação:\n     \"😀 Olá! Eu sou a assistente de ajuda da Pizzaria La Cantina (25 anos de tradição).\n      Estou aqui só para ensinar como funciona o sistema, de forma rápida e prática.\"\n \n  \n  2. Mostre os links de cardápio:\n     -  📄 Pizzas:   https://xqweduudelsukanrzekj.supabase.co/storage/v1/object/public/imagens_pizza/cardapio%20esfirra%20(3)%20(2).jfif\n     -  📄 Esfirras: https://xqweduudelsukanrzekj.supabase.co/storage/v1/object/public/imagens_pizza/cardapio%20esfirra%20(3)%20(2).jfif\n  3. Respostas curtas, exemplo por exemplo:\n     - Consultar sabor → \"Digite: Consultar Frango\"\n     - Adicionar item → \"Ex: 1 pizza mussarela grande\"\n     - Vários itens → \"Ex: 1 pizza mussarela grande e 1 calabresa média\"\n     - Fracionada (somente grande) → \"Ex: 1/2 mussarela e 1/2 La Cantina (grande)\"\n     - Borda → \"Ex: 1 pizza La Cantina grande e borda cheddar\"\n     - Excluir item → \"Primeiro digite: Excluir → o carrinho aparece → depois: Excluir item 1\"\n     - Cancelar tudo → \"Digite: Cancelar\"\n     - Se não encontrar sabor → \"O sistema entra em modo montagem e mostra opções.\"\n     - Comando de voz → \"Pode usar, mas se não entender bem, escreva.\"\n\n  4. Se o cliente pedir produtos ou preços:\n     \"Eu só ensino como pedir, não vendo e não mostro valores.\"\n\n  5. Encerramento:\n     Sempre finalize cada resposta com:\n     \"✅ Este é o modo ajuda 💡.\n          Digite *Sair* para voltar às compras.\"\n\n  6. Quando o cliente digitar 'SAIR':\n     - Responda: \"🚀 Saindo do modo ajuda. Agora você pode continuar normalmente com seu pedido.\"\n 7. Caso a mensagem do cliente seja exatamente \"ajuda\":\n     Responder automaticamente:\n      \n     ❓ Perguntas mais frequentes: \n     1️⃣ Pizza fracionada (somente grande)  \n     👉 Ex: 1/2 mussarela e 1/2 La Cantina (grande)\n     2️⃣ Pizza com borda  \n     👉 Ex: 1 pizza La Cantina grande e borda cheddar\n     3️⃣ Pizza normal  \n     👉 Ex: 1 pizza mussarela grande \n     4️⃣ Comando completo  \n     👉 Ex: 2 pizzas calabresa médias\n     5️⃣ Esfirra  \n     👉 Ex: 3 esfirras carne\n     6️⃣ Adicionar item  \n     👉 Ex: 1 coca 2L\n     7️⃣ Excluir item  \n     👉 Digite: Consulte seu carrinho \"consultar ou 5\" depois: Excluir item 1\n     8️⃣ Dica extra(💡) :  \n     👉 Digite: Você pode também comprar pelo numero da pizza \n        Ex: 1 pizza 12 grande  ou 1 pizza 1/2 14 e 1/2  2 \n\n   8. Se cliente ficar fazendo muita pergunta, pergunte a ele deseja ver a lista \nde duvidas mais frequentes..Se ele disser sim mostre a lista do item 7.\n\n   assistant:\n  - Se a mensagem do cliente for exatamente \"SAIR\":\n      • Responda para o cliente: \n        \"🚀 Saindo do modo ajuda. Agora você pode continuar normalmente com seu pedido.\"\n      • Internamente, execute a rotina: sair()"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-688,528],"id":"bac24c6b-78f4-4a48-abb8-8ee20e58b8c6","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"5516992975836"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-592,752],"id":"19087e8d-bcc4-4ce0-a4ca-a50eb1a7cb75","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-688,1312],"id":"087d8439-799e-4ffe-9764-9fbbd0ddf7fc","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-688,1184],"id":"d115406b-9dc2-4615-a7af-87dd9f5963e8","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"description":" Use essa tool para coletar informações dos serviços do gestor de agente IA"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[-512,1008],"id":"a8b299f2-1253-4a37-b504-006338e37d88","name":"Answer questions with a vector store"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-352,1184],"id":"5666fc5c-44ab-434b-b294-38852afc2a12","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"content":"## Agente vendedor e auxilia na compra\n** ","height":432,"width":864},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-864,480],"id":"0f38425f-e805-4c16-b805-fc94fe2cc000","name":"Sticky Note2"},{"parameters":{"content":"## Download Arquivo\n**Dowload do arquivo do gooogle drive ** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":512,"width":864,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-880,960],"id":"1ecbfd8b-5a88-4181-ac13-a6f3ae4c7086","name":"Sticky Note3"},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=```{{ $json.output }}```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-368,544],"id":"57de30b3-dcc6-4686-8e50-17f346be2723","name":"MenuCardapio15","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"operation":"update","tableId":"pedido_temp","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"= {{ $('MontPedido').item.json.user_id }}"},{"keyName":"pedido_id","condition":"eq","keyValue":"= {{ $('MontPedido').item.json.pedido_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"enviado"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[-432,768],"id":"636f046a-8019-461d-82f2-1609d46d12d8","name":"Sair","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-736,752],"id":"9837c83b-ac8f-477a-b8d2-6100d65728f6","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"mensagem"},{"name":"user_id","type":"number"},{"name":"pedido_id","type":"number"},{"name":"telefone"},{"name":"rotina","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2560,-752],"id":"cc6d6912-cf38-4e7d-9d5e-f165d4a45897","name":"When Executed by Another Workflow"},{"parameters":{"content":"## Modulo carrinho \n** Aqui vc mostra o carrinho para o cliente ","height":368,"width":1376,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-640,-16],"id":"bcc8b5de-a95c-4a51-b531-cbed80d3e98d","name":"Sticky Note"},{"parameters":{"content":"## Modulo Cardapio\n** Aqui vc montao carrinho para o cliente ","height":752,"width":6896,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-656,-848],"id":"e2401d09-2b2b-4087-8868-ac589420c042","name":"Sticky Note1"},{"parameters":{"content":"## Modulo carrinho \n** Aqui vc mostra o carrinho para o cliente ","height":560,"width":1392,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-816,-1520],"id":"81ee85ea-9ea5-453e-9a81-105fe89dc03d","name":"Sticky Note4"},{"parameters":{"content":"## Modulo Montagem Opções\n** Aqui vc mostra o carrinho para o cliente ","height":720,"width":3264,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-880,-2304],"id":"9022d7d4-49f0-4f40-9bbc-151c6905996e","name":"Sticky Note5"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-192,544],"id":"cdfb4d3c-0fed-4078-9462-a4a75550242e","name":"No Operation, do nothing9","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"}],"connections":{"RejeitaItem":{"main":[[{"node":"ConcluiTudo","type":"main","index":0}]]},"Bebidas":{"main":[[{"node":"Itembebida","type":"main","index":0}]]},"Pizzas Fracionada":{"main":[[{"node":"ItemFracionado","type":"main","index":0}]]},"Pizzas Inteira":{"main":[[{"node":"ItemInteira","type":"main","index":0}]]},"Esfirra":{"main":[[{"node":"ItemEsfirra","type":"main","index":0}]]},"Itembebida":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"ItemFracionado":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"ItemInteira":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"ItemEsfirra":{"main":[[{"node":"Merge1","type":"main","index":3}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OrdenaPedido":{"main":[[{"node":"AjudaMontagem","type":"main","index":0}]]},"ConcluiTudo":{"main":[[{"node":"OrdenaPedido","type":"main","index":0}]]},"Bordas":{"main":[[{"node":"Item5","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"DadoPedido","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Structured Output Parser [Schema]":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Bebidas","type":"main","index":0},{"node":"Pizzas Fracionada","type":"main","index":0},{"node":"Pizzas Inteira","type":"main","index":0},{"node":"Esfirra","type":"main","index":0},{"node":"item4","type":"main","index":0},{"node":"Bordas","type":"main","index":0}]]},"item4":{"main":[[{"node":"Item4","type":"main","index":0}]]},"Item4":{"main":[[{"node":"Merge1","type":"main","index":4}]]},"AtualizaValorPizzaFracionada2":{"main":[[{"node":"RejeitaItem","type":"main","index":0}]]},"AtualizaValorItem2":{"main":[[{"node":"AtualizaValorPizzaFracionada2","type":"main","index":0}]]},"Item5":{"main":[[{"node":"Merge1","type":"main","index":5}]]},"MontPedido":{"main":[[{"node":"Switch","type":"main","index":0}]]},"DadoPedido":{"main":[[{"node":"ValidaItemNome","type":"main","index":0}]]},"ValidaItemNome":{"main":[[{"node":"VinculaBordaItemPizza","type":"main","index":0}]]},"Dados Lead":{"main":[[{"node":"MontPedido","type":"main","index":0}]]},"GetProblemas":{"ai_tool":[[{"node":"Issue","type":"ai_tool","index":0}]]},"GetOpcoes":{"ai_tool":[[{"node":"Opcoes","type":"ai_tool","index":0}]]},"GetCarrinho":{"ai_tool":[[{"node":"Carinnho","type":"ai_tool","index":0}]]},"VinculaBordaItemPizza":{"main":[[{"node":"InsereOpcoesItens","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Fechamento1","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"Fechamento1","type":"ai_memory","index":0}]]},"SalvaEndereco":{"ai_tool":[[{"node":"Fechamento1","type":"ai_tool","index":0}]]},"Comentario":{"ai_tool":[[{"node":"Fechamento1","type":"ai_tool","index":0}]]},"SalvaFormaPagto":{"ai_tool":[[{"node":"Fechamento1","type":"ai_tool","index":0}]]},"Fechamento":{"ai_tool":[[{"node":"Fechamento1","type":"ai_tool","index":0}]]},"GetCarrinho1":{"ai_tool":[[{"node":"Fechamento1","type":"ai_tool","index":0}]]},"Execute a SQL query in Postgres":{"ai_tool":[[{"node":"Fechamento1","type":"ai_tool","index":0}]]},"MensagemTraduzida":{"main":[[{"node":"Dados Lead","type":"main","index":0}]]},"Carinnho":{"main":[[]]},"Issue":{"main":[[{"node":"FieldsIssue","type":"main","index":0}]]},"Opcoes":{"main":[[{"node":"FieldsOpcoes","type":"main","index":0}]]},"InsereOpcoesItens":{"main":[[{"node":"AtualizaValorItem2","type":"main","index":0}]]},"GetPizzaMontagem":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[]]},"GetOpcMontagem":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"AtualizaItemtemp1":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"AI Agent3","type":"ai_memory","index":0}]]},"Montagem":{"main":[[{"node":"HabilitaOpcao","type":"main","index":0}]]},"Code2":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Montagem","type":"main","index":0}],[{"node":"MenuCardapio3","type":"main","index":0}]]},"Fechamento1":{"main":[[{"node":"MenuCardapio1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Code2","type":"main","index":0}],[{"node":"Fechamento1","type":"main","index":0}],[{"node":"Basic LLM Chain","type":"main","index":0}],[{"node":"Carrinho1","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"FildsCarrinho":{"main":[[{"node":"Issue","type":"main","index":0}]]},"FieldsIssue":{"main":[[{"node":"Opcoes","type":"main","index":0}]]},"FieldsOpcoes":{"main":[[{"node":"NãoEncontrados","type":"main","index":0}]]},"NãoEncontrados":{"main":[[{"node":"Opcões","type":"main","index":0}]]},"AjudaMontagem":{"main":[[{"node":"FildsCarrinho","type":"main","index":0}]]},"MenuCardapio2":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]},"HabilitaOpcao":{"main":[[{"node":"AtualizaOpcao","type":"main","index":0}]]},"AtualizaOpcao":{"main":[[{"node":"AtualizaOpcaoParte2","type":"main","index":0}]]},"GetProximaMontagem":{"main":[[{"node":"ReordenaItem","type":"main","index":0}]]},"AtualizaOpcaoParte2":{"main":[[{"node":"GetProximaMontagem","type":"main","index":0}]]},"Opcões":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"MenuCardapio10":{"main":[[{"node":"FormaText","type":"main","index":0}]]},"MenuCardapio11":{"main":[[{"node":"No Operation, do nothing8","type":"main","index":0}]]},"Code5":{"main":[[{"node":"MenuCardapio10","type":"main","index":0}]]},"FormaText":{"main":[[{"node":"MenuCardapio11","type":"main","index":0}]]},"Carrinho1":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Chama Carrinho":{"main":[[]]},"ExecutaMontagem1":{"ai_tool":[[{"node":"Chama Carrinho1","type":"ai_tool","index":0}]]},"ReordenaItem":{"main":[[{"node":"MenuCardapio2","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"No Operation, do nothing7","type":"main","index":0}],[{"node":"Chama Carrinho1","type":"main","index":0}]]},"Chama Carrinho1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"GetCarrinho2":{"ai_tool":[[{"node":"Chama Carrinho","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"MenuCardapio15","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Supabase Vector Store1":{"ai_vectorStore":[[{"node":"Answer questions with a vector store","type":"ai_vectorStore","index":0}]]},"Answer questions with a vector store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Answer questions with a vector store","type":"ai_languageModel","index":0}]]},"Sair":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"MensagemTraduzida","type":"main","index":0}]]},"MenuCardapio15":{"main":[[{"node":"No Operation, do nothing9","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"mensagem":"Ola tudo bem?","user_id":72,"pedido_id":18,"telefone":5516992975836,"rotina":5}}]},"versionId":"bed19654-311b-4c81-8976-e83711caf2d1","triggerCount":1,"shared":[{"createdAt":"2025-09-18T15:44:58.320Z","updatedAt":"2025-09-18T15:44:58.320Z","role":"workflow:owner","workflowId":"gL1FbKkYm9zGfCAA","projectId":"wFRMrac2003Pl1x6"}],"tags":[]}