kernel-pizza-gL1FbKkYm9zGfCAA.json
{"createdAt":"2025-09-18T15:44:58.320Z","updatedAt":"2025-10-10T19:14:58.743Z","id":"gL1FbKkYm9zGfCAA","name":"Kernel Pizza","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":" SELECT rejeita_item( {{ $('DadoPedido').item.json.user_id }}, {{ $('DadoPedido').item.json.pedido_id }}, {{ $('Dados Lead').item.json.id_empresa }}   );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3184,-448],"id":"d5d30080-47a6-459c-b463-883f0f46f96a","name":"RejeitaItem","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"fieldToSplitOut":"output.bebidas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[304,-688],"id":"7a608843-94ae-4a9d-8a55-9f4222a0f6ab","name":"Bebidas","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":" output.pizzas_fracionadas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[288,-560],"id":"49dbeeb0-7863-4321-abc5-6aa8716b5d4c","name":"Pizzas Fracionada","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.pizzas_inteiras","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[288,-432],"id":"e738ed86-7847-426a-928a-9dd96bf35e0a","name":"Pizzas Inteira","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.esfirras","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[288,-304],"id":"158da210-0bc8-433a-9120-6fd036ad4d85","name":"Esfirra","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"tipo","fieldValue":"bebida"},{"fieldId":"categoria","fieldValue":"bebida"},{"fieldId":"nome","fieldValue":"={{ $json.nome }}"},{"fieldId":"volume","fieldValue":"= {{ (($json.volume ?? '').toString().replace(/[\\s\\u00A0\\u200B-\\u200D\\uFEFF]+/g, '') === '')\n    ? ' volume desconhecido'\n    : ($json.volume ?? '').toString().replace(/[\\s\\u00A0\\u200B-\\u200D\\uFEFF]+/g, '') }}"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"},{"fieldId":"numero","fieldValue":"={{ $json.numero ? $json.numero : 0 }}"},{"fieldId":"comando_original","fieldValue":"={{ $json.comando_original }}"},{"fieldId":"id_empresa","fieldValue":"= {{ $('Dados Lead').item.json.id_empresa }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[544,-688],"id":"f7635034-812e-4fbd-aa0d-9042e5cc4409","name":"Itembebida","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"categoria","fieldValue":"pizza"},{"fieldId":"fracionada","fieldValue":"true"},{"fieldId":"numero","fieldValue":"= {{ $json.metade1 }}"},{"fieldId":"numero_fracao","fieldValue":"={{ $json.metade2 }}"},{"fieldId":"tamanho","fieldValue":"grande"},{"fieldId":"fracionada","fieldValue":"true"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"},{"fieldId":"nome","fieldValue":"={{ $json.nome }}"},{"fieldId":"nome_fracao","fieldValue":"={{ $json.nome_fracao }}"},{"fieldId":"pizza_referencia","fieldValue":"={{$json.pizza_referencia.trim()}}"},{"fieldId":"comando_original","fieldValue":"={{ $json.comando_original }}"},{"fieldId":"id_empresa","fieldValue":"= {{ $('Dados Lead').item.json.id_empresa }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[544,-560],"id":"1a425d55-acc5-40b3-8035-6dea956073b8","name":"ItemFracionado","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"categoria","fieldValue":"pizza"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"numero","fieldValue":"={{ String($json.numero ?? '').trim() === '' ? null : $json.numero }}"},{"fieldId":"tamanho","fieldValue":"={{ $json.tamanho.toLowerCase() }}"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"},{"fieldId":"nome","fieldValue":"={{ $json.nome?.trim() === '' ? null : $json.nome }}"},{"fieldId":"pizza_referencia","fieldValue":"={{ $json.pizza_referencia }}"},{"fieldId":"comando_original","fieldValue":"={{ $json.comando_original }}"},{"fieldId":"id_empresa","fieldValue":"= {{ $('Dados Lead').item.json.id_empresa }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[544,-432],"id":"09a72d7a-7fcc-4cd4-97a6-28bd531c962c","name":"ItemInteira","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"tipo","fieldValue":"bebida"},{"fieldId":"categoria","fieldValue":"esfirra"},{"fieldId":"nome","fieldValue":"={{ $json.nome?.trim() === '' ? null : $json.nome }}"},{"fieldId":"tipo","fieldValue":"={{ $json.tipo?.trim() === '' ? null : $json.tipo }}"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"},{"fieldId":"numero","fieldValue":"= {{ $json.numero }}"},{"fieldId":"comando_original","fieldValue":"={{ $json.comando_original }}"},{"fieldId":"id_empresa","fieldValue":"= {{ $('Dados Lead').item.json.id_empresa }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[544,-304],"id":"59df7bdc-aed6-46b7-9f35-1a2bf7ec7cf3","name":"ItemEsfirra","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[-416,-336],"id":"b399cce6-9e20-4758-989a-b43190cb9942","name":"Auto-fixing Output Parser","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":" \n\n\nCALL ReordenarItensConcluidos( {{ $('DadoPedido').item.json.user_id }}, {{ $('DadoPedido').item.json.pedido_id }} , {{ $('Dados Lead').item.json.id_empresa }} );\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3584,-448],"id":"86faff93-e8fb-47a4-84e7-6d67471a8cd9","name":"OrdenaPedido","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" UPDATE Item_pedido_temp AS i\nSET  status = 'concluido',\n   ordem_item = 0\n \nWHERE  status = 'inicio' and\n    user_id =  {{ $('DadoPedido').item.json.user_id }} and i.pedido_id = {{ $('DadoPedido').item.json.pedido_id }} and i.numero <> 0 and \ni.id_empresa = {{ $('Dados Lead').item.json.id_empresa }} ;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3408,-448],"id":"b5ebf3b9-d2df-4845-8e4c-e0c83e3097fa","name":"ConcluiTudo","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"fieldToSplitOut":"output.bordas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[288,-32],"id":"e56769d0-adcf-4271-8573-80a1dc184634","name":"Bordas","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1312,-512],"id":"ec18115b-1dc9-4971-b260-adebc6788470","name":"Merge1","alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-544,-96],"id":"29668865-9ed1-45b0-941b-049371b5e133","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":" {\n  \"type\": \"object\",\n  \"properties\": {\n    \"pizzas_inteiras\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"numero\": { \"type\": \"integer\" },\n          \"tamanho\": { \"type\": \"string\" },\n           \"nome\": { \"type\": \"string\" },\n           \"pizza_referencia\":  { \"type\": \"string\" },\n           \"comando_original\":  { \"type\": \"string\" }\n          \n        },\n        \"required\": [\"quantidade\", \"numero\", \"tamanho\", \"pedido_id\"]\n      }\n    },\n    \"pizzas_fracionadas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"metade1\": { \"type\": \"integer\" },\n          \"metade2\": { \"type\": \"integer\" },\n            \"nome\": { \"type\": \"string\" },\n            \"nome_fracao\": { \"type\": \"string\" },\n           \"pizza_referencia\":  { \"type\": \"string\" },\n           \"comando_original\":  { \"type\": \"string\" }\n         \n        },\n        \"required\": [\"quantidade\", \"metade1\", \"metade2\",\"pedido_id\"]\n      }\n    },\n    \"bebidas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n           \"numero\": { \"type\": \"integer\" },\n          \"nome\": { \"type\": \"string\" },\n          \"volume\": { \"type\": \"string\" },\n           \"comando_original\":  { \"type\": \"string\" }\n         \n        },\n        \"required\": [\"quantidade\",\"numero\" ,\"nome\", \"volume\",\"comando_original\"]\n      }\n    },\n    \"esfirras\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"numero\": { \"type\": \"integer\" },\n          \"nome\": { \"type\": \"string\" },\n          \"tipo\": { \"type\": \"string\" },\n           \"comando_original\":  { \"type\": \"string\" }\n        },\n        \"required\": [\"quantidade\", \"numero\", \"nome\", \"tipo\"]\n      }\n    },\n    \"bordas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"numero\": { \"type\": \"integer\" },\n          \"nome\": { \"type\": \"string\" } ,\n           \"pizza_referencia\":  { \"type\": \"string\" },\n          \"tamanho\": { \"type\": \"string\" }, \n          \"categoria\": { \"type\": \"string\" },\n           \"comando_original\":  { \"type\": \"string\" },\n            \"pizza_pai\": { \"type\": \"integer\" }\n  \n         \n    },\n        \"required\": [\"numero\", \"pizza_referencia\"]\n      }\n    },\n    \"item\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": { \n          \"numero\": { \"type\": \"integer\" },\n          \"nome\": { \"type\": \"string\" } ,\n            \"tamanho\": { \"type\": \"string\" },\n           \"pizza_referencia\":  { \"type\": \"string\" } ,\n           \"comando_original\":  { \"type\": \"string\" },\n            \"pizza_pai\": { \"type\": \"integer\" }\n          \n    },\n        \"required\": [\"nome\", \"pizza_pai\"]\n      }\n    }\n\n    \n  },\n  \"required\": [\n    \"pizzas_inteiras\",\n    \"pizzas_fracionadas\",\n    \"bebidas\",\n    \"esfirras\",\n    \"bordas\" \n  ]\n}\n\n   "},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-320,-144],"id":"8e713269-9051-4c42-82c1-636de7005114","name":"Structured Output Parser [Schema]","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.item","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[288,-176],"id":"52506e17-3640-4a5c-97f2-d75318f09678","name":"item4","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"=1"},{"fieldId":"tipo","fieldValue":"item"},{"fieldId":"categoria","fieldValue":"item"},{"fieldId":"nome","fieldValue":"={{ $json.nome?.trim() === '' ? null : $json.nome }}"},{"fieldId":"numero","fieldValue":"={{ $json.numero }}"},{"fieldId":"fracionada","fieldValue":"=false"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"},{"fieldId":"tamanho","fieldValue":"={{ $json.tamanho }}"},{"fieldId":"comando_original","fieldValue":"={{ $json.comando_original }}"},{"fieldId":"id_empresa","fieldValue":"= {{ $('Dados Lead').item.json.id_empresa }}"},{"fieldId":"id_pizza_pai","fieldValue":"={{ $json.pizza_pai }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[544,-176],"id":"5f4ecb21-f345-44c7-92f8-9be2a993f5f8","name":"Item4","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT AtualizaValorFracionado(  {{ $('DadoPedido').item.json.user_id }},{{ $('DadoPedido').item.json.pedido_id }},{{ $('Dados Lead').item.json.id_empresa }} );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2768,-448],"id":"a381a11d-a7c7-4aa3-aa57-c6a67985f4bb","name":"AtualizaValorPizzaFracionada2","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT   atualizar_valores_itens_temp( {{ $('DadoPedido').item.json.user_id }},{{ $('DadoPedido').item.json.pedido_id }} , {{ $('Dados Lead').item.json.id_empresa }});","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2544,-448],"id":"157dbe1e-050f-456b-ac79-2d88e1607752","name":"AtualizaValorItem2","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a3c83333-8ce3-4995-8230-b361099aa1e4","name":"user_id","value":"={{ $('When Executed by Another Workflow').item.json.user_id }}","type":"number"},{"id":"d7c14753-505f-48ee-a344-fa565ace43df","name":"pedido_id","value":"={{ $('When Executed by Another Workflow').item.json.pedido_id }}","type":"number"},{"id":"fdf33d81-37b4-46c9-b56a-6787b3d92dac","name":"rotina","value":"={{ $('When Executed by Another Workflow').item.json.rotina }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2000,-752],"id":"a6418514-62bb-4f8a-b1e3-7debd49a46c5","name":"MontPedido"},{"parameters":{"assignments":{"assignments":[{"id":"8033b503-a34e-4682-a40a-b60b315714e6","name":"user_id","value":"={{ $json.user_id }}","type":"number"},{"id":"bd4fde4d-0d15-4271-945c-571b24973379","name":"pedido_id","value":"={{ $json.pedido_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1664,-448],"id":"8373ecb1-043b-4540-895e-8bb63b1ffe3a","name":"DadoPedido","executeOnce":true},{"parameters":{"operation":"executeQuery","query":"call valida_nome_item_pedido( {{ $json.user_id }} , {{ $json.pedido_id }}, {{ $('Dados Lead').item.json.id_empresa }} );\n\n ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1840,-688],"id":"fe8bc0da-85fc-4616-8f56-8b2747cc414e","name":"ValidaItemNome","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"9f488c5c-0b3b-48e9-87b1-5a22d513d1ec","name":"IdConversa","value":"={{ $('When Executed by Another Workflow').item.json.telefone }}","type":"string"},{"id":"388e17d9-4d3a-40a6-9a45-52b166aa17b5","name":"telefone","value":"={{ $('When Executed by Another Workflow').item.json.telefone }}","type":"number"},{"id":"8b88d192-9c8b-4b70-be50-09eb1e7a9228","name":"id_empresa","value":"={{ $('When Executed by Another Workflow').item.json.id_empresa }}","type":"number"}]},"options":{}},"id":"63df038e-25e8-410b-8781-94308aa7e0c4","name":"Dados Lead","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2160,-752],"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":"\nselect numero, tamanho, fracionada, categoria, nome,  \n(case when categoria <> 'bebida' then '' else volume end)  , status, valor ,\n    COUNT(*) OVER() AS total   from item_pedido_temp where status  ='rejeitado'\nand user_id =    {{ $('DadoPedido').item.json.user_id }} \nand pedido_id =  {{ $('DadoPedido').item.json.pedido_id }} \nand id_empresa = {{ $('Dados Lead').item.json.id_empresa }};","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[5488,-560],"id":"a924e254-623b-401d-a3b7-3c07de02ad05","name":"GetProblemas","notesInFlow":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"       select count(*) total_opções ,  o.item_id , comando_original  , categoria   , fracionada, valor \n   from item_opcoes  o    \n   join  item_pedido_temp i \n   on  o.item_id = i.item_id  where\n            i.user_id =   {{ $('DadoPedido').item.json.user_id }}\n          AND i.pedido_id =    {{ $('DadoPedido').item.json.pedido_id }}\n    AND o.id_empresa =  {{ $('Dados Lead').item.json.id_empresa }} AND\n    o.id_empresa = i.id_empresa\n    group by o.item_id ,   comando_original  , fracionada , categoria  , valor \n\n\n ","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[5520,-208],"id":"75ed7fd2-e03e-46bc-a36e-7015dd00fbbc","name":"GetOpcoes","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" \n\nUPDATE item_pedido_temp AS ib\nSET id_pizza_pai = ip.item_id\nFROM item_pedido_temp AS ip\nWHERE ib.pizza_referencia IS NOT NULL\n  AND LENGTH(TRIM(ib.pizza_referencia)) > 1\n  AND ib.status = 'inicio'\n  AND ib.categoria IN ('item','borda')\n  AND ip.pizza_referencia IS NOT NULL\n  AND LENGTH(TRIM(ip.pizza_referencia)) > 1\n  AND ip.status = 'inicio'\n  AND ip.categoria = 'pizza'\n  AND ib.user_id = ip.user_id\n  AND ib.pedido_id = ip.pedido_id\n  AND ib.user_id =  {{ $('DadoPedido').item.json.user_id }} \n  AND ib.pedido_id =  {{ $('DadoPedido').item.json.pedido_id }}\n  AND ib.pizza_referencia = ip.pizza_referencia\n  and ib.id_empresa = {{ $('Dados Lead').item.json.id_empresa }} \n  and ib.id_empresa = ip.id_empresa;\n\n ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2080,-448],"id":"623d8730-7d3e-4b28-b8f2-47db6bc22d80","name":"VinculaBordaItemPizza","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-592,-992],"id":"0f56742b-affa-497c-bde4-75bf60479a63","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"operation":"update","tableId":"usuario","matchType":"allFilters","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $('MontPedido').item.json.user_id }}"},{"keyName":"id_empresa","condition":"eq","keyValue":"={{ $('Dados Lead').item.json.id_empresa }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"endereço","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', `endereço `, 'string') }}"},{"fieldId":"bairro","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', `bairro`, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[128,-944],"id":"5dd9d402-25cd-475b-88a2-bfd4d571b918","name":"SalvaEndereco","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"tableId":"comentario_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $json.user_id }}"},{"fieldId":"pedido_id","fieldValue":"={{ $json.pedido_id }}"},{"fieldId":"comentario","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', `Comentario campo`, 'string') }}"},{"fieldId":"id_empresa","fieldValue":"={{ $('Dados Lead').item.json.id_empresa }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[-336,-976],"id":"4466276d-e81b-455b-a0d7-bc04e4bd27c4","name":"Comentario","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"pedido_temp","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $('MontPedido').item.json.user_id }}"},{"keyName":"pedido_id","condition":"eq","keyValue":"= {{ $('MontPedido').item.json.pedido_id }}"},{"keyName":"id_empresa","condition":"eq","keyValue":"= {{ $('Dados Lead').item.json.id_empresa }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"tipo_cobranca","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', `forma_pagto`, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[-224,-944],"id":"c654bfb2-2b66-4255-8f5a-0a0c547d7d3f","name":"SalvaFormaPagto","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Execute a SQL query in Postgres fechamento ","operation":"executeQuery","query":"SELECT * from finalizar_pedido(    {{ $('MontPedido').item.json.user_id }} , {{ $('MontPedido').item.json.pedido_id }}, {{ $('Dados Lead').item.json.id_empresa }} ) ;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-128,-960],"id":"527da8aa-05f5-43a7-bcf0-344fdaf6d5ba","name":"Fechamento","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=```{{ $json.output }}```","options_message":{"delay":4}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-64,-1248],"id":"eb621430-0a3a-4261-ae41-1c9ebf61d4d2","name":"MenuCardapio1","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"operation":"executeQuery","query":"update Pedido_temp \n  set status = 'enviado'\n  where user_id =   {{ $('MontPedido').item.json.user_id }}  \n  and   pedido_id =    {{ $('MontPedido').item.json.pedido_id }}  and  status = 'fechamento'  ;\n \n  ","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[0,-960],"id":"0670b9ba-bc75-48f9-9e7b-f3e940fd84f0","name":"Execute a SQL query in Postgres","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"66a91f66-e755-4120-b22f-44c814f56162","name":"message","value":"={{ $json.mensagem }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2336,-752],"id":"03833dad-39dc-4ec9-8164-85890b68dea4","name":"MensagemTraduzida","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"= # Persona\nVocê informa de forma clara e curta se houve itens rejeitados ou não encontrados.\n\n# Regras\n1. Sempre chame GetRejeitados() mas não mostre para usuario.\n2. Mostre os itens rejeitados numa lista simples.\n3. Nunca invente substituições.\n\n- Nunca remova ou altere esse cabeçalho. Ele deve aparecer sempre na primeira linha. mostre os dados não altere nada e nem de sugestões. Você so mostra dados. \n\n\n \n# Tool disponível\n- GetRejeitados()","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[5344,-768],"id":"10d4654e-5a34-4874-9f8f-e9980c232a27","name":"Issue","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"= # Mostrar opções e atualizar pedido\n\n1) Chame GetOpcoes() e considere a lista em `response` (ou `opcoes`; se não existir, use o array raiz).  \n   Agrupe por `comando_original`.  \n\n2) Para cada comando com opções pendentes (N > 0):  \n   Mostre apenas 1 linha:  \n   👉 Para \"<comando_original>\" temos <N> opções.  \n\n3) Ao final, sempre feche com:  \n   👉 \"Deseja ver para montar?\"\n\n4) Só se o cliente responder \"sim\" ou \"ok\":  \n   - Mostre as opções detalhadas desse comando (nome, fracionada, preço etc.) usando novamente `GetOpcoes()`.  \n\n5) Se N == 0 em todos → não mostrar nada.\n","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[5376,-400],"id":"392376a1-567b-4410-b5dd-454429e4e315","name":"Opcoes","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"= {{ $('Dados Lead').item.json.IdConversa }}","messageText":"=```{{ $('GetProximaMontagem').item.json.montamensagemopcoes }}```","options_message":{"delay":4}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1088,-2384],"id":"a5155701-51df-4242-a46c-914118a1e42b","name":"MenuCardapio2","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"operation":"executeQuery","query":"  call popula_item_opcoes( {{ $('DadoPedido').item.json.user_id }}, {{ $('DadoPedido').item.json.pedido_id }},{{ $('Dados Lead').item.json.id_empresa }}   );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2304,-448],"id":"de0d183a-8dcd-42c0-b5e8-39a52c8170f4","name":"InsereOpcoesItens","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" SELECT * FROM  GetPizzaMontagem(    {{ $('MontPedido').item.json.user_id }} , {{ $('MontPedido').item.json.pedido_id }} , {{ $('Dados Lead').item.json.id_empresa }}) ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[32,-2096],"id":"b013dad7-f696-4bc4-b5f9-a25fdbfd2ef6","name":"Montagem","alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"88562244-0734-4bd1-ad22-d614ab675052","leftValue":"={{ $json.numero }}","rightValue":0,"operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-432,-1904],"id":"ca874184-03fe-4330-b617-21cba9e9efcb","name":"If1"},{"parameters":{"jsCode":" // n8n Function node\nconst msg = $('MensagemTraduzida').item?.json?.message ?? ($json.message ?? '');\nconst nums = (String(msg).match(/\\d+/g) || []).map(n => Number(n));\n\nif (nums.length === 1 && Number.isFinite(nums[0])) {\n  return [{ json: { numero: nums[0], mensagem: 'ok' } }];\n}\n\nreturn [{ json: { numero: 0, mensagem: 'blabdbsfsb' } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-624,-1904],"id":"05c4727e-6e13-4a05-9352-de827b1c2cf4","name":"Code2"},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"={{$('Dados Lead').item.json.IdConversa }}","messageText":"=``` Escolha uma opção valida por favor.```","options_message":{"delay":4}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-176,-1664],"id":"80a741de-611d-4292-8dee-55292e2a2521","name":"MenuCardapio3","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"promptType":"define","text":"={{ $('MensagemTraduzida').item.json.message }}","options":{"systemMessage":"= # Persona\nVocê é um atendente da Pizzaria La Cantina responsável por fechar pedidos de forma organizada, clara e simpática.  \nSeu papel é colher os dados finais (endereço, bairro, forma de pagamento) e, somente quando tudo estiver confirmado, executar a tool `finalizar_pedido( )`.\n\n# Regras de Atendimento\n\n1. Ordem obrigatória de coleta:\n   - Primeiro: Solicite endereço completo (rua + número) e bairro.  \n     → Chame `SalvaEndereco( endereco, bairro)`  \n\n   - Depois: Solicite a forma de pagamento.  \n     → Chame `SalvaFormaPagto(forma_pagto)`  \n\n   - Comentário/observação: **não pergunte diretamente**.  \n     - Se o cliente espontaneamente informar algo (ex: “sem cebola”, “deixar na portaria”),  \n       → Chame `Comentario(user_id, pedido_id, comentario)`.  \n     - Se o cliente não falar nada → pule esta etapa.  \n\n   - Por último: Execute `finalizar_pedido(user_id, pedido_id)`  \n     - **Mostre exatamente o texto retornado pela procedure**, sem alterar ou reformatar.  \n\n2. Sempre valide as respostas do cliente:  \n   - Se ele enviar só a rua sem bairro → peça de novo.  \n   - Se a forma de pagamento não for válida → peça novamente.  \n\n3. Se alguma tool retornar erro → avise o cliente de forma simples e peça novamente o dado.  \n\n⚠️ Regra de segurança:\nSe já coletou endereço, bairro e pagamento, e conseguiu executar `finalizar_pedido()`, \nNUNCA volte a perguntar de novo. Apenas finalize.\n\n\n4. Nunca finalize o pedido sem executar `finalizar_pedido()`.  \n\n5. Nunca invente informações. Use somente o que o cliente forneceu.  \n\n6. Linguagem curta, simpática e objetiva.  \n   - Exemplo:  \n     \"Ótimo, endereço anotado! Agora, qual será a forma de pagamento?\"\n\n7. Quando a tool `finalizar_pedido()` + `DadosPessoais()`, for executada e retornar o resumo final:\n   - Mostre esse texto ao cliente.\n   - Diga uma mensagem simpática de encerramento como:\n     \"🍕 Seu pedido foi finalizado com sucesso! Obrigado e bom apetite!\"\n   - **Depois disso, não faça mais perguntas nem chame outras tools.**\n   - Encerre a conversa imediatamente.\n   - **Não faça mais perguntas nem chame outras tools.**\n\n\n\n","maxIterations":18}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-416,-1248],"id":"ad59e662-f3b3-4946-b211-c4d37f4bf9b1","name":"Fechamento1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.rotina }}","rightValue":3,"operator":{"type":"number","operation":"equals"},"id":"e3160797-555d-41ca-a0d5-60a5caf4fb75"}],"combinator":"and"},"renameOutput":true,"outputKey":"montagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e96fc6ed-5139-4fcb-8523-91c5ad9d6f23","leftValue":"={{ $json.rotina }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"fechamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0fb4b223-80cf-4071-ba32-727a64e9d77f","leftValue":"={{ $json.rotina }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"constroi"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94c93021-d462-4a50-b6e5-fc4a36940a8d","leftValue":"={{ $json.rotina }}","rightValue":4,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"carrinho"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"008113d2-8596-47d5-afcd-9fbba28eecd9","leftValue":"={{ $json.rotina }}","rightValue":5,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"atendimento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e92030e4-19d9-461e-a5db-b65377b2c707","leftValue":"={{ $json.rotina }}","rightValue":6,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"mensagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f447a1c3-5108-4683-9bda-2589de5ac9a5","leftValue":"={{ $json.rotina }}","rightValue":7,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Fracionado"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1840,-832],"id":"83c5c999-841e-4b52-b01a-df440f3849d1","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"a5fd9f1d-4997-436e-bf2e-efe14d717756","name":"message.content","value":"={{ $json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3760,-448],"id":"f324bd22-6191-418e-86de-ebf4d82fab46","name":"FildsCarrinho"},{"parameters":{"assignments":{"assignments":[{"id":"019bfefa-210a-462c-a4fd-b8f72c392c36","name":"message.content","value":"={{ $json.message.content}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5680,-768],"id":"7b036454-1664-4658-89f6-650874ccd85a","name":"FieldsIssue"},{"parameters":{"assignments":{"assignments":[{"id":"fe666c72-b3ec-498d-98a5-f2dab4818947","name":"message.content","value":"=```{{ ( ($json.message?.content ?? '').trim() ) || 'Sem opções para o momento.' }}```","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5696,-400],"id":"74207f62-fa55-4d4c-8787-f946e31624c4","name":"FieldsOpcoes"},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"= {{$('Dados Lead').first().json.IdConversa}}","messageText":"=```{{ $('FieldsIssue').item.json.message.content }}```","options_message":{"delay":4}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[5888,-768],"id":"ebe4104e-7f71-468e-88a3-716a8563a1ac","name":"NãoEncontrados","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE pedido_temp p\nSET     status = 'enviado'\nWHERE   p.user_id =  {{ $('MontPedido').item.json.user_id }} and        p.pedido_id  = {{ $('MontPedido').item.json.pedido_id}} AND    p.id_empresa = {{ $('Dados Lead').item.json.id_empresa }}\n    \n  AND EXISTS (\n    SELECT 1\n    FROM item_pedido_temp i\n    WHERE i.user_id   = p.user_id\n      AND i.pedido_id = p.pedido_id\n      AND i.status    = 'opcoes'  \n      AND i.id_empresa =  {{ $('Dados Lead').item.json.id_empresa }}\n  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[32,-1888],"id":"7d725b83-4762-4500-b841-81055374a6c8","name":"AjudaMontagem","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2624,-2752],"id":"e9b1a4c7-c111-4fec-b512-d0fb3c10cdc5","name":"No Operation, do nothing7","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":"\nupdate item_opcoes\nset habilitada = true  \nwhere item_id = {{ $json.item_id }}  and\nopcao =  {{ $('Code2').item.json.numero }} and \n  id_empresa =  {{ $('Dados Lead').item.json.id_empresa }}; \n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[192,-2096],"id":"967b5815-37f7-4a8c-a340-048823ebc3ce","name":"HabilitaOpcao","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"\nupdate item_pedido_temp as  i \nset status = 'concluido',\nnumero = o.numero ,\nnome =    '(' || o.numero::text || ') ' || o.nome,\nvalor_unitario =  o.preco,\nvalor = o.preco * i.quantidade \nfrom item_opcoes as o \nwhere i.item_id = {{ $('Montagem').item.json.item_id }}  and\ni.numero = 0 and  user_id=  {{ $('MontPedido').item.json.user_id }} and pedido_id = {{ $('MontPedido').item.json.pedido_id }} and i.id_empresa =  {{ $('Dados Lead').item.json.id_empresa }}\nand o.item_id =  i.item_id and \no.habilitada = true and i.numero = 0\n  and o.parte = 1 and o.id_empresa =  {{ $('Dados Lead').item.json.id_empresa }} ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[368,-2096],"id":"7b4d8d69-b07a-41df-be33-95d0914d0124","name":"AtualizaOpcao","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"  SELECT * FROM  MontaMensagemOpcoes(    {{ $('MontPedido').item.json.user_id }} , {{ $('MontPedido').item.json.pedido_id }} , {{ $('Dados Lead').item.json.id_empresa }} ) ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[720,-2096],"id":"fbf6143f-8e15-4b76-977d-721e821ca09d","name":"GetProximaMontagem","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"\nupdate item_pedido_temp as  i \nset status = 'concluido',\nnumero_fracao = o.numero ,\nnome =   ' 1/2 (' || i.numero ::text || ') ' || i.nome || ' 1/2 (' || o.numero ::text || ') ' || o.nome,\nvalor_unitario =  o.preco,\nvalor =  ( o.preco + i.valor)/2  * i.quantidade \nfrom item_opcoes as o \nwhere i.item_id = {{ $('Montagem').item.json.item_id }}  and  user_id=  {{ $('MontPedido').item.json.user_id }}\n   and pedido_id = {{ $('MontPedido').item.json.pedido_id }} \n   and i.id_empresa = {{ $('Dados Lead').item.json.id_empresa }}\nand o.item_id =  i.item_id and \no.habilitada = true and i.numero_fracao = 0\nand o.parte = 2  \nand o.id_empresa =  {{ $('Dados Lead').item.json.id_empresa }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[544,-2096],"id":"7233eb73-4fa8-4afb-b134-5e4f2b4a593c","name":"AtualizaOpcaoParte2","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"= {{$('Dados Lead').first().json.IdConversa}}","messageText":"={{ $('FieldsOpcoes').item.json.message.content }}\n*Sim* ou *não*?","options_message":{"delay":4}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[5920,-400],"id":"d942bd11-aad4-4a6e-aba8-6544cb118f2a","name":"Opcões","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=```Fechar 🤝?\nDigite Fechar```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2288,1024],"id":"eecd57fd-7bf4-4959-a38f-f1a406bc97c8","name":"MenuCardapio11","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"jsCode":" const raw = ($json.calcula_pre_pedido || \"\").replace(/\\r\\n/g, \"\\n\");\nconst txt = raw.trim();\n\nif (!txt) {\n  return { texto_alinhado: \"não existe registro\" };\n}\n\nconst lines = txt.split(\"\\n\").map(l => l.trimEnd());\n\n// Se não tiver \"Resumo:\", devolve o corpo original\nconst start = lines.findIndex(l => /resumo:/i.test(l));\nif (start === -1) {\n  return { texto_alinhado: txt };\n}\n\nlet end = lines.findIndex((l, i) => i > start && (\n  /forma de pagamento/i.test(l) || /entrega:/i.test(l) || /total:/i.test(l) || /total de itens/i.test(l)\n));\nif (end === -1) end = lines.length;\n\nconst header = lines.slice(0, start + 1);\nconst itemLines = lines.slice(start + 1, end).filter(l => l.trim());\nconst footer = lines.slice(end);\n\n// ---- parsing ajustado ----\nconst parsed = itemLines.map(line => {\n  const match = line.match(/(R\\$\\s*[\\d\\.,]+)$/);\n  if (!match) return { num: \"\", desc: line.trim(), valor: \"\" };\n\n  const valor = match[1].replace(\"R$\", \"\").trim();\n  const left = line.slice(0, match.index).trim();\n\n  // captura do número inicial (ex: (1) Nome ...)\n  const numMatch = left.match(/^\\((\\d+)\\)\\s*(.*)$/);\n  let num = \"\", desc = left;\n  if (numMatch) {\n    num = numMatch[1];\n    desc = numMatch[2].trim();\n  }\n\n  return { num, desc, valor };\n});\n\nconst maxNum = parsed.reduce((m, o) => Math.max(m, o.num.length), 0);\nconst maxDesc = parsed.reduce((m, o) => Math.max(m, o.desc.length), 0);\n\n// monta itens alinhados com cabeçalho\nconst itensAlinhados = [\n  \"Item \".padEnd(maxNum + 2, \" \") +\n  \"Descrição\".padEnd(maxDesc + 4, \" \") +\n  \"Valor\"\n];\n\nparsed.forEach(o => {\n  itensAlinhados.push(\n    o.num.padEnd(maxNum + 2, \" \") +\n    o.desc.padEnd(maxDesc + 4, \" \") +\n    \"R$ \" + o.valor\n  );\n});\n\n// ---- corpo final ----\nconst corpo = [\n  ...header,\n  ...itensAlinhados,\n  ...footer\n].join(\"\\n\");\n\nreturn { texto_alinhado: \"\\n\" + corpo + \"\\n\" };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,560],"id":"5cdd4602-8ddf-4b75-b58f-c014e88fc449","name":"Code5"},{"parameters":{"operation":"executeQuery","query":" select calcula_pre_pedido( {{ $('MontPedido').item.json.user_id }},  {{ $('MontPedido').item.json.pedido_id }},{{ $('Dados Lead').item.json.id_empresa }} );\n ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-192,560],"id":"a4665190-e8cb-43a1-b470-2ce8b117a0f6","name":"Carrinho1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"gL1FbKkYm9zGfCAA","mode":"list","cachedResultName":"Kernel Pizza"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensagem":"={{ $('MensagemTraduzida').item.json.message }}","user_id":"={{ $('MontPedido').item.json.user_id }}   ","rotina":4,"telefone":"= {{ $('Dados Lead').item.json.IdConversa }}","pedido_id":"={{ $('MontPedido').item.json.pedido_id }}","id_empresa":"={{ $('Dados Lead').item.json.id_empresa }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"pedido_id","displayName":"pedido_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"rotina","displayName":"rotina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"id_empresa","displayName":"id_empresa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1872,-1712],"id":"ee04e4b8-f722-4b55-98a9-2c7c01ddeab5","name":"ExecutaMontagem1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=O seu objetivo é montar sua pizza com suas pizzas que possuem varias opções.\nUse no telefone      "}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1728,-1920],"id":"e1d76639-af39-4ff7-86ed-cf6247b74659","name":"Chama Carrinho1","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"operation":"executeQuery","query":"CALL ReordenarItensConcluidos( {{ $('MontPedido').item.json.user_id }}, {{ $('MontPedido').item.json.pedido_id }} , {{ $('Dados Lead').item.json.id_empresa }} );\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[896,-2096],"id":"b3496803-20dc-47ac-adf4-4dda07129499","name":"ReordenaItem","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"91cd74fc-0b48-4ac5-bdf6-1c63db95d0df","leftValue":"={{$json.status}}","rightValue":"montagem","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1456,-2096],"id":"7652137f-96c2-48e2-9d28-c9dd3876dc60","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2080,-1920],"id":"ea89cc39-e375-43b6-9b45-37273fbef762","name":"No Operation, do nothing","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[5728,-48],"id":"700d5539-958e-474a-8f43-1474777e19f9","name":"No Operation, do nothing1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"sessionIdType":"customKey","sessionKey":"5516992975836"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-400,1520],"id":"19087e8d-bcc4-4ce0-a4ca-a50eb1a7cb75","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-432,1936],"id":"087d8439-799e-4ffe-9764-9fbbd0ddf7fc","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-432,1808],"id":"d115406b-9dc2-4615-a7af-87dd9f5963e8","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"description":" Use essa tool para coletar informações dos serviços do gestor de agente IA"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[-352,1680],"id":"a8b299f2-1253-4a37-b504-006338e37d88","name":"Answer questions with a vector store"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-80,1856],"id":"5666fc5c-44ab-434b-b294-38852afc2a12","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"content":"## Agente vendedor e auxilia na compra\n** ","height":528,"width":2048},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-752,1024],"id":"0f38425f-e805-4c16-b805-fc94fe2cc000","name":"Sticky Note2"},{"parameters":{"content":"## Download Arquivo\n**Dowload do arquivo do gooogle drive ** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":512,"width":864,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-576,1744],"id":"1ecbfd8b-5a88-4181-ac13-a6f3ae4c7086","name":"Sticky Note3"},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=```{{ $json.output }}```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1600,1168],"id":"57de30b3-dcc6-4686-8e50-17f346be2723","name":"MenuCardapio15","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-624,1392],"id":"9837c83b-ac8f-477a-b8d2-6100d65728f6","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"mensagem"},{"name":"user_id","type":"number"},{"name":"pedido_id","type":"number"},{"name":"telefone"},{"name":"rotina","type":"number"},{"name":"id_empresa","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2528,-752],"id":"cc6d6912-cf38-4e7d-9d5e-f165d4a45897","name":"When Executed by Another Workflow"},{"parameters":{"content":"## Modulo carrinho \n** Aqui vc mostra o carrinho para o cliente ","height":608,"width":3184,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-784,368],"id":"bcc8b5de-a95c-4a51-b531-cbed80d3e98d","name":"Sticky Note"},{"parameters":{"content":"## Modulo Cardapio\n** Aqui vc montao carrinho para o cliente ","height":1072,"width":7632,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-784,-784],"id":"e2401d09-2b2b-4087-8868-ac589420c042","name":"Sticky Note1"},{"parameters":{"content":"## Modulo Fechamento\n** Aqui faz o fechamento pedindo  o endereço e  bairro forma de pagamento","height":592,"width":1200,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-800,-1360],"id":"81ee85ea-9ea5-453e-9a81-105fe89dc03d","name":"Sticky Note4"},{"parameters":{"content":"## Modulo Montagem Opções\n** Aqui vc mostra o carrinho para o cliente ","height":800,"width":3264,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-752,-2208],"id":"9022d7d4-49f0-4f40-9bbc-151c6905996e","name":"Sticky Note5"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[704,1040],"id":"cdfb4d3c-0fed-4078-9462-a4a75550242e","name":"No Operation, do nothing9","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a7f9f510-5e06-4a49-b2f6-190484faeaac","leftValue":"={{$('MensagemTraduzida').item.json.message}}","rightValue":"sair","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,1152],"id":"80c7dcb0-0636-4204-8191-919abb82db42","name":"If2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[512,1280],"id":"22916a34-2a82-42fb-ad53-d824a3cfec29","name":"No Operation, do nothing10","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{$json.memoryKey}}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-464,-992],"id":"40ad7878-1145-4da3-b4d0-0af9aeea9e19","name":"Postgres Chat Memory2","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"jsCode":" return [\n  {\n    json: {\n      memoryKey: $(\"Dados Lead\").item.json.telefone \n              || $(\"Dados Lead\").item.json.fone \n              || $(\"Dados Lead\").item.json.contato?.telefone\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-592,-1248],"id":"cd2b2a90-f82d-4da1-b868-b1d5b9911967","name":"MemoryKey"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[144,-1248],"id":"05cbadc9-f1c7-4707-8007-31b42e9934e8","name":"No Operation, do nothing2","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"promptType":"define","text":"= {{ $('MensagemTraduzida').item.json.message }}","options":{"systemMessage":"= 🎭 PERSONA\nSou um atendente simpático e objetivo. Falo em português natural e curto (máx. 2 frases e 1 pergunta por vez). Não invento nada.\n\n🎯 OBJETIVO\nAjudar o cliente a comprar: pelo nome/número da pizza OU pelos ingredientes principais (3–4). Suportar pizza inteira ou fracionada e, no final, oferecer borda e bebida — **apenas se a categoria existir na empresa**.\n\n🧰 TOOLS\n- ConsultaCategoria(\"<categoria>\") → verifica se a categoria existe para a empresa atual (pizza, esfirra, borda, bebida etc.)\n- ConsultaOnlineVendas(\"<consulta>\") → busca por nome/número (ex.: \"pizza calabresa\", \"borda catupiry\")\n- BuscaPizzaSabor(\"<ingredientes>\") → busca por 3–4 ingredientes (ex.: \"azeitona lombo catupiry\")\n- IntencaoComando(\"<string>\") → grava o pedido final (sempre string simples)\n\n🔐 REGRAS GERAIS\n1) **Nunca oferecer** uma categoria sem antes confirmar com `ConsultaCategoria()`.  \n   - Monte internamente uma lista de ofertas disponíveis (ex.: pizza, esfirra, bebida, borda).  \n   - Ofereça **apenas** o que estiver disponível.\n2) Sempre que o cliente disser que **não sabe o nome**, peça **3–4 ingredientes principais**.\n3) Se mencionar “meia”, “metade”, “1/2” → modo fracionada (coletar 2 sabores).\n🧩 FRACIONADA — REGRAS (COLE NO PROMPT)\n\nEstado obrigatório (memória do agente):\n\nSABOR1_NUM, SABOR1_NOME\n\nSABOR2_NUM, SABOR2_NOME\n\nTAMANHO\n\nFluxo:\n\nAo detectar “meia”, “metade” ou “1/2”, ativar modo fracionada.\n\nSe SABOR1_NUM estiver vazio → resolver o 1º sabor (por nome ou ingredientes) e preencher somente SABOR1_*.\n\nNão chamar IntencaoComando ainda.\n\nPerguntar: “Qual a outra metade?”\n\nSe SABOR1_NUM preenchido e SABOR2_NUM vazio → resolver o 2º sabor e preencher somente SABOR2_*.\n\nValidação antes de gravar:\n\nSe SABOR1_NUM = SABOR2_NUM, perguntar:\n“Confirmando: quer as duas metades iguais ({{SABOR1_NOME}}) ou era outro sabor?”\n\nSe for iguais: gravar como pizza inteira (\"1 pizza {{SABOR1_NUM}} {{TAMANHO}}\").\n\nSe for diferentes: pedir o segundo sabor novamente.\n\nSe faltar TAMANHO, perguntar: “Pequena, média ou grande?”\n\nGravação única da fracionada:\n\nIntencaoComando(\"1 pizza 1/2 {{SABOR1_NUM}} e 1/2 {{SABOR2_NUM}} {{TAMANHO}}\")\n\n\nApós gravar a pizza, limpar SABOR1_* e SABOR2_*.\n\nSe o cliente pedir borda, usar GetCarrinho() e aplicar com item_id da pizza recém-criada (sem perguntar tamanho de borda).\n\nResolução de sabor (para cada metade):\n\nSe cliente disser nome/número → ConsultaOnlineVendas(\"pizza <termo>\") e pegar o número retornado.\n\nSe disser ingredientes (3–4) → BuscaPizzaSabor(\"<ingr>\"), listar até 6 opções, cliente escolhe, salvar número.\n\nNunca chamar IntencaoComando antes de SABOR1_NUM e SABOR2_NUM estarem preenchidos (ou antes de converter para inteira se forem iguais).\n\nExemplo esperado\n\nEntrada: “meia Dom Edu e meia atum com mussarela, média”\nMemória:\n\nSABOR1_NUM=23, SABOR2_NUM=11, TAMANHO=média\nSaída:\n\nIntencaoComando(\"1 pizza 1/2 23 e 1/2 11 média\")\n\n\nSe repetir o mesmo sabor nas duas: o agente pergunta se é pizza inteira igual; se confirmar, grava:\n\nIntencaoComando(\"1 pizza 23 média\")\n\n\n\n🧼 LIMPEZA DE MEMÓRIA DE PIZZA\n\nApós gravar qualquer pizza (inteira ou fracionada),\nlimpe todas as variáveis temporárias relacionadas à montagem:\n\nZerar: SABOR1_NUM, SABOR1_NOME, SABOR2_NUM, SABOR2_NOME, TAMANHO, MODO_FRACIONADA.\n\nAntes de gravar outro item (como bebida, borda, ou nova pizza),\nverifique se há pizza em andamento:\n   - se houver → finalize primeiro.\n   - se não houver → siga normalmente.\n\n\n\n\n\n\n\n\n4) Resultado de busca:\n   - Se **0 itens**: peça para trocar 1 ingrediente e tente de novo.\n   - Se **1 a 6 itens**: liste numerado.\n   - Se **>6 itens**: não listar; peça para refinar (“troca/adiciona 1 ingrediente?”).\n5) Tamanho: se faltar, pergunte “pequena, média ou grande?”.  \n   - Ao exibir opções, se tiver preço por tamanho, mostre “R$ {preco_tamanho}”.\n\n\n6)  Borda — Regra \n\nQuando o cliente disser algo como “com borda”, “quero borda mussarela”, “coloca cheddar” etc.:\n\nVerifique primeiro se existe categoria borda na empresa\n→ ConsultaCategoria(\"borda\")\nSe não existir, responda:\n\n“No momento não temos opção de borda 😊”\n\nSe existir borda, identifique o sabor:\n(ex.: cheddar, catupiry, mussarela).\nSe o cliente não especificar, pergunte:\n\n“Quer borda de cheddar, catupiry ou mussarela?”\n\nBusque o número da borda\n→ ConsultaOnlineVendas(\"borda <sabor>\")\n\nVerifique o carrinho\n→ GetCarrinho()\n\n  - Se houver apenas uma pizza no carrinho:\n   → aplicar direto nessa pizza, sem perguntar tamanho:\n       IntencaoComando(\"1 borda <numero_borda> para item_id <item_pizza>\")    \n   ou, se não houver número:\n       IntencaoComando(\"1 borda <sabor> para item_id <item_pizza>\")    \n\n  - Se houver mais de uma pizza, liste e pergunte:\n   > “Qual pizza vai receber a borda?”\n   > “1️⃣ Calabresa grande 2️⃣ Frango com catupiry média 3️⃣ Atum grande”\n\n   Depois da escolha, aplique a borda usando o item_id da pizza selecionada.\n\nConfirme de forma natural:\n\n“Beleza 🍕 adicionei a borda mussarela na sua pizza de calabresa grande. Quer mais alguma coisa?”\n\n\n\n7) Intenção final: **sempre string simples**, sem JSON.  \n   - Simples: `IntencaoComando(\"1 pizza <numero> <tamanho>\")`\n   - Fracionada: `IntencaoComando(\"1 pizza 1/2 <num1> e 1/2 <num2> <tamanho>\")`\n   - Com borda: `IntencaoComando(\"1 pizza <...> <tamanho> com borda <num_borda>\")`\n8) Nunca repetir tool duas vezes para o mesmo passo. Sempre basear números no **último** resultado de busca.\n\n🗣️ ABERTURA\n1) Verifique categorias disponíveis:\n   - `ConsultaCategoria(\"pizza\")`\n   - `ConsultaCategoria(\"esfirra\")`\n   - `ConsultaCategoria(\"bebida\")`\n   - `ConsultaCategoria(\"borda\")`\n2) Cumprimente e ofereça **somente** o que existir:\n   - Ex.: “Olá! 😄 Tudo bem por aí? Temos 🍕 pizza{{se_esfirra}}, quer escolher pelo nome ou por 3–4 ingredientes?”\n\n(se_esfirra: incluir “ e 🥙 esfirra” **somente** se `ConsultaCategoria(\"esfirra\")` estiver disponível)\n\n🧭 FLUXO DE DECISÃO\nA) Cliente sabe o **nome/número**:\n   - `ConsultaOnlineVendas(\"pizza <nome_ou_numero>\")`\n   - Se encontrar: se faltar tamanho → perguntar; em seguida:\n     → `IntencaoComando(\"1 pizza <numero> <tamanho>\")`\n   - Se fracionada (cliente disse dois nomes): faça duas consultas e depois:\n     → `IntencaoComando(\"1 pizza 1/2 <num1> e 1/2 <num2> <tamanho>\")`\n   - Se aceitar borda e existir categoria:\n     - `ConsultaOnlineVendas(\"borda <sabor>\")`\n     - Regravar: `IntencaoComando(\"1 pizza <...> <tamanho> com borda <num_borda>\")`\n\nB) Cliente **não sabe o nome** → peça 3–4 ingredientes:\n   - “Manda 3 ou 4 ingredientes principais 😊”\n   - Guarde os termos (normalizar: minúsculas, sem acento).  \n   - `BuscaPizzaSabor(\"<ing1 ing2 ing3 [ing4]>\")`\n   - Se 0: “Não achei com essa combinação; troca um ingrediente?”\n   - Se >6: “Voltou muita coisa; troca/adiciona 1 ingrediente pra afinar?”\n   - Se 1 a 6: **listar assim** e perguntar tamanho:\n\n     Exemplo (para “grande”):\n     1) Dom Edu  \n        Descrição: Azeitona, Lombo Canadense, Catupiry, Mussarela  \n        **1 pizza 23 grande — R$ 60,00**\n\n     2) Atum  \n        Descrição: Atum, Azeitona, Tomate, Mussarela  \n        **1 pizza 11 grande — R$ 58,00**\n\n     3) Catupiry  \n        Descrição: Catupiry, Azeitona, Mussarela  \n        **1 pizza 29 grande — R$ 56,00**\n\n   - Após o cliente escolher **(1–6)** e confirmar tamanho:\n     → `IntencaoComando(\"1 pizza <numero_escolhido> <tamanho>\")`\n   - Se o cliente quiser fracionar: repetir busca/consulta para o 2º sabor e montar:\n     → `IntencaoComando(\"1 pizza 1/2 <num1> e 1/2 <num2> <tamanho>\")`\n   - Oferecer borda **apenas se** `ConsultaCategoria(\"borda\")` estiver disponível.\n\n🥤 BEBIDAS (opcional)\n- Só oferecer se `ConsultaCategoria(\"bebida\")` existir:\n  - “Quer uma bebida pra acompanhar? 😉”\n  - (a lógica de busca/lista segue seu `ConsultaOnlineVendas(\"bebida <nome>\")`; gravar com `IntencaoComando(\"1 bebida <numero>\")`)\n\n✅ FECHAMENTO\n- “Pedido anotado ✅ Quer adicionar mais alguma coisa ou posso fechar pra você?”\n- Se “mais”: voltar ao início do fluxo (ver categorias e seguir).\n- Se “fechar”: finalizar.\n\n🧪 EXEMPLOS DE RESPOSTA (sem explicar lógica)\n- “Beleza! Prefere escolher pelo nome ou me dizer 3–4 ingredientes?”\n- “Vai ser inteira ou meio a meio?”\n- “Quer pequena, média ou grande?”\n- “Temos borda (catupiry/cheddar). Quer adicionar?”\n\n🚫 NUNCA\n- Oferecer esfirra/bebida/borda sem `ConsultaCategoria()` confirmar.\n- Inventar número, preço ou sabor.\n- Enviar JSON. **Sempre** string simples na intenção final.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-480,1152],"id":"bac24c6b-78f4-4a48-abb8-8ee20e58b8c6","name":"Assistente Venda"},{"parameters":{"promptType":"define","text":"=<mensagem_do_usuario>\n{{ $('When Executed by Another Workflow').item.json.mensagem }}\n</mensagem_do_usuario>","hasOutputParser":true,"messages":{"messageValues":[{"message":"=  {\n  \"pizzas_inteiras\": [\n    { \"quantidade\": int, \"numero\": int, \"tamanho\": str , \"nome\": str, \"pizza_referencia\": str, \"comando_original\": str  }   // pizza_referencia é uma relação com a borda ou com item \n  ],\n  \"pizzas_fracionadas\": [\n    { \"quantidade\": int, \"metade1\": int, \"metade2\": int , \"nome\": str, \n\"nome_fracao\": str , \"pizza_referencia\": str, \"comando_original\": str }\n  ],\n  \"bebidas\": [\n    { \"quantidade\": int, \"numero\": int, \"nome\": str, \"volume\": str , \"comando_original\": str }\n  ],\n \"esfirras\": [\n  { \"quantidade\": int, \"numero\": int, \"nome\": str, \"tipo\": str , \"comando_original\": str } // tipo: \"salgada\" ou \"doce\"\n  ],\n  \"bordas\": [\n   \n { \"numero\": int, \"nome\": str, \"pizza_referencia\": str , \"tamanho\": str, \"categoria\": str, \"comando_original\": str, \"pizza_pai\": int } // pizza_referencia é uma relação da borda com a pizza \n\n\n// \"pizza_referencia\" = string que identifica a pizza onde será aplicada\n  ]\n \"item\": [\n    { \"numero\": int,\"nome\": str, \"tamanho\": str , \"pizza_pai\": int , \"comando_original\": str, \"pizza_pai\": int } //  \n  ]\n\n\n}\n\n⚠️ Regras obrigatórias:\n- Sempre retorne exatamente essas 5 listas, mesmo que estejam vazias.\n- Use apenas os nomes de campos e estrutura mostrados acima.\n- Retorne **apenas o JSON válido**, sem explicações, comentários ou texto adicional.\n\nSe o usuário informar apenas ‘pizza N’, não descarte. Gere {quantidade:1, numero:N, tamanho:'media'} em pizzas_inteiras.”\n\n“Nunca omita itens ambíguos; use defaults: quantidade=1, tamanho='media'.”\n\n“Não valide com o cardápio. A validação será feita depois; sempre retorne o item.”\n\n\"A palavra uma , duas  refere-se sempre  quantidade  exemplo uma  pizza mussarela ou uma pizza presunto e queijo é quantidade..\"\n\n\n\nPrioridade de interpretação\n\nSe houver padrões de pizza fracionada no formato {Q? 1/2 A (e|,|+|/) 1/2 B}, crie um item em pizzas_fracionadas com {quantidade: Q || 1, metade1: A, metade2: B}.\n\nNunca crie pizzas_inteiras para números A ou B quando eles estiverem dentro de um padrão fracionado.\n\nSó trate “pizza N” (inteira) quando não fizer parte de um padrão 1/2 N.  \n\nSo trate   \"pizza\" se tiver explicito que se trata de \"pizza\"\n\nSo trate   \"esfirra \" se tiver explicito que se trata de \"esfirra\"\n\no comando_origianal guaro valor da string que gerou o json  exemplo :  “1 pizza 1/2 14  e 1/2 21”\n\nRegras específicas para BORDAS (muito importante):\n- Se a mensagem contiver “borda”, o texto imediatamente após a palavra “borda”\n  até antes de “ao item”, “no item”, “item”, “pizza” ou o fim da frase, é o campo \"nome\".\n- Normalize espaços e minúsculas (ex.: \"Borda   Cheddar\" → nome: \"cheddar\").\n\n- Sempre preencha \"categoria\":\"borda\" e \"pizza_pai\" com o número do item/pizza alvo quando presente (ex.: \"item_id  1\" → pizza_pai: 1).\n- Não use o campo \"item[]\"; bordas devem ir apenas em \"bordas[]\".\n- Defaults para borda quando ausentes: numero=0, tamanho=\"\", pizza_referencia=\"\".\n\n\n\nExemplos:\n\n“1 pizza 1/2 14  e 1/2 21” → pizzas_fracionadas: [{quantidade:1, metade1:14, metade2:21, nome:'', nome_fracao: '' } ]\n\n“2 1/2 10, 1/2 15” → pizzas_fracionadas: [{quantidade:2, metade1:10, metade2:15 , nome:'', nome_fracao: '' }]\n\n“14 e 21” (sem 1/2) → pizzas_inteiras: [{q:1,n:14,media},{q:1,n:21,media }]\n\n\n\n“1 pizza 1/2 mussarela  e 1/2 presunto e queijo ” → pizzas_fracionadas: [{quantidade:1, metade1:0, metade2:0, nome:mussarela, nome_fracao: presunto e queijo } ]\n\n“1 pizza meia  mussarela  e meia  presunto e queijo ” → pizzas_fracionadas: [{quantidade:1, metade1:0, metade2:0, nome:mussarela, nome_fracao: presunto e queijo } ]\n\nSe o cliente disser meia  interprete como 1/2\n\n\n \nBebidas — defaults e sinônimos (obrigatório)\n\nSe o cliente disser “lata” e não informar volume, use 350ml.\n\nSe o cliente disser “long neck” e não informar volume, use 330ml.\n\nSe o cliente pedir coca/coca-cola sem volume, use 2l.\n\nNunca rejeite bebidas por falta de volume quando se aplicar uma regra acima.\n\nNormalize o campo volume sempre em minúsculas e sem espaços (ex.: 350ml, 330ml, 2l).\n\nExemplos\n\nse vier \"1 borda catupiry para item_id 2277\"  \n\n [ { \"quantidade\": 1, \"numero\": 300, \"nome\": '', \"tipo\": 'borda' , \"comando_original\": '1 borda catupiry para item_id 2277', \"pizza_pai\": 2277}]\n\nse vier \"1 item catupiry para item_id 2277\"  \n\n [ { \"quantidade\": 1, \"numero\": 300, \"nome\": '', \"tipo\": 'item' , \"comando_original\": '1 item catupiry para item_id 2277', \"pizza_pai\": 2277}]\n\n\n“3 long neck heineken” → bebidas: [{ \"quantidade\": 3,  \"numero\": 53, \"nome\": \"heineken\", \"volume\": \"330ml\" }]\n\n“lata bud” → bebidas: [{ \"quantidade\": 1,  \"numero\": 54, \"nome\": \"budweiser\", \"volume\": \"350ml\" }]\n\n“2 coca” → bebidas: [{ \"quantidade\": 2, \"numero\": 54,  \"nome\": \"coca cola\", \"volume\": \"2l\" }]\nPedido:\n{pedido}\n\nquando numa string de comando tiver 1 pizza musssarela  1 borda chedaar na qual o codigo da pizza não for identifica,  crie no campo   \"pizza_referencia\" uma amarração entre 1 pizza mussarela e borda   \"pizza_referencia\" pode ser um codigo unico. Isso vale tambpem para pizza fracionada \n\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-544,-576],"id":"03c7b5ef-890b-43ea-9e04-b190ee33affa","name":"LLM CONSTRUTOR","retryOnFail":true,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":"update  pedido_temp \n  set status ='enviado'\n  where user_id =  {{ $('MontPedido').item.json.user_id }} \n  and pedido_id =  {{ $('MontPedido').item.json.pedido_id }} and id_empresa ={{ $('Dados Lead').item.json.id_empresa }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[512,1040],"id":"87ed4ddd-095b-440d-9d8e-6d64659047da","name":"VoltaStatusCompra","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"50fdf9df-620d-483e-b114-bb3d9dc1caea","leftValue":"={{ $json.status }}","rightValue":"finalizar","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2496,544],"id":"82a525c4-15c9-47fd-839a-f313970c37b9","name":"If3"},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=```Estamos iniciando o processo de fechamento 🔓.\nVamos solicitar algumas informações ℹ️ para fechar.\n```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2576,1072],"id":"df27fdd1-f40d-4eb2-bb0a-c73ff5517331","name":"MenuCardapio","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[16,-1664],"id":"602cbc2e-c87d-4dfe-9914-efae860edc4d","name":"No Operation, do nothing12","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"92b4a80f-9642-42ba-9d5b-534e35757324","leftValue":"={{ $json.count }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-560,576],"id":"282fed4a-f80f-4c12-937f-f79d0cf2835c","name":"If6"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[64,768],"id":"816547d8-1c45-4b01-9b1c-2bbb52f4be75","name":"No Operation, do nothing33","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= ```🛒Seu carrinho esta vazio.```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-208,768],"id":"c44460bd-5fab-4e05-9c03-3fb45a11ba9a","name":"MenuCardapio34","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=O seu objetivo é montar sua pizza com suas pizzas que possuem varias opções.\nUse no telefone      "}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[5392,-48],"id":"6779ff5b-854c-41ac-a3b9-e2027a154efe","name":"Carrinho2","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"gL1FbKkYm9zGfCAA","mode":"list","cachedResultName":"Kernel Pizza"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensagem":"={{ $('MensagemTraduzida').item.json.message }}","user_id":"={{ $('DadoPedido').item.json.user_id }}  ","rotina":4,"telefone":"= {{ $('Dados Lead').item.json.IdConversa }}","pedido_id":"={{ $('DadoPedido').item.json.pedido_id }}","id_empresa":"= {{ $('Dados Lead').item.json.id_empresa }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"pedido_id","displayName":"pedido_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"rotina","displayName":"rotina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"id_empresa","displayName":"id_empresa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5536,160],"id":"940fe83d-6a73-4ee1-bc8a-325e735fe035","name":"ExecutaMontagem3"},{"parameters":{"operation":"executeQuery","query":" SELECT \n  COUNT(*) FILTER (WHERE status = 'inicio')::INT    AS inicio,\n  COUNT(*) FILTER (WHERE status = 'opcoes')::INT    AS opcoes,\n  COUNT(*) FILTER (WHERE status = 'rejeitado')::INT AS rejeitado,\n  COUNT(*) FILTER (WHERE status = 'concluido')::INT AS concluido\nFROM item_pedido_temp\nWHERE user_id   = {{ $('DadoPedido').item.json.user_id }}\n  AND pedido_id = {{ $('DadoPedido').item.json.pedido_id }}\n  AND id_empresa =  {{ $('Dados Lead').item.json.id_empresa }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3936,-416],"id":"dd6c4046-0b5d-407e-8fd9-ab9884f9425e","name":"Execute a SQL query2","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6a08b429-c58b-4f5d-a54e-015b94c0c3ed","leftValue":"={{ $json.rejeitado }}","rightValue":0,"operator":{"type":"number","operation":"gt"}},{"id":"388ca30d-93d6-49b5-b0f9-357403fa92ab","leftValue":"={{ $json.opcoes}}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4576,-464],"id":"86a87030-0457-49e3-83f1-4fc0e4c7f2e5","name":"If5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6a08b429-c58b-4f5d-a54e-015b94c0c3ed","leftValue":"={{ $json.concluido }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4912,-32],"id":"5b0abcdf-2fd8-4aa7-9bee-f979eeed92eb","name":"If7"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[5184,112],"id":"9eaddbe6-4dae-4d09-8e66-077af8e666d6","name":"No Operation, do nothing3","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"388ca30d-93d6-49b5-b0f9-357403fa92ab","leftValue":"={{ $('Execute a SQL query2').item.json.opcoes }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4880,-384],"id":"82bce8e7-0a81-4363-b80e-768ad7b0dceb","name":"If8"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6a08b429-c58b-4f5d-a54e-015b94c0c3ed","leftValue":"={{ $json.rejeitado }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4912,-752],"id":"fc80e4c8-5581-459e-8f9f-c9eb800a0d54","name":"If9"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[5152,-560],"id":"c8f2abfb-6004-470b-baa5-80aac5ff537c","name":"No Operation, do nothing4","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[5184,-208],"id":"30dd3cef-90bd-4332-824c-0f33a929b6cc","name":"No Operation, do nothing5","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[6144,-400],"id":"63711f9a-e0c1-4823-8a05-285dc119b464","name":"No Operation, do nothing6","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[6096,-768],"id":"209cecd7-1d14-416e-904c-1086c4e0220c","name":"No Operation, do nothing13","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d1c05fb6-32da-4a44-bc69-393a6d7e07c5","leftValue":"={{ $('MensagemTraduzida').item.json.message }}","rightValue":"não","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-240,-2080],"id":"2a9bae29-9b7e-40f2-8a36-99bf336a655b","name":"If4"},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"={{$('Dados Lead').item.json.IdConversa }}","messageText":"= ``` Montagem recusada pelo cliente. \n     Vamos encontrar outro caminho.\n     Consulte por um sabor, exemplo: Frango, ou Baiana.```","options_message":{"delay":4}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[240,-1888],"id":"132ea165-a6a0-4242-92a0-1ace75e2fc61","name":"MenuCardapio4","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[432,-1888],"id":"0b4e6e01-d8a2-4b91-bdf8-747e9e337437","name":"No Operation, do nothing14","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":"UPDATE pedido_temp p\nSET     status = 'montagem'\nWHERE   p.user_id =  {{ $('MontPedido').item.json.user_id }} and     p.pedido_id  = {{ $('MontPedido').item.json.pedido_id}} and \n  p.id_empresa ={{ $('Dados Lead').item.json.id_empresa }} \n  AND EXISTS (\n    SELECT 1\n    FROM item_pedido_temp i\n    WHERE i.user_id   = p.user_id\n      AND i.pedido_id = p.pedido_id\n      AND i.status    = 'opcoes'  \n      and i.id_empresa ={{ $('Dados Lead').item.json.id_empresa }} \n  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2992,-448],"id":"7f5542f1-07cf-4576-a11f-971df97b1de9","name":"AjudaMontagem1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"content":"## Modulo carrinho \n** Aqui vc mostra o carrinho para o cliente ","height":464,"width":1392},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2784,-880],"id":"cf7a12fb-ab4c-4665-a8e3-d753fa6a9fdf","name":"Sticky Note6"},{"parameters":{"operation":"get","tableId":"pedido_temp","filters":{"conditions":[{"keyName":"user_id","keyValue":"={{ $('MontPedido').item.json.user_id }}"},{"keyName":"pedido_id","keyValue":"={{ $('MontPedido').item.json.pedido_id }}"},{"keyName":"id_empresa","keyValue":"={{ $('Dados Lead').item.json.id_empresa }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[336,560],"id":"0dce018a-adcc-41f6-a081-3117a67b7f5e","name":"Get Pedido","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"operation":"executeQuery","query":"select count(*) ::INT from item_pedido_temp  \n  WHERE user_id =  {{ $('MontPedido').item.json.user_id }}\n  and pedido_id =  {{ $('MontPedido').item.json.pedido_id }} and id_empresa ={{ $('Dados Lead').item.json.id_empresa }};\n\n ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-752,576],"id":"c4919120-c317-4def-8f35-fbfaf9a45749","name":"CarinhoVazio","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=```{{ $json.texto_alinhado }}```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2240,1168],"id":"12a71904-2f15-4d1c-a175-6f8c33b25b32","name":"MostraCarrinho","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Execute a SQL query in Postgres","operation":"executeQuery","query":"select  nome,   telefone, endereço, bairro \n  from usuario_lacantina   \n   where user_id =   {{$('MontPedido').item.json.user_id }}  \n ","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[624,-1200],"id":"0f929166-a7bc-4a3a-88f3-eddb6bf83587","name":"DadosPessoais","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"=1"},{"fieldId":"tipo","fieldValue":"borda"},{"fieldId":"categoria","fieldValue":"borda"},{"fieldId":"nome","fieldValue":"={{ $('Bordas').item.json.nome }}"},{"fieldId":"numero","fieldValue":"={{ $json.numero ? $json.numero : 0 }}"},{"fieldId":"fracionada","fieldValue":"=false"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"},{"fieldId":"tamanho","fieldValue":"={{ $json.tamanho }}"},{"fieldId":"pizza_referencia","fieldValue":"={{ $json.pizza_referencia }}"},{"fieldId":"comando_original","fieldValue":"={{ $json.comando_original }}"},{"fieldId":"id_empresa","fieldValue":"= {{ $('Dados Lead').item.json.id_empresa }}"},{"fieldId":"id_pizza_pai","fieldValue":"={{ $json.pizza_pai }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[528,-16],"id":"754e1ee8-60ce-4a79-9dc7-aa77cf2359e8","name":"BordaItem","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"fieldToSplitOut":"output.mensagens","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-192,2464],"id":"371dd4c5-e3c8-48fa-bb52-20df92beeed4","name":"Split Out1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[128,2464],"id":"e821bada-2d96-4eb9-9797-7fab98fc518d","name":"Loop Over Items1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[704,2752],"id":"15eee28e-dd3a-4736-82ec-ea4a6f57b4b4","name":"Wait3","webhookId":"65ff8064-0a3a-4195-bf63-5cc130c8fe48","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[-432,2656],"id":"bab1f7e8-9e27-4c02-93fb-f773186870a3","name":"Auto-fixing Output Parser1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-512,2816],"id":"ff15ad5f-ef1d-4f8b-870b-555f5adbc1a8","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=<mensagem_do_usuario>\n {{ $('MensagemTraduzida').item.json.message }}\n</mensagem_do_usuario>","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Apenas estruture a <mensagem_do_usuario> no formato JSON solicitado no output parser e seguindo as instruções de formatação abaixo. Não altere nada mais na mensagem\n\n# Formatação\n- Divida as mensagens para que fiquem naturais e humanizadas;\n- Divida as mensagens conforme estrutura do output parser para que não fiquem muito longas (maiores que 240 caractéres);\n- Não separe mensagens vazias;\n- Use quebras de linhas (\\n\\n) após pontos finais;\n- Para negrito (bold) use apenas um '' nunca duas '' (exemplo: *negrito).\n\nExemplo de formato JSON:\n{\n\"mensagens\": [\"Mensagem 0\", \"Mensagem 1\", \"Mensagem 2\"]\n}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-528,2464],"id":"1821fa6f-6b66-4fc5-abda-1871d9d882f0","name":"Basic LLM Chain"},{"parameters":{"content":"## Humanizar Resposta\nQuebra de mensagens em mensagens menores e com contexto.","height":760,"width":580,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-592,2208],"id":"b9defda7-6888-48b1-80fb-4eda3cc16c90","name":"Sticky Note31"},{"parameters":{"content":"## Envio das Respostas ao Usuário\nEnvio das mensagens quebradas para o usuário","height":760,"width":900,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,2208],"id":"c53e9200-f7f6-412d-a4bc-246b02cd810d","name":"Sticky Note32"},{"parameters":{"content":"Ajuste sua instância e autenficiação da Evolution","height":300,"width":230,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[384,2512],"id":"053bfb95-b6ab-4075-a9b0-17968f037d2f","name":"Sticky Note33"},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=```{{ $json['output.mensagens'] }}```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[416,2624],"id":"964992f0-33f0-42e2-9452-fb4933a48e7c","name":"CardapioConsulta1","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[432,2288],"id":"0cc57840-437e-43ef-83b3-d0aa78776b42","name":"No Operation, do nothing15","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"mensagens\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"mensagens\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-240,2816],"id":"fa47fce4-13d1-42dc-8dd1-95e7dc8a4b33","name":"Structured Output Parser [Schema]1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"workflowId":{"__rl":true,"value":"gL1FbKkYm9zGfCAA","mode":"list","cachedResultName":"Kernel Pizza"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensagem":"= ```{{ $json.texto }}```\n ","user_id":"= {{ $('MontPedido').item.json.user_id }}  ","rotina":6,"telefone":"= {{ $('Dados Lead').item.json.IdConversa }}","pedido_id":"={{ $('MontPedido').item.json.pedido_id }}\n\n","id_empresa":"={{ $('Dados Lead').item.json.id_empresa }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"pedido_id","displayName":"pedido_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"rotina","displayName":"rotina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"id_empresa","displayName":"id_empresa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1408,784],"id":"8346869c-1cb4-4e2f-9c2a-11c2d1ac90b9","name":"ExecutaMontagem4"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1648,592],"id":"162a3128-d9ab-41ec-a73e-3eb452e6040a","name":"No Operation, do nothing16","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"8d56a457-c56c-4b92-955d-6fdac64b4c99","name":"texto","value":"={{ $json.texto_alinhado}}","type":"string"},{"id":"9609e8d7-0651-415c-a5c9-c0adc8555428","name":"dica","value":"={{ $('dicas').item.json.dica }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,560],"id":"01cc8f21-b955-493e-abb4-ebced6abbb75","name":"FieldsCarrinho"},{"parameters":{"assignments":{"assignments":[{"id":"cb9bbfc2-3f0e-467a-ae77-f64a2c0d16b4","name":"texto","value":"={{$('FieldsCarrinho').item.json.texto }}\n ```Estamos iniciando o processo de fechamento 🔓. Vamos solicitar algumas informações ℹ️ para fechar.```","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,400],"id":"505aaa02-19c2-4ed0-a869-375ca0720b6a","name":"Fechar"},{"parameters":{"assignments":{"assignments":[{"id":"c6f87764-1b56-4a13-877e-549aa05559d8","name":"texto","value":"=  {{ $('FieldsCarrinho').item.json.texto }}\n   Vamos Fechar seu pedido🔒? ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,688],"id":"ef451012-45fc-4a6c-9fa9-98b4199bbe3a","name":"NãoFechar"},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1120,560],"id":"4afc9cd6-235e-4522-8901-5f8a85ab952c","name":"Merge"},{"parameters":{"operation":"executeQuery","query":"select status from pedido_temp \n  where user_id =  {{ $('MontPedido').item.json.user_id }} \n  and pedido_id =  {{ $('MontPedido').item.json.pedido_id }} and \n   id_empresa =  {{ $('Dados Lead').item.json.id_empresa }}; ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1264,-2096],"id":"470c4d2a-ccbc-45a2-9dbb-700911345d30","name":"PegaStusPedido","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a842c6a3-ab23-4c9f-9902-80496bb13a18","name":"ProxMontagem","value":"={{ $('GetProximaMontagem').item.json.montamensagemopcoes }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1072,-2096],"id":"f345fe5b-2d4c-4bbc-81c9-19cb3ac44809","name":"FieldsMontagem"},{"parameters":{"workflowId":{"__rl":true,"value":"gL1FbKkYm9zGfCAA","mode":"list","cachedResultName":"Kernel Pizza"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensagem":"={{ $('FieldsMontagem').item.json.ProxMontagem }}","user_id":"={{ $('MontPedido').item.json.user_id }}   ","telefone":"= {{ $('Dados Lead').item.json.IdConversa }}","pedido_id":"={{ $('MontPedido').item.json.pedido_id }}","id_empresa":"={{ $('Dados Lead').item.json.id_empresa }}","rotina":6},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"pedido_id","displayName":"pedido_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"rotina","displayName":"rotina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"id_empresa","displayName":"id_empresa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1856,-2048],"id":"d6a9866c-e173-49ed-a381-b499b4c3bd7e","name":"ExecutaMontagem"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=O seu objetivo é montar sua pizza com suas pizzas que possuem varias opções.\nUse no telefone     "}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1712,-2256],"id":"661a7b3d-1abc-47d7-82b7-c3863ae49cb5","name":"Chama Carrinho","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2064,-2256],"id":"fa90a3be-3a94-441d-9e49-ec840fa7e9e8","name":"No Operation, do nothing8","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=O seu objetivo é montar sua pizza com suas pizzas que possuem varias opções.\nUse no telefone      \n\n \n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1296,592],"id":"504168e5-8f81-4e2a-a3f4-843b2f6a93fc","name":"ChamaConversational","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"gL1FbKkYm9zGfCAA","mode":"list","cachedResultName":"Kernel Pizza"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensagem":"= ```{{ $json.output }}```","user_id":"= {{ $('MontPedido').item.json.user_id }}  ","rotina":6,"telefone":"= {{ $('Dados Lead').item.json.IdConversa }}","pedido_id":"={{ $('MontPedido').item.json.pedido_id }}\n\n","id_empresa":"={{ $('Dados Lead').item.json.id_empresa }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"pedido_id","displayName":"pedido_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"rotina","displayName":"rotina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"id_empresa","displayName":"id_empresa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-16,1312],"id":"eba482cd-9878-47b6-a497-421ac54cbe7f","name":"ExecutaMontagem5"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=O seu objetivo é montar sua pizza com suas pizzas que possuem varias opções.\nUse no telefone      \n\n \n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-112,1152],"id":"d86e6911-125e-428f-9c5c-60228eeec1b8","name":"ChamaConversational1","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"jsCode":"   const dicas = [\n  \"💡Dica: Você pode pedir pizza pelo número do cardápio.\\n Ex: '1 pizza 12 grande'\",\n  \"💡Dica: Para excluir um item:\\nDigite 'Carrinho' → depois 'Excluir item 1'\",\n  \"💡Dica: Pizza fracionada só no tamanho grande 😉\\n Ex: '1/2 mussarela e 1/2 calabresa (grande)'\",\n  \"💡Dica: Pizza fracionada só no tamanho grande 😉\\n Ex: '1/2 9  e 1/2 28  grande'\",\n  \"💡Dica: Pizza fracionada com borda cheedar 😉\\n Ex: '1/2 mussarela e 1/2 calabresa (grande) borda cheddar'\",\n  \"💡Dica: Se você já escolheu o número da Pizza? \\n😉 Ex: '1/2 21 e 1/2 12  (grande) '\",\n  \"💡Dica: Para consultar sabores basta digitar um nome, tipo: 'Marguerita' ou Frango ou Baiana\",\n  \"💡Dica: Você pode pedir também por voz 🎤 (se não entender, escreva)\",\n  \"💡Dica: Quer ver a lista de dúvidas mais comuns? \\n Digite: ajuda\",\n  \"💡Dica: Quer sair do modo ajuda? \\nDigite: sair\",\n  \"💡Dica: O modo ajuda não lhe permite comprar. \\nDigite: sair\",\n   \"💡Dica:Esta em duvida?.\\nDigite: cardapio\",\n  \"💡Dica: E se eu errar o nome da pizza?.\\n Entraremos no modo montagem.\\n'Ele vai te dar as opções.'\",\n   \"💡Dica: E se eu errar o nome da pizza?.\\n E não quiser o modo montagem?\\ 'Digite não.'\" , \n   \"💡Dica:  Consultar por nome , exemplo  'baiana', permite você ver todos os detalhes item.'\" ,\n   \"💡Dica:  O que seria a montagem? \\nAjudamos você a escolher entre duas ou mais opções apenas digitando uma opção 1...3, caso tenha.'\" \n];\n\nconst random = dicas[Math.floor(Math.random() * dicas.length)];\n\nreturn [{ json: { dica: random } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-384,560],"id":"15324b06-6d36-43fb-bd6b-e48b21a9be5f","name":"dicas"},{"parameters":{"description":"O seu objetivo é oferecer digas aleatórias ","jsCode":"    const dicas = [\n  \"💡Dica: Você pode pedir pizza pelo número do cardápio.\\n Ex: '1 pizza 12 grande'\",\n  \"💡Dica: Para excluir um item:\\nDigite 'Carrinho' → depois 'Excluir item 1'\",\n  \"💡Dica: Pizza fracionada só no tamanho grande 😉\\n Ex: '1/2 mussarela e 1/2 calabresa (grande)'\",\n  \"💡Dica: Pizza fracionada só no tamanho grande 😉\\n Ex: '1/2 9  e 1/2 28  grande'\",\n  \"💡Dica: Pizza fracionada com borda cheedar 😉\\n Ex: '1/2 mussarela e 1/2 calabresa (grande) borda cheddar'\",\n  \"💡Dica: Se você já escolheu o número da Pizza? \\n😉 Ex: '1/2 21 e 1/2 12  (grande) '\",\n  \"💡Dica: Para consultar sabores basta digitar um nome, tipo: 'Marguerita' ou Frango ou Baiana\",\n  \"💡Dica: Você pode pedir também por voz 🎤 (se não entender, escreva)\",\n  \"💡Dica: Quer ver a lista de dúvidas mais comuns? \\n Digite: ajuda\",\n  \"💡Dica: Quer sair do modo ajuda? \\nDigite: sair\",\n  \"💡Dica: O modo ajuda não lhe permite comprar. \\nDigite: sair\",\n   \"💡Dica:Esta em duvida?.\\nDigite: cardapio\",\n  \"💡Dica: E se eu errar o nome da pizza?.\\n Entraremos no modo montagem.\\n'Ele vai te dar as opções.'\",\n   \"💡Dica: E se eu errar o nome da pizza?.\\n E não quiser o modo montagem?\\ 'Digite não.'\" , \n   \"💡Dica:  Consultar por nome , exemplo  'baiana', permite você ver todos os detalhes item.'\" ,\n   \"💡Dica:  O que seria a montagem? \\nAjudamos você a escolher entre duas ou mais opções apenas digitando uma opção 1...3, caso tenha.'\" \n];\n\nconst random = dicas[Math.floor(Math.random() * dicas.length)];\n\nreturn [{ json: { dica: random } }];\n"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[-160,1360],"id":"24a58ff1-b5fc-49cb-8446-9ca308a48f25","name":"GetDicaAleatoria"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"finalizar","operator":{"type":"string","operation":"equals"},"id":"81bd78a6-4445-40b6-aa35-3297adbbb043"}],"combinator":"and"},"renameOutput":true,"outputKey":"finalizar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8a93896-352c-4558-a8e1-ab396b888320","leftValue":"={{ $json.status }}","rightValue":"ingrediente","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ingrediente"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b8425a1a-ae21-474b-a489-90e98ab03d11","leftValue":"={{ $json.status }}","rightValue":"enviado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"enviado"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[512,544],"id":"d7a059c1-c2ae-49d3-9797-9ab479eaf51a","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"cb9bbfc2-3f0e-467a-ae77-f64a2c0d16b4","name":"texto","value":"= {{$('FieldsCarrinho').item.json.texto }}\n```Ok, vou ajudar você a adicionar itens.\nPor favor, informe quais itens deseja adicionar ao seu carrinho. \nExemplos:  Adicionar borda cheedar   ao item 1 \n           Adicionar item  mussarela ao item 2\nObs: Item 1 ou 2 é relativo ao carrinho.\nEscolha o item do seu carrinho de 1 a ...{{ $('CarinhoVazio').item.json.count }}``` ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,544],"id":"11542d90-9322-498e-9d04-ee4d486ffac4","name":"AddIngridiente"},{"parameters":{"assignments":{"assignments":[{"id":"c6f87764-1b56-4a13-877e-549aa05559d8","name":"texto","value":"=  {{ $('FieldsCarrinho').item.json.texto }}\n```Vamos Fechar seu pedido🔒? \n   Digite Fechar``` \n ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2016,1296],"id":"d7c7f4c0-2da4-4e81-aab5-0c2b33cb8322","name":"NãoFechar1"},{"parameters":{"operation":"executeQuery","query":" update pedido_temp set status ='ingrediente'  WHERE \n  user_id =  {{ $('StatusPedidoAdd1').item.json.user_id }}\n  AND pedido_id = {{ $('StatusPedidoAdd1').item.json.pedido_id }} and status <> 'ajuda' and id_empresa = {{ $('StatusPedidoAdd1').item.json.id_empresa }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3008,3408],"id":"736ddb2d-ae0a-48b4-b4ab-4ac79b78152c","name":"Ingrediente","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=O seu objetivo é montar sua pizza com suas pizzas que possuem varias opções.\nUse no telefone      "}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3200,3408],"id":"26679274-d60d-4e83-8dbb-b70d71f84ca4","name":"Carrinho3","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"operation":"executeQuery","query":" select status,\n   user_id, pedido_id, id_empresa \n   from  pedido_temp  WHERE \n  user_id =  {{ $json.user_id }}\n  AND pedido_id = {{ $json.pedido_id }} and \nid_empresa =   {{ $('Dados Lead').item.json.id_empresa }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2560,3680],"id":"fbb3ec4c-c878-4211-a9e5-5c009bcaaf28","name":"StatusPedidoAdd1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f41c0607-f277-4feb-b04a-0ac3214e58fa","leftValue":"={{ $json.retorno }}","rightValue":"enviado","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3024,4080],"id":"ba89f81f-519d-446e-8171-976dc3f0bc6e","name":"IfStatusPedido"},{"parameters":{"jsCode":" // Lê da MensagemTraduzida, com fallback para $json.message\nconst raw =\n  \n  ($('MensagemTraduzida')?.item?.json?.message ?? $json.message ?? \"\")\n    .toString()\n    .trim();\n\nconst txt = raw\n  .normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\")   // remove acentos\n  .replace(/[“”\"']/g, \"\")                            // aspas\n  .replace(/\\s+/g, \" \")                              // espaços extras\n  .toLowerCase();\n\n// ===== 1) AÇÃO =====\nconst acaoMatch = txt.match(/\\b(adicionar|acrescentar|incluir|colocar)\\b/);\nconst acao = acaoMatch ? acaoMatch[1] : null;\n\n// ===== 2) ITEM DO CARRINHO =====\n// padrões aceitos: \"ao item 3\", \"no item 3\", \"item 3\", \"#3\", \"nº 3\", ou número no final\nlet itemNumero = null;\nconst itemPatterns = [\n  /\\b(?:ao|no|na)\\s+item\\s+(\\d+)\\b/,\n  /\\bitem\\s*(\\d+)\\b/,\n  /\\b(?:#|n[ºo.]?)\\s*(\\d+)\\b/,\n];\nfor (const re of itemPatterns) {\n  const m = txt.match(re);\n  if (m) { itemNumero = parseInt(m[1], 10); break; }\n}\n// Se ainda não achou: tenta número no final (evita frações tipo 1/2)\nif (itemNumero === null && !/\\b\\d+\\/\\d+\\b/.test(txt)) {\n  const endNum = txt.match(/(\\d+)\\s*$/);\n  if (endNum) itemNumero = parseInt(endNum[1], 10);\n}\n\n// ===== 3) CATEGORIA =====\nlet categoria = null;\nif (/\\bborda\\b/.test(txt)) categoria = \"borda\";\nelse if (/\\bingrediente\\b|\\bextra\\b/.test(txt)) categoria = \"ingrediente\";\nelse if (/\\bitem\\b/.test(txt)) categoria = \"item\";\n\n// ===== 4) NOME =====\n// Remove ação, conectivos e marcador de item; o restante vira nome\nlet nome = txt;\n\n// remove ação\nif (acao) nome = nome.replace(new RegExp(\"\\\\b\" + acao + \"\\\\b\"), \"\");\n\n// remove conectivos comuns\nnome = nome.replace(/\\b(de|da|do|das|dos|com|para|pra|ao|no|na)\\b/g, \" \");\n\n// remove categoria explícita (se houver)\nif (categoria) nome = nome.replace(new RegExp(\"\\\\b\" + categoria + \"\\\\b\"), \" \");\n\n// remove padrões de \"item 3\", \"ao item 3\", \"#3\", \"nº 3\" e número final isolado\nnome = nome\n  .replace(/\\b(?:ao|no|na)\\s+item\\s+\\d+\\b/g, \" \")\n  .replace(/\\bitem\\s*\\d+\\b/g, \" \")\n  .replace(/\\b(?:#|n[ºo.]?)\\s*\\d+\\b/g, \" \")\n  .replace(/(\\d+)\\s*$/g, \" \");\n\n// normaliza espaços\nnome = nome.replace(/\\s+/g, \" \").trim();\n\n// ===== 5) Defaults e pequenos ajustes =====\nif (!categoria) {\n  // se não informou categoria, heurística:\n  // se frase não contém \"borda\" nem \"item\", assume \"ingrediente\"\n  categoria = \"ingrediente\";\n}\n\n// Correções simples de termos comuns\nconst correcoes = {\n  \"cheedar\": \"cheddar\",\n  \"cheedar \": \"cheddar \",\n  \"mucarela\": \"mussarela\",\n  \"muçarela\": \"mussarela\",\n};\nObject.keys(correcoes).forEach(k => {\n  nome = nome.replace(new RegExp(\"\\\\b\" + k + \"\\\\b\", \"g\"), correcoes[k]);\n});\n\n// Saída\nreturn [{\n  json: {\n    acao,                 // ex.: \"adicionar\"\n    categoria,            // ex.: \"borda\" | \"ingrediente\" | \"item\"\n    nome,                 // ex.: \"mussarela\"\n    item_numero: itemNumero ?? null,\n    telefone:$('Dados Lead').first().json.IdConversa,\n   user_id:  $input.first().json.user_id,\n pedido_id:  $input.first().json.pedido_id ,\nid_empresa: $input.first().json.id_empresa\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3024,3680],"id":"88ac7104-632f-4a47-87b0-84eaca3d142d","name":"Code"},{"parameters":{"jsCode":" // items -> vem do node Postgres (cada linha uma opção)\nconst rows =  items.map(i => i.json).sort((a,b) => (a.ordem_item ?? 0) - (b.ordem_item ?? 0));\n\n// formata R$ (pt-BR). Se preferir \"61.00\", troque por: Number(v).toFixed(2)\nconst fmtBRL = (v) => {\n  if (v === null || v === undefined || isNaN(Number(v))) return \"R$ --\";\n  return new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL', minimumFractionDigits: 2 }).format(Number(v));\n};\n\n// monta as linhas numeradas 1..N no padrão do print\nconst linhas = rows.map((r, i) => {\n  const num = r.numero ?? '';\n  const nome = (r.nome ?? '').trim();\n  const preco = fmtBRL(r.valor);\n  return `${i+1}.) *(${num}) ${nome}* – ${preco}`;\n});\n\nconst texto =\n  `As opções disponíveis para você escolher são:\\n\\n` +\n  linhas.join('\\n\\n') +\n  `\\n\\nQual opção você escolhe? Responda com 1..${rows.length}.`;\n\n// (opcional) mapa índice->ordem_item, útil para validar a escolha depois\nconst mapa = rows.reduce((acc, r, i) => { acc[i+1] = r.ordem_item; return acc; }, {});\n\n// saída\nreturn [{ json: { texto, mapa, telefone: $('Code').first().json.telefone,user_id: $('Switch2').first().json.user_id , pedido_id: $('Switch2').first().json.pedido_id, id_empresa:$('Switch2').first().json.id_empresa }}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3984,3552],"id":"76126d10-2dac-4b84-b0c3-ac5cd7334088","name":"Code1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4672,3552],"id":"3a990276-5851-4f31-9242-4e9158c33374","name":"No Operation, do nothing11","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"enviado","operator":{"type":"string","operation":"equals"},"id":"246ba127-2190-4f71-a40f-391fbb486e7e"}],"combinator":"and"},"renameOutput":true,"outputKey":"enviado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"05d1e6c1-d1c9-47b0-8f78-a713103cbd81","leftValue":"={{ $json.status }}","rightValue":"=ingrediente","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ingrediente"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"42bfacce-7528-4956-94c2-c8c1272e76c4","leftValue":"={{ $json.status }}","rightValue":"additem","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"additem"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2736,3664],"id":"9a579010-cb47-4420-82e4-2cf91dfade99","name":"Switch2"},{"parameters":{"operation":"executeQuery","query":" select ordem_item, numero, tipo, categoria, nome , valor\n  from item_pedido_temp \n   where status = 'additem'  \n   and user_id =  {{ $('StatusPedidoAdd1').item.json.user_id }}\n   and pedido_id =  {{ $('StatusPedidoAdd1').item.json.pedido_id }}\n   and  id_empresa = {{ $('StatusPedidoAdd1').item.json.id_empresa }} ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3776,3552],"id":"4aedcba9-d668-497b-8c2e-c78cdfe1e838","name":"GetOpçõeItens","alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=O seu objetivo é montar sua pizza com suas pizzas que possuem varias opções.\nUse no telefone      "}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4640,3888],"id":"1ef4f10f-7100-45c3-8c23-9e2c56852b19","name":"Carrinho4","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"gL1FbKkYm9zGfCAA","mode":"list","cachedResultName":"Kernel Pizza"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensagem":"=  O seu item foi adicionado com sucesso! ","rotina":4,"telefone":"= {{ $('Dados Lead').item.json.IdConversa }}","pedido_id":"={{$('StatusPedidoAdd1').item.json.pedido_id }}","id_empresa":"={{ $('StatusPedidoAdd1').item.json.id_empresa }}","user_id":"={{ $('StatusPedidoAdd1').item.json.user_id }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"pedido_id","displayName":"pedido_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"rotina","displayName":"rotina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"id_empresa","displayName":"id_empresa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4784,4048],"id":"d99eafdd-34b3-4342-94da-1bfbe3d719ff","name":"ExecutaMontagem6"},{"parameters":{"operation":"executeQuery","query":"update   item_pedido_temp  set  status = 'concluido'  \n   where status = 'additem'  \n   and user_id =  {{ $('StatusPedidoAdd1').item.json.user_id }}\n   and pedido_id =  {{ $('StatusPedidoAdd1').item.json.pedido_id }}\n   and  id_empresa = {{ $('StatusPedidoAdd1').item.json.id_empresa }}\n  and ordem_item =   {{ $('Code3').item.json.numero}};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3712,3888],"id":"c54f2cfa-8d5b-451a-98cd-8dda05a34fc3","name":"AutalizaOpcaoCliente","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"delete from   item_pedido_temp   \n   where status = 'additem'  \n   and user_id   =  {{ $('StatusPedidoAdd1').item.json.user_id }}\n   and pedido_id  =  {{ $('StatusPedidoAdd1').item.json.pedido_id }}\n   and  id_empresa = {{ $('StatusPedidoAdd1').item.json.id_empresa }} ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3904,3888],"id":"a5851797-f609-41c8-a41a-c4b5eac13810","name":"ExcluirOpcNãoEscolhida","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" update pedido_temp set status ='additem'  WHERE \n  user_id =  {{ $json.user_id }}\n  AND pedido_id = {{ $json.pedido_id }}    and id_empresa = {{ $json.id_empresa }} ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4192,3552],"id":"bd148cf1-bed5-429a-95fa-5dc5d509d9b5","name":"Ingrediente1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"jsCode":" // Lê de MensagemTraduzida com fallbacks\nconst raw = (\n  $('MensagemTraduzida')?.item?.json?.message ??\n  $('MensagemTraduzida')?.item?.json?.mensagem ??\n  $json.message ?? $json.mensagem ?? ''\n).toString().trim();\n\n// 1) Se for só número puro, ok\nif (/^\\d+$/.test(raw)) {\n  return [{ json: { numero: Number(raw), retorno: true } }];\n}\n\n// 2) Remove frações (ex.: \"1/2\") e extrai o primeiro inteiro\nconst semFracoes = raw.replace(/\\b\\d+\\/\\d+\\b/g, ' ');\nconst m = semFracoes.match(/\\b\\d+\\b/);\n\nif (m) {\n  return [{ json: { numero: Number(m[0]), retorno: true } }];\n}\n\nreturn [{ json: { numero: 0, retorno: false } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2848,4080],"id":"43934722-e134-42a0-a7b1-cd71875ef709","name":"Code3"},{"parameters":{"operation":"executeQuery","query":" SELECT (EXISTS (\n  SELECT 1\n  FROM item_pedido_temp\n  WHERE status = 'additem'\n    AND user_id   = {{ $('StatusPedidoAdd1').item.json.user_id }}\n    AND pedido_id = {{ $('StatusPedidoAdd1').item.json.pedido_id }}\n    AND id_empresa = {{ $('StatusPedidoAdd1').item.json.id_empresa }}\n    AND ordem_item = {{ $json.numero }}\n))::int AS retorno;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3264,4064],"id":"4ebc4493-33c8-49c0-ad90-fd1b85162b9e","name":"PossuiItem","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" update pedido_temp set status ='enviado'  WHERE \n  user_id =   {{ $('StatusPedidoAdd1').item.json.user_id }}\n  AND pedido_id =  {{ $('StatusPedidoAdd1').item.json.pedido_id }}  \n  and id_empresa =   {{ $('StatusPedidoAdd1').item.json.id_empresa }} ;\n\n    \n    ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4240,3888],"id":"8dd2cfee-9e29-44b1-b3f8-197d9b06a76b","name":"Ingrediente2","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=```O seu item ou borda foi adicionado com sucesso!!!🎯```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4432,3888],"id":"4080a66c-d522-4d51-a125-da561b7a014f","name":"MenuCardapio5","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"operation":"executeQuery","query":" select * from  addItemBorda ( {{ $('StatusPedidoAdd1').item.json.user_id }}, {{ $('StatusPedidoAdd1').item.json.pedido_id }} , {{ $('StatusPedidoAdd1').item.json.id_empresa }}, {{ $json.item_numero }}, '{{ $json.nome }}' , '{{ $json.categoria }}' );\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3248,3680],"id":"9ea91471-0d25-41fa-95f4-54812788bf16","name":"InsereOpcItens1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Code').item.json.telefone }}","messageText":"=```Não foi encontrados opções da {{ $('Code').item.json.categoria }} {{ $('Code').item.json.nome }}   ```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3776,3728],"id":"ce3d3cff-6a07-4c74-bc75-cf35256cf06f","name":"MenuCardapio6","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"gL1FbKkYm9zGfCAA","mode":"list","cachedResultName":"Kernel Pizza"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensagem":"= ```Adicionar itens```  ","rotina":4,"telefone":"= {{ $('Dados Lead').item.json.IdConversa }}","pedido_id":"={{$('StatusPedidoAdd1').item.json.pedido_id }}","id_empresa":"={{ $('StatusPedidoAdd1').item.json.id_empresa }}","user_id":"={{ $('StatusPedidoAdd1').item.json.user_id }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"pedido_id","displayName":"pedido_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"rotina","displayName":"rotina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"id_empresa","displayName":"id_empresa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[3344,3552],"id":"8d466545-66ad-45ae-bbb1-5491c7c80bbc","name":"ExecutaMontagem7"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3536,3408],"id":"d329a141-92ad-437e-a27f-2ebd0cf5542b","name":"No Operation, do nothing17","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"##  Consular e escolher Opções\nCancelar um pedido","height":952,"width":1604,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-704,3072],"id":"dfa39c33-6758-4971-a724-883a0f8db73d","name":"Sticky Note34"},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"= {{ $('Code1').item.json.telefone }}","messageText":"=```{{ $('Code1').item.json.texto }}```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4416,3552],"id":"9eb03867-1e28-4601-96b4-6d8b5721bd02","name":"MenuCardapio7","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"operation":"executeQuery","query":" \n\n\nCALL ReordenarItensConcluidos( {{ $('StatusPedidoAdd1').item.json.user_id }}, {{ $('StatusPedidoAdd1').item.json.pedido_id }} , {{ $('StatusPedidoAdd1').item.json.id_empresa }} );\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4080,3888],"id":"5a4c9087-7eea-4a64-90eb-7cc79c568a55","name":"OrdenaPedido1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4944,3888],"id":"d94922a6-dfec-4d50-800a-e287bd2bd3a9","name":"No Operation, do nothing18","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"=  {{ $('Dados Lead').item.json.IdConversa }}","messageText":"=```Opção de item ou borda invalido!!!```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3264,4272],"id":"fc1b2e05-debb-4002-8372-e0e889bf9c89","name":"MenuCardapio8","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3456,4272],"id":"4a6a15ae-51d3-4b16-a0db-bcd015232d37","name":"No Operation, do nothing19","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c7c7469a-3a60-40c5-8b30-8ac37dce9e28","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3440,4064],"id":"5e99f872-eeae-4db9-845f-8b36ab7b4e59","name":"If10"},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"=  {{ $('Dados Lead').item.json.IdConversa }}","messageText":"=```Opção de item ou borda invalido!!!```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3696,4080],"id":"adebae1b-b4e9-41b5-ac08-7056ef9c7b5b","name":"MenuCardapio9","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3920,4080],"id":"d7732925-306b-4a4c-b9cd-ccd2d09f03d3","name":"No Operation, do nothing20","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b1df564-f8b3-481b-b3ce-fb6bd4538c23","leftValue":"={{ $json.additemborda }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3424,3680],"id":"564b96ef-0e64-455d-83c9-17cf61f8caf3","name":"If11"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3984,3728],"id":"6b92e4bb-8c03-4b89-8626-8d8bdc940f03","name":"No Operation, do nothing21","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":"select * from grava_intencao_opcao ({{ $('MontPedido').item.json.user_id }} ,{{ $('MontPedido').item.json.pedido_id }}  , {{ $('Dados Lead').item.json.id_empresa }}   ,  $1::text    );\n\n ","options":{"queryReplacement":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query_Parameters', `sabor`, 'string') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-928,1376],"id":"53db33eb-20f2-4388-b3db-156cfe51ff95","name":"old","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"gl0RYjlzfJknufRk","mode":"list","cachedResultName":"consulta"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensagem":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('mensagem', `sabor`, 'string') }}","user_id":"= {{ $('MontPedido').item.json.user_id }}  ","rotina":6,"telefone":"={{ $('Dados Lead').item.json.IdConversa }}","pedido_id":"={{ $('MontPedido').item.json.pedido_id }}","id_empresa":"={{ $('Dados Lead').item.json.id_empresa }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"pedido_id","displayName":"pedido_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"rotina","displayName":"rotina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"id_empresa","displayName":"id_empresa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-368,1392],"id":"f92419c4-7795-4a5c-9faa-2e675554afc1","name":"ConsultaOnlineVendas"},{"parameters":{"workflowId":{"__rl":true,"value":"gL1FbKkYm9zGfCAA","mode":"list","cachedResultName":"Kernel Pizza"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $('MontPedido').item.json.user_id }}","pedido_id":"= {{ $('MontPedido').item.json.pedido_id }}","id_empresa":"={{ $('Dados Lead').item.json.id_empresa }}","rotina":1,"mensagem":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('mensagem', `itencao`, 'string') }}","telefone":"={{ $('Dados Lead').item.json.IdConversa }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"pedido_id","displayName":"pedido_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"rotina","displayName":"rotina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"id_empresa","displayName":"id_empresa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-256,1376],"id":"2c80ee40-6d47-4fcd-9068-e60d6c00e774","name":"IntencaoCompra"},{"parameters":{"operation":"executeQuery","query":"select  item_id, numero, nome , tamanho , quantidade from item_pedido_temp  where user_id = {{ $('MontPedido').item.json.user_id }}  and pedido_id ={{ $('MontPedido').item.json.pedido_id }}  and id_empresa =  {{ $('Dados Lead').item.json.id_empresa }}  and categoria = 'pizza'","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-512,1504],"id":"8507d615-7d36-49af-869d-8ef2c88f4cac","name":"GetCarrinho","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4208,-448],"id":"8a310352-d226-4885-a4c6-e130b1b13aeb","name":"No Operation, do nothing22","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"sessionIdType":"customKey","sessionKey":"5516992975836"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-368,3552],"id":"a6e965c4-2a6a-4889-8b99-57ae3431428d","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-512,3552],"id":"20724aef-242f-4c0b-b33b-47f91596962f","name":"OpenAI Chat Model6","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1808,3152],"id":"25356f53-21af-49b1-9aef-de419c5b7aa9","name":"No Operation, do nothing23","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a7f9f510-5e06-4a49-b2f6-190484faeaac","leftValue":"={{$('MensagemTraduzida').item.json.message}}","rightValue":"sair","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1328,3264],"id":"0482809c-e871-438e-87b4-58827bd38511","name":"If12"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[576,3296],"id":"0251bb9b-d024-42d1-a9f6-3fa529e45f7a","name":"No Operation, do nothing24","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":"update  pedido_temp \n  set status ='enviado'\n  where user_id =  {{ $('MontPedido').item.json.user_id }} \n  and pedido_id =  {{ $('MontPedido').item.json.pedido_id }} and id_empresa ={{ $('Dados Lead').item.json.id_empresa }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1616,3152],"id":"e5aab386-b499-4e44-bcb4-d761ee4b4449","name":"VoltaStatusCompra1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"gL1FbKkYm9zGfCAA","mode":"list","cachedResultName":"Kernel Pizza"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensagem":"= ```{{ $json.output }}```","user_id":"= {{ $('MontPedido').item.json.user_id }}  ","rotina":6,"telefone":"= {{ $('Dados Lead').item.json.IdConversa }}","pedido_id":"={{ $('MontPedido').item.json.pedido_id }}\n\n","id_empresa":"={{ $('Dados Lead').item.json.id_empresa }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"pedido_id","displayName":"pedido_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"rotina","displayName":"rotina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"id_empresa","displayName":"id_empresa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[256,3456],"id":"a186385b-3069-48c1-8461-c5003c4b619e","name":"ExecutaMontagem8"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=O seu objetivo é montar sua pizza com suas pizzas que possuem varias opções.\nUse no telefone      \n\n \n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[160,3296],"id":"2f9dabf2-1300-460f-82b7-2731fb2d2a4c","name":"ChamaConversational2","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"description":"O seu objetivo é oferecer digas aleatórias ","jsCode":"    const dicas = [\n  \"💡Dica: Você pode pedir pizza pelo número do cardápio.\\n Ex: '1 pizza 12 grande'\",\n  \"💡Dica: Para excluir um item:\\nDigite 'Carrinho' → depois 'Excluir item 1'\",\n  \"💡Dica: Pizza fracionada só no tamanho grande 😉\\n Ex: '1/2 mussarela e 1/2 calabresa (grande)'\",\n  \"💡Dica: Pizza fracionada só no tamanho grande 😉\\n Ex: '1/2 9  e 1/2 28  grande'\",\n  \"💡Dica: Pizza fracionada com borda cheedar 😉\\n Ex: '1/2 mussarela e 1/2 calabresa (grande) borda cheddar'\",\n  \"💡Dica: Se você já escolheu o número da Pizza? \\n😉 Ex: '1/2 21 e 1/2 12  (grande) '\",\n  \"💡Dica: Para consultar sabores basta digitar um nome, tipo: 'Marguerita' ou Frango ou Baiana\",\n  \"💡Dica: Você pode pedir também por voz 🎤 (se não entender, escreva)\",\n  \"💡Dica: Quer ver a lista de dúvidas mais comuns? \\n Digite: ajuda\",\n  \"💡Dica: Quer sair do modo ajuda? \\nDigite: sair\",\n  \"💡Dica: O modo ajuda não lhe permite comprar. \\nDigite: sair\",\n   \"💡Dica:Esta em duvida?.\\nDigite: cardapio\",\n  \"💡Dica: E se eu errar o nome da pizza?.\\n Entraremos no modo montagem.\\n'Ele vai te dar as opções.'\",\n   \"💡Dica: E se eu errar o nome da pizza?.\\n E não quiser o modo montagem?\\ 'Digite não.'\" , \n   \"💡Dica:  Consultar por nome , exemplo  'baiana', permite você ver todos os detalhes item.'\" ,\n   \"💡Dica:  O que seria a montagem? \\nAjudamos você a escolher entre duas ou mais opções apenas digitando uma opção 1...3, caso tenha.'\" \n];\n\nconst random = dicas[Math.floor(Math.random() * dicas.length)];\n\nreturn [{ json: { dica: random } }];\n"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[-48,3520],"id":"df9dd785-f353-4322-9da2-6451d3ae34c2","name":"GetDicaAleatoria1"},{"parameters":{"workflowId":{"__rl":true,"value":"gl0RYjlzfJknufRk","mode":"list","cachedResultName":"consulta"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensagem":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('mensagem', `sabor`, 'string') }}","user_id":"= {{ $('MontPedido').item.json.user_id }}  ","rotina":6,"telefone":"={{ $('Dados Lead').item.json.IdConversa }}","pedido_id":"={{ $('MontPedido').item.json.pedido_id }}","id_empresa":"={{ $('Dados Lead').item.json.id_empresa }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"pedido_id","displayName":"pedido_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"rotina","displayName":"rotina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"id_empresa","displayName":"id_empresa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-256,3552],"id":"a9bcff56-5e05-4114-ab1f-111ddaa601f7","name":"ConsultaOnlineVendas3"},{"parameters":{"workflowId":{"__rl":true,"value":"gL1FbKkYm9zGfCAA","mode":"list","cachedResultName":"Kernel Pizza"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $('MontPedido').item.json.user_id }}","pedido_id":"= {{ $('MontPedido').item.json.pedido_id }}","id_empresa":"={{ $('Dados Lead').item.json.id_empresa }}","rotina":1,"mensagem":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('mensagem', `itencao`, 'string') }}","telefone":"={{ $('Dados Lead').item.json.IdConversa }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"pedido_id","displayName":"pedido_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"rotina","displayName":"rotina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"id_empresa","displayName":"id_empresa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-144,3536],"id":"1952852a-8163-4561-84e0-946e2200be39","name":"IntencaoCompra1"},{"parameters":{"operation":"executeQuery","query":"select  item_id, numero, nome , tamanho , quantidade from item_pedido_temp  where user_id = {{ $('MontPedido').item.json.user_id }}  and pedido_id ={{ $('MontPedido').item.json.pedido_id }}  and id_empresa =  {{ $('Dados Lead').item.json.id_empresa }}  and categoria = 'pizza'","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-160,3664],"id":"cad8f727-b13b-4041-b4ad-6c5d495b81db","name":"GetCarrinho1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"= {{ $('MensagemTraduzida').item.json.message }}","options":{"systemMessage":"= 👨‍🍳 Agente: Fracionador — Montador Técnico de Pizzas Fracionadas\n\nFale como humano, simpático e direto. Máx. 2 frases por resposta; 1 pergunta por vez.\n\nClima caloroso, zero formalidade.\n\nVerdades e limites\n\nNão invente itens, tamanhos, preços, promoções.\n\n  \n\nPapel:\nVocê é um assistente técnico responsável por resolver apenas pizzas fracionadas.\n\nEntrada:\n- Texto natural vindo do agente principal (ex.: “1 pizza 1/2 dom edu e 1/2 marguerita grande com borda catupiry”)\n- user_id, pedido_id, (opcional) tamanho, borda\n\nRegras principais:\n1️⃣ Identifique sempre se é fracionada (“1/2”).\n2️⃣ Separe os dois sabores (metade 1 e metade 2).\n3️⃣ Chame `ConsultaOnlineVendas(\"pizza <sabor>\")` para cada metade.\n4️⃣ Grave cada metade com `GravarFracionado(parte, numero, tamanho?)`.\n   - Pergunte tamanho apenas na 1ª metade.\n5️⃣ Se houver “com borda ...”, chame `ConsultaOnlineVendas(\"borda <sabor>\")` e guarde o número.\n6️⃣ Quando as duas metades estiverem resolvidas, chame:\n   - Se houver borda → `IntencaoCompra(\"1 pizza 1/2 n1 e 1/2 n2 <tamanho> com borda nborda\")`\n   - Caso contrário → `IntencaoCompra(\"1 pizza 1/2 n1 e 1/2 n2 <tamanho>\")`\n\nMemória de apoio:\n- Use `n8nhistories` para recuperar dados pendentes de metades anteriores.\n- Use `item_pedido_temp` para validar se já existe a parte 1.\n- Sempre finalize com status `\"fracionada_concluida\"`.\n\nRespostas:\n- Curta, técnica e objetiva.\n- Nunca invente sabor, número, tamanho ou preço.\n- Retorne apenas logs de ação (“✅ Metade 1 gravada com sucesso”, “➡️ Aguardando segunda metade” etc.)\n\nProibição:\n❌ Não fazer upsell, sugestões ou brincadeiras.\n❌ Não confirmar duas vezes o mesmo sabor.\n❌ Não chamar `IntencaoCompra` antes de resolver ambas as metades.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-368,3312],"id":"59d24172-8cbe-4e4d-bf79-0c947c43aa30","name":"Assistente Fracionado"},{"parameters":{"descriptionType":"manual","toolDescription":"Execute a SQL query in Postgres","operation":"executeQuery","query":"select status from pedido_temp   where user_id =  {{ $('MontPedido').item.json.user_id }} \n  and pedido_id =  {{ $('MontPedido').item.json.pedido_id }} and id_empresa ={{ $('Dados Lead').item.json.id_empresa }};","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1488,1456],"id":"fcb11f40-56b2-480e-9582-ea7cf8eb945d","name":"GetStatus","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Execute a SQL query in Postgres","operation":"executeQuery","query":"update  pedido_temp \n  set status ='fracionador'\n  where user_id =  {{ $('MontPedido').item.json.user_id }} \n  and pedido_id =  {{ $('MontPedido').item.json.pedido_id }} and id_empresa ={{ $('Dados Lead').item.json.id_empresa }};","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1648,1424],"id":"1add6da7-912f-46dc-b781-4e605f433691","name":"Execute a SQL query in Postgres1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"gL1FbKkYm9zGfCAA","mode":"list","cachedResultName":"Kernel Pizza"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensagem":"= {{ $('MensagemTraduzida').item.json.message }}","user_id":"= {{ $('MontPedido').item.json.user_id }}  ","rotina":6,"telefone":"= {{ $('Dados Lead').item.json.IdConversa }}","pedido_id":"={{ $('MontPedido').item.json.pedido_id }}\n\n","id_empresa":"={{ $('Dados Lead').item.json.id_empresa }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"pedido_id","displayName":"pedido_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"rotina","displayName":"rotina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"id_empresa","displayName":"id_empresa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[48,1536],"id":"1016dab6-905c-4fc3-9db2-52f4f14efa16","name":"AgenteFracionador"},{"parameters":{"promptType":"define","text":"= {{ $('MensagemTraduzida').item.json.message }}","options":{"systemMessage":"= 🍕 Mestre-Pizzaiolo — Embaixador da Pizza (La Cantina) · V2 Enxuta\nPersona\n\nFale como humano, simpático e direto. Máx. 2 frases por resposta; 1 pergunta por vez.\n\nClima caloroso, zero formalidade.\n\nVerdades e limites\n\nNão invente itens, tamanhos, preços, promoções.\n\nVocê não registra pedidos nem mostra preços internos; apenas orienta e chama tools.\n\nSem follow-ups automáticos se o cliente não responder.\n\n🎙️ Abertura (só na 1ª mensagem)\n\noi! sou o Mestre-Pizzaiolo da La Cantina (25 anos). atendemos ter–dom, 18h–23h. quer ver o cardápio ou prefere uma dica rápida? 😊\n\n🍕 Cardápio (enviar 1x por conversa quando pedirem “cardápio/menu” ou fizer sentido)\n\nPizzas: https://xqweduudelsukanrzekj.supabase.co/storage/v1/object/public/imagens_pizza/pixa%20(1).jfif\n\nEsfirras: https://xqweduudelsukanrzekj.supabase.co/storage/v1/object/public/imagens_pizza/cardapio%20esfirra%20(3)%20(2).jfif\n\ntemos cardápio online: diga um sabor (ex.: mussarela) que eu consulto pra você.\n\n🧠 Estado de memória (temporário, só nesta conversa)\n\nultima_lista: lista mais recente retornada por ConsultaOnlineVendas (pares {numero, nome, categoria, descrição}).\n\nselecao_ativa: item escolhido da ultima_lista (por número ou nome exato).\n\nctx: dados parciais da intenção (quantidade, categoria, número/nome, tamanho).\n\nAo rodar uma nova ConsultaOnlineVendas, apague ultima_lista anterior e substitua.\n\n⚙️ Regras de ouro (sempre)\n\nSempre consulte antes de afirmar ter/não ter algo: chame ConsultaOnlineVendas(...).\n\nNunca invente número de item: o número deve estar em ultima_lista.\n\nNunca invente item_id: quando precisar vincular extra/borda a uma pizza, obtenha do GetCarrinho().\n\nSó chame IntencaoCompra(...) quando a intenção estiver 100% completa e válida.\n\n🔎 Consulta / validação no cardápio (OBRIGATÓRIA)\n\nSe o cliente citar qualquer sabor/produto (ex.: “atum”, “mussarela”, “catupiry”, “coca 2l”, “vinho”):\n\nBebidas (detectar palavras: vinho, coca, guaraná, fanta, refri, refrigerante, água, suco, cerveja, lata, garrafa, 1l, 2l):\n→ ConsultaOnlineVendas(\"bebida <termo>\").\n\nBorda (catupiry, cheddar, chocolate, doce…):\n→ ConsultaOnlineVendas(\"borda <termo>\").\n\nItem/adicional (mussarela, presunto, ovo, bacon, tomate, cebola…):\n→ ConsultaOnlineVendas(\"item <termo>\").\n\nCaso contrário:\n→ ConsultaOnlineVendas(\"pizza <termo>\").\n\nExiba exatamente o que vier (nome, número, descrição) e pergunte 1 coisa (“qual delas você quer?” ou “qual tamanho?”).\n\nTrava realista de cardápio: responda só com o que o tool trouxe; nada de completar/imaginar.\n\n🔒 Antialucinação de número\n\nAntes de IntencaoCompra(...), verifique: o número usado pertence à ultima_lista atual?\n\nSim → ok.\n\nNão → não chame a tool; diga “não encontrei esse número nessa lista, quer ver as opções de novo?” e refaça ConsultaOnlineVendas.\n\n🧩 Montagem da intenção (somente quando completo)\n\nChecklist de validade (pizza):\n\nquantidade ≥ 1; categoria = pizza; número da ultima_lista (ou nome exato se não houver número); tamanho ∈ {pequena, média, grande}.\n\nFracionada: formato claro 1/2 A e 1/2 B (use números).\n\nBebida / Borda / Item: sempre preferir número da ultima_lista. Se não houver número, nome é fallback.\n\nFormatos canônicos de IntencaoCompra(\"<string>\") (apenas string pura):\n\nPizza inteira:\nIntencaoCompra(\"1 pizza 58 grande\")\n\nPizza fracionada:\nIntencaoCompra(\"1 pizza 1/2 55 e 1/2 61 grande\")\n\nEsfirra:\nIntencaoCompra(\"3 esfirra 12\")\n\nBebida:\nIntencaoCompra(\"1 bebida 145\")\n\nSe faltar qualquer campo (ex.: só “grande”), pergunte exatamente o que falta (“de qual pizza, nome ou número?”). Sem ficar repetindo confirmação.\n\n🧃 Regra especial de bebidas\n\nSempre consultar com categoria explícita: ConsultaOnlineVendas(\"bebida <termo>\").\n\nNunca usar o nome longo na intenção se houver número: use IntencaoCompra(\"1 bebida <numero>\").\n\nSe não existir número no retorno, use nome como fallback.\n\n➕ Associação de bordas/itens à pizza (pizza a pizza)\n\nDetecte o extra (ex.: “borda catupiry”, “item mussarela”).\n\nPergunte uma vez: “é pra colocar junto com qual pizza?” (se ainda não houver pizza ativa).\n\nGetCarrinho() → liste pizzas com item_id, nome e tamanho.\n\nMapeie a resposta do cliente (“na 1”, “na dom ariani”, “na calabresa”) para um item_id do carrinho.\n\nO número da borda/item vem da ultima_lista da consulta correspondente (não invente).\n\nMonte a intenção sempre por número + item_id (nada de nomes se houver número):\n\nBorda: IntencaoCompra(\"1 borda 302 para item_id 2277\")\n\nItem: IntencaoCompra(\"1 item 411 para item_id 2277\")\n\n\n\n🧩 Regra de fusão imediata (corrige duplo registro)\n\nQuando o cliente disser “pizza X com borda Y”, trate isso como uma única intenção.\n\nMonte apenas uma pizza.\n\nEm seguida, associe uma borda à mesma pizza.\n\nNão repita o IntencaoCompra da pizza.\n\nExemplo de execução interna:\n1️⃣ Detecta “pizza Dom Edu com borda cheddar”.\n2️⃣ Chame:\n\nConsultaOnlineVendas(\"pizza dom edu\")\n\n\n→ pega número 58.\n3️⃣ Chame:\n\nConsultaOnlineVendas(\"borda cheddar\")\n\n\n→ pega número 302.\n4️⃣ Monte apenas:\n\nIntencaoCompra(\"1 pizza 58 grande\")\nIntencaoCompra(\"1 borda 302 para item_id <último item da pizza 58>\")\n\n\n🧩 Regra de fusão imediata (corrige duplo registro — adaptada pra fracionadas)\n\nQuando o cliente disser algo como “pizza X com borda Y”, o agente deve verificar antes se a pizza é fracionada.\n\n🔹 Se não for fracionada:\n→ Tratar como uma única intenção.\n→ Criar 1 pizza e 1 borda associada (sem duplicar pizza).\n\n🔹 Se for fracionada (contém “1/2” ou “meia”):\n→ Ignore esta regra e siga o fluxo normal da fracionada.\n→ As bordas serão associadas depois, individualmente a cada metade ou à pizza inteira.\n\nExemplo simples:\n\nCliente: “1 pizza Dom Edu com borda cheddar”\n→ ConsultaOnlineVendas(\"pizza dom edu\") → número 58\n→ ConsultaOnlineVendas(\"borda cheddar\") → número 302\n→ Monta:\n\nIntencaoCompra(\"1 pizza 58 grande\")\nIntencaoCompra(\"1 borda 302 para item_id <último item da pizza 58>\")\n\n\n✅ nunca duplicar pizza\n\nExemplo fracionada (não aplica fusão):\n\nCliente: “1 pizza 1/2 Dom Edu e 1/2 Marguerita com borda catupiry”\n→ fluxo normal da fracionada\n→ só depois associar:\n\nIntencaoCompra(\"1 borda 302 para item_id <pizza fracionada>\")\n\n🧩 Regra anti-duplicação e associação direta de borda\n\nQuando a pizza for fracionada e o cliente disser algo como\n“pode ser a borda 302” ou “com borda cheddar”, o agente deve:\n\n1️⃣ Verificar se já existe uma pizza ativa não fechada (última IntencaoCompra do tipo pizza).\n2️⃣ Associar a borda diretamente a esse item, sem criar nova pizza.\n\nFluxo interno:\n\nObtenha item_id da última pizza no carrinho (GetCarrinho() → último item com categoria = pizza).\n\nUse o número da borda retornado pela última ConsultaOnlineVendas().\n\nChame somente:\n\nIntencaoCompra(\"1 borda 302 para item_id <último item_id de pizza>\")\n\n\n❌ Nunca repita “IntencaoCompra('1 pizza …')” novamente.\n\nRegra de trava:\n\nAntes de enviar qualquer novo IntencaoCompra(\"pizza …\"), o agente deve verificar:\n\n“a última intenção foi uma pizza idêntica (mesmos números e tamanho) há menos de 10s?”\nSe sim → ignore o novo registro e siga para o próximo passo.\n\n\n\n\nSe não achar a pizza no carrinho, diga: “não encontrei essa pizza no seu pedido; quer ver a lista atual?” e reexiba o carrinho.\n\n🧭 Fluxo mental (curto, sempre igual)\n\nCliente fala → ConsultaOnlineVendas com categoria correta → salvar ultima_lista.\n\nSe cliente escolhe/indica número/nome → completar ctx (qtd/tamanho) → validar checklist.\n\nSe pizza/bebida/esfirra completo → IntencaoCompra no formato canônico (preferir número).\n\nSe borda/item → perguntar qual pizza, GetCarrinho, pegar item_id, usar número do extra → IntencaoCompra.\n\nNunca reutilize números de consultas antigas; cada nova consulta zera ultima_lista.\n\n🎯 Few-shots (mínimos, sem redundância)\n\nQ: atum vc tem?\nCALL_TOOL: ConsultaOnlineVendas(\"pizza atum\")\nA: tenho opções com atum (mostra até 3). qual delas você quer?\n\nQ: 1 pizza marguerita\nCALL_TOOL: ConsultaOnlineVendas(\"pizza marguerita\")\nA: anotei 1 marguerita; qual tamanho (pequena, média ou grande)?\nQ (cliente): grande\nCALL_TOOL: IntencaoCompra(\"1 pizza 14 grande\")\n\nQ: tem coca 2l?\nCALL_TOOL: ConsultaOnlineVendas(\"bebida coca 2l\")\nA: temos sim; quer adicionar?\nQ (cliente): 1\nCALL_TOOL: IntencaoCompra(\"1 bebida 88\")\n\nQ: 1 pizza 1/2 55 e 1/2 61 grande\n(checar números na ultima_lista ou consultar “pizza 55” e “pizza 61” se preciso)\nCALL_TOOL: IntencaoCompra(\"1 pizza 1/2 55 e 1/2 61 grande\")\n\nQ: quero borda catupiry na dom ariani\nCALL_TOOL: ConsultaOnlineVendas(\"borda catupiry\") → (pega número)\nA: é pra colocar junto com qual pizza?\nCALL_TOOL: GetCarrinho() → encontra item_id 2277 “Dom Ariani (grande)”\nCALL_TOOL: IntencaoCompra(\"1 borda 302 para item_id 2277\")\n\n❌ Não fazer nunca\n\nNão usar JSON nas tools; somente string.\n\nNão repetir perguntas sem necessidade.\n\nNão inventar número, nome, tamanho, item_id.\n\nNão usar número que não esteja na ultima_lista.\n\nNão vincular extra sem GetCarrinho."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1680,1248],"id":"679d0a3a-3b40-48aa-b746-2183c6f5aa04","name":"Assistente Venda2"},{"parameters":{"promptType":"define","text":"= {{ $('MensagemTraduzida').item.json.message }}","options":{"systemMessage":"= 🍕 MESTRE-PIZZAIÔLO 2.0 — Agente de Venda Inteligente (La Cantina)\n\n🧠 Persona\nSou o Mestre-Pizzaiolo, o atendente oficial da La Cantina.\nAtendo com simpatia e objetividade, em português natural e informal.\nFalo como humano, curto e direto (máx. 2 frases e 1 pergunta por vez).\nNunca invento nada — só uso dados reais do cardápio ou do RAG.\n\n⚙️ Objetivo geral\n\nAjudar o cliente a montar, revisar e finalizar o pedido, entendendo automaticamente o tipo de solicitação:\n🍕 pizza simples, 🧩 fracionada, 🧀 borda, 🥓 extra ou 🛒 carrinho.\n\n🧠 Acesso ao RAG\n\nVocê tem acesso a uma base de conhecimento (RAG) com instruções de atendimento, comportamento do garçom, regras de fracionada, montagem, bordas e extras.\nSempre que o cliente fizer uma pergunta informativa, explicativa ou de ajuda (ex.: “como pedir pizza fracionada?”, “o que o garçom faz com borda?”), chame a ferramenta AnswerRAG(question) com o texto completo da pergunta.\nUse a resposta do RAG para orientar o atendimento.\nSe o RAG não retornar nada, diga de forma natural:\n\n“não encontrei isso no cardápio ou nas instruções 🍕”.\n\n🎯 Fluxo principal de raciocínio\n🔍 1️⃣ Identificação de contexto\n\nAntes de agir, identifique o tipo de ação:\n\nContexto\tIndicadores\tStatus lógico\nPizza simples\t“1 pizza”, “quero a 14 grande”, “calabresa média”\tsimples\nPizza fracionada\t“1/2 … e 1/2 …”, “meia atum e meia calabresa”\tfracionando\nBorda\t“com borda”, “coloca cheddar”, “borda catupiry”\tborda\nItem extra\t“com ovo”, “adiciona presunto”, “extra mussarela”\textra\nCarrinho\t“ver carrinho”, “apaga item”, “cancela pedido”\tcarrinho\n🍕 2️⃣ Pizza simples\n\nSe indicar uma pizza completa, garanta:\n\nquantidade\n\ncategoria (“pizza”)\n\nnome ou número\n\ntamanho\n\nSe faltar algo, pergunte:\n“Quer pequena, média ou grande?” / “De qual sabor?” / “Pode confirmar o número do cardápio?”\n\nQuando completo, chame\nIntencaoCompra(\"<quantidade> pizza <número> <tamanho>\")\n\n🧩 3️⃣ Pizza fracionada\n\nPara frases tipo “meia calabresa e meia atum”:\n\nguarde as duas partes\n\npergunte tamanho se não tiver\n\nmonte:\nIntencaoCompra(\"1 pizza 1/2 <número1> e 1/2 <número2> <tamanho>\")\n\nnunca repita tamanho ou quantidade na segunda metade\n\numa única chamada consolidada\n\n🧀 4️⃣ Borda\n\nSe mencionar borda:\n\nidentifique o sabor (cheddar, catupiry etc.)\n\nse não informar pizza alvo → chame GetCarrinho() e mostre opções\n\no cliente escolhe por nome ou número → use item_id selecionado\n\ndepois chame:\nIntencaoCompra(\"1 borda <número_borda> para item_id <item_pizza>\")\nou IntencaoCompra(\"1 borda <nome> para item_id <item_pizza>\")\n\n🥓 5️⃣ Item extra (ingredientes)\n\nMesma regra da borda:\n\ndetecte o nome (ovo, bacon, mussarela etc.)\n\nsempre peça qual pizza vai receber o extra\n\nchame GetCarrinho() para mostrar as pizzas\n\nuse o item_id retornado\n\nchame:\nIntencaoCompra(\"1 item <número_item> para item_id <item_pizza>\")\nou IntencaoCompra(\"1 item <nome> para item_id <item_pizza>\")\n\n🛒 6️⃣ Carrinho\nAção\tTool\tExemplo\nVer pedido\tGetCarrinho()\t“O que já pedi?”\nExcluir item\tExcluirItem(item_id)\t“Apaga a pizza 2”\nCancelar pedido\tCancelarPedido(pedido_id)\t“Cancela tudo”\n\nDepois de excluir ou cancelar:\n“✅ Pedido atualizado. Quer continuar pedindo?”\n\n🧩 7️⃣ Regras de consistência\n\nuse sempre os números da última ConsultaOnlineVendas()\n\nnunca use buscas anteriores\n\nse tiver dúvida, pergunte antes de gravar\n\nnunca envie JSON — somente strings simples\n\nsempre limpe a memória após cada item gravado\n\n🧃 8️⃣ Bebidas\n\nSe mencionar vinho, coca, refri, suco, cerveja, água etc.:\nConsultaOnlineVendas(\"bebida <nome>\")\n→ aguarde resultado\n→ confirme com\nIntencaoCompra(\"1 bebida <número>\")\n\n🔐 9️⃣ Regras de segurança\n\n✅ Só chame IntencaoCompra() se:\nhá quantidade ≥ 1 · há categoria · há número/ nome válido · há tamanho (exceto bebidas/bordas/extras)\n\n❌ Nunca:\n\ninventar nomes ou números\n\nrepetir tool call\n\nmisturar fracionada com borda no mesmo passo\n\n💬 🔟 Estilo de conversa\n\nFale natural, como um garçom:\n“Perfeito 🍕 já anotei sua pizza 58 grande. Quer adicionar borda ou ver o carrinho?”\n“Boa escolha 😋 — ½ Calabresa e ½ Atum, certo? Quer com borda?”\n“Beleza, borda de cheddar colocada. Mais alguma coisa?”\n\n✅ 1️⃣1️⃣ Checklist do agente\nEtapa\tFerramenta\tObservação\nConsultar item\tConsultaOnlineVendas(\"<categoria> <sabor>\")\tSempre string simples\nGravar item\tIntencaoCompra(\"<string>\")\tUma vez só\nVer carrinho\tGetCarrinho()\tMostrar itens atuais\nExcluir item\tExcluirItem(item_id)\tConfirmar exclusão\nCancelar pedido\tCancelarPedido(pedido_id)\tReset total\nAções atrasadas\tgrava_borda() / grava_item_extra()\tNunca duplicar\n🧭 Final\n\nApós cada etapa concluída (pedido, borda, extra, carrinho), finalize com uma pergunta leve:\n“Quer adicionar mais alguma coisa?” · “Quer ver o carrinho?” · “Posso fechar pra você?”\n\n✅ Comportamento extra de IA:\n\nUse AnswerRAG() para respostas explicativas.\n\nUse GetCarrinho() obrigatoriamente antes de IntencaoCompra() quando precisar de item_id (para bordas e extras).\n\nPriorize clareza e sequência lógica — um item por vez.\n\nSempre fale como humano atendendo na mesa."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[656,1568],"id":"799f0102-0d58-454f-a2f8-952faa5e0369","name":"Assistente Venda1"},{"parameters":{"operation":"executeQuery","query":"select distinct categoria from cardapio where id_empresa =  {{ $('Dados Lead').item.json.id_empresa }};","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-192,1504],"id":"de017921-21ac-4ff4-bca0-e786ddb4ceae","name":"ConsultaCategoria","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"= {{ $('MensagemTraduzida').item.json.message }}","options":{"systemMessage":"= 🎯 Função:\nVocê é um atendente de pizzaria com acesso a uma base de conhecimento (RAG) contendo instruções detalhadas sobre o atendimento humano, pizza fracionada, bordas e comportamento do garçom.\n\n🧩 Ferramentas disponíveis:\n- AnswerRAG(question): busca informações no RAG (PDFs e textos do sistema)\n- Nenhuma outra ferramenta deve ser usada neste teste.\n\n⚙️ Regras:\n- Quando o usuário fizer uma pergunta informativa, explicativa ou de ajuda (ex: “como pedir pizza fracionada?”, “como funciona a borda?”, “o que o garçom deve fazer?”),\n  você deve chamar **AnswerRAG** com o texto da pergunta.\n- Se a resposta vier da ferramenta, responda de forma curta e natural (como um garçom explicando ao cliente).\n- Se a ferramenta não retornar nada, diga: “não encontrei isso no cardápio ou nas instruções 🍕”.\n\n💬 Estilo:\n- Fale de forma simpática e humana.\n- Máximo 2 frases curtas por resposta.\n- Use emojis leves (🍕😊👍).\n\n🧠 Exemplo de comportamento:\n\nUsuário: “como peço meia pizza?”\n→ Chama AnswerRAG(\"como peço meia pizza?\")\n→ Responde: “É só dizer ‘meia calabresa e meia atum’, que eu pergunto o tamanho depois 🍕”\n\nUsuário: “o que o garçom deve fazer se o cliente pedir borda?”\n→ Chama AnswerRAG(\"o que o garçom deve fazer se o cliente pedir borda?\")\n→ Responde: “Ele pergunta pra qual pizza é a borda e adiciona no pedido 👍”\n\nUsuário: “qual é o tamanho da pizza grande?”\n→ Chama AnswerRAG(\"qual é o tamanho da pizza grande?\")\n\n---\n\n🧩 Início da conversa:\nO cliente vai fazer perguntas sobre o atendimento, e você deve responder usando o RAG.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-64,1296],"id":"dbd1cd93-9c2c-4539-9930-be426aebf7f3","name":"Assistente Venda3"},{"parameters":{"promptType":"define","text":"= {{ $('MensagemTraduzida').item.json.message }}","options":{"systemMessage":"= 🎯 Função:\nVocê é um atendente de pizzaria com acesso a uma base de conhecimento (RAG) contendo instruções detalhadas sobre o atendimento humano, pizza fracionada, bordas e comportamento do garçom.\n\n🧩 Ferramentas disponíveis:\n- AnswerRAG(question): busca informações no RAG (PDFs e textos do sistema)\n- Nenhuma outra ferramenta deve ser usada neste teste.\n\n⚙️ Regras:\n- Quando o usuário fizer uma pergunta informativa, explicativa ou de ajuda (ex: “como pedir pizza fracionada?”, “como funciona a borda?”, “o que o garçom deve fazer?”),\n  você deve chamar **AnswerRAG** com o texto da pergunta.\n- Se a resposta vier da ferramenta, responda de forma curta e natural (como um garçom explicando ao cliente).\n- Se a ferramenta não retornar nada, diga: “não encontrei isso no cardápio ou nas instruções 🍕”.\n\n💬 Estilo:\n- Fale de forma simpática e humana.\n- Máximo 2 frases curtas por resposta.\n- Use emojis leves (🍕😊👍).\n\n🧠 Exemplo de comportamento:\n\nUsuário: “como peço meia pizza?”\n→ Chama AnswerRAG(\"como peço meia pizza?\")\n→ Responde: “É só dizer ‘meia calabresa e meia atum’, que eu pergunto o tamanho depois 🍕”\n\nUsuário: “o que o garçom deve fazer se o cliente pedir borda?”\n→ Chama AnswerRAG(\"o que o garçom deve fazer se o cliente pedir borda?\")\n→ Responde: “Ele pergunta pra qual pizza é a borda e adiciona no pedido 👍”\n\nUsuário: “qual é o tamanho da pizza grande?”\n→ Chama AnswerRAG(\"qual é o tamanho da pizza grande?\")\n\n---\n\n🧩 Início da conversa:\nO cliente vai fazer perguntas sobre o atendimento, e você deve responder usando o RAG.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-64,1296],"id":"58203c60-a43f-49c6-a8b5-4a1b64ef6342","name":"Assistente Venda4"},{"parameters":{"operation":"executeQuery","query":"   select * from BuscaPizzaSabor( $1, 2 );\n\n \n ","options":{"queryReplacement":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query_Parameters', `sabor`, 'string') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-48,1568],"id":"46f37d40-5928-480e-95de-e95a38914902","name":"BuscaPizzaSabor","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}}],"connections":{"RejeitaItem":{"main":[[{"node":"ConcluiTudo","type":"main","index":0}]]},"Bebidas":{"main":[[{"node":"Itembebida","type":"main","index":0}]]},"Pizzas Fracionada":{"main":[[{"node":"ItemFracionado","type":"main","index":0}]]},"Pizzas Inteira":{"main":[[{"node":"ItemInteira","type":"main","index":0}]]},"Esfirra":{"main":[[{"node":"ItemEsfirra","type":"main","index":0}]]},"Itembebida":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"ItemFracionado":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"ItemInteira":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"ItemEsfirra":{"main":[[{"node":"Merge1","type":"main","index":3}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"LLM CONSTRUTOR","type":"ai_outputParser","index":0}]]},"OrdenaPedido":{"main":[[{"node":"FildsCarrinho","type":"main","index":0}]]},"ConcluiTudo":{"main":[[{"node":"OrdenaPedido","type":"main","index":0}]]},"Bordas":{"main":[[{"node":"BordaItem","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"DadoPedido","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0},{"node":"LLM CONSTRUTOR","type":"ai_languageModel","index":0}]]},"Structured Output Parser [Schema]":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"item4":{"main":[[{"node":"Item4","type":"main","index":0}]]},"Item4":{"main":[[{"node":"Merge1","type":"main","index":4}]]},"AtualizaValorPizzaFracionada2":{"main":[[{"node":"AjudaMontagem1","type":"main","index":0}]]},"AtualizaValorItem2":{"main":[[{"node":"AtualizaValorPizzaFracionada2","type":"main","index":0}]]},"MontPedido":{"main":[[{"node":"Switch","type":"main","index":0}]]},"DadoPedido":{"main":[[{"node":"VinculaBordaItemPizza","type":"main","index":0}]]},"ValidaItemNome":{"main":[[]]},"Dados Lead":{"main":[[{"node":"MontPedido","type":"main","index":0}]]},"GetProblemas":{"ai_tool":[[{"node":"Issue","type":"ai_tool","index":0}]]},"GetOpcoes":{"ai_tool":[[{"node":"Opcoes","type":"ai_tool","index":0}]]},"VinculaBordaItemPizza":{"main":[[{"node":"InsereOpcoesItens","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Fechamento1","type":"ai_languageModel","index":0}]]},"SalvaEndereco":{"ai_tool":[[{"node":"Fechamento1","type":"ai_tool","index":0}]]},"Comentario":{"ai_tool":[[{"node":"Fechamento1","type":"ai_tool","index":0}]]},"SalvaFormaPagto":{"ai_tool":[[{"node":"Fechamento1","type":"ai_tool","index":0}]]},"Fechamento":{"ai_tool":[[{"node":"Fechamento1","type":"ai_tool","index":0}]]},"Execute a SQL query in Postgres":{"ai_tool":[[]]},"MensagemTraduzida":{"main":[[{"node":"Dados Lead","type":"main","index":0}]]},"Issue":{"main":[[{"node":"FieldsIssue","type":"main","index":0}]]},"Opcoes":{"main":[[{"node":"FieldsOpcoes","type":"main","index":0}]]},"InsereOpcoesItens":{"main":[[{"node":"AtualizaValorItem2","type":"main","index":0}]]},"Montagem":{"main":[[{"node":"HabilitaOpcao","type":"main","index":0}]]},"Code2":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"If4","type":"main","index":0}],[{"node":"MenuCardapio3","type":"main","index":0}]]},"Fechamento1":{"main":[[{"node":"MenuCardapio1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Code2","type":"main","index":0}],[{"node":"MemoryKey","type":"main","index":0}],[{"node":"LLM CONSTRUTOR","type":"main","index":0}],[{"node":"CarinhoVazio","type":"main","index":0}],[{"node":"Assistente Venda","type":"main","index":0}],[{"node":"Basic LLM Chain","type":"main","index":0}],[{"node":"Assistente Fracionado","type":"main","index":0}]]},"FildsCarrinho":{"main":[[{"node":"Execute a SQL query2","type":"main","index":0}]]},"FieldsIssue":{"main":[[{"node":"NãoEncontrados","type":"main","index":0}]]},"FieldsOpcoes":{"main":[[{"node":"Opcões","type":"main","index":0}]]},"NãoEncontrados":{"main":[[{"node":"No Operation, do nothing13","type":"main","index":0}]]},"AjudaMontagem":{"main":[[{"node":"MenuCardapio4","type":"main","index":0}]]},"MenuCardapio2":{"main":[[]]},"HabilitaOpcao":{"main":[[{"node":"AtualizaOpcao","type":"main","index":0}]]},"AtualizaOpcao":{"main":[[{"node":"AtualizaOpcaoParte2","type":"main","index":0}]]},"GetProximaMontagem":{"main":[[{"node":"ReordenaItem","type":"main","index":0}]]},"AtualizaOpcaoParte2":{"main":[[{"node":"GetProximaMontagem","type":"main","index":0}]]},"Opcões":{"main":[[{"node":"No Operation, do nothing6","type":"main","index":0}]]},"MenuCardapio11":{"main":[[]]},"Code5":{"main":[[{"node":"FieldsCarrinho","type":"main","index":0}]]},"Carrinho1":{"main":[[{"node":"Code5","type":"main","index":0}]]},"ExecutaMontagem1":{"ai_tool":[[{"node":"Chama Carrinho1","type":"ai_tool","index":0}]]},"ReordenaItem":{"main":[[{"node":"FieldsMontagem","type":"main","index":0}]]},"If":{"main":[[{"node":"Chama Carrinho","type":"main","index":0}],[{"node":"Chama Carrinho1","type":"main","index":0}]]},"Chama Carrinho1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Assistente Venda","type":"ai_memory","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Supabase Vector Store1":{"ai_vectorStore":[[{"node":"Answer questions with a vector store","type":"ai_vectorStore","index":0}]]},"Answer questions with a vector store":{"ai_tool":[[{"node":"Assistente Venda","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Answer questions with a vector store","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Assistente Venda","type":"ai_languageModel","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"MensagemTraduzida","type":"main","index":0}]]},"MenuCardapio15":{"main":[[]]},"If2":{"main":[[{"node":"VoltaStatusCompra","type":"main","index":0}],[{"node":"No Operation, do nothing10","type":"main","index":0}]]},"Postgres Chat Memory2":{"ai_memory":[[{"node":"Fechamento1","type":"ai_memory","index":0}]]},"MemoryKey":{"main":[[{"node":"Fechamento1","type":"main","index":0}]]},"MenuCardapio1":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Assistente Venda":{"main":[[{"node":"ChamaConversational1","type":"main","index":0}]]},"LLM CONSTRUTOR":{"main":[[{"node":"Bebidas","type":"main","index":0},{"node":"Pizzas Fracionada","type":"main","index":0},{"node":"Pizzas Inteira","type":"main","index":0},{"node":"Esfirra","type":"main","index":0},{"node":"item4","type":"main","index":0},{"node":"Bordas","type":"main","index":0}]]},"VoltaStatusCompra":{"main":[[{"node":"No Operation, do nothing9","type":"main","index":0}]]},"If3":{"main":[[],[]]},"MenuCardapio":{"main":[[]]},"MenuCardapio3":{"main":[[{"node":"No Operation, do nothing12","type":"main","index":0}]]},"If6":{"main":[[{"node":"dicas","type":"main","index":0}],[{"node":"MenuCardapio34","type":"main","index":0}]]},"MenuCardapio34":{"main":[[{"node":"No Operation, do nothing33","type":"main","index":0}]]},"ExecutaMontagem3":{"ai_tool":[[{"node":"Carrinho2","type":"ai_tool","index":0}]]},"Carrinho2":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Execute a SQL query2":{"main":[[{"node":"No Operation, do nothing22","type":"main","index":0}]]},"If5":{"main":[[{"node":"If9","type":"main","index":0},{"node":"If8","type":"main","index":0}],[]]},"If7":{"main":[[{"node":"Carrinho2","type":"main","index":0}],[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"If8":{"main":[[{"node":"Opcoes","type":"main","index":0}],[{"node":"No Operation, do nothing5","type":"main","index":0}]]},"If9":{"main":[[{"node":"Issue","type":"main","index":0}],[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"If4":{"main":[[{"node":"Montagem","type":"main","index":0}],[{"node":"AjudaMontagem","type":"main","index":0}]]},"MenuCardapio4":{"main":[[{"node":"No Operation, do nothing14","type":"main","index":0}]]},"AjudaMontagem1":{"main":[[{"node":"RejeitaItem","type":"main","index":0}]]},"Get Pedido":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"CarinhoVazio":{"main":[[{"node":"If6","type":"main","index":0}]]},"MostraCarrinho":{"main":[[]]},"DadosPessoais":{"ai_tool":[[]]},"BordaItem":{"main":[[{"node":"Merge1","type":"main","index":5}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"No Operation, do nothing15","type":"main","index":0}],[{"node":"CardapioConsulta1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Auto-fixing Output Parser1":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser1","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"CardapioConsulta1":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Structured Output Parser [Schema]1":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser1","type":"ai_outputParser","index":0}]]},"ExecutaMontagem4":{"ai_tool":[[{"node":"ChamaConversational","type":"ai_tool","index":0}]]},"FieldsCarrinho":{"main":[[{"node":"Get Pedido","type":"main","index":0}]]},"Fechar":{"main":[[{"node":"Merge","type":"main","index":0}]]},"NãoFechar":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge":{"main":[[{"node":"ChamaConversational","type":"main","index":0}]]},"PegaStusPedido":{"main":[[{"node":"If","type":"main","index":0}]]},"FieldsMontagem":{"main":[[{"node":"PegaStusPedido","type":"main","index":0}]]},"ExecutaMontagem":{"ai_tool":[[{"node":"Chama Carrinho","type":"ai_tool","index":0}]]},"Chama Carrinho":{"main":[[{"node":"No Operation, do nothing8","type":"main","index":0}]]},"ChamaConversational":{"main":[[{"node":"No Operation, do nothing16","type":"main","index":0}]]},"ExecutaMontagem5":{"ai_tool":[[{"node":"ChamaConversational1","type":"ai_tool","index":0}]]},"ChamaConversational1":{"main":[[{"node":"If2","type":"main","index":0}]]},"dicas":{"main":[[{"node":"Carrinho1","type":"main","index":0}]]},"GetDicaAleatoria":{"ai_tool":[[{"node":"Assistente Venda","type":"ai_tool","index":0}]]},"Switch1":{"main":[[{"node":"Fechar","type":"main","index":0}],[{"node":"AddIngridiente","type":"main","index":0}],[{"node":"NãoFechar","type":"main","index":0}]]},"AddIngridiente":{"main":[[{"node":"Merge","type":"main","index":1}]]},"NãoFechar1":{"main":[[]]},"Ingrediente":{"main":[[{"node":"Carrinho3","type":"main","index":0}]]},"Carrinho3":{"main":[[{"node":"No Operation, do nothing17","type":"main","index":0}]]},"StatusPedidoAdd1":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"IfStatusPedido":{"main":[[{"node":"PossuiItem","type":"main","index":0}],[{"node":"MenuCardapio8","type":"main","index":0}]]},"Code":{"main":[[{"node":"InsereOpcItens1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Ingrediente1","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Ingrediente","type":"main","index":0}],[{"node":"Code","type":"main","index":0}],[{"node":"Code3","type":"main","index":0}]]},"GetOpçõeItens":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Carrinho4":{"main":[[{"node":"No Operation, do nothing18","type":"main","index":0}]]},"ExecutaMontagem6":{"ai_tool":[[{"node":"Carrinho4","type":"ai_tool","index":0}]]},"AutalizaOpcaoCliente":{"main":[[{"node":"ExcluirOpcNãoEscolhida","type":"main","index":0}]]},"ExcluirOpcNãoEscolhida":{"main":[[{"node":"OrdenaPedido1","type":"main","index":0}]]},"Ingrediente1":{"main":[[{"node":"MenuCardapio7","type":"main","index":0}]]},"Code3":{"main":[[{"node":"IfStatusPedido","type":"main","index":0}]]},"PossuiItem":{"main":[[{"node":"If10","type":"main","index":0}]]},"Ingrediente2":{"main":[[{"node":"MenuCardapio5","type":"main","index":0}]]},"MenuCardapio5":{"main":[[{"node":"Carrinho4","type":"main","index":0}]]},"InsereOpcItens1":{"main":[[{"node":"If11","type":"main","index":0}]]},"MenuCardapio6":{"main":[[{"node":"No Operation, do nothing21","type":"main","index":0}]]},"ExecutaMontagem7":{"ai_tool":[[{"node":"Carrinho3","type":"ai_tool","index":0}]]},"MenuCardapio7":{"main":[[{"node":"No Operation, do nothing11","type":"main","index":0}]]},"OrdenaPedido1":{"main":[[{"node":"Ingrediente2","type":"main","index":0}]]},"MenuCardapio8":{"main":[[{"node":"No Operation, do nothing19","type":"main","index":0}]]},"If10":{"main":[[{"node":"AutalizaOpcaoCliente","type":"main","index":0}],[{"node":"MenuCardapio9","type":"main","index":0}]]},"MenuCardapio9":{"main":[[{"node":"No Operation, do nothing20","type":"main","index":0}]]},"If11":{"main":[[{"node":"GetOpçõeItens","type":"main","index":0}],[{"node":"MenuCardapio6","type":"main","index":0}]]},"old":{"ai_tool":[[]]},"ConsultaOnlineVendas":{"ai_tool":[[{"node":"Assistente Venda","type":"ai_tool","index":0}]]},"IntencaoCompra":{"ai_tool":[[{"node":"Assistente Venda","type":"ai_tool","index":0}]]},"GetCarrinho":{"ai_tool":[[{"node":"Assistente Venda","type":"ai_tool","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Assistente Fracionado","type":"ai_memory","index":0}]]},"OpenAI Chat Model6":{"ai_languageModel":[[{"node":"Assistente Fracionado","type":"ai_languageModel","index":0}]]},"If12":{"main":[[{"node":"VoltaStatusCompra1","type":"main","index":0}],[]]},"VoltaStatusCompra1":{"main":[[{"node":"No Operation, do nothing23","type":"main","index":0}]]},"ExecutaMontagem8":{"ai_tool":[[{"node":"ChamaConversational2","type":"ai_tool","index":0}]]},"ChamaConversational2":{"main":[[{"node":"No Operation, do nothing24","type":"main","index":0}]]},"GetDicaAleatoria1":{"ai_tool":[[{"node":"Assistente Fracionado","type":"ai_tool","index":0}]]},"ConsultaOnlineVendas3":{"ai_tool":[[{"node":"Assistente Fracionado","type":"ai_tool","index":0}]]},"IntencaoCompra1":{"ai_tool":[[{"node":"Assistente Fracionado","type":"ai_tool","index":0}]]},"GetCarrinho1":{"ai_tool":[[{"node":"Assistente Fracionado","type":"ai_tool","index":0}]]},"Assistente Fracionado":{"main":[[{"node":"ChamaConversational2","type":"main","index":0}]]},"GetStatus":{"ai_tool":[[]]},"Execute a SQL query in Postgres1":{"ai_tool":[[]]},"AgenteFracionador":{"ai_tool":[[{"node":"Assistente Venda","type":"ai_tool","index":0}]]},"ConsultaCategoria":{"ai_tool":[[{"node":"Assistente Venda","type":"ai_tool","index":0}]]},"BuscaPizzaSabor":{"ai_tool":[[{"node":"Assistente Venda","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"mensagem":"1 borda 300 para item_id 2277","user_id":78,"pedido_id":55,"telefone":5516992975836,"rotina":1,"id_empresa":2}}]},"versionId":"7bc64c93-56ac-4b41-b556-adec6ab5cc96","triggerCount":1,"shared":[{"createdAt":"2025-09-18T15:44:58.320Z","updatedAt":"2025-09-18T15:44:58.320Z","role":"workflow:owner","workflowId":"gL1FbKkYm9zGfCAA","projectId":"wFRMrac2003Pl1x6"}],"tags":[]}