my-workflow-VPxHzUtQYRYK21bK.json
{"createdAt":"2025-09-07T01:17:08.366Z","updatedAt":"2025-09-07T01:17:08.366Z","id":"VPxHzUtQYRYK21bK","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"=https://r.jina.ai/https://massasdonaivone.menudino.com/","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-16,784],"id":"ec334cf6-8f51-4f6d-a039-a78a21087afb","name":"HTTP Request"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"Você receber uma lista de livros e responder um JSON com os campaos book_name, book_author , book_price","role":"system"},{"content":"=  {{ $json.data }}\n"}]},"simplify":false,"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-400,128],"id":"d5dd4506-5e67-4641-be7d-96a5b1193750","name":"OpenAI","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"7a47cae1-cfd1-45ab-9557-f0f4814c5d80","name":"choices[0].message.content.lista_imoveis","value":"={{ $json.choices[0].message.content.lista_imoveis }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,784],"id":"f119a967-81bc-4f39-8fe3-993924fe6e5a","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"choices[0].message.content.lista_imoveis","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[784,784],"id":"3cf71765-331b-4b72-a09a-9a44d2c65ddb","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[272,240],"id":"f8c1846e-2891-4de4-ad9b-bd9e30c66195","name":"Loop Over Items","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[512,112],"id":"7887196d-26cb-4c1a-b4ef-e75ba04bd13a"},{"parameters":{"tableId":"livros","fieldsUi":{"fieldValues":[{"fieldId":"name","fieldValue":"={{ $json.book_name }}"},{"fieldId":"author","fieldValue":"={{ $json.book_author }}"},{"fieldId":"price","fieldValue":"={{ $json.book_price }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[592,272],"id":"0770452b-3df2-491d-9a3e-4598d166b564","name":"Supabase"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1040,784],"id":"0e50fe5c-5427-4413-b477-4eedd41a171b","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[1424,544],"id":"56a88546-d6b9-4a40-b613-4372ac296216"},{"parameters":{"tableId":"Leilao","fieldsUi":{"fieldValues":[{"fieldId":"descricao","fieldValue":"={{ $json.apartamento }}"},{"fieldId":"link","fieldValue":"={{ $json.link }}"},{"fieldId":"praca_1_data","fieldValue":"={{ $json.praca_1_data }}"},{"fieldId":"praca_1_valor","fieldValue":"={{ $json.praca_1_valor }}"},{"fieldId":"praca_2_data","fieldValue":"={{ $json.praca_2_data }}"},{"fieldId":"praca_2_valor","fieldValue":"={{ $json.praca_2_valor }}"},{"fieldId":"desconto","fieldValue":"={{ $json.desconto }}"},{"fieldId":"origem","fieldValue":"MEGA"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1344,800],"id":"eaaa7527-a16f-4a58-8c87-35266303c363","name":"Supabase1"},{"parameters":{"assignments":{"assignments":[{"id":"dc19648c-e49f-4e7a-90d6-204b894727f7","name":"endereco_leilao","value":"https://www.megaleiloes.com.br/imoveis/apartamentos/sp/sao-paulo?tov=igbr&valor_max=5000000&tipo%5B0%5D=1&tipo%5B1%5D=2","type":"string"},{"id":"247e46d5-7232-48cd-84e2-e87e3931335c","name":"Estado","value":"São Paulo","type":"string"},{"id":"15199d6a-0915-47f9-91c4-30e63c8d0269","name":"Cidade","value":"São Paulo","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,784],"id":"c023e6c6-da7d-4ea0-84cf-0c3db28d322f","name":"Edit Fields1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-544,784],"id":"a284db0c-cb44-43ef-9887-f01cd5dced2a","name":"When clicking ‘Execute workflow’"},{"parameters":{"promptType":"define","text":"Seja gentil com usuario ","options":{"systemMessage":" para esse site de imoveis https://www.megaleiloes.com.br/ quero que gere uma consulta valida que procurre imoveis apartamentos no estado de são paulo e cidade de ribeirão preto"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[0,0],"id":"527dbdef-782f-47cd-96ce-07edc785ee17","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-16,192],"id":"dcdf6853-904e-4736-a76d-e4efe389b1a3","name":"OpenAI Chat Model"},{"parameters":{"sessionIdType":"customKey","sessionKey":"21111"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[112,160],"id":"af3bc6bd-bea5-41f7-8d5f-fdfe811f9425","name":"Simple Memory"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"  Você é um extrator de dados de leilões do site Mega Leilões.\n\nReceberá abaixo o conteúdo bruto (texto ou HTML) de uma página de imóveis. Sua tarefa é extrair **TODOS os imóveis listados** cujo link contenha o padrão:\n\nhttps://www.megaleiloes.com.br/imoveis/apartamentos/sp/sao-paulo/apartamento*\n\nPara cada imóvel, extraia os seguintes campos e organize como um array JSON sob a chave `lista_imoveis`:\n\n- \"apartamento\": título ou tipo do imóvel\n- \"link\": URL completa para o imóvel\n- \"praca_1_data\": data e horário da 1ª Praça (ex: \"05/06/2025 às 15:30\")\n- \"praca_1_valor\": valor da 1ª Praça (ex: \"R$ 1.465.532,11\")\n- \"praca_2_data\": data e horário da 2ª Praça (se disponível)\n- \"praca_2_valor\": valor da 2ª Praça (se disponível)\n- \"desconto\": valor ou percentual de desconto (se existir)\n\nFormato de saída esperado:\n\n```json\n{\n  \"lista_imoveis\": [\n    {\n      \"apartamento\": \"...\",\n      \"link\": \"...\",\n      \"praca_1_data\": \"...\",\n      \"praca_1_valor\": \"...\",\n      \"praca_2_data\": \"...\",\n      \"praca_2_valor\": \"...\",\n      \"desconto\": \"...\"\n    },\n    ...\n  ]\n}\n","role":"system"},{"content":"=  {{ $json.data }}\n"}]},"simplify":false,"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[272,784],"id":"41743358-1224-4027-95b7-c8c46204d876","name":"Message a model"}],"connections":{"HTTP Request":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Replace Me","type":"main","index":0}],[{"node":"Supabase","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Replace Me1","type":"main","index":0}],[{"node":"Supabase1","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Message a model":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"cb2c9358-273d-44c1-9382-e3ff68c49441","triggerCount":0,"shared":[{"createdAt":"2025-09-07T01:17:08.366Z","updatedAt":"2025-09-07T01:17:08.366Z","role":"workflow:owner","workflowId":"VPxHzUtQYRYK21bK","projectId":"wFRMrac2003Pl1x6"}],"tags":[]}