my-workflow-3-NeWmwo3d2du9Zf7N.json
{"createdAt":"2025-08-26T21:03:56.749Z","updatedAt":"2025-08-26T22:43:07.337Z","id":"NeWmwo3d2du9Zf7N","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[-544,432],"id":"a6c93515-14b5-4887-ba49-48811cb496ce","name":"Auto-fixing Output Parser1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-640,608],"id":"656722d5-b41f-4b8e-8a30-77d61c5b29f4","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"2hW4LOItQwhgTw0Q","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":" {\n  \"type\": \"object\",\n  \"properties\": {\n    \"pizzas_inteiras\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"numero\": { \"type\": \"integer\" },\n          \"tamanho\": { \"type\": \"string\" }\n        },\n        \"required\": [\"quantidade\", \"numero\", \"tamanho\"]\n      }\n    },\n    \"pizzas_fracionadas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"metade1\": { \"type\": \"integer\" },\n          \"metade2\": { \"type\": \"integer\" }\n        },\n        \"required\": [\"quantidade\", \"metade1\", \"metade2\"]\n      }\n    },\n    \"bebidas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"nome\": { \"type\": \"string\" },\n          \"volume\": { \"type\": \"string\" }\n        },\n        \"required\": [\"quantidade\", \"nome\", \"volume\"]\n      }\n    },\n    \"esfirras\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"numero\": { \"type\": \"integer\" },\n          \"nome\": { \"type\": \"string\" },\n          \"tipo\": { \"type\": \"string\" }\n        },\n        \"required\": [\"quantidade\", \"numero\", \"nome\", \"tipo\"]\n      }\n    },\n    \"bordas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"numero\": { \"type\": \"integer\" },\n          \"nome\": { \"type\": \"string\" }\n        },\n        \"required\": [\"numero\", \"pizza_referencia\"]\n      }\n    }\n  },\n  \"required\": [\n    \"pizzas_inteiras\",\n    \"pizzas_fracionadas\",\n    \"bebidas\",\n    \"esfirras\",\n    \"bordas\"\n  ]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-448,592],"id":"132ef58a-e9c5-47a7-9179-1d857e473161","name":"Structured Output Parser [Schema]","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"promptType":"define","text":"=<mensagem_do_usuario>\n {{ $json.mensagem }}\n</mensagem_do_usuario>","hasOutputParser":true,"messages":{"messageValues":[{"message":"  {\n  \"pizzas_inteiras\": [\n    { \"quantidade\": int, \"numero\": int, \"tamanho\": str }\n  ],\n  \"pizzas_fracionadas\": [\n    { \"quantidade\": int, \"metade1\": int, \"metade2\": int }\n  ],\n  \"bebidas\": [\n    { \"quantidade\": int, \"nome\": str, \"volume\": str }\n  ],\n \"esfirras\": [\n  { \"quantidade\": int, \"numero\": int, \"nome\": str, \"tipo\": str } // tipo: \"salgada\" ou \"doce\"\n  ],\n  \"bordas\": [\n    { \"numero\": int, \"nome\": str} // \"pizza_referencia\" = string que identifica a pizza onde será aplicada\n  ]\n}\n\n⚠️ Regras obrigatórias:\n- Sempre retorne exatamente essas 5 listas, mesmo que estejam vazias.\n- Use apenas os nomes de campos e estrutura mostrados acima.\n- Retorne **apenas o JSON válido**, sem explicações, comentários ou texto adicional.\n\nPedido:\n{pedido}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-640,272],"id":"ab3207fd-ada0-4ccd-95f1-ccdf57bd56c0","name":"Basic LLM Chain","retryOnFail":true,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1168,272],"id":"b944129e-b2f9-4e21-9d57-e251139a847b","name":"When chat message received","webhookId":"ececd472-316f-4b4e-814e-2505c06974c9"},{"parameters":{"fieldToSplitOut":"output.pizzas_inteiras","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[0,0],"id":"3ea8bf75-e159-4c41-8793-d4ec10212251","name":"Bebidas","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":" output.pizzas_fracionadas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[32,192],"id":"553e7880-6a53-4ff6-a214-74e363611087","name":"Pizzas Fracionada","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.pizzas_inteiras","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[0,384],"id":"3cd8a7da-e218-4a3c-92d5-3cc2246f6119","name":"Pizzas Inteira","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.esfirras","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[16,560],"id":"e0bb7886-ff84-4e36-86a1-87b822f8e731","name":"Esfirra","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.bordas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[32,720],"id":"0bdcca26-2f9a-4cf7-a92e-9a800c1b7625","name":"Borda","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('Edit Fields').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"tipo","fieldValue":"bebida"},{"fieldId":"categoria","fieldValue":"bebida"},{"fieldId":"nome","fieldValue":"={{ $json.nome }}"},{"fieldId":"volume","fieldValue":"={{ $json.volume }}"},{"fieldId":"fracionada","fieldValue":"false"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[288,0],"id":"84a9ac65-69e3-4c40-ad40-a4ab2898d420","name":"Itembebida","credentials":{"supabaseApi":{"id":"wfRfDKyFhOQc6c4W","name":"Supabase account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('Edit Fields').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"categoria","fieldValue":"pizza"},{"fieldId":"fracionada","fieldValue":"true"},{"fieldId":"numero","fieldValue":"= {{ $json.metade1 }}"},{"fieldId":"numero_fracao","fieldValue":"={{ $json.metade2 }}"},{"fieldId":"tamanho","fieldValue":"grande"},{"fieldId":"fracionada","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[288,192],"id":"26176567-d4e3-4746-b782-eb0b3970bfe0","name":"ItemFracionado","credentials":{"supabaseApi":{"id":"wfRfDKyFhOQc6c4W","name":"Supabase account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('Edit Fields').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"categoria","fieldValue":"pizza"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"numero","fieldValue":"={{ $json.numero }}"},{"fieldId":"tamanho","fieldValue":"={{ $json.tamanho }}"},{"fieldId":"fracionada","fieldValue":"false"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[272,368],"id":"5712db93-a2cb-4899-ace8-e7bc094defc6","name":"ItemInteira","credentials":{"supabaseApi":{"id":"wfRfDKyFhOQc6c4W","name":"Supabase account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('Edit Fields').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"tipo","fieldValue":"bebida"},{"fieldId":"categoria","fieldValue":"esfirra"},{"fieldId":"nome","fieldValue":"={{ $json.nome }}"},{"fieldId":"tipo","fieldValue":"={{ $json.tipo }}"},{"fieldId":"fracionada","fieldValue":"false"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[288,560],"id":"f0a8e8e2-eb37-41a2-84af-739edca74096","name":"ItemEsfirra","credentials":{"supabaseApi":{"id":"M4qW3aRkqFWpHybm","name":"Supabase Contab"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('Edit Fields').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"=1"},{"fieldId":"tipo","fieldValue":"borda"},{"fieldId":"categoria","fieldValue":"borda"},{"fieldId":"nome","fieldValue":"={{ $json.nome }}"},{"fieldId":"numero","fieldValue":"={{ $json.numero }}"},{"fieldId":"fracionada","fieldValue":"false"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[288,736],"id":"c11aec3b-cf84-4996-8368-b56275315510","name":"ItemBorda","credentials":{"supabaseApi":{"id":"wfRfDKyFhOQc6c4W","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"3f5c86ea-fcc2-4783-8210-a28ce186597d","name":"chatInput","value":"={{ $json.chatInput }}","type":"string"},{"id":"57ddce63-da48-426f-85ae-c63b16da57fa","name":"user_id","value":95,"type":"number"},{"id":"0c0b679a-acb6-497c-8428-9b436123c57a","name":"mensagem","value":"pizza 29 grande 1 coca cola 2l pizza 12 media","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-896,272],"id":"7a41522e-f6af-4011-885b-1a366ca77926","name":"Edit Fields"},{"parameters":{"operation":"executeQuery","query":"UPDATE item_pedido_temp AS i\nSET valor = CASE\n  WHEN i.tamanho = 'grande' THEN c.preco_grande\n  WHEN i.tamanho = 'media'  THEN c.preco_medio\n  ELSE i.valor\nEND\nFROM cardapio AS c\nWHERE i.numero = c.numero and user_id = 82 and categoria ='bebida' AND fracionada = 'true';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1168,16],"id":"930a114d-768a-482b-a0fb-210c8b5ee90c","name":"Execute a SQL query2","disabled":true},{"parameters":{"operation":"executeQuery","query":"SELECT atualizar_valores_itens_temp('bebida', {{ $('Edit Fields').item.json.user_id }});","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[688,0],"id":"9be8224f-1cce-412c-a360-4ed7d0be028d","name":"AtualizaValorBebida"},{"parameters":{"operation":"executeQuery","query":"SELECT AtualizaValorFracionado( {{ $('Edit Fields').item.json.user_id }});","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[480,192],"id":"e626d793-907e-468d-95d4-a185693aaf63","name":"AtualizaValorPizza","credentials":{"postgres":{"id":"UaH67kvWXxdMMhJt","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"   UPDATE item_pedido_temp AS i\n  SET valor = CASE\n    WHEN i.tamanho = 'grande' THEN c.preco_grande\n    WHEN i.tamanho = 'media'  THEN c.preco_medio\n    ELSE  c.preco_grande\n  END\n  FROM cardapio AS c\n  WHERE \n    i.numero_fracao = c.numero\n    AND i.user_id = {{ $('Edit Fields').item.json.user_id }}\n    AND i.categoria = 'borda' \n    AND i.fracionada = 'FALSE';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[768,736],"id":"892a5bd4-513a-47d7-b1f7-7056840f3f52","name":"AtualizaValorPizza2"},{"parameters":{"operation":"executeQuery","query":"SELECT atualizar_valores_itens_temp('esfirra', {{ $('Edit Fields').item.json.user_id }});","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[752,544],"id":"47f259f7-281a-4f35-95a3-32361bcb5a07","name":"AtualizaValorEsfirra"},{"parameters":{"operation":"executeQuery","query":"\n UPDATE Item_pedido_temp AS i\nSET numero = c.numero\nFROM cardapio AS c\nWHERE \n  i.numero IS NULL\n  AND i.status = 'inicio'\n  AND c.tipo = 'bebida' and i.tipo = 'bebida'\n  AND c.palavras_chave ILIKE '%' || LOWER(i.nome) || '%'\n  AND c.palavras_chave ILIKE '%' || LOWER(i.volume) || '%' and user_id = {{ $('Edit Fields').item.json.user_id }} ;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[480,0],"id":"0e1580e7-f7b5-4995-841e-3d14125505b6","name":"AtualizaNumeroBebida"},{"parameters":{"operation":"executeQuery","query":" UPDATE Item_pedido_temp AS i\nSET numero = c.numero\nFROM cardapio AS c\nWHERE \n  i.numero IS NULL\n  AND i.status = 'inicio'\n  AND c.categoria  = 'esfirra' \n and  LOWER(  c.nome)   iLIKE '%' || LOWER(  i.nome) || '%' and user_id =  {{ $('Edit Fields').item.json.user_id }}\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[496,560],"id":"b38721f5-7ad9-46da-83a3-2f48dd9ed872","name":"AtualizaNumeroEsfirra"},{"parameters":{"operation":"executeQuery","query":"\n UPDATE Item_pedido_temp AS i\nSET numero_fracao = c.numero\nFROM cardapio AS c\n WHERE i.numero IS not  NULL\n  AND i.status = 'inicio' and  c.categoria  ='borda'   and      LOWER(palavras_chave ) iLIKE '%' || LOWER( i.nome) || '%'    and user_id =  {{ $('Edit Fields').item.json.user_id }}\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[496,736],"id":"d50900b6-2323-434a-bee0-8a208cc9ff7e","name":"AtualizaNumeroBorda"},{"parameters":{"operation":"executeQuery","query":"SELECT atualizar_valores_itens_temp('pizza', {{ $('Edit Fields').item.json.user_id }});","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[512,352],"id":"89b0122e-d52e-46ca-b5d2-2e89bb2727c1","name":"AtualizaValorEsfirra1"}],"connections":{"Auto-fixing Output Parser1":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser1","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Structured Output Parser [Schema]":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser1","type":"ai_outputParser","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Bebidas","type":"main","index":0},{"node":"Pizzas Fracionada","type":"main","index":0},{"node":"Pizzas Inteira","type":"main","index":0},{"node":"Esfirra","type":"main","index":0},{"node":"Borda","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Bebidas":{"main":[[{"node":"Itembebida","type":"main","index":0}]]},"Pizzas Fracionada":{"main":[[{"node":"ItemFracionado","type":"main","index":0}]]},"Pizzas Inteira":{"main":[[{"node":"ItemInteira","type":"main","index":0}]]},"Esfirra":{"main":[[{"node":"ItemEsfirra","type":"main","index":0}]]},"Borda":{"main":[[{"node":"ItemBorda","type":"main","index":0}]]},"Itembebida":{"main":[[{"node":"AtualizaNumeroBebida","type":"main","index":0}]]},"ItemEsfirra":{"main":[[{"node":"AtualizaNumeroEsfirra","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"ItemFracionado":{"main":[[{"node":"AtualizaValorPizza","type":"main","index":0}]]},"ItemInteira":{"main":[[{"node":"AtualizaValorEsfirra1","type":"main","index":0}]]},"ItemBorda":{"main":[[{"node":"AtualizaNumeroBorda","type":"main","index":0}]]},"AtualizaNumeroBebida":{"main":[[{"node":"AtualizaValorBebida","type":"main","index":0}]]},"AtualizaNumeroEsfirra":{"main":[[{"node":"AtualizaValorEsfirra","type":"main","index":0}]]},"AtualizaNumeroBorda":{"main":[[{"node":"AtualizaValorPizza2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0ad0f560-7d33-451d-b7d3-6d6817e6e003","triggerCount":0,"shared":[{"createdAt":"2025-08-26T21:03:56.749Z","updatedAt":"2025-08-26T21:03:56.749Z","role":"workflow:owner","workflowId":"NeWmwo3d2du9Zf7N","projectId":"kDZetBR3Erj53CH1"}],"tags":[]}