my-workflow-6-01zCvIsWPAFFMGcr.json
{"createdAt":"2025-09-07T01:22:25.461Z","updatedAt":"2025-09-08T14:27:51.564Z","id":"01zCvIsWPAFFMGcr","name":"My workflow 6","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"login","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-288,-64],"id":"78b1ca84-c855-4ce7-8c9a-2a4982b441ce","name":"Webhook","webhookId":"77c2764f-3d24-48db-aef2-07b64e9ecdeb"},{"parameters":{"operation":"get","tableId":"usuario_lacantina","filters":{"conditions":[{"keyName":"email","keyValue":"={{ $json.email }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[176,-64],"id":"37a8a35c-7ef5-47bf-b7d3-e31aa6730004","name":"Get a row","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"807e4143-d55c-420c-b026-90bb242e057f","name":"email","value":"={{ $json.body.email }}","type":"string"},{"id":"f3078e1c-88ef-46e0-8681-76c60898ac50","name":"password","value":"={{ $json.body.password }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,-64],"id":"391deedc-4027-4699-ac35-305ab09b20ac","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"059b3d30-905f-4038-b8c1-9582bae19867","leftValue":"={{ $json.user_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}},{"id":"91d4813d-55f8-40af-a588-cc77a7b30153","leftValue":"={{ $('Edit Fields').item.json.password }}","rightValue":"={{ $json.senha }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[384,-64],"id":"d154ad91-1c95-4db3-a735-f22bf07509a7","name":"If"},{"parameters":{"jsCode":"return [{ json: { success: true, message: 'usuario ok' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,-160],"id":"1cf72dfa-2fac-4319-98c2-4692c7b84826","name":"Sim"},{"parameters":{"jsCode":"  return [{ json: { success: false, message: 'usuario invalido' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,96],"id":"ceabe7ca-5cda-420d-b163-7549a161deec","name":"Não"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[832,-80],"id":"fd11d75c-1029-4d5a-bb4e-de7ea2a38b11","name":"Merge"},{"parameters":{"options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1072,-64],"id":"a9a42856-dc26-47b8-963c-908d656c6da1","name":"Respond to Webhook"},{"parameters":{"path":"pedidos","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-320,240],"id":"fe239da1-48d7-405d-be7c-d9870d69faad","name":"Webhook1","webhookId":"77c2764f-3d24-48db-aef2-07b64e9ecdeb"},{"parameters":{"assignments":{"assignments":[{"id":"807e4143-d55c-420c-b026-90bb242e057f","name":"email","value":"={{ $json.body.email }}","type":"string"},{"id":"f3078e1c-88ef-46e0-8681-76c60898ac50","name":"password","value":"={{ $json.body.password }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,240],"id":"ed931070-5757-4d6e-8bd7-d7850ef0f2eb","name":"Edit Fields1"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[592,320],"id":"2011ef96-3ad7-46da-b316-013d0380dab8","name":"Respond to Webhook1"},{"parameters":{"operation":"executeQuery","query":"  select pedido_id, p.status, nome, valor , p.create_at \n  from pedidos p inner join usuario_lacantina  u on   u.user_id = p.user_id \n\n  order by p.create_at ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[80,240],"id":"38b05d81-868f-4f34-bf8b-84713800e01a","name":"Execute a SQL query","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"path":"pedido-html","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-320,464],"id":"6df9b7db-fbd3-4bdd-8a59-a9d76fa0ebda","name":"Webhook2","webhookId":"77c2764f-3d24-48db-aef2-07b64e9ecdeb"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[128,464],"id":"82f3afeb-d887-4126-96bc-0e6eaac24bff","name":"Respond to Webhook3"},{"parameters":{"operation":"executeQuery","query":" \n\n select  nome,   tipo_cobranca, resumo , endereço, bairro \n  from pedidos p inner join usuario_lacantina  u on   u.user_id = p.user_id  \n   where pedido_id = {{ $json.query.numero }} \n\n ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-80,464],"id":"6f2e6810-4402-4017-89d1-046009c73d79","name":"Resumo2","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"producao","operator":{"type":"string","operation":"equals"},"id":"590570b6-6ad3-4a8a-85aa-73a7103414b3"}],"combinator":"and"},"renameOutput":true,"outputKey":"producao"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f7507cac-1ca9-4cdb-a214-6ec63aac31a0","leftValue":"={{ $json.status }}","rightValue":"entrega","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"entrega"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc846c07-c37d-4e5b-9631-c28bd8982938","leftValue":"={{ $json.status }}","rightValue":"recebido","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"recebido"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[16,816],"id":"f19dd725-241b-43a9-a1d7-80cebbf96323","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"f1e0b7ac-d8c4-4845-a161-71db934c6ff9","name":"status","value":"=producao","type":"string"},{"id":"5f919bd7-55dd-4cb7-a1ee-24a7887c6e45","name":"acao","value":"produção","type":"string"},{"id":"0d734ebf-2a01-40f5-8919-9ccf528ec154","name":"pedido_id","value":"={{ $json.pedido_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[336,1040],"id":"21186130-0259-434f-84dd-bdc5cf387b92","name":"Edit Fields2"},{"parameters":{"operation":"executeQuery","query":"update  \n  pedidos\n  set status = '{{ $json.status }}'\nWHERE   pedido_id = {{ $json.pedido_id }}   ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[944,832],"id":"fadf8ffe-a988-43c7-b903-8636590a761c","name":"Execute a SQL query1","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"f1e0b7ac-d8c4-4845-a161-71db934c6ff9","name":"status","value":"=entrega","type":"string"},{"id":"79fcdf15-1b17-487f-bf64-6c557812da36","name":"acao","value":"entrega","type":"string"},{"id":"72a89c5a-9e0d-419b-b62d-42fdcb0a8cc4","name":"pedido_id","value":"={{ $json.pedido_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[336,672],"id":"33a2a192-6b4a-4621-bcf8-cb3126eb4cf3","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"f1e0b7ac-d8c4-4845-a161-71db934c6ff9","name":"status","value":"=concluido","type":"string"},{"id":"c1877cbe-998c-4bdc-a539-5699a76293db","name":"acao","value":"concluido","type":"string"},{"id":"98c074db-8d52-4aa0-816c-889b310d08c8","name":"pedido_id","value":"={{ $json.pedido_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[336,848],"id":"e796c14b-c30a-4487-9be8-1648ee4cc1e7","name":"Edit Fields4"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[720,816],"id":"165e1dd4-d0f7-46f4-8abf-9d57fe056adc","name":"Merge2","alwaysOutputData":false},{"parameters":{"operation":"executeQuery","query":" SELECT pedido_id, user_id,   status\nFROM pedidos\nWHERE   pedido_id =  174\nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-64,1088],"id":"09d1359a-be97-4cf7-865c-79b08fbde50d","name":"PendidoAvancar","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"httpMethod":"POST","path":"avancar","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-464,832],"id":"18e0fe00-0ba1-4455-8612-82bdbdbfc33f","name":"Webhook3","webhookId":"77c2764f-3d24-48db-aef2-07b64e9ecdeb"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1248,832],"id":"7f161fd3-9e14-428a-b06b-6a1ce9496beb","name":"Respond to Webhook4"},{"parameters":{"operation":"executeQuery","query":" SELECT pedido_id, user_id,   status\nFROM pedidos\nWHERE   pedido_id =   {{ $json.body.numero }}\nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-208,832],"id":"1b642d70-4e2a-49a8-b851-c256cbc40e82","name":"PendidoAvancar1","credentials":{"postgres":{"id":"QeZihkMg3OMB2UmS","name":"Postgres account"}}},{"parameters":{"jsCode":"return  [\n  {\n    \"numero\": 123,\n    \"nomeCliente\": \"Luis Gustavo\",\n    \"data\": \"2025-09-08T19:15:00Z\"\n  },\n  {\n    \"numero\": 124,\n    \"nomeCliente\": \"João\",\n    \"data\": \"2025-09-08T19:20:00Z\"\n  }\n]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,352],"id":"e8f4f47e-1dd2-4a71-8f1b-e9a93eedd10e","name":"Code"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get a row","type":"main","index":0}]]},"Get a row":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Sim","type":"main","index":0}],[{"node":"Não","type":"main","index":0}]]},"Sim":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Não":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Webhook2":{"main":[[{"node":"Resumo2","type":"main","index":0}]]},"Resumo2":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge2","type":"main","index":2}]]},"Execute a SQL query1":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]},"PendidoAvancar":{"main":[[]]},"Webhook3":{"main":[[{"node":"PendidoAvancar1","type":"main","index":0}]]},"PendidoAvancar1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Code":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{}}]},"versionId":"ae84541e-e470-4e1b-9565-32b6698a8dd9","triggerCount":4,"shared":[{"createdAt":"2025-09-07T01:22:25.461Z","updatedAt":"2025-09-07T01:22:25.461Z","role":"workflow:owner","workflowId":"01zCvIsWPAFFMGcr","projectId":"wFRMrac2003Pl1x6"}],"tags":[]}