my-workflow-2-KG0xjjfGZ5LtDgdv.json
{"createdAt":"2025-08-26T16:36:02.773Z","updatedAt":"2025-08-27T23:00:06.639Z","id":"KG0xjjfGZ5LtDgdv","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"pesquisaassociacao","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[576,272],"id":"5a066b3e-091e-4f6f-aab1-d89b2e6cd5ca","name":"Webhook","webhookId":"4d180748-1130-468d-aecf-1a62d5e91e0f"},{"parameters":{"tableId":"pesquisa_maturidade","fieldsUi":{"fieldValues":[{"fieldId":"porte_empresa","fieldValue":"={{ $json.porte_empresa }}"},{"fieldId":"ramo_atividade","fieldValue":"={{ $json.ramo_atividade }}"},{"fieldId":"possui_informatizacao","fieldValue":"={{ $json.possui_estruturacao }}"},{"fieldId":"recebe_rel_mensais_custo","fieldValue":"={{ $json.recebe_relatorios }}"},{"fieldId":"utiliza_rel_decisao","fieldValue":"={{ $json.utiliza_rel_decisao }}"},{"fieldId":"acompanha_indicadores","fieldValue":"={{ $json.acompanha_indicadores }}"},{"fieldId":"sabe_lucro","fieldValue":"={{ $json.sabe_lucro }}"},{"fieldId":"forma_controle","fieldValue":"={{ $json.forma_controle }}"},{"fieldId":"nome","fieldValue":"={{ $json.nome }}"},{"fieldId":"whatsapp","fieldValue":"= {{ $json.telefone.replace('+55', '').trim() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[992,272],"id":"c2a8dca0-6e38-4007-877a-7f08327c3660","name":"Create a row","credentials":{"supabaseApi":{"id":"M4qW3aRkqFWpHybm","name":"Supabase Contab"}}},{"parameters":{"jsCode":" const fields = $json.body.data.fields;\n\nfunction getRespostaCheckbox(key) {\n  const pergunta = fields.find(f => f.key === key);\n  if (pergunta && Array.isArray(pergunta.value) && pergunta.value.length > 0) {\n    const selecionado = pergunta.options.find(opt => opt.id === pergunta.value[0]);\n    return selecionado?.text || 'Não informado';\n  }\n  return 'Não informado';\n}\n\nfunction getRespostaTexto(key) {\n  const pergunta = fields.find(f => f.key === key);\n  return pergunta?.value || 'Não informado';\n}\n\n// Mapeamento de todas as perguntas da sua pesquisa\nconst resultado = {\n  porte_empresa: getRespostaCheckbox( $input.first().json.body.data.fields[0].key),\n  ramo_atividade: getRespostaTexto($input.first().json.body.data.fields[1].key),\n  possui_estruturacao: getRespostaCheckbox( $input.first().json.body.data.fields[2].key),\n  recebe_relatorios: getRespostaCheckbox( $input.first().json.body.data.fields[3].key),\n  utiliza_rel_decisao: getRespostaCheckbox( $input.first().json.body.data.fields[4].key),\n  acompanha_indicadores: getRespostaCheckbox( $input.first().json.body.data.fields[5].key),\n  sabe_lucro: getRespostaCheckbox($input.first().json.body.data.fields[6].key ),\n  forma_controle: getRespostaCheckbox( $input.first().json.body.data.fields[7].key),\n  nome: getRespostaTexto($input.first().json.body.data.fields[8].key ),\n telefone: getRespostaTexto( $input.first().json.body.data.fields[9].key),\n};\n\nreturn [{ json: resultado }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,272],"id":"ce755fcb-1775-40ca-b930-002efd4c3a53","name":"Code"}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Create a row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-production-d79b.up.railway.app","user-agent":"Tally Webhooks","content-length":"3332","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","baggage":"sentry-environment=production,sentry-release=4cc73c28652c945ac2d5cd475afbd993353dcb7d,sentry-public_key=6af4b6673f1648edaa8fef3f2ca43405,sentry-trace_id=79f8a68cc1357f061c546d4984e31cb3,sentry-org_id=407628,sentry-sampled=false,sentry-sample_rand=0.9317621543028409,sentry-sample_rate=0.001","content-type":"application/json","sentry-trace":"79f8a68cc1357f061c546d4984e31cb3-674955927941ad22-0","x-forwarded-for":"34.96.41.44","x-forwarded-host":"primary-production-d79b.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/europe-west4-drams3a","x-railway-request-id":"e5gRagybTqK1UMAljUJq2g","x-real-ip":"34.96.41.44","x-request-start":"1756251552970"},"params":{},"query":{},"body":{"eventId":"4a29f687-34d5-4340-93da-d4c604b09083","eventType":"FORM_RESPONSE","createdAt":"2025-08-26T23:39:12.920Z","data":{"responseId":"7RJG1DL","submissionId":"7RJG1DL","respondentId":"AVXZYW","formId":"31Lkjp","formName":"Pesquisa: Maturidade Gerencial do empreendedor Igarapavense.","createdAt":"2025-08-26T23:39:12.000Z","fields":[{"key":"question_BxDr8Y","label":"1 Qual o porte da sua empresa?\n\n","type":"MULTIPLE_CHOICE","value":["aacb3174-2c18-4825-82d3-16abf47a8ee6"],"options":[{"id":"aacb3174-2c18-4825-82d3-16abf47a8ee6","text":" MEI"},{"id":"c892fcb8-b54e-4d6a-8680-f3569eedef58","text":"Microempresa (ME)"},{"id":"663d4458-ee17-4bec-974e-725d7ad7303c","text":"Empresa de Pequeno Porte (EPP)"},{"id":"2bb683db-df79-486f-a81e-a392d87ba125","text":"Média ou Grande Empresa"}]},{"key":"question_kNW2Oj","label":"2. Qual setor você atua?\n","type":"TEXTAREA","value":"zxcsasd"},{"key":"question_97vAbG","label":"3 Sua empresa está informatizada ?\n\n","type":"MULTIPLE_CHOICE","value":["d9ed6a27-86c3-4772-a621-52f93aa31f96"],"options":[{"id":"d9ed6a27-86c3-4772-a621-52f93aa31f96","text":"Sim"},{"id":"1897e2a6-7617-4b1a-a87b-1fab98ee208c","text":"Não"}]},{"key":"question_ea2gkq","label":"4.Seu software te fornece o resultado mensalmente, das Receitas, Custos, Despesas e lucros?\n","type":"MULTIPLE_CHOICE","value":["616e1ca6-29b5-4dee-a407-f441c380a0c9"],"options":[{"id":"a559b474-d09b-47cd-939e-9329c326f122","text":"Sim"},{"id":"616e1ca6-29b5-4dee-a407-f441c380a0c9","text":"Não"}]},{"key":"question_W8YaxJ","label":"5.Você utiliza esses relatórios para tomar decisões?\n","type":"MULTIPLE_CHOICE","value":["4fd34634-a0e0-4a6a-b244-92d1b8ac12b4"],"options":[{"id":"949be933-5a99-4609-8dbe-a41bb45fb710","text":"Sim"},{"id":"4fd34634-a0e0-4a6a-b244-92d1b8ac12b4","text":"As veze"},{"id":"4131a624-5ffc-468a-8622-40a78d0d3ebf","text":"Não uso"}]},{"key":"question_a2Ep79","label":"6. Você acompanha indicadores como: lucro, margem, faturamento e ticket médio?\n\n","type":"MULTIPLE_CHOICE","value":["978cad6c-74c0-4953-a4fd-ea3f025031ef"],"options":[{"id":"9b6271d1-1e96-4e5e-8b9f-1799cca44e99","text":"Sim Semanalmente ou mensalmente"},{"id":"978cad6c-74c0-4953-a4fd-ea3f025031ef","text":"As vezes"},{"id":"89485385-460a-4afa-ae23-9a1e5a4a76ad","text":"Não acompanh"}]},{"key":"question_6Zv6ae","label":"7.Você sabe exatamente quanto sua empresa lucrou ou teve de prejuízo no último mês?\n","type":"MULTIPLE_CHOICE","value":["a4a90720-8167-402a-a557-2305e8e46377"],"options":[{"id":"08ab758c-c78a-4099-a77e-eaa607ad8202","text":"Sim"},{"id":"7928616a-fa6d-4d87-8a1c-03d80cd5f45a","text":"Aproximadamente"},{"id":"a4a90720-8167-402a-a557-2305e8e46377","text":"Não"}]},{"key":"question_7Nv76L","label":"8.Você usa algum sistema ou planilha para controlar financeiramente seu negócio?\n","type":"MULTIPLE_CHOICE","value":["c1ff2d8e-8abf-4295-923d-59bfd4472a5a"],"options":[{"id":"5d441400-cbc0-4e4c-b459-4fb9d61be0d6","text":"Sistema (ERP ou software de gestão)"},{"id":"c1ff2d8e-8abf-4295-923d-59bfd4472a5a","text":"Planilhas (Excel, Google Sheets, etc.)"},{"id":"67359b8e-dcc3-4538-b16b-c15c74866051","text":"Nenhum"}]},{"key":"question_Z2Yka0","label":null,"type":"TEXTAREA","value":"fsdfs"},{"key":"question_vPLlq8","label":"\n\n10 Telefone\n\n","type":"INPUT_PHONE_NUMBER","value":null}]}},"webhookUrl":"https://primary-production-d79b.up.railway.app/webhook-test/pesquisaassociacao","executionMode":"test"}}]},"versionId":"6ebeb918-65c9-4450-8370-ce70ac5ce126","triggerCount":1,"shared":[{"createdAt":"2025-08-26T16:36:02.773Z","updatedAt":"2025-08-26T16:36:02.773Z","role":"workflow:owner","workflowId":"KG0xjjfGZ5LtDgdv","projectId":"kDZetBR3Erj53CH1"}],"tags":[]}