my-workflow-5-gL1FbKkYm9zGfCAA.json
{"createdAt":"2025-09-18T15:44:58.320Z","updatedAt":"2025-09-18T19:42:48.599Z","id":"gL1FbKkYm9zGfCAA","name":"My workflow 5","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-288,0],"id":"1ea74531-5006-4059-bc21-c31f29416ee7","name":"When chat message received","webhookId":"d8fabc58-bc32-4374-9024-6ddf8884d885"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[48,176],"id":"6620ad36-2344-4bad-b89a-7c87430656a9","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":"  {\n  \"type\": \"object\",\n  \"properties\": {\n    \"item\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"categoria\": { \"type\": \"string\" }, \n          \"nome\": { \"type\": \"string\" },\n          \"nome_fracao\": { \"type\": \"string\" }, \n          \"tamanho\": { \"type\": \"string\" },\n          \"volume\": { \"type\": \"string\" }\n        },\n        \"required\": [\n          \"quantidade\",\n          \"categoria\"\n        ]\n      }\n    }\n  },\n  \"required\": [\"item\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[192,192],"id":"caf8ea8c-da06-4f25-8289-6eeda32a8618","name":"Structured Output Parser [Schema]1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"promptType":"define","text":"=<mensagem_do_usuario>\n{{ $json.chatInput }}\n</mensagem_do_usuario>","hasOutputParser":true,"messages":{"messageValues":[{"message":"= Você é um parser de pedidos de pizzaria.  \nSua única saída deve ser um JSON válido exatamente no formato abaixo:\n\n{\n  \"item\": [\n     { \"quantidade\": int,\"categoria\": str  , \"nome\": str, \n\"nome_fracao\": str ,   \"tamanho\": str, \"volume\": str}\n  ]\n}\n\n\n        \n\n\n\n\n\n⚠️ Regras obrigatórias:\n- Sempre retorne exatamente esse JSON com a lista \"item\", mesmo que esteja vazia.\n- Use apenas os nomes de campos e estrutura mostrados acima.\n- Retorne apenas o JSON válido, sem explicações, comentários ou texto adicional.\n- Nunca omita itens ambíguos; use defaults.\n- Defaults: quantidade=1, tamanho=\"media\", numero=0, pizza_referencia=\"\".\n- Não valide com o cardápio; sempre retorne o item.\n\n📌 Regras de interpretação:\n- A palavra \"uma\", \"duas\" etc refere-se sempre a quantidade.\n- Só trate \"pizza\" se houver a palavra \"pizza\".\n- Só trate \"esfirra\" se houver a palavra \"esfirra\".\n- \"meia\" deve ser interpretado como \"1/2\".\n- Se o usuário informar apenas \"pizza N\", não descarte: gere {quantidade:1, numero:N, tamanho:\"media\", categoria:\"pizza\"}.\n\n📌 Pizzas fracionadas:\n- Se houver padrão {Q? 1/2 A e 1/2 B}, crie dois itens com categoria \"pizza\" e mesmo \"pizza_referencia\".\n- Nunca crie pizza inteira para A ou B quando forem parte de uma fração.\n- Exemplo: \"1 pizza 1/2 14 e 1/2 21\" → dois itens pizza, quantidade=1 cada, metade1=14, metade2=21, mesma pizza_referencia.\n\n📌 Bordas:\n- Se a mensagem contiver \"borda\", o texto após \"borda\" até antes de \"item\" ou \"pizza\" é o nome.\n- Normalize para minúsculas (ex: \"Borda Cheddar\" → nome:\"cheddar\").\n- Sempre usar \"categoria\":\"borda\".\n- Se houver referência (ex: \"borda cheddar no item 1\"), preencher pizza_referencia=1.\n- Se não houver número, crie uma pizza_referencia única para vincular com a pizza correspondente.\n- Defaults: numero=0, tamanho=\"\", pizza_referencia=\"\".\n\n📌 Bebidas:\n- Se disser \"lata\" sem volume → usar \"350ml\".\n- Se disser \"long neck\" sem volume → usar \"330ml\".\n- Se pedir \"coca/coca-cola\" sem volume → usar \"2l\".\n- Normalize volume em minúsculas e sem espaços (ex: \"350ml\", \"330ml\", \"2l\").\n\n📌 Exemplos de conversão:\nEntrada: \"1 pizza mussarela grande\"\nSaída:\n{\n  \"item\": [\n    { \"quantidade\": 1, \"numero\": 0, \"tamanho\": \"grande\", \"nome\": \"mussarela\", \"pizza_referencia\": \"\", \"categoria\": \"pizza\" }\n  ]\n}\n\nEntrada: \"1 pizza mussarela e 1 borda cheddar\"\nSaída:\n{\n  \"item\": [\n    { \"quantidade\": 1, \"numero\": 0, \"tamanho\": \"media\", \"nome\": \"mussarela\", \"pizza_referencia\": \"ref_123\", \"categoria\": \"pizza\" },\n    { \"quantidade\": 1, \"numero\": 0, \"tamanho\": \"\", \"nome\": \"cheddar\", \"pizza_referencia\": \"ref_123\", \"categoria\": \"borda\" }\n  ]\n}\n\nEntrada: \"3 long neck heineken\"\nSaída:\n{\n  \"item\": [\n    { \"quantidade\": 3, \"numero\": 0, \"tamanho\": \"\", \"nome\": \"heineken\", \"pizza_referencia\": \"\", \"categoria\": \"bebida\", \"volume\": \"330ml\" }\n  ]\n}\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[48,0],"id":"47ba66be-2a84-41c8-b47e-773f02dac045","name":"Basic LLM Chain1","retryOnFail":true,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.item","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[368,0],"id":"0573e840-dbdc-45d6-8ba0-22260df6030a","name":"item","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[592,-32],"id":"74402ae8-670e-429a-8aee-3b808ea1fb84","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[784,-176],"id":"b9cae534-725c-4f0d-9119-662bed4b26df"},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"=62"},{"fieldId":"quantidade","fieldValue":"=1"},{"fieldId":"tipo","fieldValue":"salgado"},{"fieldId":"categoria","fieldValue":"item"},{"fieldId":"nome","fieldValue":"= {{ $('Loop Over Items').item.json.nome }}"},{"fieldId":"fracionada","fieldValue":"=false"},{"fieldId":"pedido_id","fieldValue":"=11"},{"fieldId":"tamanho","fieldValue":"={{ $json.tamanho }}"},{"fieldId":"volume","fieldValue":"={{ $json.volume }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1296,-48],"id":"f8dfa431-04ab-49a3-b02f-0cf2a7237059","name":"Item","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"operation":"executeQuery","query":" \n   SELECT   * FROM busca_cardapio( ( SELECT string_agg(num, ', ')\n \n  FROM ( select  distinct c.numero::text AS num\nFROM  cardapio AS c\n \n WHERE  c.nome ILIKE '%' || '{{ $json.nome }}' || '%' and categoria = '{{ $json.categoria }}'\n  \n  )) )    \n  \n  \n  \n  ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,-32],"id":"84f4c29e-e688-4449-81b1-24fdca4470f6","name":"ConsultaBorda","alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9f620984-016b-4b6b-bd32-a5be81b30118","leftValue":"={{ $items().length }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1024,-32],"id":"3363db2a-d845-4639-8e46-be6322c68826","name":"If"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-512,832],"id":"cb5f93b5-f2a8-4f80-a0ca-09e1e26647c2","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":"  {\n  \"type\": \"object\",\n  \"properties\": {\n    \"item\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"categoria\": { \"type\": \"string\" }, \n          \"nome\": { \"type\": \"string\" },\n          \"nome_fracao\": { \"type\": \"string\" }, \n          \"tamanho\": { \"type\": \"string\" },\n          \"volume\": { \"type\": \"string\" }\n        },\n        \"required\": [\n          \"quantidade\",\n          \"categoria\"\n        ]\n      }\n    }\n  },\n  \"required\": [\"item\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-368,848],"id":"813f1f9c-9852-4ceb-933d-8b7e60302c41","name":"Structured Output Parser [Schema]","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"promptType":"define","text":"=<mensagem_do_usuario>\n{{ $json.chatInput }}\n</mensagem_do_usuario>","hasOutputParser":true,"messages":{"messageValues":[{"message":"= Você é um parser de pedidos de pizzaria.  \nSua única saída deve ser um JSON válido exatamente no formato abaixo:\n\n{\n  \"item\": [\n     { \"quantidade\": int,\"categoria\": str  , \"nome\": str, \n\"nome_fracao\": str ,   \"tamanho\": str, \"volume\": str}\n  ]\n}\n\n\n        \n\n\n\n\n\n⚠️ Regras obrigatórias:\n- Sempre retorne exatamente esse JSON com a lista \"item\", mesmo que esteja vazia.\n- Use apenas os nomes de campos e estrutura mostrados acima.\n- Retorne apenas o JSON válido, sem explicações, comentários ou texto adicional.\n- Nunca omita itens ambíguos; use defaults.\n- Defaults: quantidade=1, tamanho=\"media\", numero=0, pizza_referencia=\"\".\n- Não valide com o cardápio; sempre retorne o item.\n\n📌 Regras de interpretação:\n- A palavra \"uma\", \"duas\" etc refere-se sempre a quantidade.\n- Só trate \"pizza\" se houver a palavra \"pizza\".\n- Só trate \"esfirra\" se houver a palavra \"esfirra\".\n- \"meia\" deve ser interpretado como \"1/2\".\n- Se o usuário informar apenas \"pizza N\", não descarte: gere {quantidade:1, numero:N, tamanho:\"media\", categoria:\"pizza\"}.\n\n📌 Pizzas fracionadas:\n- Se houver padrão {Q? 1/2 A e 1/2 B}, crie dois itens com categoria \"pizza\" e mesmo \"pizza_referencia\".\n- Nunca crie pizza inteira para A ou B quando forem parte de uma fração.\n- Exemplo: \"1 pizza 1/2 14 e 1/2 21\" → dois itens pizza, quantidade=1 cada, metade1=14, metade2=21, mesma pizza_referencia.\n\n📌 Bordas:\n- Se a mensagem contiver \"borda\", o texto após \"borda\" até antes de \"item\" ou \"pizza\" é o nome.\n- Normalize para minúsculas (ex: \"Borda Cheddar\" → nome:\"cheddar\").\n- Sempre usar \"categoria\":\"borda\".\n- Se houver referência (ex: \"borda cheddar no item 1\"), preencher pizza_referencia=1.\n- Se não houver número, crie uma pizza_referencia única para vincular com a pizza correspondente.\n- Defaults: numero=0, tamanho=\"\", pizza_referencia=\"\".\n\n📌 Bebidas:\n- Se disser \"lata\" sem volume → usar \"350ml\".\n- Se disser \"long neck\" sem volume → usar \"330ml\".\n- Se pedir \"coca/coca-cola\" sem volume → usar \"2l\".\n- Normalize volume em minúsculas e sem espaços (ex: \"350ml\", \"330ml\", \"2l\").\n\n📌 Exemplos de conversão:\nEntrada: \"1 pizza mussarela grande\"\nSaída:\n{\n  \"item\": [\n    { \"quantidade\": 1, \"numero\": 0, \"tamanho\": \"grande\", \"nome\": \"mussarela\", \"pizza_referencia\": \"\", \"categoria\": \"pizza\" }\n  ]\n}\n\nEntrada: \"1 pizza mussarela e 1 borda cheddar\"\nSaída:\n{\n  \"item\": [\n    { \"quantidade\": 1, \"numero\": 0, \"tamanho\": \"media\", \"nome\": \"mussarela\", \"pizza_referencia\": \"ref_123\", \"categoria\": \"pizza\" },\n    { \"quantidade\": 1, \"numero\": 0, \"tamanho\": \"\", \"nome\": \"cheddar\", \"pizza_referencia\": \"ref_123\", \"categoria\": \"borda\" }\n  ]\n}\n\nEntrada: \"3 long neck heineken\"\nSaída:\n{\n  \"item\": [\n    { \"quantidade\": 3, \"numero\": 0, \"tamanho\": \"\", \"nome\": \"heineken\", \"pizza_referencia\": \"\", \"categoria\": \"bebida\", \"volume\": \"330ml\" }\n  ]\n}\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-512,656],"id":"0bbaae9e-bead-4a15-b03e-4c288b40ffe7","name":"Basic LLM Chain","retryOnFail":true,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.item","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-192,656],"id":"13870cc3-13eb-4361-965b-bf8060abfff9","name":"item1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[48,624],"id":"8c2bfdb1-5a9e-4357-b356-eee7b7d728f0","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[272,368],"id":"6f2e50a0-8478-4571-ab21-13203f7faeb3"},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"=62"},{"fieldId":"quantidade","fieldValue":"=1"},{"fieldId":"tipo","fieldValue":"salgado"},{"fieldId":"categoria","fieldValue":"item"},{"fieldId":"nome","fieldValue":"= {{ $('Loop Over Items1').item.json.nome }}"},{"fieldId":"fracionada","fieldValue":"=false"},{"fieldId":"pedido_id","fieldValue":"=11"},{"fieldId":"tamanho","fieldValue":"={{ $json.tamanho }}"},{"fieldId":"volume","fieldValue":"={{ $json.volume }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[752,608],"id":"99d2e722-082c-4b9b-b96f-d49fc301bcb2","name":"Item1","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"operation":"executeQuery","query":" \n   SELECT   * FROM busca_cardapio( ( SELECT string_agg(num, ', ')\n \n  FROM ( select  distinct c.numero::text AS num\nFROM  cardapio AS c\n \n WHERE  c.nome ILIKE '%' || '{{ $json.nome }}' || '%' and categoria = '{{ $json.categoria }}'\n  \n  )) )    \n  \n  \n  \n  ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[256,624],"id":"4f5b640e-dec7-4fbf-9f7d-264f7f7a50b6","name":"ConsultaBorda1","alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9f620984-016b-4b6b-bd32-a5be81b30118","leftValue":"={{ $items().length }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,624],"id":"3ddceed4-ec4f-42fb-9f68-8788accdb67f","name":"If1"}],"connections":{"When chat message received":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Structured Output Parser [Schema]1":{"ai_outputParser":[[{"node":"Basic LLM Chain1","type":"ai_outputParser","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"item","type":"main","index":0}]]},"item":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Replace Me","type":"main","index":0}],[{"node":"ConsultaBorda","type":"main","index":0}]]},"Replace Me":{"main":[[]]},"Item":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"ConsultaBorda":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Item","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Structured Output Parser [Schema]":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"item1","type":"main","index":0}]]},"item1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"ConsultaBorda1","type":"main","index":0}]]},"Item1":{"main":[[]]},"ConsultaBorda1":{"main":[[]]},"If1":{"main":[[],[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a8fbfa69-4a70-4987-b002-c9c5cec7cbb4","triggerCount":0,"shared":[{"createdAt":"2025-09-18T15:44:58.320Z","updatedAt":"2025-09-18T15:44:58.320Z","role":"workflow:owner","workflowId":"gL1FbKkYm9zGfCAA","projectId":"wFRMrac2003Pl1x6"}],"tags":[]}