novodelivery-XjpZ5CGjbZaGmw2K.json
{"createdAt":"2025-09-18T10:28:45.413Z","updatedAt":"2025-09-18T11:15:14.786Z","id":"XjpZ5CGjbZaGmw2K","name":"novodelivery","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"get","tableId":"usuario_lacantina","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Dados Lead').item.json.IdConversa.trim() }}"}]}},"id":"e83bd751-7301-46a5-b3de-b0cf2766e7a9","name":"Encontrar Cliente1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[7808,9328],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3419c30f-4400-401b-bf40-db1579507f96","leftValue":"={{ $json.user_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"833bef5d-093b-4b72-8f80-ec7552532f1d","name":"Cliente Existe?1","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[8048,9312],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"tableId":"usuario_lacantina","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $('Dados Lead').item.json.LeadNome }}"},{"fieldId":"telefone","fieldValue":"={{ $('Dados Lead').item.json.IdConversa.trim() }}"}]}},"id":"c1269276-e4aa-44f4-83a3-b68ed65a88de","name":"Criar Cliente1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[8416,9568],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"id":"c06e750d-c2ed-44ae-836e-849e87070a09","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[8832,9312],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[16896,7248],"id":"a52529df-66af-4e24-8e90-a96a8f9c1860","name":"No Operation, do nothing5","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"## Gatilho\nChat Trigger, WhatsApp, Instagram, Telegram, Messenger, etc..","height":572,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2080,9136],"id":"f19a9ed8-b2d9-4345-a8da-0962ff8ee18b","name":"Sticky Note2"},{"parameters":{"content":"## Variáveis do Fluxo\nCentral de controle do workflow","height":540,"width":326,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2512,9152],"id":"87751378-cff9-4709-b579-c386d765b5ca","name":"Sticky Note3"},{"parameters":{"content":"## Filtros Iniciais\nPara evitar que fluxo seja executado quando não queremos","height":540,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2880,9136],"id":"1862b6ee-9118-441c-9b1c-6e93ca0eae4e","name":"Sticky Note4"},{"parameters":{"content":"## Dados do Lead\nInformações principais sobre o lead","height":540,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3280,9136],"id":"885b7b5c-f689-427a-8a0c-8ff1b5a00a48","name":"Sticky Note5"},{"parameters":{"content":"## Registro do Lead no banco de dados (Supabase)\nFluxo para adição do lead no banco de dados postgrees supabase.","height":716,"width":2808,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8016,8992],"id":"550f48b5-72c1-4c53-b46c-a509e6f362bf","name":"Sticky Note7"},{"parameters":{"content":"## Mensagem para o Agente\nMensagem final do usuário para o agente","height":652,"width":276,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7088,9072],"id":"90125f81-fdba-4e22-b1ad-95abea214eee","name":"Sticky Note10"},{"parameters":{"content":"## Agente de IA\nAgente inteligente com memória e prompt pré formatado","height":1336,"width":2068,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[13200,6944],"id":"9928efb7-fcad-45dc-a842-b8e4c8911842","name":"Sticky Note11"},{"parameters":{"assignments":{"assignments":[{"id":"9f488c5c-0b3b-48e9-87b1-5a22d513d1ec","name":"IdConversa","value":"=   {{ $('Webhook').item.json.body.data.key.remoteJid.replace(\"@s.whatsapp.net\",\"\") }}","type":"string"},{"id":"69f6217f-9063-423f-abf4-e94f6b70f94e","name":"LeadNome","value":"= {{ $('Webhook').item.json.body.data.pushName }}","type":"string"},{"id":"6ba1d721-f125-47fb-ad7b-194cc478a856","name":"input_usuario","value":"=                        {{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"},{"id":"ba4188f4-3672-477b-a776-7eadc863140c","name":"mensagem_usuario","value":"=  {{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"},{"id":"33d4eb69-2991-4188-8b18-2ac04b7b2f74","name":"usario","value":"0","type":"string"}]},"options":{}},"id":"07d0a78b-2931-41ed-8c97-2f9818804c5a","name":"Dados Lead","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3408,9376],"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"Ajustes os filtros necessários conforme seu gatilho de entrada","height":280,"width":190,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2944,9248],"id":"4f44b71e-a25b-44d6-9516-5e7ea1cb350f","name":"Sticky Note1"},{"parameters":{"content":"Ajuste tempos de buffer e inatividade do agente conforme necessidade.\n","height":280,"width":190,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2592,9248],"id":"32677671-adca-4ad8-85be-d6573b614365","name":"Sticky Note18"},{"parameters":{"assignments":{"assignments":[{"id":"3bdce7b6-d0f1-442c-aafd-8cd123aa21b6","name":"EsperaBuffer","value":1,"type":"number"},{"id":"c38e8985-4494-40a4-878e-f25467849842","name":"TempoInatividadeAgente","value":150,"type":"number"},{"id":"ac619a5e-1438-4e19-aaf5-21dfcbc32312","name":"ModeloTemperatura","value":0.4,"type":"number"},{"id":"cd3b0a32-e454-406e-84ad-b5efedc9c545","name":"empresa","value":"1","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2624,9376],"id":"132414bb-b9b1-4874-a771-e36a8453de97","name":"Parametros Fluxo","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00d2650d-52f9-4bf5-9b50-ec548c105222","leftValue":"={{ $json.lead_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[8624,9312],"id":"c1d8029b-b14a-4971-86c1-db723df8847f","name":"Concatena"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"204f54b0-e3ed-4ff4-8302-8c20d3b8aa78","leftValue":"={{ $('Webhook').item.json.body.isGroup }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"c51986d9-f347-4198-89bb-9e4cd0f021c9","leftValue":"={{ $('Webhook').item.json.body.broadcast }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"05ee6414-0164-473b-8f82-225cfba55ad2","leftValue":"={{ $('Webhook').item.json.body.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"8e4b6f9e-db00-4e3b-9f8a-4e45b5bbaf10","name":"Filtro Inicial1","type":"n8n-nodes-base.filter","typeVersion":2.1,"position":[2992,9376],"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[10400,9600],"id":"73217b52-24a2-4ec3-a0a6-92a1c3502e0c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"jsCode":"  return [\n  {\n    json: JSON.parse( $input.first().json.text) // ou o campo correto de saída\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[16160,9200],"id":"3657615a-a513-4026-98aa-b2dab1216a55","name":"MsgUsuario"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.acao }}","rightValue":"menu","operator":{"type":"string","operation":"equals"},"id":"c957927a-1cf4-44bf-8f38-1496767b6a1b"}],"combinator":"and"},"renameOutput":"=menu"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"03a78ab2-9057-4ff5-baa5-8c37c432a94d","leftValue":"={{ $json.acao }}","rightValue":"cancelar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cancelar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e1b9d060-7def-4f5f-b587-657ed9c9ce85","leftValue":"={{ $json.acao }}","rightValue":"finalizar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Finalizar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3fc41f2-ee99-4de2-8841-2ae1a7da37db","leftValue":"={{ $json.acao }}","rightValue":"adicionar_item","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Adicionar Item"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"38045ee6-0b44-4b52-a79c-676c7ce5998a","leftValue":"={{ $json.acao }}","rightValue":"consultar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Consutar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4bbedcdd-6893-41a2-9e3d-bfc9b97ca10a","leftValue":"={{ $json.acao }}","rightValue":"desconhecida","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"desconhecida"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"42e2c65b-a99d-4991-ac87-a7ff8d84d4a5","leftValue":"={{ $json.acao }}","rightValue":"instrucao","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Instruções"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"23e65839-03f6-4879-8998-48ad2909ef94","leftValue":"={{ $json.acao }}","rightValue":"cardapio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cardapio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4f5a8ba2-c888-48cd-bbe2-ba09467e56a0","leftValue":"={{ $json.acao }}","rightValue":"humanizado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"humanizado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"996ac831-1b2b-4f3b-8efa-a53642a5d337","leftValue":"={{ $json.acao }}","rightValue":"detalhar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Detalhar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b6759ac0-49ef-4335-bf0c-ee38935c61f9","leftValue":"={{ $json.acao }}","rightValue":"cardapio_online","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cardapio_online"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5ba958dd-b3b7-4cfd-a85c-1d0e58a103e2","leftValue":"={{ $json.acao }}","rightValue":"excluir_item","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"excluir_item"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7ff222af-656b-42d7-b077-1c24c4afd7ca","leftValue":"{{ $json.acao }}","rightValue":"adiciobnar_ingrediente","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"adiciobnar_ingrediente"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[16880,8848],"id":"168b12cb-8339-4291-8099-ea2aad7bca52","name":"Switch"},{"parameters":{"descriptionType":"manual","toolDescription":"Execute a SQL query in Postgres","operation":"executeQuery","query":" SELECT * FROM busca_cardapio(pega_numeros_concatenados(  {{ $('Merge1').item.json.user_id }}  , {{ $('MergePedido').item.json.pedido_id }}));","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[19872,10864],"id":"002e6ed9-d309-4cc4-a027-6b8cb5c8dbb5","name":"BuscaCardapio","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[19216,8944],"id":"78a5992d-fa4a-40f5-8ae4-2fcecf757e38","name":"No Operation, do nothing8","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"httpMethod":"POST","path":"agente","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[2240,9376],"id":"f12b1673-86be-4da6-ac9e-7aaf79f91651","name":"Webhook","webhookId":"66949457-5339-4325-b499-9a15d57ff6a1"},{"parameters":{"promptType":"define","text":"=<mensagem_do_usuario>\n {{ $('MensagemTraduzida').item.json.message }}\n</mensagem_do_usuario>","hasOutputParser":true,"messages":{"messageValues":[{"message":"= Você é um classificador de intenção para um pedido de pizzaria.\n\nDada a mensagem do cliente, responda APENAS com uma das seguintes ações:\n\n- adicionar_item → o cliente está pedindo uma pizza, bebida, etc., ou digitou \"1\" para adicionar mais itens\n- finalizar → se ele disser \"pronto\", \"fim\", \"pode fechar\", ou digitar \"4\"\n- cancelar → se ele disser que desistiu, quer cancelar ou digitar \"6\"\n- comentar → se ele faz observações tipo \"sem cebola\", \"sem queijo\", etc.\n- desconhecida → se não entender a mensagem\n- consultar → se o cliente deseja ver o resumo do pedido ou digitar \"5\" ou \"consulta\"\n- detalhar → se o cliente quer ver os detalhes dos itens do pedido ou digitar \"7\"\n- menu → se ele pedir o menu ou opções\n- instrucao →  o cliente diseer \"Instruções\", ou digitou \"2\" para adicionar mais itens\n- cardapio →  o cliente diseer \"Cardapio\", ou digitou \"3\" para ver o cardapio\n- cardapio_online →  o cliente disser \"Consultar pizza calabreza\" ou  \"Consultar esfirra  carne\"\n ou  \"Consultar  coca cola\"  ou  \"Consultar cerveja\"  ou  \"Consultar agua\"\n- excluir_item 8→  o cliente disser \"excluir 1\" disser  ou  \"excluir item 9\" ou disser \"quero excluir item 2\"\n\n- adicionar_item →  o cliente disser \"adicionar ingrediente cheddar ao item 3 \"    ou  \"adicionar ingrediente ovo ao item 3 \" ou disser \"adicionar mussarela ao item 2\", \"adicionar catupiry ao item 4\"\n\n- humanizado →  o cliente diseer \"humanizado\", ou digitou \"11\"  envie o numero de telefone humanizado\n\nRetorne **somente** nesse formato:\n\n{\n  \"acao\": \"adicionar_item\" | \"finalizar\" | \"cancelar\" | \"comentar\" | \"desconhecida\" | \"consultar\" | \"detalhar\" | \"menu\" | \"instrucao\"| \"cardapio\"| \"humanizado\"| \"excluir_item\" | \"cardapio_online\" \n}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[10432,9296],"id":"7358cc45-b5a0-4d26-8084-9f64220b259f","name":"Menu","retryOnFail":true,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"item_pedido_temp","mode":"list","cachedResultName":"item_pedido_temp"},"deleteCommand":"delete","where":{"values":[{"column":"user_id","value":"= {{ $('Merge1').item.json.user_id }}"},{"column":"status","value":"rejeitado"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[18448,8640],"id":"74b80a67-baba-45e7-b88b-8a468caf01ab","name":"ExcluiRejeitados","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"content":"","height":3740,"width":12636,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"874c07c4-a67b-4422-a542-5944a8bb0e53","name":"Sticky Note14"},{"parameters":{"tableId":"pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('Merge1').item.json.user_id }}"},{"fieldId":"status","fieldValue":"aberto"},{"fieldId":"valor","fieldValue":"0"}]}},"id":"b8ec40ca-38cf-4a8c-ab55-adcde6eda6ad","name":"CriaPedido","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[9328,9472],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3419c30f-4400-401b-bf40-db1579507f96","leftValue":"={{ $json.user_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"00a13445-3dc9-400a-83ab-c5f03f74609a","name":"Cliente Pedido","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[9184,9312],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"get","tableId":"pedido_temp","filters":{"conditions":[{"keyName":"user_id","keyValue":"={{ $('Merge1').item.json.user_id }}"}]}},"id":"7800f8ac-a3ac-4100-a441-01feaf00ee1d","name":"EncontrarPedido","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[9008,9312],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[18160,7520],"id":"a839564d-fec9-4a31-954a-5494915fe616","name":"No Operation, do nothing1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[18672,7664],"id":"5f79bb33-26c9-4af4-b9fb-921c1c08eda2","name":"No Operation, do nothing2","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00d2650d-52f9-4bf5-9b50-ec548c105222","leftValue":"={{ $json.pedido_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[9440,9296],"id":"38727ac3-1ce7-41eb-8795-a79ef596c107","name":"ConcatenaPedido"},{"parameters":{},"id":"acc07d41-a302-42f8-b7ac-647978eaaf7c","name":"MergePedido","type":"n8n-nodes-base.merge","typeVersion":3,"position":[10096,9296],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[18144,9776],"id":"62c2764c-f525-4665-9657-5c2a878d0b6f","name":"No Operation, do nothing3","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5e64e4bd-33c7-44a0-9deb-9f3d31db5a48","leftValue":"={{ $('Dados Lead').item.json.mensagem_usuario.toString().trim() }}","rightValue":"1","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[18176,8512],"id":"e83cc0cd-bd1d-4192-b978-48533bfc9bbc","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[19264,8432],"id":"27afb200-3285-439e-b2c2-483a7abc7d41","name":"No Operation, do nothing4","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[19616,9424],"id":"c73475b9-5010-4ae0-8b41-93f9caf5d4c0","name":"No Operation, do nothing7","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[19200,9424],"id":"cea4e2f8-4133-4545-8ed3-d15645a3df59","name":"Wait2","webhookId":"e7496148-e2c5-4de6-a720-b218f64657df"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[18144,9968],"id":"0f637e00-ca99-4a11-83cd-fc8c46ae5d48","name":"No Operation, do nothing9","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":"select * from  cancela_pre_pedido( {{ $('Concatena').item.json.user_id }}, {{ $('MergePedido').item.json.pedido_id }}  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[17872,7792],"id":"423f7b14-ccbc-47e3-afda-0c64ea95cb87","name":"CancelarPedido","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[18160,10288],"id":"9e03698f-e0f5-497a-a306-16ffd1ba76ca","name":"No Operation, do nothing10","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[18832,9232],"id":"7a5b5290-e722-414e-b84a-47a063e3dad5","name":"No Operation, do nothing11","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"041e18dc-788b-45e7-9348-cca03ac28eee","leftValue":"={{ $json.status }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[8240,9280],"id":"15baf18b-2b6c-4c25-b31d-283655145b4c","name":"If2"},{"parameters":{"operation":"update","tableId":"usuario_lacantina","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $json.user_id }}"},{"keyName":"status","condition":"is","keyValue":"null"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"iniciado"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[8416,9184],"id":"508df2ec-cd6f-4927-8de9-a1423bb606c9","name":"IniciaAtendimento","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"usuario_lacantina","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $json.user_id }}"},{"keyName":"status","condition":"eq","keyValue":"iniciado"},{"keyName":"status","condition":"eq","keyValue":"iniciado"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"enviado"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[8416,9344],"id":"8445178a-936a-4572-8227-6cf38127f0c4","name":"AtendimentoEnviado","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aac1bbdf-a888-48b3-9539-12df30d4be7a","leftValue":"={{ $('StatusPedido').item.json.status?.toString().trim().toLowerCase() }}","rightValue":"enviado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[18304,9280],"id":"1d4a83a8-dcb2-4f60-9153-a9b821f3931e","name":"primeiro atendimento"},{"parameters":{"operation":"executeQuery","query":"select * from  cancela_pre_pedido( {{ $('Concatena').item.json.user_id }}, {{ $('MergePedido').item.json.pedido_id }}  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[17776,10288],"id":"a52413ca-d234-4542-8ad6-6af2041b30e3","name":"Cancelar","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"options":{"temperature":0.2}},"id":"dcb3b5cb-4720-46ff-9ca2-f4cc2b250c3d","name":"OpenAI Chat Model9","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[19504,10816],"credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"Faça os ajustes necessários no Prompt do seu agente","height":220,"width":330,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[19600,10464],"id":"44434398-db6f-4b02-a809-230403a4b4c8","name":"Sticky Note32"},{"parameters":{"sessionIdType":"customKey","sessionKey":"= {{ $json.telefone }}","tableName":"=n8n_chat_histories","contextWindowLength":8},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[19632,10816],"id":"18d8ef45-16a2-45a1-9db8-36fdeb9a6a08","name":"Postgres Chat Memory5","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"sseEndpoint":"https://marinhoinacio.app.n8n.cloud/mcp/notion-crm/sse","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[19744,10864],"id":"10865c05-0d44-40bb-9c39-4fbc72abf907","name":"MCP Client2","disabled":true},{"parameters":{"content":"## Agente de IA\nAgente inteligente com memória e prompt pré formatado","height":720,"width":1380,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[19392,10352],"id":"1ece1aa7-ffbd-4216-9872-df4ad27540b9","name":"Sticky Note34"},{"parameters":{"promptType":"define","text":"= {{ $('Webhook').item.json.body.message.conversation }}","options":{"systemMessage":"= ## 🧠 Objetivo\n\nExecutar a ferramenta `BuscaCardapio()` e exibir ao cliente todos os itens válidos retornados.\n\n---\n\n### ⚙️ Instruções obrigatórias para a IA:\n\n1. Execute a ferramenta:\nBuscaCardapio()\n\n\n2. Carregue a resposta da ferramenta como `resultado_da_BuscaCardapio`.\n\n3. Para cada item da lista **resultado_da_BuscaCardapio**, exiba exatamente as informações nos campos:\n   - `numero`\n   - `nome`\n   - `descricao`\n   - `preco_grande`\n   - `preco_medio`\n\n4. Todos os itens da lista devem ser exibidos, **sem exceção**, na ordem original.\n\n5. Não filtre, não interprete e não oculte nenhum item.  \n   **Mesmo que não seja pizza, exiba como está.**\n\n\n### 📋 Formato de exibição:\n\nUse o seguinte modelo fixo para **cada item**:\n\n🔹 (número) nome – (G) R$preco_grande / (M) R$preco_medio\n📝 Descrição: descricao\n\n "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[19632,10528],"id":"e97564cf-5632-4db8-be26-bd0eee8e085e","name":"AgenteBuscaCardapio","retryOnFail":true,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[20480,10528],"id":"93e19c37-c31c-4821-a9c4-bb764fdc27f9","name":"No Operation, do nothing13","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"47e0125e-bf62-4c8f-8335-0cc431a9855a","leftValue":"={{ Boolean(($json.status ?? '').toString().trim().toLowerCase() !== 'aberto') }}","rightValue":"aberto","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"c1c4dc73-6ee1-4e07-b916-20250b456d39","leftValue":"={{ Boolean(($json.status ?? '').toString().trim().toLowerCase() !== 'enviado') }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[12976,7888],"id":"d5353698-3112-493e-bf89-5115b3c3953e","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[19760,8192],"id":"a0c97f06-6fd3-4f5a-a8ae-b2b8fac2f841","name":"No Operation, do nothing14","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('EncontrarPedido').item.json.status }}","rightValue":"=concluido","operator":{"type":"string","operation":"equals"},"id":"cb2ab091-b3c5-4c40-a698-b2d3608bac53"}],"combinator":"and"},"renameOutput":true,"outputKey":"concluido"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"301b7994-477f-4113-9820-a9bbfa71b04e","leftValue":"={{ $('EncontrarPedido').item.json.status }}","rightValue":"endereco","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"endereco"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4f958d7a-210f-43cd-96b3-1c0b512db3fd","leftValue":"={{ $('EncontrarPedido').item.json.status }}","rightValue":"bairro","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"bairro"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aa5bb530-006a-433b-a323-40bd0903e646","leftValue":"={{ $('EncontrarPedido').item.json.status }}","rightValue":"pagamento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pagamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"15d3100a-1a3d-4b03-b63c-b34f2bfe973c","leftValue":"={{ $('EncontrarPedido').item.json.status }}","rightValue":"comentario","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"comentario"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[13232,7568],"id":"3f371b75-9d40-4a0f-8a26-16c47a3c45c7","name":"Switch2"},{"parameters":{"operation":"executeQuery","query":" UPDATE usuario_lacantina\nSET endereço = '{{ $('MensagemTraduzida').item.json.message }}'\nWHERE user_id = {{ $('Merge1').item.json.user_id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[13680,7488],"id":"1af2ba7f-7326-495d-8858-9adc3fda67e0","name":"AtualizaEndereço","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='bairro'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[15936,7744],"id":"0d1704d6-c7e5-489d-a2c9-e0c973ee3c14","name":"Execute a SQL query","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='pagamento'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[15888,7936],"id":"f2e482cb-d57f-4127-85d4-6b805ca4e3a1","name":"Execute a SQL query1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" UPDATE usuario_lacantina\nSET bairro = '{{ $('MensagemTraduzida').item.json.message }}'\nWHERE user_id = {{ $('Merge1').item.json.user_id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[13664,7696],"id":"3efc8404-3771-491b-9c4e-a796f1c05545","name":"AtualizaBairro","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" update pedido_temp set tipo_cobranca = '{{ $json.pagamento }}'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[15888,8144],"id":"659949af-f074-48e9-82db-bacbc6df57ad","name":"AtualizaFormaPagamento","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"jsCode":" // Lê a frase (usa o atual ou pega do nó \"MensagemTraduzida\")\nconst raw =\n  $json.message ??\n  ($items('MensagemTraduzida', 0, 0)[0]?.json?.message ?? '');\n\n// Normaliza texto (sem acento/ruído)\nconst clean = String(raw)\n  .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n  .toLowerCase();\n\n// Levenshtein simples para “acertar” erros de fala/ASR\nfunction lev(a, b) {\n  const m = [];\n  const al = a.length, bl = b.length;\n  for (let i = 0; i <= al; i++) { m[i] = [i]; }\n  for (let j = 1; j <= bl; j++) { m[0][j] = j; }\n  for (let i = 1; i <= al; i++) {\n    for (let j = 1; j <= bl; j++) {\n      m[i][j] = (a[i - 1] === b[j - 1])\n        ? m[i - 1][j - 1]\n        : 1 + Math.min(m[i - 1][j], m[i][j - 1], m[i - 1][j - 1]);\n    }\n  }\n  return m[al][bl];\n}\n\n// Tokens para checagens\nconst tokens = clean.replace(/[^a-z0-9 ]+/g, ' ').split(/\\s+/).filter(Boolean);\nconst has = (re) => re.test(' ' + clean + ' ');\n\n// --- Regras / sinônimos / erros comuns ---\n// PIX (inclui erros típicos de ASR: peace/peeks/pics/picks etc.)\nconst rePix = /\\b(pix|chave pix|qr|qrcode|transfer(?:encia)?|peace|peeks?|peaks?|pics?|picks?)\\b/;\n// Cartão\nconst reCard = /\\b(cartao|cartao de credito|credito|debito|card|visa|master|elo|maquininha|pos|no cartao)\\b/;\n// Dinheiro\nconst reCash = /\\b(dinheiro|cash|especie|troco|cedula|nota)\\b/;\n\n// Fuzzy para PIX (palavra curta => tolerar até distância 2)\nconst fuzzyPix = tokens.some(t => lev(t, 'pix') <= 2);\n\n// Sinais\nconst isPix = has(rePix) || fuzzyPix;\nconst isCard = has(reCard);\nconst isCash = has(reCash);\n\n// Decisão (ajuste a prioridade se quiser)\nlet pagamento = 'Cartão';\nif (isPix) pagamento = 'Pix';\nelse if (isCard) pagamento = 'Cartão';\nelse if (isCash) pagamento = 'Dinheiro';\n\nreturn {\n  ...$json,\n  pagamento,           // <- valor normalizado p/ sua constraint\n  message_raw: raw,    // (opcional) debug\n  message_clean: clean // (opcional) debug\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[13792,7888],"id":"feb0fb5b-a643-4845-88cd-b0ba8a403b02","name":"Code1"},{"parameters":{"assignments":{"assignments":[{"id":"89704beb-b90e-4a95-bafd-d7e410686c45","name":"tipo_cobranca","value":"={{ $('MensagemTraduzida').item.json.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[13616,7888],"id":"363b4a7a-0bb2-4446-b584-290f24eb9c28","name":"Edit Fields"},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='comentario'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[16096,8144],"id":"9f649fde-08d9-4df8-b0b7-66636f282a5f","name":"Execute a SQL query3","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * from finalizar_pedido(   {{ $('Merge1').item.json.user_id }}  , {{ $('ConcatenaPedido').item.json.pedido_id }} ) ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[13936,6976],"id":"013e4957-6249-43e9-9485-cac289fff4c5","name":"ConcluiPedido","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='enviado'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[18832,9424],"id":"b42f2afd-12c0-4edd-bafa-927900db732e","name":"Execute a SQL query4","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"0b4e2890-ac39-45d8-adef-ec2cf81d9a18","name":"status","value":"={{ $json.status.trim()}}","type":"string"},{"id":"03a84e54-72d2-4753-8abf-73a366f1d250","name":"pedido_id","value":"={{ $json.pedido_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[12800,8256],"id":"0d5606be-1e7b-4f17-a4cb-4df343c14def","name":"StatusPedido"},{"parameters":{"jsCode":"  // n8n Code node (Run Once for All Items)\n\n// Normaliza volume (2L etc.)\nfunction normVol(v) {\n  if (!v) return '';\n  v = String(v).trim().toLowerCase();\n  if (['un','uni','unid','unidade'].includes(v)) return '';\n  v = v\n    .replace(' litros','l').replace(' litro','l')\n    .replace('litros','l').replace('litro','l')\n    .replace(' lt','l').replace(' l','l')\n    .trim();\n  return v ? ' ' + v.toUpperCase() : '';\n}\n\n// Pega a lista de rejeitados de onde estiver (itens_rejeitados, coalesce, etc.)\nfunction getSrc(items) {\n  const j = (items[0]?.json) ?? {};\n  if (Array.isArray(j.itens_rejeitados)) return j.itens_rejeitados;\n  if (Array.isArray(j.coalesce)) return j.coalesce;\n  if (Array.isArray(j.rejeitados)) return j.rejeitados;\n  // tenta achar qualquer propriedade que seja array\n  const arrKey = Object.keys(j).find(k => Array.isArray(j[k]));\n  if (arrKey) return j[arrKey];\n  // fallback: cada item de entrada é um rejeitado\n  return items.map(i => i.json);\n}\n\nconst raw = getSrc(items) || [];\n\n// **Fix principal**: não use truthiness; use checagem por \"definido\"\nconst src = raw\n  .filter(x => x != null)\n  .map(x => (typeof x === 'object' && x !== null ? x : { numero: x }))\n  // defaults seguros\n  .map(o => ({\n    numero: (o.numero === undefined || o.numero === null || o.numero === '')\n              ? 0\n              : Number.isFinite(Number(o.numero)) ? Number(o.numero) : 0,\n    nome: (typeof o.nome === 'string' && o.nome.trim() !== '')\n              ? o.nome\n              : 'não encontrado',\n    volume: (o.volume ?? '').toString().trim(),\n  }))\n  // mantém itens que tenham pelo menos um campo \"presente\" (mesmo que 0/'não encontrado')\n  .filter(i => i.nome != null || i.numero != null);\n\nconst tem_rejeitados = src.length > 0;\n\nlet linhas = '';\nlet mensagem = '';\n\nif (tem_rejeitados) {\n  linhas = src\n    .map(i => `- ${i.nome && i.nome.trim() !== '' ? i.nome : (i.numero != null ? `Pizza ${i.numero}` : 'não encontrado')}${normVol(i.volume)}`)\n    .join('\\n');\n\n  mensagem = `📟 Seu(s) item(s) foi(ram) processado(s).✅\n❌ O seguinte item não foi reconhecido e será(ão) excluído(s):\n${linhas}\n🚫 Esse item foi ignorado e excluído do pedido.\n🔁 Corrija e reenvie esse(s) iten(s) agora.`;\n} else {\n  mensagem = `🛒 Seu(s) item(ns) foi(ram) adicionado(s) ao carrinho com sucesso ✅.`;\n\n}\n\nreturn [{ json: { mensagem, linhas, qtd: src.length, tem_rejeitados } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[26432,8800],"id":"877e3bce-ced5-4fab-8282-bd67c496c438","name":"Code3"},{"parameters":{"operation":"executeQuery","query":"   SELECT COALESCE(json_agg(sub), '[]'::json) AS  itens_rejeitados\nFROM (\n  SELECT\n    numero ,\n    quantidade,\n    categoria,\n    COALESCE(NULLIF(BTRIM(nome), ''), 'não encontrado')     AS nome,\n    COALESCE(volume, '')                                    AS volume\n  FROM item_pedido_temp \n  WHERE user_id =   {{ $('MontPedido').item.json.user_id }}  and pedido_id =  {{ $('MontPedido').item.json.pedido_id }}  \n    AND  status = 'rejeitado' and categoria <>  'borda'\n  union all SELECT\n    numero ,\n    quantidade,\n    categoria,\n    COALESCE(NULLIF(BTRIM(nome), ''), 'Borda sem pizza relacionada')     AS nome,\n    'Borda sem pizza relacionada'  AS volume\n  FROM item_pedido_temp \n  WHERE user_id =   {{ $('MontPedido').item.json.user_id }}  and pedido_id =  {{ $('MontPedido').item.json.pedido_id }}  \n    AND  status = 'rejeitado' and categoria = 'borda'\n) AS sub;\n\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[26208,8800],"id":"af26285e-0f43-40c3-884a-17a4c27a7a52","name":"Rejeite","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" SELECT rejeita_item( {{ $('MontPedido').item.json.user_id }}, {{ $('MontPedido').item.json.pedido_id }}  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[25296,8800],"id":"435cca37-cf91-46e9-93b6-3d318b6259fd","name":"RejeitaItem","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5b1ca74-f671-482f-98cf-bdd9441587c7","leftValue":"={{ $json.max_pedido_id}}","rightValue":"0","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[18096,8160],"id":"5be6b24f-2eab-4ebf-8c87-49c51f4c1bf6","name":"If3"},{"parameters":{"operation":"executeQuery","query":" \n SELECT COALESCE(MAX(pedido_id), 0)::bigint AS max_pedido_id\nFROM item_pedido_temp  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('MergePedido').item.json.pedido_id }}\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[17904,8160],"id":"68e2453b-db90-428e-8d97-7310b852e494","name":"VerificaItens","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"tableId":"comentario_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"pedido_id","fieldValue":"={{ $('ConcatenaPedido').item.json.pedido_id }}"},{"fieldId":"user_id","fieldValue":"={{ $('Merge1').item.json.user_id }} "},{"fieldId":"comentario","fieldValue":"={{ $('MensagemTraduzida').item.json.message }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[13584,8096],"id":"ccccb70a-41b0-4bec-88ef-a7dbe5256bf5","name":"CriaComentario","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='endereco'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('MergePedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[18384,8208],"id":"206fd32c-1f95-414c-a90a-e0467936651a","name":"FinalizarPedido","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[18832,8032],"id":"2132a162-09e2-4980-a837-41c9c5066671","name":"No Operation, do nothing15","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='enviado'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('MergePedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[18384,8032],"id":"3da16c53-0771-4382-bb67-fe153fc7aaa8","name":"VoltarParaItens","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" SELECT\n  '📍 Endereço:' || COALESCE(u.\"endereço\", '—')\n  || E'\\n🏘️ Bairro:  ' || COALESCE(u.bairro, '—')\n  || E'\\n💳 Pagamento:' || COALESCE(pt.tipo_cobranca, '—')\n  || E'\\n💬 Comentário:' || COALESCE(ct.comentario, '—')\n  AS mensagem\nFROM pedido_temp pt\nJOIN usuario_lacantina u\n  ON u.user_id = pt.user_id\nLEFT JOIN comentario_pedido_temp ct\n  ON ct.user_id = pt.user_id\n AND ct.pedido_id = pt.pedido_id\nWHERE\n  pt.user_id   = {{ $('Merge1').item.json.user_id }}\n  AND pt.pedido_id =  {{ $('ConcatenaPedido').item.json.pedido_id }}\nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[13792,8096],"id":"e043b6b2-7e3d-4c86-bb60-2698a58cb9d3","name":"Confirmadados","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='concluido'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[16288,8352],"id":"ddac3f86-c9b1-4c61-a7aa-e0be5da573c2","name":"Execute a SQL query5","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=  {{\n  JSON.stringify({\n    messageData: {\n      to: String($node[\"Dados Lead\"].json.IdConversa ?? \"\")\n            .replace(/\\D/g, \"\")\n            .trim(),\n      text: String(($json.mensagem ?? \"\"))\n            .replace(/\\]\\s*$/, \"\")   // remove ']' no final, se houver\n            .trim()\n    }\n  })\n}} ","options":{}},"id":"08b29287-59a0-44b8-93ad-c765e6585167","name":"RequestMenu6","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[16048,8704]},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= \n  {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"Confirma dados de *endereço* e *forma de pagamento*?\\n Digite  *1* confirma e *2* voltamos a cadastrar endereço. \"\n  }\n}","options":{}},"id":"60bc7e0a-6a38-4703-97a2-44de9795fc4d","name":"MegaApi10","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[16288,8688]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"04679e73-f2e9-4aba-990d-99dcf2768443","leftValue":"={{ $('Dados Lead').item.json.mensagem_usuario.trim() }}","rightValue":"1","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[13456,7200],"id":"7057cced-3e18-487e-818b-b50019f5d109","name":"If4"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[16192,7472],"id":"624199b0-849b-4e09-b2ee-adffd92f1525","name":"No Operation, do nothing16","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":"update pedido_temp set status ='endereco'  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[13936,7216],"id":"ff253908-5230-4f57-9546-5d9d0c7635b0","name":"FinalizarPedido1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" select calcula_pre_pedido({{ $('Merge1').item.json.user_id }}, {{ $('MergePedido').item.json.pedido_id }}  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[18208,8944],"id":"7f2dacd2-c75a-40d8-815b-e74d25041329","name":"Execute a SQL query2","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"select calcula_pre_pedido({{ $('Merge1').item.json.user_id }}, {{ $('MergePedido').item.json.pedido_id }}  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[18576,8208],"id":"7f33af50-2bce-4e4b-9805-bdfedcc30d30","name":"Execute a SQL query7","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[19344,8208],"id":"c1cd55f8-1d92-4195-b819-4cee72f0d598","name":"Wait4","webhookId":"f2e2ba32-d628-4657-aa0a-3cedc05e3647"},{"parameters":{"assignments":{"assignments":[{"id":"a8106197-1d10-438c-a9e7-07c17a8adfd0","name":"acao","value":"={{ $json.acao }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16576,9024],"id":"1ebd63c3-df18-416e-bc7e-776b70b8aca7","name":"Acao"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[16224,7744],"id":"1b023058-3308-4ef8-ae47-08b92c32d03a","name":"No Operation, do nothing17","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[16192,7936],"id":"8e00d52b-6b5d-4a08-a43c-8202f4e415ee","name":"No Operation, do nothing18","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[16528,8352],"id":"b1d840d8-c770-45f0-a327-1a12d314e404","name":"No Operation, do nothing19","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[16560,8144],"id":"3c0c5c3f-239b-4f4b-b85e-26ad86851eda","name":"No Operation, do nothing20","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[16480,7248],"id":"8f71634e-eb6c-4b36-a776-5450daccc18a","name":"Wait","webhookId":"33c5308c-6ef7-4028-8fb7-f0f46b8d615d","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6df36e53-74bd-45c5-9d92-2bb167c8b837","leftValue":"={{ $json.cancela_pre_pedido.length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[18128,7792],"id":"35bd99bc-ffed-46af-8277-6419ea683060","name":"If5"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[18688,7856],"id":"863f5700-794e-42d1-a1c7-15155bdc7075","name":"No Operation, do nothing21","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.bebidas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[20112,7952],"id":"8ae777b5-6335-4951-963c-db40db43d517","name":"Bebidas","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":" output.pizzas_fracionadas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[19888,8432],"id":"3e2d76b6-1c24-4cb9-a327-9c803d41115a","name":"Pizzas Fracionada","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.pizzas_inteiras","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[19904,8656],"id":"7b1f2d25-173c-437e-9ea5-e52f5441cb79","name":"Pizzas Inteira","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.esfirras","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[20336,9088],"id":"afe3803a-77ef-4fa8-b93a-06b63d4de7c0","name":"Esfirra","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"tipo","fieldValue":"bebida"},{"fieldId":"categoria","fieldValue":"bebida"},{"fieldId":"nome","fieldValue":"={{ $json.nome }}"},{"fieldId":"volume","fieldValue":"= {{ (($json.volume ?? '').toString().replace(/[\\s\\u00A0\\u200B-\\u200D\\uFEFF]+/g, '') === '')\n    ? ' volume desconhecido'\n    : ($json.volume ?? '').toString().replace(/[\\s\\u00A0\\u200B-\\u200D\\uFEFF]+/g, '') }}"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"},{"fieldId":"numero","fieldValue":"={{ (String($json.numero ?? '').trim() === '' \n    || Number(String($json.numero).replace(',','.').trim()) === 0)\n  ? null \n  : $json.numero }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[20352,7952],"id":"fa9059cf-c74b-49b4-b6f0-7df45d48de28","name":"Itembebida","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"categoria","fieldValue":"pizza"},{"fieldId":"fracionada","fieldValue":"true"},{"fieldId":"numero","fieldValue":"= {{ $json.metade1 }}"},{"fieldId":"numero_fracao","fieldValue":"={{ $json.metade2 }}"},{"fieldId":"tamanho","fieldValue":"grande"},{"fieldId":"fracionada","fieldValue":"true"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"},{"fieldId":"nome","fieldValue":"={{ $json.nome }}"},{"fieldId":"nome_fracao","fieldValue":"={{ $json.nome_fracao }}"},{"fieldId":"pizza_referencia","fieldValue":"={{$json.pizza_referencia.trim()}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[20080,8432],"id":"cfa01f36-f6b2-4c0a-a56e-d387d0e99cfb","name":"ItemFracionado","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"categoria","fieldValue":"pizza"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"numero","fieldValue":"={{ String($json.numero ?? '').trim() === '' ? null : $json.numero }}"},{"fieldId":"tamanho","fieldValue":"={{ $json.tamanho.toLowerCase() }}"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"},{"fieldId":"nome","fieldValue":"={{ $json.nome?.trim() === '' ? null : $json.nome }}"},{"fieldId":"pizza_referencia","fieldValue":"={{ $json.pizza_referencia }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[20112,8656],"id":"a2b21c7e-d813-4d4c-96d2-01630dd76bae","name":"ItemInteira","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.quantidade }}"},{"fieldId":"tipo","fieldValue":"bebida"},{"fieldId":"categoria","fieldValue":"esfirra"},{"fieldId":"nome","fieldValue":"={{ $json.nome?.trim() === '' ? null : $json.nome }}"},{"fieldId":"tipo","fieldValue":"={{ $json.tipo?.trim() === '' ? null : $json.tipo }}"},{"fieldId":"fracionada","fieldValue":"false"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"},{"fieldId":"numero","fieldValue":"={{ (String($json.numero ?? '').trim() === '' \n    || Number(String($json.numero).replace(',','.').trim()) === 0)\n  ? null \n  : $json.numero }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[20544,9088],"id":"cdedb70b-fbe6-4fa1-aaf5-66504a988f2d","name":"ItemEsfirra","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT atualizar_valores_itens_temp('bebida', {{ $('MontPedido').item.json.user_id }} ,{{ $('MontPedido').item.json.pedido_id }} );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[20816,7952],"id":"4746ca57-7fac-448d-b583-b82710b7d077","name":"AtualizaValorBebida","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT atualizar_valores_itens_temp('esfirra', {{ $('MontPedido').item.json.user_id }}, {{ $('MontPedido').item.json.pedido_id }});","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[21024,9088],"id":"9532e89b-8226-4088-9805-98404897bf7a","name":"AtualizaValorEsfirra","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"\n UPDATE Item_pedido_temp AS i\nSET numero = c.numero,\n    categoria = c.categoria\nFROM cardapio AS c\nWHERE \n  i.numero IS NULL\n  AND i.status = 'inicio'\n  AND c.tipo = 'bebida' and i.tipo = 'bebida'\n  AND ( LOWER(c.palavras_chave) ILIKE '%' || LOWER(i.nome) || '%'\n    AND lower(trim(c.volume)) iLIKE '%' || LOWER(trim(i.volume)) || '%'  || '%' )   and user_id = {{ $('MontPedido').item.json.user_id }}  and i.pedido_id ={{ $('MontPedido').item.json.pedido_id }};\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[20576,7952],"id":"aea4a438-0d43-43a0-b02e-07d6e20dfdfb","name":"AtualizaNumeroBebida","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" UPDATE Item_pedido_temp AS i\nSET numero = c.numero\nFROM cardapio AS c\nWHERE  i.status = 'inicio'\n  AND c.categoria  = 'esfirra' \n and  LOWER(  c.nome)   iLIKE '%' || LOWER(  i.nome) || '%' and user_id =  {{ $('MontPedido').item.json.user_id }} and i.pedido_id = {{ $('MontPedido').item.json.pedido_id }};\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[20768,9088],"id":"340e9da4-3009-4274-b6d6-4477915206af","name":"AtualizaNumeroEsfirra","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[24992,8768],"id":"c73e9ca6-8a0c-4a07-9410-b5c5a4d2768f","name":"Merge","alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT AtualizaValorFracionado( {{ $('MontPedido').item.json.user_id }} , {{ $('MontPedido').item.json.pedido_id }});","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[21040,8448],"id":"58b4f7af-ac2c-4e7f-abb3-54bad620215f","name":"AtualizaValorPizzaFracionada","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[19488,8816],"id":"7a61b773-87f2-4283-b023-d2b780bfea30","name":"Auto-fixing Output Parser","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[19392,8992],"id":"009f114a-e2e2-46cd-83fb-e7d8398499b5","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"YvUoOPijIpNeTjed","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":" {\n  \"type\": \"object\",\n  \"properties\": {\n    \"pizzas_inteiras\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"numero\": { \"type\": \"integer\" },\n          \"tamanho\": { \"type\": \"string\" },\n           \"nome\": { \"type\": \"string\" },\n           \"pizza_referencia\":  { \"type\": \"string\" }\n          \n        },\n        \"required\": [\"quantidade\", \"numero\", \"tamanho\", \"pedido_id\"]\n      }\n    },\n    \"pizzas_fracionadas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"metade1\": { \"type\": \"integer\" },\n          \"metade2\": { \"type\": \"integer\" },\n            \"nome\": { \"type\": \"string\" },\n            \"nome_fracao\": { \"type\": \"string\" },\n           \"pizza_referencia\":  { \"type\": \"string\" }\n         \n        },\n        \"required\": [\"quantidade\", \"metade1\", \"metade2\",\"pedido_id\"]\n      }\n    },\n    \"bebidas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"nome\": { \"type\": \"string\" },\n          \"volume\": { \"type\": \"string\" }\n         \n        },\n        \"required\": [\"quantidade\", \"nome\", \"volume\",\"pedido_id\"]\n      }\n    },\n    \"esfirras\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"quantidade\": { \"type\": \"integer\" },\n          \"numero\": { \"type\": \"integer\" },\n          \"nome\": { \"type\": \"string\" },\n          \"tipo\": { \"type\": \"string\" }\n        },\n        \"required\": [\"quantidade\", \"numero\", \"nome\", \"tipo\"]\n      }\n    },\n    \"bordas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"numero\": { \"type\": \"integer\" },\n          \"nome\": { \"type\": \"string\" } ,\n           \"pizza_referencia\":  { \"type\": \"string\" },\n          \"tamanho\": { \"type\": \"string\" },\n           \"pizza_pai\":  { \"type\": \"integer\" } ,\n          \"categoria\": { \"type\": \"string\" }\n         \n    },\n        \"required\": [\"numero\", \"pizza_referencia\"]\n      }\n    },\n    \"item\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": { \n          \"nome\": { \"type\": \"string\" } ,\n           \"pizza_pai\":  { \"type\": \"integer\" } \n         \n    },\n        \"required\": [\"nome\", \"pizza_pai\"]\n      }\n    }\n\n    \n  },\n  \"required\": [\n    \"pizzas_inteiras\",\n    \"pizzas_fracionadas\",\n    \"bebidas\",\n    \"esfirras\",\n    \"bordas\" \n  ]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[19536,8976],"id":"4eb5fc06-3237-425e-860a-40f8a39c8a50","name":"Structured Output Parser [Schema]1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"promptType":"define","text":"=<mensagem_do_usuario>\n{{ $json.texto_original }}\n</mensagem_do_usuario>","hasOutputParser":true,"messages":{"messageValues":[{"message":"=  {\n  \"pizzas_inteiras\": [\n    { \"quantidade\": int, \"numero\": int, \"tamanho\": str , \"nome\": str, \"pizza_referencia\": str  }   \n  ],\n  \"pizzas_fracionadas\": [\n    { \"quantidade\": int, \"metade1\": int, \"metade2\": int , \"nome\": str, \n\"nome_fracao\": str , \"pizza_referencia\": str }\n  ],\n  \"bebidas\": [\n    { \"quantidade\": int, \"nome\": str, \"volume\": str  }\n  ],\n \"esfirras\": [\n  { \"quantidade\": int, \"numero\": int, \"nome\": str, \"tipo\": str } // tipo: \"salgada\" ou \"doce\"\n  ],\n  \"bordas\": [\n    { \"numero\": int, \"nome\": str, \"pizza_referencia\": str , \"tamanho\": str, \"categoria\": str, \"pizza_pai\": int} \n\n\n\n// \"pizza_referencia\" = string que identifica a pizza onde será aplicada\n  ]\n \"item\": [\n    { \"nome\": str , \"pizza_pai\": int } //  \n  ]\n\n\n}\n\n⚠️ Regras obrigatórias:\n- Sempre retorne exatamente essas 5 listas, mesmo que estejam vazias.\n- Use apenas os nomes de campos e estrutura mostrados acima.\n- Retorne **apenas o JSON válido**, sem explicações, comentários ou texto adicional.\n\nSe o usuário informar apenas ‘pizza N’, não descarte. Gere {quantidade:1, numero:N, tamanho:'media'} em pizzas_inteiras.”\n\n“Nunca omita itens ambíguos; use defaults: quantidade=1, tamanho='media'.”\n\n“Não valide com o cardápio. A validação será feita depois; sempre retorne o item.”\n\n\"A palavra uma , duas  refere-se sempre  quantidade  exemplo uma  pizza mussarela ou uma pizza presunto e queijo é quantidade..\"\n\n\n\nPrioridade de interpretação\n\nSe houver padrões de pizza fracionada no formato {Q? 1/2 A (e|,|+|/) 1/2 B}, crie um item em pizzas_fracionadas com {quantidade: Q || 1, metade1: A, metade2: B}.\n\nNunca crie pizzas_inteiras para números A ou B quando eles estiverem dentro de um padrão fracionado.\n\nSó trate “pizza N” (inteira) quando não fizer parte de um padrão 1/2 N.  \n\nSo trate   \"pizza\" se tiver explicito que se trata de \"pizza\"\n\nSo trate   \"esfirra \" se tiver explicito que se trata de \"esfirra\"\n\n\nRegras específicas para BORDAS (muito importante):\n- Se a mensagem contiver “borda”, o texto imediatamente após a palavra “borda”\n  até antes de “ao item”, “no item”, “item”, “pizza” ou o fim da frase, é o campo \"nome\".\n- Normalize espaços e minúsculas (ex.: \"Borda   Cheddar\" → nome: \"cheddar\").\n- Sempre preencha \"categoria\":\"borda\" e \"pizza_pai\" com o número do item/pizza alvo quando presente (ex.: \"item 1\" → pizza_pai: 1).\n- Não use o campo \"item[]\"; bordas devem ir apenas em \"bordas[]\".\n- Defaults para borda quando ausentes: numero=0, tamanho=\"\", pizza_referencia=\"\".\n\n\n\nExemplos:\n\n“1 pizza 1/2 14  e 1/2 21” → pizzas_fracionadas: [{quantidade:1, metade1:14, metade2:21, nome:'', nome_fracao: '' } ]\n\n“2 1/2 10, 1/2 15” → pizzas_fracionadas: [{quantidade:2, metade1:10, metade2:15 , nome:'', nome_fracao: '' }]\n\n“14 e 21” (sem 1/2) → pizzas_inteiras: [{q:1,n:14,media},{q:1,n:21,media }]\n\n\n\n“1 pizza 1/2 mussarela  e 1/2 presunto e queijo ” → pizzas_fracionadas: [{quantidade:1, metade1:0, metade2:0, nome:mussarela, nome_fracao: presunto e queijo } ]\n\n“1 pizza meia  mussarela  e meia  presunto e queijo ” → pizzas_fracionadas: [{quantidade:1, metade1:0, metade2:0, nome:mussarela, nome_fracao: presunto e queijo } ]\n\nSe o cliente disser meia  interprete como 1/2\n\n\n \nBebidas — defaults e sinônimos (obrigatório)\n\nSe o cliente disser “lata” e não informar volume, use 350ml.\n\nSe o cliente disser “long neck” e não informar volume, use 330ml.\n\nSe o cliente pedir coca/coca-cola sem volume, use 2l.\n\nNunca rejeite bebidas por falta de volume quando se aplicar uma regra acima.\n\nNormalize o campo volume sempre em minúsculas e sem espaços (ex.: 350ml, 330ml, 2l).\n\nExemplos\n\n“3 long neck heineken” → bebidas: [{ \"quantidade\": 3, \"nome\": \"heineken\", \"volume\": \"330ml\" }]\n\n“lata bud” → bebidas: [{ \"quantidade\": 1, \"nome\": \"budweiser\", \"volume\": \"350ml\" }]\n\n“2 coca” → bebidas: [{ \"quantidade\": 2, \"nome\": \"coca cola\", \"volume\": \"2l\" }]\nPedido:\n{pedido}\n\nquando numa string de comando tiver 1 pizza musssarela  1 borda chedaar na qual o codigo da pizza não for identifica,  crie no campo   \"pizza_referencia\" uma amarração entre 1 pizza mussarela e borda   \"pizza_referencia\" pode ser um codigo unico. Isso vale tambpem para pizza fracionada \n\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[19376,8640],"id":"ecd5bb7f-39f4-46ed-a499-573c36dcc0ba","name":"Basic LLM Chain1","retryOnFail":true,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[21664,7440],"id":"89abab5d-881a-4aa8-95f2-a8cbc3602383","name":"No Operation, do nothing22","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"3f5c86ea-fcc2-4783-8210-a28ce186597d","name":"chatInput","value":"=  {{ $('MensagemTraduzida').item.json.message }}","type":"string"},{"id":"57ddce63-da48-426f-85ae-c63b16da57fa","name":"user_id","value":"={{ $('Merge1').item.json.user_id }}","type":"number"},{"id":"01f0d23c-4a6a-4f2f-b986-7acfe7c4b65b","name":"pedido_id","value":"={{ $('MergePedido').item.json.pedido_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[18896,8640],"id":"b1f071c9-5bac-4c5d-b322-1e932abae4d3","name":"MontPedido"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"item_pedido_temp","mode":"list","cachedResultName":"item_pedido_temp"},"deleteCommand":"delete","where":{"values":[{"column":"user_id","value":"= {{ $('Merge1').item.json.user_id }}"},{"column":"status","value":"rejeitado"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[17968,8944],"id":"afedf2cb-ed7b-43ec-a3ea-9f31c385b7ea","name":"ExcluiRejeitados1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"delete from  comentario_pedido_temp  WHERE \n  user_id = {{ $('Merge1').item.json.user_id }} \n  AND pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[13728,7216],"id":"12414f1e-5084-4a48-804b-3eda5c4c3ae3","name":"ExcluiComentario_temp","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[18624,8432],"id":"7a461e04-ab3f-4977-801a-51f16baf03de","name":"Wait5","webhookId":"f2e2ba32-d628-4657-aa0a-3cedc05e3647"},{"parameters":{"jsCode":" // Code node (JavaScript) — Run Once for All Items\n// Captura fracionadas e remove do texto para a LLM\n\nconst inputItems = $input.all();   // <- aqui está a correção\nconst out = [];\n\nfor (const { json } of inputItems) {\n  const raw = String(json.chatInput ?? '');\n\n  // normalização leve\n  let norm = raw\n    .toLowerCase()\n    .replace(/[–—−]/g, '-')               // hífens\n    .replace(/\\b(meia|metade)\\b/g, '1/2') // \"meia/metade\" -> 1/2\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  const fracionadas = [];\n\n  // [qtd?][x?] 1/2 A (e|,|+|/) 1/2 B  (evita confundir 2L, etc.)\n  const re = /\\b(?:(\\d+)\\s*x?\\s*)?1\\/2\\s*(\\d{1,3})(?!\\s*[a-z])\\s*(?:e|,|\\+|\\/)\\s*1\\/2\\s*(\\d{1,3})(?!\\s*[a-z])\\b/gi;\n\n  // uma passada: coleta e remove\n  let rest = norm.replace(re, (_full, q, a, b) => {\n    fracionadas.push({\n      quantidade: q ? parseInt(q, 10) : 1,\n      metade1: parseInt(a, 10),\n      metade2: parseInt(b, 10),\n    });\n    return ' ';\n  });\n\n  rest = rest.replace(/\\s+/g, ' ').trim();\n\n  out.push({\n    json: {\n      ...json,                 // preserva campos existentes (user_id, pedido_id, etc.)\n      texto_original: raw,\n      texto_limpo: rest,       // passe ESTE texto para a LLM\n      fracionadas,             // depois some com pizzas_fracionadas da LLM\n    },\n  });\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[19168,8640],"id":"e7ffc682-dd24-423b-ba9d-d30aa856399f","name":"Code2"},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"={{ $json.original }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[7216,9296],"id":"931770fa-45af-4ada-b755-9800678aa8a7","name":"Enviar texto","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"content":"## Humanizar Resposta\nQuebra de mensagens em mensagens menores e com contexto.","height":616,"width":580,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[16624,6560],"id":"d1fc3a5c-b2eb-4ab1-af16-4a8b842ffa3a","name":"Sticky Note12"},{"parameters":{"content":"Ajuste sua instância e autenficiação da Z-API","height":300,"width":230,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[17792,6944],"id":"9cb1d30f-e384-48dc-925d-eca8122a5a80","name":"Sticky Note22"},{"parameters":{"content":"## Envio das Respostas ao Usuário\nEnvio das mensagens quebradas para o usuário","height":760,"width":900,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[17600,6656],"id":"ca018727-966e-452c-afa6-c86378340f29","name":"Sticky Note13"},{"parameters":{"content":"Ajuste o Node Set com os campos relevantes fornecidos.\n","height":280,"width":2482,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3296,9312],"id":"0f277fe8-bb73-410a-9971-fd3b6194383a","name":"Sticky Note"},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= 🍕 *Bem-vindo(a) à Pizzaria La Cantina!*\nConfira nossos cardápios:\n📄  *Pizzas*:\n https://xqweduudelsukanrzekj.supabase.co/storage/v1/object/public/imagens_pizza/pixa%20(1).jfif\n\n📄 *Esfirras*:  \n https://xqweduudelsukanrzekj.supabase.co/storage/v1/object/public/imagens_pizza/cardapio%20esfirra%20(3)%20(2).jfif\n\n\nVamos começar seu pedido!\n\n","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[17920,9968],"id":"ab371a29-58f2-4393-aee9-069409354de5","name":"MenuCardapio","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=``` 🍕 Vamos começar o seu pedido?\nVeja como você pode digitar corretamente os itens que deseja:\n✅ Exemplos válidos:\n- Pizza 17 grande com borda de catupiry\n- Pizza 12 média  e uma 14 grande e uma Coca-Cola 2L\n- Pizza 14 grande 1/2 18 e 1/2 22\n\n Assista \n Video 1 youtube:\n https://www.youtube.com/watch?v=3qEcTRINRRI\n Video 2 youtube\nhttps://www.youtube.com/watch?v=MKVI2r1B9fI\n\n📝 Dica: Você pode digitar tudo em uma única frase, como:\n- \"Quero uma pizza 17 grande com borda cheddar e uma Coca 2L e  Pizza 14 grande 1/2 18 e 1/2 22\"\n Quando quiser, é só me enviar seu pedido!```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[17936,9776],"id":"5b67ea39-7a5b-47b6-9207-55daf6d2f9ae","name":"MenuCardapio2","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= 🗑️ {{ $('Dados Lead').item.json.LeadNome }}, o seu pedido foi *cancelado* com sucesso.\nSe quiser começar um *novo pedido*, estou por aqui!\n📞 O telefone para atendimento humanizado é *(16) 99406-6336*","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[17984,10288],"id":"9305d9d1-25b6-4b25-b0f1-ec7aee799ecf","name":"MenuCardapio3","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= {{ $json.output.replace(/\\n/g, '\\n') }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[19984,10528],"id":"621a0fa9-1902-439e-be83-6ad9516652e8","name":"MenuCardapio4","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=```4-Concluir\n5-Consultar\n6-Cancelar \n7-Detalhar\nExcluir Item\nIncluir Itens```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[20224,10528],"id":"575668a5-4d22-4608-8576-f14d34f0b211","name":"MenuCardapio5","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=O seu *pedido ou comando* não foi identificado.\nVocê quiz dizer ? {{ $('MensagemTraduzida').item.json.message }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[18624,9232],"id":"94f230cf-4bbb-4312-bfaf-578395958b32","name":"MenuCardapio6","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=😀 Olá, seja bem-vindo(a) ao atendimento digital da *La Cantina*.\n🕗 Nosso horário de atendimento é de *TERÇA a DOMINGO* das *18:00h às 23:00h*.\n⚠️ Caso queira atendimento *Humanizado* digite *8*. Caso contrário, continue neste atendimento.\n👉 Digite o número das opções abaixo para o que deseja solicitar.\n🍕 É rapidinho 🚀 já estou enviando o *Cardápio*, aguarde... 📤","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[18640,9424],"id":"4c8a2c7b-b59c-4e58-abe4-a20ebad0e719","name":"MenuCardapio7","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=🍕 *Bem-vindo(a) à Pizzaria La Cantina!*\nConfira nossos cardápios:\n📄 *Pizzas*: http://bit.ly/46zTglu\n📄 *Esfirras*: https://bit.ly/4fcO5Km\nVamos começar seu pedido!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[19008,9424],"id":"c3b65556-31d1-4675-815e-f22ad9a2b373","name":"MenuCardapio8","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=🧾 *Escolha uma opção abaixo:*\n1️⃣ *Adicionar itens ao pedido*\n2️⃣  *Ver instruções para pedir corretamente*\n*Responda com 1 ou  2  para continuar.*","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[19392,9424],"id":"fd8cf776-f3fd-4617-abed-c08d85a7e404","name":"MenuCardapio9","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"={{ $json.texto_alinhado }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[18608,8944],"id":"948e730c-587b-4c62-ba0d-6910a2d2bdac","name":"MenuCardapio10","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"={{ $json.original }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[19024,8944],"id":"05ff607b-70d1-40fb-bd24-a34fd282bd93","name":"MenuCardapio11","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"= {{$('Dados Lead').first().json.IdConversa}}\n","messageText":"=``` {{ JSON.stringify($('Code3').first().json.mensagem).replace(/\\\\n/g, '\\n')  }}```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[26640,8800],"id":"121503a5-b710-48a0-bd4e-e60af7b98882","name":"MenuCardapio12","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=```👌 Execelente vamos adicionar novos itens? \n      Quer um exemplo? \n      1 pizza 19 grande, uma 1/2 14 e 1/2  21 e uma guarana antartica 2l e 3 esfirras carne.```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[18400,8432],"id":"15f51ec7-5b1f-419c-8671-ddecbcf18177","name":"MenuCardapio14","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=``` ⏳ Processando...  ```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[18672,8640],"id":"6f7ee2e7-5b63-47ce-8232-3b4254de09ac","name":"MenuCardapio15","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"={{ $json.calcula_pre_pedido.replace(/\\n/g, '\\n') }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[18912,7728],"id":"a4c1b41a-fd2f-441d-989c-9e1df198a89f","name":"MenuCardapio18","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=\"📍 Informe o endereço e número para a entrega:\" ","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[19536,8192],"id":"fdaa7800-f2a9-4111-8b8e-d3625677f9eb","name":"MenuCardapio19","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= \n✨ Estamos *Finalizando* ✨\n\n⏭️ Próximo passo: informar\n📍 *Endereço*\n🏘️ *Bairro da entrega*\n💳 *Forma de Pagamento*\n✍️ *Comentários* ou 🙅‍♀️ *Restrições*","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[19152,8208],"id":"c70e7020-ddb0-41d3-b5cf-318fa46a0c7d","name":"MenuCardapio20","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=Não encontramos nenhum item no seu pedido. \nDigite *5* para *consultar*.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[18592,8032],"id":"3728ca60-7d4a-4259-a633-ffd175104d6f","name":"MenuCardapio21","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= 🧾 *Escolha uma opção abaixo:*\n       *1.* Adicionar itens ao pedido.\n       *2.* Ver instruções para pedir corretamente.\n       *3.* Ver cardápio completo\n       *4.* Concluir pedido.\n       *5.* Consultar pedido atual.\n       *6.* Cancelar pedido.\n       *7.* Detalhar itens do pedido.\n       * Escolha* uma opção para continuar.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[17888,7520],"id":"48ee0b4d-5248-4f5b-82eb-9aaed470cf99","name":"MenuCardapio22","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= 🗑️ {{ $('Dados Lead').item.json.LeadNome }}, o seu pedido foi cancelado com sucesso. Vamos começar um novo pedido!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[18400,7664],"id":"6be0c483-63dd-4310-b45b-cceeb43ae28d","name":"MenuCardapio23","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= 🗑️ {{ $('Dados Lead').item.json.LeadNome }}, não encontratmos dados a ser excluido. Vamos começar um novo pedido!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[18416,7856],"id":"2d302ecd-f75e-4422-b315-edcdd0d117cd","name":"MenuCardapio24","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=Confirme os  dados de *endereço* e *forma de pagamento*.\n*1* ✅ Confirmar  \n*2* ↩️ Voltar aendereço.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[16064,8352],"id":"0ba859d6-39f7-4343-afe8-09bcd9cf32e7","name":"MenuCardapio25","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"={{ $json.mensagem }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[14016,8096],"id":"8fec1bdd-5cdb-4d1e-8185-080bc53d72e0","name":"MenuCardapio26","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= Algum comentário ou restrição ao seu pedido? ","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[16352,8144],"id":"8a272060-e736-40ec-8556-e0db0dd4c725","name":"MenuCardapio27","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= 💳 Como será o pagamento? Pode ser Pix, Cartão ou Dinheiro?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[13856,7680],"id":"521b9734-051f-4af7-b931-76a3769eee9a","name":"MenuCardapio28","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= Qual é o bairro da entrega?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[13888,7488],"id":"ae73b015-96d5-4064-bf1c-43a329f0fd91","name":"MenuCardapio29","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= 🏍️Por favor, informe o endereço e número para a entrega:","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[15984,7472],"id":"7a1df9b0-d244-4680-b175-e326d51098d3","name":"MenuCardapio30","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= {{ $json.finalizar_pedido.replace(/\\n/g, '\\n') }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[16288,7104],"id":"8d59b114-c371-463c-975f-b0538f8b57a6","name":"MenuCardapio31","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"= Estamos encerrando seu chamado.\nMuito Obrigado!!\n© 2025 Luis Gustavo Landucci — Right by LG","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[16688,7248],"id":"77db9aa1-1af2-4255-9a0f-3dc4e6c8ce43","name":"MenuCardapio32","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"operation":"executeQuery","query":" UPDATE public.pedido_temp p\nSET \n  valor  = COALESCE((\n    SELECT SUM(i.valor)\n    FROM public.item_pedido_temp i\n    WHERE i.user_id = p.user_id\n      AND i.pedido_id = p.pedido_id\n  ), 0) + 3\nWHERE p.user_id  = {{ $('Merge1').item.json.user_id }}\n  AND p.pedido_id = {{ $('ConcatenaPedido').item.json.pedido_id }};\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[13728,6976],"id":"a5209227-91d4-40db-95f2-fe1c25bf3cb9","name":"AtualizaSumPedidoTemp","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"66a91f66-e755-4120-b22f-44c814f56162","name":"message","value":"={{ $json.comando }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6896,9296],"id":"aff1312f-8b24-4b93-8967-4b8f65ee031d","name":"MensagemTraduzida","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"={{ $json.original }} ","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[7568,9312],"id":"0ff61d1f-8e48-48c5-a9a8-6931ccd3dc67","name":"MenuCardapio33","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"jsCode":" const stripSpecials = (s) => {\n  if (s == null) return '';\n  return String(s)\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^A-Za-z0-9 ]+/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n};\n\nconst normalizePayment = (s) => {\n  const t = stripSpecials(s).toLowerCase();\n  if (/\\bpix\\b/.test(t)) return 'Pix';\n  if (/(dinheiro|cash|especie|a vista)/.test(t)) return 'Dinheiro';\n  if (/(cartao|cartão|credito|crédito|debito|débito|maquininha|pos|card)/.test(t)) return 'Cartão';\n  return 'Cartão';\n};\n\nconst out = [];\nfor (const item of $input.all()) {\n  const msg = item.json?.message ?? '';\n  out.push({\n    json: {\n      ...item.json,\n      message_clean: stripSpecials(msg),\n      pagamento: normalizePayment(msg),\n    }\n  });\n}\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[12880,7760],"id":"8a12a451-e18c-498c-b4e0-00dcb854f00d","name":"Code"},{"parameters":{"operation":"executeQuery","query":"SELECT atualizar_valores_itens_temp('pizza', {{ $('MontPedido').item.json.user_id }} ,{{ $('MontPedido').item.json.pedido_id }} );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[21104,8848],"id":"017e3829-9a15-4e75-a1ff-6ba74f28f025","name":"AtualizaValorPizza","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"= https://apinocode01.megaapi.com.br/rest/sendMessage/megacode-MyrBo2u0n7N/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"application/json"},{"name":"Authorization","value":"Bearer MyrBo2u0n7N"}]},"sendBody":true,"specifyBody":"json","jsonBody":"= {\n  \"messageData\": {\n    \"to\": \"{{ $('Dados Lead').item.json.IdConversa }}\",\n    \"text\": \"Não encontramos nenhum item no seu pedido. Digite *5* para *consultar*.\" \n  }\n}","options":{}},"id":"e104137e-2466-40b3-bfa4-6806e69f21aa","name":"MsgRejeitaFinalizar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[19152,7744]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ae4be07a-6ffe-4e1f-ba64-89d835e7a71d","leftValue":"={{ parseInt($json.count, 10) }}","rightValue":1,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[20496,8656],"id":"0cf7fa14-0e48-4765-9889-31e437f815c7","name":"If6"},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"=  {{$('Dados Lead').first().json.IdConversa}}","messageText":"={{$json.mensagem}}\n","options_message":{"delay":4}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[21392,8640],"id":"e92c0189-e04d-4371-af9f-3f6545a97c8f","name":"MenuCardapio34","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"operation":"executeQuery","query":"   SELECT {{ $json.user_id }} user_id, {{ $json.pedido_id }} pedido_id ,* FROM busca_cardapio( ( SELECT string_agg(num, ', ')\n \n  FROM ( select  distinct c.numero::text AS num\nFROM item_pedido_temp AS i\nJOIN cardapio AS c\n  ON c.categoria = 'pizza'\n-- nome do cardápio contém o nome do item (case-insensitive)\n AND c.nome ILIKE '%' || i.nome || '%'\nWHERE i.status = 'inicio'\n  AND i.user_id   =  {{ $json.user_id }}\n  AND i.pedido_id =  {{ $json.pedido_id }}\n  AND i.numero = 0  )) )  order by nome \n\n ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[20880,8640],"id":"b627fc1e-4960-4ab0-9241-b9977631c8b2","name":"VariasPizza","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[22304,8640],"id":"77e73448-7185-4095-bbce-d9b21938a356","name":"No Operation, do nothing23","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"01c2c18a-5148-4c7d-b5cd-72c66d6595a5","leftValue":"={{ $('ConcatenaPedido').item.json.status }}","rightValue":"aberto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[15904,9120],"id":"07fde8ae-0e52-4f66-8695-1362a8cd8d41","name":"If7"},{"parameters":{"jsCode":"  return [\n  {\n   \"acao\" : \"desconhecida\"// ou o campo correto de saída\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[16144,9024],"id":"3ad9163e-2564-4c04-87b4-266bad923a21","name":"MsgUsuario1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[16384,9040],"id":"3e2e939e-07e7-45ea-b840-7b1ef75dbcab","name":"Merge2"},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"= {{$('Dados Lead').first().json.IdConversa}}\n","messageText":"=\n```Segue acima ⬆ nossas opções.\n\nEscolha uma e reenvie seu pedido.```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[21760,8640],"id":"3b6d2170-8202-4b8e-bb7b-56ab5a598ba8","name":"MenuCardapio35","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"operation":"executeQuery","query":" UPDATE Item_pedido_temp AS i\nSET numero = c.numero\nFROM cardapio AS c\nWHERE  i.status = 'inicio'\n  AND c.categoria  = 'pizza' \n and  LOWER(  c.nome)   iLIKE '%' || LOWER(  i.nome) || '%' and user_id =  {{ $('MontPedido').item.json.user_id }} and i.pedido_id = {{ $('MontPedido').item.json.pedido_id }} and i.numero = 0 ;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[20736,8848],"id":"c7280dc7-1603-4073-ba61-ccd31ac481bf","name":"PizzaPorNome","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" UPDATE Item_pedido_temp AS i\nSET numero = c.numero\nFROM cardapio AS c\nWHERE  i.status = 'inicio'\n  AND c.categoria  = 'pizza' \n and    c.nome    iLIKE '%' ||    i.nome  || '%' and user_id =  {{ $('MontPedido').item.json.user_id }} and i.pedido_id = {{ $('MontPedido').item.json.pedido_id }} and i.numero = 0 and i.item_id = {{ $('ItemFracionado').item.json.item_id }} ;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[20656,8448],"id":"562ba343-9a90-44be-8556-7e5236469c12","name":"PizzaPorNome1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" UPDATE Item_pedido_temp AS i\nSET numero_fracao = c.numero\nFROM cardapio AS c\nWHERE  i.status = 'inicio'\n  AND c.categoria  = 'pizza' \n and  LOWER(  c.nome)   iLIKE '%' || LOWER(  i.nome_fracao) || '%' and user_id =  {{ $('MontPedido').item.json.user_id }} and i.pedido_id = {{ $('MontPedido').item.json.pedido_id }} and i.numero_fracao = 0 ;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[20848,8448],"id":"dd201713-7328-40c3-8e83-00477588b35d","name":"PizzaPorNome2","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"jsCode":" const raw = ($json.calcula_pre_pedido || \"\").replace(/\\r\\n/g, \"\\n\");\nconst txt = raw.trim();\n\nif (!txt) {\n  return { texto_alinhado: \"não existe registro\" };\n}\n\nconst lines = txt.split(\"\\n\").map(l => l.trimEnd());\n\n// Se não tiver \"Resumo:\", devolve o corpo original\nconst start = lines.findIndex(l => /resumo:/i.test(l));\nif (start === -1) {\n  return { texto_alinhado: txt };\n}\n\nlet end = lines.findIndex((l, i) => i > start && (\n  /forma de pagamento/i.test(l) || /entrega:/i.test(l) || /total:/i.test(l) || /total de itens/i.test(l)\n));\nif (end === -1) end = lines.length;\n\nconst header = lines.slice(0, start + 1);\nconst itemLines = lines.slice(start + 1, end).filter(l => l.trim());\nconst footer = lines.slice(end);\n\n// ---- parsing ajustado ----\nconst parsed = itemLines.map(line => {\n  const match = line.match(/(R\\$\\s*[\\d\\.,]+)$/);\n  if (!match) return { num: \"\", desc: line.trim(), valor: \"\" };\n\n  const valor = match[1].replace(\"R$\", \"\").trim();\n  const left = line.slice(0, match.index).trim();\n\n  // captura do número inicial (ex: (1) Nome ...)\n  const numMatch = left.match(/^\\((\\d+)\\)\\s*(.*)$/);\n  let num = \"\", desc = left;\n  if (numMatch) {\n    num = numMatch[1];\n    desc = numMatch[2].trim();\n  }\n\n  return { num, desc, valor };\n});\n\nconst maxNum = parsed.reduce((m, o) => Math.max(m, o.num.length), 0);\nconst maxDesc = parsed.reduce((m, o) => Math.max(m, o.desc.length), 0);\n\n// monta itens alinhados com cabeçalho\nconst itensAlinhados = [\n  \"Item \".padEnd(maxNum + 2, \" \") +\n  \"Descrição\".padEnd(maxDesc + 4, \" \") +\n  \"Valor\"\n];\n\nparsed.forEach(o => {\n  itensAlinhados.push(\n    o.num.padEnd(maxNum + 2, \" \") +\n    o.desc.padEnd(maxDesc + 4, \" \") +\n    \"R$ \" + o.valor\n  );\n});\n\n// ---- corpo final ----\nconst corpo = [\n  ...header,\n  ...itensAlinhados,\n  ...footer\n].join(\"\\n\");\n\nreturn { texto_alinhado: \"```\\n\" + corpo + \"\\n```\" };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[18400,8944],"id":"5ae4ff49-4673-44d7-a0c8-b6d7ff6c1a78","name":"Code5"},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"={{ $json.texto_alinhado }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[18960,8208],"id":"09171e86-9fce-4a0f-8c32-c6b6a540107b","name":"MenuCardapio37","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"jsCode":" const raw = $json.calcula_pre_pedido || \"\";\nconst txt = raw.replace(/\\r\\n/g, \"\\n\");\nconst lines = txt.split(\"\\n\").map(l => l.trimEnd());\n\n// Identifica onde começa e termina a lista de itens\nconst start = lines.findIndex(l => /resumo:/i.test(l));\nlet end = lines.findIndex((l, i) => i > start && (\n  /forma de pagamento/i.test(l) || /entrega:/i.test(l) || /total:/i.test(l) || /total de itens/i.test(l)\n));\nif (end === -1) end = lines.length;\n\n// Cabeçalho = tudo até \"Resumo:\"\nconst header = start >= 0 ? lines.slice(0, start + 1) : [];\n// Itens = linhas entre \"Resumo:\" e \"Forma de pagamento\"\nconst itemLines = (start >= 0 ? lines.slice(start + 1, end) : []).filter(l => l.trim());\n// Rodapé = o resto\nconst footer = lines.slice(end);\n\n// --- Alinhamento dos itens ---\nconst parsed = itemLines.map(line => {\n  const match = line.match(/(R\\$\\s*[\\d\\.,]+)$/); // pega último R$ e valor\n  if (!match) return { desc: line, valor: \"\" };\n\n  const valor = match[1].replace(\"R$\", \"\").trim();\n  const desc = line.slice(0, match.index).trim();\n\n  return { desc, valor };\n});\n\nconst maxDesc = parsed.reduce((m, o) => Math.max(m, o.desc.length), 0);\n\nconst itensAlinhados = parsed.map(o =>\n  o.desc.padEnd(maxDesc + 2, \" \") + \"R$ \" + o.valor\n);\n\n// --- Monta saída final ---\nconst corpo = [\n  ...header,\n  ...itensAlinhados,\n  ...footer\n].join(\"\\n\");\n\nreturn {\n  texto_alinhado: \"```\\n\" + corpo + \"\\n```\"\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[18784,8208],"id":"ae33eaa8-95cd-4427-90e3-549c3153f24a","name":"Code6"},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"={{ $json.texto_alinhado }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[16160,7248],"id":"7a4aaac9-c3d0-4ab2-9811-7b7d915a45f5","name":"MenuCardapio38","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"jsCode":" const raw = $json.finalizar_pedido || \"\";\nconst txt = raw.replace(/\\r\\n/g, \"\\n\");\nconst lines = txt.split(\"\\n\").map(l => l.trimEnd());\n\n// Identifica onde começa e termina a lista de itens\nconst start = lines.findIndex(l => /resumo:/i.test(l));\nlet end = lines.findIndex((l, i) => i > start && (\n  /forma de pagamento/i.test(l) || /entrega:/i.test(l) || /total:/i.test(l) || /total de itens/i.test(l)\n));\nif (end === -1) end = lines.length;\n\n// Cabeçalho = tudo até \"Resumo:\"\nconst header = start >= 0 ? lines.slice(0, start + 1) : [];\n// Itens = linhas entre \"Resumo:\" e \"Forma de pagamento\"\nconst itemLines = (start >= 0 ? lines.slice(start + 1, end) : []).filter(l => l.trim());\n// Rodapé = o resto\nconst footer = lines.slice(end);\n\n// --- Alinhamento dos itens ---\nconst parsed = itemLines.map(line => {\n  const match = line.match(/(R\\$\\s*[\\d\\.,]+)$/); // pega último R$ e valor\n  if (!match) return { desc: line, valor: \"\" };\n\n  const valor = match[1].replace(\"R$\", \"\").trim();\n  const desc = line.slice(0, match.index).trim();\n\n  return { desc, valor };\n});\n\nconst maxDesc = parsed.reduce((m, o) => Math.max(m, o.desc.length), 0);\n\nconst itensAlinhados = parsed.map(o =>\n  o.desc.padEnd(maxDesc + 2, \" \") + \"R$ \" + o.valor\n);\n\n// --- Monta saída final ---\nconst corpo = [\n  ...header,\n  ...itensAlinhados,\n  ...footer\n].join(\"\\n\");\n\nreturn {\n  texto_alinhado: \"```\\n\" + corpo + \"\\n```\"\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[15984,7248],"id":"10ed0ed7-dcac-4146-8af2-0c080f3c6b41","name":"Code7"},{"parameters":{"jsCode":" // ===== Emojis =====\nconst HDR_EMOJI  = '🔹';\nconst DESC_EMOJI = '📝';\n\n// -------- Helpers --------\nfunction toNum(x) {\n  if (typeof x === 'number' && isFinite(x)) return x;\n  if (x == null) return 0;\n  const s = String(x).replace(/[^\\d,.-]/g, '').replace(/\\.(?=\\d{3}(?:\\D|$))/g, '').replace(',', '.');\n  const n = Number(s);\n  return isFinite(n) ? n : 0;\n}\nfunction moneyTrim(n) {\n  const s = toNum(n).toFixed(2).replace(/(\\.\\d*?)0+$/, '$1').replace(/\\.$/, '');\n  return s;\n}\nfunction clean(txt) {\n  return String(txt || '')\n    .replace(/\\uFFFD/g, '')\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g,'')\n    .replace(/\\s*-\\s*/g, ' - ')\n    .replace(/[ \\t]+/g, ' ')\n    .trim();\n}\nconst bold = s => `*${s}*`;\n\n// -------- Entrada --------\nconst items = $input.all();\nlet rows = [];\nif (items.length > 1) rows = items.map(i => i.json);\nelse {\n  let p = items?.[0]?.json ?? {};\n  if (p && typeof p === 'object' && 'result' in p) p = p.result;\n  rows = Array.isArray(p) ? p : (p && typeof p === 'object' ? [p] : []);\n}\n\n// -------- Saída formatada --------\nconst lines = rows.map(r => {\n  const numero = r.numero ?? r.id ?? r.code ?? '';\n  const nome   = clean(r.nome ?? r.name ?? 'Item');\n  const desc   = clean(r.descricao ?? r.description ?? '');\n\n  const g = r.preco_grande ?? r.precoG ?? r.preco_g;\n  const m = r.preco_media  ?? r.precoM ?? r.preco_m;\n\n  const parts = [];\n  if (g != null && g !== '') parts.push(`(G) R$${moneyTrim(g)}`);\n  if (m != null && m !== '') parts.push(`(M) R$${moneyTrim(m)}`);\n  const precoStr = parts.join(' / ') || 'R$0';\n\n  const header = `${HDR_EMOJI} ${ bold(`(${numero})` )} ${nome} – ${bold(precoStr)}`;\n  const body   = `${DESC_EMOJI} Descrição: ${desc || '-'}`;\n\n  return `${header}\\n${body}`;\n});\n\n return [{\n  json: {\n    descricao: lines.join('\\n\\n'),\n    user_id: $json.user_id ?? null,\n    pedido_id: $json.pedido_id ?? null\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[21056,8640],"id":"3311a5b8-45ab-412b-b362-295eed56a5d7","name":"VariasPizzas"},{"parameters":{"operation":"executeQuery","query":" delete from item_pedido_temp\nWHERE status = 'inicio'\n  AND user_id =  {{ $('VariasPizzas').item.json.user_id }}\n  AND pedido_id =  {{ $('VariasPizzas').item.json.pedido_id }}\n  AND numero = 0","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[21584,8640],"id":"9716ce23-7c92-4336-b1b8-2b87c414f5bd","name":"Execute a SQL query8","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2ccd2edc-b6f1-47e7-8f29-1ac7959cb984","name":"user_id","value":"={{ $('MontPedido').item.json.user_id }}","type":"number"},{"id":"ec41ebcb-bf51-49dc-812f-15711f037dfb","name":"pedido_id","value":"={{ $('MontPedido').item.json.pedido_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[20704,8640],"id":"05280d59-3128-4f97-a290-57d132f61623","name":"MontaPedido2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ae4be07a-6ffe-4e1f-ba64-89d835e7a71d","leftValue":"={{ $json.total1 }}","rightValue":1,"operator":{"type":"number","operation":"gt"}},{"id":"978e169a-dad7-4606-a9d5-c59bb0e0f536","leftValue":"={{ $json.total2 }}","rightValue":1,"operator":{"type":"number","operation":"gt"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[20416,8432],"id":"f622befe-6fb1-45b5-a87e-80d790f882ed","name":"If9"},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"=  {{$('Dados Lead').first().json.IdConversa}}","messageText":"={{ $json.descricao }}","options_message":{"delay":4}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[21200,8256],"id":"e80d7ddb-ebde-45d9-af33-d04ec86a53ff","name":"MenuCardapio41","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"operation":"executeQuery","query":"   SELECT {{ $json.item_id }}  item_id, {{ $json.user_id }} user_id, {{ $json.pedido_id }} pedido_id ,* FROM busca_cardapio( ( SELECT string_agg(num, ', ')\n \n  FROM ( select  distinct c.numero::text AS num\nFROM item_pedido_temp AS i\nJOIN cardapio AS c\n  ON c.categoria = 'pizza'\n-- nome do cardápio contém o nome do item (case-insensitive)\n AND c.nome ILIKE '%' || i.nome || '%'\nWHERE i.status = 'inicio'\n  AND i.user_id   =  {{ $json.user_id }}\n  AND i.pedido_id =  {{ $json.pedido_id }}\n  AND i.numero = 0 and i.fracionada = true and i.item_id = {{ $('ItemFracionado').item.json.item_id }} )) )    \n union all \n   SELECT {{ $json.item_id }}  item_id, {{ $json.user_id }} user_id, {{ $json.pedido_id }} pedido_id ,* FROM busca_cardapio( ( SELECT string_agg(num, ', ')\n \n  FROM ( select  distinct c.numero::text AS num\nFROM item_pedido_temp AS i\nJOIN cardapio AS c\n  ON c.categoria = 'pizza'\n-- nome do cardápio contém o nome do item (case-insensitive)\n AND c.nome ILIKE '%' || i.nome_fracao || '%'\nWHERE i.status = 'inicio'\n  AND i.user_id   =  {{ $json.user_id }}\n  AND i.pedido_id =  {{ $json.pedido_id }}\n  AND i.numero = 0 and i.fracionada = true   and i.item_id = {{ $('ItemFracionado').item.json.item_id }} and i.numero_fracao = 0 )) )  \n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[20864,8256],"id":"c027f9b0-c146-4e1e-8b55-9329d43da139","name":"VariasPizza2","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"= {{$('Dados Lead').first().json.IdConversa}}\n","messageText":"=\nSegue acima ⬆ nossas opções.\n\nEscolha uma e reenvie seu pedido.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[21584,8256],"id":"5e07ae1d-a314-4374-92b2-7c821f4dbd39","name":"MenuCardapio42","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"jsCode":" // ===== Emojis =====\nconst HDR_EMOJI  = '🔹';\nconst DESC_EMOJI = '📝';\n\n// -------- Helpers --------\nfunction toNum(x) {\n  if (typeof x === 'number' && isFinite(x)) return x;\n  if (x == null) return 0;\n  const s = String(x).replace(/[^\\d,.-]/g, '').replace(/\\.(?=\\d{3}(?:\\D|$))/g, '').replace(',', '.');\n  const n = Number(s);\n  return isFinite(n) ? n : 0;\n}\nfunction moneyTrim(n) {\n  const s = toNum(n).toFixed(2).replace(/(\\.\\d*?)0+$/, '$1').replace(/\\.$/, '');\n  return s;\n}\nfunction clean(txt) {\n  return String(txt || '')\n    .replace(/\\uFFFD/g, '')\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g,'')\n    .replace(/\\s*-\\s*/g, ' - ')\n    .replace(/[ \\t]+/g, ' ')\n    .trim();\n}\nconst bold = s => `*${s}*`;\n\n// -------- Entrada --------\nconst items = $input.all();\nlet rows = [];\nif (items.length > 1) rows = items.map(i => i.json);\nelse {\n  let p = items?.[0]?.json ?? {};\n  if (p && typeof p === 'object' && 'result' in p) p = p.result;\n  rows = Array.isArray(p) ? p : (p && typeof p === 'object' ? [p] : []);\n}\n\n// -------- Saída formatada --------\nconst lines = rows.map(r => {\n  const numero = r.numero ?? r.id ?? r.code ?? '';\n  const nome   = clean(r.nome ?? r.name ?? 'Item');\n  const desc   = clean(r.descricao ?? r.description ?? '');\n\n  const g = r.preco_grande ?? r.precoG ?? r.preco_g;\n  const m = r.preco_media  ?? r.precoM ?? r.preco_m;\n\n  const parts = [];\n  if (g != null && g !== '') parts.push(`(G) R$${moneyTrim(g)}`);\n  if (m != null && m !== '') parts.push(`(M) R$${moneyTrim(m)}`);\n  const precoStr = parts.join(' / ') || 'R$0';\n\n  const header = `${HDR_EMOJI} ${bold(`(${numero})`)} ${nome} – ${bold(precoStr)}`;\n  const body   = `${DESC_EMOJI} Descrição: ${desc || '-'}`;\n\n  return `${header}\\n${body}`;\n});\n\n return [{\n  json: {\n    descricao: lines.join('\\n\\n'),\n    user_id: $json.user_id ?? null,\n    pedido_id: $json.pedido_id ?? null,\n    item_id: $json.item_id ?? null\n    \n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[21024,8256],"id":"34c2204b-ca5f-4893-be97-fc7f58b9033d","name":"VariasPizzas2"},{"parameters":{"operation":"executeQuery","query":"update  item_pedido_temp\nset  status = 'rejeitado'\n  where  user_id =  {{ $('VariasPizzas2').item.json.user_id }}\n  AND pedido_id =  {{ $('VariasPizzas2').item.json.pedido_id }}\n  AND numero = 0  and item_id =   {{ $('VariasPizzas2').item.json.item_id }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[21392,8256],"id":"ca551896-44ca-442f-a4ee-c28a8c8a6946","name":"Execute a SQL query11","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2ccd2edc-b6f1-47e7-8f29-1ac7959cb984","name":"user_id","value":"={{ $('MontPedido').item.json.user_id }}","type":"number"},{"id":"ec41ebcb-bf51-49dc-812f-15711f037dfb","name":"pedido_id","value":"={{ $('MontPedido').item.json.pedido_id }}","type":"number"},{"id":"48e2bd71-6c92-487a-805c-26c821b0a48a","name":"item_id","value":"={{ $('ItemFracionado').item.json.item_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[20528,8256],"id":"3a6ed42f-7dd3-4a97-932e-61dca85fc70a","name":"MontaPedido3"},{"parameters":{"jsCode":" // Define função global de formatação\nglobal.formatText = function(str, style = \"bold\") {\n  const normal = \"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789\";\n\n  const bold = \"𝐀𝐁𝐂𝐃𝐄𝐅𝐆𝐇𝐈𝐉𝐊𝐋𝐌𝐍𝐎𝐏𝐐𝐑𝐒𝐓𝐔𝐕𝐖𝐗𝐘𝐙\" +\n               \"𝐚𝐛𝐜𝐝𝐞𝐟𝐠𝐡𝐢𝐣𝐤𝐥𝐦𝐧𝐨𝐩𝐪𝐫𝐬𝐭𝐮𝐯𝐰𝐱𝐲𝐳\" +\n               \"𝟎𝟏𝟐𝟑𝟒𝟓𝟔𝟕𝟖𝟗\";\n\n  const italic = \"𝐴𝐵𝐶𝐷𝐸𝐹𝐺𝐻𝐼𝐽𝐾𝐿𝑀𝑁𝑂𝑃𝑄𝑅𝑆𝑇𝑈𝑉𝑊𝑋𝑌𝑍\" +\n                 \"𝑎𝑏𝑐𝑑𝑒𝑓𝑔ℎ𝑖𝑗𝑘𝑙𝑚𝑛𝑜𝑝𝑞𝑟𝑠𝑡𝑢𝑣𝑤𝑥𝑦𝑧\" +\n                 \"0123456789\";\n\n  const monospace = \"𝙰𝙱𝙲𝙳𝙴𝙵𝙶𝙷𝙸𝙹𝙺𝙻𝙼𝙽𝙾𝙿𝚀𝚁𝚂𝚃𝚄𝚅𝚆𝚇𝚈𝚉\" +\n                    \"𝚊𝚋𝚌𝚍𝚎𝚏𝚐𝚑𝚒𝚓𝚔𝚕𝚖𝚗𝚘𝚙𝚚𝚛𝚜𝚝𝚞𝚟𝚠𝚡𝚢𝚣\" +\n                    \"0123456789\";\n  const fancy  = \"𝑨𝑩𝑪𝑫𝑬𝑭𝑮𝑯𝑰𝑱𝑲𝑳𝑴𝑵𝑶𝑷𝑸𝑹𝑺𝑻𝑼𝑽𝑾𝑿𝒀𝒁\" +\n               \"𝒂𝒃𝒄𝒅𝒆𝒇𝒈𝒉𝒊𝒋𝒌𝒍𝒎𝒏𝒐𝒑𝒒𝒓𝒔𝒕𝒖𝒗𝒘𝒙𝒚𝒛\";\n\n  const maps = { bold, italic, monospace };\n  const map = maps[style] || normal;\n\n  return str.split(\"\").map(c => {\n    let idx = normal.indexOf(c);\n    return idx >= 0 ? map[idx] : c;\n  }).join(\"\");\n};\n\n// Não precisa retornar nada\nreturn {};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[19168,9184],"id":"46b0dee5-8bda-435e-abdd-4ebe9643a8cc","name":"globalformat1"},{"parameters":{"jsCode":" // Entrada\nconst texto =  \"4-Concluir\\n5-Consultar\\n6-Cancelar \\n7-Detalhar\\nExcluir Item\\nIncluir Itens\";\n// Mapas\nconst normal = \"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789\";\n\n// 1) Fullwidth\nconst full = \"ＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ\" +\n             \"ａｂｃｄｅｆｇｈｉｊｋｌｍｎｏｐｑｒｓｔｕｖｗｘｙｚ\" +\n             \"０１２３４５６７８９\";\n\n// 2) Small caps (maiúsculas pequenas)\nconst smallcaps = \"ＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ\" +\n                  \"ᴀʙᴄᴅᴇꜰɢʜɪᴊᴋʟᴍɴᴏᴘǫʀsᴛᴜᴠᴡxʏᴢ\" +\n                  \"0123456789\";\n\n// 3) Circulado\nconst circ = \"ⒶⒷⒸⒹⒺⒻⒼⒽⒾⒿⓀⓁⓂⓃⓄⓅⓆⓇⓈⓉⓊⓋⓌⓍⓎⓏ\" +\n             \"ⓐⓑⓒⓓⓔⓕⓖⓗⓘⓙⓚⓛⓜⓝⓞⓟⓠⓡⓢⓣⓤⓥⓦⓧⓨⓩ\" +\n             \"⓪①②③④⑤⑥⑦⑧⑨\";\n\n// 4) Quadrado (emoji-like)\nconst square = \"🄰🄱🄲🄳🄴🄵🄶🄷🄸🄹🄺🄻🄼🄽🄾🄿🅀🅁🅂🅃🅄🅅🅆🅇🅈🅉\" +\n               \"🄰🄱🄲🄳🄴🄵🄶🄷🄸🄹🄺🄻🄼🄽🄾🄿🅀🅁🅂🅃🅄🅅🅆🅇🅈🅉\" +\n               \"0123456789\";\n\nfunction converter(texto, mapa) {\n  const map = {};\n  for (let i = 0; i < normal.length; i++) {\n    map[normal[i]] = mapa[i];\n  }\n  return texto.split(\"\").map(ch => map[ch] || ch).join(\"\");\n}\n\nreturn {\n  original: \"```\\n\" + texto + \"\\n```\",\n  fullwidth: converter(texto, full),\n  smallcaps: converter(\"```\\n\" + texto + \"\\n```\", smallcaps),\n  circulado: converter(texto, circ),\n  quadrado: converter(texto, square)\n};\n "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[18832,8944],"id":"779a2b86-ffe8-495e-9527-a76992bfa0bf","name":"FormaText"},{"parameters":{"jsCode":"  // Entrada\nconst texto =  \"⏳ Aguarde..\";\n// Mapas\nconst normal = \"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789\";\n\n// 1) Fullwidth\nconst full = \"ＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ\" +\n             \"ａｂｃｄｅｆｇｈｉｊｋｌｍｎｏｐｑｒｓｔｕｖｗｘｙｚ\" +\n             \"０１２３４５６７８９\";\n\n// 2) Small caps (maiúsculas pequenas)\nconst smallcaps = \"ＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ\" +\n                  \"ᴀʙᴄᴅᴇꜰɢʜɪᴊᴋʟᴍɴᴏᴘǫʀsᴛᴜᴠᴡxʏᴢ\" +\n                  \"0123456789\";\n\n// 3) Circulado\nconst circ = \"ⒶⒷⒸⒹⒺⒻⒼⒽⒾⒿⓀⓁⓂⓃⓄⓅⓆⓇⓈⓉⓊⓋⓌⓍⓎⓏ\" +\n             \"ⓐⓑⓒⓓⓔⓕⓖⓗⓘⓙⓚⓛⓜⓝⓞⓟⓠⓡⓢⓣⓤⓥⓦⓧⓨⓩ\" +\n             \"⓪①②③④⑤⑥⑦⑧⑨\";\n\n// 4) Quadrado (emoji-like)\nconst square = \"🄰🄱🄲🄳🄴🄵🄶🄷🄸🄹🄺🄻🄼🄽🄾🄿🅀🅁🅂🅃🅄🅅🅆🅇🅈🅉\" +\n               \"🄰🄱🄲🄳🄴🄵🄶🄷🄸🄹🄺🄻🄼🄽🄾🄿🅀🅁🅂🅃🅄🅅🅆🅇🅈🅉\" +\n               \"0123456789\";\n\nfunction converter(texto, mapa) {\n  const map = {};\n  for (let i = 0; i < normal.length; i++) {\n    map[normal[i]] = mapa[i];\n  }\n  return texto.split(\"\").map(ch => map[ch] || ch).join(\"\");\n}\n\nreturn {\n  original: \"```\\n\" + texto + \"\\n```\",\n  fullwidth: converter(texto, full),\n  smallcaps: converter(\"```\\n\" + texto + \"\\n```\", smallcaps),\n  circulado: converter(texto, circ),\n  quadrado: converter(texto, square)\n};\n "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7056,9296],"id":"2a7f2208-fe8a-4d80-b52a-b337ecd5871d","name":"Code4"},{"parameters":{"jsCode":"  // Entrada\n // Pega direto do node MensagemTraduzida\nconst texto = \"Seu comando : \" + \n$('MensagemTraduzida').first().json.message;\n \n\n// Mapas\nconst normal = \"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789\";\n\n// 1) Fullwidth\nconst full = \"ＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ\" +\n             \"ａｂｃｄｅｆｇｈｉｊｋｌｍｎｏｐｑｒｓｔｕｖｗｘｙｚ\" +\n             \"０１２３４５６７８９\";\n\n// 2) Small caps (maiúsculas pequenas)\nconst smallcaps = \"ＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ\" +\n                  \"ᴀʙᴄᴅᴇꜰɢʜɪᴊᴋʟᴍɴᴏᴘǫʀsᴛᴜᴠᴡxʏᴢ\" +\n                  \"0123456789\";\n\n// 3) Circulado\nconst circ = \"ⒶⒷⒸⒹⒺⒻⒼⒽⒾⒿⓀⓁⓂⓃⓄⓅⓆⓇⓈⓉⓊⓋⓌⓍⓎⓏ\" +\n             \"ⓐⓑⓒⓓⓔⓕⓖⓗⓘⓙⓚⓛⓜⓝⓞⓟⓠⓡⓢⓣⓤⓥⓦⓧⓨⓩ\" +\n             \"⓪①②③④⑤⑥⑦⑧⑨\";\n\n// 4) Quadrado (emoji-like)\nconst square = \"🄰🄱🄲🄳🄴🄵🄶🄷🄸🄹🄺🄻🄼🄽🄾🄿🅀🅁🅂🅃🅄🅅🅆🅇🅈🅉\" +\n               \"🄰🄱🄲🄳🄴🄵🄶🄷🄸🄹🄺🄻🄼🄽🄾🄿🅀🅁🅂🅃🅄🅅🅆🅇🅈🅉\" +\n               \"0123456789\";\n\nfunction converter(texto, mapa) {\n  const map = {};\n  for (let i = 0; i < normal.length; i++) {\n    map[normal[i]] = mapa[i];\n  }\n  return texto.split(\"\").map(ch => map[ch] || ch).join(\"\");\n}\n\nreturn {\n  original: \"```\\n\" + texto + \"\\n```\",\n  fullwidth: converter(texto, full),\n  smallcaps: converter(\"```\\n\" + texto + \"\\n```\", smallcaps),\n  circulado: converter(texto, circ),\n  quadrado: converter(texto, square)\n};\n "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7392,9312],"id":"1f2d8d9d-bcf7-4e3c-affa-36162b23a190","name":"Code10"},{"parameters":{"jsCode":" const descricao = $json.descricao || \"\";\nreturn {\n  mensagem: \"```\\n\" + descricao + \"\\n```\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[21232,8640],"id":"0a253f85-cf25-4969-9f8b-b7a305dc8538","name":"Code9"},{"parameters":{"operation":"executeQuery","query":"WITH ordenado AS (\n  SELECT \n    item_id,\n    user_id,\n    pedido_id,\n    ROW_NUMBER() OVER (PARTITION BY user_id, pedido_id ORDER BY item_id) AS nova_ordem\n  FROM item_pedido_temp\n)\nUPDATE item_pedido_temp i\nSET ordem_item = o.nova_ordem\nFROM ordenado o\nWHERE i.item_id = o.item_id\n  AND i.user_id = o.user_id\n  AND i.pedido_id = o.pedido_id \n   and i.user_id =  {{$('MontPedido').item.json.user_id }} \n  and i.pedido_id = {{ $('MontPedido').item.json.pedido_id }}  and  status = 'concluido'  ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[25936,8800],"id":"f707f0f4-aa13-4d70-a509-7829393fbc1b","name":"OrdenaPedido","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"=```O item  {{ $('Numero').item.json.numero }} º foi excluido do seu pedido com sucesso. \nNão se preocupe ele ja foi reorganizado.\nSe deseja concluir digite 4 ou fale concluir. ```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[18256,10944],"id":"daf0cfbf-e58c-4b35-9d7c-cf65462db603","name":"MenuCardapio36","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"={{ $json.texto_alinhado }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[19136,10944],"id":"39d5507e-53d8-4437-bccb-82317a3601de","name":"MenuCardapio39","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"jsCode":" const raw = ($json.calcula_pre_pedido || \"\").replace(/\\r\\n/g, \"\\n\");\nconst txt = raw.trim();\n\nif (!txt) {\n  return { texto_alinhado: \"não existe registro\" };\n}\n\nconst lines = txt.split(\"\\n\").map(l => l.trimEnd());\n\n// Se não tiver \"Resumo:\", devolve o corpo original\nconst start = lines.findIndex(l => /resumo:/i.test(l));\nif (start === -1) {\n  return { texto_alinhado: txt };\n}\n\nlet end = lines.findIndex((l, i) => i > start && (\n  /forma de pagamento/i.test(l) || /entrega:/i.test(l) || /total:/i.test(l) || /total de itens/i.test(l)\n));\nif (end === -1) end = lines.length;\n\nconst header = lines.slice(0, start + 1);\nconst itemLines = lines.slice(start + 1, end).filter(l => l.trim());\nconst footer = lines.slice(end);\n\n// ---- parsing ajustado ----\nconst parsed = itemLines.map(line => {\n  const match = line.match(/(R\\$\\s*[\\d\\.,]+)$/);\n  if (!match) return { num: \"\", desc: line.trim(), valor: \"\" };\n\n  const valor = match[1].replace(\"R$\", \"\").trim();\n  const left = line.slice(0, match.index).trim();\n\n  // captura do número inicial (ex: (1) Nome ...)\n  const numMatch = left.match(/^\\((\\d+)\\)\\s*(.*)$/);\n  let num = \"\", desc = left;\n  if (numMatch) {\n    num = numMatch[1];\n    desc = numMatch[2].trim();\n  }\n\n  return { num, desc, valor };\n});\n\nconst maxNum = parsed.reduce((m, o) => Math.max(m, o.num.length), 0);\nconst maxDesc = parsed.reduce((m, o) => Math.max(m, o.desc.length), 0);\n\n// monta itens alinhados com cabeçalho\nconst itensAlinhados = [\n  \"Item \".padEnd(maxNum + 2, \" \") +\n  \"Descrição\".padEnd(maxDesc + 4, \" \") +\n  \"Valor\"\n];\n\nparsed.forEach(o => {\n  itensAlinhados.push(\n    o.num.padEnd(maxNum + 2, \" \") +\n    o.desc.padEnd(maxDesc + 4, \" \") +\n    \"R$ \" + o.valor\n  );\n});\n\n// ---- corpo final ----\nconst corpo = [\n  ...header,\n  ...itensAlinhados,\n  ...footer\n].join(\"\\n\");\n\nreturn { texto_alinhado: \"```\\n\" + corpo + \"\\n```\" };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[18928,10944],"id":"f1f8faa0-2cd9-46b8-a925-ad0ac0228c9f","name":"Code12"},{"parameters":{"operation":"executeQuery","query":"WITH ordenado AS (\n  SELECT \n    item_id,\n    user_id,\n    pedido_id,\n    ROW_NUMBER() OVER (PARTITION BY user_id, pedido_id ORDER BY item_id) AS nova_ordem\n  FROM item_pedido_temp\n)\nUPDATE item_pedido_temp i\nSET ordem_item = o.nova_ordem\nFROM ordenado o\nWHERE i.item_id = o.item_id\n  AND i.user_id = o.user_id\n  AND i.pedido_id = o.pedido_id \n   and i.user_id =  {{$('Merge1').item.json.user_id }} \n  and i.pedido_id =  {{ $('MergePedido').item.json.pedido_id }}  ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[18480,10944],"id":"8a48caaf-feae-4cb6-bcdc-53e9e33b7e9f","name":"OrdenaPedido1","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[19312,10944],"id":"60a59b33-a794-4e39-999f-fc7569637356","name":"No Operation, do nothing24","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"=  {{$('Dados Lead').first().json.IdConversa}}","messageText":"={{$json.mensagem}}\n","options_message":{"delay":4}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[18560,10592],"id":"a609ee94-8338-43d5-8067-a4b1f813870e","name":"MenuCardapio40","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[19216,10592],"id":"26b7bfd0-ee33-43bd-be08-9cd3193bf788","name":"No Operation, do nothing26","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"= {{$('Dados Lead').first().json.IdConversa}}\n","messageText":"=\n```Segue acima ⬆ nossas opções.\n\nEscolha uma e reenvie seu pedido.```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[18864,10592],"id":"304e0fd1-688c-4772-abb5-0e9b5dd19eff","name":"MenuCardapio43","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"jsCode":" // ===== Emojis =====\nconst HDR_EMOJI  = '🔹';\nconst DESC_EMOJI = '📝';\n\n// -------- Helpers --------\nfunction toNum(x) {\n  if (typeof x === 'number' && isFinite(x)) return x;\n  if (x == null) return 0;\n  const s = String(x).replace(/[^\\d,.-]/g, '').replace(/\\.(?=\\d{3}(?:\\D|$))/g, '').replace(',', '.');\n  const n = Number(s);\n  return isFinite(n) ? n : 0;\n}\nfunction moneyTrim(n) {\n  const s = toNum(n).toFixed(2).replace(/(\\.\\d*?)0+$/, '$1').replace(/\\.$/, '');\n  return s;\n}\nfunction clean(txt) {\n  return String(txt || '')\n    .replace(/\\uFFFD/g, '')\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g,'')\n    .replace(/\\s*-\\s*/g, ' - ')\n    .replace(/[ \\t]+/g, ' ')\n    .trim();\n}\nconst bold = s => `*${s}*`;\n\n// -------- Inferência de Categoria & Tipo --------\nconst BEBIDAS_RX = /\\b(coca(?:\\s*cola)?|guaran[aá]|heineken|bud(?:weiser)?|cerveja|água|agua|fanta|sprite|pepsi|refrigerante|long\\s*neck|lata)\\b/i;\nconst BORDA_RX   = /\\bborda\\b/i;\nconst ESFIRRA_RX = /\\besfirra\\b/i;\n\nconst DOCES_RX = /\\b(chocolate|nutella|goiabada|doce\\s+de\\s+leite|brigadeiro|beijinho|romeu\\s*e\\s*julieta|banana|morango|paçoca|pacoca|prestígio|prestigio)\\b/i;\n\nfunction guessCategoria(nome, desc, cat) {\n  if (cat && String(cat).trim()) return String(cat).toLowerCase(); // já veio do backend\n  const hay = `${nome} ${desc}`;\n  if (BEBIDAS_RX.test(hay)) return 'bebida';\n  if (BORDA_RX.test(hay))   return 'borda';\n  if (ESFIRRA_RX.test(hay)) return 'esfirra';\n  return 'pizza'; // default\n}\n\nfunction guessTipo(nome, desc, tipo) {\n  if (tipo && String(tipo).trim()) return String(tipo).toLowerCase();\n  const hay = `${nome} ${desc}`;\n  return DOCES_RX.test(hay) ? 'doce' : 'salgada';\n}\n\n// -------- Entrada --------\nconst items = $input.all();\nlet rows = [];\nif (items.length > 1) rows = items.map(i => i.json);\nelse {\n  let p = items?.[0]?.json ?? {};\n  if (p && typeof p === 'object' && 'result' in p) p = p.result;\n  rows = Array.isArray(p) ? p : (p && typeof p === 'object' ? [p] : []);\n}\n\n// -------- Saída formatada --------\nconst lines = rows.map(r => {\n  const numero = r.numero ?? r.id ?? r.code ?? '';\n  const nome   = clean(r.nome ?? r.name ?? 'Item');\n  const desc   = clean(r.descricao ?? r.description ?? '');\n\n  const g = r.preco_grande ?? r.precoG ?? r.preco_g;\n  const m = r.preco_media  ?? r.precoM ?? r.preco_m;\n\n  const categoria = guessCategoria(nome, desc, r.categoria);\n  const tipo      = guessTipo(nome, desc, r.tipo);\n\n  const parts = [];\n  if (g != null && g !== '') parts.push(`(G) R$${moneyTrim(g)}`);\n  if (m != null && m !== '') parts.push(`(M) R$${moneyTrim(m)}`);\n  const precoStr = parts.join(' / ') || 'R$0';\n\n  const header = `${HDR_EMOJI} ${ bold(`(${numero})`) } ${nome} – ${bold(precoStr)} ${bold(` [${categoria}] [${tipo}]`)}`;\n  const body   = `${DESC_EMOJI} Descrição: ${desc || '-'}`\n  return `${header}\\n${body}`;\n});\n\nreturn [{\n  json: {\n    descricao: lines.join('\\n\\n'),\n    user_id: $json.user_id ?? null,\n    pedido_id: $json.pedido_id ?? null\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[18128,10592],"id":"3f14cb41-ced5-4dcb-98a6-09418b258711","name":"VariasPizzas1"},{"parameters":{"jsCode":" const descricao = $json.descricao || \"\";\nreturn {\n  mensagem: \"```\\n\" + descricao + \"\\n```\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[18320,10592],"id":"05018e11-7cfa-4eca-be83-b5798f76551a","name":"Code13"},{"parameters":{"jsCode":" const frase = $('MensagemTraduzida').first().json.message || \"\";\n\n// categorias aceitas\nconst categorias = [\"pizza\", \"esfirra\", \"refrigerante\", \"cerveja\"];\n\n// Regex: \"consultar ...\" seguido de tudo\nconst match = frase.match(/^consultar\\s+(.+)$/i);\n\nlet categoria = null;\nlet nome = null;\n\nif (match) {\n  const partes = match[1].trim().toLowerCase().split(/\\s+/);\n  const primeira = partes[0];\n\n  if (categorias.includes(primeira)) {\n    categoria = primeira;\n    nome = partes.slice(1).join(\" \") || null;\n  } else {\n    // se a primeira palavra não é categoria conhecida, trata tudo como nome\n    categoria = null;\n    nome = match[1].trim().toLowerCase();\n  }\n}\n\nreturn { categoria, nome };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[17648,10592],"id":"7b94b3f7-3ea1-4413-9fed-8fbacdab4f57","name":"ConsultarCardapio"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[27248,8800],"id":"c512c3c5-5f8e-4926-a4fe-8db5ded64de1","name":"No Operation, do nothing27","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"={{ $json.original }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[27056,8800],"id":"05cd390f-8b2c-4027-8be0-60ac66b15689","name":"MenuCardapio44","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"jsCode":" // Entrada\nconst texto =  \"4-Concluir\\n5-Consultar\\n6-Cancelar \\n7-Detalhar\\nExcluir Item\\nIncluir Itens\";\n// Mapas\nconst normal = \"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789\";\n\n// 1) Fullwidth\nconst full = \"ＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ\" +\n             \"ａｂｃｄｅｆｇｈｉｊｋｌｍｎｏｐｑｒｓｔｕｖｗｘｙｚ\" +\n             \"０１２３４５６７８９\";\n\n// 2) Small caps (maiúsculas pequenas)\nconst smallcaps = \"ＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ\" +\n                  \"ᴀʙᴄᴅᴇꜰɢʜɪᴊᴋʟᴍɴᴏᴘǫʀsᴛᴜᴠᴡxʏᴢ\" +\n                  \"0123456789\";\n\n// 3) Circulado\nconst circ = \"ⒶⒷⒸⒹⒺⒻⒼⒽⒾⒿⓀⓁⓂⓃⓄⓅⓆⓇⓈⓉⓊⓋⓌⓍⓎⓏ\" +\n             \"ⓐⓑⓒⓓⓔⓕⓖⓗⓘⓙⓚⓛⓜⓝⓞⓟⓠⓡⓢⓣⓤⓥⓦⓧⓨⓩ\" +\n             \"⓪①②③④⑤⑥⑦⑧⑨\";\n\n// 4) Quadrado (emoji-like)\nconst square = \"🄰🄱🄲🄳🄴🄵🄶🄷🄸🄹🄺🄻🄼🄽🄾🄿🅀🅁🅂🅃🅄🅅🅆🅇🅈🅉\" +\n               \"🄰🄱🄲🄳🄴🄵🄶🄷🄸🄹🄺🄻🄼🄽🄾🄿🅀🅁🅂🅃🅄🅅🅆🅇🅈🅉\" +\n               \"0123456789\";\n\nfunction converter(texto, mapa) {\n  const map = {};\n  for (let i = 0; i < normal.length; i++) {\n    map[normal[i]] = mapa[i];\n  }\n  return texto.split(\"\").map(ch => map[ch] || ch).join(\"\");\n}\n\nreturn {\n  original: \"```\\n\" + texto + \"\\n```\",\n  fullwidth: converter(texto, full),\n  smallcaps: converter(\"```\\n\" + texto + \"\\n```\", smallcaps),\n  circulado: converter(texto, circ),\n  quadrado: converter(texto, square)\n};\n "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[26864,8800],"id":"d0582bbb-920f-4b17-b07f-c8416c8ada49","name":"FormaText1"},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"={{ $json.original }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[19040,8432],"id":"75e28090-1cb9-421d-811b-91a7d74369cf","name":"MenuCardapio45","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"jsCode":" // Entrada\nconst texto =  \"4-Concluir\\n5-Consultar\\n6-Cancelar \\n7-Detalhar\\nExcluir Item\\nIncluir Itens\";\n// Mapas\nconst normal = \"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789\";\n\n// 1) Fullwidth\nconst full = \"ＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ\" +\n             \"ａｂｃｄｅｆｇｈｉｊｋｌｍｎｏｐｑｒｓｔｕｖｗｘｙｚ\" +\n             \"０１２３４５６７８９\";\n\n// 2) Small caps (maiúsculas pequenas)\nconst smallcaps = \"ＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ\" +\n                  \"ᴀʙᴄᴅᴇꜰɢʜɪᴊᴋʟᴍɴᴏᴘǫʀsᴛᴜᴠᴡxʏᴢ\" +\n                  \"0123456789\";\n\n// 3) Circulado\nconst circ = \"ⒶⒷⒸⒹⒺⒻⒼⒽⒾⒿⓀⓁⓂⓃⓄⓅⓆⓇⓈⓉⓊⓋⓌⓍⓎⓏ\" +\n             \"ⓐⓑⓒⓓⓔⓕⓖⓗⓘⓙⓚⓛⓜⓝⓞⓟⓠⓡⓢⓣⓤⓥⓦⓧⓨⓩ\" +\n             \"⓪①②③④⑤⑥⑦⑧⑨\";\n\n// 4) Quadrado (emoji-like)\nconst square = \"🄰🄱🄲🄳🄴🄵🄶🄷🄸🄹🄺🄻🄼🄽🄾🄿🅀🅁🅂🅃🅄🅅🅆🅇🅈🅉\" +\n               \"🄰🄱🄲🄳🄴🄵🄶🄷🄸🄹🄺🄻🄼🄽🄾🄿🅀🅁🅂🅃🅄🅅🅆🅇🅈🅉\" +\n               \"0123456789\";\n\nfunction converter(texto, mapa) {\n  const map = {};\n  for (let i = 0; i < normal.length; i++) {\n    map[normal[i]] = mapa[i];\n  }\n  return texto.split(\"\").map(ch => map[ch] || ch).join(\"\");\n}\n\nreturn {\n  original: \"```\\n\" + texto + \"\\n```\",\n  fullwidth: converter(texto, full),\n  smallcaps: converter(\"```\\n\" + texto + \"\\n```\", smallcaps),\n  circulado: converter(texto, circ),\n  quadrado: converter(texto, square)\n};\n "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[18848,8432],"id":"df2c357d-d77e-4bf5-8359-982c4df88ef6","name":"FormaText2"},{"parameters":{"jsCode":" const frase = $('MensagemTraduzida').first().json.message || \"\";\n\nconst match = frase.match(/(?:item\\s*)?(\\d+)/i);\n\nreturn {\n  numero: match ? parseInt(match[1]) : null\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[17584,10944],"id":"078acf30-d805-4639-9075-fb936b77207c","name":"Numero"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"item_pedido_temp","mode":"list","cachedResultName":"item_pedido_temp"},"deleteCommand":"delete","where":{"values":[{"column":"user_id","value":"= {{ $('Merge1').item.json.user_id }}"},{"column":"ordem_item","value":"={{ $('Numero').item.json.numero }}"},{"column":"pedido_id","value":"={{ $('MergePedido').item.json.pedido_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[18016,10944],"id":"1f0ac8b5-1b8f-4f2a-93d9-36299f3dde34","name":"Excluir Item","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"\n delete from item_pedido_temp as i using item_pedido_temp as  it\n where i.categoria = 'borda'           and\n       i.user_id= it.user_id           and\n       i.pedido_id= it.pedido_id       and\n       i.tamanho = it.tamanho          and\n       i.numero_fracao =it.numero      and \n       it.ordem_item =  {{ $json.numero }} and\n       i.user_id=  {{ $('Merge1').item.json.user_id }}  and\n       i.pedido_id= {{ $('MergePedido').item.json.pedido_id }}   \n\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[17776,10944],"id":"f38fa572-1c98-45b6-8e97-307a27bb8089","name":"ExcluiBorda","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"= {{$('Dados Lead').first().json.IdConversa}}\n","messageText":"=  \n```Dica💡\n    Para ser mais preciso envie um comando da seguinte forma:\n   1 pizza  (numero tal)  grande ou  media. .```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[22112,8640],"id":"6f7027cd-d195-4e34-8c07-760db8342ef7","name":"MenuCardapio47","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[21920,8640],"id":"c129201f-1b19-48ed-a14b-4d778fe1cf92","name":"Wait3","webhookId":"580901b2-63f3-4d59-a119-31349aaee9fa"},{"parameters":{"fieldToSplitOut":"output.item","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[20032,9216],"id":"3ff2d110-d6bf-493a-94a9-78a50eb3dec4","name":"item","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('MontPedido').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"=1"},{"fieldId":"tipo","fieldValue":"item"},{"fieldId":"categoria","fieldValue":"item"},{"fieldId":"nome","fieldValue":"={{ $json.nome?.trim() === '' ? null : $json.nome }}"},{"fieldId":"numero","fieldValue":"=0"},{"fieldId":"fracionada","fieldValue":"=false"},{"fieldId":"pedido_id","fieldValue":"={{ $('MontPedido').item.json.pedido_id }}"},{"fieldId":"tamanho","fieldValue":"=0"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[20544,9312],"id":"56c9ebca-f70c-4bd7-a6ba-2093179cd31c","name":"Item","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ae4be07a-6ffe-4e1f-ba64-89d835e7a71d","leftValue":"={{ parseInt($json.count, 10) }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[20976,9312],"id":"e161e644-db80-4ae8-a42e-f0447cdf2e77","name":"If10"},{"parameters":{"operation":"executeQuery","query":"   SELECT\n  count(*) \nFROM item_pedido_temp AS i\nJOIN cardapio AS c\n  ON c.categoria = 'item'\n-- nome do cardápio contém o nome do item (case-insensitive)\n AND c.nome ILIKE '%' || i.nome || '%'\nWHERE i.status = 'inicio'\n  AND i.user_id   = {{ $('MontPedido').item.json.user_id }}\n  AND i.pedido_id = {{ $('MontPedido').item.json.pedido_id }}\n  AND i.numero = 0\n     \n ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[20736,9312],"id":"9f519b26-50e9-4cef-8f9d-ecd22852e8c2","name":"VerificaItemCardapio","executeOnce":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"\n select item_id, tamanho, numero\n  from item_pedido_temp where Ordem_item =  {{ $('item').item.json.pizza_pai }} and  categoria= 'pizza' and user_id =  {{ $('MontPedido').item.json.user_id }} and pedido_id = {{ $('MontPedido').item.json.pedido_id }} and\n  status = 'concluido';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[21184,9472],"id":"256f6b43-adf1-4f27-801f-2df9b8c82588","name":"BuscaPaiItem","alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" UPDATE Item_pedido_temp AS i\nSET numero = c.numero,\n      numero_fracao = {{ $json.numero }},\n      id_pizza_pai= {{ $json.item_id }} \nFROM cardapio AS c\nWHERE  i.status = 'inicio'\n  AND c.categoria  = 'item' and\n    i.categoria = 'item'\n and  c.nome    iLIKE '%' || i.nome || '%' and user_id =  {{ $('MontPedido').item.json.user_id }} and i.pedido_id = {{ $('MontPedido').item.json.pedido_id }} and i.numero = 0 ;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[21712,9344],"id":"cf269896-190b-4d8c-8b50-7cec19463433","name":"PizzaItemNome","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT atualizar_valores_itens_temp('item', {{ $('MontPedido').item.json.user_id }} ,{{ $('MontPedido').item.json.pedido_id }} );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[21952,9344],"id":"f1869bd9-a057-4bbd-8b5c-428ee36e400a","name":"AtualizaValorItem","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" UPDATE Item_pedido_temp AS i\nSET  status = 'concluido'\n \nWHERE  status = 'inicio' and\n    user_id =  {{ $('MontPedido').item.json.user_id }} and i.pedido_id = {{ $('MontPedido').item.json.pedido_id }} and i.numero <> 0 ;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[25600,8800],"id":"9fdb5176-520b-4c02-bb62-5fdcf7145bbe","name":"ConcluiTudo","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" \n   SELECT  * FROM busca_cardapio( ( SELECT string_agg(num, ', ')\n \n  FROM ( select  distinct c.numero::text AS num\nFROM  cardapio AS c\n \n WHERE \n   lower(c.categoria) in (  'pizza', 'esfirra', 'borda','item')\n      AND c.nome ILIKE '%' || '{{ $json.nome }}' || '%'\n  \n  )) )    \n  \nunion all  \n\n  \n  SELECT  * FROM busca_cardapio( ( SELECT string_agg(num, ', ')\n \n  FROM ( select  distinct c.numero::text AS num\nFROM  cardapio AS c\n \n WHERE \n   lower(c.tipo) =  'bebida'\n      AND c.palavras_chave  ILIKE '%' || '{{ $json.nome }}' || '%'   )) )    \n  \n  ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[17936,10592],"id":"05e15f09-6fd4-4a38-8d92-cae794c51c18","name":"ConsultaOnline","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Add a new field called 'myNewField' to the JSON of the item\n$input.item.json.myNewField = 1;\n\nreturn $input.item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[20688,8256],"id":"c4672090-f91e-4b25-beac-6ead2bdb9e73","name":"Code14","executeOnce":true},{"parameters":{"operation":"executeQuery","query":" select calcula_pre_pedido({{ $('Merge1').item.json.user_id }}, {{ $('MergePedido').item.json.pedido_id }}  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[18736,10944],"id":"a29ecc2d-36e7-48a7-a4ca-c9f04acc5844","name":"PedidoPosExclusao","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":" SELECT\n  (\n    SELECT count(*)::int\n    FROM item_pedido_temp AS i\n    JOIN cardapio AS c\n      ON c.categoria = 'pizza'\n     AND c.nome ILIKE '%' || i.nome || '%'\n    WHERE i.status = 'inicio'\n      AND i.user_id   = {{ $('MontPedido').item.json.user_id }}\n      AND i.pedido_id = {{ $('MontPedido').item.json.pedido_id }}\n      AND i.numero = 0  \n      AND fracionada = true \n      AND i.item_id = {{ $json.item_id }}\n  ) AS total1,\n  (\n    SELECT count(*)::int\n    FROM item_pedido_temp AS i\n    JOIN cardapio AS c\n      ON c.categoria = 'pizza'\n     AND c.nome ILIKE '%' || i.nome_fracao || '%'\n    WHERE i.status = 'inicio'\n      AND i.user_id   = {{ $('MontPedido').item.json.user_id }}\n      AND i.pedido_id = {{ $('MontPedido').item.json.pedido_id }}\n      AND fracionada = true\n      AND i.item_id = {{ $json.item_id }}\n      AND i.numero_fracao = 0  \n  ) AS total2;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[20256,8432],"id":"0ae279a7-9270-4f31-b7a5-ef861a3b72e6","name":"Execute a SQL query12","executeOnce":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"jsCode":" const input = $input.first().json.clean || \"\";\n\n// 1. Remove símbolo de moeda\nlet clean = input.replace(/r\\$\\s*/gi, \"\");\n\n// 2. Converte padrões tipo \"6,19\" ou \"6.19\" → \"1/2 19\"\nclean = clean.replace(/6[,.](\\d{1,2})/g, \"1/2 $1\");\n\n// 3. Normaliza espaços\nclean = clean.replace(/\\s+/g, \" \").trim();\n\n// 4. Extrai números\nconst nums = clean.match(/\\d+/g) || [];\n\nlet interpretacao;\n\nif (nums.length === 2 && clean.includes(\"1/2\")) {\n  // Caso típico: pizza fracionada\n  interpretacao = {\n    quantidade: 1,\n    fracionada: true,\n    meia1: parseInt(nums[0], 10),\n    meia2: parseInt(nums[1], 10)\n  };\n} else if (nums.length === 1) {\n  // Caso típico: pizza inteira\n  interpretacao = {\n    quantidade: 1,\n    fracionada: false,\n    numero: parseInt(nums[0], 10)\n  };\n} else {\n  interpretacao = {\n    erro: \"Não consegui identificar corretamente o pedido\"\n  };\n}\n\nreturn { original: input, normalizado: clean, interpretacao };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6752,8800],"id":"2ec74c50-1501-4008-9205-6af6da0653c6","name":"Code16"},{"parameters":{"jsCode":" const input =  $input.first().json.comando_normalizado || \"\";\nlet clean = input.toLowerCase().trim();\n\n// tokens separados por espaço\nconst tokens = clean.split(/\\s+/);\n\n// Mapa de palavras para números\nconst mapaQtd = {\n  \"uma\": \"1\",\n  \"um\": \"1\",\n  \"duas\": \"2\",\n  \"dois\": \"2\",\n  \"três\": \"3\",\n  \"tres\": \"3\",\n  \"quatro\": \"4\",\n   \"cinco\": \"5\"\n};\n\n// Se o primeiro token for palavra do mapa, converte para número\nif (mapaQtd[tokens[0]]) {\n  tokens[0] = mapaQtd[tokens[0]];\n  clean = tokens.join(\" \");\n}\n\n\n\n// resposta padrão\nlet resultado = { original: input, comando: clean, valido: false, tipo: null, erro: \"não entendi seu comando\" };\n\n// --- Caso 1: Pizza inteira ---\n// Ex: \"1 pizza mussarela grande\"  ou  \"1 pizza 14 media\"\nif (\n  tokens.length >= 3 &&\n  /^\\d+$/.test(tokens[0]) && \n  tokens[1] === \"pizza\"\n) {\n  // se houver \"1/2\" no meio -> não é inteira\n  if (!tokens.includes(\"1/2\")) {\n    resultado = {\n      original: input,\n      comando: clean,\n      valido: true,\n      tipo: \"pizza_inteira\"\n    };\n  }\n}\n // --- Caso 2: Pizza fracionada ---\n// Ex: \"1 pizza 1/2 14 e 1/2 19\"\n else if (\n  /^\\d+$/.test(tokens[0]) &&           // quantidade (1, 2, 3…)\n  tokens[1] === \"pizza\" &&             // singular já normalizado\n  tokens.filter(t => t === \"1/2\").length === 2\n) {\n  resultado = {\n    original: input,\n    comando: clean,\n    valido: true,\n    tipo: \"pizza_fracionada\"\n  };\n}\n\n// --- Caso 3: Esfirra ---\n// Ex: \"1 esfirra carne\"\nelse if (\n  tokens.length >= 3 &&\n  /^\\d+$/.test(tokens[0]) &&\n  tokens[1] === \"esfirra\"\n) {\n  resultado = {\n    original: input,\n    comando: clean,\n    valido: true,\n    tipo: \"esfirra\"\n  };\n}\n\n// --- Caso 4: Bebida ---\n// Ex: \"1 coca cola 2l\" ou \"2 guarana 350ml\"\nelse if (\n  /^\\d+$/.test(tokens[0]) &&\n  /(coca|cola|guarana|heineken|bud|cerveja|agua)/.test(clean)\n) {\n  resultado = {\n    original: input,\n    comando: clean,\n    valido: true,\n    tipo: \"bebida\"\n  };\n}\n\n// --- Caso 5: Adicionar ingrediente ---\n// Ex: \"adicionar mussarela item 1\"\nelse if (\n  tokens[0] === \"adicionar\" &&\n  tokens.includes(\"item\")\n) {\n  resultado = {\n    original: input,\n    comando: clean,\n    valido: true,\n    tipo: \"adicionar_item\"\n  };\n}\n\n// --- Caso 6: Excluir item ---\n// Ex: \"excluir item 1\"\nelse if (\n  tokens[0] === \"excluir\" &&\n  tokens[1] === \"item\" &&\n  /^\\d+$/.test(tokens[2])\n) {\n  resultado = {\n    original: input,\n    comando: clean,\n    valido: true,\n    tipo: \"excluir_item\"\n  };\n}\n\nreturn resultado;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7056,9440],"id":"35e35edb-f57c-4d3a-b72c-0b13ed344cee","name":"Code18"},{"parameters":{"jsCode":" const input =  $input.first().json.mensagem_usuario  || \"\";\n\n// 1) minúsculas\nlet clean = input.toLowerCase();\n\n// 2) remove moeda: \"r$\", \"r $\", \"$\"\nclean = clean.replace(/r\\s*\\$/gi, \"\").replace(/\\$/g, \"\");\n\n// 3) remove o \"r\" (ou qualquer letra) deixado ANTES de número/1/2: \"r 6\", \"r 1/2\"\nclean = clean.replace(/\\b[a-zà-ÿ]\\s+(?=(\\d|1\\/2)\\b)/gi, \"\");\n\n// 4) mantém só letras/números/espaço e \"/\" (tira resto de símbolos)\nclean = clean.replace(/[^0-9a-zà-ÿ\\s/,.]/g, \" \");\n\n// 5) normaliza plurais comuns\nclean = clean.replace(/\\bpizzas\\b/g, \"pizza\")\n             .replace(/\\besfirras\\b/g, \"esfirra\");\n\n// 6) palavras de quantidade -> número (antes de \"pizza\")\nclean = clean.replace(/\\b(uma|um)\\b(?=\\s+pizza\\b)/g, \"1\")\n             .replace(/\\b(duas|dois)\\b(?=\\s+pizza\\b)/g, \"2\")\n             .replace(/\\b(três|tres)\\b(?=\\s+pizza\\b)/g, \"3\");\n\n// 7) \"meia\" -> \"1/2\"\nclean = clean.replace(/\\bmeia\\b/g, \"1/2\");\n\n// 8) corrige \"6,19\" ou \"6.19\" -> \"1/2 19\"\nclean = clean.replace(/6[,.](\\d{1,2})\\b/g, \"1/2 $1\");\n\n// 9) padrão da transcrição \"6 14 e 6 19\" -> \"1 pizza 1/2 14 e 1/2 19\"\nclean = clean.replace(/\\b6\\s+(\\d{1,2})(?:\\s*[,;]?\\s*e\\s*)6\\s+(\\d{1,2})\\b/g, \"1 pizza 1/2 $1 e 1/2 $2\");\n\n// 10) remove vírgulas/pontos remanescentes que grudem nos números (ex.: \"17,\" -> \"17\")\nclean = clean.replace(/[,.]/g, \" \");\n\n// 11) remove letras isoladas (exceto \"e\")\nclean = clean.replace(/\\b(?!e\\b)[a-zà-ÿ]\\b/g, \"\");\n\n// 12) compacta espaços\nclean = clean.replace(/\\s+/g, \" \").trim();\n\nreturn { original: input, comando_normalizado: clean };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5648,9280],"id":"e73c2d7c-7518-4f40-bbae-b8113e73b0d3","name":"Normalizador"},{"parameters":{"jsCode":" const input = $input.first().json.comando_normalizado || $input.first().json.message || \"\";\nlet clean = input.toLowerCase().trim();\nlet tokens = clean.split(/\\s+/);\n\n// Mapa de palavras para números (quando a 1ª palavra é quantidade)\nconst mapaQtd = { \"uma\":\"1\", \"um\":\"1\", \"duas\":\"2\", \"dois\":\"2\", \"três\":\"3\", \"tres\":\"3\", \"quatro\":\"4\", \"cinco\":\"5\" };\nif (mapaQtd[tokens[0]]) {\n  tokens[0] = mapaQtd[tokens[0]];\n  clean = tokens.join(\" \");\n}\n\n// Normaliza plural básico (caso o pré-LLM não tenha feito)\nif (tokens[1] === \"pizzas\") {\n  tokens[1] = \"pizza\";\n  clean = tokens.join(\" \");\n}\n\n// Resposta padrão (com sugestão educada)\nlet resultado = {\n  original: input,\n  comando: clean,\n  valido: false,\n  tipo: null,\n  erro: \"não entendi seu comando\",\n  sugestao: `O seu pedido ou comando não foi identificado. Você quis dizer: ${clean} ?`\n};\n\n// --- Caso 1: Pizza inteira ---\n// \"1 pizza 14\", \"1 pizza mussarela grande\"\nif (\n  tokens.length >= 3 &&\n  /^\\d+$/.test(tokens[0]) &&\n  tokens[1] === \"pizza\" &&\n  !tokens.includes(\"1/2\")\n) {\n  resultado = {\n    original: input,\n    comando: clean,\n    valido: true,\n    tipo: \"pizza_inteira\",\n    acao: \"adicionar_item\"\n  };\n}\n\n// --- Caso 2: Pizza fracionada ---\n// \"1 pizza 1/2 14 e 1/2 19\"  (aceita nomes no lugar de números)\nelse if (\n  /^\\d+$/.test(tokens[0]) &&\n  tokens[1] === \"pizza\" &&\n  tokens.filter(t => t === \"1/2\").length === 2\n) {\n  resultado = {\n    original: input,\n    comando: clean,\n    valido: true,\n    tipo: \"pizza_fracionada\",\n    acao: \"adicionar_item\"\n  };\n}\n\n// --- Caso 3: Esfirra ---\n// \"1 esfirra carne\"\nelse if (\n  tokens.length >= 3 &&\n  /^\\d+$/.test(tokens[0]) &&\n  tokens[1] === \"esfirra\"\n) {\n  resultado = {\n    original: input,\n    comando: clean,\n    valido: true,\n    tipo: \"esfirra\",\n    acao: \"adicionar_item\"\n  };\n}\n\n// --- Caso 4: Bebida ---\n// \"1 coca cola 2l\", \"2 guarana 350ml\", \"1 água 500ml\", \"1 heineken long neck\"\nelse if (\n  /^\\d+$/.test(tokens[0]) &&\n  /\\b(coca(?:\\s+cola)?|cola|guaran[áa]|heineken|bud(?:weiser)?|cerveja|agua|água|fanta|sprite)\\b/.test(clean)\n) {\n  resultado = {\n    original: input,\n    comando: clean,\n    valido: true,\n    tipo: \"bebida\",\n    acao: \"adicionar_item\"\n  };\n}\n\n// --- Caso 5: Adicionar ingrediente ---\n// \"adicionar mussarela item 1\", \"adicionar ingrediente cheddar ao item 3\"\nelse if (\n  tokens[0] === \"adicionar\" &&\n  tokens.includes(\"item\")\n) {\n  resultado = {\n    original: input,\n    comando: clean,\n    valido: true,\n    tipo: \"adicionar_item\",\n    acao: \"adicionar_item\"\n  };\n}\n\n// --- Caso 6: Excluir item ---\n// \"excluir item 1\", \"excluir 2\"\nelse if (\n  tokens[0] === \"excluir\" &&\n  (\n    (tokens[1] === \"item\" && /^\\d+$/.test(tokens[2])) ||\n    (/^\\d+$/.test(tokens[1]))\n  )\n) {\n  resultado = {\n    original: input,\n    comando: clean,\n    valido: true,\n    tipo: \"excluir_item\",\n    acao: \"excluir_item\"\n  };\n}\n\nreturn resultado;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6368,9328],"id":"5f5ca6d5-c1f8-4242-8ba1-0b88b968c867","name":"Validador"},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('SetDados').item.json.user_id }}"},{"fieldId":"quantidade","fieldValue":"=1"},{"fieldId":"tipo","fieldValue":"borda"},{"fieldId":"categoria","fieldValue":"borda"},{"fieldId":"nome","fieldValue":"={{ $('Bordas').item.json.nome }}"},{"fieldId":"numero","fieldValue":"=0"},{"fieldId":"fracionada","fieldValue":"=false"},{"fieldId":"pedido_id","fieldValue":"={{ $('SetDados').item.json.pedido_id }}"},{"fieldId":"tamanho","fieldValue":"=G"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[22656,9696],"id":"342d6993-d075-4cd4-9fb3-b73ed7f321ef","name":"Item1","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ae4be07a-6ffe-4e1f-ba64-89d835e7a71d","leftValue":"={{ $json.item_id }}","rightValue":0,"operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"dc52d600-ffbb-4196-9206-e4ad9536e2b9","leftValue":"={{ $json.numero_relacionado }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[21568,9904],"id":"7fa85a26-8d94-4954-b0bf-1a4c5f0cbd3b","name":"If11"},{"parameters":{"fieldToSplitOut":"output.bordas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[19856,9312],"id":"95cf6cb7-fad1-4de4-b72f-b66393a12bbf","name":"Bordas","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":" UPDATE Item_pedido_temp AS i\nSET numero = c.numero,\n      numero_fracao = {{ $('BuscaPaiBorda').item.json.numero }} ,\n      id_pizza_pai=  {{ $('BuscaPaiBorda').item.json.item_id }} ,\n        tamanho = '{{ $('BuscaPaiBorda').item.json.tamanho }}'\nFROM cardapio AS c\nWHERE  i.status = 'inicio'\n  AND c.categoria  = 'borda' and\n    i.categoria = 'borda'\n and  c.nome    iLIKE '%' || i.nome || '%' and user_id =  {{ $('MontPedido').item.json.user_id }} and i.pedido_id = {{ $('MontPedido').item.json.pedido_id }} and i.numero = 0 ;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[23376,9680],"id":"3085f531-3b06-46b1-828c-64181ac5785f","name":"PizzaBordaPorNome","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT atualizar_valores_itens_temp('borda', {{ $('MontPedido').item.json.user_id }} ,{{ $('MontPedido').item.json.pedido_id }} );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[23584,9680],"id":"00b5f8ef-a773-4a3c-b990-6397c2a0eb01","name":"AtualizaBordaValor","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ab2ba1ec-a722-4b24-95de-7fa8716fb287","leftValue":"={{ $json.item_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[21440,9472],"id":"6f486665-976f-4866-bdac-f33cb20bd1b1","name":"If12"},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"=  {{$('Dados Lead').first().json.IdConversa}}","messageText":"=```Não encontrei  o item \" {{ $('item').item.json.pizza_pai }} \" no seu pedido. \nPor favor tente novamente. \nAdicione ingrediente \"xxxxxxx\"  ao item 1```\n","options_message":{"delay":4}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[21712,9520],"id":"b7299629-61b2-4883-9527-c26219719eef","name":"MenuCardapio52","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[21968,9520],"id":"fbfc4ca4-b5d3-48b1-ab77-586e59277869","name":"No Operation, do nothing31","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":"\n select item_id, tamanho, numero,\n\n\nCOALESCE((\n    SELECT p.ordem_item\n    FROM item_pedido_temp p\n    WHERE p.user_id   =  {{ $json.user_id }}\n      AND p.pedido_id = {{ $json.pedido_id }}\n      AND p.status    = 'concluido'\n      AND p.categoria = 'borda' \n      AND p.tamanho    = i.tamanho\n      AND (  p.numero_fracao = i.numero)\n     AND  i.item_id  =  p.Id_pizza_pai\n    LIMIT 1\n  ), 0) AS numero_relacionado\n  \n  from item_pedido_temp as i  where i.Ordem_item = {{ $('VariasPizzas4').item.json.pizza_pai }}  and  categoria= 'pizza' and user_id =  {{ $json.user_id }}  and pedido_id = {{ $json.pedido_id }}  and\n  status = 'concluido';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[21296,9872],"id":"d3b565a9-0b9b-4bfd-be72-5509681038d1","name":"BuscaPaiBorda","alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ab2ba1ec-a722-4b24-95de-7fa8716fb287","leftValue":"={{ $json.numero_relacionado }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[21968,10048],"id":"4ff9dee2-22f1-4767-9414-b7d04e484d29","name":"If13"},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"=  {{$('Dados Lead').first().json.IdConversa}}","messageText":"=  ```O item \" {{ $json.numero_relacionado }} \" do seu carrinho 🛒já possui borda associada. \n      Pizza nº {{ $('BuscaPaiBorda').item.json.numero }} já possui borda.```","options_message":{"delay":4}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[22224,10112],"id":"452d0c1f-79f0-4e67-8288-693a1c1cb5e4","name":"MenuCardapio53","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[22448,10112],"id":"60eddbb6-99f3-441a-a63a-5aa1b5e4cd89","name":"No Operation, do nothing32","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":"   SELECT\n  count(*) \nFROM item_pedido_temp AS i\nJOIN cardapio AS c\n  ON c.categoria = 'pizza'\n-- nome do cardápio contém o nome do item (case-insensitive)\n AND c.nome ILIKE '%' || i.nome || '%'\nWHERE i.status = 'inicio'\n  AND i.user_id   = {{ $('MontPedido').item.json.user_id }}\n  AND i.pedido_id = {{ $('MontPedido').item.json.pedido_id }}\n  AND i.numero = 0\n     \n ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[20288,8656],"id":"927a98b2-28a1-44ed-8695-60d73da52fb0","name":"EncontreiVarias","executeOnce":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[22224,8256],"id":"7ecdee0b-5b73-4fb0-ac5f-9b2c9d2c224a","name":"No Operation, do nothing25","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"= {{$('Dados Lead').first().json.IdConversa}}\n","messageText":"= \n```Dica💡\n    Para ser mais preciso envie um comando da seguinte forma:\n    1 pizza  1/2 (numero tal) e 1/2 (numero tal).   \n    Obs: Fracionada , sempre grande.```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[21984,8256],"id":"e80e8d3d-05d7-40af-a780-039367234c95","name":"MenuCardapio54","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[21792,8256],"id":"6eda53d0-0863-4d71-8959-b2750eec4b17","name":"Wait7","webhookId":"580901b2-63f3-4d59-a119-31349aaee9fa"},{"parameters":{"operation":"executeQuery","query":" \n   SELECT  * FROM busca_cardapio( ( SELECT string_agg(num, ', ')\n \n  FROM ( select  distinct c.numero::text AS num\nFROM  cardapio AS c\n \n WHERE \n   lower(c.categoria)  =  'borda' \n      AND c.nome ILIKE '%' || '{{ $json.nome }}' || '%'\n  \n  )) )    \n  \n  \n  \n  ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[20064,9728],"id":"a3083051-f88d-4033-b8c9-d73a3905204a","name":"ConsultaBorda","alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5c55241a-b3d2-440a-b5ff-b79b7b228267","leftValue":"={{ $json.total}}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[20976,9936],"id":"00069eec-ebb6-48b3-92b8-04c34b678b09","name":"If14"},{"parameters":{"assignments":{"assignments":[{"id":"2cc66149-64f3-438a-878d-c6f95ac152a3","name":"descricao","value":"={{ $json.descricao }}","type":"string"},{"id":"4bd82684-c552-4be7-838e-51c12c7125bd","name":"total","value":"={{ $json.total }}","type":"number"},{"id":"c8883e99-cd8a-481d-a310-8184da7678d6","name":"nome","value":"={{ $json.nome }}","type":"string"},{"id":"be8335df-6700-4db1-9dfa-f5d618e88d78","name":"pizza_pai","value":"={{ $json.pizza_pai }}","type":"string"},{"id":"a772d663-0ceb-42de-977e-7058b0dece12","name":"categoria","value":"={{ $json.categoria }}","type":"string"},{"id":"908e60c2-a9a9-496b-92e9-744cbe949fe9","name":"user_id","value":"={{ $json.user_id }}","type":"number"},{"id":"9904fe58-621c-439a-9fe3-7975398fac68","name":"pedido_id","value":"={{ $json.pedido_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[20752,9920],"id":"69046b03-9fe1-4695-bb85-4bcfd2ecb681","name":"SetDados"},{"parameters":{"jsCode":" // ===== Emojis =====\nconst HDR_EMOJI  = '🔹';\nconst DESC_EMOJI = '📝';\n\n// -------- Helpers --------\nfunction toNum(x) {\n  if (typeof x === 'number' && isFinite(x)) return x;\n  if (x == null) return 0;\n  const s = String(x).replace(/[^\\d,.-]/g, '').replace(/\\.(?=\\d{3}(?:\\D|$))/g, '').replace(',', '.');\n  const n = Number(s);\n  return isFinite(n) ? n : 0;\n}\nfunction moneyTrim(n) {\n  const s = toNum(n).toFixed(2).replace(/(\\.\\d*?)0+$/, '$1').replace(/\\.$/, '');\n  return s;\n}\nfunction clean(txt) {\n  return String(txt || '')\n    .replace(/\\uFFFD/g, '')\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g,'')\n    .replace(/\\s*-\\s*/g, ' - ')\n    .replace(/[ \\t]+/g, ' ')\n    .trim();\n}\nconst bold = s => `*${s}*`;\n\n// -------- Inferência de Categoria & Tipo --------\nconst BEBIDAS_RX = /\\b(coca(?:\\s*cola)?|guaran[aá]|heineken|bud(?:weiser)?|cerveja|água|agua|fanta|sprite|pepsi|refrigerante|long\\s*neck|lata)\\b/i;\nconst BORDA_RX   = /\\bborda\\b/i;\nconst ESFIRRA_RX = /\\besfirra\\b/i;\n\nconst DOCES_RX = /\\b(chocolate|nutella|goiabada|doce\\s+de\\s+leite|brigadeiro|beijinho|romeu\\s*e\\s*julieta|banana|morango|paçoca|pacoca|prestígio|prestigio)\\b/i;\n\nfunction guessCategoria(nome, desc, cat) {\n  if (cat && String(cat).trim()) return String(cat).toLowerCase(); // já veio do backend\n  const hay = `${nome} ${desc}`;\n  if (BEBIDAS_RX.test(hay)) return 'bebida';\n  if (BORDA_RX.test(hay))   return 'borda';\n  if (ESFIRRA_RX.test(hay)) return 'esfirra';\n  return 'pizza'; // default\n}\n\nfunction guessTipo(nome, desc, tipo) {\n  if (tipo && String(tipo).trim()) return String(tipo).toLowerCase();\n  const hay = `${nome} ${desc}`;\n  return DOCES_RX.test(hay) ? 'doce' : 'salgada';\n}\n\n// -------- Entrada --------\nconst items = $input.all();\nlet rows = [];\nif (items.length > 1) rows = items.map(i => i.json);\nelse {\n  let p = items?.[0]?.json ?? {};\n  if (p && typeof p === 'object' && 'result' in p) p = p.result;\n  rows = Array.isArray(p) ? p : (p && typeof p === 'object' ? [p] : []);\n}\n\n// -------- Saída formatada --------\nconst lines = rows.map(r => {\n  const numero = r.numero ?? r.id ?? r.code ?? '';\n  const nome   = clean(r.nome ?? r.name ?? 'Item');\n  const desc   = clean(r.descricao ?? r.description ?? '');\n\n  const g = r.preco_grande ?? r.precoG ?? r.preco_g;\n  const m = r.preco_media  ?? r.precoM ?? r.preco_m;\n\n  const categoria = guessCategoria(nome, desc, r.categoria);\n  const tipo      = guessTipo(nome, desc, r.tipo);\n\n  const parts = [];\n  if (g != null && g !== '') parts.push(`(G) R$${moneyTrim(g)}`);\n  if (m != null && m !== '') parts.push(`(M) R$${moneyTrim(m)}`);\n  const precoStr = parts.join(' / ') || 'R$0';\n\n  const header = `${HDR_EMOJI} ${ bold(`(${numero})`) } ${nome} – ${bold(precoStr)} ${bold(` [${categoria}] [${tipo}]`)}`;\n  const body   = `${DESC_EMOJI} Descrição: ${desc || '-'}`\n  return `${header}\\n${body}`;\n});\n\nreturn [{\n  json: {\n    descricao: lines.join('\\n\\n'),\n    user_id: $json.user_id ?? null,\n    pedido_id: $json.pedido_id ?? null,\n    total: rows.length ,\n    nome:$('Bordas').first().json.nome,\n    pizza_pai:$('Bordas').first().json.pizza_pai,\n    categoria:$('Bordas').first().json.categoria,\n    user_id:$('MontPedido').first().json.user_id,\n    pedido_id:$('MontPedido').first().json.pedido_id\n    \n    \n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[20512,9920],"id":"7bac0093-f818-44a6-9064-8624fbd3f2ac","name":"VariasPizzas4"},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"=  {{$('Dados Lead').first().json.IdConversa}}","messageText":"= ```{{ $json.descricao }}```","options_message":{"delay":4}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[21248,10048],"id":"a71c62a1-deb7-4870-b57d-b36927d89b0d","name":"MenuCardapio55","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[21472,10048],"id":"3d83735d-b12d-4741-97dc-9f8418ae37f6","name":"No Operation, do nothing33","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"f8f7fcda-9c8d-471e-b971-6313296e9241","name":"numero_relacionado","value":"={{ $json.numero_relacionado }}","type":"number"},{"id":"6622be67-bc1b-4a82-87f9-263ef6d7a256","name":"item_id","value":"={{ $json.item_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[21776,10000],"id":"a4ac64df-297e-476b-ad21-29528c529a64","name":"Edit Fields1"},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"=  {{$('Dados Lead').first().json.IdConversa}}","messageText":"= ```Não encontrei  o item \" {{ $('Bordas').item.json.pizza_pai }} \" no seu pedido. \nPor favor tente novamente. \nAdicione ingrediente \"xxxxxxx\"  ao item 1```","options_message":{"delay":4}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[22208,9952],"id":"b6b1fce5-320e-4ecd-b0aa-8566602222dd","name":"MenuCardapio56","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[22448,9952],"id":"6d9174bd-251d-44df-9c73-f84a345fce3e","name":"No Operation, do nothing34","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a6c38674-cacc-47a4-91eb-67abc21df4ea","leftValue":"={{ $json.numero }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[20096,9936],"id":"8e877d46-fe4b-49e7-b313-24baf0232f96","name":"If15"},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"={{$('Dados Lead').first().json.IdConversa}}","messageText":"=```Não foi encontrado borda para o nome informado.```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[20304,10112],"id":"bf1385e9-0a47-4b46-a7f6-fd26893bd7e4","name":"MenuCardapio57","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[20512,10112],"id":"fdbeb91c-522f-4cdf-97cd-8a161c2dce70","name":"No Operation, do nothing35","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"resource":"messages-api","instanceName":"delivery","remoteJid":"={{ $('Dados Lead').item.json.IdConversa }}","messageText":"={{ $('MensagemTraduzida').item.json.message }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[10976,9296],"id":"cfe14c60-b00b-4418-94c3-545ec25a3926","name":"MenuCardapio46","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}}],"connections":{"Encontrar Cliente1":{"main":[[{"node":"Cliente Existe?1","type":"main","index":0}]]},"Cliente Existe?1":{"main":[[{"node":"If2","type":"main","index":0}],[{"node":"Criar Cliente1","type":"main","index":0}]]},"Criar Cliente1":{"main":[[{"node":"Concatena","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"EncontrarPedido","type":"main","index":0}]]},"Dados Lead":{"main":[[{"node":"Normalizador","type":"main","index":0}]]},"Parametros Fluxo":{"main":[[{"node":"Filtro Inicial1","type":"main","index":0}]]},"Concatena":{"main":[[{"node":"Merge1","type":"main","index":0}],[{"node":"Merge1","type":"main","index":1}]]},"Filtro Inicial1":{"main":[[{"node":"Dados Lead","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Menu","type":"ai_languageModel","index":0}]]},"MsgUsuario":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Switch":{"main":[[{"node":"MenuCardapio22","type":"main","index":0}],[{"node":"CancelarPedido","type":"main","index":0}],[{"node":"VerificaItens","type":"main","index":0}],[{"node":"If","type":"main","index":0}],[{"node":"ExcluiRejeitados1","type":"main","index":0}],[{"node":"primeiro atendimento","type":"main","index":0}],[{"node":"MenuCardapio2","type":"main","index":0}],[{"node":"MenuCardapio","type":"main","index":0}],[{"node":"Cancelar","type":"main","index":0}],[{"node":"AgenteBuscaCardapio","type":"main","index":0}],[{"node":"ConsultarCardapio","type":"main","index":0}],[{"node":"Numero","type":"main","index":0}]]},"BuscaCardapio":{"ai_tool":[[{"node":"AgenteBuscaCardapio","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"Parametros Fluxo","type":"main","index":0}]]},"Menu":{"main":[[{"node":"MenuCardapio46","type":"main","index":0}]]},"ExcluiRejeitados":{"main":[[{"node":"MenuCardapio15","type":"main","index":0}]]},"Cliente Pedido":{"main":[[{"node":"ConcatenaPedido","type":"main","index":0}],[{"node":"CriaPedido","type":"main","index":0}]]},"EncontrarPedido":{"main":[[{"node":"Cliente Pedido","type":"main","index":0}]]},"CriaPedido":{"main":[[{"node":"ConcatenaPedido","type":"main","index":0}]]},"ConcatenaPedido":{"main":[[{"node":"MergePedido","type":"main","index":0}],[{"node":"MergePedido","type":"main","index":1}]]},"MergePedido":{"main":[[{"node":"Menu","type":"main","index":0}]]},"If":{"main":[[{"node":"MenuCardapio14","type":"main","index":0}],[{"node":"ExcluiRejeitados","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"MenuCardapio9","type":"main","index":0}]]},"CancelarPedido":{"main":[[{"node":"If5","type":"main","index":0}]]},"If2":{"main":[[{"node":"IniciaAtendimento","type":"main","index":0}],[{"node":"AtendimentoEnviado","type":"main","index":0}]]},"IniciaAtendimento":{"main":[[{"node":"Concatena","type":"main","index":0}]]},"AtendimentoEnviado":{"main":[[{"node":"Concatena","type":"main","index":0}]]},"primeiro atendimento":{"main":[[{"node":"MenuCardapio6","type":"main","index":0}],[{"node":"MenuCardapio7","type":"main","index":0}]]},"Cancelar":{"main":[[{"node":"MenuCardapio3","type":"main","index":0}]]},"OpenAI Chat Model9":{"ai_languageModel":[[{"node":"AgenteBuscaCardapio","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory5":{"ai_memory":[[{"node":"AgenteBuscaCardapio","type":"ai_memory","index":0}]]},"MCP Client2":{"ai_tool":[[{"node":"AgenteBuscaCardapio","type":"ai_tool","index":0}]]},"AgenteBuscaCardapio":{"main":[[{"node":"MenuCardapio4","type":"main","index":0}]]},"If1":{"main":[[{"node":"Switch2","type":"main","index":0}],[]]},"Switch2":{"main":[[{"node":"If4","type":"main","index":0}],[{"node":"AtualizaEndereço","type":"main","index":0}],[{"node":"AtualizaBairro","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"CriaComentario","type":"main","index":0}]]},"AtualizaEndereço":{"main":[[{"node":"MenuCardapio29","type":"main","index":0}]]},"AtualizaBairro":{"main":[[{"node":"MenuCardapio28","type":"main","index":0}]]},"AtualizaFormaPagamento":{"main":[[{"node":"Execute a SQL query3","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"AtualizaFormaPagamento","type":"main","index":0}]]},"Execute a SQL query3":{"main":[[{"node":"MenuCardapio27","type":"main","index":0}]]},"ConcluiPedido":{"main":[[{"node":"Code7","type":"main","index":0}]]},"Execute a SQL query4":{"main":[[{"node":"MenuCardapio8","type":"main","index":0}]]},"StatusPedido":{"main":[[{"node":"If1","type":"main","index":0}]]},"Code3":{"main":[[{"node":"MenuCardapio12","type":"main","index":0}]]},"Rejeite":{"main":[[{"node":"Code3","type":"main","index":0}]]},"RejeitaItem":{"main":[[{"node":"ConcluiTudo","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"No Operation, do nothing17","type":"main","index":0}]]},"VerificaItens":{"main":[[{"node":"If3","type":"main","index":0}]]},"CriaComentario":{"main":[[{"node":"Confirmadados","type":"main","index":0}]]},"FinalizarPedido":{"main":[[{"node":"Execute a SQL query7","type":"main","index":0}]]},"If3":{"main":[[{"node":"VoltarParaItens","type":"main","index":0}],[{"node":"FinalizarPedido","type":"main","index":0}]]},"VoltarParaItens":{"main":[[{"node":"MenuCardapio21","type":"main","index":0}]]},"Confirmadados":{"main":[[{"node":"MenuCardapio26","type":"main","index":0}]]},"RequestMenu6":{"main":[[{"node":"MegaApi10","type":"main","index":0}]]},"If4":{"main":[[{"node":"AtualizaSumPedidoTemp","type":"main","index":0}],[{"node":"ExcluiComentario_temp","type":"main","index":0}]]},"FinalizarPedido1":{"main":[[{"node":"MenuCardapio30","type":"main","index":0}]]},"Execute a SQL query2":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Execute a SQL query7":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"MenuCardapio19","type":"main","index":0}]]},"Acao":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Execute a SQL query5":{"main":[[{"node":"No Operation, do nothing19","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"No Operation, do nothing18","type":"main","index":0}]]},"Wait":{"main":[[{"node":"MenuCardapio32","type":"main","index":0}]]},"If5":{"main":[[{"node":"MenuCardapio23","type":"main","index":0}],[{"node":"MenuCardapio24","type":"main","index":0}]]},"Bebidas":{"main":[[{"node":"Itembebida","type":"main","index":0}]]},"Pizzas Fracionada":{"main":[[{"node":"ItemFracionado","type":"main","index":0}]]},"Pizzas Inteira":{"main":[[{"node":"ItemInteira","type":"main","index":0}]]},"Esfirra":{"main":[[{"node":"ItemEsfirra","type":"main","index":0}]]},"Itembebida":{"main":[[{"node":"AtualizaNumeroBebida","type":"main","index":0}]]},"ItemFracionado":{"main":[[{"node":"Execute a SQL query12","type":"main","index":0}]]},"ItemInteira":{"main":[[{"node":"EncontreiVarias","type":"main","index":0}]]},"ItemEsfirra":{"main":[[{"node":"AtualizaNumeroEsfirra","type":"main","index":0}]]},"AtualizaValorBebida":{"main":[[{"node":"Merge","type":"main","index":0}]]},"AtualizaValorEsfirra":{"main":[[{"node":"Merge","type":"main","index":3}]]},"AtualizaNumeroBebida":{"main":[[{"node":"AtualizaValorBebida","type":"main","index":0}]]},"AtualizaNumeroEsfirra":{"main":[[{"node":"AtualizaValorEsfirra","type":"main","index":0}]]},"Merge":{"main":[[{"node":"RejeitaItem","type":"main","index":0}]]},"AtualizaValorPizzaFracionada":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain1","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Structured Output Parser [Schema]1":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Bebidas","type":"main","index":0},{"node":"Pizzas Fracionada","type":"main","index":0},{"node":"Pizzas Inteira","type":"main","index":0},{"node":"Esfirra","type":"main","index":0},{"node":"item","type":"main","index":0},{"node":"Bordas","type":"main","index":0}]]},"MontPedido":{"main":[[{"node":"Code2","type":"main","index":0}]]},"ExcluiRejeitados1":{"main":[[{"node":"Execute a SQL query2","type":"main","index":0}]]},"ExcluiComentario_temp":{"main":[[{"node":"FinalizarPedido1","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"FormaText2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Code10","type":"main","index":0}]]},"MenuCardapio":{"main":[[{"node":"No Operation, do nothing9","type":"main","index":0}]]},"MenuCardapio2":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"MenuCardapio3":{"main":[[{"node":"No Operation, do nothing10","type":"main","index":0}]]},"MenuCardapio4":{"main":[[{"node":"MenuCardapio5","type":"main","index":0}]]},"MenuCardapio5":{"main":[[{"node":"No Operation, do nothing13","type":"main","index":0}]]},"MenuCardapio6":{"main":[[{"node":"No Operation, do nothing11","type":"main","index":0}]]},"MenuCardapio7":{"main":[[{"node":"Execute a SQL query4","type":"main","index":0}]]},"MenuCardapio8":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"MenuCardapio9":{"main":[[{"node":"No Operation, do nothing7","type":"main","index":0}]]},"MenuCardapio10":{"main":[[{"node":"FormaText","type":"main","index":0}]]},"MenuCardapio11":{"main":[[{"node":"No Operation, do nothing8","type":"main","index":0}]]},"MenuCardapio12":{"main":[[{"node":"FormaText1","type":"main","index":0}]]},"MenuCardapio14":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"MenuCardapio15":{"main":[[{"node":"MontPedido","type":"main","index":0}]]},"MenuCardapio19":{"main":[[{"node":"No Operation, do nothing14","type":"main","index":0}]]},"MenuCardapio20":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"MenuCardapio21":{"main":[[{"node":"No Operation, do nothing15","type":"main","index":0}]]},"MenuCardapio22":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"MenuCardapio23":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"MenuCardapio24":{"main":[[{"node":"No Operation, do nothing21","type":"main","index":0}]]},"MenuCardapio25":{"main":[[{"node":"Execute a SQL query5","type":"main","index":0}]]},"MenuCardapio26":{"main":[[{"node":"MenuCardapio25","type":"main","index":0}]]},"MenuCardapio27":{"main":[[{"node":"No Operation, do nothing20","type":"main","index":0}]]},"MenuCardapio28":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]},"MenuCardapio29":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"MenuCardapio30":{"main":[[{"node":"No Operation, do nothing16","type":"main","index":0}]]},"MenuCardapio32":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}]]},"AtualizaSumPedidoTemp":{"main":[[{"node":"ConcluiPedido","type":"main","index":0}]]},"MensagemTraduzida":{"main":[[{"node":"Code4","type":"main","index":0}]]},"MenuCardapio33":{"main":[[{"node":"Encontrar Cliente1","type":"main","index":0}]]},"AtualizaValorPizza":{"main":[[{"node":"Merge","type":"main","index":2}]]},"If6":{"main":[[{"node":"MontaPedido2","type":"main","index":0}],[{"node":"PizzaPorNome","type":"main","index":0}]]},"MenuCardapio34":{"main":[[{"node":"Execute a SQL query8","type":"main","index":0}]]},"VariasPizza":{"main":[[{"node":"VariasPizzas","type":"main","index":0}]]},"If7":{"main":[[{"node":"MsgUsuario1","type":"main","index":0}],[{"node":"MsgUsuario","type":"main","index":0}]]},"MsgUsuario1":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Acao","type":"main","index":0}]]},"MenuCardapio35":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"PizzaPorNome":{"main":[[{"node":"AtualizaValorPizza","type":"main","index":0}]]},"PizzaPorNome1":{"main":[[{"node":"PizzaPorNome2","type":"main","index":0}]]},"PizzaPorNome2":{"main":[[{"node":"AtualizaValorPizzaFracionada","type":"main","index":0}]]},"Code5":{"main":[[{"node":"MenuCardapio10","type":"main","index":0}]]},"Code6":{"main":[[{"node":"MenuCardapio37","type":"main","index":0}]]},"MenuCardapio37":{"main":[[{"node":"MenuCardapio20","type":"main","index":0}]]},"Code7":{"main":[[{"node":"MenuCardapio38","type":"main","index":0}]]},"MenuCardapio38":{"main":[[{"node":"Wait","type":"main","index":0}]]},"VariasPizzas":{"main":[[{"node":"Code9","type":"main","index":0}]]},"MontaPedido2":{"main":[[{"node":"VariasPizza","type":"main","index":0}]]},"Execute a SQL query8":{"main":[[{"node":"MenuCardapio35","type":"main","index":0}]]},"If9":{"main":[[{"node":"MontaPedido3","type":"main","index":0}],[{"node":"PizzaPorNome1","type":"main","index":0}]]},"MenuCardapio41":{"main":[[{"node":"Execute a SQL query11","type":"main","index":0}]]},"VariasPizza2":{"main":[[{"node":"VariasPizzas2","type":"main","index":0}]]},"MenuCardapio42":{"main":[[{"node":"Wait7","type":"main","index":0}]]},"VariasPizzas2":{"main":[[{"node":"MenuCardapio41","type":"main","index":0}]]},"Execute a SQL query11":{"main":[[{"node":"MenuCardapio42","type":"main","index":0}]]},"MontaPedido3":{"main":[[{"node":"Code14","type":"main","index":0}]]},"FormaText":{"main":[[{"node":"MenuCardapio11","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Code10":{"main":[[{"node":"MenuCardapio33","type":"main","index":0}]]},"Code9":{"main":[[{"node":"MenuCardapio34","type":"main","index":0}]]},"OrdenaPedido":{"main":[[{"node":"Rejeite","type":"main","index":0}]]},"Code12":{"main":[[{"node":"MenuCardapio39","type":"main","index":0}]]},"MenuCardapio36":{"main":[[{"node":"OrdenaPedido1","type":"main","index":0}]]},"OrdenaPedido1":{"main":[[{"node":"PedidoPosExclusao","type":"main","index":0}]]},"MenuCardapio39":{"main":[[{"node":"No Operation, do nothing24","type":"main","index":0}]]},"MenuCardapio40":{"main":[[{"node":"MenuCardapio43","type":"main","index":0}]]},"MenuCardapio43":{"main":[[{"node":"No Operation, do nothing26","type":"main","index":0}]]},"VariasPizzas1":{"main":[[{"node":"Code13","type":"main","index":0}]]},"Code13":{"main":[[{"node":"MenuCardapio40","type":"main","index":0}]]},"ConsultarCardapio":{"main":[[{"node":"ConsultaOnline","type":"main","index":0}]]},"MenuCardapio44":{"main":[[{"node":"No Operation, do nothing27","type":"main","index":0}]]},"FormaText1":{"main":[[{"node":"MenuCardapio44","type":"main","index":0}]]},"FormaText2":{"main":[[{"node":"MenuCardapio45","type":"main","index":0}]]},"MenuCardapio45":{"main":[[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"Numero":{"main":[[{"node":"ExcluiBorda","type":"main","index":0}]]},"Excluir Item":{"main":[[{"node":"MenuCardapio36","type":"main","index":0}]]},"ExcluiBorda":{"main":[[{"node":"Excluir Item","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"MenuCardapio47","type":"main","index":0}]]},"MenuCardapio47":{"main":[[{"node":"No Operation, do nothing23","type":"main","index":0}]]},"item":{"main":[[{"node":"Item","type":"main","index":0}]]},"Item":{"main":[[{"node":"VerificaItemCardapio","type":"main","index":0}]]},"If10":{"main":[[{"node":"Merge","type":"main","index":4}],[{"node":"BuscaPaiItem","type":"main","index":0}]]},"VerificaItemCardapio":{"main":[[{"node":"If10","type":"main","index":0}]]},"BuscaPaiItem":{"main":[[{"node":"If12","type":"main","index":0}]]},"PizzaItemNome":{"main":[[{"node":"AtualizaValorItem","type":"main","index":0}]]},"AtualizaValorItem":{"main":[[{"node":"Merge","type":"main","index":4}]]},"ConcluiTudo":{"main":[[{"node":"OrdenaPedido","type":"main","index":0}]]},"ConsultaOnline":{"main":[[{"node":"VariasPizzas1","type":"main","index":0}]]},"Code14":{"main":[[{"node":"VariasPizza2","type":"main","index":0}]]},"PedidoPosExclusao":{"main":[[{"node":"Code12","type":"main","index":0}]]},"Execute a SQL query12":{"main":[[{"node":"If9","type":"main","index":0}]]},"Normalizador":{"main":[[{"node":"Validador","type":"main","index":0}]]},"Validador":{"main":[[{"node":"MensagemTraduzida","type":"main","index":0}]]},"Item1":{"main":[[{"node":"PizzaBordaPorNome","type":"main","index":0}]]},"If11":{"main":[[{"node":"Item1","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Bordas":{"main":[[{"node":"ConsultaBorda","type":"main","index":0}]]},"PizzaBordaPorNome":{"main":[[{"node":"AtualizaBordaValor","type":"main","index":0}]]},"AtualizaBordaValor":{"main":[[{"node":"Merge","type":"main","index":5}]]},"If12":{"main":[[{"node":"PizzaItemNome","type":"main","index":0}],[{"node":"MenuCardapio52","type":"main","index":0}]]},"MenuCardapio52":{"main":[[{"node":"No Operation, do nothing31","type":"main","index":0}]]},"BuscaPaiBorda":{"main":[[{"node":"If11","type":"main","index":0}]]},"If13":{"main":[[{"node":"MenuCardapio56","type":"main","index":0}],[{"node":"MenuCardapio53","type":"main","index":0}]]},"MenuCardapio53":{"main":[[{"node":"No Operation, do nothing32","type":"main","index":0}]]},"EncontreiVarias":{"main":[[{"node":"If6","type":"main","index":0}]]},"MenuCardapio54":{"main":[[{"node":"No Operation, do nothing25","type":"main","index":0}]]},"Wait7":{"main":[[{"node":"MenuCardapio54","type":"main","index":0}]]},"ConsultaBorda":{"main":[[{"node":"If15","type":"main","index":0}]]},"If14":{"main":[[{"node":"BuscaPaiBorda","type":"main","index":0}],[{"node":"MenuCardapio55","type":"main","index":0}]]},"SetDados":{"main":[[{"node":"If14","type":"main","index":0}]]},"VariasPizzas4":{"main":[[{"node":"SetDados","type":"main","index":0}]]},"MenuCardapio55":{"main":[[{"node":"No Operation, do nothing33","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"If13","type":"main","index":0}]]},"MenuCardapio56":{"main":[[{"node":"No Operation, do nothing34","type":"main","index":0}]]},"If15":{"main":[[{"node":"VariasPizzas4","type":"main","index":0}],[{"node":"MenuCardapio57","type":"main","index":0}]]},"MenuCardapio57":{"main":[[{"node":"No Operation, do nothing35","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.lglducci.com.br","user-agent":"axios/1.7.7","content-length":"956","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"159.69.117.195","cf-ipcountry":"DE","cf-ray":"97fa4a507a9f3a66-FRA","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/json","x-forwarded-for":"162.158.95.219","x-forwarded-host":"n8n.lglducci.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik_traefik.1","x-real-ip":"162.158.95.219"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"delivery","data":{"key":{"remoteJid":"5516992975836@s.whatsapp.net","fromMe":false,"id":"3EB0A03D133E9E767BA43D"},"pushName":"Luis Gustavo Landucci","message":{"conversation":"adicionar bordar cheddar ao item 1","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"qsa2uhWhGgSvcA==","senderTimestamp":"1757369973","senderAccountType":"E2EE","receiverAccountType":"E2EE","recipientKeyHash":"tPXKkPhX8YIDCg==","recipientTimestamp":"1757207594"},"deviceListMetadataVersion":2,"messageSecret":"Qe20wTWQa64xkU8Z1TQPPdULlQgyuhZgCPUR3BcNoSc="}},"messageType":"conversation","messageTimestamp":1757962022,"instanceId":"4dd4c0e0-99c0-4837-ad50-a467024f723a","source":"web"},"destination":"https://n8n.lglducci.com.br/webhook-test/agente","date_time":"2025-09-15T15:47:02.424Z","sender":"5516991216319@s.whatsapp.net","server_url":"https://evolution.lglducci.com.br","apikey":"61E902EA720B-492E-9768-BE78CE95B224"},"webhookUrl":"https://webhook.lglducci.com.br/webhook-test/agente","executionMode":"test"}}],"BuscaPaiBorda":[{"json":{"item_id":"763","tamanho":"grande","numero":"23","numero_relacionado":1}}],"Normalizador":[{"json":{"original":"  adicionar bordar cheddar ao item 1","comando_normalizado":"adicionar mussarela item 1"}}]},"versionId":"3413d893-bebc-4a9d-b613-6520ce31af98","triggerCount":1,"shared":[{"createdAt":"2025-09-18T10:28:45.413Z","updatedAt":"2025-09-18T10:28:45.413Z","role":"workflow:owner","workflowId":"XjpZ5CGjbZaGmw2K","projectId":"wFRMrac2003Pl1x6"}],"tags":[{"createdAt":"2025-09-07T00:48:06.709Z","updatedAt":"2025-09-07T00:48:06.709Z","id":"oyXqUAJNw26h8Z5c","name":"github"}]}