SiteFinanceFlow.json
{
  "name": "SiteFinanceFlow",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        864,
        128
      ],
      "id": "5cc8cd3e-8c00-4665-84a6-257cd7e27ee0",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.id_empresa}}",
              "type": "string"
            },
            {
              "id": "03e9c46a-0444-41d9-97af-93245605fe79",
              "name": "tipo",
              "value": "={{ $json.body.tipo}}",
              "type": "string"
            },
            {
              "id": "a60a91bf-26b8-4a5e-89f3-9b9a88261afe",
              "name": "conta",
              "value": "={{ $json.body.conta}}",
              "type": "string"
            },
            {
              "id": "089dd36c-f804-400a-9ad4-6bdb0e824caf",
              "name": "categoria",
              "value": "={{ $json.body.categoria}}",
              "type": "string"
            },
            {
              "id": "d1d7d5e0-4756-4001-a87b-b026c482568e",
              "name": "valor",
              "value": "={{ $json.body.valor}}",
              "type": "string"
            },
            {
              "id": "99d8e470-89a7-4ca9-851d-e660846a6f8f",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "1785aef6-9777-492f-a1c4-bbf34872bd03",
              "name": "data",
              "value": "={{ $json.body.data}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        1456
      ],
      "id": "a58c6fe2-e023-437c-9a09-bc943f088cc9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1dd2b61-d8dc-477c-97e5-0eda8863c8e6",
              "leftValue": "={{ $('Edit Fields').item.json.tipo }}",
              "rightValue": "despesa",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        1456
      ],
      "id": "6fd050fd-1401-42ff-9075-bd0ed5bc0c13",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        224,
        3760
      ],
      "id": "10ab8662-55d2-4be1-a564-788029218b5e",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1dd2b61-d8dc-477c-97e5-0eda8863c8e6",
              "leftValue": "={{ $json.tipo }}",
              "rightValue": "pagar",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        3760
      ],
      "id": "50acf92c-56b1-4edf-ab0f-1343896bbccb",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        32,
        3760
      ],
      "id": "0372a0d8-3a63-4ca4-b246-1aef1ea0982e",
      "name": "Merge1"
    },
    {
      "parameters": {
        "path": "listalancamentos",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        144,
        128
      ],
      "id": "c8ab1576-3b0e-4195-bc2d-258d4defc9c1",
      "name": "Lancamento",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novolancamento",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        96,
        1456
      ],
      "id": "70dfeab1-db4e-41bc-823e-757ddcfa1730",
      "name": "NovoLancamento",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  select * from ff_registrar_despesa(\n   {{ $('Edit Fields').item.json.id_empresa }},\n  {{ $('Edit Fields').item.json.conta }},\n   {{ $json.categoria }},null, null,\n    {{ $('Edit Fields').item.json.valor }},\n  '{{ $('Edit Fields').item.json.descricao }}'\n  ,'{{ $('Edit Fields').item.json.data }}' \n   \n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        1376
      ],
      "id": "433742e2-25e3-45af-8ca0-b5bbc2f5d119",
      "name": "registrar_despesa",
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  select * from ff_registrar_receita (\n   {{ $('Edit Fields').item.json.id_empresa }},\n  {{ $('Edit Fields').item.json.conta }},\n   {{ $json.categoria }},null, null,\n    {{ $('Edit Fields').item.json.valor }},\n  '{{ $('Edit Fields').item.json.descricao }}'\n  ,'{{ $('Edit Fields').item.json.data }}' \n   \n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        1568
      ],
      "id": "68bd6fbf-8e37-4a22-a95c-a60570945ad9",
      "name": "registrar_receita",
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from transacoes where empresa_id =  {{ $('Edit Fields').item.json.id_empresa }} and id = {{ $json.ff_registrar_despesa }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        848,
        1376
      ],
      "id": "ad064b75-536e-428b-b1e1-39e778de10ee",
      "name": "BuscaTransacao",
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "=1",
              "type": "string"
            },
            {
              "id": "03e9c46a-0444-41d9-97af-93245605fe79",
              "name": "tipo",
              "value": "=despesa",
              "type": "string"
            },
            {
              "id": "a60a91bf-26b8-4a5e-89f3-9b9a88261afe",
              "name": "conta",
              "value": "Santander",
              "type": "string"
            },
            {
              "id": "089dd36c-f804-400a-9ad4-6bdb0e824caf",
              "name": "categoria",
              "value": "compras",
              "type": "string"
            },
            {
              "id": "d1d7d5e0-4756-4001-a87b-b026c482568e",
              "name": "valor",
              "value": "100",
              "type": "string"
            },
            {
              "id": "99d8e470-89a7-4ca9-851d-e660846a6f8f",
              "name": "descricao",
              "value": "100 reais no posto do carlin",
              "type": "string"
            },
            {
              "id": "1785aef6-9777-492f-a1c4-bbf34872bd03",
              "name": "data",
              "value": "2025-11-25",
              "type": "string"
            },
            {
              "id": "a706eff1-8257-48c5-9349-ac2dd823e256",
              "name": "parcela",
              "value": "1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        3760
      ],
      "id": "f9b7d9f9-44a6-437a-ad47-273cad920270",
      "name": "EditPagarReceber"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select * from   ff_registrar_conta_pagar(\n   {{ $('EditPagarReceber').item.json.id_empresa }},\n  '{{ $('EditPagarReceber').item.json.descricao }}',\n    {{ $('EditPagarReceber').item.json.valor }},\n  '{{ $('EditPagarReceber').item.json.data }}',\n  '{{ $('EditPagarReceber').item.json.categoria }}', \n   {{ $('EditPagarReceber').item.json.parcela }}\n)\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -416,
        3632
      ],
      "id": "0b88e3d7-cdaf-4344-99a1-64f653fa7104",
      "name": "registrar_conta_pagar",
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select * from   ff_registrar_conta_receber(\n  {{ $json.id_empresa }},\n  '{{ $json.descricao }}',\n    {{ $json.valor }},\n  '{{ $json.data }}',\n  '{{ $json.categoria }}',\n   '{{ $json.data }}' \n)\n\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -416,
        3872
      ],
      "id": "8bf9eec9-8296-4d6e-9f21-ae42da38bbbc",
      "name": "registrar_conta_receber",
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from contas_a_pagar where empresa_id =   {{ $('EditPagarReceber').item.json.id_empresa }} and id ={{ $json.ff_registrar_conta_pagar }}  ;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -224,
        3632
      ],
      "id": "d926099b-acd1-42d4-bb13-9cec1c4761a1",
      "name": "conta_a_pagar",
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select * from contas_a_receber where empresa_id =   {{ $('EditPagarReceber').item.json.id_empresa }} and id = {{ $json.ff_registrar_conta_receber }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -208,
        3872
      ],
      "id": "9afebd05-502e-4316-baa4-4d696b3ba369",
      "name": "conta_a_receber",
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "path": "novopagarreceber",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1056,
        3760
      ],
      "id": "06cf2996-a81e-447a-a0b1-5430892be218",
      "name": "novopagarreceber",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "4845e432-43eb-497a-9a5b-fdffa48d0ee7",
              "name": "data_ini",
              "value": "={{ $json.query.data_ini}}",
              "type": "string"
            },
            {
              "id": "091771f1-f61a-4ea5-8e1b-cd26a9810971",
              "name": "data_fim",
              "value": "={{ $json.query.data_fim}}",
              "type": "string"
            },
            {
              "id": "dc56d54c-e41f-44da-a328-7e9abb3df615",
              "name": "conta_id",
              "value": "={{ $json.query.conta_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        128
      ],
      "id": "97732424-55f6-4788-851b-bf8801f8a8ba",
      "name": "TransacaoEdit"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT \n  t.id,\n  t.descricao,\n  c.nome AS categoria_nome,\n  f.nome AS conta_nome,\n  t.tipo,\n  t.data_movimento,\n  t.origem,\n  t.valor\nFROM transacoes t\nLEFT JOIN categorias_gerenciais c \n       ON c.id = t.categoria_id \n      AND c.empresa_id = t.empresa_id\nLEFT JOIN contas_financeiras f \n       ON f.id = t.conta_id\n      AND f.empresa_id = t.empresa_id\nWHERE t.empresa_id = {{ $json.id_empresa }}\n  AND t.data_movimento >= '{{ $json.data_ini }}'\n  AND t.data_movimento <= '{{ $json.data_fim }}' \n  and t.conta_id = {{ $json.conta_id }}\nORDER BY t.data_movimento asc, t.id asc;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        128
      ],
      "id": "7541d75a-b55e-4439-989d-f3ebecd4cd40",
      "name": "Lancamentos",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -720,
        1408
      ],
      "id": "e3375981-d980-4a89-8f36-9e116c61ef03",
      "name": "Respond to Webhook3",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "= 1",
              "type": "number"
            },
            {
              "id": "4845e432-43eb-497a-9a5b-fdffa48d0ee7",
              "name": "data_ini",
              "value": "20251101",
              "type": "string"
            },
            {
              "id": "091771f1-f61a-4ea5-8e1b-cd26a9810971",
              "name": "data_fim",
              "value": "20251123",
              "type": "string"
            },
            {
              "id": "24afd85d-d5a2-48b2-be90-942470e0438f",
              "name": "tt",
              "value": "={{ $json.query.id_empresa}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1104,
        1408
      ],
      "id": "bf8a9b87-7134-4e21-8d02-c6a0cc3ddc8a",
      "name": "CartãoTransacaoEdit",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "   select * from cartoes_transacoes\n     where empresa_id = {{ $json.id_empresa }} \n     and  data_parcela >= '{{ $json.data_ini }}'\n     and  data_parcela <= '{{ $json.data_fim }}' ;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -912,
        1408
      ],
      "id": "037f4e86-f8d5-4c97-8300-3f35fe196f01",
      "name": "CartãoTransações",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "path": "transcaocartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1312,
        1408
      ],
      "id": "01ebca7b-165b-4e5d-8322-7cbd2195c9cd",
      "name": "TrasacoesCartoes",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -448,
        480
      ],
      "id": "3e37fca5-35e3-4e7b-a41b-ede9aee74c4a",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "= 1",
              "type": "number"
            },
            {
              "id": "24afd85d-d5a2-48b2-be90-942470e0438f",
              "name": "nomecartao",
              "value": "=Nubank",
              "type": "string"
            },
            {
              "id": "230b6c3d-f5c9-4757-b5af-a3b0958c839d",
              "name": "descricao",
              "value": "Compra no posto do Carlin gasolina aditivada",
              "type": "string"
            },
            {
              "id": "5a635fe2-ab7b-4d45-9dc5-e5f2f4eea1c9",
              "name": "valor",
              "value": 150,
              "type": "number"
            },
            {
              "id": "f30f2fa4-b62e-4b2c-89dd-2af16c86bab4",
              "name": "parcelas",
              "value": 1,
              "type": "number"
            },
            {
              "id": "aa3b2e2e-a468-4dae-9cf8-67e4dcef888e",
              "name": "data_compra",
              "value": "20251116",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1104,
        480
      ],
      "id": "2df9558f-57ee-4e0e-9de3-a9dac760cddc",
      "name": "CartãoTransacaoEdit1"
    },
    {
      "parameters": {
        "path": "novatransacaocartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1328,
        480
      ],
      "id": "60369c68-2c08-4896-ab80-d1115141ed9f",
      "name": "InseretransacaoCartão",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select * from cartoes_transacoes\n     where empresa_id = {{ $('CartãoTransacaoEdit1').item.json.id_empresa }}\n     and   id =  {{ $json.ff_registrar_compra_credito }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -656,
        480
      ],
      "id": "b8729cc2-af9e-4dcd-a420-5ce71230fbf9",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        896,
        1008
      ],
      "id": "18a94455-223d-42ca-b5d6-1e49f4b3ef57",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "path": "consultasaldo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        176,
        1008
      ],
      "id": "f42858be-d358-4a66-8797-f6a64b7aae22",
      "name": "consultaSaldo",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "373fba2f-5a95-41d7-8881-ed39611774b5",
              "name": "data_ini",
              "value": "={{ $json.query.inicio}}",
              "type": "string"
            },
            {
              "id": "19aafbb0-761d-43c4-980f-49672742fd58",
              "name": "data_fim",
              "value": "={{ $json.query.fim}}",
              "type": "string"
            },
            {
              "id": "6eaba913-882f-46c6-9675-66a4c22b3224",
              "name": "conta_id",
              "value": "={{ $json.query.conta_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        1008
      ],
      "id": "c857f4b6-e44f-4326-ac6f-d4a95644ef75",
      "name": "SaldoEdit"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        864,
        2640
      ],
      "id": "f9d2e087-6c65-41c7-88a8-a93cec9447d3",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from   contas_financeiras where empresa_id = \n  {{ $json.id_empresa }}  ;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        2640
      ],
      "id": "567f3ad0-f2d8-4343-b628-bb86aaf24534",
      "name": "ListaContas",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        896,
        2464
      ],
      "id": "60dc597a-e60a-48b4-91f3-905301eb372a",
      "name": "Respond to Webhook7"
    },
    {
      "parameters": {
        "path": "listacontas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        2640
      ],
      "id": "b4ac1245-7fc8-44e5-9b17-c60691bab8e8",
      "name": "ListaContas2",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "path": "listacategorias",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        2464
      ],
      "id": "4afa7993-a1cb-451e-b2ab-e302a3d4673c",
      "name": "ListaCategoria",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from   categorias_gerenciais  where empresa_id = \n  {{ $json.id_empresa }} ;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        2464
      ],
      "id": "d64cd6bd-8c12-41eb-af96-3df6de6df709",
      "name": "categorias_gerenciais",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        2464
      ],
      "id": "83904d91-1e01-48b9-b7d8-03eb0501810e",
      "name": "categoriaEdit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        2640
      ],
      "id": "3d9fb80b-b724-4b55-b8e3-1af0597bbaf7",
      "name": "ListaEdit"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -624,
        2976
      ],
      "id": "80f5f8f6-3f63-4a52-80cb-2ebf8c5c8d82",
      "name": "Respond to Webhook9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "373fba2f-5a95-41d7-8881-ed39611774b5",
              "name": "nome",
              "value": "={{ $json.body.body.nome}}",
              "type": "string"
            },
            {
              "id": "19aafbb0-761d-43c4-980f-49672742fd58",
              "name": "banco",
              "value": "={{ $json.body.body.banco}}",
              "type": "string"
            },
            {
              "id": "a916646f-f4f1-40ea-9da4-7850cbcb06ff",
              "name": "nro_banco",
              "value": "={{ $json.body.body.nro_banco}}",
              "type": "string"
            },
            {
              "id": "aa28cde5-d733-4af3-bd3b-ff764742760b",
              "name": " agencia",
              "value": "={{ $json.body.body.agencia}}",
              "type": "string"
            },
            {
              "id": "b63c260a-d832-4644-84cd-ee94df4ccec7",
              "name": "conta",
              "value": "={{ $json.body.body.conta}}",
              "type": "string"
            },
            {
              "id": "bb6b3121-a463-48b0-94ee-46ffafccbcc1",
              "name": "conjunta",
              "value": "={{ $json.body.body.conjunta}}",
              "type": "string"
            },
            {
              "id": "f5d0b333-c217-450f-9173-7de4ae0dd30f",
              "name": " juridica",
              "value": "={{ $json.body.body.juridica}}",
              "type": "string"
            },
            {
              "id": "a11ed980-2c89-461d-8601-ddad5c3ecfca",
              "name": " padrao",
              "value": "={{ $json.body.body.padrao}}",
              "type": "string"
            },
            {
              "id": "e3e822e3-c0ee-4753-b8d3-0db50bd74a5a",
              "name": "tipo",
              "value": "={{ $json.body.body.tipo}}",
              "type": "string"
            },
            {
              "id": "bba3955d-1794-41c2-b7bd-988fced0b3fb",
              "name": "saldo_inicial",
              "value": "={{ $json.body.body.saldo_inicial}}",
              "type": "string"
            },
            {
              "id": "6f11c960-89ba-41b5-8ba5-80d0bafbf6b9",
              "name": "agencia",
              "value": "={{ $json.body.body.agencia}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1024,
        2976
      ],
      "id": "f65ac273-282f-4431-9b7d-3fa1a5a74aa1",
      "name": "SaldoEdit1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novacontafinanceira",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1280,
        2976
      ],
      "id": "009089e2-0eb7-42cb-9482-d63895739b72",
      "name": "ContaFinanceira",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "tableId": "contas_financeiras",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.id_empresa}} "
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome}}"
            },
            {
              "fieldId": "banco",
              "fieldValue": "={{ $json.banco}}"
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $json.tipo}}"
            },
            {
              "fieldId": "saldo_inicial",
              "fieldValue": "={{ $json.saldo_inicial}}"
            },
            {
              "fieldId": "nro_banco",
              "fieldValue": "={{ $json.nro_banco}}"
            },
            {
              "fieldId": "agencia",
              "fieldValue": "={{ $json.agencia}}"
            },
            {
              "fieldId": "conta",
              "fieldValue": "={{ $json.conta}}"
            },
            {
              "fieldId": "conjunta",
              "fieldValue": "={{ $json.conjunta}}"
            },
            {
              "fieldId": "juridica",
              "fieldValue": "={{ $json[' juridica'] }}"
            },
            {
              "fieldId": "padrao",
              "fieldValue": "={{ $json[' padrao'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -816,
        2976
      ],
      "id": "185b36a3-a5cb-4eea-b387-10f083807ef9",
      "name": "CriaConta",
      "credentials": {
        "supabaseApi": {
          "id": "CWq5gSkLWIN1dM0n",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -608,
        2784
      ],
      "id": "ae1c6f27-5a67-47ba-a269-2705ed9075c5",
      "name": "Respond to Webhook10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "373fba2f-5a95-41d7-8881-ed39611774b5",
              "name": "nome",
              "value": "={{ $json.body.body.nome}}",
              "type": "string"
            },
            {
              "id": "19aafbb0-761d-43c4-980f-49672742fd58",
              "name": "banco",
              "value": "={{ $json.body.body.banco}}",
              "type": "string"
            },
            {
              "id": "a916646f-f4f1-40ea-9da4-7850cbcb06ff",
              "name": "nro_banco",
              "value": "={{ $json.body.body.nro_banco}}",
              "type": "string"
            },
            {
              "id": "aa28cde5-d733-4af3-bd3b-ff764742760b",
              "name": " agencia",
              "value": "={{ $json.body.body.agencia}}",
              "type": "string"
            },
            {
              "id": "b63c260a-d832-4644-84cd-ee94df4ccec7",
              "name": "conta",
              "value": "={{ $json.body.body.conta}}",
              "type": "string"
            },
            {
              "id": "bb6b3121-a463-48b0-94ee-46ffafccbcc1",
              "name": "conjunta",
              "value": "={{ $json.body.body.conjunta}}",
              "type": "string"
            },
            {
              "id": "f5d0b333-c217-450f-9173-7de4ae0dd30f",
              "name": " juridica",
              "value": "={{ $json.body.body.juridica}}",
              "type": "string"
            },
            {
              "id": "a11ed980-2c89-461d-8601-ddad5c3ecfca",
              "name": " padrao",
              "value": "={{ $json.body.body.padrao}}",
              "type": "string"
            },
            {
              "id": "e3e822e3-c0ee-4753-b8d3-0db50bd74a5a",
              "name": "tipo",
              "value": "={{ $json.body.body.tipo}}",
              "type": "string"
            },
            {
              "id": "bba3955d-1794-41c2-b7bd-988fced0b3fb",
              "name": "saldo_inicial",
              "value": "={{ $json.body.body.saldo_inicial}}",
              "type": "string"
            },
            {
              "id": "6f11c960-89ba-41b5-8ba5-80d0bafbf6b9",
              "name": "agencia",
              "value": "={{ $json.body.body.agencia}}",
              "type": "string"
            },
            {
              "id": "df442724-bf40-472c-8dec-7478bc410e58",
              "name": "id",
              "value": "={{ $json.body.body.id}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1024,
        2784
      ],
      "id": "54deb96a-2700-459a-86d1-e957881d5799",
      "name": "SaldoEdit2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "updatecontafinanceira",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1264,
        2784
      ],
      "id": "1e79a384-a562-4262-ba3c-702e443c4db9",
      "name": "UpdateContaFinanceira",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contas_financeiras",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id}} "
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.id_empresa}} "
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome}}"
            },
            {
              "fieldId": "banco",
              "fieldValue": "={{ $json.banco}}"
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $json.tipo}}"
            },
            {
              "fieldId": "saldo_inicial",
              "fieldValue": "={{ $json.saldo_inicial}}"
            },
            {
              "fieldId": "nro_banco",
              "fieldValue": "={{ $json.nro_banco}}"
            },
            {
              "fieldId": "agencia",
              "fieldValue": "={{ $json.agencia}}"
            },
            {
              "fieldId": "conta",
              "fieldValue": "={{ $json.conta}}"
            },
            {
              "fieldId": "conjunta",
              "fieldValue": "={{ $json.conjunta}}"
            },
            {
              "fieldId": "juridica",
              "fieldValue": "={{ $json[' juridica'] }}"
            },
            {
              "fieldId": "padrao",
              "fieldValue": "={{ $json[' padrao'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -816,
        2784
      ],
      "id": "7074da72-69ed-4400-a1cb-c6c72344f7aa",
      "name": "UpdateConta",
      "credentials": {
        "supabaseApi": {
          "id": "CWq5gSkLWIN1dM0n",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        896,
        848
      ],
      "id": "bc281707-a4eb-452a-bc17-1b6ee0587ee4",
      "name": "Respond to Webhook11"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "df442724-bf40-472c-8dec-7478bc410e58",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        848
      ],
      "id": "b2a9189c-e8d2-42f5-9a29-53339326d280",
      "name": "SaldoEdit3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from contas_financeiras where  empresa_id = {{ $json.id_empresa }} and  id = {{ $json.id }};\n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        848
      ],
      "id": "35e073ac-f9f7-428c-945d-0c232941b44f",
      "name": "ContasFinanceiras",
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from  ff_consultar_saldo_periodo(\n  {{ $json.id_empresa }},\n  '{{ $json.data_ini }}',\n '{{ $json.data_fim }}',\n  {{ $json.conta_id }}\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        1008
      ],
      "id": "8b55d621-980e-4700-acb6-1730c12e892e",
      "name": "consultar_saldo_periodo",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, message: 'usuario ok' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        3120
      ],
      "id": "a4db31c7-5b56-42a1-8048-31ea83f9cf4f",
      "name": "Sim"
    },
    {
      "parameters": {
        "jsCode": "  return [{ json: { success: false, message: 'usuario invalido' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        3376
      ],
      "id": "3579562f-7784-4640-86d8-6d67439b93a6",
      "name": "Não"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "usuarios",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{$json.email}}"
            },
            {
              "keyName": "senha_hash",
              "keyValue": "={{ $json.password }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -832,
        3232
      ],
      "id": "cec7dc63-8ea9-4451-975f-8b949d8506ea",
      "name": "DadosUsuario",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "CWq5gSkLWIN1dM0n",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n * \n  FROM usuario_empresa ue\nJOIN usuarios u ON u.id = ue.usuario_id \n  WHERE u.email= '{{ $('DadosUsuario').item.json.email }}' AND \n  u.senha_hash = '{{ $('DadosUsuario').item.json.senha_hash }}' and escolha= true;\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        336,
        3216
      ],
      "id": "d9f22c4c-a7cd-4103-8704-ea02c1e46230",
      "name": "DadosEmpresa",
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "login",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1264,
        3232
      ],
      "id": "b81ab272-1633-40b7-8c35-1a25e30e730f",
      "name": "Login",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "059b3d30-905f-4038-b8c1-9582bae19867",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "91d4813d-55f8-40af-a588-cc77a7b30153",
              "leftValue": "= {{ $('Usuario').item.json.password }}",
              "rightValue": "={{ $json.senha_hash }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        3232
      ],
      "id": "461006be-dd03-4f34-bd49-4caeffe83aa9",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        64,
        3216
      ],
      "id": "4b50eb93-c13a-436a-abba-79594d3ea3ba",
      "name": "Merge2"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        560,
        3216
      ],
      "id": "a34b3bc3-2c29-450f-9f9f-9ee50fd24676",
      "name": "Respond to Webhook12"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "807e4143-d55c-420c-b026-90bb242e057f",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "f3078e1c-88ef-46e0-8681-76c60898ac50",
              "name": "password",
              "value": "={{ $json.body.senha}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        3232
      ],
      "id": "49f324d7-7dc4-473e-ac9f-13d24c90fadd",
      "name": "Usuario"
    },
    {
      "parameters": {
        "path": "retrieveontafinanceira",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        176,
        848
      ],
      "id": "ee1d40a5-875f-4d90-9e39-45e4ca79f002",
      "name": "RetrieveContaFInanc",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1104,
        1440
      ],
      "id": "30f3d129-4392-4ca6-939b-7d4f8ec08bcf",
      "name": "Respond to Webhook13"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from transacoes where empresa_id =  {{ $('Edit Fields').item.json.id_empresa }} and id = {{ $json.ff_registrar_receita }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        848,
        1568
      ],
      "id": "585bc91b-8aff-4f5e-8329-d7b01cc8b575",
      "name": "BuscaTransacao1",
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        880,
        672
      ],
      "id": "f6ca731a-36f0-4cc5-8229-9b9d1a2619b8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT \n  t.id,\n  t.conta_id, \n  t.categoria_id,\n   t.descricao, \n  t.tipo,\n  t.data_movimento,\n  t.origem,\n  t.valor\nFROM transacoes t\n \nWHERE t.empresa_id = {{ $json.id_empresa }}\n  AND t.id = {{ $json.id }} \n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        672
      ],
      "id": "c7f20a15-66b7-4eff-8449-40d829affe1f",
      "name": "Lancamentos1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "path": "editlancto",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        192,
        672
      ],
      "id": "309748b6-f906-480e-b691-9da169760aa7",
      "name": "EditarLancto",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.id_empresa}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        672
      ],
      "id": "c15c4d45-993f-4a6b-9475-bbebc19fdd1f",
      "name": "EditLancto"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        864,
        496
      ],
      "id": "4dfede3c-d699-42f1-9fe1-d5f3863ef014",
      "name": "Respond to Webhook14"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " delete \nFROM transacoes   \nWHERE empresa_id = {{ $json.id_empresa }}\n  AND id = {{ $json.id }} \n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        496
      ],
      "id": "8797eda4-27c8-4590-b496-d78ec48fbc7b",
      "name": "Lancamentos2",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "path": "deleteancto",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        176,
        496
      ],
      "id": "f8ebb1b7-541e-4214-aa00-d359fd612fce",
      "name": "DeliteLancto",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.id_empresa}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        496
      ],
      "id": "0f262b3e-2dbf-4674-acb8-0c20e8805237",
      "name": "Deletelancto"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        864,
        336
      ],
      "id": "681e88ff-78eb-4904-92cf-99e382937753",
      "name": "Respond to Webhook15"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "updatelancto",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        176,
        336
      ],
      "id": "2239c74c-db09-49ef-99ee-c5f2d84b50d7",
      "name": "UpdateLancto",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "transacoes",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id}} "
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.id_empresa}} "
            },
            {
              "fieldId": "conta_id",
              "fieldValue": "={{ $json.conta_id}}"
            },
            {
              "fieldId": "categoria_id",
              "fieldValue": "={{ $json.categoria_id}}"
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $json.tipo}}"
            },
            {
              "fieldId": "valor",
              "fieldValue": "={{ $json.valor}}"
            },
            {
              "fieldId": "descricao",
              "fieldValue": "={{ $json.descricao}}"
            },
            {
              "fieldId": "data_movimento",
              "fieldValue": "={{ $json.data_movimento}}"
            },
            {
              "fieldId": "origem",
              "fieldValue": "={{ $json.origem}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        640,
        336
      ],
      "id": "0ad8b58a-44db-42e6-bb0e-33849032d3a5",
      "name": "UpdateLancto1",
      "credentials": {
        "supabaseApi": {
          "id": "CWq5gSkLWIN1dM0n",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "5f3336f9-247a-4886-8eb8-3d7b4986eea8",
              "name": "conta_id",
              "value": "={{ $json.body.conta_id}}",
              "type": "string"
            },
            {
              "id": "49a5a239-cb38-4ead-8965-5ea655900d3c",
              "name": "categoria_id",
              "value": "={{ $json.body.categoria_id}}",
              "type": "string"
            },
            {
              "id": "dd4a2a9b-76e3-4e82-a3e3-d8d9a6b3b0f3",
              "name": "tipo",
              "value": "={{ $json.body.tipo}}",
              "type": "string"
            },
            {
              "id": "a2e92c4c-9f4d-434d-9b88-03ac77969ff6",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "0fbd6cd2-d457-4746-b457-c45b73fef4ec",
              "name": "valor",
              "value": "={{ $json.body.valor}}",
              "type": "string"
            },
            {
              "id": "37f90cdc-fd8e-4e63-93f4-965f853e64e5",
              "name": "data_movimento",
              "value": "={{ $json.body.data_movimento}}",
              "type": "string"
            },
            {
              "id": "965a678e-d4e3-4126-a08b-65193391b3a5",
              "name": "origem",
              "value": "={{ $json.body.origem}}",
              "type": "string"
            },
            {
              "id": "0f4e66fc-7279-4e4b-8fee-c9a2f2923c0c",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        336
      ],
      "id": "1910e9c6-003d-4945-9e3e-e7e369dd0eb3",
      "name": "Editlanct"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -704,
        1760
      ],
      "id": "5552af09-9b56-4784-b285-f4f91b5b8524",
      "name": "Respond to Webhook16"
    },
    {
      "parameters": {
        "path": "transcaocartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1312,
        1760
      ],
      "id": "e88ce486-240c-45a7-bdf3-f579a08be39e",
      "name": "TransacaoCartao",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select *\nfrom ff_transacoes_fatura_cartao(\n  {{ $json.id_empresa }},\n  '{{ $json.nome }}',\n  '{{ $json.data }}'\n)\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -896,
        1760
      ],
      "id": "1dcd7f1c-2c9e-4153-a052-6bef81423881",
      "name": "TransaCartão",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -640,
        1936
      ],
      "id": "750e14c7-0e41-47b7-8233-72061eb74980",
      "name": "Respond to Webhook17"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  \nSELECT \n    t.*,\n    c.nome AS cartao_nome,\n    c.bandeira AS cartao_bandeira\nFROM cartoes_transacoes t\nJOIN cartoes_faturas f \n      ON f.id = t.fatura_id\n     AND f.empresa_id = t.empresa_id\nJOIN cartoes c\n      ON c.id = f.cartao_id\n     AND c.empresa_id = t.empresa_id\nWHERE t.id = {{ $json.id }}\n  AND t.empresa_id = {{ $json.id_empresa }};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -880,
        1936
      ],
      "id": "c3b1bfc7-952d-426f-a259-db7fa74dc7f4",
      "name": "TransaCartão1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "path": "retrivetranscaocartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1312,
        1936
      ],
      "id": "d263c589-c5d2-462b-962f-22d5833ca306",
      "name": "Edittranscartao",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.id_empresa}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.query.id_transacao}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1088,
        1936
      ],
      "id": "5ab413b0-1d2a-46d7-8100-ec6ef3af6dd7",
      "name": "EditarTranscartao"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -512,
        1584
      ],
      "id": "f2a136c0-c728-4025-b110-ac20997141cb",
      "name": "Respond to Webhook19"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novatranscartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1312,
        1584
      ],
      "id": "32788223-76db-476e-a2ef-815e0b79723a",
      "name": "InsereTransCartão",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from cartoes_transacoes where id = {{ $json.ff_registrar_compra_credito }} and empresa_id = {{ $('Edtranscartao').item.json.id_empresa }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -704,
        1584
      ],
      "id": "74d2c8b1-4aaa-4dc6-b265-61bd59b63398",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.id_empresa}}",
              "type": "number"
            },
            {
              "id": "5f3336f9-247a-4886-8eb8-3d7b4986eea8",
              "name": "cartao_nome",
              "value": "={{ $json.body.cartao_nome}}",
              "type": "string"
            },
            {
              "id": "0fbd6cd2-d457-4746-b457-c45b73fef4ec",
              "name": "valor",
              "value": "={{ $json.body.valor_total}}",
              "type": "string"
            },
            {
              "id": "37f90cdc-fd8e-4e63-93f4-965f853e64e5",
              "name": "parcela_num",
              "value": "={{ $json.body.parcelas}}",
              "type": "string"
            },
            {
              "id": "965a678e-d4e3-4126-a08b-65193391b3a5",
              "name": "parcela_total",
              "value": "={{ $json.body.parcelas}}",
              "type": "string"
            },
            {
              "id": "0f4e66fc-7279-4e4b-8fee-c9a2f2923c0c",
              "name": "data_parcela",
              "value": "={{ $json.body.data_compra}}",
              "type": "string"
            },
            {
              "id": "15e950e4-e251-498f-b953-fc28eb8abe62",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1104,
        1584
      ],
      "id": "69a46984-16fd-40b4-ade3-8eb1143c5282",
      "name": "Edtranscartao"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -656,
        2128
      ],
      "id": "e1cb799b-40d2-4cb2-92a6-d2c30e3a2652",
      "name": "Respond to Webhook18"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.id_empresa}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.body.id_transacao}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1104,
        2128
      ],
      "id": "03ca9da3-ec85-4c5e-a0a2-e12e0911374c",
      "name": "EditarTranscartao1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "exclitranscartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1296,
        2128
      ],
      "id": "2284292e-2bba-4b5a-91c3-eea171cf93c9",
      "name": "Excluinscartao",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -608,
        688
      ],
      "id": "7458e77c-b708-4637-91a5-fdba1866501d",
      "name": "Respond to Webhook20"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novo_cartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1312,
        688
      ],
      "id": "d8ab8935-b025-4d61-8621-5499debde75b",
      "name": "NovoCartao",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "   select * from ff_registrar_compra_credito(\n   {{ $json.id_empresa }} ,\n  '{{ $json.nomecartao }}',\n   '{{ $json.descricao }}', \n    {{ $json.valor }},\n   {{ $json.parcelas }} ,\n   '{{ $json.data_compra }}' \n ) \n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -864,
        480
      ],
      "id": "56ee4713-060c-4305-980a-74d0dc0285d4",
      "name": "ff_registrar_compra_credito",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT *\n      \nFROM  ff_excluir_transacao_cartao( {{ $json.id_empresa }},   {{ $json.id }}) ;\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -880,
        2128
      ],
      "id": "1b6a127c-7079-4b2e-89db-2fca76c337d4",
      "name": "ff_excluir_transacao_cartao",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select  * from ff_registrar_compra_credito(\n  {{ $json.empresa_id }} ,\n  '{{ $json.cartao_nome }}',\n '{{ $json.descricao }}' ,\n {{ $json.valor }}  ,\n  {{ $json.parcela_num }},\n '{{ $json.data_parcela }}'  \n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -896,
        1584
      ],
      "id": "8a069681-a0cd-4317-a130-e8d3368c29e7",
      "name": "ff_registrar_compra_credito1",
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "content": "## Carregar cópia de segurança\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no repositório antes. Se sim (true), carregue a nova versão do arquivo. Caso contrário (false) crie o arquivo no repositório.",
        "height": 1148,
        "width": 1312
      },
      "id": "e9cc6518-6cf7-4288-b272-6fed9abe3a1a",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1456,
        48
      ]
    },
    {
      "parameters": {
        "path": "cartoes",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1328,
        288
      ],
      "id": "acec6d36-338c-48f9-baf7-6d9f9af0b996",
      "name": "ListaCartões",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from   cartoes  where empresa_id = {{ $json.id_empresa }} ;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -864,
        288
      ],
      "id": "7c54ef85-6956-47e8-bfba-3725f17a61e0",
      "name": "Cartoes",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.id_empresa}} ",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        288
      ],
      "id": "a7706f86-82f3-41f3-831e-6d94ef58a91c",
      "name": "cartoesEdit"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -656,
        288
      ],
      "id": "a35479ca-410f-4c16-b7df-acdf8f44777d",
      "name": "Respond to Webhook8"
    },
    {
      "parameters": {
        "content": "## Carregar cópia de segurança\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no repositório antes. Se sim (true), carregue a nova versão do arquivo. Caso contrário (false) crie o arquivo no repositório.",
        "height": 1004,
        "width": 1328,
        "color": 4
      },
      "id": "dc4c6c84-40f1-4950-9017-4bc49c2e7642",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1472,
        1296
      ]
    },
    {
      "parameters": {
        "content": "## Carregar cópia de segurança\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no repositório antes. Se sim (true), carregue a nova versão do arquivo. Caso contrário (false) crie o arquivo no repositório.",
        "height": 1196,
        "width": 1312,
        "color": 3
      },
      "id": "0e077de9-946d-4a74-8077-effec5fa7eff",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Carregar cópia de segurança\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no repositório antes. Se sim (true), carregue a nova versão do arquivo. Caso contrário (false) crie o arquivo no repositório.",
        "height": 988,
        "width": 1280,
        "color": 5
      },
      "id": "fa8832c5-2d2e-41ed-b078-06a6eda2d441",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16,
        1248
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.id_empresa}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "nome",
              "value": "={{ $json.query.cartao}}",
              "type": "string"
            },
            {
              "id": "dd1713ed-c8bf-488e-bf5f-64f5aee16daa",
              "name": "data",
              "value": "={{ $json.query.referencia}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1088,
        1760
      ],
      "id": "ad4a1f9a-5123-4433-9149-8751d22ad664",
      "name": "transcartao"
    },
    {
      "parameters": {
        "content": "## Carregar cópia de segurança\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no repositório antes. Se sim (true), carregue a nova versão do arquivo. Caso contrário (false) crie o arquivo no repositório.",
        "height": 128,
        "width": 1168,
        "color": 3
      },
      "id": "d8318991-d913-424f-8b31-86a97975a36b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1456,
        1392
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -656,
        128
      ],
      "id": "87a69074-8287-4408-8d5d-178728842a9b",
      "name": "Respond to Webhook21"
    },
    {
      "parameters": {
        "path": "editarcartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1328,
        128
      ],
      "id": "afece83a-a8f6-4a1b-b499-cf7d2f891038",
      "name": "EditarCartões",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}} ",
              "type": "number"
            },
            {
              "id": "51324e38-48c6-4999-a5e0-07f88de5777e",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        128
      ],
      "id": "975e2da6-f7d3-41cc-877e-a87a23e6e68c",
      "name": "EditarCartões1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from   cartoes  \n  where empresa_id = {{ $json.id_empresa }}\n and id = {{ $json.id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -864,
        128
      ],
      "id": "2a3370dd-27d9-42e9-8815-cd4d43d5fd00",
      "name": "EditarCartão",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -640,
        864
      ],
      "id": "385217d7-ee8a-47a4-aada-882b9f5549e7",
      "name": "Respond to Webhook22"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "373fba2f-5a95-41d7-8881-ed39611774b5",
              "name": "nome_cartao",
              "value": "={{ $json.body.NomeCartao}}",
              "type": "string"
            },
            {
              "id": "19aafbb0-761d-43c4-980f-49672742fd58",
              "name": "bandeira",
              "value": "={{ $json.body.bandeira}}",
              "type": "string"
            },
            {
              "id": "a916646f-f4f1-40ea-9da4-7850cbcb06ff",
              "name": "numero",
              "value": "={{ $json.body.numero}}",
              "type": "string"
            },
            {
              "id": "b63c260a-d832-4644-84cd-ee94df4ccec7",
              "name": "fechamento_dia",
              "value": "={{ $json.body.fechamento_dia}}",
              "type": "string"
            },
            {
              "id": "bb6b3121-a463-48b0-94ee-46ffafccbcc1",
              "name": "vencimento",
              "value": "={{ $json.body.vencimento}}",
              "type": "string"
            },
            {
              "id": "f5d0b333-c217-450f-9173-7de4ae0dd30f",
              "name": "status",
              "value": "={{ $json.body.status}}",
              "type": "string"
            },
            {
              "id": "234342fb-06fa-46a9-98f3-995fbf4f6116",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            },
            {
              "id": "63e47d45-ebcb-402b-92d6-2039f46950c3",
              "name": "limite",
              "value": "={{ $json.body.limite}}",
              "type": "string"
            },
            {
              "id": "c6d9460b-7809-4633-aa86-e0a2e2c25dda",
              "name": "vencimento_dia",
              "value": "={{ $json.body.vencimento_dia}}",
              "type": "string"
            },
            {
              "id": "2f89b1e2-c7c7-4bce-9edf-3a24a74a76db",
              "name": "limite_total",
              "value": "={{ $json.body.limite_total}}",
              "type": "string"
            },
            {
              "id": "da7d9e41-6981-4818-a621-d1b1d282f37c",
              "name": "nome",
              "value": "={{ $json.body.nome}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1088,
        864
      ],
      "id": "40984a63-52ae-4c71-95f9-a1ac09476c51",
      "name": "EditNewCartao1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "cartoes",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "empresa_id",
              "condition": "eq",
              "keyValue": "={{ $json.id_empresa }}"
            },
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.id_empresa}} "
            },
            {
              "fieldId": "NomeCartão",
              "fieldValue": "= {{ $json.nome_cartao }}"
            },
            {
              "fieldId": "bandeira",
              "fieldValue": "={{ $json.bandeira}}"
            },
            {
              "fieldId": "limite_total",
              "fieldValue": "={{ $json.limite_total }}"
            },
            {
              "fieldId": "fechamento_dia",
              "fieldValue": "= {{ $json.fechamento_dia }}"
            },
            {
              "fieldId": "vencimento_dia",
              "fieldValue": "={{ $json.vencimento_dia }}"
            },
            {
              "fieldId": "numero",
              "fieldValue": "={{ $json.numero }}"
            },
            {
              "fieldId": "Vencimento",
              "fieldValue": "={{ $json.vencimento}}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status}}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -864,
        864
      ],
      "id": "ac9ed5f4-35d3-4dd3-88aa-c7a5c10995ee",
      "name": "SalvaCartao",
      "credentials": {
        "supabaseApi": {
          "id": "CWq5gSkLWIN1dM0n",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "salvacartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1376,
        864
      ],
      "id": "57fecfef-dda3-4d05-aad5-50dc604f71c2",
      "name": "SalvaCartao1",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.id_empresa}}",
              "type": "number"
            },
            {
              "id": "373fba2f-5a95-41d7-8881-ed39611774b5",
              "name": "nome_cartao",
              "value": "={{ $json.body.NomeCartao}}",
              "type": "string"
            },
            {
              "id": "19aafbb0-761d-43c4-980f-49672742fd58",
              "name": "bandeira",
              "value": "={{ $json.body.bandeira}}",
              "type": "string"
            },
            {
              "id": "a916646f-f4f1-40ea-9da4-7850cbcb06ff",
              "name": "numero",
              "value": "={{ $json.body.numero}}",
              "type": "string"
            },
            {
              "id": "b63c260a-d832-4644-84cd-ee94df4ccec7",
              "name": "fechamento_dia",
              "value": "={{ $json.body.fechamento_dia}}",
              "type": "string"
            },
            {
              "id": "bb6b3121-a463-48b0-94ee-46ffafccbcc1",
              "name": "vencimento",
              "value": "={{ $json.body.vencimento}}",
              "type": "string"
            },
            {
              "id": "f5d0b333-c217-450f-9173-7de4ae0dd30f",
              "name": "status",
              "value": "={{ $json.body.status}}",
              "type": "string"
            },
            {
              "id": "c6d9460b-7809-4633-aa86-e0a2e2c25dda",
              "name": "vencimento_dia",
              "value": "={{ $json.body.vencimento_dia}}",
              "type": "string"
            },
            {
              "id": "2f89b1e2-c7c7-4bce-9edf-3a24a74a76db",
              "name": "limite_total",
              "value": "={{ $json.body.limite_total}}",
              "type": "string"
            },
            {
              "id": "3c55f15c-6281-446c-9a90-71428d00afee",
              "name": "nome",
              "value": "={{ $json.body.nome}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        688
      ],
      "id": "814ce516-fe0d-49d3-b00a-d437eca0713d",
      "name": "EditNewCartao"
    },
    {
      "parameters": {
        "tableId": "cartoes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.id_empresa}} "
            },
            {
              "fieldId": "NomeCartão",
              "fieldValue": "= {{ $json.nome_cartao }}"
            },
            {
              "fieldId": "bandeira",
              "fieldValue": "={{ $json.bandeira}}"
            },
            {
              "fieldId": "limite_total",
              "fieldValue": "={{ $json.limite_total }}"
            },
            {
              "fieldId": "fechamento_dia",
              "fieldValue": "= {{ $json.fechamento_dia }}"
            },
            {
              "fieldId": "vencimento_dia",
              "fieldValue": "={{ $json.vencimento_dia }}"
            },
            {
              "fieldId": "numero",
              "fieldValue": "={{ $json.numero }}"
            },
            {
              "fieldId": "Vencimento",
              "fieldValue": "={{ $json.vencimento}}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status}}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -848,
        688
      ],
      "id": "6ab29152-734b-4573-abd3-8db72bf83c0a",
      "name": "SalvaCartao2",
      "credentials": {
        "supabaseApi": {
          "id": "CWq5gSkLWIN1dM0n",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -496,
        1040
      ],
      "id": "6f3fb5b0-dd66-41f2-a83c-69339360c0f7",
      "name": "Respond to Webhook23"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " delete \nFROM cartoes\nWHERE empresa_id = {{ $json.id_empresa }}\n  AND id = {{ $json.id }} \n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -864,
        1040
      ],
      "id": "14f97650-de87-4bc1-bf14-384aa0fbb747",
      "name": "DelCartões",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.id_empresa}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        1040
      ],
      "id": "6bde8070-aac0-4848-9eb9-bc90339203bf",
      "name": "Delcartoes"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "excluircartoes",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1328,
        1040
      ],
      "id": "fdd414c1-85f7-4823-ae53-d0b072fe4fae",
      "name": "DelCard",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2848,
        3680
      ],
      "id": "8a004511-46db-421b-9427-da780ff42663",
      "name": "Respond to Webhook24"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "= 1",
              "type": "number"
            },
            {
              "id": "24afd85d-d5a2-48b2-be90-942470e0438f",
              "name": "nomecartao",
              "value": "=Nubank",
              "type": "string"
            },
            {
              "id": "230b6c3d-f5c9-4757-b5af-a3b0958c839d",
              "name": "descricao",
              "value": "Compra no posto do Carlin gasolina aditivada",
              "type": "string"
            },
            {
              "id": "5a635fe2-ab7b-4d45-9dc5-e5f2f4eea1c9",
              "name": "valor",
              "value": 150,
              "type": "number"
            },
            {
              "id": "f30f2fa4-b62e-4b2c-89dd-2af16c86bab4",
              "name": "parcelas",
              "value": 1,
              "type": "number"
            },
            {
              "id": "aa3b2e2e-a468-4dae-9cf8-67e4dcef888e",
              "name": "data_compra",
              "value": "20251116",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2192,
        3680
      ],
      "id": "01e87f0c-eb14-4467-a315-62d8dfcbe3a9",
      "name": "CartãoTransacaoEdit2"
    },
    {
      "parameters": {
        "path": "novatransacaocartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1968,
        3680
      ],
      "id": "c1585e0a-bd83-4343-9c94-a211cc849d2c",
      "name": "InseretransacaoCartão1",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select * from cartoes_transacoes\n     where empresa_id = {{ $('CartãoTransacaoEdit1').item.json.id_empresa }}\n     and   id =  {{ $json.ff_registrar_compra_credito }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2640,
        3680
      ],
      "id": "1cf46337-fae7-41e7-af3e-03d524c42e17",
      "name": "Execute a SQL query2",
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2688,
        3888
      ],
      "id": "8fc08e8f-526e-4c84-892d-ee8bde5102a6",
      "name": "Respond to Webhook25"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novo_cartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1984,
        3888
      ],
      "id": "4bb7492c-1a0a-46af-a650-dfa91b04c76b",
      "name": "NovoCartao1",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "   select * from ff_registrar_compra_credito(\n   {{ $json.id_empresa }} ,\n  '{{ $json.nomecartao }}',\n   '{{ $json.descricao }}', \n    {{ $json.valor }},\n   {{ $json.parcelas }} ,\n   '{{ $json.data_compra }}' \n ) \n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2432,
        3680
      ],
      "id": "012c82e2-ca2d-489f-80ac-8af07ccd8adf",
      "name": "ff_registrar_compra_credito2",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "path": "cartoes",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1968,
        3488
      ],
      "id": "1c8f4dc6-dc6d-4fb1-9570-a04202c28362",
      "name": "ListaCartões1",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from   cartoes  where empresa_id = {{ $json.id_empresa }} ;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2432,
        3488
      ],
      "id": "d418c4c7-2539-4812-9d72-fd84049d4a35",
      "name": "Cartoes1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.id_empresa}} ",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2176,
        3488
      ],
      "id": "e71a7421-d6ff-4d07-88b9-884dd565f174",
      "name": "cartoesEdit1"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2640,
        3488
      ],
      "id": "18455262-bcd6-4e86-9874-b88d1018b15e",
      "name": "Respond to Webhook26"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2640,
        3328
      ],
      "id": "ed698f56-3b73-4f78-ad5c-a6f3c0bc57ee",
      "name": "Respond to Webhook27"
    },
    {
      "parameters": {
        "path": "editarcartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1968,
        3328
      ],
      "id": "8c9d7842-e040-499c-8a54-3ef5153f3208",
      "name": "EditarCartões2",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}} ",
              "type": "number"
            },
            {
              "id": "51324e38-48c6-4999-a5e0-07f88de5777e",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2176,
        3328
      ],
      "id": "db2a1c69-bf7b-4f4f-96dc-c8174c2bf75a",
      "name": "EditarCartões3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from   cartoes  \n  where empresa_id = {{ $json.id_empresa }}\n and id = {{ $json.id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2432,
        3328
      ],
      "id": "a5a33d57-d87b-414c-aabe-ba2c14a70732",
      "name": "EditarCartão1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2656,
        4064
      ],
      "id": "02aa674e-1a43-45be-a397-0f9fb099b193",
      "name": "Respond to Webhook28"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "373fba2f-5a95-41d7-8881-ed39611774b5",
              "name": "nome_cartao",
              "value": "={{ $json.body.NomeCartao}}",
              "type": "string"
            },
            {
              "id": "19aafbb0-761d-43c4-980f-49672742fd58",
              "name": "bandeira",
              "value": "={{ $json.body.bandeira}}",
              "type": "string"
            },
            {
              "id": "a916646f-f4f1-40ea-9da4-7850cbcb06ff",
              "name": "numero",
              "value": "={{ $json.body.numero}}",
              "type": "string"
            },
            {
              "id": "b63c260a-d832-4644-84cd-ee94df4ccec7",
              "name": "fechamento_dia",
              "value": "={{ $json.body.fechamento_dia}}",
              "type": "string"
            },
            {
              "id": "bb6b3121-a463-48b0-94ee-46ffafccbcc1",
              "name": "vencimento",
              "value": "={{ $json.body.vencimento}}",
              "type": "string"
            },
            {
              "id": "f5d0b333-c217-450f-9173-7de4ae0dd30f",
              "name": "status",
              "value": "={{ $json.body.status}}",
              "type": "string"
            },
            {
              "id": "234342fb-06fa-46a9-98f3-995fbf4f6116",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            },
            {
              "id": "63e47d45-ebcb-402b-92d6-2039f46950c3",
              "name": "limite",
              "value": "={{ $json.body.limite}}",
              "type": "string"
            },
            {
              "id": "c6d9460b-7809-4633-aa86-e0a2e2c25dda",
              "name": "vencimento_dia",
              "value": "={{ $json.body.vencimento_dia}}",
              "type": "string"
            },
            {
              "id": "2f89b1e2-c7c7-4bce-9edf-3a24a74a76db",
              "name": "limite_total",
              "value": "={{ $json.body.limite_total}}",
              "type": "string"
            },
            {
              "id": "da7d9e41-6981-4818-a621-d1b1d282f37c",
              "name": "nome",
              "value": "={{ $json.body.nome}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2208,
        4064
      ],
      "id": "77eb4512-393b-4fd3-a4fb-4a0e55a83fa3",
      "name": "EditNewCartao2"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "cartoes",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "empresa_id",
              "condition": "eq",
              "keyValue": "={{ $json.id_empresa }}"
            },
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.id_empresa}} "
            },
            {
              "fieldId": "NomeCartão",
              "fieldValue": "= {{ $json.nome_cartao }}"
            },
            {
              "fieldId": "bandeira",
              "fieldValue": "={{ $json.bandeira}}"
            },
            {
              "fieldId": "limite_total",
              "fieldValue": "={{ $json.limite_total }}"
            },
            {
              "fieldId": "fechamento_dia",
              "fieldValue": "= {{ $json.fechamento_dia }}"
            },
            {
              "fieldId": "vencimento_dia",
              "fieldValue": "={{ $json.vencimento_dia }}"
            },
            {
              "fieldId": "numero",
              "fieldValue": "={{ $json.numero }}"
            },
            {
              "fieldId": "Vencimento",
              "fieldValue": "={{ $json.vencimento}}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status}}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2432,
        4064
      ],
      "id": "91d8101a-236a-4e3b-9ee8-72d9e9527fb9",
      "name": "SalvaCartao3",
      "credentials": {
        "supabaseApi": {
          "id": "CWq5gSkLWIN1dM0n",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "salvacartao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1920,
        4064
      ],
      "id": "3de6ad9f-a467-4263-ae5f-abcf57b0e604",
      "name": "SalvaCartao4",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.id_empresa}}",
              "type": "number"
            },
            {
              "id": "373fba2f-5a95-41d7-8881-ed39611774b5",
              "name": "nome_cartao",
              "value": "={{ $json.body.NomeCartao}}",
              "type": "string"
            },
            {
              "id": "19aafbb0-761d-43c4-980f-49672742fd58",
              "name": "bandeira",
              "value": "={{ $json.body.bandeira}}",
              "type": "string"
            },
            {
              "id": "a916646f-f4f1-40ea-9da4-7850cbcb06ff",
              "name": "numero",
              "value": "={{ $json.body.numero}}",
              "type": "string"
            },
            {
              "id": "b63c260a-d832-4644-84cd-ee94df4ccec7",
              "name": "fechamento_dia",
              "value": "={{ $json.body.fechamento_dia}}",
              "type": "string"
            },
            {
              "id": "bb6b3121-a463-48b0-94ee-46ffafccbcc1",
              "name": "vencimento",
              "value": "={{ $json.body.vencimento}}",
              "type": "string"
            },
            {
              "id": "f5d0b333-c217-450f-9173-7de4ae0dd30f",
              "name": "status",
              "value": "={{ $json.body.status}}",
              "type": "string"
            },
            {
              "id": "c6d9460b-7809-4633-aa86-e0a2e2c25dda",
              "name": "vencimento_dia",
              "value": "={{ $json.body.vencimento_dia}}",
              "type": "string"
            },
            {
              "id": "2f89b1e2-c7c7-4bce-9edf-3a24a74a76db",
              "name": "limite_total",
              "value": "={{ $json.body.limite_total}}",
              "type": "string"
            },
            {
              "id": "3c55f15c-6281-446c-9a90-71428d00afee",
              "name": "nome",
              "value": "={{ $json.body.nome}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        3888
      ],
      "id": "24d8e50a-3632-480f-b4ca-9035d9eddb6c",
      "name": "EditNewCartao3"
    },
    {
      "parameters": {
        "tableId": "cartoes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.id_empresa}} "
            },
            {
              "fieldId": "NomeCartão",
              "fieldValue": "= {{ $json.nome_cartao }}"
            },
            {
              "fieldId": "bandeira",
              "fieldValue": "={{ $json.bandeira}}"
            },
            {
              "fieldId": "limite_total",
              "fieldValue": "={{ $json.limite_total }}"
            },
            {
              "fieldId": "fechamento_dia",
              "fieldValue": "= {{ $json.fechamento_dia }}"
            },
            {
              "fieldId": "vencimento_dia",
              "fieldValue": "={{ $json.vencimento_dia }}"
            },
            {
              "fieldId": "numero",
              "fieldValue": "={{ $json.numero }}"
            },
            {
              "fieldId": "Vencimento",
              "fieldValue": "={{ $json.vencimento}}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status}}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2448,
        3888
      ],
      "id": "ae7793eb-6e0a-46ca-9b9d-3382586af00e",
      "name": "SalvaCartao5",
      "credentials": {
        "supabaseApi": {
          "id": "CWq5gSkLWIN1dM0n",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2800,
        4240
      ],
      "id": "a361b8a2-591a-4474-8a02-148f2c47a24a",
      "name": "Respond to Webhook29"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " delete \nFROM cartoes\nWHERE empresa_id = {{ $json.id_empresa }}\n  AND id = {{ $json.id }} \n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2432,
        4240
      ],
      "id": "3a0162b3-9197-42e8-b9bd-145040d897cd",
      "name": "DelCartões1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.id_empresa}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2176,
        4240
      ],
      "id": "daf01ce5-a6c8-490f-b651-b7d2d704c640",
      "name": "Delcartoes1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "excluircartoes",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1968,
        4240
      ],
      "id": "1ee6179d-0f67-475c-b6cb-47ce0f01c7e8",
      "name": "DelCard1",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2112,
        96
      ],
      "id": "9f5b48b5-24a3-471c-b7c4-3d0ebfd97c6b",
      "name": "Respond to Webhook31"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1920,
        -80
      ],
      "id": "caef3ab4-fb23-4750-a3bc-7d8c31d3a4bd",
      "name": "Respond to Webhook33"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2096,
        272
      ],
      "id": "e8233795-ce06-401d-8f73-c0a3a5a91d6f",
      "name": "Respond to Webhook34"
    },
    {
      "parameters": {
        "content": "##  Modulo Contas a Pagar\n Controla Contas a pagar do sistema Financeflow",
        "height": 1468,
        "width": 1328,
        "color": 6
      },
      "id": "bff5deaa-b72b-46ae-86d6-b4e644066088",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2896,
        -256
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novacontapagar",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2736,
        -80
      ],
      "id": "82dc82a2-1f64-4cd7-b7e4-a211f14926d7",
      "name": "InsereContapagar",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "5f3336f9-247a-4886-8eb8-3d7b4986eea8",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "0fbd6cd2-d457-4746-b457-c45b73fef4ec",
              "name": "valor",
              "value": "={{ $json.body.valor}}",
              "type": "string"
            },
            {
              "id": "0f4e66fc-7279-4e4b-8fee-c9a2f2923c0c",
              "name": "vencimento",
              "value": "={{ $json.body.vencimento}}",
              "type": "string"
            },
            {
              "id": "15e950e4-e251-498f-b953-fc28eb8abe62",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "2644f0d8-d165-4a3d-b186-4f2e72da2a8b",
              "name": "categoria_id",
              "value": "={{ $json.body.categoria_id}}",
              "type": "string"
            },
            {
              "id": "de393231-6bc4-46b1-a9fb-fa878f154e3a",
              "name": "parcelas",
              "value": "={{ $json.body.parcelas}}",
              "type": "string"
            },
            {
              "id": "71ad2246-2fab-44df-984a-c8967ab724a3",
              "name": "fornecedor_id",
              "value": "={{ $json.body.fornecedor_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2528,
        -80
      ],
      "id": "d91c37d3-9f53-45cd-ac00-ec7b64792c1c",
      "name": "EditaaContapagar"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from contas_a_pagar \n  where id = {{ $json.ff_registrar_conta_pagar_com_parcelas }}\n  and empresa_id = {{ $('EditaaContapagar').item.json.empresa_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2128,
        -80
      ],
      "id": "0f0ee072-d164-42c8-bb37-f953ec435d09",
      "name": "ResultConta_pagar",
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select *\nfrom ff_consultar_contas_pagar(\n  {{ $json.id_empresa }},\n  '{{ $json.status }}',\n  '{{ $json.data_ini}}', \n  '{{ $json.data_fim}}',\n   {{ $json.fornecedor_id }}\n)\n\n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2320,
        96
      ],
      "id": "1944dd03-6ce2-4ef6-8d73-862d4d16d5cb",
      "name": "ff_consultar_contas_pagar",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "status",
              "value": "={{ $json.query.status}}",
              "type": "string"
            },
            {
              "id": "dd1713ed-c8bf-488e-bf5f-64f5aee16daa",
              "name": "data_ini",
              "value": "={{ $json.query.data_ini}}",
              "type": "string"
            },
            {
              "id": "dc098c67-1af5-44ef-ae1d-3992855f7fde",
              "name": "data_fim",
              "value": "={{ $json.query.data_fim}}",
              "type": "string"
            },
            {
              "id": "80e0ae6a-d205-478d-bb01-118324bbe421",
              "name": "fornecedor_id",
              "value": "={{ $json.query.fornecedor_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2512,
        96
      ],
      "id": "575655de-b9c5-43ec-97f6-8c6f70ed2e6f",
      "name": "transcontapg"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2048,
        2816
      ],
      "id": "765d0bc9-f698-4d62-b4cc-fa810696ecb9",
      "name": "Respond to Webhook35"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2048,
        2992
      ],
      "id": "f4797e79-3f2a-40c2-8229-f844a1dc5546",
      "name": "Respond to Webhook36"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2032,
        3136
      ],
      "id": "579e8d7c-b632-4196-a8b1-0e0fd2ce35b0",
      "name": "Respond to Webhook38"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2448,
        3136
      ],
      "id": "4d8b8712-c64a-4a2f-af19-41c38c431bba",
      "name": "EditarTranscartao5"
    },
    {
      "parameters": {
        "content": "## Pessao Forncedor Cliente\nWebhook s relacionados a pewsssoa cliente fornecedor",
        "height": 1036,
        "width": 1232,
        "color": 4
      },
      "id": "5a5f7a03-57ac-4370-a49d-2a66cc450879",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2896,
        2704
      ]
    },
    {
      "parameters": {
        "path": "fornecedorcliente",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2672,
        2816
      ],
      "id": "06e8db59-04de-4d1b-a324-348d1000178c",
      "name": "ForncededorCliente",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "b0e434d4-9925-47e2-acb2-0d645c9ca347",
              "name": "tipo",
              "value": "={{ $json.query.tipo}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2448,
        2816
      ],
      "id": "c9ce49d6-77b1-4ed3-b65c-aca5e5bacc37",
      "name": "EditForneCliente"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select *\nfrom pessoa where empresa_id = \n  {{ $json.id_empresa }} and tipo = \n  '{{ $json.tipo }}' ;\n\n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2256,
        2816
      ],
      "id": "4bc89633-bc57-44e9-a0c3-ff5d7586f46b",
      "name": "ForneceClientePessoa",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "path": "editfornecedorcliente",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2672,
        2992
      ],
      "id": "d63df962-2024-4bb1-939c-2f6b1dcfcbdc",
      "name": "EditForneCliente1",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2448,
        2992
      ],
      "id": "2e2d7428-6817-4369-afab-95f72e419ccc",
      "name": "EditarFroCli1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  \nSELECT \n     *\nFROM pessoa  \nWHERE id = {{ $json.id }}\n  AND empresa_id = {{ $json.id_empresa }};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2240,
        2992
      ],
      "id": "f3504cce-6c05-421e-b95d-07bb6b6a6e16",
      "name": "FormFornecedorCliente",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2032,
        3296
      ],
      "id": "c6a86d31-236a-4694-9f9f-8e335ccb1cf1",
      "name": "Respond to Webhook30"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2032,
        3440
      ],
      "id": "5f375f96-2140-43c6-a00b-48ab92642704",
      "name": "Respond to Webhook39"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "salvafornecedor",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2672,
        3296
      ],
      "id": "f16545d8-8531-4175-bb7c-5d7359a7ba61",
      "name": "SalvaForCli",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "pessoa",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            },
            {
              "keyName": "empresa_id",
              "condition": "eq",
              "keyValue": "={{ $json.id_empresa }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.id_empresa}} "
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $json.tipo }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome }}"
            },
            {
              "fieldId": "cpf_cnpj",
              "fieldValue": "={{ $json.cpf_cnpj }}"
            },
            {
              "fieldId": "rg_ie",
              "fieldValue": "={{ $json.rg_ie }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $json.telefone }}"
            },
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{ $json.whatsapp }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldId": "endereco",
              "fieldValue": "={{ $json.endereco }}"
            },
            {
              "fieldId": "bairro",
              "fieldValue": "={{ $json.bairro }}"
            },
            {
              "fieldId": "cidade",
              "fieldValue": "={{ $json.cidade }}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "={{ $json.estado }}"
            },
            {
              "fieldId": "cep",
              "fieldValue": "={{ $json.cep }}"
            },
            {
              "fieldId": "obs",
              "fieldValue": "={{ $json.obs }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2240,
        3296
      ],
      "id": "22b92460-e88a-415d-98be-99980817c494",
      "name": "SalvaForneceClien",
      "credentials": {
        "supabaseApi": {
          "id": "CWq5gSkLWIN1dM0n",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "373fba2f-5a95-41d7-8881-ed39611774b5",
              "name": "tipo",
              "value": "={{ $json.body.tipo}}",
              "type": "string"
            },
            {
              "id": "19aafbb0-761d-43c4-980f-49672742fd58",
              "name": "nome",
              "value": "={{ $json.body.nome}}",
              "type": "string"
            },
            {
              "id": "a916646f-f4f1-40ea-9da4-7850cbcb06ff",
              "name": "cpf_cnpj",
              "value": "={{ $json.body.cpf_cnpj}}",
              "type": "string"
            },
            {
              "id": "b63c260a-d832-4644-84cd-ee94df4ccec7",
              "name": "rg_ie",
              "value": "={{ $json.body.rg_ie}}",
              "type": "string"
            },
            {
              "id": "c6d9460b-7809-4633-aa86-e0a2e2c25dda",
              "name": "telefone",
              "value": "={{ $json.body.telefone}}",
              "type": "string"
            },
            {
              "id": "2f89b1e2-c7c7-4bce-9edf-3a24a74a76db",
              "name": "whatsapp",
              "value": "={{ $json.body.whatsapp}}",
              "type": "string"
            },
            {
              "id": "3c55f15c-6281-446c-9a90-71428d00afee",
              "name": "email",
              "value": "={{ $json.body.email}}",
              "type": "string"
            },
            {
              "id": "f27b116b-79e3-4115-b020-19282f1d0301",
              "name": "endereco",
              "value": "={{ $json.body.endereco}}",
              "type": "string"
            },
            {
              "id": "5b6967a2-a8af-4dd4-bbf1-e979c55b0bc3",
              "name": "bairro",
              "value": "={{ $json.body.bairro}}",
              "type": "string"
            },
            {
              "id": "e7d195ea-f64c-4f92-ac7c-9247afeb7a63",
              "name": "cidade",
              "value": "={{ $json.body.cidade}}",
              "type": "string"
            },
            {
              "id": "1eaf0ca6-ca2b-494a-81dc-9a3e08964f4b",
              "name": "estado",
              "value": "={{ $json.body.estado}}",
              "type": "string"
            },
            {
              "id": "d1d6c68e-b1eb-40fd-8f58-40e75a04bb89",
              "name": "cep",
              "value": "={{ $json.body.cep}}",
              "type": "string"
            },
            {
              "id": "7e056b54-da25-4be0-941d-824af711e0d4",
              "name": "obs",
              "value": "={{ $json.body.obs}}",
              "type": "string"
            },
            {
              "id": "a4f0dceb-7ad8-47a3-bce1-5f687d584030",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2448,
        3296
      ],
      "id": "9c29816e-fc38-4ad8-a0ab-0f3895e42f84",
      "name": "EditSalvaForneceClien"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "373fba2f-5a95-41d7-8881-ed39611774b5",
              "name": "tipo",
              "value": "={{ $json.body.tipo}}",
              "type": "string"
            },
            {
              "id": "19aafbb0-761d-43c4-980f-49672742fd58",
              "name": "nome",
              "value": "={{ $json.body.nome}}",
              "type": "string"
            },
            {
              "id": "a916646f-f4f1-40ea-9da4-7850cbcb06ff",
              "name": "cpf_cnpj",
              "value": "={{ $json.body.cpf_cnpj}}",
              "type": "string"
            },
            {
              "id": "b63c260a-d832-4644-84cd-ee94df4ccec7",
              "name": "rg_ie",
              "value": "={{ $json.body.rg_ie}}",
              "type": "string"
            },
            {
              "id": "c6d9460b-7809-4633-aa86-e0a2e2c25dda",
              "name": "telefone",
              "value": "={{ $json.body.telefone}}",
              "type": "string"
            },
            {
              "id": "2f89b1e2-c7c7-4bce-9edf-3a24a74a76db",
              "name": "whatsapp",
              "value": "={{ $json.body.whatsapp}}",
              "type": "string"
            },
            {
              "id": "3c55f15c-6281-446c-9a90-71428d00afee",
              "name": "email",
              "value": "={{ $json.body.email}}",
              "type": "string"
            },
            {
              "id": "f27b116b-79e3-4115-b020-19282f1d0301",
              "name": "endereco",
              "value": "={{ $json.body.endereco}}",
              "type": "string"
            },
            {
              "id": "5b6967a2-a8af-4dd4-bbf1-e979c55b0bc3",
              "name": "bairro",
              "value": "={{ $json.body.bairro}}",
              "type": "string"
            },
            {
              "id": "e7d195ea-f64c-4f92-ac7c-9247afeb7a63",
              "name": "cidade",
              "value": "={{ $json.body.cidade}}",
              "type": "string"
            },
            {
              "id": "1eaf0ca6-ca2b-494a-81dc-9a3e08964f4b",
              "name": "estado",
              "value": "={{ $json.body.estado}}",
              "type": "string"
            },
            {
              "id": "d1d6c68e-b1eb-40fd-8f58-40e75a04bb89",
              "name": "cep",
              "value": "={{ $json.body.cep}}",
              "type": "string"
            },
            {
              "id": "7e056b54-da25-4be0-941d-824af711e0d4",
              "name": "obs",
              "value": "={{ $json.body.obs}}",
              "type": "string"
            },
            {
              "id": "a4f0dceb-7ad8-47a3-bce1-5f687d584030",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2448,
        3440
      ],
      "id": "f747f1dc-9140-4a1c-8d6f-95e6a7ee10be",
      "name": "EditSalvaForneceClien1"
    },
    {
      "parameters": {
        "tableId": "pessoa",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.id_empresa}} "
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $json.tipo }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome }}"
            },
            {
              "fieldId": "cpf_cnpj",
              "fieldValue": "={{ $json.cpf_cnpj }}"
            },
            {
              "fieldId": "rg_ie",
              "fieldValue": "={{ $json.rg_ie }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $json.telefone }}"
            },
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{ $json.whatsapp }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldId": "endereco",
              "fieldValue": "={{ $json.endereco }}"
            },
            {
              "fieldId": "bairro",
              "fieldValue": "={{ $json.bairro }}"
            },
            {
              "fieldId": "cidade",
              "fieldValue": "={{ $json.cidade }}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "={{ $json.estado }}"
            },
            {
              "fieldId": "cep",
              "fieldValue": "={{ $json.cep }}"
            },
            {
              "fieldId": "obs",
              "fieldValue": "={{ $json.obs }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2240,
        3440
      ],
      "id": "f9937ba9-f52c-4e8d-8dec-ea6f3e0e9b2f",
      "name": "InsereForneceClien",
      "credentials": {
        "supabaseApi": {
          "id": "CWq5gSkLWIN1dM0n",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "excluirfornecedorcliente",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2672,
        3136
      ],
      "id": "935299cf-ff64-4f8e-8237-271a86bc0eda",
      "name": "ExcluiForneClie",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete \n      \nFROM  pessoa where empresa_id = {{ $json.id_empresa }} and id =   {{ $json.id }} ;\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2240,
        3136
      ],
      "id": "963a92d7-23ea-4bae-ada2-34244e98dd19",
      "name": "ExcluiFornecedorCliente",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inserefornecedorcliente",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2672,
        3440
      ],
      "id": "80dcee31-4daa-434c-aff2-957294bfe601",
      "name": "InsereForCli",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "path": "consultarcontapagar",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2736,
        96
      ],
      "id": "cd138dc4-1808-4b1c-9869-ab1b92997197",
      "name": "ConsultarContaPagar",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select  * from ff_registrar_conta_pagar_com_parcelas(\n  {{ $json.empresa_id }} ,\n  '{{ $json.descricao}}',\n   {{ $json.valor}} , \n   '{{ $json.vencimento }}',\n   null, \n   {{ $json.parcelas}},\n   {{ $json.fornecedor_id }},\n   {{ $json.categoria_id}} \n)\n  \n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2320,
        -80
      ],
      "id": "11f6c6d3-9ce8-4a12-bab0-ee1b1e5a190c",
      "name": "ff_registrar_conta_pagar_com_parcelas",
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2080,
        464
      ],
      "id": "45e60da0-f207-4772-b99d-0c7b33338670",
      "name": "Respond to Webhook37"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contas_a_pagar",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            },
            {
              "keyName": "empresa_id",
              "condition": "eq",
              "keyValue": "={{ $json.empresa_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.empresa_id }}"
            },
            {
              "fieldId": "descricao",
              "fieldValue": "={{ $json.descricao }}"
            },
            {
              "fieldId": "valor",
              "fieldValue": "={{ $json.valor }}"
            },
            {
              "fieldId": "vencimento",
              "fieldValue": "={{ $json.vencimento }}"
            },
            {
              "fieldId": "categoria_id",
              "fieldValue": "={{ $json.categoria_id }}"
            },
            {
              "fieldId": "fornecedor_id",
              "fieldValue": "={{ $json.fornecedor_id }}"
            },
            {
              "fieldId": "parcelas",
              "fieldValue": "={{ $json.parcelas }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2304,
        464
      ],
      "id": "ac71c059-f542-47e0-9317-ff91275b105d",
      "name": "SalvaForneceClien1",
      "credentials": {
        "supabaseApi": {
          "id": "CWq5gSkLWIN1dM0n",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "5f3336f9-247a-4886-8eb8-3d7b4986eea8",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "0fbd6cd2-d457-4746-b457-c45b73fef4ec",
              "name": "valor",
              "value": "={{ $json.body.valor}}",
              "type": "string"
            },
            {
              "id": "0f4e66fc-7279-4e4b-8fee-c9a2f2923c0c",
              "name": "vencimento",
              "value": "={{ $json.body.vencimento}}",
              "type": "string"
            },
            {
              "id": "15e950e4-e251-498f-b953-fc28eb8abe62",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "2644f0d8-d165-4a3d-b186-4f2e72da2a8b",
              "name": "categoria_id",
              "value": "={{ $json.body.categoria_id}}",
              "type": "string"
            },
            {
              "id": "de393231-6bc4-46b1-a9fb-fa878f154e3a",
              "name": "parcelas",
              "value": "={{ $json.body.parcelas}}",
              "type": "string"
            },
            {
              "id": "71ad2246-2fab-44df-984a-c8967ab724a3",
              "name": "fornecedor_id",
              "value": "={{ $json.body.fornecedor_id}}",
              "type": "string"
            },
            {
              "id": "b97f031a-5075-4f75-a5a7-7b46fe82da37",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2512,
        464
      ],
      "id": "5aff4fba-b021-453a-b113-9687fcd86e3a",
      "name": "EditaaContapagar1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "salvarcontapagar",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2736,
        464
      ],
      "id": "3bd74e54-3516-4ed1-8ea3-5c9d6cf17bad",
      "name": "SalvaContaPagar",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "exclui_conta_pagar",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2736,
        272
      ],
      "id": "4ee3e243-409f-424a-a361-02b3a29ffb24",
      "name": "ExcluiContaPagar",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete \nFROM  contas_a_pagar   \n  where empresa_id =  {{ $json.id_empresa }}  \n  and    id = {{ $json.id }} ;\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2320,
        272
      ],
      "id": "790708b9-10ad-489c-bd2d-d434fe8bb46e",
      "name": "ExcluiConta_a_pagar",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2080,
        656
      ],
      "id": "347869d8-20f8-49dc-9894-6de5218cb7c0",
      "name": "Respond to Webhook40"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2544,
        272
      ],
      "id": "57afe1c7-0413-404d-a7f6-ec3b69a9aa48",
      "name": "ExcluircontaPagar"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2544,
        656
      ],
      "id": "5a6d3009-c9fb-4fb7-8f11-3343610a2fd5",
      "name": "EditarContaPagar"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * \nFROM  contas_a_pagar   \n  where empresa_id =  {{ $json.id_empresa }}  \n  and    id = {{ $json.id }} ;\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2304,
        656
      ],
      "id": "5781a180-7372-4ea9-8597-faf09cd14ccb",
      "name": "ExcluiConta_a_pagar1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "path": "conta_pagar",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2752,
        656
      ],
      "id": "fa760d18-a7ef-4e83-bf78-08b898dadb7c",
      "name": "ContaPagar",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2144,
        1552
      ],
      "id": "cedda222-8662-4e0a-9964-d44f8f96e882",
      "name": "Respond to Webhook32"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1952,
        1376
      ],
      "id": "363646e3-2910-41ce-9a96-9e77069c627d",
      "name": "Respond to Webhook41"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2128,
        1728
      ],
      "id": "a8628a01-521a-4e18-a78c-2f802d7de6c5",
      "name": "Respond to Webhook42"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2112,
        1920
      ],
      "id": "c3478151-b9e5-4c35-9580-a1702b084e03",
      "name": "Respond to Webhook43"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2112,
        2112
      ],
      "id": "c11cfe00-d75d-4798-bd39-99459e2084a2",
      "name": "Respond to Webhook44"
    },
    {
      "parameters": {
        "content": "##  Modulo Conta Receber\n Controla Contas a receber do sistema Financeflow",
        "height": 1292,
        "width": 1328,
        "color": 7
      },
      "id": "6d63745a-bfda-41ff-bab5-91ca46157a7f",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2944,
        1296
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novacontareceber",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2784,
        1376
      ],
      "id": "b071b13d-e5f7-4129-931b-d27f69cbbc2c",
      "name": "InsereContaReber",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "5f3336f9-247a-4886-8eb8-3d7b4986eea8",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "0fbd6cd2-d457-4746-b457-c45b73fef4ec",
              "name": "valor",
              "value": "={{ $json.body.valor}}",
              "type": "string"
            },
            {
              "id": "0f4e66fc-7279-4e4b-8fee-c9a2f2923c0c",
              "name": "vencimento",
              "value": "={{ $json.body.vencimento}}",
              "type": "string"
            },
            {
              "id": "15e950e4-e251-498f-b953-fc28eb8abe62",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "2644f0d8-d165-4a3d-b186-4f2e72da2a8b",
              "name": "categoria_id",
              "value": "={{ $json.body.categoria_id}}",
              "type": "string"
            },
            {
              "id": "de393231-6bc4-46b1-a9fb-fa878f154e3a",
              "name": "parcelas",
              "value": "={{ $json.body.parcelas}}",
              "type": "string"
            },
            {
              "id": "71ad2246-2fab-44df-984a-c8967ab724a3",
              "name": "fornecedor_id",
              "value": "={{ $json.body.fornecedor_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2560,
        1376
      ],
      "id": "a532daeb-c64b-4e29-9875-d483e19eb2c4",
      "name": "EditContaReceber"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select  * from ff_registrar_conta_receber_com_parcelas(\n  {{ $json.empresa_id }} ,\n  '{{ $json.descricao}}',\n   {{ $json.valor}} , \n   '{{ $json.vencimento }}',\n   null, \n   {{ $json.parcelas}},\n   {{ $json.fornecedor_id }},\n   {{ $json.categoria_id}} \n)\n  \n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2352,
        1376
      ],
      "id": "6f08dc17-a497-45c2-a353-2c7e1d8f7a4d",
      "name": "ff_registrar_conta_receber_com_parcelas",
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from contas_a_receber \n  where id = {{ $json.ff_registrar_conta_receber_com_parcelas }}\n  and empresa_id = {{ $('EditContaReceber').item.json.empresa_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2160,
        1376
      ],
      "id": "7595527f-f26c-4236-9685-ab53738730df",
      "name": "ResultContaReceber",
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "path": "consultarcontareceber",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2784,
        1552
      ],
      "id": "a1036d58-f742-458e-9740-9da51d260672",
      "name": "ConsultarContaReceber",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "status",
              "value": "={{ $json.query.status}}",
              "type": "string"
            },
            {
              "id": "dd1713ed-c8bf-488e-bf5f-64f5aee16daa",
              "name": "data_ini",
              "value": "={{ $json.query.data_ini}}",
              "type": "string"
            },
            {
              "id": "dc098c67-1af5-44ef-ae1d-3992855f7fde",
              "name": "data_fim",
              "value": "={{ $json.query.data_fim}}",
              "type": "string"
            },
            {
              "id": "80e0ae6a-d205-478d-bb01-118324bbe421",
              "name": "fornecedor_id",
              "value": "={{ $json.query.fornecedor_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2544,
        1552
      ],
      "id": "b57ded17-2311-441d-9fea-32476a7c18f1",
      "name": "EdContareceber"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " select *\nfrom ff_consultar_contas_receber(\n  {{ $json.id_empresa }},\n  '{{ $json.status }}',\n  '{{ $json.data_ini}}', \n  '{{ $json.data_fim}}',\n   {{ $json.fornecedor_id }}\n)\n\n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2352,
        1552
      ],
      "id": "319da577-ba6d-44de-b0fc-0c59362b92e4",
      "name": "ff_consultar_contas_receber",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "exclui_conta_receber",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2784,
        1728
      ],
      "id": "5668e39a-e7ba-4dea-a4ae-d924d2e965bc",
      "name": "ExcluiContaReceber",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2576,
        1728
      ],
      "id": "23be6d6e-9359-48c8-9b76-08c0c04f3ebf",
      "name": "ExcluircontaReceber"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete \nFROM  contas_a_receber  \n  where empresa_id =  {{ $json.id_empresa }}  \n  and    id = {{ $json.id }} ;\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2352,
        1728
      ],
      "id": "678b9b0b-6a18-4f2e-8696-3dfd26a25d52",
      "name": "ExcluiConta_a_receber",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "salvarcontareceber",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2784,
        1920
      ],
      "id": "196ac086-3009-4fb5-8c42-e77240069d83",
      "name": "SalvaContaReceber",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "5f3336f9-247a-4886-8eb8-3d7b4986eea8",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "0fbd6cd2-d457-4746-b457-c45b73fef4ec",
              "name": "valor",
              "value": "={{ $json.body.valor}}",
              "type": "string"
            },
            {
              "id": "0f4e66fc-7279-4e4b-8fee-c9a2f2923c0c",
              "name": "vencimento",
              "value": "={{ $json.body.vencimento}}",
              "type": "string"
            },
            {
              "id": "15e950e4-e251-498f-b953-fc28eb8abe62",
              "name": "descricao",
              "value": "={{ $json.body.descricao}}",
              "type": "string"
            },
            {
              "id": "2644f0d8-d165-4a3d-b186-4f2e72da2a8b",
              "name": "categoria_id",
              "value": "={{ $json.body.categoria_id}}",
              "type": "string"
            },
            {
              "id": "de393231-6bc4-46b1-a9fb-fa878f154e3a",
              "name": "parcelas",
              "value": "={{ $json.body.parcelas}}",
              "type": "string"
            },
            {
              "id": "71ad2246-2fab-44df-984a-c8967ab724a3",
              "name": "fornecedor_id",
              "value": "={{ $json.body.fornecedor_id}}",
              "type": "string"
            },
            {
              "id": "b97f031a-5075-4f75-a5a7-7b46fe82da37",
              "name": "id",
              "value": "={{ $json.body.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2544,
        1920
      ],
      "id": "228c62be-49cd-45eb-bd3f-dc495a94698d",
      "name": "EditaaContaReceberr"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contas_a_receber",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            },
            {
              "keyName": "empresa_id",
              "condition": "eq",
              "keyValue": "={{ $json.empresa_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa_id",
              "fieldValue": "={{ $json.empresa_id }}"
            },
            {
              "fieldId": "descricao",
              "fieldValue": "={{ $json.descricao }}"
            },
            {
              "fieldId": "valor",
              "fieldValue": "={{ $json.valor }}"
            },
            {
              "fieldId": "vencimento",
              "fieldValue": "={{ $json.vencimento }}"
            },
            {
              "fieldId": "categoria_id",
              "fieldValue": "={{ $json.categoria_id }}"
            },
            {
              "fieldId": "fornecedor_id",
              "fieldValue": "={{ $json.fornecedor_id }}"
            },
            {
              "fieldId": "parcelas",
              "fieldValue": "={{ $json.parcelas }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2336,
        1920
      ],
      "id": "bd4ecaec-2c45-48ac-a8c5-cf10fd794482",
      "name": "SalvaContaReceber1",
      "credentials": {
        "supabaseApi": {
          "id": "CWq5gSkLWIN1dM0n",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "path": "conta_receber",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2800,
        2112
      ],
      "id": "18c5b2f9-b22d-4665-8179-b8ea23e4c005",
      "name": "ContaReceber",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "id",
              "value": "={{ $json.query.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2576,
        2112
      ],
      "id": "e39458f5-ccad-4a6a-a294-1bf01425c6a1",
      "name": "EditarContaRecebe"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * \nFROM  contas_a_pagar   \n  where empresa_id =  {{ $json.id_empresa }}  \n  and    id = {{ $json.id }} ;\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2336,
        2112
      ],
      "id": "e08d950d-8ccf-4618-9959-a1f9f97aa137",
      "name": "ConsulaConaReceber",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2064,
        848
      ],
      "id": "4b495066-5b55-4c36-8fc1-107e79c3902b",
      "name": "Respond to Webhook45"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "empresa_id",
              "value": "={{ $json.query.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "lote_id",
              "value": "={{ $json.query.lote_id}}",
              "type": "string"
            },
            {
              "id": "e79af6bd-1ef9-45c4-a838-9edb25beedc4",
              "name": "categoria_id",
              "value": "={{ $json.query.categoria_id}}",
              "type": "string"
            },
            {
              "id": "7b59b655-0aa7-4bf1-a3d5-f054ebdbbfca",
              "name": "fornecedor_id",
              "value": "={{ $json.query.fornecedor_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2528,
        848
      ],
      "id": "822b77c5-8eef-473d-8c09-fe9232daee97",
      "name": "EditarContaPagar1"
    },
    {
      "parameters": {
        "path": "conta_pagar_parcelado",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2736,
        848
      ],
      "id": "8d1361d1-0e3f-4aaf-a02d-9b8c12aeda86",
      "name": "ContaPagar1",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT \n    cp.lote_id,\n    cp.descricao,\n    p.nome AS fornecedor_nome,\n    c.nome AS categoria_nome,\n    cp.parcelas,\n    cp.status,\n    SUM(cp.valor) AS valor_total\nFROM contas_a_pagar cp\nLEFT JOIN pessoa p \n       ON p.id = cp.fornecedor_id\nLEFT JOIN categorias_gerenciais c \n       ON c.id = cp.categoria_id\nWHERE cp.empresa_id =  {{ $json.empresa_id }}\n  AND ( {{ $json.lote_id }} =0   OR cp.lote_id IS NULL OR cp.lote_id = {{ $json.lote_id }}  )\n  AND (cp.fornecedor_id = {{ $json.fornecedor_id }} OR {{ $json.fornecedor_id }} = 0)\n  AND (cp.categoria_id = {{ $json.categoria_id }} OR {{ $json.categoria_id }} = 0)\n  AND  cp.parcelas > 1  \nGROUP BY \n    cp.lote_id,\n    cp.descricao,\n    p.nome,\n    c.nome,\n    cp.parcelas,\n    cp.status\nORDER BY cp.lote_id;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2288,
        848
      ],
      "id": "ba8e67d9-96ac-40e4-baea-b1ac873735c9",
      "name": "Parcelamento",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2096,
        1024
      ],
      "id": "b50e5c7e-b47d-4dc5-87b3-145479624819",
      "name": "Respond to Webhook46"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete \nFROM  contas_a_pagar   \n  where empresa_id =  {{ $json.id_empresa }}  \n  and    lote_id = {{ $json.lote_id }} ;\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2320,
        1024
      ],
      "id": "32faaed3-b25c-4f7c-bf1c-bf102d23326e",
      "name": "ExcluiConta_a_pagar2",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oP1tVR1WkfB1fTGt",
          "name": "Financeflow"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4616a119-9b3f-4dcd-b548-0be8d5f7a3b4",
              "name": "id_empresa",
              "value": "={{ $json.body.empresa_id}}",
              "type": "number"
            },
            {
              "id": "fce9f8e0-ff39-4e73-9ab4-7d8570f51007",
              "name": "lote_id",
              "value": "={{ $json.body.lote_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2544,
        1024
      ],
      "id": "fd329fdd-5fb0-4d0d-b44b-05ca06c0fb29",
      "name": "ExcluircontaPagar1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "excluirparcelaspagar",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2720,
        1024
      ],
      "id": "76c9e1da-32b0-4684-b826-fef4121b0214",
      "name": "ExcluiParcelaPagar",
      "webhookId": "77c2764f-3d24-48db-aef2-07b64e9ecdeb"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "registrar_despesa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "registrar_receita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "registrar_conta_pagar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "registrar_conta_receber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lancamento": {
      "main": [
        [
          {
            "node": "TransacaoEdit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NovoLancamento": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "registrar_despesa": {
      "main": [
        [
          {
            "node": "BuscaTransacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "registrar_receita": {
      "main": [
        [
          {
            "node": "BuscaTransacao1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscaTransacao": {
      "main": [
        [
          {
            "node": "Respond to Webhook13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditPagarReceber": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "registrar_conta_pagar": {
      "main": [
        [
          {
            "node": "conta_a_pagar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "registrar_conta_receber": {
      "main": [
        [
          {
            "node": "conta_a_receber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "conta_a_pagar": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "conta_a_receber": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "novopagarreceber": {
      "main": [
        [
          {
            "node": "EditPagarReceber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TransacaoEdit": {
      "main": [
        [
          {
            "node": "Lancamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lancamentos": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CartãoTransacaoEdit": {
      "main": [
        [
          {
            "node": "CartãoTransações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CartãoTransações": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TrasacoesCartoes": {
      "main": [
        [
          {
            "node": "CartãoTransacaoEdit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CartãoTransacaoEdit1": {
      "main": [
        [
          {
            "node": "ff_registrar_compra_credito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InseretransacaoCartão": {
      "main": [
        [
          {
            "node": "CartãoTransacaoEdit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultaSaldo": {
      "main": [
        [
          {
            "node": "SaldoEdit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SaldoEdit": {
      "main": [
        [
          {
            "node": "consultar_saldo_periodo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListaContas": {
      "main": [
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListaContas2": {
      "main": [
        [
          {
            "node": "ListaEdit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListaCategoria": {
      "main": [
        [
          {
            "node": "categoriaEdit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "categorias_gerenciais": {
      "main": [
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "categoriaEdit": {
      "main": [
        [
          {
            "node": "categorias_gerenciais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListaEdit": {
      "main": [
        [
          {
            "node": "ListaContas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SaldoEdit1": {
      "main": [
        [
          {
            "node": "CriaConta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContaFinanceira": {
      "main": [
        [
          {
            "node": "SaldoEdit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CriaConta": {
      "main": [
        [
          {
            "node": "Respond to Webhook9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SaldoEdit2": {
      "main": [
        [
          {
            "node": "UpdateConta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateContaFinanceira": {
      "main": [
        [
          {
            "node": "SaldoEdit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateConta": {
      "main": [
        [
          {
            "node": "Respond to Webhook10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SaldoEdit3": {
      "main": [
        [
          {
            "node": "ContasFinanceiras",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContasFinanceiras": {
      "main": [
        [
          {
            "node": "Respond to Webhook11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar_saldo_periodo": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sim": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "DadosUsuario": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DadosEmpresa": {
      "main": [
        [
          {
            "node": "Respond to Webhook12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Sim",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "DadosEmpresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usuario": {
      "main": [
        [
          {
            "node": "DadosUsuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RetrieveContaFInanc": {
      "main": [
        [
          {
            "node": "SaldoEdit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscaTransacao1": {
      "main": [
        [
          {
            "node": "Respond to Webhook13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lancamentos1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarLancto": {
      "main": [
        [
          {
            "node": "EditLancto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditLancto": {
      "main": [
        [
          {
            "node": "Lancamentos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lancamentos2": {
      "main": [
        [
          {
            "node": "Respond to Webhook14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeliteLancto": {
      "main": [
        [
          {
            "node": "Deletelancto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deletelancto": {
      "main": [
        [
          {
            "node": "Lancamentos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateLancto": {
      "main": [
        [
          {
            "node": "Editlanct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateLancto1": {
      "main": [
        [
          {
            "node": "Respond to Webhook15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editlanct": {
      "main": [
        [
          {
            "node": "UpdateLancto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TransacaoCartao": {
      "main": [
        [
          {
            "node": "transcartao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TransaCartão": {
      "main": [
        [
          {
            "node": "Respond to Webhook16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TransaCartão1": {
      "main": [
        [
          {
            "node": "Respond to Webhook17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edittranscartao": {
      "main": [
        [
          {
            "node": "EditarTranscartao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarTranscartao": {
      "main": [
        [
          {
            "node": "TransaCartão1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsereTransCartão": {
      "main": [
        [
          {
            "node": "Edtranscartao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Respond to Webhook19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edtranscartao": {
      "main": [
        [
          {
            "node": "ff_registrar_compra_credito1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarTranscartao1": {
      "main": [
        [
          {
            "node": "ff_excluir_transacao_cartao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excluinscartao": {
      "main": [
        [
          {
            "node": "EditarTranscartao1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NovoCartao": {
      "main": [
        [
          {
            "node": "EditNewCartao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_registrar_compra_credito": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_excluir_transacao_cartao": {
      "main": [
        [
          {
            "node": "Respond to Webhook18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_registrar_compra_credito1": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListaCartões": {
      "main": [
        [
          {
            "node": "cartoesEdit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cartoesEdit": {
      "main": [
        [
          {
            "node": "Cartoes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cartoes": {
      "main": [
        [
          {
            "node": "Respond to Webhook8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcartao": {
      "main": [
        [
          {
            "node": "TransaCartão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarCartões": {
      "main": [
        [
          {
            "node": "EditarCartões1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarCartões1": {
      "main": [
        [
          {
            "node": "EditarCartão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarCartão": {
      "main": [
        [
          {
            "node": "Respond to Webhook21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditNewCartao1": {
      "main": [
        [
          {
            "node": "SalvaCartao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaCartao": {
      "main": [
        [
          {
            "node": "Respond to Webhook22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaCartao1": {
      "main": [
        [
          {
            "node": "EditNewCartao1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditNewCartao": {
      "main": [
        [
          {
            "node": "SalvaCartao2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaCartao2": {
      "main": [
        [
          {
            "node": "Respond to Webhook20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DelCartões": {
      "main": [
        [
          {
            "node": "Respond to Webhook23",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delcartoes": {
      "main": [
        [
          {
            "node": "DelCartões",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DelCard": {
      "main": [
        [
          {
            "node": "Delcartoes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CartãoTransacaoEdit2": {
      "main": [
        [
          {
            "node": "ff_registrar_compra_credito2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InseretransacaoCartão1": {
      "main": [
        [
          {
            "node": "CartãoTransacaoEdit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query2": {
      "main": [
        [
          {
            "node": "Respond to Webhook24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NovoCartao1": {
      "main": [
        [
          {
            "node": "EditNewCartao3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_registrar_compra_credito2": {
      "main": [
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListaCartões1": {
      "main": [
        [
          {
            "node": "cartoesEdit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cartoes1": {
      "main": [
        [
          {
            "node": "Respond to Webhook26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cartoesEdit1": {
      "main": [
        [
          {
            "node": "Cartoes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarCartões2": {
      "main": [
        [
          {
            "node": "EditarCartões3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarCartões3": {
      "main": [
        [
          {
            "node": "EditarCartão1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarCartão1": {
      "main": [
        [
          {
            "node": "Respond to Webhook27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditNewCartao2": {
      "main": [
        [
          {
            "node": "SalvaCartao3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaCartao3": {
      "main": [
        [
          {
            "node": "Respond to Webhook28",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaCartao4": {
      "main": [
        [
          {
            "node": "EditNewCartao2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditNewCartao3": {
      "main": [
        [
          {
            "node": "SalvaCartao5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaCartao5": {
      "main": [
        [
          {
            "node": "Respond to Webhook25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DelCartões1": {
      "main": [
        [
          {
            "node": "Respond to Webhook29",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook29",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delcartoes1": {
      "main": [
        [
          {
            "node": "DelCartões1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DelCard1": {
      "main": [
        [
          {
            "node": "Delcartoes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsereContapagar": {
      "main": [
        [
          {
            "node": "EditaaContapagar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditaaContapagar": {
      "main": [
        [
          {
            "node": "ff_registrar_conta_pagar_com_parcelas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ResultConta_pagar": {
      "main": [
        [
          {
            "node": "Respond to Webhook33",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_consultar_contas_pagar": {
      "main": [
        [
          {
            "node": "Respond to Webhook31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcontapg": {
      "main": [
        [
          {
            "node": "ff_consultar_contas_pagar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarTranscartao5": {
      "main": [
        [
          {
            "node": "ExcluiFornecedorCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ForncededorCliente": {
      "main": [
        [
          {
            "node": "EditForneCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditForneCliente": {
      "main": [
        [
          {
            "node": "ForneceClientePessoa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ForneceClientePessoa": {
      "main": [
        [
          {
            "node": "Respond to Webhook35",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditForneCliente1": {
      "main": [
        [
          {
            "node": "EditarFroCli1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarFroCli1": {
      "main": [
        [
          {
            "node": "FormFornecedorCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FormFornecedorCliente": {
      "main": [
        [
          {
            "node": "Respond to Webhook36",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaForCli": {
      "main": [
        [
          {
            "node": "EditSalvaForneceClien",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaForneceClien": {
      "main": [
        [
          {
            "node": "Respond to Webhook30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditSalvaForneceClien": {
      "main": [
        [
          {
            "node": "SalvaForneceClien",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditSalvaForneceClien1": {
      "main": [
        [
          {
            "node": "InsereForneceClien",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsereForneceClien": {
      "main": [
        [
          {
            "node": "Respond to Webhook39",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiForneClie": {
      "main": [
        [
          {
            "node": "EditarTranscartao5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiFornecedorCliente": {
      "main": [
        [
          {
            "node": "Respond to Webhook38",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsereForCli": {
      "main": [
        [
          {
            "node": "EditSalvaForneceClien1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConsultarContaPagar": {
      "main": [
        [
          {
            "node": "transcontapg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_registrar_conta_pagar_com_parcelas": {
      "main": [
        [
          {
            "node": "ResultConta_pagar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaForneceClien1": {
      "main": [
        [
          {
            "node": "Respond to Webhook37",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditaaContapagar1": {
      "main": [
        [
          {
            "node": "SalvaForneceClien1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaContaPagar": {
      "main": [
        [
          {
            "node": "EditaaContapagar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiContaPagar": {
      "main": [
        [
          {
            "node": "ExcluircontaPagar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiConta_a_pagar": {
      "main": [
        [
          {
            "node": "Respond to Webhook34",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluircontaPagar": {
      "main": [
        [
          {
            "node": "ExcluiConta_a_pagar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarContaPagar": {
      "main": [
        [
          {
            "node": "ExcluiConta_a_pagar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiConta_a_pagar1": {
      "main": [
        [
          {
            "node": "Respond to Webhook40",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContaPagar": {
      "main": [
        [
          {
            "node": "EditarContaPagar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsereContaReber": {
      "main": [
        [
          {
            "node": "EditContaReceber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditContaReceber": {
      "main": [
        [
          {
            "node": "ff_registrar_conta_receber_com_parcelas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_registrar_conta_receber_com_parcelas": {
      "main": [
        [
          {
            "node": "ResultContaReceber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ResultContaReceber": {
      "main": [
        [
          {
            "node": "Respond to Webhook41",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConsultarContaReceber": {
      "main": [
        [
          {
            "node": "EdContareceber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EdContareceber": {
      "main": [
        [
          {
            "node": "ff_consultar_contas_receber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ff_consultar_contas_receber": {
      "main": [
        [
          {
            "node": "Respond to Webhook32",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiContaReceber": {
      "main": [
        [
          {
            "node": "ExcluircontaReceber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluircontaReceber": {
      "main": [
        [
          {
            "node": "ExcluiConta_a_receber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiConta_a_receber": {
      "main": [
        [
          {
            "node": "Respond to Webhook42",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaContaReceber": {
      "main": [
        [
          {
            "node": "EditaaContaReceberr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditaaContaReceberr": {
      "main": [
        [
          {
            "node": "SalvaContaReceber1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SalvaContaReceber1": {
      "main": [
        [
          {
            "node": "Respond to Webhook43",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContaReceber": {
      "main": [
        [
          {
            "node": "EditarContaRecebe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarContaRecebe": {
      "main": [
        [
          {
            "node": "ConsulaConaReceber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConsulaConaReceber": {
      "main": [
        [
          {
            "node": "Respond to Webhook44",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditarContaPagar1": {
      "main": [
        [
          {
            "node": "Parcelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContaPagar1": {
      "main": [
        [
          {
            "node": "EditarContaPagar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parcelamento": {
      "main": [
        [
          {
            "node": "Respond to Webhook45",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiConta_a_pagar2": {
      "main": [
        [
          {
            "node": "Respond to Webhook46",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluircontaPagar1": {
      "main": [
        [
          {
            "node": "ExcluiConta_a_pagar2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExcluiParcelaPagar": {
      "main": [
        [
          {
            "node": "ExcluircontaPagar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cbe55770-ff8d-4789-8f48-a0b6e52ed0d7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "015a3c38889842919d2c8bda9fa78ea791a0caa6a73cda77c5b046847d80724b"
  },
  "id": "Dk7hKgpUmaUDiPk3",
  "tags": []
}