sitevendadelivery-rqstcETNYwHjDrv6.json
{"createdAt":"2025-09-07T01:20:05.633Z","updatedAt":"2025-10-29T21:11:17.482Z","id":"rqstcETNYwHjDrv6","name":"SiteVendaDelivery","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"cardapio_publico","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-6320,752],"id":"43b2613f-cfac-4fa5-ade6-9d0e32a284d8","name":"Webhook","webhookId":"4bb058e1-a5fa-4abd-aa6c-4ab48b1afed1"},{"parameters":{"jsCode":" return items.map(item => {\n  const dados = item.json;\n  return {\n    json: {\n      numero: dados.id,\n      nome: dados.nome,\n      descricao: dados.descricao,\n      categoria: dados.categoria,\n      preco_pequena: dados.tamanhos?.find(t => t.nome === 'P')?.preco || 0,\n      preco_medio: dados.tamanhos?.find(t => t.nome === 'M')?.preco || dados.preco_medio || 0,\n      preco_grande: dados.tamanhos?.find(t => t.nome === 'G')?.preco || dados.preco_grande || 0,\n      imagem: dados.imagem || null\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5504,752],"id":"34b1c1b7-7b73-42e1-8b78-eacff0f4ec03","name":"cardapio3"},{"parameters":{"assignments":{"assignments":[{"id":"4616a119-9b3f-4dcd-b548-0be8d5f7a3b4","name":"id_empresa","value":"=1","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6096,752],"id":"85573914-1931-4d03-a9b2-6b3c2b5fb9da","name":"Edit Fields"},{"parameters":{"operation":"executeQuery","query":"   select * from cardapio where id_empresa =\n   {{ $json.id_empresa }}  order by numero , tipo desc ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5776,752],"id":"fcca54b3-2aef-447e-8dff-446d4200a92e","name":"Cardapio","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-5184,752],"id":"88a999c2-176f-483f-b465-41c182a0a1a3","name":"Respond to Webhook"},{"parameters":{"jsCode":" return [\n  {\n    json: {\n      data: $json,  // 👈 o conteúdo real do cardápio\n    },\n    headers: {\n      \"Access-Control-Allow-Origin\": \"*\",\n      \"Access-Control-Allow-Methods\": \"GET, POST, OPTIONS\",\n      \"Access-Control-Allow-Headers\": \"Content-Type, Authorization\",\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5472,528],"id":"7886d766-c951-457e-8bf7-fa94dd4efcab","name":"Code"},{"parameters":{"operation":"get","tableId":"usuario","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Dados Lead').item.json.IdConversa.trim() }}"},{"keyName":"id_empresa","keyValue":"1"}]}},"id":"e8e07eda-62c2-485b-bbad-5578663eea80","name":"Encontrar Cliente1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5920,1648],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3419c30f-4400-401b-bf40-db1579507f96","leftValue":"={{ $json.user_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"ad5c74de-3e39-49df-ae56-11e145be6e7b","name":"Cliente Existe?1","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-5680,1648],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"tableId":"usuario","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $('Dados Lead').item.json.LeadNome }}"},{"fieldId":"telefone","fieldValue":"={{ $('Dados Lead').item.json.IdConversa.trim() }}"},{"fieldId":"endereço","fieldValue":"={{ $('Dados Lead').item.json.endereco }}"},{"fieldId":"bairro","fieldValue":"={{ $('Dados Lead').item.json.bairro }}"},{"fieldId":"id_empresa","fieldValue":"1"}]}},"id":"dbe65cb2-77c9-4db7-a9fd-96c88d7eb094","name":"Criar Cliente1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5408,1808],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"id":"f39e069a-b530-4340-8b00-33443d748d64","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-4896,1680],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00d2650d-52f9-4bf5-9b50-ec548c105222","leftValue":"={{ $json.lead_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5104,1680],"id":"31a15db3-64f3-459d-933a-33b479aacc70","name":"Concatena"},{"parameters":{"tableId":"pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('Edit Fields2').item.json.user_id }}"},{"fieldId":"status","fieldValue":"inicio"},{"fieldId":"valor","fieldValue":"={{ $('Dados Lead').item.json.total }}"},{"fieldId":"tipo_cobranca","fieldValue":"={{ $('Dados Lead').item.json.pagamento }}"},{"fieldId":"id_empresa","fieldValue":"1"}]}},"id":"ff541664-c525-4651-9dae-ea54633c4c2f","name":"CriaPedido","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3904,1648],"credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"update","tableId":"usuario","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $json.user_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"endereço","fieldValue":"={{ $('Dados Lead').item.json.endereco }}"},{"fieldId":"bairro","fieldValue":"={{ $('Dados Lead').item.json.bairro }}"},{"fieldId":"ultima_forma_pagto","fieldValue":"={{ $('Dados Lead').item.json.pagamento }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5392,1568],"id":"2ff4485e-9bc9-46f3-96ab-d83371fcd6e7","name":"AtendimentoEnviado","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"9f488c5c-0b3b-48e9-87b1-5a22d513d1ec","name":"IdConversa","value":"={{ (() => {\n  const v = $('Webhook1').item.json.body.cliente.telefone ?? '';\n  const d = String(v).trim().replace(/\\D/g, '').replace(/^0+/, ''); // só números, tira zeros iniciais\n  return d ? (d.startsWith('55') ? d : '55' + d) : '';\n})() }}","type":"string"},{"id":"69f6217f-9063-423f-abf4-e94f6b70f94e","name":"LeadNome","value":"={{ $('Webhook1').item.json.body.cliente.nome }}","type":"string"},{"id":"4ca3ec90-96f0-4871-80d9-124d382dfee6","name":"total","value":"={{ $json.body.total }}","type":"number"},{"id":"1ef262ca-6155-4b16-b9f3-b4069d848419","name":"pagamento","value":"={{ $json.body.cliente.pagamento }}","type":"string"},{"id":"11f541c8-608b-48d0-9d19-07be38565e98","name":"endereco","value":"={{ $json.body.cliente.endereco }}","type":"string"},{"id":"daaec687-9849-43a3-ae2f-b30fc6a2b05b","name":"bairro","value":"= {{ $json.body.cliente.bairro }}","type":"string"},{"id":"1cd8b6c4-dc43-4d5f-95aa-a6174d3a8fe9","name":"bairro","value":"={{ $json.body.cliente.bairro }}","type":"string"},{"id":"6f29b573-bf99-4b53-b814-7310512744b9","name":"comentario","value":"= {{ $json.body.cliente.comentarios }}","type":"string"},{"id":"0c719a93-3cb1-4eb5-91ec-facc726d53ff","name":"telefone","value":"= {{ $json.body.cliente.telefone }}","type":"string"}]},"options":{}},"id":"2ec2376a-720c-4161-a7f1-96fc2c7e5adb","name":"Dados Lead","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6144,1648],"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"Ajuste o Node Set com os campos relevantes fornecidos.\n","height":248,"width":226,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6208,1584],"id":"8fcd093d-924e-44cf-bdde-e60786f49473","name":"Sticky Note"},{"parameters":{"content":"Ajustes os filtros necessários conforme seu gatilho de entrada","height":248,"width":190,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6496,1584],"id":"ebdfd0ef-7c70-4393-aa0b-6be04127368e","name":"Sticky Note1"},{"parameters":{"content":"Ajuste tempos de buffer e inatividade do agente conforme necessidade.\n","height":280,"width":190,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6784,1568],"id":"dc1d13ae-b60a-4093-bdbc-74e587e4361a","name":"Sticky Note18"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"204f54b0-e3ed-4ff4-8302-8c20d3b8aa78","leftValue":"={{ $('Webhook1').item.json.body.isGroup }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"c51986d9-f347-4198-89bb-9e4cd0f021c9","leftValue":"={{ $('Webhook1').item.json.body.broadcast }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"05ee6414-0164-473b-8f82-225cfba55ad2","leftValue":"={{ $('Webhook1').item.json.body.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"155900a0-6aad-4ac7-814b-36bed4661b6a","name":"Filtro Inicial1","type":"n8n-nodes-base.filter","typeVersion":2.1,"position":[-6464,1648],"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"jsCode":" const arr = $('Webhook1').first().json.body.itens || [];\n\nfunction normalizaTamanho(desc) {\n  const m = desc.match(/\\((G|M|P)\\)/i);\n  if (!m) return { tamanho: null, descSemTamanho: desc };\n  const letra = m[1].toUpperCase();\n  const mapa = { G: 'grande', M: 'medio', P: 'pequena' };\n  const descSemTamanho = desc.replace(/\\s*\\((G|M|P)\\)\\s*/i, ' ').replace(/\\s+/g, ' ').trim();\n  return { tamanho: mapa[letra] || null, descSemTamanho };\n}\n\nfunction extraiFracao(desc) {\n  const r = /Meia\\s+(\\d+)[^+]*\\+\\s*Meia\\s+(\\d+)/i.exec(desc);\n  if (!r) return null;\n  return { n1: Number(r[1]), n2: Number(r[2]) };\n}\n\nfunction primeiroNumero(desc) {\n  const m = desc.match(/^\\s*(\\d+)\\s*-\\s*/) || desc.match(/\\b(\\d+)\\b/);\n  return m ? Number(m[1]) : null;\n}\n\nreturn arr.map(it => {\n  const raw = String(it.descricao || '').trim();\n  const { tamanho, descSemTamanho } = normalizaTamanho(raw);\n  const frac = extraiFracao(descSemTamanho);\n  const fracionada = !!frac;\n  const numero = fracionada ? frac.n1 : primeiroNumero(descSemTamanho);\n  const numero_fracao = fracionada ? frac.n2 : null;\n\n  const preco = Number(it.preco ?? it.valor ?? 0);\n  const qtd = Number(it.qtd ?? it.quantidade ?? 1);\n  const valor_total = preco * qtd;\n\n  return {\n    json: {\n      ...it,\n      descricao: descSemTamanho,\n      tamanho,\n      fracionada,\n      numero,\n      numero_fracao,\n      preco,\n      qtd,\n      valor_total\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3488,1648],"id":"7dcb7304-bbb8-4ff0-9110-51797fc88482","name":"Code1"},{"parameters":{"tableId":"item_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"numero","fieldValue":"= {{ $json.numero }}"},{"fieldId":"quantidade","fieldValue":"={{ $json.qtd }}"},{"fieldId":"pedido_id","fieldValue":"={{ $('CriaPedido').item.json.pedido_id }}"},{"fieldId":"valor","fieldValue":"={{ $json.valor_total }}"},{"fieldId":"user_id","fieldValue":"={{ $('CriaPedido').item.json.user_id }}"},{"fieldId":"fracionada","fieldValue":"= {{ $json.fracionada }}"},{"fieldId":"tamanho","fieldValue":"={{ $json.tamanho }}"},{"fieldId":"valor_unitario","fieldValue":"= {{ $json.preco }}"},{"fieldId":"nome","fieldValue":"= {{ $json.descricao }}"},{"fieldId":"id_empresa","fieldValue":"1"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3264,1648],"id":"a912311b-fd7f-400a-ac02-4b88caad4078","name":"InsereItens","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"operation":"executeQuery","query":"  UPDATE Item_pedido_temp AS i\nSET volume = c.volume,\n  tipo = c.tipo,\n  categoria = c.categoria,\n  valor_unitario = valor / quantidade\nFROM cardapio AS c\nWHERE i.numero = c.numero\n    AND i.user_id =  {{ $('Merge1').item.json.user_id }}\n   AND i.pedido_id = {{ $('CriaPedido').item.json.pedido_id }};\n\n\n ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3056,1648],"id":"89b5ab0e-4649-4248-87b6-08a738a34487","name":"Execute a SQL query","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2080,1664],"id":"492aa3a3-d71c-4ed0-b85c-5b8e66002d90","name":"No Operation, do nothing5","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"executeQuery","query":"SELECT * from finalizar_pedido(   {{ $('Merge1').item.json.user_id }}  ,{{ $('CriaPedido').item.json.pedido_id }}  ,1 ) ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2624,1648],"id":"f03c6faa-314a-41ec-996a-06b372e290ec","name":"ConcluiPedido","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2256,1520],"id":"86f9d810-af72-4067-a0fa-014985bdfb34","name":"Wait","webhookId":"33c5308c-6ef7-4028-8fb7-f0f46b8d615d","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"tableId":"comentario_pedido_temp","fieldsUi":{"fieldValues":[{"fieldId":"pedido_id","fieldValue":"= {{ $('CriaPedido').item.json.pedido_id }}"},{"fieldId":"user_id","fieldValue":"={{ $('Merge1').item.json.user_id }} "},{"fieldId":"comentario","fieldValue":"= {{ $('Dados Lead').item.json.comentario }}"},{"fieldId":"id_empresa","fieldValue":"1"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2832,1648],"id":"92d5ac02-4557-4f4f-9d07-9cf755f42de2","name":"CriaComentario","credentials":{"supabaseApi":{"id":"CcvRddDPb5xelxfb","name":"Supabase account"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"item_pedido_temp","mode":"list","cachedResultName":"item_pedido_temp"},"deleteCommand":"delete","where":{"values":[{"column":"user_id","value":"={{ $json.user_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-4368,1648],"id":"67036d9d-68cd-4c40-9b01-a8ee1b5c3c18","name":"DeleteItens","alwaysOutputData":true,"credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"pedido_temp","mode":"list","cachedResultName":"pedido_temp"},"deleteCommand":"delete","where":{"values":[{"column":"user_id","value":"={{ $('Edit Fields2').item.json.user_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-4128,1648],"id":"d160f923-2ad1-44b2-a1bf-8da401656fd0","name":"Delete Pedidotemp","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"= {{$('Dados Lead').first().json.IdConversa}}\n","messageText":"= {{ $json.finalizar_pedido.replace(/\\n/g, '\\n') }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2400,1456],"id":"b777b5ef-d837-4178-a281-a9d0758ae537","name":"MenuCardapio13","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"=delivery","remoteJid":"={{$('Dados Lead').first().json.IdConversa}}\n","messageText":"=Estamos encerrando seu chamado. Muito Obrigado!!\n© 2025 Luis Gustavo Landucci — Right by LG™","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2096,1408],"id":"e91677c3-8233-4f8f-b61f-bea3239aa1a3","name":"MenuCardapio","credentials":{"evolutionApi":{"id":"ApqS5DPziUrzonYT","name":"Evolution account"}}},{"parameters":{"httpMethod":"POST","path":"finalizapedido","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-6752,1648],"id":"a31dd3d4-9c46-4686-883a-b98a4e15d061","name":"Webhook1","webhookId":"a9907ab7-afbf-4ee8-b19e-e3dc89aa791d"},{"parameters":{"jsCode":" return $('Webhook1').first().json.body.itens"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3696,1648],"id":"5123a83a-ab1c-42f1-be73-7d50c20a72b8","name":"Code2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-2288,1664],"id":"7ef6df9d-3e22-42fc-aec6-323c82102a8e","name":"Respond to Webhook1"},{"parameters":{"assignments":{"assignments":[{"id":"36437aa3-1b24-4d0c-b8df-f37bb7b4c3ec","name":"numero","value":"={{ $('CriaPedido').item.json.pedido_id }}","type":"number"},{"id":"74b87cb3-8ca6-4f86-8c39-0a354257c401","name":"mensagem","value":"= {{ $('ConcluiPedido').item.json.finalizar_pedido }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1936,1344],"id":"d8ed3545-872b-4811-b99d-edf21f988b47","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"e5245fad-d5d6-49b4-a4ab-4cfc2fa41287","name":"user_id","value":"={{ $json.user_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4688,1664],"id":"67d30466-4dda-47ce-a9ab-d024ec442b81","name":"Edit Fields2"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Cardapio","type":"main","index":0}]]},"Cardapio":{"main":[[{"node":"cardapio3","type":"main","index":0}]]},"cardapio3":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Code":{"main":[[]]},"Encontrar Cliente1":{"main":[[{"node":"Cliente Existe?1","type":"main","index":0}]]},"Cliente Existe?1":{"main":[[{"node":"AtendimentoEnviado","type":"main","index":0}],[{"node":"Criar Cliente1","type":"main","index":0}]]},"Criar Cliente1":{"main":[[{"node":"Concatena","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Concatena":{"main":[[{"node":"Merge1","type":"main","index":0}],[{"node":"Merge1","type":"main","index":1}]]},"CriaPedido":{"main":[[{"node":"Code2","type":"main","index":0}]]},"AtendimentoEnviado":{"main":[[{"node":"Concatena","type":"main","index":0}]]},"Dados Lead":{"main":[[{"node":"Encontrar Cliente1","type":"main","index":0}]]},"Filtro Inicial1":{"main":[[{"node":"Dados Lead","type":"main","index":0}]]},"Code1":{"main":[[{"node":"InsereItens","type":"main","index":0}]]},"InsereItens":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"CriaComentario","type":"main","index":0}]]},"ConcluiPedido":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"MenuCardapio","type":"main","index":0}]]},"CriaComentario":{"main":[[{"node":"ConcluiPedido","type":"main","index":0}]]},"DeleteItens":{"main":[[{"node":"Delete Pedidotemp","type":"main","index":0}]]},"Delete Pedidotemp":{"main":[[{"node":"CriaPedido","type":"main","index":0}]]},"MenuCardapio13":{"main":[[{"node":"Wait","type":"main","index":0}]]},"MenuCardapio":{"main":[[]]},"Webhook1":{"main":[[{"node":"Filtro Inicial1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Respond to Webhook1":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}]]},"Edit Fields1":{"main":[[]]},"Edit Fields2":{"main":[[{"node":"DeleteItens","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook1":[{"json":{"headers":{"host":"n8n.lglducci.com.br","user-agent":"node","content-length":"646","accept":"*/*","accept-encoding":"gzip, br","accept-language":"*","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"54.174.172.239","cf-ipcountry":"US","cf-ray":"97c88ff6bdd0d6e9-IAD","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/json","sec-fetch-mode":"cors","x-forwarded-for":"172.71.194.35","x-forwarded-host":"n8n.lglducci.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik_traefik.1","x-real-ip":"172.71.194.35","x-vercel-id":"gru1::rtrzg-1757440586907-e92932318ab1"},"params":{},"query":{},"body":{"cliente":{"nome":"Luis Torquato Neto","telefone":"5516992975836","endereco":"rua da pereira","bairro":"centri","pagamento":"Pix","comentarios":"sdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfdsffsdfsd"},"itens":[{"descricao":"3 - Calabresa","qtd":1,"preco":53.5},{"descricao":"2 - Presunto e Queijo","qtd":1,"preco":53.5}],"subtotal":107,"taxaEntrega":3,"total":110,"mensagem_formatada":"Pedido nº \nEntrega para: rua da pereira - centri\nResumo:\n       1x 3 - Calabresa — R$ 53.50\n       1x 2 - Presunto e Queijo — R$ 53.50\nForma de pagamento: Pix\nEntrega: R$ 3.00\nTotal: R$ 110.00\nComentário: sdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfdsffsdfsd"},"webhookUrl":"https://webhook.lglducci.com.br/webhook-test/finalizapedido","executionMode":"test"}}]},"versionId":"7eb1c5e5-9f1f-4607-974e-3be0a1270238","triggerCount":2,"shared":[{"createdAt":"2025-09-07T01:20:05.633Z","updatedAt":"2025-09-07T01:20:05.633Z","role":"workflow:owner","workflowId":"rqstcETNYwHjDrv6","projectId":"wFRMrac2003Pl1x6"}],"tags":[]}