sitevendadelivery-rqstcETNYwHjDrv6.json
{"createdAt":"2025-09-07T01:20:05.633Z","updatedAt":"2025-10-05T00:45:19.444Z","id":"rqstcETNYwHjDrv6","name":"SiteVendaDelivery","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"cardapio","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-896,336],"id":"43b2613f-cfac-4fa5-ade6-9d0e32a284d8","name":"Webhook","webhookId":"4bb058e1-a5fa-4abd-aa6c-4ab48b1afed1"},{"parameters":{"jsCode":" return items.map(item => {\n  const dados = item.json;\n  return {\n    json: {\n      numero: dados.id,\n      nome: dados.nome,\n      descricao: dados.descricao,\n      categoria: dados.categoria,\n      preco_pequena: dados.tamanhos?.find(t => t.nome === 'P')?.preco || 0,\n      preco_medio: dados.tamanhos?.find(t => t.nome === 'M')?.preco || dados.preco_medio || 0,\n      preco_grande: dados.tamanhos?.find(t => t.nome === 'G')?.preco || dados.preco_grande || 0,\n      imagem: dados.imagem || null\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,336],"id":"34b1c1b7-7b73-42e1-8b78-eacff0f4ec03","name":"cardapio3"},{"parameters":{"assignments":{"assignments":[{"id":"4616a119-9b3f-4dcd-b548-0be8d5f7a3b4","name":"id_empresa","value":"=2","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,336],"id":"85573914-1931-4d03-a9b2-6b3c2b5fb9da","name":"Edit Fields"},{"parameters":{"operation":"executeQuery","query":"   select * from cardapio where id_empresa =\n   {{ $json.id_empresa }}  order by numero , tipo desc ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-352,336],"id":"fcca54b3-2aef-447e-8dff-446d4200a92e","name":"Cardapio","credentials":{"postgres":{"id":"3NLaVyXonSrCcLE3","name":"Postgres account"}}},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[240,336],"id":"88a999c2-176f-483f-b465-41c182a0a1a3","name":"Respond to Webhook"},{"parameters":{"jsCode":" return [\n  {\n    json: {\n      data: $json,  // 👈 o conteúdo real do cardápio\n    },\n    headers: {\n      \"Access-Control-Allow-Origin\": \"*\",\n      \"Access-Control-Allow-Methods\": \"GET, POST, OPTIONS\",\n      \"Access-Control-Allow-Headers\": \"Content-Type, Authorization\",\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-48,112],"id":"7886d766-c951-457e-8bf7-fa94dd4efcab","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"4616a119-9b3f-4dcd-b548-0be8d5f7a3b4","name":"id_empresa","value":"={{ $json.query.id_empresa}}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-720,480],"id":"88e3a6ae-e758-4cfb-af9c-ecce0dac1cab","name":"Edit Fields1"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Cardapio","type":"main","index":0}]]},"Cardapio":{"main":[[{"node":"cardapio3","type":"main","index":0}]]},"cardapio3":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Code":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7c0714a8-d5f4-474b-a550-5cadf540c665","triggerCount":1,"shared":[{"createdAt":"2025-09-07T01:20:05.633Z","updatedAt":"2025-09-07T01:20:05.633Z","role":"workflow:owner","workflowId":"rqstcETNYwHjDrv6","projectId":"wFRMrac2003Pl1x6"}],"tags":[]}