sitefinanceflow-RKp4UbRWTvSLc7vh.json
{"createdAt":"2025-11-15T23:46:05.246Z","updatedAt":"2025-11-18T00:48:09.853Z","id":"RKp4UbRWTvSLc7vh","name":"SiteFinanceFlow","active":true,"isArchived":false,"nodes":[{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-64,-288],"id":"d9ad8547-8ecc-4db7-8acd-b0c4b699cd92","name":"Respond to Webhook1"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[624,-48],"id":"32dc8b19-b24e-4f33-9b95-c3b88fefab7e","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"4616a119-9b3f-4dcd-b548-0be8d5f7a3b4","name":"id_empresa","value":"=1","type":"string"},{"id":"03e9c46a-0444-41d9-97af-93245605fe79","name":"tipo","value":"=despesa","type":"string"},{"id":"a60a91bf-26b8-4a5e-89f3-9b9a88261afe","name":"conta","value":"Santander","type":"string"},{"id":"089dd36c-f804-400a-9ad4-6bdb0e824caf","name":"categoria","value":"compras","type":"string"},{"id":"d1d7d5e0-4756-4001-a87b-b026c482568e","name":"valor","value":"100","type":"string"},{"id":"99d8e470-89a7-4ca9-851d-e660846a6f8f","name":"descricao","value":"100 reais no posto do carlin","type":"string"},{"id":"1785aef6-9777-492f-a1c4-bbf34872bd03","name":"data","value":"2025-11-25","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-512,-48],"id":"3b8f0440-487a-47ef-a8b0-cebbbb5ddb49","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f1dd2b61-d8dc-477c-97e5-0eda8863c8e6","leftValue":"={{ $json.tipo }}","rightValue":"despesa","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-304,-48],"id":"8769bafd-58e4-4f91-a2ca-a1ca8a19236d","name":"If"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[240,-48],"id":"beffa411-dc78-4469-9a4b-4f3339f87331","name":"Merge"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[560,368],"id":"e7d022c5-7cb6-43af-8f1b-4f56629b3049","name":"Respond to Webhook2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f1dd2b61-d8dc-477c-97e5-0eda8863c8e6","leftValue":"={{ $json.tipo }}","rightValue":"pagar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-304,368],"id":"a42e1969-b70a-452a-894d-691a7a4c67f8","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[368,368],"id":"214a9e3c-cf7c-4281-9eda-59dee7355f08","name":"Merge1"},{"parameters":{"path":"listalancamentos","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-752,-288],"id":"13d836d2-94e8-4438-911c-3fbec7b5511e","name":"Lancamento","webhookId":"77c2764f-3d24-48db-aef2-07b64e9ecdeb"},{"parameters":{"path":"novolancamento","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-720,-48],"id":"2b14b5f6-02e4-4a87-8da1-b85cff46a1b9","name":"NovoLancamento","webhookId":"77c2764f-3d24-48db-aef2-07b64e9ecdeb"},{"parameters":{"operation":"executeQuery","query":"  select * from ff_registrar_despesa(\n   {{ $json.id_empresa }} ,\n  '{{ $json.conta }}',\n   '{{ $json.categoria }}',\n    {{ $json.valor }},\n  '{{ $json.descricao }}'\n  ,'{{ $json.data }}' \n   \n)","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-48,-128],"id":"8d2e4607-0fc1-49da-976d-784783a7afc6","name":"registrar_despesa","credentials":{"postgres":{"id":"zC1myfhKaFbD3WiM","name":"FinanceFlow"}}},{"parameters":{"operation":"executeQuery","query":"  select * from ff_registrar_receita(\n  {{ $json.id_empresa }} ,\n  '{{ $json.conta }}',\n   '{{ $json.categoria }}',\n    {{ $json.valor }},\n  '{{ $json.descricao }}'\n  ,'{{ $json.data }}' \n   \n)","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-48,64],"id":"a1b3f791-bb7c-412c-a8a0-866175b8ee0a","name":"registrar_receita","credentials":{"postgres":{"id":"zC1myfhKaFbD3WiM","name":"FinanceFlow"}}},{"parameters":{"operation":"executeQuery","query":"select * from transacoes where empresa_id =  {{ $('Edit Fields').item.json.id_empresa }} and id = {{ $json.ff_registrar_despesa }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[400,-48],"id":"df34d3f5-b471-4ce2-a188-ae24f7a03265","name":"BuscaTransacao","credentials":{"postgres":{"id":"zC1myfhKaFbD3WiM","name":"FinanceFlow"}}},{"parameters":{"assignments":{"assignments":[{"id":"4616a119-9b3f-4dcd-b548-0be8d5f7a3b4","name":"id_empresa","value":"=1","type":"string"},{"id":"03e9c46a-0444-41d9-97af-93245605fe79","name":"tipo","value":"=despesa","type":"string"},{"id":"a60a91bf-26b8-4a5e-89f3-9b9a88261afe","name":"conta","value":"Santander","type":"string"},{"id":"089dd36c-f804-400a-9ad4-6bdb0e824caf","name":"categoria","value":"compras","type":"string"},{"id":"d1d7d5e0-4756-4001-a87b-b026c482568e","name":"valor","value":"100","type":"string"},{"id":"99d8e470-89a7-4ca9-851d-e660846a6f8f","name":"descricao","value":"100 reais no posto do carlin","type":"string"},{"id":"1785aef6-9777-492f-a1c4-bbf34872bd03","name":"data","value":"2025-11-25","type":"string"},{"id":"a706eff1-8257-48c5-9349-ac2dd823e256","name":"parcela","value":"1","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-512,368],"id":"00ddbd88-ba1b-4ca0-aa66-5ddd28511937","name":"EditPagarReceber"},{"parameters":{"operation":"executeQuery","query":" select * from   ff_registrar_conta_pagar(\n   {{ $('EditPagarReceber').item.json.id_empresa }},\n  '{{ $('EditPagarReceber').item.json.descricao }}',\n    {{ $('EditPagarReceber').item.json.valor }},\n  '{{ $('EditPagarReceber').item.json.data }}',\n  '{{ $('EditPagarReceber').item.json.categoria }}', \n   {{ $('EditPagarReceber').item.json.parcela }}\n)\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-80,288],"id":"b82508a5-ead8-481b-94a2-e54c5668f930","name":"registrar_conta_pagar","credentials":{"postgres":{"id":"zC1myfhKaFbD3WiM","name":"FinanceFlow"}}},{"parameters":{"operation":"executeQuery","query":" select * from   ff_registrar_conta_receber(\n  {{ $json.id_empresa }},\n  '{{ $json.descricao }}',\n    {{ $json.valor }},\n  '{{ $json.data }}',\n  '{{ $json.categoria }}',\n   '{{ $json.data }}' \n)\n\n\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-80,480],"id":"29784a39-514d-49f7-91a2-3b70471e14e2","name":"registrar_conta_receber","credentials":{"postgres":{"id":"zC1myfhKaFbD3WiM","name":"FinanceFlow"}}},{"parameters":{"operation":"executeQuery","query":"select * from contas_a_pagar where empresa_id =   {{ $('EditPagarReceber').item.json.id_empresa }} and id ={{ $json.ff_registrar_conta_pagar }}  ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[112,288],"id":"7e5f7068-7f04-4896-871a-888e74593906","name":"conta_a_pagar","credentials":{"postgres":{"id":"zC1myfhKaFbD3WiM","name":"FinanceFlow"}}},{"parameters":{"operation":"executeQuery","query":" select * from contas_a_receber where empresa_id =   {{ $('EditPagarReceber').item.json.id_empresa }} and id = {{ $json.ff_registrar_conta_receber }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[128,480],"id":"c7e21dcc-90eb-4aac-95dd-d459b515bd09","name":"conta_a_receber","credentials":{"postgres":{"id":"zC1myfhKaFbD3WiM","name":"FinanceFlow"}}},{"parameters":{"path":"novopagarreceber","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-720,368],"id":"b0cf6428-d2c7-41b6-b0dc-0304c123d4e6","name":"novopagarreceber","webhookId":"77c2764f-3d24-48db-aef2-07b64e9ecdeb"},{"parameters":{"assignments":{"assignments":[{"id":"4616a119-9b3f-4dcd-b548-0be8d5f7a3b4","name":"id_empresa","value":"={{ $json.query.id_empresa}}","type":"number"},{"id":"4845e432-43eb-497a-9a5b-fdffa48d0ee7","name":"data_ini","value":"={{ $json.query.data_ini}}","type":"string"},{"id":"091771f1-f61a-4ea5-8e1b-cd26a9810971","name":"data_fim","value":"={{ $json.query.data_fim}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,-288],"id":"a92f529c-eb04-414c-bda6-a7931373f203","name":"TransacaoEdit"},{"parameters":{"operation":"executeQuery","query":" SELECT \n  t.id,\n  t.descricao,\n  c.nome AS categoria_nome,\n  f.nome AS conta_nome,\n  t.tipo,\n  t.data_movimento,\n  t.origem,\n  t.valor\nFROM transacoes t\nLEFT JOIN categorias_gerenciais c \n       ON c.id = t.categoria_id \n      AND c.empresa_id = t.empresa_id\nLEFT JOIN contas_financeiras f \n       ON f.id = t.conta_id\n      AND f.empresa_id = t.empresa_id\nWHERE t.empresa_id = {{ $json.id_empresa }}\n  AND t.data_movimento >= '{{ $json.data_ini }}'\n  AND t.data_movimento <= '{{ $json.data_fim }}'\nORDER BY t.data_movimento DESC, t.id asc;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-288,-288],"id":"e0657357-97c5-429d-999b-46d94bca3c9b","name":"Lancamentos","alwaysOutputData":true,"credentials":{"postgres":{"id":"zC1myfhKaFbD3WiM","name":"FinanceFlow"}}},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-80,-560],"id":"0d95f1cd-5feb-4965-a18b-c6b2ef06123a","name":"Respond to Webhook3"},{"parameters":{"assignments":{"assignments":[{"id":"4616a119-9b3f-4dcd-b548-0be8d5f7a3b4","name":"id_empresa","value":"= 1","type":"number"},{"id":"4845e432-43eb-497a-9a5b-fdffa48d0ee7","name":"data_ini","value":"20251101","type":"string"},{"id":"091771f1-f61a-4ea5-8e1b-cd26a9810971","name":"data_fim","value":"20251123","type":"string"},{"id":"24afd85d-d5a2-48b2-be90-942470e0438f","name":"tt","value":"={{ $json.query.id_empresa}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-512,-560],"id":"27a2c2a8-8d46-42c8-8398-a6e47f6d914e","name":"CartãoTransacaoEdit"},{"parameters":{"operation":"executeQuery","query":"   select * from cartoes_transacoes\n     where empresa_id = {{ $json.id_empresa }} \n     and  data_parcela >= '{{ $json.data_ini }}'\n     and  data_parcela <= '{{ $json.data_fim }}' ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-304,-560],"id":"955223cb-9f92-4ebe-be1e-756c03f7e52a","name":"CartãoTransações","alwaysOutputData":true,"credentials":{"postgres":{"id":"zC1myfhKaFbD3WiM","name":"FinanceFlow"}}},{"parameters":{"path":"transcaocartao","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-768,-560],"id":"a06308e6-360a-4e8c-87a3-951a3ae0c50a","name":"TrasacoesCartoes","webhookId":"77c2764f-3d24-48db-aef2-07b64e9ecdeb"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[192,-736],"id":"eeaf7034-d159-432f-9613-fa583cb7cbd1","name":"Respond to Webhook4"},{"parameters":{"assignments":{"assignments":[{"id":"4616a119-9b3f-4dcd-b548-0be8d5f7a3b4","name":"id_empresa","value":"= 1","type":"number"},{"id":"24afd85d-d5a2-48b2-be90-942470e0438f","name":"nomecartao","value":"=Nubank","type":"string"},{"id":"230b6c3d-f5c9-4757-b5af-a3b0958c839d","name":"descricao","value":"Compra no posto do Carlin gasolina aditivada","type":"string"},{"id":"5a635fe2-ab7b-4d45-9dc5-e5f2f4eea1c9","name":"valor","value":150,"type":"number"},{"id":"f30f2fa4-b62e-4b2c-89dd-2af16c86bab4","name":"parcelas","value":1,"type":"number"},{"id":"aa3b2e2e-a468-4dae-9cf8-67e4dcef888e","name":"data_compra","value":"20251116","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,-736],"id":"831d8241-2a65-42a1-9a94-707385db1d99","name":"CartãoTransacaoEdit1"},{"parameters":{"path":"novatransacaocartao","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-752,-736],"id":"4dc65d9a-77b1-444c-aac3-7a39d2db0c56","name":"InseretransacaoCartão","webhookId":"77c2764f-3d24-48db-aef2-07b64e9ecdeb"},{"parameters":{"operation":"executeQuery","query":"   select * from ff_registrar_compra_credito(\n   {{ $json.id_empresa }} ,\n  '{{ $json.nomecartao }}',\n   '{{ $json.descricao }}', \n    {{ $json.valor }},\n   {{ $json.parcelas }} ,\n   '{{ $json.data_compra }}' \n ) \n\n ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-288,-736],"id":"d9e35718-f30a-4e00-bcb1-6c03c98a8aae","name":"InsereTransacaoCartao","alwaysOutputData":true,"credentials":{"postgres":{"id":"zC1myfhKaFbD3WiM","name":"FinanceFlow"}}},{"parameters":{"operation":"executeQuery","query":" select * from cartoes_transacoes\n     where empresa_id = {{ $('CartãoTransacaoEdit1').item.json.id_empresa }}\n     and   id =  {{ $json.ff_registrar_compra_credito }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-80,-736],"id":"cdc8c9c7-7b6a-45da-9746-a638f4ad720e","name":"Execute a SQL query","credentials":{"postgres":{"id":"zC1myfhKaFbD3WiM","name":"FinanceFlow"}}},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-64,-944],"id":"d50f121b-3c04-4368-9717-ff33bc39310d","name":"Respond to Webhook5"},{"parameters":{"operation":"executeQuery","query":"select * from  ff_consultar_saldo_periodo(\n  {{ $json.id_empresa }},\n  '{{ $json.data_ini }}',\n '{{ $json.data_fim }}'\n)","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-288,-944],"id":"55ae7353-c661-4fde-bb2b-5cec82a805d7","name":"CartãoTransações1","alwaysOutputData":true,"credentials":{"postgres":{"id":"zC1myfhKaFbD3WiM","name":"FinanceFlow"}}},{"parameters":{"path":"consultasaldo","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-752,-944],"id":"05138b22-a155-4614-9be1-5f24b85b30b1","name":"consultaSaldo","webhookId":"77c2764f-3d24-48db-aef2-07b64e9ecdeb"},{"parameters":{"assignments":{"assignments":[{"id":"4616a119-9b3f-4dcd-b548-0be8d5f7a3b4","name":"id_empresa","value":"=1","type":"number"},{"id":"373fba2f-5a95-41d7-8881-ed39611774b5","name":"data_ini","value":"={{ $json.query.inicio}}","type":"string"},{"id":"19aafbb0-761d-43c4-980f-49672742fd58","name":"data_fim","value":"={{ $json.query.fim}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,-944],"id":"15ee6b66-8094-4781-9c17-548b72ac4a93","name":"SaldoEdit"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-64,-1168],"id":"bf1376dd-55b7-4331-85a7-481f3c8d3b2a","name":"Respond to Webhook6"},{"parameters":{"operation":"executeQuery","query":"select * from   contas_financeiras where empresa_id = \n  {{ $json.id_empresa }} ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-288,-1168],"id":"f1fc429a-e86f-4350-93d7-4f7fa93614cc","name":"ListaContas","alwaysOutputData":true,"credentials":{"postgres":{"id":"zC1myfhKaFbD3WiM","name":"FinanceFlow"}}},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-48,-1376],"id":"f8da4d06-b956-458f-8b11-427a767b265a","name":"Respond to Webhook7"},{"parameters":{"path":"listacontas","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-752,-1168],"id":"53d34064-2b42-4ade-935f-731ffb6a38af","name":"ListaContas2","webhookId":"77c2764f-3d24-48db-aef2-07b64e9ecdeb"},{"parameters":{"path":"listacategorias","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-736,-1376],"id":"dbbbc45b-bd19-422c-9098-5bc2e940d8b2","name":"ListaCategoria","webhookId":"77c2764f-3d24-48db-aef2-07b64e9ecdeb"},{"parameters":{"operation":"executeQuery","query":"select * from   categorias_gerenciais  where empresa_id = \n  {{ $json.id_empresa }} ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-272,-1376],"id":"a83db008-bae3-4c15-8ccd-040c14d7f858","name":"categorias_gerenciais","alwaysOutputData":true,"credentials":{"postgres":{"id":"zC1myfhKaFbD3WiM","name":"FinanceFlow"}}},{"parameters":{"assignments":{"assignments":[{"id":"4616a119-9b3f-4dcd-b548-0be8d5f7a3b4","name":"id_empresa","value":"={{ $json.query.id_empresa}}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,-1376],"id":"b47d3c7c-ba8c-4ce6-84bd-ace88e1c1efc","name":"categoriaEdit"},{"parameters":{"assignments":{"assignments":[{"id":"4616a119-9b3f-4dcd-b548-0be8d5f7a3b4","name":"id_empresa","value":"={{ $json.query.id_empresa}}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,-1168],"id":"ba772f30-b748-45d9-b8d1-7244aceb735a","name":"ListaEdit"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-64,-1584],"id":"97096c33-f030-4526-9b0f-44cc3f7a4d89","name":"Respond to Webhook8"},{"parameters":{"assignments":{"assignments":[{"id":"4616a119-9b3f-4dcd-b548-0be8d5f7a3b4","name":"id_empresa","value":"={{ $json.query.id_empresa}}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,-1584],"id":"af80f8e6-914b-4aca-906c-393af50b006d","name":"cartoesEdit"},{"parameters":{"operation":"executeQuery","query":"select * from   cartoes  where empresa_id = {{ $json.query.id_empresa}};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-288,-1584],"id":"a6102bca-cbea-49cd-a8af-1a3b610d1a6a","name":"Cartoes","alwaysOutputData":true,"credentials":{"postgres":{"id":"zC1myfhKaFbD3WiM","name":"FinanceFlow"}}},{"parameters":{"path":"cartoes","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-752,-1584],"id":"55c8b58c-eabc-44dc-9a9f-ff8af7f03b77","name":"ListaCartões","webhookId":"77c2764f-3d24-48db-aef2-07b64e9ecdeb"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-96,-1760],"id":"a4a99b28-f5ae-43ac-9278-b35fa4397c0a","name":"Respond to Webhook9"},{"parameters":{"assignments":{"assignments":[{"id":"4616a119-9b3f-4dcd-b548-0be8d5f7a3b4","name":"id_empresa","value":"={{ $json.body.body.empresa_id}}","type":"number"},{"id":"373fba2f-5a95-41d7-8881-ed39611774b5","name":"nome","value":"={{ $json.body.body.nome}}","type":"string"},{"id":"19aafbb0-761d-43c4-980f-49672742fd58","name":"banco","value":"={{ $json.body.body.banco}}","type":"string"},{"id":"a916646f-f4f1-40ea-9da4-7850cbcb06ff","name":"nro_banco","value":"={{ $json.body.body.nro_banco}}","type":"string"},{"id":"aa28cde5-d733-4af3-bd3b-ff764742760b","name":" agencia","value":"={{ $json.body.body.agencia}}","type":"string"},{"id":"b63c260a-d832-4644-84cd-ee94df4ccec7","name":"conta","value":"={{ $json.body.body.conta}}","type":"string"},{"id":"bb6b3121-a463-48b0-94ee-46ffafccbcc1","name":"conjunta","value":"={{ $json.body.body.conjunta}}","type":"string"},{"id":"f5d0b333-c217-450f-9173-7de4ae0dd30f","name":" juridica","value":"={{ $json.body.body.juridica}}","type":"string"},{"id":"a11ed980-2c89-461d-8601-ddad5c3ecfca","name":" padrao","value":"={{ $json.body.body.padrao}}","type":"string"},{"id":"e3e822e3-c0ee-4753-b8d3-0db50bd74a5a","name":"tipo","value":"={{ $json.body.body.tipo}}","type":"string"},{"id":"bba3955d-1794-41c2-b7bd-988fced0b3fb","name":"saldo_inicial","value":"={{ $json.body.body.saldo_inicial}}","type":"string"},{"id":"6f11c960-89ba-41b5-8ba5-80d0bafbf6b9","name":"agencia","value":"={{ $json.body.body.agencia}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,-1760],"id":"b3518efe-f597-46ab-87ca-555cb290c510","name":"SaldoEdit1"},{"parameters":{"httpMethod":"POST","path":"novacontafinanceira","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-752,-1760],"id":"ec6c0095-3c50-40ee-b3c0-1fc11cbccfda","name":"ContaFinanceira","webhookId":"77c2764f-3d24-48db-aef2-07b64e9ecdeb"},{"parameters":{"tableId":"contas_financeiras","fieldsUi":{"fieldValues":[{"fieldId":"empresa_id","fieldValue":"={{ $json.id_empresa}} "},{"fieldId":"nome","fieldValue":"={{ $json.nome}}"},{"fieldId":"banco","fieldValue":"={{ $json.banco}}"},{"fieldId":"tipo","fieldValue":"={{ $json.tipo}}"},{"fieldId":"saldo_inicial","fieldValue":"={{ $json.saldo_inicial}}"},{"fieldId":"nro_banco","fieldValue":"={{ $json.nro_banco}}"},{"fieldId":"agencia","fieldValue":"={{ $json.agencia}}"},{"fieldId":"conta","fieldValue":"={{ $json.conta}}"},{"fieldId":"conjunta","fieldValue":"={{ $json.conjunta}}"},{"fieldId":"juridica","fieldValue":"={{ $json[' juridica'] }}"},{"fieldId":"padrao","fieldValue":"={{ $json[' padrao'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-288,-1760],"id":"1d83714e-47ae-4606-ab33-946f1fa4c4ee","name":"CriaConta","credentials":{"supabaseApi":{"id":"XG8fSQrjyd9kzaOx","name":"FinanceFlow"}}},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-96,-1952],"id":"50e9076b-924a-4eb6-8806-a4d8a3f701c8","name":"Respond to Webhook10"},{"parameters":{"assignments":{"assignments":[{"id":"4616a119-9b3f-4dcd-b548-0be8d5f7a3b4","name":"id_empresa","value":"={{ $json.body.body.empresa_id}}","type":"number"},{"id":"373fba2f-5a95-41d7-8881-ed39611774b5","name":"nome","value":"={{ $json.body.body.nome}}","type":"string"},{"id":"19aafbb0-761d-43c4-980f-49672742fd58","name":"banco","value":"={{ $json.body.body.banco}}","type":"string"},{"id":"a916646f-f4f1-40ea-9da4-7850cbcb06ff","name":"nro_banco","value":"={{ $json.body.body.nro_banco}}","type":"string"},{"id":"aa28cde5-d733-4af3-bd3b-ff764742760b","name":" agencia","value":"={{ $json.body.body.agencia}}","type":"string"},{"id":"b63c260a-d832-4644-84cd-ee94df4ccec7","name":"conta","value":"={{ $json.body.body.conta}}","type":"string"},{"id":"bb6b3121-a463-48b0-94ee-46ffafccbcc1","name":"conjunta","value":"={{ $json.body.body.conjunta}}","type":"string"},{"id":"f5d0b333-c217-450f-9173-7de4ae0dd30f","name":" juridica","value":"={{ $json.body.body.juridica}}","type":"string"},{"id":"a11ed980-2c89-461d-8601-ddad5c3ecfca","name":" padrao","value":"={{ $json.body.body.padrao}}","type":"string"},{"id":"e3e822e3-c0ee-4753-b8d3-0db50bd74a5a","name":"tipo","value":"={{ $json.body.body.tipo}}","type":"string"},{"id":"bba3955d-1794-41c2-b7bd-988fced0b3fb","name":"saldo_inicial","value":"={{ $json.body.body.saldo_inicial}}","type":"string"},{"id":"6f11c960-89ba-41b5-8ba5-80d0bafbf6b9","name":"agencia","value":"={{ $json.body.body.agencia}}","type":"string"},{"id":"df442724-bf40-472c-8dec-7478bc410e58","name":"id","value":"={{ $json.body.body.id}}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,-1952],"id":"4e95eec4-a0c6-4724-8281-ff82736a1381","name":"SaldoEdit2"},{"parameters":{"httpMethod":"POST","path":"updatecontafinanceira","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-736,-1952],"id":"a30938d9-4b38-4274-935f-66b0fa132b3b","name":"UpdateContaFinanceira","webhookId":"77c2764f-3d24-48db-aef2-07b64e9ecdeb"},{"parameters":{"operation":"update","tableId":"contas_financeiras","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id}} "}]},"fieldsUi":{"fieldValues":[{"fieldId":"empresa_id","fieldValue":"={{ $json.id_empresa}} "},{"fieldId":"nome","fieldValue":"={{ $json.nome}}"},{"fieldId":"banco","fieldValue":"={{ $json.banco}}"},{"fieldId":"tipo","fieldValue":"={{ $json.tipo}}"},{"fieldId":"saldo_inicial","fieldValue":"={{ $json.saldo_inicial}}"},{"fieldId":"nro_banco","fieldValue":"={{ $json.nro_banco}}"},{"fieldId":"agencia","fieldValue":"={{ $json.agencia}}"},{"fieldId":"conta","fieldValue":"={{ $json.conta}}"},{"fieldId":"conjunta","fieldValue":"={{ $json.conjunta}}"},{"fieldId":"juridica","fieldValue":"={{ $json[' juridica'] }}"},{"fieldId":"padrao","fieldValue":"={{ $json[' padrao'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-288,-1952],"id":"6b6a2ac2-82e1-4b44-a0ea-7d2787b4a68b","name":"UpdateConta","credentials":{"supabaseApi":{"id":"XG8fSQrjyd9kzaOx","name":"FinanceFlow"}}},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-112,-2128],"id":"6b0cfdaa-4a33-4492-8ba6-4686a400bbe6","name":"Respond to Webhook11"},{"parameters":{"assignments":{"assignments":[{"id":"4616a119-9b3f-4dcd-b548-0be8d5f7a3b4","name":"id_empresa","value":"={{ $json.body.body.empresa_id}}","type":"number"},{"id":"df442724-bf40-472c-8dec-7478bc410e58","name":"id","value":"={{ $json.body.body.id}}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-512,-2128],"id":"3d0c0f91-f440-4351-af38-c087a82f499e","name":"SaldoEdit3"},{"parameters":{"path":"retrieveontafinanceira","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-768,-2128],"id":"c9445e17-0679-4e3c-beb5-55851841c16b","name":"UpdateContaFinanceira1","webhookId":"77c2764f-3d24-48db-aef2-07b64e9ecdeb"},{"parameters":{"operation":"executeQuery","query":"select * from contas_financeiras whre empres_id = {{ $json.id_empresa }} and id = {{ $json.id }};\n\n ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-288,-2128],"id":"d4542377-101a-43ba-9b42-deeb602f44b5","name":"Execute a SQL query1","credentials":{"postgres":{"id":"zC1myfhKaFbD3WiM","name":"FinanceFlow"}}}],"connections":{"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"registrar_despesa","type":"main","index":0}],[{"node":"registrar_receita","type":"main","index":0}]]},"Merge":{"main":[[{"node":"BuscaTransacao","type":"main","index":0}]]},"If1":{"main":[[{"node":"registrar_conta_pagar","type":"main","index":0}],[{"node":"registrar_conta_receber","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Lancamento":{"main":[[{"node":"TransacaoEdit","type":"main","index":0}]]},"NovoLancamento":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"registrar_despesa":{"main":[[{"node":"Merge","type":"main","index":0}]]},"registrar_receita":{"main":[[{"node":"Merge","type":"main","index":1}]]},"BuscaTransacao":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"EditPagarReceber":{"main":[[{"node":"If1","type":"main","index":0}]]},"registrar_conta_pagar":{"main":[[{"node":"conta_a_pagar","type":"main","index":0}]]},"registrar_conta_receber":{"main":[[{"node":"conta_a_receber","type":"main","index":0}]]},"conta_a_pagar":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"conta_a_receber":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"novopagarreceber":{"main":[[{"node":"EditPagarReceber","type":"main","index":0}]]},"TransacaoEdit":{"main":[[{"node":"Lancamentos","type":"main","index":0}]]},"Lancamentos":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"CartãoTransacaoEdit":{"main":[[{"node":"CartãoTransações","type":"main","index":0}]]},"CartãoTransações":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"TrasacoesCartoes":{"main":[[{"node":"CartãoTransacaoEdit","type":"main","index":0}]]},"CartãoTransacaoEdit1":{"main":[[{"node":"InsereTransacaoCartao","type":"main","index":0}]]},"InseretransacaoCartão":{"main":[[{"node":"CartãoTransacaoEdit1","type":"main","index":0}]]},"InsereTransacaoCartao":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}]]},"CartãoTransações1":{"main":[[{"node":"Respond to Webhook5","type":"main","index":0}]]},"consultaSaldo":{"main":[[{"node":"SaldoEdit","type":"main","index":0}]]},"SaldoEdit":{"main":[[{"node":"CartãoTransações1","type":"main","index":0}]]},"ListaContas":{"main":[[{"node":"Respond to Webhook6","type":"main","index":0}]]},"ListaContas2":{"main":[[{"node":"ListaEdit","type":"main","index":0}]]},"ListaCategoria":{"main":[[{"node":"categoriaEdit","type":"main","index":0}]]},"categorias_gerenciais":{"main":[[{"node":"Respond to Webhook7","type":"main","index":0}]]},"categoriaEdit":{"main":[[{"node":"categorias_gerenciais","type":"main","index":0}]]},"ListaEdit":{"main":[[{"node":"ListaContas","type":"main","index":0}]]},"cartoesEdit":{"main":[[{"node":"Cartoes","type":"main","index":0}]]},"Cartoes":{"main":[[{"node":"Respond to Webhook8","type":"main","index":0}]]},"ListaCartões":{"main":[[{"node":"cartoesEdit","type":"main","index":0}]]},"SaldoEdit1":{"main":[[{"node":"CriaConta","type":"main","index":0}]]},"ContaFinanceira":{"main":[[{"node":"SaldoEdit1","type":"main","index":0}]]},"CriaConta":{"main":[[{"node":"Respond to Webhook9","type":"main","index":0}]]},"SaldoEdit2":{"main":[[{"node":"UpdateConta","type":"main","index":0}]]},"UpdateContaFinanceira":{"main":[[{"node":"SaldoEdit2","type":"main","index":0}]]},"UpdateConta":{"main":[[{"node":"Respond to Webhook10","type":"main","index":0}]]},"SaldoEdit3":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]},"UpdateContaFinanceira1":{"main":[[{"node":"SaldoEdit3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6b856e7f-b8b9-46aa-963b-38f9580cccd4","triggerCount":12,"shared":[{"createdAt":"2025-11-15T23:46:05.246Z","updatedAt":"2025-11-15T23:46:05.246Z","role":"workflow:owner","workflowId":"RKp4UbRWTvSLc7vh","projectId":"wFRMrac2003Pl1x6"}],"tags":[]}